<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title><%= I18n.t('txt.admin.slas.title') %></title>
  <%= stylesheet_link_tag 'settings/slas' %>
  <%= csrf_meta_tag %>
<body>
  <%= javascript_include_tag 'settings/slas' %>
  <script>
    (function() {
      var I18n = require('lib/i18n');

      I18n.translations = <%= translations(:cldr_includes => [:date_time, :unit]).to_json.html_safe %>;

      var app = this.app = require('index');

      app.init();
    }());
  </script>
