<p>This topic was posted to the restricted {{agent_only_forum}} in your help desk and pinned to the home page. The topic is visible to help desk agents only, not your customers. Edit it to your liking - you typically want to pin announcements and other news related topics.</p>
<p>The home page is the landing page for both agents and customers. It can be customized by help desk administrators to e.g. include a search box, enabling users to easily find help in the forums.</p>