#sign_up{
  form{
    margin-top: 30px;
  }
  table{
    td{
      padding-bottom: 20px;
      vertical-align: top;
    }
    .label{
      width: 250px;
      text-align: right;
      label{
        font-weight: bold;
        padding-right: 20px;
      }
    }
    #password_requirements{
      margin-top: 20px;
    }
  }
  #recaptcha_data{
    float: left;
  }
  div.action-login {
    margin: 0 0 0 250px;
    clear: both;
  }
}

#password_requirements{
  li{
    list-style-type: none;
    padding-left: 25px;
    background: url(/classic/images/sprites/password_setting_icons.png) 3px 1px no-repeat;
    &.valid{
      background-position: 3px -29px;
    }
    &.invalid{
      background-position: 3px -63px;
    }
  }
}
