<!DOCTYPE html>
<html>
  <head>
    <title><%= current_account.name %></title>
    <%= stylesheet_link_tag 'email' %>
  </head>
  <body>
    <br />
    <div id="email_not_found" style="text-align: center;">
      <%= I18n.t("audit_emails.not_found", :support_link => link_to("support@zendesk.com", "mailto:support@zendesk.com")) %>
    </div>
  </body>
</html>
