<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'email' %>
    <%= javascript_include_tag 'email' %>
  </head>
  <body>
    <div id="mail_header">
      <div class="field">
        <label><%= I18n.t("audit_emails.show.from") %>:</label>
        <div class="value"><%= raw_email.message.from.to_s %></div>
      </div>

      <% if current_account.has_email_reply_to_vulnerability_surface_reply_to_address? &&
          (raw_email.message.reply_to&.address != raw_email.message.from&.address) %>
        <div class="field">
          <label><%= I18n.t("audit_emails.show.reply_to") %>:</label>
          <div class="value"><%= raw_email.message.reply_to.to_s %></div>
        </div>
      <% end %>

      <div class="field">
        <label><%= I18n.t("audit_emails.show.to") %>:</label>
        <div class="value"><%= raw_email.message.to.map(&:to_s).join(', ') %></div>
      </div>

      <% if raw_email.message.cc.present? %>
        <div class="field">
          <label><%= I18n.t("audit_emails.show.cc") %>:</label>
          <div class="value"><%= raw_email.message.cc.map(&:to_s).join(', ') %></div>
        </div>
      <% end %>

      <div class="field">
        <label><%= I18n.t("audit_emails.show.subject") %>:</label>
        <div class="value"><%= raw_email.message.subject || '&nbsp;' %></div>
      </div>

      <% if raw_email.message.attachments.any? %>
        <div class="field">
          <label><%= I18n.t("audit_emails.show.attachments") %>:</label>
          <div class="value">
            <%= raw_email.message.attachments.map(&:file_name).join(', ') %>
          </div>
        </div>
      <% end %>
    </div>

    <div id="mail_bodies">
      <%= zd_tabs do %>
        <% if raw_email.html.present? %>
          <%= zd_tab(I18n.t("audit_emails.show.html_title")) do %>
            <p class="html"><%= raw raw_email.sanitized_html %></p>
          <% end %>
        <% end %>

        <% if raw_email.text.present? %>
          <%= zd_tab(I18n.t("audit_emails.show.text")) do %>
            <p class="text"><%= raw_email.text %></p>
          <% end %>
        <% end %>

        <% if raw_email.eml %>
          <%= zd_tab(I18n.t("audit_emails.show.source"), id: 'source') do %>
            <div id="download_source">
              <a href="email.eml?ticket_id=<%= @audit.ticket.nice_id %>"><%= I18n.t("audit_emails.show.download_source") %></a>
            </div>
            <p class="eml">...</p>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= javascript_tag do -%>
      $("#source").one("tab.show", function(){
        var tab = $(this);
        $.get('email.eml', { ticket_id: <%= @audit.ticket.nice_id %> }, function(data) {
          tab.find('p.eml').text(data);
        });
      });
    <% end -%>

  </body>
</html>
