ul#ticket-thread-list {
  list-style: none;
  padding: 0;
}

ul#ticket-thread-list span.author{
  font-weight: bold;
  padding-right: 1px;
}

span#show-ticket-properties {
  float:right;
  padding-right: 5px;
}

#ticket-form-home {
  display:none;
}

ul#ticket-thread-list li.ticket-thread {
  display: list-item;
  border-bottom: 1px solid #EBEBEB;
  margin: 0;
  padding: 4px 0 10px;
}

div.ticket-thread-description {
  height: auto !important;
  padding-left: 60px;
  padding-right: 5px;
  position: relative;
}

div.ticket-thread-description div.ticket-thread-avatar {
  left: 0px;
  position: absolute;
  text-align: center;
  top: 0px;
}

div.ticket-thread-description div.ticket-thread-avatar img {
  width: 48px;
}

div.ticket-thread-description p.description-body {
  word-wrap: break-word;
  margin-bottom: 2px;
}

div.ticket-thread-description p.description-attributes {
  color: #999;
  margin-top: 0;
}

ul.ticket-thread-comments {
  list-style: none;
  padding: 0 0 0 58px;
}

ul.ticket-thread-comments li {
  display: list-item;
  background-color: #F2F2F2;
  border-left: 2px solid #EEE;
  border-bottom: 1px solid #EEE;
  margin: 0px 0px 2px;
  padding: 7px;
}

li.ticket-thread-comment span.feed-actions {
  visibility: hidden;
}

li.ticket-thread-comment:hover span.feed-actions {
  visibility: visible;
}

li.ticket-thread-comment.public {
  border-left: 2px solid #0B0;
}

li.ticket-thread-comment.agent, ul.ticket-thread-comments li.ticket-thread-reply {
  background-color: #f4f5fa;
}

ul#ticket-thread-list span.link {
  font-weight: normal;
}

li.ticket-thread-comment div.ticket-thread-comment-avatar {
  position: absolute;
  text-align: center;
}

li.ticket-thread-comment div.ticket-thread-comment-avatar img {
  width: 32px;
}

li.ticket-thread-comment p {
  word-wrap: break-word;
}

li.ticket-thread-comment div.ticket-thread-comment-body {
  padding-left: 42px;
  margin: 0;
}

li.ticket-thread-comment p.comment-attributes {
  margin-top: 2px;
  padding-top: 0;
  margin-bottom: 0;
  color: #999;
}

.ticket-thread-reply .select {
  display: inline;
  margin: 0px 13px 0px 0px;
}

.ticket-thread-reply .select label {
  font-weight: bold;
  color: #555;
  margin-right: 5px;
  white-space: nowrap;
}

.ticket-thread-reply .ticket-status {
  margin-top: 3px;
  display: inline;
  float: left;
}

.ticket-thread-reply .action {
  margin-top: 3px;
  padding-right: 10px;
}

.feed-ticket-comment {
  color: #444;
}

div.fake-text-area {
  height: 20px;
  line-height: 20px;
  background-color: #FFF;
  border: 1px solid #CCC;
  color: #AAA;
  cursor: text;
  text-align: left;
}

div.feed-ticket-properties {
  padding: 5px 0;
}