<header>
  {{{header}}}
</header>
{{#comment}}
<div class="comment section">
  <h4>{{commentHeader}}</h4>
  <p>{{comment}}</p>
</div>
{{/comment}}
<div class='footer'>
  {{#comment}}
  <a href="#/satisfaction/comment/hide" class='hide_comment'>{{hideComment}}</a>
  <a href="#/satisfaction/comment/show" class='show_comment'>{{showComment}}</a>
  {{/comment}}
  {{#canModify}}
    <% if current_account.has_csr_token_retention? %>
      <a href="#/satisfaction/new">{{modifyRating}}</a>
    <% else %>
      <% if Zendesk::UserPortalState.new(current_account).show_anonymous_modify_csat_link? %>
        {{#isAnonymous}}
          <a href="/login">{{anonymousModifyRating}}</a>
        {{/isAnonymous}}
      <% end %>
      {{^isAnonymous}}
        <a href="#/satisfaction/new">{{modifyRating}}</a>
      {{/isAnonymous}}
    <% end %>
  {{/canModify}}
</div>
<div class='clearfix'>&nbsp;</div>
