<% @token = token rescue nil %>
<% @latest_satisfaction_rating ||= ticket.latest_satisfaction_rating(current_user) %>
<% @latest_satisfaction_rating  = @latest_satisfaction_rating.merge!(:updated_score => updated_score) if (local_assigns[:updated_score].present? && current_account.has_csr_token_retention?) %>

<div id='satisfaction_rating' class='content content_yellow' data-csr-token-retention="<%= current_account.has_csr_token_retention?%>">
  <script type='application/json' id='current_rating_data'><%= @latest_satisfaction_rating.to_json %></script>
  <script type='text/html' id='current_rating_template'><%= render :partial => '/satisfaction_ratings/current_satisfaction.html.mustache' %></script>

  <div id='current_rating' data-intention="<%= params[:intention] %>">
  </div>

  <% if @latest_satisfaction_rating['can_modify?'] %>
    <%= form_for :ticket, :url => satisfaction_rating_form_url(ticket, @token) do |satisfaction_form| %>
      <fieldset>
        <%= satisfaction_form.hidden_field :satisfaction_score %>
        <%= t('txt.satisfaction.prompt.rate') %>
        <%= link_to t('txt.satisfaction.score.good'), "#/satisfaction/new/good", :class => 'rating good' %>
        <%= link_to t('txt.satisfaction.score.poor'), "#/satisfaction/new/poor", :class => 'rating poor' %>
      </fieldset>

      <% if current_account.has_csat_reason_code_enabled? %>
        <fieldset id="satisfaction_reason_code">
          <%= t('txt.satisfaction.prompt.reason') %>
          <div>
            <%= satisfaction_form.select :satisfaction_reason_code, Satisfaction::Reason.shuffled_options_for(current_account.default_brand, ticket) %>
          </div>
        </fieldset>
      <% end %>

      <fieldset id='satisfaction_form_body'>
        <%= satisfaction_form.label :satisfaction_comment, t('txt.satisfaction.prompt.comment') %>
        <%= satisfaction_form.text_area :satisfaction_comment %>
        <div class='footer'>
          <%= link_to t('txt.satisfaction.cancel'), '#/satisfaction/cancel', :id => 'satisfaction_form_cancel' %>
          <%= submit_tag t('txt.users.edit.update'), :class => 'button'%>
        </div>
      </fieldset>
    <% end %>
  <% end %>
</div>
