<div class="content content_grey">
  <div class="grey_box_top">
    <div class="box box-top"></div>
  </div>
  <h2><%= I18n.t("txt.views.satisfaction_rating.bad_this_week", :count => @count) %></h2>
  <%= render :partial => "shared/tickets_table",
          :locals => { :tickets => @tickets, :options => { :output => @output, :sorting_allowed => false, :enable_bulk => false, :disable_paging => true } } %>
  <div class="grey_box_bottom">
    <div class="box box-bottom"></div>
  </div>
</div>
