<% if @ratings.size == 100 %>
;(function(window) {
  settings = {
    strings: {
      goodRatings:      "<%= I18n.t('txt.admin.views.settings.customers._satisfaction.Said_good') %>",
      badRatings:       "<%= I18n.t('txt.admin.views.settings.customers._satisfaction.Werent_so_sure') %>",
      score:            "<%= I18n.t('txt.admin.views.settings.customers._satisfaction.Overall_happiness') %>",
      zendeskPlug:      '<%= I18n.t("txt.admin.views.settings.customers._satisfaction.Powered_by_zendesk") %>'
    },
    element: null,
    ratings: {
      good:             <%= @ratings.sum %>,
      bad:              <%= 100 - @ratings.sum %>
    }
  }

  function configure(options) {
    var prop;
    for (prop in options) {
      if (options.hasOwnProperty(prop)) {
        settings[prop] = options[prop];
      }
    }
  }

  function render() {

    var markup =  '\
        <div class="zd_satisfaction">\
          <div class="zd_satisfaction_good">\
            <p class="zd_rating_number">' + settings.ratings.good + '</p>\
            <p class="zd_rating_string">' + settings.strings.goodRatings + '</p>\
          </div>\
          <div class="zd_satisfaction_bad">\
            <p class="zd_rating_number">' + settings.ratings.bad + '</p>\
            <p class="zd_rating_string">' + settings.strings.badRatings + '</p>\
          </div>\
          <div class="zd_satisfaction_score">\
            <p class="zd_rating_number">' + settings.ratings.good + '%</p>\
            <p class="zd_rating_string">' + settings.strings.score + '</p>\
          </div>\
        </div>\
        <div class="zd_plug">' + settings.strings.zendeskPlug + '</div>\
      ';

    if (settings.element != null && document.getElementById(settings.element)) {
        document.getElementById(settings.element).innerHTML = markup;
    } else if (settings.element == null) {
        document.write(markup);
    } else {
        return;
    }
  }

  var Satisfaction = {
    show: function(options) {
      configure(options);
      render();
    }
  }

  window.Satisfaction = Satisfaction;

}(this.window || this));
<% else %>
// There must be at least 100 ratings in order to present the distribution
<% end %>
