<%
description_visible = !current_account.has_csat_description_configure_visibility? || !current_account.settings.csat_hide_description
ticket_title = description_visible ? @ticket.title : ""
@page_title = I18n.t( 'txt.satisfaction_rating.new.header', :ticket_id => @ticket.nice_id, :ticket_title => ticket_title)
%>

<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.requests.assigned_to.title')) do %>
    <%= render_assignee(@ticket) %>
  <% end %>
<% end %>

<%= render :partial => '/satisfaction_ratings/rating_box', :locals => { :ticket => @ticket, :token => @token, :updated_score => params[:intention].presence } %>

<%
  # TODO: DRY up duplication with app/views/requests/portal/show.html.erb
%>
<%= div_content do %>
  <h2>
    <%=  I18n.t('txt.requests.title') + " ##{@ticket.nice_id}" %>
    <%= sub_header_for_end_user(@ticket) %>
  </h2>

  <div class="frame">
    <div class="entry nobottom">
      <% if !@ticket.subject.blank? &&
            current_account.field_subject.is_visible_in_portal? &&
            description_visible
      %>
        <h3 class="entry-title"><%= h(@ticket.subject) %></h3>
      <% end %>

      <% if @ticket.submitted_by_requester? %>
        <img src="<%= photo_path(@ticket.requester, :version => :thumb) %>" class="entry_user"alt="ticket requester"/>
        <div class="entry-container">
          <p class="entry_user">
            <strong style="color:#444;"><%= link_to_user_profile(@ticket.requester) %></strong><br/>
            <%= format_date(@ticket.created_at, with_time: true) %>
          </p>
        </div>
      <% else %>
        <p style="color:#666;"><%= format_date(@ticket.created_at, with_time: true) %></p>
      <% end %>

      <% if description_visible %>
        <div class="header_section">
          <%= h(@ticket.public_description).present %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
