<%
description_visible = !current_account.has_csat_description_configure_visibility? || !current_account.settings.csat_hide_description
ticket_title = description_visible ? @ticket.title : ""
@page_title = I18n.t( 'txt.satisfaction_rating.new.header', :ticket_id => @ticket.nice_id, :ticket_title => ticket_title )
%>

<div class="alert hidden" role="alert">
  <div class="icon"></div>
  <div class="message">
    <%= flash[:notice] %>
  </div>
</div>

<div class="container">
  <header id="ticket-details" class="clearfix">
    <h1 class="ticket-title">
      <% if description_visible %>
      <%= @ticket.subject %>
      <% end %>
      <bdo dir="ltr">(#<%= @ticket.nice_id %>)</bdo>
    </h1>
    <% if @ticket.assignee.present? %>
      <span class="assignee">
        <img src="<%= photo_path(@ticket.assignee) %>"
             class="assignee-avatar <%= 'rtl' if right_to_left? %>" alt="assigned agent" referrerpolicy="no-referrer" />
        <span class="assignee-meta">
          <div class="assignee-name"><strong><%= @ticket.assignee.safe_name(false) %></strong></div>
          <div class="assignee-title"><%= t('txt.satisfaction.assigned_agent') %></div>
        </span>
      </span>
    <% end %>
  </header>

  <section id="rating-form" class="section">
    <%= form_for :ticket, :url => satisfaction_rating_form_url(@ticket, @token) do |satisfaction_form| %>
      <input name="token" type="hidden" value="<%= @token.value %>">
      <%= satisfaction_form.hidden_field :satisfaction_score, :value => @latest_satisfaction_rating[:score] %>

      <%= satisfaction_form.label :satisfaction_rating, t('txt.satisfaction.prompt.rate') %>

      <div id="satisfaction-rating-buttons">
        <input id="satisfaction_rating_good" name="satisfaction_rating" type="radio" value="good">
        <label for="satisfaction_rating_good">
          <button type="button" class="btn rating good">
            <span class="icon"></span>
            <span class="long">
              <%= t('txt.satisfaction.score.good') %>
            </span>
            <span class="short">
              <%= t('txt.satisfaction.score.short.good') %>
            </span>
          </button>
        </label>
        <input id="satisfaction_rating_poor" name="satisfaction_rating" type="radio" value="poor">
        <label for="satisfaction_rating_poor">
          <button type="button" class="btn rating poor">
            <span class="icon"></span>
            <span class="long">
              <%= t('txt.satisfaction.score.poor') %>
            </span>
            <span class="short">
              <%= t('txt.satisfaction.score.short.poor') %>
            </span>
          </button>
        </label>
      </div>

      <div style="display: none;">
      <% if current_account.has_csat_reason_code_enabled? %>
        <%= satisfaction_form.label :satisfaction_reason_code, t('txt.satisfaction.prompt.reason') %>
        <%= satisfaction_form.select :satisfaction_reason_code, Satisfaction::Reason.shuffled_options_for(current_account.default_brand, @ticket), { disabled: disabled_reason_options(@ticket) } %>
      <% end %>
      </div>

      <%= satisfaction_form.label :satisfaction_comment, t('txt.satisfaction.prompt.comment') %>
      <%= satisfaction_form.text_area :satisfaction_comment, rows: 6, disabled: true %>

      <div id="rating-form-actions">
        <%= button_tag t('txt.users.edit.update'), class: 'btn btn-primary submit', disabled: true %>
      </div>
    <% end %>
  </section>

  <footer id="ticket-summary" class="section">
  <% if @ticket.submitted_by_requester? %>
    <div class="requester-meta">
      <img src="<%= photo_path(@ticket.requester) %>" class="requester-avatar" alt="ticket requester" referrerpolicy="no-referrer" />
      <div class="requester-name"><strong><%= @ticket.requester.safe_name(false) %></strong></div>
      <div class="timestamp requester-comment-date"><%= format_date(@ticket.created_at, with_time: true) %></div>
    </div>
      <% if description_visible %>
        <div class="requester-comment"><%= h(@ticket.public_description).present %></div>
      <% end %>
  <% else %>
    <div class="timestamp"><%= format_date(@ticket.created_at, with_time: true) %></div>
    <% if description_visible %>
      <div class="description"><%= h(@ticket.public_description).present %></div>
    <% end %>
  <% end %>
  </footer>
</div>

<script type="text/javascript">
  var I18n = {
    strings: {
      success: '<%= t('txt.satisfaction.intention_created_message') %>',
      error: '<%= I18n.t('txt.satisfaction.save_error') %>'
    }
  }
</script>
