<%= div_content do %>
  <p>
    <%= I18n.t('txt.satisfaction.ticket_already_rated') %>
  </p>

  <p>
    <%= I18n.t('txt.satisfaction.sign_in_to_update_ratings', :sign_in_link => link_to(I18n.t('txt.satisfaction.sign_in_to_rate_requests_link'), login_path) )  %>
  </p>
<% end %>
