.category-top-right {
  float: right;
  color: #484a36;

  .edit_this {
    cursor:default;
    color:green;
  }
}

.columns {
  .category {
    margin-bottom: 10px;
    clear:both;
    min-height:50px;
  }

  .category-name {
    width: 90%
  }

  h2 {
    font-size: 25px;
    display:inline;

    a {
      color: #111;
      text-decoration: none;
    }
  }

  .column {
    float: left;
    margin-right: 4px;
  }
}


/* BEGIN Edit categories (agents) */
.content {
  .frame.columns {
    padding-top:0;

    &.reordering {
      .sortablelist {
        display: block;
      }
    &.reordering
      .category,
      .category-header {
        display: none;
      }
    }

    .sortablelist {
      display: none;
    }
  }

  .category-header {
    position: relative;

    &.reordering {
      .category-top-right {
        visibility: hidden;
      }
    }

    #category-description {
      padding: 10px;
    }

    .category-top-right {
      background: none repeat scroll 0 50% white;
      border: 2px solid #666;
      color: #1A6690;
      font-weight: bold;
      right: 3px;
      top: 15px;
      text-align: right;
      padding-top: 10px;
      position:absolute;
      width: 235px;
      z-index: 5;

      &.inactive {
        border-color: transparent;
        background-color: transparent;
        width: auto;
      }

      .edit_this {
        background: url("/classic/images/composite.gif") no-repeat scroll 0 -318px transparent;
        padding-left: 12px;
        margin-right: 10px;
      }

      .edit_options {
        list-style-type: none;
        padding: 5px 10px;
        text-align: left;

        &.inactive {
          display: none;
        }

        li {
          border-top: 1px #E5E5E5 solid;
          color: #1A6690;
          cursor: pointer;
          margin: 0;
          padding: 3px 6px;
          font-weight: normal;

          &:first-child {
            border-top: none;
          }

          &:hover {
            background-color:#F5F5F5;
          }

          &.drop-header {
            color:#444;
            font-weight :bold;
            padding-top: 12px;

            &:hover {
              background-color:#FFF;
            }
          }

          a {
            display: block;
            &:hover,
            &:focus {
              color: #1A6690;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .category {
    &.reordering {
      .reorder {
        display: block;
      }
    }

    .reorder {
      clear: left;
      display: none;
      text-align: right;

      a {
        color: #666;
        font-size: 11px;
        padding: 2px 7px 3px 7px;
      }
    }
  }
}
