// Most styles are shared...
div#default-dashboard, div#csr-dashboard, div#mini-dashboard {

  margin: 12px 0 0 -5px;

  h2 { margin: 0 0 5px 0; font-size: 22px; }
  h3 { margin: 0 0 0 0;   font-size: 13px; }
  h3 span { color: #B2B2B2; font-weight: normal; }
  ul { padding: 0 0 0 15px; }

  a {
    text-decoration: none;
    float: left;
  }

  div.picture { 
    float: left; 
    img { border: 1px solid #BBB; }
    margin: 0 20px 0 0; 
  }

  div.current-user { float: left; }
  p.upload-link { 
    margin: 0;
    color: inherit;
    text-align: center;
    font-size: 11px;
    text-decoration: underline;
  }
  div.content-top-right { margin: 0 12px 0 0; }

  span.dashboard-stats {
    float: left;
    background-color: #E9E9E9;
    text-align: center;

    // Large stats boxes
    &.large {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      padding: 10px;
      width: 100px;
      margin: 0 0 0 10px;
      font-weight: normal;

      span {
        display: block;
        font-size: 12px;
        &.count { font-size: 35px; }
        &.you { font-weight: bold; }
      }
    }

    // Small stats boxes
    &.small {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      padding: 6px;
      min-width: 40px;
      margin: 6px 6px 0 0;

      span {
        display: block;
        font-size: 11px;
        font-weight: normal;
        &.count {
          font-size: 16px;
          font-weight: bold;
        }
        &.you {
          display: block;
          color: #999;
          font-weight: bold;
          white-space: nowrap;
        }
      }
    }
  }

  // Grouping of stats boxes, for profiles with CSR enabled.
  div.stats-group { margin: 0 30px 0 0; float: left; }

}
