div.deflect { float:left; margin: 5px 42px 0 4px; padding: 1px 0 0 38px; }
div.deflect.questions { background: url(/classic/images/types/question.png) no-repeat; }
div.deflect.ideas { background: url(/classic/images/types/idea.png) no-repeat; }
div.deflect.tickets { background: url(/classic/images/types/ticket.png) no-repeat; }
div.deflect ul { padding: 1px 0 0 17px; }
/*div.deflect ul li { font-weight: bold; }*/
div.deflect h3 { font-weight: normal; }

body.home-index div.add-button {display:none;}

div#show_more_results {
  margin: 10px 0 20px 0;
  height: 25px;
}

div#topic_search_for_home div.frame {
  padding-bottom: 15px;
}

div#topic_search_result h2 {margin-bottom: 12px;}
div#topic_search_result h2.empty_suggestion_set { font-size: 18px; }

body.home-index #content_entries .edit_this,
body.home-index #content_entries #category_header_none,
body.home-index div.empty_category,
body.home-index .buttons-right {display:none;}

body.home-index .pagination {margin: 0 auto; height: auto;}

div#pinned-entries-frame { padding-bottom: 16px; margin-top: 5px ;}
#pinned-entries-frame .entry {float: none; padding: 5px 10px 7px 10px; margin:0;}
#pinned-entries-frame .entry p.sub {float: none;}
