@import "../../mixins.css.scss";
.pinned_entries_container {
  @include rounded-corners(5px);
  border: 2px solid #ccc; background-color: #eee;
  padding: 8px;

  &:first-child { margin-top: 5px; }
  & + .pinned_entries_container { margin-top: 10px; }

  p + ul, p + ol {
    margin-top: 8px;
  }

  ul, ol {
    list-style-type: none;
    min-height: 10px;
    padding: 0;
  }
}
