<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <title>
      <%= current_account.name if current_account %>
    </title>
    <style type="text/css">
      body {
        background: #F6F6F6;
        font-family: system-ui,-apple-system,BlinkMacSystemFont,Arial,sans-serif;
        font-size: 15px;
        color: #434343;
        margin: 0;
      }

      .nav_bar {
        height: 50px;
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        background: #FFFFFF;
        padding-left: 120px;
        line-height: 50px;
      }

      .nav_bar a {
        text-decoration: none;
        color: #434343;
      }

      .nav_bar a svg {
        margin-right: 3px;
      }

      .survey_intro {
        width: 760px;
        margin: 110px 30px 40px 115px;
      }

      .survey_intro h3 {
        font-size: 29px;
        font-weight: 300;
        margin-bottom: 23px;
      }

      .survey_intro p {
        line-height: 20px;
      }

      .sv_main {
        width: 700px;
        background: #ffffff;
        margin: 30px 115px 20px;
        padding: 25px 30px 30px 30px;
        border: 1px solid #EAEAEA;
        border-radius: 3px;
        box-shadow: 0px 0px 10px #EAEAEA;
      }

      .sv_progress {
        background: #F6F6F6;
        height: 6px;
        border-radius: 3px;
        width: 100%!important;
      }
      .sv_progress > div {
        height: 6px;
        background: #2A9BAD;
        border-radius: 3px;
      }
      .sv_progress > div > span {
        display: none;
      }

      .sv_row {
        margin-top: 18px;
      }

      .sv_q_title {
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .sv_q_checkbox {
        margin-top: 25px;
        display: block;
        line-height: 20px;
        width: 662px!important;
      }

      .sv_q_checkbox span {
        margin-left: 5px;
      }

      .sv_qcbx .checkbox-material {
        margin: 0;
      }

      .sv_q_radiogroup {
        margin-top: 25px;
        display: block;
        margin-left: 38px;
        line-height: 20px;
        width: 662px!important;
      }

      .sv_q_radiogroup input[type=radio] {
        margin-right: 20px;
      }

      .sv_q_radiogroup > label {
        display: flex;
      }

      .sv_q_other input {
        margin-top: 10px;
        margin-left: 37px;
        width: 300px;
        height: 35px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding-left: 20px;
      }

      .sv_q_erbox {
        margin-left: 37px;
        font-size: 13px;
        font-weight: 500;
        color: #2A9BAD;
      }

      .sv_nav {
        margin-top: 30px;
        text-align: right;
      }

      .sv_nav input[type=button]:last-child {
        margin-right: 0px!important;
        background: #2A9BAD;
        color: #FFFFFF;
      }

      a.button:active,
      a.button:hover,
      a.button:link,
      a.button:visited {
        color: inhert;
        text-decoration: none;
      }

      a.button,
      .sv_nav input[type=button] {
        box-sizing: border-box;
        display: inline-block;
        min-width: 120px;
        padding: 10px 20px;
        height: 40px;
        border: 1px solid #2A9BAD;
        border-radius: 4px;
        background: #FFFFFF;
        color: #2A9BAD;
        font-size: 15px;
        font-weight: 300;
        margin-right: 20px!important;
      }

      a.button.blue {
        background: #2A9BAD;
        color: #FFFFFF;
      }

      .message_container {
        display: table;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .message_content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }

      .redemption-cta {
        text-align: center;
      }

      .training-offer em {
        font-style: inherit;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <%= javascript_include_tag "vendor/jquery-1.6.1.min.js" %>
    <%= include_generated_javascripts %>
    <%= javascript_include_tag "zendesk_survey_support_churn" %>
  </body>
</html>
