
<% @page_title = "Salesforce target" %>

<%= render :partial => 'sidebar' %>

<%= div_content do %>
<div id="salesforce_oauth">
  <h2><%= I18n.t('txt.admin.views.targets.authorize.auth_salesforce_target.Connect_to_your_Salesforce_organization') %></h2>
  <p>
    <%= I18n.t('txt.admin.views.targets.authorize.auth_salesforce_target.You_must_have_the_Zendesk')%>
  </p>
  <input type="button" class="button submit-icon positive" value="<%= I18n.t('txt.admin.views.targets.authorize.auth_salesforce_target.connect_to_salesforce') %>" onclick="window.top.location.href='<%= authorize_url %>';">

</div>
<% end %>
