
<% @page_title = "Edit twitter target" %>

<%= render :partial => 'sidebar' %>

<style type="text/css" media="screen">
  div#twitter_oauth {
    margin: 20px 0 0;
    padding: 0 15px 0 0;
  }

  #auth_submit {
    float: right;
  }

  html[data-rtl-language='true'] #auth_submit {
    float: left;
  }
</style>

<%= div_content do %>
  <div id="twitter_oauth">
    <h2><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.You_need_to_authorize_your') %></h2>
    <p><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.Zendesk_needs_access_to_your') %></p>
    <p><strong><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.This_Target_will_not_operate')%></strong> <span id="span_oauth_findoutmore"><a href="anchor_oauth_findoutmore" id="" onclick="javascript:document.getElementById('oauth_explain').style.display = ''; document.getElementById('span_oauth_findoutmore').style.display = 'none'; return false;"><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.Find_out_more_about_oAuth')%></a></span></p>

    <div id="oauth_explain" style=" display: none;">
      <h3><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.What_is_OAuth') %></h3>
      <ul>
        <li><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.OAuth_lets_us_post_to') %></li>
        <li><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.you_can_read_more_about_oauth')%> <%= link_to("http://oauth.net", "http://oauth.net") %>.</li>
      </ul>

      <h3><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.How_does_it_work') %></h3>
      <ul>
        <li><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.We_ask_Twitter_if_we') %></li>
        <li><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.You_land_on_a_page') %></li>
        <li><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.Twitter_asks_you_if_you') %></li>
        <li><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.You_never_give_us_your') %></li>
      </ul>

      <h3><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.Why_should_I_use_OAuth') %></h3>
      <ul>
        <li><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.you_can_change_your_twitter_password')%></li>
        <li><%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.You_never_give_your_Twitter') %></li>
      </ul>

      <br />
    </div>

    <div id="auth_submit">
      <%- unless @target.new_record? -%>
        <%= link_to(I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.Delete_this_Target'), { :action => "destroy"},
          { :data => { :confirm => I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.are_you_sure'), :method => "delete" }, :class => "admin" }) %>
        &nbsp;
      <%- end -%>
      <input type="button" class="button submit-icon positive" value="<%= I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.authorize_zendesk_now') %>" onclick="window.top.location.href='<%= authorize_url %>';">
    </div>

    <div style="clear:both;"></div>
  </div>
<% end %>
