<% @page_title = "Yammer target" %>

<%= render :partial => 'sidebar' %>

<%= div_content do %>
  <div id="yammer_oauth">
    <h2><%= I18n.t('txt.admin.views.targets.authorize.auth_yammer_target.yammer_target') %></h2>
    <p>
      <%= I18n.t('txt.admin.views.targets.authorize.auth_yammer_target.You_must_have_the_Zendesk')%>
    </p>
    <a href="<%= authorize_url %>" target="_parent">
      <input type="button" class="button submit-icon positive" value="<%= I18n.t('txt.admin.views.targets.authorize.auth_yammer_target.connect_to_yammer_v2') %>">
    </a>
  </div>
<% end %>
