<div class="<%= (rule == last_rule) ? 'item nobottom' : 'item' -%>">
  <div class="item-info title ">
    <%= h(dc_renderer.render(rule.title)) %>
    <%= content_tag(:span, I18n.t('txt.admin.views.rules.analysis.show.label_singular_' + rule.type.to_s.downcase), :class => 'property rule-type') %>
    <%= rule_label(rule) %>

    <p class="info">
      <%= render_matches(params[:id], params[:key], rule.definition, @key_title) %>
    </p>
  </div>

  <%= render(:partial => "rules/rule_actions", :locals => {:rule => rule}) %>
</div>
