<% content_for :sidebar do %>
  <%= div_side_box do %>
    <p>
      <%= I18n.t('txt.admin.views.rules.analysis.index.property_analysis_text') %>
    </p>
    <p>
      <%= I18n.t('txt.admin.views.rules.analysis.index.bolded_tags_text') %>
    </p>
    <p>
      <%= I18n.t('txt.admin.views.rules.analysis.index.click_to_see_rules') %>
    </p>
  <% end %>
<% end %>

<%= div_content do %>
  <h2><%= @page_title %></h2>
  <div class="frame column">
    <%= render_item_with_keys('group_id') %>
    <%= render_item_with_keys('assignee_id') %>
    <%= render_item_with_keys('organization_id') %>
    <%= render_item_with_keys('via_id') %>
    <%= render_item_with_keys('recipient') %>
    <%= render_item_with_keys('macro_id') %>
    <%= render_item_with_keys('notification_user') %>
    <%= render_item_with_keys('notification_group') %>
    <%= render_item_with_keys('notification_target') %>

    <%= render_item('tag') %>
    <div class="tagcloud">
      <%= sort_keys(@rule_stats.tag).collect { |key, stat| render_key('tag', key, key, stat.rules.size.to_i, @taggers.member?(key)) }.join.html_safe %>
    </div>

    <!-- if @tag_items_without_conditions.any? -->
    <% if false %>
      <h3><%= I18n.t('txt.admin.views.rules.analysis.index.tags_actions_but_no_conditions') %></h3>
      <div class="tagcloud">
      <%= sort_keys(@tag_items_without_conditions).collect { |key, stat| render_key('tag', key, key, stat.rules.size.to_i, @taggers.member?(key)) }.join.html_safe %>
      </div>
    <% end %>
  </div>
<% end %>
