<% if @tagger %>
  <% content_for :sidebar do %>
    <%= div_side_box(@page_title) do %>
      <h3><%= @item_title %></h3>
      <p><%= I18n.t('txt.admin.views.rules.analysis.show.tag_use_by_field', :name_of_tag => "<strong>#{ link_to params[:key], tag_path(params[:key], :for => :ticket)}</strong>", :name_of_field => "<strong>#{link_to @tagger.title, edit_ticket_field_path(@tagger) }</strong>")%>
      </p>
      <!-- TODO Add reports usage for tags as well -->
    <% end %>
  <% end %>
<% end %>

<%= div_content do %>
  <h2>
    <a href="/rules/analysis"><%= I18n.t('txt.admin.views.rules.analysis.show.rule_analysis') %></a><span class="delim">/</span><%= I18n.t('txt.admin.helpers.rules_analysis.title_rule_analysis_' + params[:id]) %>
    <% if @key_title.present? %>
      <span class='line'><%= @key_title %></span>
    <% end %>
  </h2>

  <div class="tabbed_container item-border-top" mode="static">

    <div id="rules_analysis_tab_links" class="tab_links clearfix">
      <%= link_to(I18n.t('txt.admin.views.rules.analysis.show.all_rules_label'), nil, :class => (params[:select].blank? ? 'current' : ''), :"data-key" => params[:key]) %>
      <%= link_to(I18n.t('txt.admin.views.rules.analysis.show.triggers_label'), nil, :class => (params[:select] == 'triggers' ? 'current' : ''), :"data-select" => "triggers", :"data-key" => params[:key]) %>
      <%= link_to(I18n.t('txt.admin.views.rules.analysis.show.automations_label'), nil, :class => (params[:select] == 'automations' ? 'current' : ''), :"data-select" => "automations", :"data-key" => params[:key]) %>
      <%= link_to(I18n.t('txt.admin.views.rules.analysis.show.macros_label'), nil, :class => (params[:select] == 'macros' ? 'current' : ''), :"data-select" => "macros", :"data-key" => params[:key]) %>
      <%= link_to(I18n.t('txt.admin.views.rules.analysis.show.views_label'), nil, :class => (params[:select] == 'views' ? 'current' : ''), :"data-select" => "views", :"data-key" => params[:key]) %>
    </div>

    <div class="tabs_content" style="padding-bottom: 0;">
      <div class="item noborder">
        <div class="tab-top-left">
          <% options = options_for_select([[I18n.t('txt.admin.views.rules.analysis.show.show_active_label'), "active"],[I18n.t('txt.admin.views.rules.analysis.show.show_inactive_label'), "inactive"]], :selected => params[:filter]) %>
          <%= content_tag(:select, options, :id => 'analysis-filter', :"data-select" => params[:select], :"data-key" => params[:key]) %>
        </div>
      </div>
    </div>

    <% if @condition_rules.any? %>
      <div class="tabs_content hover-actions">
        <h4><%= I18n.t('txt.admin.views.rules.analysis.show.conditions_label') %></h4>
        <%= render_rules(@condition_rules) %>
      </div>
    <% end  %>

    <% if @action_rules.any? %>
      <div class="tabs_content hover-actions">
        <h4><%= I18n.t('txt.admin.views.rules.analysis.show.actions_label') %></h4>
        <%= render_rules(@action_rules) %>
      </div>
    <% end %>

    <% if @condition_rules.blank? && @action_rules.blank? %>
      <div class="tabs_content hover-actions">
        <p><%= I18n.t("txt.admin.views.rules.analysis.show.no_action_or_conditions_#{@rule_type.downcase}_#{params[:filter]}") %></p>
      </div>
    <% end %>
  </div>
<% end %>
<%= js_init -%>
<script type="text/javascript">
  jQuery(".item-actions a").click(function(e) {
    e.preventDefault();
    window.top.location.href = jQuery(this).attr("href");
  });
</script>
