.agent-profile {
  ul { padding: 0 0 0 15px; }
  h3 {
    color: #555;
    margin: 15px 0 0 0;
    font-size: 13px;
  }
  li.span, h3.span { color: #B2B2B2; font-weight: normal; }
}

.profile_left h3, .profile_right h3 {
 color: #555;
 margin: 0;
 font-size: 13px;
 }

h4 + dl.user_properties {
  margin-top: 1em;
}

dl.user_properties {

  $dt-width: 9.5em;
  $gutter: 0.5em;

  dt, dd {
    display: block;
    margin: 0;
  }

  dd + dt { clear: left; }

  dt {
    float: left;
    font-weight: bold;
    width: $dt-width;
  }

  dd {
    font-weight: normal;
    margin-left: $dt-width + $gutter;
    margin-bottom: 5px;
  }

}

input[type="text"]#user_voice_number {
  width:220px;
}

input[type="text"]#user_voice_extension {
  width:120px;
}

#test_call_button {
  float: left;
  &[disabled] {
    text-shadow: 0 0;
    &:hover {
      background-position: 0 0;
      color: #999;
    }
    &:active {
      -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    }
  }
}

#test_forwarding {
  margin-bottom: 10px;
  .test_call_error {
    color: red;
    padding-top: 0;
  }
}

#test_call_status {
  padding: 5px;
  padding-left: 120px;
}


#status_spinner {
  margin: 9px;
  float: left;
  margin-left: 23px;
}
