form.edit_group {
  p {
    label {
      cursor: pointer;
    }
  }
}

.default-group-tag {
  background: green;
  border-color: #CCC;
  border: 1px solid #EEE;
  border-radius: 3px;
  color: #FFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  font-feature-settings: "kern";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  padding: 1px 4px 2px 4px;
  position: relative;
  text-align: left;
  top: -1px;
  opacity: 0.5;
}

.two_column .form_element .form_field p {
  &.make_default_check_box {
    margin: 0 0 20px;
  }

  span.info {
    background: none;
    padding: 0px;
    border: none;
    color: #666;
    font-size: 12px;
  }
}

.group_description {
  padding-left: 18px;
  margin-bottom: 20px;
}

.agent_info {
  > p {
    display: inline-block;
  }
  > span {
    color: #68737D;
    &:before {
      content: " • ";
    }
    &:first-of-type {
      &:before {
        display: none;
      }
    }
  }
}
