table#qrcode {
  float: right;
  margin-left: 10px;
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;

  td {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 3px;
    height: 3px;
  }

  td.black { background-color: #000; }
  td.white { background-color: #fff; }
}

#two-factor-auth-configure h2 {
  margin: 0 0 25px 0;
  font-size: 16px;
  text-align: center;
}

#two-factor-auth-configure h3 {
  margin-bottom: 25px;
}

#two-factor-auth-configure .minimum-qrcode-height {
  min-height: 147px;
}

#two-factor-phone-form {
  margin-bottom: 25px;
}

#two-factor-auth-configure .button {
  margin-left: 10px;
}

#two-factor-confirm-input {
  width: 150px;
}

#two-factor-remove-form {
  display: inline;
  margin-left: 25px;
}

.two-factor-auth-status {
  font-weight: bold;
}
