
.item.search-result-user {
  .user_actions {
    float: right;

    /* TODO: Remove .user-index and other view-specific selectors,
    once RTL enabled for all Classic views. */
    .users-index & {
      html[data-rtl-language='true'] & {
        float: left;
      }
    }

    .user_action {
      border-right: 1px solid #cbc;
      padding: 0 7px;

      /* TODO: Remove .user-index and other view-specific selectors,
      once RTL enabled for all Classic views. */
      .users-index & {
        html[data-rtl-language='true'] & {
          border-left: 1px solid #cbc;
          border-right: none;
        }
      }
    }

    .user_action:last-child {
      border: 0;
      padding-right: 0;

      /* TODO: Remove .user-index and other view-specific selectors,
      once RTL enabled for all Classic views. */
      .users-index & {
        html[data-rtl-language='true'] & {
          border: 0;
          padding-left: 0;
          padding-right: 7px;
        }
      }
    }

    .user_action.assume {
      display: none;
    }

  }
}

.item.search-result-user:hover {
  .user_actions {
    .user_action.assume {
      display: inline;
    }
  }
}
