body {
  color: #555555;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  min-width: 1020px;
}

a {
  color: #3376A4;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  color: #777;
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #DADADA;
  border-radius: 2px;
  box-shadow: inset 0 2px #F6F6F6;
  display: inline-block;
  margin: 0;
  padding: 10px;
  height: 35px;
  width: 200px;
}

input[type=submit] {
  margin: 0;
  background: #444;
  border: none;
  border-bottom: 3px solid #222;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #FFF;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  padding: 0 25px;
  &:active {
    box-shadow: inset 0 3px 5px #222;
    border: 0;
  }
}

@font-face {
  font-family: 'entypo';
  src:url('/fonts/entypo/entypo.eot');
  src:url('/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
    url('/fonts/entypo/entypo.woff') format('woff'),
    url('/fonts/entypo/entypo.ttf') format('truetype'),
    url('/fonts/entypo/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
