.dropdown {
  position: relative;
}

.dropdown_toggle {
  cursor: pointer;
}

.dropdown_open > .dropdown_panel {
  display: block;
}

.dropdown_panel {
  background: #FFF;
  border: 1px solid #d1d1d1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,.15);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
  -o-box-shadow: 0 1px 5px rgba(0,0,0,.15);
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
  display: none;
  right: 0;
  list-style: none;
  margin-top: 10px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}

.dropdown_menu {
  margin: 5px 0 0 0;
  a {
    display: block;
    line-height: 25px;
    padding: 0 20px;
    white-space: nowrap;
    &:hover {
      background: #F5F5F5;
      text-decoration: none;
    }
  }
}
