.box_form {
  border-bottom-color: #C5C5C5;
  box-shadow: 0 1px 0 #EEE;
  padding-left: 125px;
  padding-right: 125px;
  width: 670px;
  p {
    margin-bottom: 30px;
    text-align: center;
  }
  label {
    font-weight: bold;
    position: relative;
    width: 130px;
    super {
      position: absolute;
      right: -10px;
      top: 0;
    }
  }
  input[type=text], input[type=password] {
    margin: 0 0 12px 20px;
    &:last-child { margin-bottom: 0; }
  }
}

html[dir=rtl] .box_form {
  input[type=text], input[type=password] {
    margin: 0 20px 12px 0px;
  }

  label {
    super {
      left: -10px;
    }
  }
}

.fieldset, .controls {
  width: 355px;
  text-align: right;
}

html[dir=rtl] .fieldset, html[dir=rtl] .controls {
  text-align: left;
}

.controls {
  margin-top: 25px;
  text-align: right;
  input[type=submit] {
    margin-left: 25px;
  }
}

html[dir=rtl] .controls {
  text-align: left;
  input[type=submit] {
    margin-left: 0px;
    margin-right: 25px;
  }
  a {
    float: right;
  }
}
