.header {
  border-bottom: 1px solid #eeeeee;
  max-height: 70px;
}

.header_inner {
  margin: 0 auto;
  width: 986px;
}

.logo {
  a {
    display: inline-block;
    line-height: 70px;
  }

  img {
    border: none;
    max-height: 30px;
    vertical-align: middle;
  }
}
