.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.far {
  margin-top: 15px;
}

.title {
  font-size: 25px;
  font-weight: normal;
  margin: 40px 0 25px;
  text-align: center;
}

.clear {
  clear: both;
}

.box {
  background: #FCFCFC;
  border: 1px solid #ECECEC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
}

.box-error-center {
  text-align: center;
  p {
    font-size: 16px;
  }
}
