.layout_wrap {
  margin-bottom: 150px;
  text-align: center;
}

.layout_inner {
  display: inline-block;
  position: relative;
  text-align: left;
}

html[dir=rtl] .layout_inner {
  text-align: right;
}

.layout_inner * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
