.notification {
  border: 1px solid;
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  padding: 13px 15px;
  transition: height .2s;
}

.notification-inner {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

.notification-icon, .notification-text, .notification-dismiss {
  display: table-cell;
  vertical-align: middle;
}

.notification-text {
  padding: 0 15px;
  width: 100%;
}

.notification + .notification {
  margin-bottom: -1px;
  position: relative;
  top: -1px;
}

.notification-error {
  background: #ffeded;
  border-color: #f7cbcb;
}

.notification-error .notification-icon:before {
  border-color: #f7cbcb;
  content: "!";
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.notification-notice {
  background: #dbf3ff;
  border-color: #b5e0f5;
}

.notification-notice .notification-icon:before {
  border-color: #b5e0f5;
  content: "\2713";
}

.notification-icon:before {
  border: 1px solid;
  border-radius: 50%;
  font-family: "entypo";
}

.notification-dismiss {
  cursor: pointer;
}

.notification-dismiss:before {
  content: "\2715";
  font-family: sans-serif;
  font-size: 16px;
  opacity: 0.6;
}

.notification-dismiss:hover:before {
  opacity: 1;
}

.notification-icon:before, .notification-dismiss:before {
  display: inline-block;
  line-height: 20px;
  text-align: center;
  width: 20px;
}
