.password_requirements {
  display: inline-block;
  font-size: 12px;
  text-align: left;
  min-width: 200px;
  strong {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
  }
  li {
    &:before {
      color: rgb(191,191,191);
      content: "\23F4";
      display: inline-block;
      font-family: "entypo";
      font-size: 15px;
      margin-right: 5px;
      vertical-align: middle;
    }
    &.valid:before {
      content: "\2713";
      color: #78A300;
    }
    &.invalid:before {
      content: "\274C";
      color: #bf3026;
    }
  }
}

.change_password {
  min-width: 200px;
}

html[dir=rtl] .password_requirements {
  text-align: right;
}
