#recaptcha_widget {
  clear: both;
  margin-top: 10px;
}

#recaptcha_image {
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #F5F5F5 !important;
  height: auto !important;
  margin: 10px 0;
  min-height: 85px;
  padding: 10px 0;
  text-align: center;
  width: 100% !important;
  img {
    display: inline-block !important;
  }
}

#recaptcha_data {
  ul {
    list-style: none;
    padding: 0;
    text-align: right;
  }
  li {
    display: inline-block;
    margin-left: 15px;
  }
  a {
    color: #848484;
    font-size: 11px;
  }

  // Brute force "recaptcha/fetch"
  // used in the "create password" page

  + div {
    float: none !important;
    li {
      display: inline-block !important;
      margin-left: 15px !important;
    }
    a {
      color: #848484;
      font-size: 11px;
    }
    ~ p {
      color: inherit;
      display: inline-block;
      font-weight: bold;
      margin: 10px 0 10px 0 !important;
    }
    ~ input {
      width: 200px !important;
    }
  }
}
