.interface.inner, .sign_up {
  background: #FCFCFC;
  border: 1px solid #ECECEC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
}

.interface.inner {
  margin-bottom: 15px;
  padding: 40px;
  min-width: 455px;
  position: relative;
  text-align: center;
}

.sign_up {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.get_password {
  margin-bottom: 5px;
}

.services {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 270px;
}

html[dir=rtl] .services {
  text-align: right;
}

.external {
  margin-top: -25px;
  margin-right: 80px;
  vertical-align: top !important;
}

html[dir=rtl] .external {
  margin-right: 0px;
  margin-left: 80px;
}

.internal {
  input[type="email"], input[type="text"], input[type="password"] {
    border-radius: 5px;
    box-shadow: none;
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
  }
  input[type="submit"], .cancel {
    float: right;
  }
  .cancel {
    font-size: 12px;
    margin: 8px 30px 0;
  }
}

html[dir=rtl] .internal {
  input[type="submit"], .cancel {
    float: left;
  }
}

.remember {
  line-height: 1;
  margin-bottom: 20px;
}

.separator {
  background: inherit;
  display: inline-block;
  color: #D1D1D1;
  height: 158px;
  left: 50%;
  line-height: 158px;
  margin-left: -35px;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 70px;
  &:before, &:after {
    border-left: 1px solid #ECECEC;
    content: "";
    height: 50px;
    left: 50%;
    position: absolute;
  }
  &:before { top: 0; }
  &:after { bottom: 0; }
}

.assistance {
  margin-top: 40px;
}

.roles, .forgot_password {
  display: inline-block;
}

.role {
  margin-right: 40px;
}

.secure-disclaimer {
  color: #ccc;
  font-size: 11px;
  margin-right: 100px;
}

html[dir=rtl] .role {
  margin-right: 0px;
  margin-left: 40px;
}

.footnotes {
  display: inline-block;
  position: absolute;
  width: 100%;
}
