.service {
  border-style: solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  color: #FFF;
  cursor: pointer;
  display: block;
  height: 36px;
  line-height: 35px;
  margin-top: 25px;
  &:hover {
    text-decoration: none;
  }
  span {
    border-right: 1px solid;
    border-right-color: inherit;
    bottom: -1px;
    display: inline-block;
    font-family: "entypo";
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    margin-right: 7px;
    padding: 0 10px;
    position: relative;
    speak: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
  }
}

html[dir=rtl] .service {
  span {
    border-right: 0px;
    border-left: 1px solid;
    border-left-color: inherit;
    margin-right: 0px;
    margin-left: 7px;
    padding: 0 10px 0 10px;
  }
}

.twitter {
  background: #00ACED;
  border-color: #239CCF;
  box-shadow: inset 0 1px #69C4EA;
  &:hover { background: lighten(#00ACED, 5%); }
  &:active { background: darken(#00ACED, 1%); }
  span { font-family: 'entypo'; }
}

.facebook {
  background: #3B5998;
  border-color: #314B80;
  box-shadow: inset 0 1px #768CB6;
  &:hover { background: lighten(#3B5998, 5%) }
  &:active { background: darken(#3B5998, 1%); }
}

.google {
  background: #BE3C2B;
  border-color: #A73425;
  box-shadow: inset 0 1px #D2776B;
  &:hover { background: lighten(#BE3C2B, 5%) }
  &:active { background: darken(#BE3C2B, 1%); }
}
