---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: classic-<%= role %>
  namespace: classic
  labels:
    project: classic
    role: <%= role %>
    team: support
    product: support
    role_group: app-server-hpa
    cell: cell0
  annotations:
    samson/keep_name: 'true'
    samson/set_via_env_json: |
      spec.minReplicas: <%= role.tr('-', '_').upcase %>_MIN_REPLICAS
      spec.maxReplicas: <%= role.tr('-', '_').upcase %>_MAX_REPLICAS
      spec.metrics.0.resource.target.averageUtilization: HPA_TARGET_CPU
      spec.metrics.1.external.metric.selector.matchLabels.kube_cluster: HPA_METRICS_KUBE_CLUSTER
      spec.metrics.1.external.metric.selector.matchLabels.pod_namespace: HPA_METRICS_KUBE_NAMESPACE
      spec.metrics.1.external.target.value: HPA_TARGET_ACTIVE_UNICORNS
spec:
  minReplicas: <%= role.tr('-', '_').upcase %>_MIN_REPLICAS
  maxReplicas: <%= role.tr('-', '_').upcase %>_MAX_REPLICAS
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: classic-<%= target %>
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: HPA_TARGET_CPU
  - type: External
    external:
      metric:
        name: <%= raingutter_namespace %>.active.max
        selector:
          matchLabels:
            kube_cluster: HPA_METRICS_KUBE_CLUSTER
            pod_namespace: HPA_METRICS_KUBE_NAMESPACE
            project: classic
            cell: cell0
      target:
        type: Value
        value: HPA_TARGET_ACTIVE_UNICORNS
