<% content_for :script_onload_at_end do %>
  <% if @user %>
    currentUser.id = <%= @user.id %>;
    Zendesk.Instrumentation.track('Verify', 'Email');
  <% end %>
<% end %>

<%= secure_form_for(:user, :url => { :action => 'details', :token => @token.value }, :return_to => {:controller => '/home'}, :html => {:id => "password-form"}) do |f| %>
  <h2><%= I18n.t('txt.verification.details.title') %></h2>

  <% if @confirm_name %>
    <p><%= I18n.t('txt.verification.details.message') %></p>
    <h3><%= I18n.t('txt.verification.details.name') %></h3>
    <%= f.text_field :name, :class => 'text wide' %>
  <% end %>

  <h3><%= I18n.t('txt.verification.details.password') %></h3>

  <p><%= I18n.t('txt.verification.details.password_msg_v2', :account_name => current_account.name, :account_url => current_account.url) %></p>
  <div class='new_password'>
    <%= f.password_field :password, :class => 'text wide validate_password', :autocomplete => 'off' %>
  </div>

  <p><%= render :partial => 'shared/password_requirements' %></p>

  <% if current_account.has_verification_captcha_enabled? %>
  <br/>
  <p>
    <strong><%= I18n.t('txt.requests.new.captcha') %> <super>*</super></strong>
    <%= render :partial => 'recaptcha/fetch' %>
  </p>
  <% end %>

  <div class="action-login">
    <%= submit_tag I18n.t('txt.verification.ticket.submit'), :id => 'submit-verification', :class => 'button primary' %>
  </div>
<% end %>
