.raw_http {
  display: none;
}

.open_raw_request, .open_raw_response {
  background: url("/classic/images/external_link_icon.png") no-repeat right;
  padding-right: 15px;
}

#properties .warning {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #fffab8;
  background: #fffde1 url("/classic/images/warning_icon.png") 15px 15px no-repeat;
  padding: 15px 15px 15px 45px;
  color: #333;
  line-height: 16px;
  margin-bottom: 10px;
}

#test_message_textarea {
  height: 350px;
}

.targets {
  #colorbox {
    #test_message_textarea {
      display: none;
    }

    input[type=submit] {
      float: right;

      html[data-rtl-language='true'] & {
        float: left;
      }
    }

    label {
      font-size: 16px;
    }

    #test_message_container, .resizable {
      margin-top: 10px;
    }
  }
}

.transaction-part-tabs {
  width: 100%;
  display: inline-block;

  .tab {
    display: none;

    &.active {
      display: block;
    }

    &#request {
      .headers {
        -moz-border-radius: 0px 3px 0px 0px;
        -webkit-border-radius: 0px 3px 0px 0px;
        border-radius: 0px 3px 0px 0px;
      }
    }

    &#response {
      .headers {
        -moz-border-radius: 3px 3px 0px 0px;
        -webkit-border-radius: 3px 3px 0px 0px;
        border-radius: 3px 3px 0px 0px;
      }
    }

    pre {
      margin-bottom: 0px;
    }

    .body {
      border-width: 0px 1px 1px 1px;
      -moz-border-radius: 0px 0px 3px 3px;
      -webkit-border-radius: 0px 0px 3px 3px;
      border-radius: 0px 0px 3px 3px;
    }

    .tab-content {
      background: #fff;
    }
  }

  .tab-links {
    margin: 0px;

    li {
      float: left;
      list-style: none;
    }

    a {
      padding: 9px 15px;
      display: inline-block;
      border-radius: 3px 3px 0px 0px;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      transition: all linear 0.15s;

      &:hover {
        background: #F8F8F8;
      }
    }

    .active a {
      background: #F8F8F8;
      border: solid #CCC;
      border-width: 1px 1px 0px 1px;
      color: #4c4c4c;
    }

    &:after {
      display: block;
      clear: both;
      content: '';
    }
  }
}

.parameter {
  .parameter-value, .parameter-key {
    width: 45%;
  }

  .parameter-value {
    margin-left: 10px;

    html[data-rtl-language='true'] & {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  .remove-parameter {
    margin-left: 10px;
    text-decoration: none;

    html[data-rtl-language='true'] & {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  margin-bottom: 10px;
}

[type=password] {
  &::-webkit-input-placeholder {
    color: #333;
  }

  &:-moz-placeholder {
    /* FF 4-18 */
    color: #333;
    opacity: 1; // firefox sets opacity
  }

  &::-moz-placeholder {
    /* FF 19+ */
    color: #333;
    opacity: 1; // firefox sets opacity
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #333;
  }
}

#sub_setting_basic_auth {
  display: none;

  &.enabled {
    display: block;
  }
}
