
<p><%= t 'txt.views.devices.mailer.new_device_notification.body_1', {
  :name => h(@user.name)
} %></p>

<p><%= t 'txt.views.devices.mailer.new_device_notification.body_2', {
  :date => @device.created_at.to_format,
  :time => @device.created_at.to_format(:format => :time, :time_format => @user.time_format_string)
} %></p>

<ul>
  <li><%= t 'txt.views.devices.mailer.new_device_notification.location_label' %> <%= @device.location %></li>

  <% if @account.has_rtl_lang_html_attr? && @locale.rtl? %>
    <li>&#8235;<%= t 'txt.views.devices.mailer.new_device_notification.ip_label' %>&#8236; <%= @device.ip %></li>
  <% else %>
    <li><%= t 'txt.views.devices.mailer.new_device_notification.ip_label' %> <%= @device.ip %></li>
  <% end %>
</ul>

<% if @account.multiproduct? && Arturo.feature_enabled_for?(:new_device_notification_for_multiproduct_accounts, @account) %>
  <p><%= t 'txt.views.devices.mailer.new_device_notification.body_5' %></p>
<% else %>
  <p><%= t 'txt.views.devices.mailer.new_device_notification.body_3' %></p>

  <%= link_to @devices_url, @devices_url %>

  <p><%= t 'txt.views.devices.mailer.new_device_notification.body_4' %></p>
<% end %>
