<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.settings.channels.show.looking_for_zendesk_mobile_apps')) do %>
    <p>
      <%= I18n.t('txt.admin.views.settings.channels.show.Download_Zendesk_clients_for_mobiles', :iPhone => '<a href="http://www.zendesk.com/mobile#iphone" target="_blank">iPhone</a>', :iPad => '<a href="http://www.zendesk.com/mobile#ipad" target="_blank">iPad</a>', :Android => '<a href="http://www.zendesk.com/mobile#android" target="_blank">Android</a>', :BlackBerry => '<a href="http://www.zendesk.com/mobile#blackberry" target="_blank">BlackBerry</a>', :Windows_Phone => '<a href="http://www.zendesk.com/mobile#windows-phone" target="_new_">Windows Phone</a>')%>
    </p>
  <% end %>
<% end %>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.settings.channels.show.Channels') %></h2>
  <p class="intro_text">
    <%= I18n.t('txt.admin.views.settings.channels.show.Channels_are_the_ways_that') %></p>
  <div class="frame">
    <div class="item clean">
      <div class="item-actions">
        <%= link_to I18n.t('txt.admin.views.settings.channels.show.edit'), settings_email_path, :id => "settings_channels_email_link", :class => 'edit_this' %>
      </div>
      <h3><%= I18n.t('txt.admin.views.settings.channels.show.Email') %></h3>
      <p class="list-info-small">
        <%= I18n.t('txt.admin.views.settings.channels.show.Configure_settings_for_how_email') %>
        <%= I18n.t('txt.admin.views.settings.channels.show.set_the_default_reply_email_address') %>
      </p>
    </div>
    <div class="item clean">
      <div class="item-actions">
        <%= link_to I18n.t('txt.admin.views.settings.channels.show.edit'), zendesk_channels.twitter_settings_path(:anchor => "general_settings"), :id => "settings_channels_twitter_link", :class => 'edit_this' %>
      </div>
      <h3><%= I18n.t('txt.admin.views.settings.channels.show.Twitter') %></h3>
      <p class="list-info-small">
        <%= I18n.t('txt.admin.views.settings.channels.show.new_To_communicate_with_customers_over_twitter') %>
      </p>
    </div>
    <% if current_account.chat_available? %>
      <div class="item clean">
        <div class="item-actions">
          <%= link_to I18n.t('txt.admin.views.settings.channels.show.edit'), settings_chat_path, :id => "settings_channels_chat_link", :class => 'edit_this' %>
        </div>
        <h3><%= I18n.t('txt.admin.views.settings.channels.show.Chat') %></h3>
        <p class="list-info-small">
          <%= I18n.t('txt.admin.views.settings.channels.show.Allow_your_customers_to_chat') %>        </p>
      </div>
    <% end %>

    <div class="item clean">
      <div class="item-actions">
        <%= link_to I18n.t('txt.admin.views.settings.channels.show.edit'), zendesk_channels.facebook_settings_path, :id => "settings_channels_facebook_link", :class => 'edit_this' %>
      </div>
      <h3><%= I18n.t('txt.admin.views.settings.channels.show.Facebook') %></h3>
      <p class="list-info-small">
        <%= I18n.t('txt.admin.views.settings.channels.show.To_communicate_with_customers_over_facebook') %>
      </p>
    </div>

    <div class="item clean">
      <div class="item-actions">
        <%= link_to I18n.t('txt.admin.views.settings.channels.show.edit'), voice_settings_path(:anchor => "general_settings"), :id => "settings_channels_voice_link", :class => 'edit_this' %>
      </div>
      <h3><%= I18n.t('txt.admin.views.settings.channels.show.Voice') %></h3>
      <p class="list-info-small">
        <%= I18n.t('txt.admin.views.settings.channels.show.Add_a_phone_number_to') %>        </p>
    </div>

    <div class="item clean">
      <div class="item-actions">
        <%= link_to I18n.t('txt.admin.views.settings.channels.show.edit'), '/embeddable/settings', :id => "settings_channels_web_widget_link", :class => 'edit_this' %>
      </div>
      <h3><%= I18n.t('txt.admin.views.settings.channels.show.Widget') %></h3>
      <p class="list-info-small">
        <%= I18n.t('txt.admin.views.settings.channels.show.The_Zendesk_Feedback_Tab_adds') %>
      </p>
    </div>

    <div class="item clean">
      <div class="item-actions">
        <%= link_to I18n.t('txt.admin.views.settings.channels.show.edit'), mobile_sdk_apps_path, :id => "settings_channels_mobile_sdk_link", :class => 'edit_this' %>
      </div>
      <h3><%= I18n.t('txt.admin.views.settings.channels.show.mobile_sdk') %></h3>
      <p class="list-info-small">
        <%= I18n.t('txt.admin.views.settings.channels.show.setup_mobile_sdk') %>      </p>
    </div>

    <div class="item clean nobottom">
      <div class="item-actions">
        <%= link_to I18n.t('txt.admin.views.settings.channels.show.edit'), settings_api_path, :id => "settings_channels_api_link", :class => 'edit_this' %>
      </div>
      <h3><%= I18n.t('txt.admin.views.settings.channels.show.API') %></h3>
      <p class="list-info-small">
        <%= I18n.t('txt.admin.views.settings.channels.show.Enable_access_to_your_help') %>      </p>
    </div>
  </div>
<% end %>
