<script type="text/preload" charset="utf-8" data-preload-id="<%= account_preload_id %>">
  <%= preload_cache [current_account.cache_key, current_account.scoped_cache_key(:settings)], version: :v1, expires_in: Arturo::Feature.cache_ttl do %>
    <%- insert_json Api::V2::AccountPresenter, current_account, :includes => LotusBootstrapHelper::ACCOUNT_SIDELOADS %>
  <%- end -%>
</script>
