<script type="text/preload" charset="utf-8" data-preload-id="/api/v2/account/settings.json">
  <%= preload_cache [current_account.scoped_cache_key(:role_settings), current_account.scoped_cache_key(:settings)], version: :v5, expires_in: Arturo::Feature.cache_ttl do %>
    <%- insert_json Api::V2::Account::SettingsPresenter, current_account, ssl: request.ssl? %>
  <%- end -%>
</script>
