<script type="text/preload" charset="utf-8" data-preload-id="/api/lotus/activities">
  <%= preload_cache(['accounts', current_account.id, current_user.scoped_cache_key(:activity)], :version => :v1) do %>
    <%- insert_json Api::Lotus::TicketActivityPresenter, @activities %>
  <%- end -%>
</script>
