<% if Arturo.feature_enabled_for?(:lotus_feature_high_volume_assignable_agents, current_account) ||
  (Arturo.feature_enabled_for?(:lotus_feature_high_volume_assignables, current_account) &&
  current_user.tags.include?('zdbetafeature_high_volume_assignables'))
%>
  <script type="text/preload" charset="utf-8" data-preload-id="/api/lotus/assignables/groups">
    <%= insert_json Api::Lotus::Assignables::GroupsPresenter, current_user.assignable_groups %>
  </script>
<% else %>
  <script type="text/preload" charset="utf-8" data-preload-id="/api/lotus/groups/assignable">
    <%= insert_json Api::Lotus::GroupCollectionPresenter, current_user.assignable_groups %>
  </script>
<% end %>
