<%- if current_account.has_multibrand? %>
  <script type="text/preload" charset="utf-8" data-preload-id="/api/v2/brands" data-preload-optional="true">
    <%= preload_cache [current_account.scoped_cache_key(:brands), 'roles', current_user.roles], :version => :v3 do %>
      <%- insert_json Api::V2::BrandPresenter, current_account.brands.order(:name) %>
    <%- end %>
  </script>
<%- end %>
