<script type="text/preload" charset="utf-8"
data-preload-id="/api/lotus/tickets/<%= @ticket.nice_id %>/conversations.json?include=users&sort_order=desc">
  <%= preload_cache [:accounts, current_account, @ticket, :conversations], :version => :lotus do %>
    <%- # We need to overwrite pagination links zendesk#20540 %>
    <%- api_url = api_lotus_ticket_conversations_url(@ticket, page: 2, include: :users, sort_order: :desc, format: :json) %>
    <%- args = { includes: [:users], overwrite: { next_page: api_url } } %>
    <%- insert_json Api::Lotus::ConversationItemPresenter, @conversations, args %>
  <%- end -%>
</script>

