<script type="text/preload" charset="utf-8" data-preload-id="/api/lotus/macros">
  <%= preload_cache macro_cache_key, version: :v5 do %>
    <%- insert_json Api::Lotus::MacroPresenter, viewable_macros %>
  <%- end -%>
</script>
