<script type="text/preload" charset="utf-8" data-preload-id="/api/v2/sharing_agreements">
  <%= preload_cache current_account.scoped_cache_key(:sharing_agreements), :version => :v2 do %>
    <%- insert_json Api::V2::SharingAgreementPresenter, current_account.sharing_agreements %>
  <%- end -%>
</script>
