<script type="text/preload" charset="utf-8" data-preload-id="<%= ticket_preload_id(@ticket) %>" data-preload-secondary-id="<%= ticket_secondary_preload_id(@ticket) %>">
  <%= insert_json Api::V2::Tickets::TicketPresenter, @ticket, :includes => ticket_sideloads %>
</script>
