<script type="text/preload" charset="utf-8" data-preload-id="/api/v2beta/tickets/<%= @ticket.nice_id %>/related">
  <%= preload_cache [@ticket, :related, @ticket.followups], :version => :v2 do %>
    <%- Ticket::Related.new(@ticket).to_json.html_safe %>
  <%- end -%>
</script>
