<script type="text/preload" charset="utf-8" data-preload-id="/api/v2/ticket_fields">
  <%= preload_cache [
        current_user.locale,
        current_account.scoped_cache_key(:ticket_fields)
      ] do %>
    <%- insert_json Api::V2::TicketFieldPresenter, current_account.ticket_fields %>
  <%- end -%>
</script>
