<script type="text/preload" charset="utf-8" data-preload-id="/api/v2/ticket_forms">
  <%= preload_cache [current_user.locale, current_account.scoped_cache_key(:ticket_forms)] do %>
    <%- insert_json Api::V2::TicketFormPresenter, current_account.ticket_forms %>
  <%- end %>
</script>
