<script type="text/preload" charset="utf-8" data-preload-id="/api/v2/time_zones" data-preload-secondary-id="/api/lotus/time_zones.json?moment=true">
  <%- data = ActiveSupport::TimeZone.all -%>
  <%- dsts = data.map { |tz| tz.tzinfo.current_period }.hash -%>
  <%= preload_cache [I18n.locale, dsts], expires_in: 7.days do %>
    <%- sorted_data = ActiveSupport::TimeZone.sort(data) -%>
    <%- insert_json Api::Lotus::TimeZonePresenter, sorted_data, { :moment => true } %>
  <%- end -%>
</script>
