<script type="text/preload" charset="utf-8" data-preload-id="/api/v2/users/me/settings.json">
  <%= preload_cache [current_account.scoped_cache_key(:settings), current_user, :settings] do %>
    <%- insert_json Api::V2::Users::SettingsPresenter, current_user %>
  <%- end %>
</script>
