<script type="text/preload" charset="utf-8"
  data-preload-id="/api/v2/users/me?include=abilities,roles,groups"
  data-preload-secondary-id="/api/v2/users/me?include=abilities,roles,groups,organizations,identities">

  <%= insert_json Api::V2::Users::Presenter, current_user,
    includes: [:abilities, :roles, :groups, :organizations, :identities, :external_permissions],
    include_authenticity_token: true,
    shared_session: shared_session %>

</script>
