<h3>
  <%= I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.title') %>
</h3>

<p class="overview">
  <%= I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.overview_v3',
             :jwt_url => I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.overview_jwt_link'),
             :saml_url => I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.overview_saml_link')
  ) %>
</p>

<% if role_settings.legacy_login? %>
  <div class="warning">
    <%= I18n.t('txt.admin.views.settings.legacy_message.description') %><br/>
    <%= I18n.t('txt.admin.views.settings.legacy_message.list_header') %>
    <ul>
      <% if role_settings.agent_twitter_login %><li>Twitter</li><% end %>
      <% if role_settings.agent_facebook_login %><li>Facebook</li><% end %>
      <% if role_settings.agent_google_login %><li>Google</li><% end %>
      <% if role_settings.agent_zendesk_login %><li>Zendesk</li><% end %>
    </ul>
    <div><%= I18n.t('txt.admin.views.settings.legacy_message.social_media') %></div>
  </div>
<% end %>

<%= form_for(
  current_account,
  :url  => {
    :controller => 'settings/security',
    :action     => :update,
    :anchor     => 'agents'
  },
  :html => {:method => :put}
) do |f| %>

  <%= hidden_field_tag :tab, 'agents' %>

  <div class="login_service agent_zendesk_login">

    <%= f.fields_for(role_settings) do |rs| %>
      <%= rs.hidden_field(:agent_zendesk_login, :class => 'service_choice') %>
    <% end %>

    <div class="head">
      <div class="icon"></div>
      <div class="description">
        <div class="name">Zendesk</div>
        <%= I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.zendesk') %>
      </div>
    </div>

    <div class="options">
      <% if !login_allowed_for_role?(:zendesk, :agent) %>
        <div class="warning service_warning">
          <%= I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.zendesk_reset_password') %>
        </div>
      <% end %>

      <%= render(
        :partial => 'password_policy',
        :locals  => {
          :policies      => policies,
          :role          => 'agent',
          :role_settings => role_settings,
          :f             => f
        }
      ) %>
    </div>
  </div>

  <div class="login_service agent_google_login">
    <%= f.fields_for(role_settings) do |rs| %>
      <%= rs.hidden_field(:agent_google_login, :class => 'service_choice') %>
    <% end %>

    <div class="head">
      <div class="icon"></div>
      <div class="description">
        <div class="name">Google</div>
        <%= I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.google') %>
      </div>
    </div>

    <div class="options">
      <div class="two_column">
        <%= render 'enforce_sso', f: f, role: :agent, role_settings: role_settings, type: :google %>
      </div>
    </div>
  </div>

  <div class="login_service agent_office_365_login">
    <%= f.fields_for(role_settings) do |rs| %>
      <%= rs.hidden_field(:agent_office_365_login, :class => 'service_choice') %>
    <% end %>

    <div class="head">
      <div class="icon"></div>
      <div class="description">
        <div class="name">Microsoft</div>
        <%= I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.office_365') %>
      </div>
    </div>

    <div class="options">
      <div class="two_column">
        <%= render 'enforce_sso', f: f, role: :agent, role_settings: role_settings, type: :microsoft %>
      </div>
    </div>
  </div>

  <% if remote_authentication_available? %>
    <div class="login_service agent_remote_login">

      <%= f.fields_for(role_settings) do |rs| %>
        <%= rs.hidden_field(:agent_remote_login, :class => 'service_choice') %>
      <% end %>

      <div class="head">
        <div class="icon"></div>
        <div class="description">
          <div class="name">
            <%= I18n.t('txt.admin.views.settings.security_policy.show.sso.title') %>
          </div>
          <%= I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.sso') %>
        </div>
      </div>

      <div class="options">
        <div class="two_column">
          <%= render :partial => 'remote_authentication_forms', :locals => { :f => f, :role_settings => role_settings, :role => :agent } %>
        </div>
      </div>

    </div>
  <% end %>

  <% if role_settings.agent_facebook_login || role_settings.agent_twitter_login %>
    <div class="warning">
      <% if !role_settings.agent_twitter_login && role_settings.agent_facebook_login %>
        <div><%= I18n.t('txt.admin.views.settings.legacy_message.facebook_warning') %></div>
      <% end %>
      <% if role_settings.agent_twitter_login && !role_settings.agent_facebook_login %>
        <div><%= I18n.t('txt.admin.views.settings.legacy_message.twitter_warning') %></div>
      <% end %>
      <% if role_settings.agent_twitter_login && role_settings.agent_facebook_login %>
        <div><%= I18n.t('txt.admin.views.settings.legacy_message.facebook_and_twitter_warning') %></div>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= submit_tag(
      I18n.t('txt.admin.views.settings.security_policy.show.save'),
      :class => 'button save save_button'
    ) %>
  </div>

  <div class="clear"></div>

<% end %>
