<div class="form_element">
  <div class="label">
    <%= I18n.t('txt.admin.views.settings.security_policy.show.global.audioeye.audioeye') %>
  </div>
  <div class="form_field">
    <div class="enable_audioeye_checkbox">
      <%= f.property_set(:settings).check_box(:agreed_to_audioeye_tos) %>
      <%= f.label :agreed_to_audioeye_tos, I18n.t('txt.admin.views.settings.security_policy.show.global.audioeye.enable_audioeye_v2'), :class => "checkbox" %>
      <% if current_account.settings.agreed_to_audioeye_tos %>
        <p>
          <br>
          <a class="audioeye-notice" href="#">
            <%= I18n.t('txt.admin.views.settings.security_policy.show.global.audioeye.notice_regarding_audioeye') %>
          </a>
        </p>
      <% end %>
      <div style="display:none" class="audioeye_tos"><%= render('audioeye_tos_modal') %></div>
    </div>
  </div>
</div>
