<div class="audioeye-tos-modal">
  <p>
    This setting is operated by AudioEye, Inc. ("AudioEye"). By enabling this setting, You agree that AudioEye's service is considered an "Other Service" under <a href="https://www.zendesk.com/company/customers-partners/#master-subscription-agreement" target="_blank">Zendesk's Master Subscription Agreement</a> (the "MSA").
  </p>

  <p>
    As an Other Service, You agree that Zendesk is not responsible for compliance of this setting and the AudioEye service with the MSA, including any obligation of Zendesk in the MSA with respect to the security or privacy of the Service Data that AudioEye may process in operating this setting. You should review the <a href="https://www.audioeye.com/terms-of-service/" target="_blank">AudioEye Terms of Use</a> with respect to the AudioEye service carefully as they will govern Your use of this setting in association with Your Account (as defined in the MSA).
  </p>

  <p>
    By clicking Enable below, You represent that You agree to the foregoing, are authorized by the Subscriber (as defined in the MSA) to enable this setting on behalf this Account and agree to AudioEye's Terms of Use as applicable to Your use of this setting and that service in association with Your Account.
  </p>

  <p>
    <button class="enable-audioeye">Enable AudioEye</button>
  </p>
</div>
