<div id="zendesk-provisioned-ssl-dns-check" style='display:none'>
  <div class="check-in-progress">
    <div>
      <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.verifying_dns_settings') %>
      <div class="ssl-throbber"></div>
    </div>
  </div>

  <div id="zendesk-provisioned-ssl-dns-check-results" style="display:none">
    <p class="certificate-warning-alert">
      <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.dns_settings_wrong') %>
    </p>

    <table class="certificate-status">
      <thead class="brand-heading">
        <th><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.brand') %> </th>
        <th colspan="2"><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.status') %></th>
      </thead>
      <% current_account.brands.select {|b| b.host_mapping.present?}.each do |brand| %>
        <tr class="brand">
          <td class="brand-logo">
            <div class="brand-logo-wrapper">
              <% img_src = brand.logo ? brand.logo.path_for_url(:thumb) : "/images/logo_placeholder.png" %>
              <img src="<%= img_src %>" class="brand-logo">
              <span><%=brand.name%></span>
            </div>
          </td>
          <td colspan="2">
            <div class="dns-check" data-brand-subdomain="<%=brand.subdomain%>" data-brand-id="<%=brand.id%>" data-brand-check-path="<%=brand_check_host_mapping_api_v2_brand_path(brand)%>">
              <div class="dns-check-throbber"></div>
              <div class="dns-check-results"></div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
