<% status = lets_encrypt_status %>
<% if !status %>
<% elsif status == :success %>
  <p>
    <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.le_success') %>
  </p>

  <% if active_cert_is_activating? %>
    <p class="certificate-warning-alert">
      <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.le_activating_v2') %>
    </p>
  <% end %>

<% elsif status == :pending %>
  <div class="certificate-pending">
    <p class="certificate-pending-title">
      <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.provisioning_pending_title') %>
    </p>
    <p>
      <%= I18n.t(
          'txt.admin.controllers.settings.security_controller.ssl.provisioning_pending_v3',
          support_link: link_to(
            I18n.t('txt.admin.controllers.settings.security_controller.ssl.support_link'),
            'mailto:support@zendesk.com'
          )
        )
      %>
    </p>
    <div id="provisioning-status">
      <%= content_tag :div, '', class: 'provisioning ssl-throbber', 'data-check-url' => ssl_provisioning_status_settings_security_path %>
    </div>
  </div>
<% elsif status == :failed %>
  <p class="certificate-warning-alert">
    <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.provisioning_failed') %>
    <%= link_to I18n.t('txt.admin.controllers.settings.security_controller.ssl.retry_certificate_request'), enqueue_certificate_job_settings_security_path, method: :post %>
  </p>
<% end %>
