<div class="form_element">
  <div class="label">
    <%= I18n.t('txt.admin.views.settings.security_policy.show.global.automatic_redaction.title') %>
  </div>
  <div class="form_field">
    <div class="enable_checkbox">
      <%= f.property_set(:settings).check_box(:credit_card_redaction) %>
      <%= f.label :settings_credit_card_redaction, I18n.t('txt.admin.views.settings.security_policy.enabled'), :class => "checkbox" %>
    </div>
    <p>
      <%= I18n.t('txt.admin.views.settings.security_policy.show.global.automatic_redaction.description_v2', :learn_more_link => link_to(I18n.t('txt.admin.views.settings.security_policy.show.global.automatic_redaction.learn_more_text'), I18n.t('txt.admin.views.settings.security_policy.show.global.automatic_redaction.learn_more_link_src'), :target => "_blank")) %>
    </p>
  </div>
</div>
