<div id="custom_security_policy_options" style="display: <%= current_account.agent_security_policy.level?(:custom) ? 'block' : 'none' %>">
  <%= fields_for policy.custom_security_policy do |r| %>
    <table>
      <tr>
        <td><li><%= I18n.t("activerecord.attributes.custom_security_policy.password_history_length") %></li></td>
        <td><%= r.select :password_history_length, password_history_length_options %></td>
      </tr>
      <tr>
        <td><li><%= I18n.t("activerecord.attributes.custom_security_policy.password_length") %></li></td>
        <td><%= r.select :password_length, 5..12 %></td>
      </tr>
      <tr>
        <td><li><%= I18n.t("activerecord.attributes.custom_security_policy.password_complexity") %></li></td>
        <td><%= r.select :password_complexity, password_complexity_options %></td>
      </tr>
      <tr>
        <td><li><%= I18n.t("activerecord.attributes.custom_security_policy.password_in_mixed_case") %></li></td>
        <td><%= r.select :password_in_mixed_case, password_in_mixed_case_options %></td>
      </tr>
      <tr>
        <td><li><%= I18n.t("activerecord.attributes.custom_security_policy.password_duration") %></li></td>
        <td><%= r.select :password_duration, password_duration_options %></td>
      </tr>
      <tr>
        <td><li><%= I18n.t("activerecord.attributes.custom_security_policy.failed_attempts_allowed") %></li></td>
        <td><%= r.select :failed_attempts_allowed, 3..10 %></td>
      </tr>
      <tr>
        <td><li><%= I18n.t("activerecord.attributes.custom_security_policy.session_timeout") %></li></td>
        <td><%= r.select :session_timeout, session_timeout_options, selected: current_account.settings.session_timeout %></td>
      </tr>
      <tr>
        <td><li><%= I18n.t("activerecord.attributes.custom_security_policy.max_sequential_letters_and_numbers") %></li></td>
        <td><%= r.select :max_sequence, max_chars_numbers_in_sequence_options %></td>
      </tr>
      <tr>
        <td><li><%= I18n.t("activerecord.attributes.custom_security_policy.must_not_include_the_local_part") %></li></td>
        <td><%= r.select :disallow_local_part_from_email, disallow_local_part_options %></td>
      </tr>
    </table>
  <% end %>
</div>
