<h3>
  <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.title') %>
</h3>

<p class="overview">
  <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.overview_v2',
             :jwt_url => I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.overview_jwt_link'),
             :saml_url => I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.overview_saml_link')
  ) %>
</p>

<%= form_for(
  current_account,
  :url  => {
    :controller => 'settings/security',
    :action     => :update,
    :anchor     => 'end_users'
  },
  :html => {:method => :put}
) do |f| %>

  <%= hidden_field_tag :tab, 'end_users' %>

  <div class="login_service end_user_zendesk_login">

    <%= f.fields_for(role_settings) do |rs| %>
      <%= rs.hidden_field(:end_user_zendesk_login, :class => 'service_choice') %>
    <% end %>

    <div class="head">
      <div class="icon"></div>
      <div class="description">
        <div class="name">Zendesk</div>
        <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.zendesk') %>
      </div>
    </div>

    <div class="options">

      <%= render(
        :partial => 'password_policy',
        :locals  => {
          :policies      => policies.reject { |p| p.level?(:custom) },
          :role          => 'end_user',
          :role_settings => role_settings,
          :f             => f
        }
      ) %>

      <h3>
        <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.social_media.title') %>
      </h3>
      <p class="intro_text">
        <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.social_media.description_v2') %>
      </p>

      <div class="external_login_service end_user_google_login">
        <%= f.fields_for(role_settings) do |rs| %>
          <%= rs.check_box(:end_user_google_login, :class => 'service_choice') %>
        <% end %>

        <div class="logo"></div>
        <div class="description">
          <div class="name">Google</div>
          <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.social_media.google') %>
        </div>
      </div>

      <div class="external_login_service end_user_office_365_login">
        <%= f.fields_for(role_settings) do |rs| %>
          <%= rs.check_box(:end_user_office_365_login, :class => 'service_choice') %>
        <% end %>

        <div class="logo"></div>
        <div class="description">
          <div class="name">Microsoft</div>
          <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.social_media.office_365') %>
        </div>
      </div>

      <div class="clear"></div>

      <div class="external_login_service end_user_twitter_login">

        <%= f.fields_for(role_settings) do |rs| %>
          <%= rs.check_box(:end_user_twitter_login, :class => 'service_choice') %>
        <% end %>

        <div class="logo"></div>
        <div class="description">
          <div class="name">Twitter</div>
          <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.social_media.twitter') %>
        </div>
      </div>

      <div class="external_login_service end_user_facebook_login">

        <%= f.fields_for(role_settings) do |rs| %>
          <%= rs.check_box(:end_user_facebook_login, :class => 'service_choice') %>
        <% end %>

        <div class="logo"></div>
        <div class="description">
          <div class="name">Facebook</div>
          <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.social_media.facebook') %>
        </div>
      </div>

    </div>
  </div>

  <% if remote_authentication_available? %>
    <div class="login_service end_user_remote_login">

      <%= f.fields_for(role_settings) do |rs| %>
        <%= rs.hidden_field(:end_user_remote_login, :class => 'service_choice') %>
      <% end %>

      <div class="head">
        <div class="icon"></div>
        <div class="description">
          <div class="name">
            <%= I18n.t('txt.admin.views.settings.security_policy.show.sso.title') %>
          </div>
          <%= I18n.t('txt.admin.views.settings.security_policy.show.end_users.sso') %>
        </div>
      </div>

      <div class="options">
        <%= render :partial => 'remote_authentication_forms', :locals => {:f => f, :role_settings => role_settings, :role => :end_user} %>
      </div>

    </div>
  <% end %>

  <div class="actions">
    <%= submit_tag(
      I18n.t('txt.admin.views.settings.security_policy.show.save'),
      :class => 'button save save_button'
    ) %>
  </div>

  <div class="clear"></div>

<% end %>
