<%= f.fields_for(role_settings) do |rs| %>
  <div class="form_element zendesk_passwords">
    <div class="label">
      <%= I18n.t('txt.admin.views.settings.security_policy.show.enforce_sso.zendesk_passwords') %>
    </div>
    <div class="form_field">
      <div class="enable_checkbox">
        <% check_box_id = "role_settings_#{type}_#{password_allowed_column(role)}" %>
        <%= rs.check_box(password_allowed_column(role), { :id => check_box_id, :class => 'password_allowed', :checked => !role_settings[password_allowed_column(role)] }, "0", "1") %>
        <%= rs.label check_box_id, I18n.t('txt.admin.views.settings.security_policy.show.enforce_sso.disabled'), :class => "checkbox", :for => check_box_id %>
      </div>
      <p>
        <% if role == :agent %>
          <%= I18n.t('txt.admin.views.settings.security_policy.show.enforce_sso.disabling_agent_passwords_description') %>
        <% else %>
          <%= I18n.t('txt.admin.views.settings.security_policy.show.enforce_sso.disabling_end_user_passwords_description') %>
        <% end %>
      </p>

      <% if role == :agent %>
        <div class="sso_bypass" style="<%= role_settings.agent_password_allowed ? 'display:none' : nil %>">
          <p><%= I18n.t('txt.admin.views.settings.security_policy.show.enforce_sso.sso_bypass.description_v2', url: sso_bypass_link) %></p>
          <p><%= rs.select(:agent_remote_bypass, sso_bypass_options, { :class => 'sso-bypass-dropdown' }) %></p>
        </div>

        <p class="global-security-warning" style="margin-top:1em">
          <%= I18n.t('txt.admin.views.settings.security_policy.show.enforce_sso.sso_bypass.two_factor_advisory') %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
