<%= form_for(
  current_account,
  :url  => {
    :controller => 'settings/security',
    :action     => :update,
    :anchor     => 'global'
  },
  :html => {:method => :put, :class => 'two_column', :multipart => true}
) do |f| %>

  <%= hidden_field_tag :tab, 'global' %>
  <div class="element_group">
    <% if current_account.has_security_email_notifications_for_account_settings? %>
      <div class="form_element">
        <div class="label">
          <%= I18n.t('txt.admin.views.settings.security_policy.show.global.security_notifications.label') %>
        </div>
        <div class="form_field">
          <%= select(
            :account, :notifications_recipient,
            options_for_select(
              security_notifications.possible_recipients_for_select,
              security_notifications.recipient.to_s
            )
          ) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.security_policy.show.global.security_notifications.description3') %>
            <%= link_to I18n.t('txt.admin.views.settings.learn_more'),
                        I18n.t('txt.admin.views.settings.security_policy.show.global.security_notifications.security_notifications_learn_more_link'),
                        :target => '_blank' %>
          </p>
        </div>
      </div>
    <% end %>

    <% if current_user.is_account_owner? %>
      <div class="form_element">
        <div class='label'>
          <%= I18n.t('txt.admin.views.settings.security._password_policy.allow_admins_to_set_passwords') %>
        </div>
        <div class="form_field">
          <%= zd_enable_checkbox(
            f, :admins_can_set_user_passwords,
            I18n.t('txt.admin.views.settings.security_policy.enabled')
          ) %>
          <p class="global-security-warning">
            <%= I18n.t('txt.admin.views.settings.security._password_policy.allow_admins_to_set_passwords_warning') %>
          </p>
        </div>
      </div>
    <% end %>

    <div class="form_element">
      <div class='label'>
        <%= I18n.t('txt.admin.views.settings.security.global.password_change_email_title') %>
      </div>
      <div class="form_field">
        <%= zd_enable_checkbox(
          f, :email_agent_when_sensitive_fields_changed,
          I18n.t('txt.admin.views.settings.security_policy.password_change_for_users')
        ) %>
      </div>
    </div>

    <div class="form_element">
      <%= render :partial => 'settings/security/mobile_app_access', :locals => { :f => f } %>
    </div>

    <% if current_account.has_ip_restriction? %>
      <div class="form_element">
        <div class="label">
          <%= I18n.t('txt.admin.views.settings.security_policy.show.global.ip_restrictions.title') %>
        </div>
        <div class="form_field">
          <div class="enable_checkbox">
            <%= f.property_set(:settings).check_box(:ip_restriction_enabled) %>
            <%= f.label :settings_ip_restriction_enabled, I18n.t('txt.admin.views.settings.security_policy.enabled'), :class => "checkbox" %>
          </div>
          <p>
            <%= I18n.t('txt.admin.views.settings.security_policy.show.global.ip_restrictions.description_v2') %>
          </p>

          <%= zd_sub_setting(:ip_restrictions) do %>
            <p><strong>
              <%= I18n.t('txt.admin.views.settings.security_policy.show.global.ip_restrictions.ip_ranges_label') %>
            </strong></p>
            <%= f.text_field :ip_ranges, :placeholder => I18n.t('txt.admin.views.settings.security_policy.show.global.ip_restrictions.ip_ranges_placeholder') %>
            <p>
            <%= I18n.t('txt.admin.views.settings.security._ip_restriction.IP_Ranges_description_v2', :ip_address => request.remote_ip, :hc_link => I18n.t('txt.admin.views.settings.security._ip_rescription.hc_link'))%>
            </p>
            <p class="global-security-warning">
              <%= I18n.t('txt.admin.views.settings.security._ip_restriction.Enabling_IP_based_access_restrictions') %>
            </p>
            <br/>
            <div class="enable_checkbox">
              <%= f.property_set(:settings).check_box(:enable_agent_ip_restrictions) %>
              <%= f.label :settings_enable_agent_ip_restrictions, I18n.t('txt.admin.views.settings.security_policy.show.global.ip_restrictions.allowed_exceptions.agent_ip_restrictions_label'), :class => "checkbox" %>
              <p>
                <%= I18n.t('txt.admin.views.settings.security_policy.show.global.ip_restrictions.allowed_exceptions.agent_ip_restrictions_description') %>
              </p>
            </div>
            <br/>
            <% if current_account.settings.enable_ip_mobile_access? %>
              <div class="enable_checkbox">
                <%= f.property_set(:settings).check_box(:enable_ip_mobile_access) %>
                <%= f.label :settings_enable_ip_mobile_access, I18n.t('txt.admin.views.settings.security_policy.show.global.ip_restrictions.allowed_exceptions.agents_bypass_ip_restrictions_using_mobile_label'), :class => "checkbox" %>
                <p>
                  <%= I18n.t('txt.admin.views.settings.security_policy.show.global.ip_restrictions.allowed_exceptions.agent_access_via_moble_apps_description') %>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if current_account.has_account_assumption_control? %>
      <% unless current_account.assumable_account_type? %>
        <div class="form_element">
          <div class="label">
            <%= I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.title') %>
          </div>
          <div class="form_field">
            <div class="enable_checkbox">
              <input type="checkbox" id="enable_account_assumption" <% if current_account.assumable? %>checked<% end %>>
              <label class="checkbox" for= "enable_account_assumption"><%=I18n.t('txt.admin.views.settings.security_policy.enabled')%>
              </label>
            </div>
            <p>
              <%= I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.description') %>
            </p>
            <p>
              <%= I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.override_warning',
                :terms_of_service_link        => (link_to I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.terms_of_service'), I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.terms_of_service_link'), :target => '_new'),
                :learn_more_link => link_to(
                  I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.learn_more_text'),
                  I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.override_learn_more_link'),
                  :target => '_new')
                )
              %>
            </p>
            <div class="assumption-selectbox">
              <p>
                <hr>
              </p>
              <% if current_account.assumable? %>
                <p class='global-security-warning'>
                  <% if current_account.always_assumable? %>
                    <%= I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.permanent_notification')%>
                  <% else %>
                    <%= I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.expiration_notification', :expiration_date => format_date_with_format(
                      current_account.settings.assumption_expiration,
                      locale: current_user.translation_locale,
                      format: I18n.t('datetime.time_format_string.with_12_hours_clock.with_timezone')
                      )
                    )%>
                  <% end %>
                </p>
              <% end %>
              <% unless current_account.assumable? %>
                <p>
                  <%= I18n.t('txt.admin.views.settings.security_policy.show.global.account_assumption.duration_selection') %>
                </p>
              <% end %>
              <p>
                <%= f.property_set(:settings).select :assumption_duration, options_for_select(
                  account_assumption.assumption_duration_for_select
                ) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if current_account.has_credit_card_sanitization? %>
      <%= render :partial => 'settings/security/credit_card_redaction', :locals => { :f => f } %>
    <% end %>

    <div class="form_element">
      <div class="label">
        <%= I18n.t('txt.users.edit.require_two_factor.setting_v2') %>
      </div>
      <div class="form_field">
        <div class="enable_checkbox">
          <%= f.property_set(:settings).check_box(:two_factor_enforce) %>
          <%= f.label :settings_two_factor_enforce, I18n.t('txt.admin.views.settings.security_policy.enabled'), :class => "checkbox" %>

          <p>
            <%= I18n.t('txt.users.edit.require_two_factor.description_v2') %>
            <%=link_to I18n.t('txt.users.edit.require_two_factor.learn_more_link'), I18n.t('txt.two_factor_authentication.hc_link'), :target => "_blank" %>
          </p>
        </div>

        <br>

        <% if current_account.settings.two_factor_enforce? && current_account.settings.two_factor_all_agents? %>
          <p class='global-security-success'>
            <%= I18n.t('txt.admin.security.settings.two_factor_status.all_agents_v2', :two_factor_status_link => download_two_factor_link, :date => formatted_two_factor_last_update) %>
          </p>
        <% else %>
          <p class='global-security-warning'>
            <%= I18n.t('txt.users.edit.require_two_factor.warning_v2') %>
            <br><br>
            <%= I18n.t('txt.admin.security.settings.two_factor_status.missing_agents_v2', :two_factor_status_link => download_two_factor_link, :date => formatted_two_factor_last_update) %>
          </p>
        <% end %>
      </div>
    </div>

    <% if current_account.has_audioeye_in_auth? %>
      <%= render :partial => 'settings/security/audioeye', :locals => { :f => f } %>
    <% end %>
  </div>
  <div class="clear"></div>

  <div class="actions">
    <%= submit_tag(
      I18n.t('txt.admin.views.settings.security_policy.show.save'),
      :class => 'button save'
    ) %>
  </div>

  <div class="clear"></div>

<% end %>
