<div class='rtl'>
  <p>
    <%= I18n.t('txt.admin.views.settings.security_policy._global_multiproduct.lead_sentence')%>
  </p>
  <p>
    <%= I18n.t('txt.admin.views.settings.security_policy._global_multiproduct.list_header')%><br>
    - <%= I18n.t('txt.admin.views.settings.security_policy._global_multiproduct.staff_auth')%><br>
    - <%= I18n.t('txt.admin.views.settings.security_policy._global_multiproduct.end_user_auth')%><br>
    - <%= I18n.t('txt.admin.views.settings.security_policy._global_multiproduct.sso')%><br>
    - <%= I18n.t('txt.admin.views.settings.security_policy._global_multiproduct.advanced_security')%>
  </p>

  <p class='link-admin-centre'>
    <a href=<%= "https://#{current_account.subdomain_url}/admin/security" %> target='_blank'>
      <%= I18n.t('txt.admin.views.settings.security_policy._global_multiproduct.admin_center_link')%>
      <svg class="link-out-svg">
        <use xlink:href="/images/garden_vector_icons.svg#zd-svg-icon-12-link-external"></use>
      </svg>
    </a>
  </p>

  <hr>
</div>
