<div class="form_element" id="ssl-certificates">
  <div class="label">
    <%= I18n.t('txt.admin.views.settings.security._ssl.Hosted_SSL') %>
  </div>

  <div class="form_field">
    <% if current_account.brand_host_mappings.any? && active_cert %>
      <div id="ssl-current-certificate"><%= render partial: 'ssl_active_certificate' %></div>
    <% end %>

    <% if current_account.brand_host_mappings.any? && current_account.settings.automatic_certificate_provisioning? %>
      <%= content_tag :div, class: ['automatic_certificate_provisioning', active_cert ? 'active-cert' : 'no-cert'] do %>
        <%= render partial: 'automatic_certificate_provisioning', locals: { f: f } %>
      <% end %>
    <% elsif current_account.brand_host_mappings.any? && pending_cert %>
      <div class="certificate-pending">
        <p class="certificate-pending-title">
          <% if active_cert %>
            <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.replacement_pending') %>
          <% else %>
            <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.approval_pending') %>
          <% end %>
        </p>
        <p>
          <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.approval_notice') %>
          <%= link_to 'Cancel certificate', cancel_certificate_signing_request_path, method: :post %>
        </p>
      </div>
    <% end %>

    <% if current_account.brand_host_mappings.empty? %>
      <p><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.configure_host_mapping') %></p>
    <% else %>
      <div id="add-certificate-section" >
        <% if !current_account.settings.automatic_certificate_provisioning?  %>
          <% if Arturo.feature_enabled_for?(:lets_encrypt_acme_v1_disabled, current_account) %>
            <p class="certificate-warning-alert hsts-warning">
            <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.zendesk_lets_encrypt_unavailable') %>
            </p>
          <% else %>
            <div id="zendesk-provisioned-ssl" class="disabled">
              <div class="enable_checkbox">
                <%= f.check_box :automatic_certificate_provisioning %>
                <%= f.label :automatic_certificate_provisioning, I18n.t('txt.admin.controllers.settings.security_controller.ssl.enable_lets_encrypt'), :class => "checkbox" %>
              </div>
              <p>
                <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.zendesk_uses_lets_encrypt', url: I18n.t('txt.admin.controllers.settings.security_controller.ssl.lets_encrypt_learn_more_url')) %>
              </p>
              <%= render partial: 'automatic_certificate_provisioning_dns_check' %>
            </div>
          <% end %>
        <% end %>
        <div id="self-manage-certificate">
          <p id="self-manage-certificate-title">
            <% if !active_cert && !pending_cert %>
              <%=I18n.t('txt.admin.controllers.settings.security_controller.ssl.use_own_certificate')%>
            <% else %>
              <%=I18n.t('txt.admin.controllers.settings.security_controller.ssl.replace_le_certificate')%>
            <% end %>
          </p>
          <%= render partial: 'ssl_certificate_fields', locals: { f: f } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
