<% if current_account.brand_host_mappings.any? && current_account.certificates.active.any? %>
  <div class="form_element">
    <div class="label">
      <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.hsts_header') %>
    </div>
    <div class="form_field">
      <div class="enable_checkbox">
        <%= f.check_box :set_long_hsts_header_on_host_mapping %>
        <%= f.label :set_long_hsts_header_on_host_mapping, I18n.t('txt.admin.controllers.settings.security_controller.ssl.hsts.instruct_browsers_to_require_ssl_v2'), :class => "checkbox" %>
      </div>
      <p class="certificate-warning-alert hsts-warning">
        <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.hsts.ssl_certificate_expires_warning') %>
      </p>
    </div>
  </div>
<% end %>
