<% unless current_account.ssl_forced? %>
  <div class="form_element">
    <div class="label">
      <%= I18n.t('txt.admin.views.settings.security_policy.show.global.ssl.regular_ssl.label') %>
    </div>
    <div class="form_field">
      <div class="enable_checkbox">
        <%= f.check_box :is_ssl_enabled %>
        <%= f.label :is_ssl_enabled, I18n.t('txt.admin.views.settings.security_policy.enabled'), :class => "checkbox" %>
      </div>
      <p>
        <%= I18n.t(
              'txt.admin.views.settings.security._ssl.Selecting_this_option_will_enforce',
              :url => current_account.url(:ssl => true)
            ) %>
      </p>
      <p class="certificate-warning-alert">
        <%= I18n.t('txt.admin.views.settings.security._ssl.We_strongly_encourage_enabling_SSL') %>
      </p>
    </div>
  </div>
<% end %>
