<div class="form_element">
  <div class='label'>
    <%= I18n.t('txt.admin.views.settings.security_policy.show.global.mobile_access.title') %>
  </div>
  <div class="form_field">
    <%= f.property_set(:settings).check_box(:mobile_app_access) %>
    <%= f.label :settings_mobile_app_access, I18n.t('txt.admin.views.settings.security_policy.show.global.mobile_access.description'), :class => "checkbox" %>
  </div>
</div>
