<div class="warning">
  <%= I18n.t('txt.admin.views.settings.security._password_policy.Increasing_the_password_security_level') %>
</div>
<% policies.each do |policy| %>
  <div class="option <%= policy.title.downcase %>">
    <%= f.fields_for(role_settings) do |rs| %>
      <%= rs.radio_button(
        "#{role}_security_policy_id",
        policy.id,
        :checked => policy.id == role_settings.security_policy_id_for_role(role)
      ) %>
    <% end %>

    <div class="name"><%= policy.display_name %></div>
    <ul>
      <% if policy.level?(:custom) %>
        <%= render :partial => 'custom_password_policy', :locals => {:policy => policy} %>
      <% else %>
        <% policy.password_requirements.each do |requirement| %>
          <li><%= requirement %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
