<%= f.fields_for :remote_authentications do |ra_f| %>
  <% if current_account.has_saml? %>
    <div class="option saml">
      <%= ra_f.fields_for :saml, saml do |saml_f| %>
        <%= saml_f.hidden_field :id, :class => 'remote_auth_id' %>
        <%= saml_f.check_box :is_active, :class => 'remote_auth_selection' %>
        <%= saml_f.label :is_active, saml.name, :class => "name" %>
        <div class="description">
          <%= I18n.t('txt.admin.views.settings.security._authentication.saml_description2') %>
          <%= link_to I18n.t('txt.admin.views.settings.learn_more'),
                      I18n.t('txt.admin.views.settings.security._authentication.saml_learn_more_link'),
                      :target => '_blank' %>
        </div>

        <ul class="remote_auth" style="display: <%= saml.is_active ? 'block' : 'none' %>">
          <li>
            <%= saml_f.label(
              :remote_login_url,
              "#{I18n.t('txt.admin.views.settings.security._authentication.SAML_SSO_URL')}*",
              :class => 'saml_remote_auth'
            ) %>
            <%= saml_f.text_field :remote_login_url, placeholder: "https://", :class => 'sso_url' %>
            <p>
              <%= I18n.t('txt.admin.views.settings.security._authentication.saml_sso_url_description', :url => "<tt>#{current_account.url(:mapped => false, :ssl => true)}/access/saml</tt>") %>
            </p>
          </li>
          <li>
            <%= saml_f.label(
              :fingerprint,
              "#{I18n.t('txt.admin.views.settings.security._authentication.certificate_fingerprint_label')}*"
            ) %>
            <%= saml_f.text_field :fingerprint %>
            <p>
              <%= I18n.t('txt.admin.views.settings.security._authentication.saml_fingerprint') %>
            </p>
          </li>
          <li>
            <%= saml_f.label(
              :remote_logout_url,
              I18n.t('txt.admin.views.settings.security._authentication.remote_logout_url')
            ) %>
            <%= saml_f.text_field :remote_logout_url,  placeholder: "https://", :class => 'sso_url' %>
            <p>
              <%= I18n.t('txt.admin.views.settings.security._authentication.log_out_url_description') %>
              <br/>
              <tt>https://www.yourcompany.com/services/zendesk_logout.asp</tt>
            </p>
          </li>
          <li>
            <%= saml_f.label(
              :ip_ranges,
              I18n.t('txt.admin.views.settings.security._authentication.ip_ranges_label')
            ) %>
            <%= saml_f.text_field :ip_ranges %>
            <p>
              <%= I18n.t('txt.admin.views.settings.security._authentication.ip_ranges_optional_description', :current_ip => "<tt>#{request.remote_ip}</tt>") %>
            </p>
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if current_account.has_jwt? %>
    <div class="option jwt">
      <%= ra_f.fields_for :jwt, jwt do |jwt_f| %>
        <%= jwt_f.hidden_field :id, :class => 'remote_auth_id' %>
        <%= jwt_f.check_box :is_active, :class => 'remote_auth_selection' %>
        <%= jwt_f.label :is_active, jwt.name, :class => "name" %>
        <div class="description">
          <%= I18n.t('txt.admin.views.settings.security._authentication.jwt_description2') %>
          <%= link_to I18n.t('txt.admin.views.settings.learn_more'),
                      I18n.t('txt.admin.views.settings.security._authentication.jwt_learn_more_link'),
                      :target => '_blank' %>
        </div>

        <ul class="remote_auth" style="display: <%= jwt.is_active ? 'block' : 'none' %>">
          <li>
            <%= jwt_f.label(
              :remote_login_url,
              "#{I18n.t('txt.admin.views.settings.security._authentication.Remote_login_URL')}*"
            ) %>
            <%= jwt_f.text_field :remote_login_url,  placeholder: "https://", :class => 'sso_url' %>
            <p>
              <%= I18n.t('txt.admin.views.settings.security._authentication.remote_auth_zendesk') %>
              <br/>
              <tt>https://www.example.com/services/login</tt>
            </p>
          </li>
          <li>
            <%= jwt_f.label(
              :remote_logout_url,
              I18n.t('txt.admin.views.settings.security._authentication.remote_logout_url')
            ) %>
            <%= jwt_f.text_field :remote_logout_url,  placeholder: "https://", :class => 'sso_url' %>
            <p>
              <%= I18n.t('txt.admin.views.settings.security._authentication.log_out_url_description') %>
              <br/>
              <tt>https://www.example.com/services/logout</tt>
            </p>
          </li>
          <li>
            <%= jwt_f.label(
              :ip_ranges,
              I18n.t('txt.admin.views.settings.security._authentication.ip_ranges_label')
            ) %>
            <%= jwt_f.text_field :ip_ranges %>
            <p>
              <%= I18n.t('txt.admin.views.settings.security._authentication.ip_ranges_optional_description', :current_ip => "<tt>#{request.remote_ip}</tt>") %>
            </p>
          </li>
          <li class="zendesk_remote_auth">
            <%= jwt_f.label(
              :update_external_ids,
              I18n.t('txt.admin.views.settings.security_policy.show.sso.update_external_ids')
            ) %>
            <%= jwt_f.select(:update_external_ids, {
              I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.external_ids.off') => false,
              I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.external_ids.on') => true
            }) %>
            <p>
              <%= I18n.t('txt.admin.views.settings.security._authentication.It_is_safe_to_ignore_v2') %>
            </p>
          </li>

          <% if jwt.has_native_token? %>
            <li class="existing_shared_secret">
              <label>
                <%= I18n.t('txt.admin.views.settings.security._authentication.Shared_secret') %>
              </label>
              <p>
                <%= I18n.t('txt.admin.views.settings.security._authentication.shared_secret_security_warning') %>
              </p>
              <p><tt><%= jwt.token.slice(0, 6) %></tt></p>
              <p>
                <%= I18n.t('txt.admin.views.settings.security._authentication.If_you_need_to_reset') %>
                <a class="generate_remote_auth_token">
                  <%= I18n.t('txt.admin.views.settings.security_policy.show.admins_and_agents.token.regenerate') %>
                </a>
              </p>
              <p>
                <%= I18n.t('txt.admin.views.settings.security._authentication.If_you_generate_a_new') %>
              </p>
            </li>
            <li class="new_shared_secret">
              <%= jwt_f.label(
                :next_token,
                I18n.t('txt.admin.views.settings.security._authentication.Shared_secret')
              ) %>
              <%= jwt_f.text_field :next_token, :readonly => true %>
            </li>
          <% else %>
            <li>
              <%= jwt_f.label(
                :next_token,
                I18n.t('txt.admin.views.settings.security._authentication.Shared_secret')
              ) %>
              <%= jwt_f.text_field :next_token, :readonly => true, :value => Token.generate(48, false) %>
              <p>
                <%= I18n.t('txt.admin.views.settings.security._authentication.If_you_activate_remote_authentication') %>
              </p>
            </li>
          <% end %>
          <p><%= I18n.t('txt.admin.views.settings.security._authentication.The_token_is_a_shared') %></p>
        </ul>
      <% end %>
    </div>
  <% end %>

  <div class="two_column">
    <div class="form_element primary_sso <%= 'hidden' unless multiple_active_remote_authentications? %>">
      <div class="label">
        <%= I18n.t('txt.admin.views.settings.security._authentication.primary_sso.label') %>
      </div>
      <div class="form_field">
        <%= select(
            :account, :primary_sso,
            options_for_select(
              active_remote_authentications_for_select,
              primary_remote_authentication_for_select
            ), {}, :class => 'primary_sso_select'
          ) %>
        <p><%= I18n.t('txt.admin.views.settings.security._authentication.prioritization2') %></p>
      </div>
    </div>

    <%= render 'enforce_sso', f: f, role: role, role_settings: role_settings, type: :remote %>
  </div>
<% end %>

<%= javascript_tag do %>
  $j( document ).ready(function() {
    $j( ".sso_url" ).focus(function() {
      input_box = $j( this )[0]
      if(input_box.value == "") {
        input_box.value = "https://";
      }
    });

    $j( ".sso_url" ).blur(function() {
      input_box = $j( this )[0]
      if(input_box.value == "https://") {
        input_box.value = "";
      }
    });
  });
<% end %>
