<%= fields_for :hosted_ssl do |hs| %>
  <%= hs.hidden_field 'form_state' %>
  <div id="new-certificate-action-buttons">
    <button class="ssl-certificate-button" id="have-a-certificate-button">
      <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.have_a_cert') %>
    </button>
    <button class="ssl-certificate-button" id="do-not-have-a-certificate-button">
      <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.do_not_have_a_cert') %>
    </button>
  </div>

  <div id="new-certificate-form" style="display:none">
    <div id="do-not-have-a-certificate-section">
      <h4>
        <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.do_not_have_a_cert') %>
        <a class="reset-certificate-form" href="#"><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.change') %></a>
      </h4>

      <%= link_to(I18n.t('txt.admin.controllers.settings.security_controller.ssl.generate_request'), '/certificate_signing_request/generate', method: :post , :class => 'rounded-ssl-button medium') %>

      <p><%= I18n.t('txt.admin.views.settings.security._ssl.In_order_to_start_a') %></p>

      <h4><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.upload_ssl_certificate') %></h4>
      <p><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.upload_ssl_certificate_issued') %></p>
    </div>

    <div id="i-have-a-certificate-section">
      <h4>
        <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.have_a_cert') %>
        <a class="reset-certificate-form" href="#"><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.change') %></a>
      </h4>
    </div>

    <label class="file-with-label"><%=hs.file_field :uploaded_certificate_data %>
      <div class="ssl-certificate-button medium"><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.upload_certificate') %></div>
      <span class="file-label" data-no-file-string="<%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.no_file_selected') %>">
        <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.no_file_selected') %>
      </span>
    </label>

    <% if current_account.has_hosted_ip_ssl? %>

      <div id="ssl-type-selection">
        <p class="ssl-type-selection">
          <%=hs.radio_button 'ssl_type', 'sni', checked: true %>
          <%=hs.label 'ssl_type_sni' do %>
            <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.sni_label_v2', url: I18n.t('txt.admin.controllers.settings.security_controller.ssl.sni_label_link')) %>
          <% end %>
        </p>

        <p class="ssl-type-selection">
          <%=hs.radio_button 'ssl_type', 'ip_based', disabled: !has_feature?(:hosted_ssl) %>
          <%=hs.label 'ssl_type_ip_based' do %>
            <%= content_tag :span, I18n.t('txt.admin.controllers.settings.security_controller.ssl.hosted_ssl_label'), class: !has_feature?(:hosted_ssl) ? 'disabled' : '' %>
            <br>

            <% if has_feature?(:hosted_ssl) %>
              <%= I18n.t('txt.admin.views.settings.security._ssl.cname_change_required_v2', subdomain: current_account.subdomain) %>
              <%= link_to I18n.t('txt.admin.controllers.settings.security_controller.ssl.learn_more'), I18n.t('txt.admin.controllers.settings.security_controller.ssl.cname_link'), :target => '_blank' %>
            <% else %>
              <p class="certificate-warning-alert certificate-upsell">
                <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.hosted_ip_upsell_v2') %>
                <%= link_to I18n.t('txt.admin.controllers.settings.security_controller.ssl.view_plans'), '/agent/admin/account', :target => '_parent' %>
              </p>
            <% end %>
          <% end %>
        </p>
      </div>
    <% end %>

    <div id="certificate-private-key">
      <h4><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.upload_your_private_key') %></h4>
      <p><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.private_key_info') %></p>

      <label class="file-with-label"><%=hs.file_field :uploaded_key_data %>
        <div class="ssl-certificate-button medium"><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.upload_private_key') %></div>
        <span class="file-label" data-no-file-string="<%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.no_file_selected') %>">
          <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.no_file_selected') %>
        </span>
      </label>

      <%= hs.password_field :key_data_passphrase, placeholder: I18n.t('txt.admin.views.settings.security._ssl.optional_passphrase')  %>
    </div>

    <div id="certificate-processing-warning">
      <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.processing_certificate_info_v3') %>
    </div>
  </div>
<% end %>
