<%= form_for(
  current_account,
  :url  => {
    :controller => 'settings/security',
    :action     => :update,
    :anchor     => 'ssl'
  },
  :html => {:method => :put, :class => 'two_column', :multipart => true}
) do |f| %>

  <%= hidden_field_tag :tab, 'ssl' %>
  <div class="element_group">
    <%= render partial: 'is_ssl_enabled', locals: { f: f } %>
    <%= render partial: 'hosted_ssl', locals: { f: f } %>
    <%= render partial: 'hsts', locals: { f: f } %>
  </div>
  <div class="clear"></div>

  <div class="actions">
    <%= submit_tag(
      I18n.t('txt.admin.views.settings.security_policy.show.save'),
      :class => 'button save'
    ) %>
  </div>

  <div class="clear"></div>

<% end %>
