<% cert = current_account.certificates.active.first %>
<h4><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.certificate_information') %></h4>

<table class="certificate-status">
  <thead class="status-heading">
    <th><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.issued_to') %></th>
    <th><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.issued_on') %></th>
    <th>
      <% if cert.autoprovisioned? && current_account.settings.automatic_certificate_provisioning? %>
        <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.auto_renews_by') %>
      <% else %>
        <%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.expires') %>
      <% end %>
    </th>
  </thead>

  <tr class="status">
    <td><%= cert.crt_object_cn %></td>
    <td><%= format_date_with_format(cert.crt_not_before, locale: current_user.translation_locale, format: "date.supplemental.num_month.day.year") if cert.crt_not_before %></td>

    <% klass = cert.expired? ? "certificate-expired" : "" %>
    <td class="<%=klass%>"><%= format_date_with_format(cert.crt_not_after, locale: current_user.translation_locale, format: "date.supplemental.num_month.day.year") if cert.crt_not_after %></td>
  </tr>

  <thead class="brand-heading">
    <th><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.brand') %> </th>
    <th colspan="2"><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.status') %></th>
  </thead>

  <% current_account.brands.select {|b| b.host_mapping.present?}.each do |brand| %>
    <tr class="brand">
      <td class="brand-logo">
        <div class="brand-logo-wrapper">
          <% img_src = brand.logo ? brand.logo.path_for_url(:thumb) : "/images/logo_placeholder.png" %>
          <img src="<%= img_src %>" class="brand-logo">
          <span><%=brand.name%></span>
        </div>
      </td>
      <td colspan="2">
        <% if cert.crt_object_secured_domains.include?(brand.host_mapping) %>
          <div class="dns-check" data-brand-subdomain="<%=brand.subdomain%>" data-brand-id="<%=brand.id%>" data-brand-check-path="<%=brand_check_host_mapping_api_v2_brand_path(brand)%>">
            <div class="dns-check-throbber"></div>
            <div class="dns-check-results"></div>
          </div>
        <% else %>
          <span class="invalid"><%= I18n.t('txt.admin.controllers.settings.security_controller.ssl.current_certificate.not_included') %></span>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>
