<%= form_for(
  current_account,
  :url  => {
    :controller => 'settings/security',
    :action     => :update,
    :anchor     => 'support_product'
  },
  :html => {:method => :put, :class => 'two_column', :multipart => true}
) do |f| %>

  <%= hidden_field_tag :tab, 'support_product' %>
  <div class="element_group">
    <%= render :partial => 'settings/security/mobile_app_access', :locals => { :f => f } %>

    <% if current_account.has_credit_card_sanitization? %>
      <%= render :partial => 'settings/security/credit_card_redaction', :locals => { :f => f } %>
    <% end %>

    <% if current_account.has_audioeye_in_auth? %>
      <%= render :partial => 'settings/security/audioeye', :locals => { :f => f } %>
    <% end %>
  </div>
  <div class="clear"></div>

  <div class="actions">
    <%= submit_tag(
      I18n.t('txt.admin.views.settings.security_policy.show.save'),
      :class => 'button save'
    ) %>
  </div>

  <div class="clear"></div>

<% end %>
