<%= render :partial => '/account/header' %>

<% @page_title = I18n.t('txt.admin.views.settings.security_policy.show.security_header') %>

<%= div_content do -%>
  <h2><%= @page_title %></h2>

  <%= zd_tabs do %>
    <%= zd_tab(
      I18n.t('txt.admin.views.settings.security_policy.show.product_label'),
      :id => 'support_product'
    ) do %>
      <%= render :partial => 'settings/security/support_product' %>
    <% end %>

    <%= zd_tab(
      I18n.t('txt.admin.views.settings.security_policy.show.ssl_label'),
      :id => 'ssl'
    ) do %>
      <%= render :partial => 'settings/security/ssl' %>
    <% end %>

    <%= zd_tab(
      I18n.t('txt.admin.views.settings.security_policy.show.global_label'),
      :id => 'global'
    ) do %>
      <%= render :partial => 'settings/security/global_multiproduct' %>
    <% end %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $j(function() {
    new Zendesk.SSOSettings(<%= primary_remote_authentication.try(:id) || "''".html_safe %>);
    new Zendesk.LoginSettingsHandler('agents', <%= agent_login_settings.to_json.html_safe %>);
    new Zendesk.LoginSettingsHandler('end_users', <%= end_user_login_settings.to_json.html_safe %>);
    new Zendesk.PolicyChangeHandler('agents', <%= current_account.agent_security_policy.id %>);
    new Zendesk.PolicyChangeHandler('end_users', <%= current_account.end_user_security_policy.id %>);
    new Zendesk.RemoteAuthSettingsHandler(<%= jwt.to_json.html_safe %>, "<%= Token.generate(48, false) %>");
    new Zendesk.GlobalAuthSettingsHandler(<%= global_auth_settings.to_json.html_safe %>);
    new Zendesk.AuthSaveButtonEventHandler();
    new Zendesk.SSLSettingsHandler('<%= initial_ssl_form_state %>');
  });
<% end %>
