header {
  min-width: 640px;
  max-width: 800px;
}

header h1 {
  display: inline;
  width: 640px;
}

header .actions button {
  background: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20viewBox='0%200%2016%2016'%20focusable='false'%20role='presentation'%3E%3Cpath%20fill='currentColor'%20d='M9.5%202.5a1.5%201.5%200%2011-3%200%201.5%201.5%200%20013%200zm0%205.5a1.5%201.5%200%2011-3%200%201.5%201.5%200%20013%200zm0%205.5a1.5%201.5%200%2011-3%200%201.5%201.5%200%20013%200z'%3E%3C/path%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  top: -10px;
}

header .actions {
  height: 0;
}

html[dir="ltr"] header .actions {
  float: right;
}

html[dir="rtl"] header .actions {
  float: left;
}

html[dir="ltr"] header .actions button {
  float: right;
}

html[dir="rtl"] header .actions button {
  float: left;
}

html[dir="ltr"] header .actions nav.c-menu {
  right: -40px;
}

html[dir="rtl"] header .actions nav.c-menu {
  left: -40px;
}

header .actions nav.c-menu {
  top: 35px;
}

.c-menu__item--danger {
  color: #cc3340 !important;
}

.c-menu__item--danger:hover {
  background-color: rgba(204, 51, 64, .08) !important;
  color: #8c232c !important;
}

header .actions button:hover {
  background-color: rgba(31, 115, 183, 0.08);
}

header .actions button:focus {
  border: 3px solid rgba(31, 115, 183, 0.35);
  outline: none;
  box-shadow: none;
}

header .actions button:active, header .actions button.active {
  background-color: rgba(31, 115, 183, 0.2);
  border: none;
}

main {
  min-width: 640px;
  max-width: 800px;
  margin: 32px 32px 80px 32px;
}

section h2 {
  font-weight: 600;
}

main section {
  width: 640px;
}

.l-wrapper--320 {
  max-width: 320px;
}

.l-wrapper--480 {
  max-width: 480px;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer .actions {
  min-width: 640px;
  max-width: 800px;
}

html[dir="ltr"] footer .actions .c-btn {
  float: right;
}

html[dir="rtl"] footer .actions .c-btn {
  float: left;
}
