<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.rules.tickets.index.recently_affected', :rule_type => @rule.rule_type) %> &quot;<%= @rule.title %>&quot;</h2>
  <%= render :partial => "shared/tickets_table", :locals => {:tickets => @tickets, :options => { :output => @output, :sorting_allowed => false } } %>
<% end %>
<%= render :partial => "rules/bulk_update" %>
