@import "./variables.css.scss";

/* CSS copied from @zendeskgarden/css-buttons
 */

// Default state
$--zd-btn-color: $--zd-color-blue-600;
$--zd-btn-border-color: $--zd-color-blue-400;
$--zd-btn-active-background-color: $--zd-color-blue-700;
$--zd-btn-hovered-background-color: $--zd-btn-border-color;
$--zd-btn-active-color: $--zd-color-white;
$--zd-btn-font-size: $--zd-font-size-md;
$--zd-btn-font-weight: $--zd-font-weight-regular;
$--zd-btn-background-color: transparent;
$--zd-btn-border-radius: 4px;
$--zd-btn-border-width: 1px;
$--zd-btn-line-height: 38px;
$--zd-btn-padding: calc(27 / 14 * 1em);
$--zd-btn-min-width: calc(calc(66 / 14 * 1em) + calc($--zd-btn-padding * 2));
$--zd-btn-transition:
  border-color .25s ease-in-out,
  box-shadow .1s ease-in-out,
  background-color .25s ease-in-out,
  color .25s ease-in-out;

// Primary state
$--zd-btn--primary-background-color: $--zd-btn-color;
$--zd-btn--primary-color: $--zd-color-white;

// Danger state
$--zd-btn--danger-color: $--zd-color-red-600;
$--zd-btn--danger-color_hover: $--zd-color-red-700;
$--zd-btn--danger-color_active: $--zd-color-red-800;

// Active state
$--zd-btn-active-color: $--zd-color-white;
$--zd-btn-hovered-color: $--zd-color-white;
$--zd-btn-active-transition:
  border-color .1s ease-in-out,
  background-color .1s ease-in-out,
  color .1s ease-in-out;

  .c-btn {
    display: inline-block;
    transition: $--zd-btn-transition;
    margin: 0;
    border: $--zd-btn-border-width solid $--zd-btn-border-color;
    border-radius: $--zd-btn-border-radius;
    background-color: $--zd-btn-background-color;
    cursor: pointer;
    padding: 0 $--zd-btn-padding;
    min-width: $--zd-btn-min-width;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    text-decoration: none; /* [1] */
    text-overflow: ellipsis;
    line-height: $--zd-btn-line-height;
    white-space: nowrap;
    color: $--zd-btn-color;
    font-family: inherit; /* [2] */
    font-size: $--zd-btn-font-size;
    font-weight: $--zd-btn-font-weight;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none;
  }

  .c-btn::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .c-btn.c-btn--primary {
    border-color: transparent;
    background-color: $--zd-btn--primary-background-color;
    color: $--zd-btn--primary-color;
  }

  .c-btn:focus {
    outline: none;
    text-decoration: none;
  }

  .c-btn:hover {
    border-color: transparent;
    background-color: $--zd-btn-hovered-background-color;
    text-decoration: none;
    color: $--zd-btn-hovered-color;
  }

  .c-btn:active {
    transition: $--zd-btn-active-transition;
    border-color: transparent;
    background-color: $--zd-btn-active-background-color;
    text-decoration: none;
    color: $--zd-btn-active-color;
  }

  .c-btn.c-btn--danger {
    border-color: #e35b66;
    color: $--zd-btn--danger-color;
  }

  .c-btn.c-btn--danger:focus {
    outline: none;
  }

  .c-btn.c-btn--danger:hover {
    border-color: $--zd-btn--danger-color_hover;
    background-color: rgba(204, 51, 64, 0.08);
    color: $--zd-btn--danger-color_hover;
  }

  .c-btn.c-btn--danger:active {
    border-color: $--zd-btn--danger-color_active;
    background-color: rgba(204, 51, 64, 0.2);
    color: $--zd-btn--danger-color_active;
  }
