@import "./variables.css.scss";

/* CSS copied from @zendeskgarden/css-callouts
 */
$--zd-callout-background-color: $--zd-color-white;
$--zd-callout-border-color: $--zd-color-grey-300;
$--zd-callout-border: 1px solid $--zd-callout-border-color;
$--zd-callout-border-radius: 4px;
$--zd-callout-color: $--zd-color-grey-600;
$--zd-callout-font-size: $--zd-font-size-md;
$--zd-callout-line-height: calc(20 / 14);
$--zd-callout-padding-horizontal: $--zd-spacing-xl;
$--zd-callout-padding: $--zd-spacing $--zd-callout-padding-horizontal;
$--zd-callout__paragraph-margin: 10px 0 0;
$--zd-callout__title-color: $--zd-color-grey-800;
$--zd-callout__title-font-weight: $--zd-font-weight-semibold;

// Recessed
$--zd-callout--recessed-background-color: $--zd-color-grey-100;

.c-callout {
  position: relative;
  border: $--zd-callout-border;
  border-radius: $--zd-callout-border-radius;
  background-color: $--zd-callout-background-color;
  padding: $--zd-callout-padding;
  line-height: $--zd-callout-line-height;
  color: $--zd-callout-color;
  font-size: $--zd-callout-font-size;
}

/* 1. Reset for <h1>, etc. */

.c-callout__title {
  display: block;
  margin: 0; /* [1] */
  color: $--zd-callout__title-color;
  font-weight: $--zd-callout__title-font-weight;
}

.c-callout__paragraph {
  margin: $--zd-callout__paragraph-margin;
}

.c-callout--recessed {
  background-color: $--zd-callout--recessed-background-color;
}