/* CSS copied from @zendeskgarden/css-variables
 */

// Color values
$--zd-color-white: rgb(255, 255, 255);
$--zd-color-blue-400: rgb(82, 147, 199);
$--zd-color-blue-600: rgb(31, 115, 183);
$--zd-color-blue-700: rgb( 20, 74, 117);

$--zd-color-grey-100: rgb(248, 249, 249);
$--zd-color-grey-300: rgb(216, 220, 222);
$--zd-color-grey-600: rgb(104, 115, 125);
$--zd-color-grey-800: rgb(47, 57, 65);

$--zd-color-red-600: rgb(204, 51, 64);
$--zd-color-red-700: rgb(140, 35, 44);
$--zd-color-red-800: rgb(104, 18, 25);

// Font values
$--zd-font-size-md: 14px;
$--zd-font-weight-regular: 400;

// Font weight
$--zd-font-weight-semibold: 600;

// Spacing
$--zd-spacing: 20px;
$--zd-spacing-xl: 40px;
