<%= zd_tab I18n.t("txt.admin.views.targets.edit.failures.title") do %>
  <table class="tickets">
    <thead>
    <tr>
      <th>
        <%= I18n.t("txt.admin.views.targets.edit.failures.created_at") %>
      </th>
      <th>
        <%= I18n.t("txt.admin.views.targets.edit.failures.message") %>
      </th>
      <th>
        <%= I18n.t("txt.admin.views.targets.edit.failures.response_code") %>
      </th>
      <th>
        <%= I18n.t("txt.admin.views.targets.edit.failures.raw_request") %>
      </th>
      <th>
        <%= I18n.t("txt.admin.views.targets.edit.failures.raw_response") %>
      </th>
      <th>
        <%= I18n.t("txt.admin.views.targets.edit.failures.consecutive_failure_count") %>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @target.url_target_failures.latest.each do |failure| %>
      <tr class="zebra">
        <td valign="top">
          <%= failure.created_at.utc %>
        </td>
        <td valign="top">
          <%= failure.message %>
        </td>
        <td valign="top">
          <%= failure.status_code || I18n.t("txt.admin.views.targets.edit.failures.not_applicable") %>
        </td>
        <td valign="top">
          <%= failure.raw_request ? content_tag(:a, I18n.t("txt.admin.views.targets.edit.failures.inspect"), :class => "open_raw_request") + content_tag(:div, content_tag(:pre, failure.raw_request, :id => "raw_request_#{failure.id}", :class => "raw_http_request"), :class => "raw_http") : I18n.t("txt.admin.views.targets.edit.failures.not_applicable") %>
        </td>
        <td valign="top">
          <%= failure.raw_response ? content_tag(:a, I18n.t("txt.admin.views.targets.edit.failures.inspect"), :class => "open_raw_response") + content_tag(:div, content_tag(:pre, failure.raw_response, :id => "raw_response_#{failure.id}", :class => "raw_http_response"), :class => "raw_http") : I18n.t("txt.admin.views.targets.edit.failures.not_applicable") %>
        </td>
        <td valign="top">
          <%= failure.consecutive_failure_count %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
