<% content_for :sidebar do %>
  <%= div_side_box(@page_title) do %>
    <% if @target.is_a?(TwitterTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Send_notifications_to_a_Twitter') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Make_sure_that_you_protect') %></p>
    <% elsif @target.is_a?(SalesforceTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.salesforce.text1') %></p>
      <ul class="options">
        <li><%= I18n.t('txt.admin.views.targets._sidebar.salesforce.option1') %></li>
        <li><%= I18n.t('txt.admin.views.targets._sidebar.salesforce.option2', :link => link_to(I18n.t('txt.admin.views.targets._sidebar.salesforce.link'), "https://support.zendesk.com/entries/348360-zendesk-for-salesforce-getting-started", :target => "_blank")) %></li>
      </ul>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.salesforce.text2') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.salesforce.text3') %></p>
    <% elsif @target.is_a?(SugarCrmTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Create_a_SugarCRM_Case_from') %></p>
      <h5><%= I18n.t('txt.admin.views.targets._sidebar.Case_creation') %></h5>
      <ul class="options">
        <li><%= I18n.t('txt.admin.views.targets._sidebar.Case_subject_the_ticket_subject') %></li>
        <li><%= I18n.t('txt.admin.views.targets._sidebar.Case_description_the_message_configured') %></li>
      </ul>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.By_creating_this_target_we_automatically_create_example_trigger') %></p>
    <% elsif @target.is_a?(ClickatellTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Use_this_target_to_send_sms_using_clickatell') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.If_you_don_t_have')%></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Follow_the_steps_in_Clickatell') %></p>
    <% elsif @target.is_a?(UrlTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.You_can_tweak_this_target') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.When_you_have_submitted_the') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.In_the_Notify_target_action') %></p>
    <% elsif @target.is_a?(CampfireTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Send_notifications_to_a_Campfire') %></p>
    <% elsif @target.is_a?(YammerTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Send_notifications_to_a_Yammer') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Follow_the_steps_in_this') %></p>
    <% elsif @target.is_a?(GetSatisfactionTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Post_public_comments_to_GetSatisfaction') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.By_creating_this_target_we') %></p>
    <% elsif @target.is_a?(BasecampTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Push_ticket_updates_in_a') %>        <ul>
          <li><%= I18n.t('txt.admin.views.targets._sidebar.New_messages_in_a_project') %></li>
          <li><%= I18n.t('txt.admin.views.targets._sidebar.New_comments_in_a_specific') %></li>
          <li><%= I18n.t('txt.admin.views.targets._sidebar.New_ToDo_list') %></li>
          <li><%= I18n.t('txt.admin.views.targets._sidebar.New_ToDo_item_in_a') %></li>
        </ul>
      </p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Please_be_sure_to_enable') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Click_here_to_Read_more_about_basecamp', :click_here => (link_to I18n.t('txt.admin.views.targets._sidebar.Click_here_to_Read_more_about_basecamp_link'), 'https://support.zendesk.com/entries/66392', :target => '_blank')) %></p>
    <% elsif @target.is_a?(JiraTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.JIRA_lets_you_prioritize_assign') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.The_JIRA_target_lets_you') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.to_read_more_about_jira', :click_here => (link_to I18n.t('txt.admin.views.targets._sidebar.to_read_more_about_jira_link'), 'https://support.zendesk.com/entries/20560907-zendesk-for-jira-2-0-getting-started', :target => '_blank')) %></p>
    <% elsif @target.is_a?(PivotalTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Create_stories_in_Pivotal_Tracker') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.The_Pivotal_Tracker_target_will') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.If_you_have_enabled_Pivotal') %></p>
    <% elsif @target.is_a?(TwilioTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.Use_this_target_to_send') %></p>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.If_you_don_t_already') %></p>
    <% end %>

    <% if @target.new_record? && !@target.is_a?(UrlTarget) && !@target.is_a?(GetSatisfactionTarget) && !@target.is_a?(SugarCrmTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.After_creating_the_target_you') %></p>
    <% end %>

    <% if @target.new_record? && @target.is_a?(GetSatisfactionTarget) %>
      <p><%= I18n.t('txt.admin.views.targets._sidebar.When_you_create_the_target') %></p>
    <% end %>

  <% end %>
<% end %>
