function submitTarget() {
  var submitButton = $j('#submit-button'),
    formAction = $j('#submit_type').val();

  if (formAction === 'create_target' || formAction === 'update_target') {
    submitViewForm(submitButton);
  } else if (formAction === 'delete_target') {
    return submitDeleteForm(submitButton);
  } else if ('test_target') {
    if ('<%= @target.class.name %>' === 'UrlTargetV2') {
      createTargetV2Test(submitButton);
    } else {
      sendTargetTest(submitButton);
    }

    return false;
  } else {
    alert(I18n.t('txt.admin.views.targets.edit.invalid_action_please_contact_support'));

    return false;
  }
}

function clearAuthIfDisabled() {
  var basicAuthCheckbox = $j('#basic_auth_checkbox');

  if (basicAuthCheckbox.length !== 0 && !basicAuthCheckbox.is(':checked')) {
    $j('#target_username').val(null);
    $j('#target_password').val(null);
    $j('#password_overwrite').val(true);
  }
}

function submitViewForm(submitButton) {
  submitButton.val(I18n.t('txt.admin.views.targets.edit.submitting_label'))
    .prop("disabled", true);

  clearAuthIfDisabled();

  $j('#viewform').submit();
}

function submitDeleteForm(submitButton) {
  if (confirm(I18n.t('txt.admin.views.targets.edit.action_delete_target_confimation_message'))) {
    submitButton.val(I18n.t('txt.admin.views.targets.edit.deleting_label'))
      .prop("disabled", true);

    $j('#deleteform').submit();
  }
  return false;
}

function createTargetV2Test(submitButton) {
  submitButton.attr('originalValue', submitButton.val())
    .val(I18n.t('txt.admin.views.targets.edit.testing_target_label'))
    .prop("disabled", true);

  var method = $j('#target_method').val();

  // create the modal where you can create a custom message
  $j.colorbox({
    html: "<%= escape_javascript(render :partial => 'test_target_message_form') %>",
    width: '780px',
    height: '500px',
    fixed: true,
    onClosed: function() {
      previewLoaded();
    },
    onComplete: function() {
      var contentType = $j('#target_content_type').val(),
        testMessageLabel = $j('#test_message_label'),
        testMessageContainer = $j('#test_message_container');

      if (method === 'get') {
        setupParametersModal(testMessageContainer, testMessageLabel, I18n.t('txt.admin.public.javascript.zd_rule.url_parameters_label'));
      } else if (contentType === 'application/x-www-form-urlencoded') {
        setupParametersModal(testMessageContainer, testMessageLabel, I18n.t('txt.admin.public.javascript.zd_rule.request_parameters_x-www-form-urlencoded_label'));
      } else {
        setupAceModal(testMessageContainer, testMessageLabel, contentType);
      }

      $j.colorbox.resize();

      $j('#submit_test_message').click(function() {
        sendTargetV2Test($j(this));
      });
    }
  });

  return false;
}

function sendTargetV2Test(button) {
  if (button) {
    button.val(I18n.t('txt.admin.views.targets.edit.testing_target_label'))
      .prop('disabled', true);
  }

  var method = $j('#target_method').val(),
    contentType = $j('#target_content_type').val(),
    parameters;

  clearAuthIfDisabled();

  if (method === 'delete') {
    parameters = Form.serialize(document.viewform);
  } else if (method === 'get' || contentType === 'application/x-www-form-urlencoded') {
    parameters = Form.serialize(document.viewform) + '&' + $j('.parameters input').serialize();
  } else {
    parameters = Form.serialize(document.viewform) + '&message=' + encodeURIComponent($j('#test_message_textarea').val());
  }

  $j.ajax({
    type: "POST",
    url: '/targets/test/<%= @target.id ? @target.id : @target.class.name.underscore %>',
    data: parameters,
    success: function(html) {
      $j.colorbox({
        html: html,
        width: '780px',
        maxHeight: '80%',
        fixed: true,
        onClosed: function() {
          previewLoaded();

          if (button) {
            button.val(I18n.t('txt.admin.views.targets.edit.Submit'));
          }
        },
        onComplete: function() {
          $j('.transaction-part-tabs .tab-links a').click(function()  {
            var currentTabLink = $j(this),
              currentTab = $j(currentTabLink.attr('href'));

            currentTab.show().siblings().hide();
            currentTabLink.parent('li').addClass('active').siblings().removeClass('active');

            // since colorbox resize does not have a maxHeight option
            if (currentTab.height() > ($j(window).height() * 0.8)) {
              $j.colorbox.resize({height: '80%'});
            } else {
              $j.colorbox.resize();
            }

            return false;
          });
        }
      });
    }
  });

  return false
}

function buildRemoveParameterButton() {
  return $j("<a class='remove-parameter'>")
    .html('-')
    .click(function() {
      $j(this).parent().remove();
      $j('.parameter').each(function(index) {
        $j(this).children(".text").each(function() {
          var input = $j(this),
            newName = input.attr('name').replace(/\d+\]\[[01]\]$/i, function(match) {
              return match.replace(/^\d+/, index.toString());
            });

          input.attr('name', newName);
        });
      });

      $j.colorbox.resize();
    });
}

function createParameterInput(parameterIndex) {
  var parameter = $j("<div class='parameter'>"),
    keyInput = $j('<input type="text" class="parameter-key text">')
      .attr('name', 'message[' + parameterIndex + '][0]')
      .attr('placeholder', I18n.t('txt.admin.public.javascript.zd_rule.url_parameters_key')),
    valueInput = $j('<input type="text" class="parameter-value text">')
      .attr('name', 'message[' + parameterIndex + '][1]')
      .attr('placeholder', I18n.t('txt.admin.public.javascript.zd_rule.url_parameters_value'));

  return parameter.append(keyInput)
    .append(valueInput)
    .append(buildRemoveParameterButton());
}

function setupParametersModal(testMessageContainer, testMessageLabel, labelText) {
  var parameters = $j("<div class='parameters'>")
      .append(createParameterInput(0)),
    addParameterButton = $j("<button class='add-parameter button btn-default'>")
      .html(I18n.t('txt.admin.public.javascript.zd_rule.url_parameters_add_parameter'));

  testMessageLabel.text(labelText);
  testMessageContainer.append(parameters)
    .append(addParameterButton);

  addParameterButton.click(function() {
    parameters.append(createParameterInput($j('.parameter').length));
    $j.colorbox.resize();

    return false;
  });
}

function setupAceModal(testMessageContainer, testMessageLabel, contentType) {
  var editor = $j("<pre class='editor' id='test_editor'>"),
    textArea = $j("<textarea id='test_message_textarea'>"),
    mode;

  testMessageContainer.addClass("resizable").append(textArea).append(editor);
  testMessageLabel.text(I18n.t('txt.admin.public.javascript.zd_rule.request_' + contentType + '_body_label'));

  if (contentType === "application/json") {
    mode = 'zendesk_json';
  } else {
    mode = 'zendesk_xml';
  }

  AceSetup('test_editor', testMessageContainer, textArea, mode, testMessageContainer.parent().parent().width());
}

function sendTargetTest(submitButton) {
  new Ajax.Updater('targetoutput', '/targets/test/<%= @target.id ? @target.id : @target.class.name.underscore %>', {
    asynchronous: true,
    evalScripts: true,
    parameters: Form.serialize(document.viewform),
    onComplete: previewLoaded
  });

  submitButton.attr('originalValue', submitButton.val())
    .val(I18n.t('txt.admin.views.targets.edit.testing_target_label'))
    .prop("disabled", true);

  return false;
}

function previewLoaded() {
  var submitButton = $j('#submit-button');

  if (submitButton.length !== 0) {
    submitButton.val(submitButton.attr('originalValue'))
      .prop("disabled", false);
  }
}
