<div class="notification_message">
  <strong><%= I18n.t('txt.admin.views.targets._system_target_notice.system_target') %></strong>
  <% if target.is_locked %>
  <%= I18n.t('txt.admin.views.targets._system_target_notice.feature', :features_link => (link_to I18n.t('txt.admin.views.targets._system_target_notice.feature_link'), system_feature_url_for(target))) %>.
  <% else %>
    <%= I18n.t('txt.admin.views.targets._system_target_notice.configuration_of_this_feature', :configuration_of_this_feature_link => (link_to I18n.t('txt.admin.views.targets._system_target_notice.configuration_of_this_feature_link'), system_feature_url_for(target))) %>
  <% end %>
</div>
