<div class="item-info">
  <div class="float_label" style="width:450px;"><%= content_tag(:strong, "#{target.title} (#{sent_messages(target)})") %></div>
  <div class="float_label" style="width:170px;"><%= target.kind %></div>
</div>

<div class="item-actions">
  <% if target.is_active? %>
     <%= link_to('deactivate', :action => 'activate', :id => target) %>
  <% else %>
    <%= link_to 'activate', :action => 'activate', :id => target %>
  <% end %>
  <span class="delim">|</span>
  <%= link_to 'edit', {:action => 'edit', :id => target}, {:class => 'edit_this', :rel => 'edit'} %>
</div>

