<fieldset>
  <div class="form_element content">
    <label id="test_message_label"></label>
    <div id="test_message_container" class='form_field'>
    </div>
  </div>

  <%= submit_tag(I18n.t('txt.admin.views.targets.edit.Submit'), :id => 'submit_test_message', :class => 'button save') %>
</fieldset>
