<% @page_title = @target.id ? I18n.t('txt.admin.views.targets.edit.edit_target_name', :target_name => @target.kind) : I18n.t('txt.admin.views.targets.edit.add_target_name', :target_name => @target.kind) %>

<%= render :partial => 'sidebar' %>

<%= div_content do %>
  <h2><%= @target.kind %></h2>
  <%= render :partial => "system_target_notice", :locals => { :target => @target } if @target.is_system_target? %>
  <%= zd_tabs do %>
    <%= zd_tab I18n.t("txt.admin.views.targets.edit.properties.title") do %>
      <%= form_for :target, :url => (@target.id ? url_for(:action => 'update', :id => @target.id) : url_for(:action => 'create', :id => @target.is_a?(UrlTargetV2) ? 'http_target' : @target.class.name.underscore)), :html => {:name => 'viewform', :id => 'viewform', :class => 'two_column', :method => (@target.id ? :put : :post), :onsubmit => 'return submitTarget()', :autocomplete => 'off' } do |f| %>
        <fieldset>

          <div class='form_element'>
            <%= f.label :title, I18n.t('txt.admin.views.targets.edit.Title') %>
            <div class='form_field'><%= f.text_field :title, :class => 'title', :dir => 'auto' %></div>
          </div>

          <%= render :partial => @target.edit_template, :locals => { :target_form => f } %>

          <% unless @target.is_locked? %>
            <div class="actions">
              <%
                actions = [ 'test_target', "#{@target.new_record? ? 'create' : 'update'}_target" ]
                actions << 'delete_target' unless @target.new_record?
                options = actions.map { |a| [ translate_actions_targets(a), a ] }
              %>
              <%= select_tag('submit_type', options_for_select(options), :class => 'submit_options', :style => 'width: 185px;') %>
              <%= submit_tag(I18n.t('txt.admin.views.targets.edit.Submit'), :id => 'submit-button', :class => 'button save') %>
            </div>
          <% end %>
        </fieldset>
      <% end %>
    <% end %>

    <% if show_target_failures? %>
      <%= render :partial => "failures" %>
    <% end %>
  <% end %>
<% end %>

<% unless @target.new_record? %>
  <%= form_for :target, :url => target_path(@target.id),
    :html => { :id => 'deleteform', :method => :delete, :autocomplete => 'off' } do |f| %>
  <% end %>
<% end %>

<%= javascript_include_tag "admin/ace/ace_setup" %>

<script type="text/javascript">
  <%= render partial: "submit", formats: [:js] %>
</script>

<% if @target.is_system_target? && @target.is_locked? %>
  <% content_for :script_onload do %>
      $j('.tabs_content input').attr('disabled', true);
  <% end %>
<% end %>
