<% @page_title = I18n.t('txt.admin.view.targets.select_target_to_add.select_target_type') %>

<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.targets.select_target_to_add.target')) do %>
    <p><%= I18n.t('txt.admin.views.targets.select_target_to_add.Pick_the_type_of_target') %><br/>
      <%= I18n.t('txt.admin.views.targets.select_target_to_add.Read_more_about_using_targets') %>
    </p>
    <p><%= I18n.t('txt.admin.views.targets.select_target_to_add.Note_that_targets_are_not') %></p>
  <% end %>
<% end %>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.targets.select_target_to_add.Select_target_to_add') %></h2>
  <ul class="widget_types">
    <%= add_target(CampfireTarget, 'campfire.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_campfire_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(TwitterTarget, 'twitter.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_twitter_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(ClickatellTarget, 'clickatell.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_clickatell_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(UrlTarget, 'url_target.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_url_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(UrlTargetV2, 'http.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_http_target_description')) %>

    <%= add_target(JiraTarget, 'jira.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_jira_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(YammerTarget, 'yammer.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_yammer_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(GetSatisfactionTarget, 'get_satisfaction.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_get_satisfaction_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(EmailTarget, 'email.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_email_target_description')) %>

    <%= add_target(BasecampTarget, 'basecamp.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_basecamp_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(PivotalTarget, 'pivotal.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_pivotal_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(TwilioTarget, 'twilio.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_twilio_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(SalesforceTarget, 'salesforce.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_salesforce_target_description')) unless current_account.has_hide_deprecated_targets? || current_account.sugar_crm_integration || current_account.ms_dynamics_integration %>

    <%= add_target(SugarCrmTarget, 'sugarcrm.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_sugar_crm_target_description')) unless current_account.has_hide_deprecated_targets? %>

    <%= add_target(MsDynamicsTarget, 'msdynamics.png', I18n.t('txt.admin.views.targets.select_target_to_add.name_of_target_ms_dynamics_target_description')) unless current_account.has_hide_deprecated_targets? || current_account.salesforce_integration || current_account.sugar_crm_integration %>

    <div class="clear"></div>
  </ul>
<% end %>
