<% @target.http_transactions.each do |transaction| %>
  <h2>
    <%= transaction.response.headers.split("\n").first || @target.exception_message  %>
  </h2>
<% end %>
<br/>
<div class="transaction-part-tabs">
  <ul class="tab-links">
    <li class="active">
      <a href="#request">Request</a>
    </li>
    <li>
      <a href="#response">Response</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="request" class="tab active">
      <pre class="headers"><%= @target.http_transactions.last.request.headers.to_utf8! %></pre>
      <% if @target.http_transactions.last.request.body %>
        <pre class="body"><%= @target.http_transactions.last.request.body.to_utf8! %></pre>
      <% end %>
    </div>

    <div id="response" class="tab">
      <pre class="headers"><%= @target.http_transactions.last.response.headers.to_utf8! %></pre>
      <% if @target.response_body.present? %>
        <pre class="body"><%= @target.response_body.to_utf8! %></pre>
      <% end %>
    </div>
  </div>
</div>
