iframe#upload_frame {
  display: none;
}

input#hidden-file-input {
  padding: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

#uploads_form {
  margin-right: 15px;
}

#uploads_form span.link {
  font-weight: normal;
  float: right;
  position:relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.attachments_for_portal #uploads_form span.link {
  float: left;
}

.post-uploads #uploads_form span.link {
  float: left;
}

#uploads_form span.link.attach_link_selected {
  color: #333;
  text-decoration: underline;
}

div#attachments {
  margin-top: 6px;
  clear: both;
  white-space: nowrap;
}

.attach_list {
  margin-bottom: 0px;
}

#uploading_message {
  color: #666;
}