<dl>
  <dt><code>{{answer_bot.article_list}}</code></dt>
  <dd><%= I18n.t('txt.admin.views.liquid_help._answer_bot.article_list')%></dd>
  <dt><code>{{answer_bot.article_count}}</code></dt>
  <dd><%= I18n.t('txt.admin.views.liquid_help._answer_bot.article_count')%></dd>
  <dt><code>{{answer_bot.first_article_body}}</code></dt>
  <dd><%= I18n.t('txt.admin.views.liquid_help._answer_bot.first_article_body') %></dd>
</dl>
