<dl>
  <dt><code>{{satisfaction.rating_section}}</code></dt>
  <dd><%= I18n.t('placeholder.satisfaction.rating_section')%></dd>
  <dt><code>{{satisfaction.current_rating}}</code></dt>
  <dd><%= I18n.t('placeholder.satisfaction.current_rating')%></dd>
  <dt><code>{{satisfaction.current_comment}}</code></dt>
  <dd><%= I18n.t('placeholder.satisfaction.current_comment') %></dd>
  <dt><code>{{satisfaction.positive_rating_url}}</code></dt>
  <dd><%= I18n.t('placeholder.satisfaction.positive_rating_url') %></dd>
  <dt><code>{{satisfaction.negative_rating_url}}</code></dt>
  <dd><%= I18n.t('placeholder.satisfaction.negative_rating_url') %></dd>
  <dt><code>{{satisfaction.rating_url}}</code></dt>
  <dd><%= I18n.t('placeholder.satisfaction.rating_url') %></dd>
</dl>
