<%
# These placeholders are displayed as a list, inside the "Automations"
# admin page, when you select a "Notification" action and then click
# "View available placeholders" link.

# Do not confuse them with the ones displayed when you start typing `{{`
# in "Triggers", "Automations", "Macros", and "CC email template" editors,
# those are managed by support-rule-admin app.

# Translations defined in config/locales/translations/admin.yml
ns = 'txt.admin.views.liquid_help._ticket_placeholders'
-%>
<dl>
  <dt><code>{{ticket.title}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_subject") -%></dd>

  <dt><code>{{ticket.description}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_description") -%></dd>

  <dt><code>{{ticket.link}}</code></dt>
  <dd><%= I18n.t("#{ns}.link") -%></dd>

  <dt><code>{{ticket.id}}</code></dt>
  <dd><%= I18n.t("#{ns}.Unique_ticket_ID") -%></dd>

  <dt><code>{{ticket.external_id}}</code></dt>
  <dd><%= I18n.t("#{ns}.External_ticket_ID_Typically_populated") -%></dd>

  <dt><code>{{ticket.via}}</code></dt>
  <dd><%= I18n.t("#{ns}.The_source_channel_of_the") -%></dd>

  <dt><code>{{ticket.status}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_status") -%></dd>

  <dt><code>{{ticket.priority}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_priority") -%></dd>

  <% if !current_account || current_account.has_extended_ticket_types? -%>
    <dt><code>{{ticket.ticket_type}}</code></dt>
    <dd><%= I18n.t("#{ns}.Ticket_type") -%></dd>
  <% end -%>

  <dt><code>{{ticket.group.name}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_group") -%></dd>

  <% if current_account.has_multibrand? -%>
    <dt><code>{{ticket.brand.name}}</code></dt>
    <dd><%= I18n.t("#{ns}.Ticket_brand_name") -%></dd>
  <% end -%>

  <dt><code>{{ticket.due_date}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_due_date_relevant_for") -%></dd>

  <dt><code>{{ticket.latest_comment_formatted}}</code></dt>
  <dd><%= I18n.t("#{ns}.Latest_comment") -%></dd>

  <dt><code>{{ticket.latest_public_comment_formatted}}</code></dt>
  <dd><%= I18n.t("#{ns}.Latest_public_comment") -%></dd>

  <dt><code>{{ticket.comments_formatted}}</code></dt>
  <dd><%= I18n.t("#{ns}.All_comments_latest_first") -%></dd>

  <dt><code>{{ticket.public_comments_formatted}}</code></dt>
  <dd><%= I18n.t("#{ns}.All_public_comments_latest_first") -%></dd>

  <dt><code>{{ticket.account}}</code></dt>
  <dd><%= I18n.t("#{ns}.Help_desk_name") -%></dd>

  <dt><code>{{ticket.assignee.name}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_assignee_full_name_if") -%></dd>

  <dt><code>{{ticket.assignee.first_name}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_assignee_first_name_if") -%></dd>

  <dt><code>{{ticket.assignee.last_name}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_assignee_last_name_if") -%></dd>

  <dt><code>{{ticket.requester.name}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_requester_full_name") -%></dd>

  <dt><code>{{ticket.requester.first_name}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_requester_first_name") -%></dd>

  <dt><code>{{ticket.requester.last_name}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_requester_last_name") -%></dd>

  <dt><code>{{ticket.requester.email}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_requester_email") -%></dd>

  <dt><code>{{ticket.requester.language}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_requester_language") -%></dd>

  <dt><code>{{ticket.requester.phone}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_requester_s_phone_number") -%></dd>

  <dt><code>{{ticket.requester.external_id}}</code></dt>
  <dd><%= I18n.t("#{ns}.Ticket_requester_external_ID") -%></dd>

  <dt><code>{{ticket.organization.name}}</code></dt>
  <dd><%= I18n.t("#{ns}.Name_of_the_ticket_requester") -%></dd>

  <dt><code>{{ticket.organization.external_id}}</code></dt>
  <dd><%= I18n.t("#{ns}.External_ID_of_the_ticket") -%></dd>

  <!-- Legacy CCs -->
  <dt><code>{{ticket.ccs}}</code></dt>
  <dd><%= I18n.t("#{ns}.ticket_legacy_ccs") -%></dd>

  <dt><code>{{ticket.cc_names}}</code></dt>
  <dd><%= I18n.t("#{ns}.ticket_legacy_cc_names") -%></dd>

  <% if current_account.has_follower_and_email_cc_collaborations_enabled? -%>
    <!-- Email CCs -->
    <dt><code>{{ticket.email_ccs}}</code></dt>
    <dd><%= I18n.t("#{ns}.ticket_email_ccs") -%></dd>

    <dt><code>{{ticket.email_cc_names}}</code></dt>
    <dd><%= I18n.t("#{ns}.ticket_email_cc_names") -%></dd>

    <!-- Followers -->
    <dt><code>{{ticket.followers}}</code></dt>
    <dd><%= I18n.t("#{ns}.ticket_followers") -%></dd>

    <dt><code>{{ticket.follower_names}}</code></dt>
    <dd><%= I18n.t("#{ns}.ticket_follower_names") -%></dd>

    <dt><code>{{ticket.follower_reply_type_message}}</code></dt>
    <dd><%= I18n.t("#{ns}.follower_reply_type_message") -%></dd>
  <% end -%>

  <dt><code>{{ticket.tags}}</code></dt>
  <dd><%= I18n.t("#{ns}.All_tags_registered_on_the") -%></dd>

  <dt><code>{{ticket.in_business_hours}}</code></dt>
  <dd><%= I18n.t("#{ns}.Renders_true_if_update_is") -%></dd>

  <% if current_account.business_hours_active? -%>
    <dt><code>{{ticket.current_holiday_name}}</code></dt>
    <dd><%= I18n.t("#{ns}.current_holiday_name") -%></dd>
  <% end -%>

  <% if current_account.has_ticket_forms? -%>
    <dt><code>{{ticket.ticket_form}}</code></dt>
    <dd><%= I18n.t("#{ns}.ticket_form") -%></dd>
  <% end -%>

  <dt><code>{{ticket.ticket_field_ID}}</code></dt>
  <dd><%= I18n.t("#{ns}.The_value_of_a_ticket") -%></dd>

  <dt><code>{{ticket.ticket_field_option_title_ID}}</code></dt>
  <dd><%= I18n.t("#{ns}.For_drop_down_custom_fields") -%></dd>

  <dt><code>{{account.incoming_phone_number_ID}}</code></dt>

  <dd><%= I18n.t("#{ns}.zendesk_talk_inbound_phone_number") -%></dd>
</dl>
