<dl>
  <dt><code>{{<%= name %>.name}}</code></dt><dd><%= I18n.t("placeholder.#{name}.name")%></dd>
  <dt><code>{{<%= name %>.first_name}}</code></dt><dd><%= I18n.t("placeholder.#{name}.first_name")%></dd>
  <dt><code>{{<%= name %>.email}}</code></dt><dd><%= I18n.t("placeholder.#{name}.email")%></dd>
  <dt><code>{{<%= name %>.organization.name}}</code></dt><dd><%= I18n.t("placeholder.#{name}.organization.name")%></dd>
  <dt><code>{{<%= name %>.organization.notes}}</code></dt><dd><%= I18n.t("placeholder.#{name}.organization.notes")%></dd>
  <dt><code>{{<%= name %>.organization.details}}</code></dt><dd><%= I18n.t("placeholder.#{name}.organization.details")%></dd>
  <dt><code>{{<%= name %>.external_id}}</code></dt><dd><%= I18n.t("placeholder.#{name}.external_id")%></dd>
  <dt><code>{{<%= name %>.phone}}</code></dt><dd><%= I18n.t("placeholder.#{name}.phone")%></dd>
  <dt><code>{{<%= name %>.details}}</code></dt><dd><%= I18n.t("placeholder.#{name}.details")%></dd>
  <dt><code>{{<%= name %>.notes}}</code></dt><dd><%= I18n.t("placeholder.#{name}.notes")%></dd>
  <dt><code>{{<%= name %>.language}}</code></dt><dd><%= I18n.t("placeholder.#{name}.language")%></dd>
  <% if current_account.has_user_and_organization_tags? %>
    <dt><code>{{<%= name %>.tags}}</code></dt><dd><%= I18n.t("placeholder.#{name}.tags")%></dd>
  <% end %>
</dl>
