<% extend(LoginsTestHelper) %>
<% @user ||= current_user_exists? ? current_user : current_account.users.new(params[:user].try(:slice, :name, :email)) %>
<%= render "zendesk/auth/v1/logins/#{sso_action}" %>
