<div id="history" class="frame">
  <div class="item<%= ' nobottom' unless entry.posts.exists? -%>" id="<%= dom_id(entry) -%>">
    <%= render :partial => '/shared/user_badge', :locals => { :user => entry.submitter } %>
    <div class="right">
      <div class="user_formatted clearfix">
        <%= sanitized_and_auto_linked_body(entry) %>
      </div>
      <%= render(:partial => '/shared/attachment_list', :object => entry.attachments) %>

      <div class="gray-text"><%= format_absolute_date(entry.created_at) -%></div>
    </div>
    <div style="clear:left; height:0px">&nbsp;</div>
  </div>
  <% if entry.posts.exists? -%>
    <% posts = entry.posts.all.limit(15) -%>
    <%= render :partial => "shared/ticket_topics/related_post", :collection => posts, :locals => { :last_id => posts.last.id } %>
  <% end -%>
</div>
