<div class="item<%= ' nobottom' if related_post.id == last_id -%>" id="<%= dom_id(related_post) -%>">
  <%= render :partial => '/shared/user_badge', :locals => { :user => related_post.user } %>
  <div class="right">
    <div class="user_formatted clearfix">
      <%= sanitized_and_auto_linked_body(related_post) %>
    </div>
    <%= render(:partial => '/shared/attachment_list', :object => related_post.attachments) %>
    <div class="gray-text"><%= format_absolute_date(related_post.created_at) -%></div>
  </div>
  <div style="clear:left; height:0px">&nbsp;</div>
</div>
