@import "../../../mixins.css.scss";

.extensions-show {
  #salesforce_header {
    border-bottom: 1px solid #CFCFCF;
  }

  .salesforce_warning {
    margin-top: 5px;
    margin-bottom: 10px;
    background: #FFFDE1 url(/classic/images/warning_icon.png) 15px 15px no-repeat;
    padding: 20px 5px 5px 40px;
    @include rounded-corners(4px);
    border: solid 2px darken(#FFFDE1, 8%);
    color: #333;

    .salesforce_error_title {
      color: red;
    }
  }

  #salesforce_integration_form {
    .salesforce_item {
      margin-top: 20px;
    }

    .checkbox {
      padding: 5px;
      cursor: pointer;
    }

    .actions {
      margin-top: 20px;
    }

    label {
      font-size: 12px;
    }

    .form_field {
      padding-top: 10px;
    }

    p {
      margin-top: 5px;
    }

    #use_salesforce_configuration {
      padding-top: 5px;
    }
  }

  .salesforce_item {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }

  .salesforce_title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
  }

  .salesforce_subitem {
    margin-bottom: 10px;
    font-size: 10px;
    color: #828282;
  }

  .salesforce_connection {
    width: 45%;
    background-color: #f5f5f5;
    @include rounded-corners(4px);
    border: 1px solid #cfcfcf;
    padding: 15px;

    label {
      font-weight: bold;
    }
  }

  #salesforce_configuration {
    #salesforce_objects {
      padding-right: 20px;
      width: 100%;
      vertical-align: top;

      html[data-rtl-language='true'] & {
        padding-left: 20px;
        padding-right: 0;
      }

      #add_object {
        float: right;
        margin-top: 15px;
        margin-bottom: 15px;

        html[data-rtl-language='true'] & {
          float: left;
        }
      }

      .object_configuration {
        border-top: 1px solid #F0F0F0;
        padding: 10px;

        .object_name {
          float: left;
          font-weight: bold;
          font-size: 14px;

          html[data-rtl-language='true'] & {
            float: right;
          }
        }

        .object_actions {
          float: right;

          html[data-rtl-language='true'] & {
            float: left;
          }

          a {
            padding-right: 5px;

            html[data-rtl-language='true'] & {
              padding-left: 5px;
              padding-right: 0;
              float: right;
            }
          }
        }

        p {
          line-height: 8px;
        }

        .salesforce_warning {
          p {
            line-height: 15px;
          }
        }

        .related_object {
          color: #828282;
          padding-top: 10px;

          a {
            padding-left: 5px;
          }
        }

        .primary_object_field_label {
          html[data-rtl-language='true'] & {
            float: right;
          }
        }

        .mapped_field {
          color: #78A300;
          background-color: #f5f5f5;
          margin-left: 10px;
          font-weight: normal;

          html[data-rtl-language='true'] & {
            margin-left: 0;
            margin-right: 10px;
          }
        }

        .primary_object_fields p:first-child,.related_object_fields  p:first-child {
          font-weight: bold;
        }
      }
    }

    #salesforce_test_app {
      vertical-align: top;

      .actions {
        margin-left: 0;
      }

      ul {
        padding: 0;
      }

      input[type="text"] {
        width: 186px;

        html[data-rtl-language='true'] & {
          text-align: right;
        }
      }
    }
  }

  .salesforce_connection.production {
    float: left;

    html[data-rtl-language='true'] & {
      float: right;
    }
  }

  .salesforce_connection.sandbox {
    float: right;

    html[data-rtl-language='true'] & {
      float: left;
    }
  }

  .arrow {
    margin-top: 90px;
    float: left;
    padding: 40px;
    background: url(/classic/images/arrow_right.png) 22px no-repeat;
  }

  .selected_fields {
    .non_selected {
      display: none;
    }

    .field {
      cursor: move;
    }

    .add_link {
      display: none;
    }

    li.field.selected {
      font-weight: bold;
    }

    li.field.selected ~ li.field.selected {
      font-weight: normal;
    }
  }

  .available_fields {
    .remove_link {
      display: none;
    }
  }

  .folder.expanded {
    .expand_link {
      display: none;
    }
  }

  .folder.contracted {
    .contract_link {
      display: none;
    }
  }

  #salesforce_fields {
    .salesforce_error_title {
      padding-bottom: 10px;
    }
  }

  .salesforce_fields_container {
    float: left;

    html[data-rtl-language='true'] & {
      float: right;
    }
  }

  .salesforce_fields {
    width: 343px;
    height: 210px;
    overflow: auto;
    border: 1px solid #cfcfcf;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #b3b3b3;
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    h3 {
      margin-top: -10px;
    }

    ul {
      list-style-type: none;
      margin: 0px;

      li {
        height: 20px;
        padding: 5px 10px 0px 10px;
        border-bottom: 1px solid #CFCFCF;

        span.name {
          float: left;

          html[data-rtl-language='true'] & {
            float: right;
          }
        }

        span.add_link {
          float: right;

          html[data-rtl-language='true'] & {
            float: left;
          }
        }

        span.remove_link {
          float: right;

          html[data-rtl-language='true'] & {
            float: left;
          }
        }

        span a {
          color: #78A300;
        }

        &:last-child{
          border:none;
        }

        &.folder {
          color: #78A300;
          background-color: #f5f5f5;
        }
      }
    }
  }

  .expand_link {
    padding-right: 5px;
  }

  .contract_link {
    padding-right: 5px;
  }

  .mapping_fields {
    width: 350px;
    float: left;

    select {
      width: 350px;
    }
  }

  .map_to {
    margin-top: 28px;
    float: left;
    padding: 20px 12px 0px 63px;
    background: url(/classic/images/icon_mapping.png) 22px no-repeat;
  }

  #salesforce_object_form {
    .actions {
      margin-top: 15px;
      float: right;
      clear: both;

      html[data-rtl-language='true'] & {
        float: left;
      }
    }
  }

  #salesforce_filter_form {
    .actions {
      margin-top: 30px;
      float: right;

      .save {
        float: none;
        margin-right: 0;
      }
    }

    .salesforce_item {
      margin-top: 20px;
    }

    #regular_filter_field, #date_filter_field {
      width: 40%;
      margin: 0 10px 10px 0;

      option {
        color: black;
      }

      &.empty {
        color: gray;
      }
    }

    #regular_filter_operator, #date_filter_operator {
      width: 15%;
      margin: 0 10px 10px 0;
    }

    #regular_filter_value, #date_filter_value {
      width: 40%;
    }
  }

  #salesforce_image {
    text-align:center;
  }
}
