<div class="icon"><img src="/images/types/ticket.png" alt="<%= I18n.t('txt.admin.views.search._result.ticket_title_label') %>"/><div style="padding-left: -4px;"><%= current_user.is_end_user? ? '' : 'Ticket' %></div></div>

<div class="item-info">
<% if comment.ticket.nil? %>
  <% exception = RuntimeError.new("No ticket associated to comment: '#{comment.id}' in account '#{current_account.subdomain}'")
     ZendeskExceptions::Logger.record(self, exception.message, exception) %>
  <p>Something is wrong with this ticket and we can't show it. We've been notified about this issue and we'll take a look at it ASAP.</p>
<% else %>
  <h1 id="comment_<%= comment.id %>_subj">
    <%= link_to h(comment.ticket.title(76)), ticket_path(comment.ticket) %>
  </h1>

  <%
    tip_attr = tip_attributes_for(comment.ticket)
    @tips ||= []
    @tips << "commentTip('comment_#{comment.id}_subj', #{tip_attr[0]}, #{tip_attr[1]});"
  %>

  <p class="info">
    <%= h(comment.ticket.requester.name) %> <%= format_date(comment.ticket.created_at) -%>
    <span class="delim2">•</span>
    Updated
    <b><%= i18n_cacheable_time_ago_in_words(comment.ticket.updated_at, I18n.t('txt.entries.index.replied_at', :time_in_words => 'XXX')) %></b>
  </p>

  <p class="info">
    <strong><%= comment.ticket.status %></strong> <%= comment.ticket.ticket_type.downcase %> #<%= comment.ticket.nice_id %>
  </p>
<% end %>
</div>

