<!-- This renders users and tickets tabs. Used by group and organization show -->
<%= form_tag( {:controller => "people/users", :action => :select_bulk_action}, :id => 'bulk_form', :class => 'tabs') do %>
  <%= div_content do -%>
    <%= render :partial => 'people/users/bulk_update_checkbox' if @users %>

    <div class="tabbed_container hover-actions" mode="static">
      <div class="tab_links clearfix">
        <%= group_and_org_association_links(@ticket_count, @user_count).join_preserving_safety %>
      </div>

      <%= render :partial => '/search/result', :locals => { :records => @users, :allow_user_bulk_update => @allow_user_bulk_update } %>
      <%= render :partial => 'shared/tickets_table', :locals => { :tickets => @tickets, :options => {:output => @output, :sorting_allowed => current_user.is_agent?}} %>
      <% if @tickets && @tickets.blank? %>
        <div class="frame">&nbsp;</div>
      <% end %>
    </div>

  <% end %>
<% end %>

<%= render :partial => 'rules/bulk_update' if @tickets && @tickets.any? %>
