<% if controller_name == "search" %>
    <% action = '/people' %>
<% elsif controller_name == "organizations" %>
    <% action = '/organizations/search' %>
<% elsif controller_name == "groups" %>
    <% action = '/groups/search' %>
<% elsif controller_name == "users" %>
    <% action = '/users' %>
<% end %>
<%= form_tag(action, { :style => "margin: 17px 0 0 0;", :id => "searchform", :method => 'GET'}) %>
<%= text_field_tag(:query, @query, :class => 'title special', :dir => 'auto', :style=> "font-size:12px; height: 23px;", :placeholder=> "#{I18n.t('text.search.placeholder.first_chars')}", :disabled => search_bar_state) %>
<%= submit_tag(I18n.t('txt.search.title'), :id => 'buttonsubmit', :class => "button primary search", :disabled => search_bar_state) %>
<%= people_browser %>
</form>
