<%- screenr_integration_host = current_account.screenr_integration.host%>
<div id="screenr_downgrading" class="lv_action">
  <div id="no_downgrade" style="display: none;">
    <p>
      <%= I18n.t('txt.admin.views.settings.screencasts.downgrading.msg_for_free', :screenr_host => "#{screenr_integration_host}") %>
    </p>
    <form>
      <fieldset>
        <input id="close_modal" class="button" name="commit" type="submit" value="<%= I18n.t('txt.admin.views.settings.screencasts.downgrading.bt_for_free') %>"/>
      </fieldset>
    </form>
  </div>

  <div id="downgrade" style="display: none;">
    <p>
      <%= I18n.t('txt.admin.views.settings.screencasts.downgrading.msg_for_paying', :screenr_host => "#{screenr_integration_host}") %>
    </p>
    <p>
      <%= I18n.t('txt.admin.views.settings.screencasts.downgrading.note_for_paying')%>
    </p>
    <form>
      <fieldset>
        <div class="error"></div>
        <br/>
        <input id="close_modal" class="button" type="button" value="<%= I18n.t('txt.admin.views.settings.screencasts.downgrading.bt_cancel')%>"/>
        <input id="downgrade_button" class="button destructive" type="submit" value="<%= I18n.t('txt.admin.views.settings.screencasts.downgrading.bt_downgrade')%>"/>
        <img id="downgrading_spinner" src="/images/loader.gif" style="display: none;"/>
      </fieldset>
    </form>
  </div>
</div>
