<div id="screenr_provisioning" class="lv_action">
  <h1><%= I18n.t('txt.admin.views.settings.screencasts.provisioning.header') %></h1>
  <p><%= I18n.t('txt.admin.views.settings.screencasts.provisioning.once_you_confirm') %></p>
  <p><%= I18n.t('txt.admin.views.settings.screencasts.provisioning.after_created') %></p>
  <form>
    <fieldset>
      <div class="error"></div>
      <div class="submit">
        <input class="button" name="commit" type="submit" value="<%= I18n.t('txt.admin.views.settings.screencasts.provisioning.submit_button') %>" />
        <img id="provisioning_spinner" src="/images/loader.gif" />
      </div>
    </fieldset>
  </form>
</div>
