@import '_mobile_v2_mixins.css.scss';
@import '_mobile_v2_header.css.scss';

//******************************************************************************/
//* CSS animations                                                             */
//******************************************************************************/

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
    //   -moz-transform: rotate(0deg);
    //    -ms-transform: rotate(0deg);
    //     -o-transform: rotate(0deg);
    //        transform: rotate(0deg);
    //           filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
    //                   M11=1, M12=0, M21=0, M22=1, sizingMethod='auto expand');
    //             zoom: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    //   -moz-transform: rotate(360deg);
    //    -ms-transform: rotate(360deg);
    //     -o-transform: rotate(360deg);
    //        transform: rotate(360deg);
    //           filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
    //                   M11=1, M12=2.4492127076447545e-16, M21=-2.4492127076447545e-16, M22=1, sizingMethod='auto expand');
    //             zoom: 1;
  }
}

//******************************************************************************/
//* Global styles                                                              */
//******************************************************************************/

* {
  margin: 0px;
  padding: 0px;
}

html {
  // Prevent font scaling in landscape
  -webkit-text-size-adjust: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $text_color_dark;
  background: #f2f2f1 url(/classic/images/mobile/mobile-bg.png);
}

a, a:visited {
  color: rgba(44, 112, 153, 1);
}

img {
  border: none;
}

.clearfix {
  @include clearfix;
}

div#flash {

  display: none;
  position: relative;

  div {
    background: #EFEFEF;
    padding: 21px 50px 21px 15px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.4;

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10px;
      background: transparent;
      @include inset-shadow(0 5px 5px #C5C5C5);
      @include inset-shadow(0 5px 5px rgba(0, 0, 0, .2));
    };

  }

  span#close-icon {
    background: url(/classic/images/mobile/icon_close.png) no-repeat 34px center;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 50%;
    margin-top: -30px;
    right: 0;
  };
}

// Custom styles for form elements ----->>>>>>
div.field-wrapper {
  margin-bottom: 20px;

  h3[data-role=title] {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  div[data-role=description] {
    margin-bottom: 10px;
  }
}

#password_requirements {
  color: #444;
  background-color: #fff6c8;
  border: 1px solid #ffe778;
  @include round-corners;
  padding: 10px;

  ul {
    list-style-position: inside;
    line-height: 25px;
    font-size: 15px;
  }
}

div.field-wrapper:last-of-type {
  margin-bottom: 0px;
}

div.field-checkbox {
  position: relative;
  padding-left: 55px;
  min-height: 50px;

  label {
    margin-top: 3px;
  }

  input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Multi-layered drop-downs

div.field-dropdown {
  ul {
    display: none;
  }

  div.input-box {
    position: relative;
    @include inset-shadow;
    // it looks like an input field so the rest of the styles
    // are shared with input, textarea and  select
  }

  div.input-box:after {
    content: "\25bc";
    @include round-corners(0em, 0.5em, 0.5em, 0em);
    text-align: center;
    color: #c1c1c1;
    display: block;
    width: 40px;
    border-left: 1px solid #ccc;
    padding-top: 0.7em;
    pointer-events:none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
  }
}

div#overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  div#layer, div.field-dropdown {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
  }

  div#layer {
    z-index: 1;
    height: 100%;
    background: black;
    opacity: 0.7;
  }

  div.field-dropdown {
    z-index: 2;
    background: #f5f5f5;
    //box-shadow: 0 5px 10px #666;
    @include inset-shadow(0 0 15px #555);

    h3, ul {
      position: relative;
    }

    h3 {
      position: relative;
      display: block;
      cursor: pointer;
      padding: 10px 35px 10px 20px;
      margin: 0;
      text-shadow: 0 1px white;
      background: #fff;
      border-bottom: 1px solid #ccc;

      &:after {
        content: "\25B2";
        position: absolute;
        right: 15px;
        top: 30%;
        font-size: .9em;
        color: #c1c1c1;
      }
    }

    > ul {
      display: block;

      li {
        position: relative;

        a {
          display: block;
          text-decoration: none;
          color: #333;
          padding: 10px 40px;
          background: #fff;
          border-top: 1px solid white;
          border-bottom: 1px solid #ccc;
        }

        > ul {
          display: none;
        }

        &.sub {

          &:after {
            @include retina-sprites();
            background-position: 0 0;
            content: "";
            position: absolute;
            display: block;
            width: 9px;
            height: 13px;
            top: 13px;
            right: 15px;
          }

          &.open {

            > a {
              border-bottom: 1px solid #D5D5D5;
              background: #F2F2F1 url(/classic/images/mobile/mobile-bg.png);
            }

            &:after {
              left: 10px;
              @include retina-sprites();
              background-position: -100px -400px;
            }
          }
        }
      }
    }

  }
}

input, textarea, select, div.input-box {
  -webkit-appearance: none;

  @include border-box;
  @include round-corners-all;

  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  font-size: 1.0em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25em;
  width: 100%;

  &.error {
    border-color: red;
  }
}

input, textarea {
  @include inset-shadow;
}

textarea {
  resize: none;
}

select {
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.select-wrapper {

  position: relative;

  span.select-arrow {
    @include round-corners(0em, 0.5em, 0.5em, 0em);
    text-align: center;
    color: #000;
    display: block;
    width: 40px;
    border-left: 2px solid #c1c1c1;
    padding-top: 0.7em;
    pointer-events:none;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #fff;
  }
}

input[type=checkbox] {
  display: inline-block;
  font-size: 12px;
  line-height: 1em;
  margin: 0 0.25em 0 0;
  padding: 0;
  width: 3.2em;
  height: 3.2em;
}

input[type=checkbox]:checked {
  background: url(/classic/images/mobile/check_mark.png) no-repeat center center;
  -webkit-background-size: 3.2em 3.2em; /* shrink high resolution background */
}

div#recaptcha_widget {

  $captcha_img_height: 57px;
  $captcha_img_border: 1px;
  $size: $captcha_img_height + 2 * $captcha_img_border;

  position: relative;
  @include border-box;

  div#recaptcha_data {
    height: $size;
    margin-bottom: 10px;

    div#recaptcha_image {
      @include border-box;
      position: absolute;
      width: 100% !important;
      height: $size !important;
      padding-right: $size + 10px;

      img {
        border:$captcha_img_border solid #ccc;
        width: 100% !important;
      }
    }

    div#refresh {
      position: absolute;
      right: 0px;
      width: $size;
      height: $size;

      a {
        display: block;
        img {
          width: $size;
          height: $size;

          $animation_duration: 0.4s;
          -webkit-animation: all $animation_duration linear;
          //   -moz-animation: all $animation_duration linear;
          //    -ms-animation: all $animation_duration linear;
          //     -o-animation: all $animation_duration linear;
          //        animation: all $animation_duration linear;
        }
      }
    }
  }
}

li#show_more.show_more_bar {
  margin: 20px;
  > a {
    padding: .9em;
  }
}

a.button, .button, .show_more_bar a {

  @include round-corners;
  @include linear-gradient($button_color_top_dark, $button_color_bottom_dark);

  text-decoration: none;
  display: inline-block;
  padding: 0.9em;
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid #CCC;
  text-align: center;
  @include inset-shadow((inset 0px 1px 1px 0px #dee0e0, inset 0px -1px 0px #999));
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);

  span.spinner {
    display: none;
    img {
      width: 16px !important;
    }
  }
}

a.disabled, button:disabled {
  color: #ddd;
  opacity: 0.5;
}

a[data-disabled=true] {
  color: #ddd;
  opacity: 0.5;
}

.button-light {
  @include gradient-button($button_color_top_light, $button_color_bottom_light);
  display: block;
  text-align: center;
  margin-bottom: 15px;

  span.name {
    color: $text_color_dark;
  }
}

.twitter-label {
  position: relative;
  top: -0.2em;
}

.button.fullwidth {
  width: 100%;
  @include border-box;

  &.top-spacing {
    margin-top: 40px;
  }
}

div.wrapper, #search-results {
  background-color: #fff;
}

div.wrapper {
  @include inset-shadow(0 3px 6px #ddd);
  border-bottom: 1px solid #d3d5d5;
}

div#search-results {
  @include inset-shadow(0px 1px 2px rgba(0, 0, 0, 0.17));
  border-bottom: 1px solid #ccc;
}

footer {
  position: fixed;
  bottom: 0;
  background: #424242 url('/classic/images/mobile/footer-bg.png') repeat-x;
  width: 100%;
  border-top: 1px solid #4f4f4f;

  ul {
    list-style: none;

    li {
      margin: 0;
      float: left;
      height: 60px;

      &:first-child {
        border-right: 1px solid #262626;
        width: 50%;
      }

      &:last-child {
        border-left: 1px solid #545554;
        width: 49%;
      }

      &.full-width { width: 100% !important; }

      div {
        display: table;
        width: 100%;
        height: 100%;

        a, a:visited {
          color: #fff;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          padding: 0;
          margin: 0;
          text-decoration: none;
          font-weight: bold;
          text-shadow: 0px -1px 1px #262626;
          border: 0;
        }
      }
    }
  }
}

//******************************************************************************/
//* Local styles                                                               */
//******************************************************************************/

h2.topic-title {
  font-size: 1.3em;
  margin-bottom: .3em;
}

input[type=submit]:disabled,
button:disabled {
  color: #ddd;
  opacity: 0.5;
}

span.badge {
  @include round-corners(3px, 3px, 3px, 3px);
  background-color: #ccc;
  padding: 3px 5px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;

  &.new {
    background-color: #f1c200;
  }

  &.open {
    background-color: #db1b1b;
  }

  &.pending, &.hold {
    background-color: #4dabdc;
  }

  &.solved, &.closed {
    background-color: #6e6e6e;
  }



}

span.attention {
  color: #dd000e;
}

ul.list-view {
  list-style: none;

  li {
    position: relative;
    border-bottom: 1px solid #eee;

    &.show_more_bar {
      margin: 10px;
    }

    a {
      padding: 20px 15px;
      @include elip-text;

      display: block;
      color: $text_color_dark;
      text-decoration: none;

      small {
        color: #999;
        margin-top: 5px;
      }

      &.with-icon-space {
        padding-right: 25px;
      }
    }

    span.icon {
      width: 10px;
      height: 15px;
      display: block;
      position: absolute;
      top: 40%;
      right: 10px;
      @include retina-sprites();
      background-position: 0 0;
    }
  }

  li.pinned-entry {
    border-top: 1px solid #fffff1;
    border-bottom: 1px solid #e2d89d;
    background-color: #fff9cc;
    padding: 0;

    i {
      position: absolute;
      right: 0;
      top: 8px;
      background-repeat: no-repeat;
      @include retina-sprites();
      background-position: -86px -490px;
      width: 48px;
      height: 42px;
      border-left: 1px solid #E2D89D;
    }

    i.collapse {
      @include retina-sprites();
      background-position: 14px -490px;
    }

    a {
      padding: 20px 70px 20px 15px;

      &:first-child {
        padding: 20px 15px;
      };
    }
  }

  li.pinned-entry.hidden {
    display: none;
  }

  .show_more_bar {
    text-align: center;

    a {
      color: #fff;
    }
  }
}

div.content {
  padding: $gutter_width;

  h1, h2, h3, h4, h5 {
    margin-bottom: 5px;
  }

  div#input_wrapper {
    position: relative;
  }

  div#submit_cancel_container input[type=submit] {
    margin-right: 50px;
  }

  div.item {
    margin-bottom: 20px;
  }

  div.submitter {
    margin-bottom: 20px;
  }

  div.item:last-child {
    margin-bottom: 0;
  }

  p.spacer-padded {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  div.row {
    position: relative;
    margin-bottom: $elm_vert_spacing;

    div.col {
      width: 50%;
      float: left;

      img {
        margin-bottom: -2px;
      }

      span.name {
        color: $text_color_dark;
      }
    }

    div.col > * {
      display: block;
      text-align: center;
    }

    div.col.left > * {
      margin-right: $elm_hori_spacing / 2;
    }

    div.col.right > * {
      margin-left: $elm_hori_spacing / 2;
    }
  }

  p {
    margin-bottom: 20px;
    line-height: 26px;
  }

  p:last-child {
    margin-bottom: 0px;
  }

  //******************************************************************************/
  //* Grouped form fields
  //******************************************************************************/
  div.grouped-fields {
    @include round-corners;
    @include inset-shadow;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;

    input[type="text"], input[type="password"], input[type="email"] {
      padding-left: 10px;
      margin: 0;
      @include inset-shadow(none);
      @include round-corners(0px);
      border: none;
      background-color: transparent;
      -webkit-appearance: caret;
      height: 54px;
    }

    hr {
      background-color: #dfdfdf;
      border: 0;
      height: 1px;
    }

    input.last {
      border: none;
      display: inline-block;
      width: 80%;
    }

    a {
      position: absolute;
      text-align: center;
      height: 55px;
      width: 20%;
      right: 0;
      text-decoration: none;
      color: white;

      span {
        background: #ccc;
        display: table;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        padding-top: 1px;
        position: absolute;
        top: 14px;
        right: 15px;

        b {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}

.access {
  div.content {
    padding-top: 40px;

    .spacer-padded {
      color: #999;
      padding-bottom: 10px;
      margin-bottom: 0px;
    }
  }

  &.unauthenticated {
    div#sign-out-fullsite {
      display: none;
    }
  }
}

ul.comments {
  border-bottom: 1px solid #fff;

  li {
    @include word-wrap;
  }

  li.comment {
    padding: 15px 20px;
    border-bottom: 1px solid #d1d1d1;

    & + li {
      border-top: 1px solid #fff;
    }

    div.body {
      margin-bottom: 2px;
      line-height: 26px;

      @include rich-content;
    }

    div.attachments {
      margin-bottom: 10px;
      ul {
        list-style: none;
      }
    }
  }
}

ul.comments {
  div.meta {
    font-size: 0.8em;
    color: #a2a2a2;
  }

  &.unauthenticated {
    div#sign-out-fullsite {
      display: none;
    }
  }
}

div.meta {
  margin-bottom: 20px;

  &.ticket {
    margin-bottom: 20px;
  }

  span.date-right {
    float: right;
    font-weight: normal;
  }

  p {
    line-height: 15px;
    margin-bottom: 5px;
  }

  span.requester, span.created_at, span.assignee {
    background-image: url(/classic/images/mobile/delimiter.png);
    background-repeat: no-repeat;
    background-position: 3px 6px;
    padding-left: 15px;
    color: #999;
    font-size: 13px;
  }

  span.created_at {
    background: none;
    padding-left: 0;
  }

  span.assignee {
    background: none;
  }

  span.assignee {
    margin-left: 10px;
    padding-left: 18px;
    position: relative;

    .icon {
      @include retina-sprites();
      background-position: 0 -400px;
      width: 13px;
      height: 13px;
      display: inline-block;
      left: 0px;
      position: absolute;
    }
  }
}

div#comment-flash, div#date-flash {
  &.error {
    color: red;
    margin-bottom: 10px;
  }
}

div#flash {
  ul {
    list-style-position: inside;
    margin-top: 5px;
    font-size: 15px;
  }
}

form.add-comment {

  textarea {
    @include inset-shadow;
    @include round-corners;

    width: 100%;
    /* This is to avoid 100% width + padding causing overflow */
    @include border-box;

    margin-bottom: 10px;
    padding: 8px 11px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(178, 178, 178, 1);
    resize: none;
  }

  textarea.error {
    @include red-inset-shadow;
    border: 1px solid red;
  }
}

div.meta {
  color: rgba(119, 119, 119, 1.0);
  font-size: 0.8em;
  margin-bottom: 7px;
}

div.sub-header, h2.page-title, h2.comments-title {
  text-align: center;
  background: #898989 url(/classic/images/mobile/bg-breadcrumb.png);
  border-top: 1px solid #888;
  min-height: 19px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  color: #fff;
  text-shadow: 0 -1px 0 #3a3b3b;
  padding-top: 13px;
  padding-bottom: 13px;

  h4 {
    margin: 0px;
  }
}

h2.comments-title {
  text-align: left;
  height: 35px;
  line-height: 35px;
  padding-top: 0;
  padding-bottom: 0;
}

h4.attachments-title {
  font-weight: normal;
  font-size: 1em;
  margin-top: 10px;
}

p#captcha_label {
  color: #939393;
  font-size: 0.85em;
  margin-bottom: 5px;
}

div#ticket_update {
  padding: 10px 20px;
}

div#sign-out-fullsite {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  span {
    a, a:visited {
      color: $text_color_dark;
    }
    display: inline-block;
    padding: 20px 10px;
  }
}

//******************************************************************************/
//* Page specific styles
//******************************************************************************/

body.mobile\/landing_page.index {
  text-align: center;

  div#mobile-header-wrapper{
    display: none;
  }

  div.wrapper {
    padding: 50px;

    h3 {
      margin-bottom: 50px;
    }

    ul {
      list-style: none;

      li {
        margin: 20px;
      }
    }
  }
}

body.registration.index {
  a#cancel {
    display: inline-block;
    padding: 14px 0px;
  }

  div.content {
    padding-bottom: 0px;
  }
}

body.registration.success {
  h3.top {
    margin-bottom: 30px;
  }
}

body.forums.index {
  margin-bottom: 70px;
}

body.requests\/anonymous.new, body.requests\/portal.new {
  div.field-wrapper {
    @include clearfix;
  }

  label#send-me-news {
    font-weight: normal;
    font-size: 1.0em;
    line-height: 3.1em;
    margin-left: 20px;
    margin-bottom: 0px;
  }

  input[id^=ticket_fields][type=checkbox] {
    float: left;
  }

  #ticket_date {
    label {
      display:block;
      margin-top: 10px;
    }

    .select-wrapper {
      margin-top: 10px;
    }
  }
}

body.requests\/portal.show {
  div.events {
    border-bottom: 1px solid #fff;

    div.event {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #d1d1d1;
      padding: 20px;

      div.body {
        @include word-wrap;
        margin-bottom: 10px;
        ul {
          list-style: none;
        }

      }

    }
  }

  label[data-role=title] {
    font-size: 1em;
    font-weight: normal;
  }

  input[type=checkbox] {
    margin: 0 10px 0 0;
    vertical-align: middle;
  }
}

body.entries.show {
  div.content {
    ul.attachments {
      margin-left: 0;
    }

    @include rich-content;
  }
}

ul.attachments {
  list-style-type: none;
  display: block;
  margin: 10px 0 0 0;

  li {
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px 5px 0;
    display: inline-block;

    a {
      background-color: #f1f1f1;
      background-repeat: no-repeat;
      padding: 6px 6px 6px 23px;
      text-decoration: none;
      display: inline-block;
      font-weight: normal;
      @include round-corners(4px, 4px, 4px, 4px);
      font-size: 11px;
      line-height: 11px;
    }

    &.attachment a {
      background-image: url(/classic/images/mobile/attachment-icon.png);
      background-position: 5px center;
    }

    &.screencast a {
      background-image: url(/classic/images/mobile/screencast-icon.png);
      background-position: 7px center;
    }
  }
}
