@import '_mobile_v2_mixins.css.scss';

html.searchSpinner {
  background-image: url(/classic/images/mobile/spinner.svg);
  background-position: 50% 100px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

div#mobile-header-wrapper {

  header {
    position: relative;

    a.logo {
      position: absolute;
      display: block;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      div#logo-wrapper {
        width: 55px;
        height: 55px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        img {
          display: block;
          margin: 0 auto;
          max-width: 55px;
          max-height: 55px;
        }
      }
    }
    @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5) {
      a.logo {
        width: 55px;
        height: 55px;

        div#logo-wrapper {
          display: none;
        }
      }
    }

    h1 {
      @include elip-text;
      font-size: 16px;
      line-height: 55px;
      height: 55px; // Leave here in case of empty title
      text-align: center;
      margin: 0 60px;
    }

    a#search-button {
      text-shadow: transparent 0 0 0;
      color: transparent;
      position: absolute;
      top: 12px;
      right: 5px;
      margin-right: 2px;
      width: 30px;
      height: 30px;
      @include round-corners;
      @include inset-shadow((0 1px 1px rgba(255, 255, 255, .3), inset 0 1px 1px rgba(0, 0, 0, 0.3)));
      border: 0px;
      @include retina-sprites();
      background-position: -93px -94px;
    }
  }

  div#search {
    position: absolute;
    top: 0;
    width: 100%;
    height: 55px;
    display: none;

    form {
      height: inherit;

      div#va-wrapper {
        display: table;
        height: inherit;
        width: 100%;

        div#vertical-aligner {
          display: table-cell;
          vertical-align: middle;
          padding: 0 10px;

          div#hs-wrapper {
            display: table;
            width: 100%;

            & > div {
              display: table-cell;
              vertical-align: middle;
              position: relative;

              &.horisontal-spacer {
                width: 100%;
                position: relative;
                padding-right: 10px;
              }

              .icon-wrapper, .dismiss-wrapper {
                position: absolute;
                top: 0;
                bottom: 0;
                display: table-cell;
                vertical-align: middle;

                .vertical-spacer {
                  height: 50%;
                }
              }

              .icon-wrapper {
                div.icon {
                  @include retina-sprites();
                  background-position: 8px -193px;
                  width: 30px;
                  height: 30px;
                  margin-top: -15px;

                  &.searching {
                    background: url(/classic/images/mobile/spinner.svg) 7px 7px no-repeat;
                    background-size: 16px 16px;
                  }
                }
              }

              .dismiss-wrapper {
                right: 10px;

                .reset {
                  display: none;
                  width: 30px;
                  height: 30px;
                  margin-top: -15px;
                  @include retina-sprites();
                  background-position: -95px -193px;
                }
              }

              input[type="search"] {
                font: normal normal normal 14px/16px 'Helvetica', Arial;
                color: #444;
                border: 1px solid #777;
                @include round-corners(16px, 16px, 16px, 16px);
                @include inset-shadow;
                padding: 6px 25px;
                outline: none;
              }

              div.input-wrapper {
                position: relative;
                border: 2px solid green;
              }

            }
          }

          input.cancel {
            padding: 4px 10px;
            @include round-corners;
            @include inset-shadow((0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.1)));
            text-decoration: none;
          }
        }
      }
    }
  }
}
