* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-style:normal;
  font-variant:normal;
}

div#header {
  width: 100%;
  height: 57px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: white;
  font-size: 18px;
  background-image: url('/classic/images/iphone/toolbar_green.png');
  background-repeat: x;
}

div#header div.logo {
  width:55px;
  float:left;
  padding-top:6px;
  padding-left:7px;
}

div#header div.text {
  float:left;
  height:53px;
  line-height:27px;
  width: 75%;
}

div#ticket_update {
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 4px 20px 10px 20px;
  width: 96%;
  background-color: #e8e8e8;
}


p.handled {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

div#notice {
  width: 280px;
  overflow: hidden;
  color: green;
  padding-bottom: 10px;
}

div#error {
  width: 280px;
  overflow: hidden;
  color: red;
  padding-bottom: 10px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*margin: 0 auto -43px;*/
}
.footer, .push {
    height: 43px;
    margin: 7px 0px 0px -20px;
    padding-right: 20px;
    padding-left: 20px;
}

textarea {
  width:245px;
  height:60px;
}

div.footer {
  background-image: url('/classic/images/iphone/toolbar_green.png');
  background-repeat: x;
  width: 100%;
  height: 43px;
  color: white;
  font-size: 14px;
}

div.footer a {
  color: white;
  text-decoration: none;
}

div.footer img {
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
  display:block;
  padding-top:4px;
}

table.footertable {
  padding-top: 8px;
  width: 100%;
}

table.footertable td {
  text-align: center;
}
table.footertable td.left, table.footertable td.right {
  width: 80px;
}


h3, label {
  padding: 8px 0 0 0;
  margin: 0;
  font-size:13px;
  font-weight:bold;
  display:block;
}

a.ilist {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

a.ilist:hover {
  color: silver;
}

hr {
  border: 0;
  width: 90%;
  color: silver;
  background-color: silver;
  height: 1px;
  margin: 9px 0 9px 0;
}

div#canvas {
  padding: 10px;
}


.webkitbutton {
  -webkit-appearance:square-button
}

/*
div.signup_faq_left {
  width:320px;
}

div.signup_faq_right {
  width:320px;
}
*/

h2 {padding-top:15px;}

h2 span.sub {
  font-size: 9px;
  color: #555;
}

.intro h3  {
  font-size:12px;
  display:inline;
  padding: 4px 8px 4px 8px;
  /*background: #B94126;*/
  background: #222;
  /*background: #6193A5;*/
  color: white;
}

.intro p  {
  padding: 5px 0 5px 0;
  margin: 15px 0 0 0;
  font-size:14px;
}

p.forum-description {
  padding: 5px 0 5px 0;
}

#top-right { float:right; font-weight: bold; font-size: 11px; padding: 5px 15px 0 0; }
#top-right a { text-decoration: underline; color:#777;}

#attach_file_link {display: none;}

/* Paginator */
div.pagination { width: 500px; text-align: center; height: 20px; margin: 22px auto 5px auto; padding-top: 4px; font-size: 13px; }
div.pagination span, div.pagination a { margin-left: 3px; margin-right: 3px; }
div.pagination span.current { font-weight:bold; color: #b3b3b3;}
div.pagination span.disabled { color: #b3b3b3;}
