//******************************************************************************/
//* Globals                                                                    */
//******************************************************************************/

// iPhone resolution as target
$target_width: 320px;
$target_height: 480px;

$gutter_width: 20px;
$elm_vert_spacing: 10px;
$elm_hori_spacing: 10px;

// Dark colors
$text_color_dark: #444;
$button_color_top_dark: #DDD;
$button_color_bottom_dark: #AAA;

// Light colors
$text_color_light: lighten($text_color_dark, 35%);
$button_color_top_light: lighten($button_color_top_dark, 35%);
$button_color_bottom_light: lighten($button_color_bottom_dark, 35%);

// Border radius
$default-radius: 5px;

//******************************************************************************/
//* Mixins                                                                     */
//******************************************************************************/

@mixin inset-shadow($inset-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1)) {
  -moz-box-shadow: $inset-shadow;
  -webkit-box-shadow: $inset-shadow;
  box-shadow: $inset-shadow;
}

@mixin red-inset-shadow($inset-shadow: inset 0px 0px 5px rgba(255, 0, 0, 0.3)) {
  @include inset-shadow($inset-shadow)
}

@mixin round-corners($top-left: $default-radius, $top-right: $default-radius, $bottom-right: $default-radius, $bottom-left: $default-radius) {

  /* Saf3-4, iOS 1-3.2, Android <=1.6 */
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  border-radius: $top-left $top-right $bottom-right $bottom-left;

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

@mixin round-corners-all($radius: $default-radius) {
  @include round-corners($radius, $radius, $radius, $radius);
}

@mixin elip-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}

@mixin bottom-border {
  background: transparent url(/classic/images/mobile/horiborder.gif) repeat-x bottom;
}

@mixin top-border {
  background: transparent url(/classic/images/mobile/horiborder.gif) repeat-x top;
}

@mixin linear-gradient($gradient-color-top, $gradient-color-bottom) {
  background-color: $gradient-color-bottom;
  background-image: -webkit-gradient(linear, left top, left bottom, from($gradient-color-top), to($gradient-color-bottom)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $gradient-color-top, $gradient-color-bottom); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $gradient-color-top, $gradient-color-bottom); /* FF3.6+ */
  background-image:     -ms-linear-gradient(top, $gradient-color-top, $gradient-color-bottom); /* IE10 */
  background-image:      -o-linear-gradient(top, $gradient-color-top, $gradient-color-bottom); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, $gradient-color-top, $gradient-color-bottom);
}

@mixin gradient-button($gradient-color-top, $gradient-color-bottom) {

  @include linear-gradient($gradient-color-top, $gradient-color-bottom);

  text-decoration: none;
  display: inline-block;
  padding: 14px 14px;
  font-size: 1.1em;
  line-height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.5);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

@mixin word-wrap {
  -ms-word-break: break-all;
  word-break: break-all;

  // Non standard for webkit
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@mixin retina-sprites() {
  $file: "/classic/images/mobile/sprite600x200";
  $type: "png";

  background-image: url($file + '.' + $type);
  background-repeat: no-repeat;

  @media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5) {
    & {
      background-image: url($file + '@2.' + $type);
      -webkit-background-size: 200px 600px;
      -moz-background-size: 200px 600px;
    }
  }
}

@mixin rich-content {

  span {
    // !important is necessary because the
    // rich-text-editor inlines background-color styling in the markup
    background-color: transparent !important;
  }

  h2.topic-title {
    font-size: 1.4em;
  }

  h1, h2, h3, h4 {
    @include word-wrap;
  }

  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1.1em;
    color: #666;
  }

  pre {
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    color: #333;
    font-size: 0.9em;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  blockquote {
    background-color: #F6F6F6;
    border: 1px solid #E6E6E6;
    font-family: courier;
    padding: 10px 0px 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
  }


  ul, ol {
    display: block;
    list-style-position: outside;
    margin: 0 0 20px 22px;
    li {
      line-height: 26px;
      ul, ol {
        li {
          padding-left: 10px;
        }
      }
    }
  }

  ul {
    list-style-type: disc;

    li {
      margin: 5px 0;
    }
  }

  p img {
    margin-top: 10px;
  }

  img {
    -webkit-transition: width 250ms ease-in, height 250ms ease-in;
       -moz-transition: width 250ms ease-in, height 250ms ease-in;
         -o-transition: width 250ms ease-in, height 250ms ease-in;
            transition: width 250ms ease-in, height 250ms ease-in;
  }

}
