@import "../mixins.css.scss";

body {
  background: #6A9101;
  color: white;
  font-family: 'Lucida Sans Console', 'Lucida Grande';
  height: 100%;
  width: 90%;
  margin: 0 auto;
  text-align: center;

  &.android_internal {
    background: #FFFFFF;
    .input-wrapper {
      border-bottom: solid #A9A9A9 2px;
      margin-top: 10px;

      &:hover {
        border-color: #78A300;
      }

      input {
        margin: 0;
        width: 99%;
      }

      .left-tray {
        height: 5px;
        border-left: solid #A9A9A9 2px;
        margin-top: -5px;
      }

      .right-tray {
        right: 0;
        height: 5px;
        border-right: solid #A9A9A9 2px;
        margin-top: -5px;
      }
    }

    input#sign_in {
      @include border-radius(2px);
      background: #78A300;
      width: 100%;
      border: none;
      color: #fff;
      text-shadow: none;
      margin-top : 20px;
    }

  }

  &.ios7_internal {
    background: #FFFFFF;
    .input-wrapper {
      border-bottom: solid #E7E7E7 1px;

      &:last-child {
        border-bottom: none;
      }
    }

    input#sign_in {
      left: -9999px;
      position: absolute;
    }
  }

  &.ipad_internal {
    background: #F5F5F5;
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;

    .grouped-fields {
      margin: 20px 0px;
    }

    .input-wrapper {
      height: 50px;
      border: solid #D2D2D2 1px;
      margin: 0px;
      background: white;
      @include border-radius(10px 10px 0px 0px);
      color: #292929;

      &:last-child {
        @include border-radius(0px 0px 10px 10px);
        border-top: none;
      }

      .label {
        width: 27%;
        float: left;
        margin-left: 3%;
        margin-top: 15px;
        text-align: left;
        font-weight: bold;
      }
    }

    input {
      width: 70%;
      float: left;
      outline: none;
    }

    input#sign_in {
      @include border-radius(5px);
      @include gradient(#fdfdfd, #eeeeee);
      width: 100%;
      border: solid #D2D2D2 1px;
      font-weight: bold;
      color: #575757;
      text-shadow: none;
    }
  }
}

#logo {
  margin: 0 auto;
  margin-top: 25%;
  margin-bottom: 10%;
}

h3 {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 10px 2px;
}

.grouped-fields {
  position: relative;
}

input {
  border: 0;
  @include border-radius(3px);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 5px 0px;
  padding: 10px 8px;
  font-size: 18px;
}

#sign_in {
  border: solid #B75500 1px;
  color: white;
  @include gradient(#ffc14d, #ec7b00);
  font-family: inherit;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  width: 100%;
  @include border-radius(3px);
  font-size: 16px;
}

input[readonly] {
  opacity: 0.85;
}
