/* Overrides all.css and produces a print version with menues etc. */
html {overflow: visible;}
body { background: white; font-size: 11px; font-family: Arial, Helvetica, sans-serif; }
#page { background: white; width: 100%; height: 100%;  }
div#container { width: 100%; margin: 0; background: #fff; padding: 16px 0 0 0; overflow: visible; }
#top, #latest_comment, #comment_type, .action, .content-top-right, .quick-case,
#latest_comment, #footer, .content_grey .action, #topquery
#ticket-chat .public, #ticket-chat .action, #_macro_list, .link, .widget, #add_widget_button { display:none }
.drop-list .link, #latest_comment.header_section { display: block }
