<% if records.present? %>
  <div id="search-result" class="frame hover-actions <%= klass.to_s if defined?(klass) %>">
    <% records.each do |record| %>
      <div class="<%= search_result_class(record) %> <%= 'nobottom' if record.equal?(records.last) %>">
        <% if record.is_a?(User) %>
          <%= render :partial => 'people/users/user', :locals => {:user => record, :allow_user_bulk_update => ( defined?(allow_user_bulk_update) && allow_user_bulk_update )} %>
        <% elsif record.is_a?(Group) %>
          <%= render :partial => 'people/groups/group', :locals => {:group => record} %>
        <% elsif record.is_a?(Organization) %>
          <%= render :partial => 'people/organizations/organization', :locals => {:organization => record} %>
        <% elsif record.is_a?(PermissionSet) %>
          <%= render :partial => 'people/roles/permission_set', :locals => {:permission_set => record} %>
        <% elsif [Role::ADMIN, Role::AGENT].include?(record) %>
          <%= render :partial => 'people/roles/role', :locals => {:role => record} %>
        <% elsif record.is_a?(Entry) %>
          <%= render :partial => 'entries/entry', :locals => {:entry => record} %>
        <% elsif record.is_a?(Post) %>
          <%= render :partial => 'posts/post', :locals => {:post => record} if current_user.can?(:view, record.forum) %>
        <% elsif record.is_a?(Vote) %>
          <%= render :partial => 'votes/vote', :locals => {:watching => record} %>
        <% elsif record.is_a?(Watching) %>
          <%= render :partial => 'watchings/watching', :locals => {:watching => record} %>
        <% elsif record.is_a?(Ticket) %>
          <%= render :partial => 'tickets/ticket', :locals => {:ticket => record} %>
        <% else %>
          <%= render :partial => record %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if defined?(show_max_page_tooltip) && show_max_page_tooltip %>
    <div class="support_info">
      <div class="information">
        <p>
          <%= I18n.t("txt.admin.views.people.search.index.max_page_info") %>
        </p>
      </div>
    </div>
  <% end %>

  <% if defined?(pagination_options) && pagination_options %>
    <%= will_paginate records, pagination_options %>
  <% else %>
    <%= will_paginate records %>
  <% end %>
<% elsif !records.nil? %>
  <div class="frame">&nbsp;</div>
<% end %>
