<% content_for :sidebar do %>
  <% if !current_user.is_end_user? && params[:forum_id].blank? %>
    <%= div_side_box(I18n.t('txt.admin.views.search._sidebar.search_label')) do %>
      <p><%= I18n.t('txt.admin.views.search._sidebar.Search_users_groups_organizations_tickets') %></p>
      <h5><%= I18n.t('txt.admin.views.search._sidebar.Search_examples') %></h5>
      <ul class="options">
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.assignee_me_printer_fire') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.assignee_none') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.requester_me_zendesk_com') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.requester_Joe_Doe') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.group_support') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.group_none') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.status_solved') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.ticket_type_problem') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.priority_normal') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.tags_printer_hardware') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.updated_date') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.name_Mikkel_Svane') %></tt></li>
        <li><tt><%= I18n.t('txt.admin.views.search._sidebar.type_ticket_Smith') %></tt></li>
      </ul>

      <p><%= I18n.t('txt.admin.views.search._sidebar.Find_more_examples_in_the') %></p>
    <% end %>

    <%= render :partial => 'shared/browse_tickets' %>
  <% end %>
<% end %>
