<% @page_title = I18n.t('txt.search.title') %>

<%= render :partial => 'sidebar' %>

<%= div_content do %>
  <%= form_tag({ :controller => "search" },
              { :id => "searchform", :method => 'GET'}) do %>

    <%= text_field_tag(:query, params[:query], {:style => 'width:550px', :class => 'title'}) %>
    <%= hidden_field_tag('forum_id', params[:forum_id]) if params[:forum_id] %>
    <%= hidden_field_tag('backend', params[:backend]) if params[:backend] %>
    <%= submit_tag(I18n.t('txt.search.go'), :class => 'button search') %>

  <% end %>
<% end %>

<%= div_content do %>
  <% if @result.blank? %>
    <h2><%= search_title(@result) %></h2>
  <% else %>

    <% if current_user.is_agent? %>
      <div class="content-top-right">
        <p>
          <%= link_to_if(params[:by_updated].blank?, I18n.t('txt.admin.views.search.index.Sort_by_latest_activity'), params.merge(:by_updated => '1', :page => 1)) %>
          <span class="delim">|</span>
          <%= link_to_if(params[:by_updated].present?, I18n.t('txt.admin.views.search.index.Sort_by_relevance'), params.merge(:by_updated => '', :page => 1)) %>
        </p>
      </div>
    <% end %>

    <h2><%= search_title(@result) %></h2>
    <%= content_tag(:div, class: "frame paginates_with_more", id: "search-result") do %>
      <%= render :partial => 'result', :locals => { :records => @result } %>
    <% end %>
  <% end %>
<% end %>
