
<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_1', :locale => @agreement.account.translation_locale) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.invite_revoke.body_2', :agreement_name => @agreement.name, :agremment_account_name => @agreement.account.sharing_name, :locale => @agreement.account.translation_locale) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.invite_revoke.body_3', :locale => @agreement.account.translation_locale) %></p>

<p><%= build_lotus_url({:host => @agreement.account.url}) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.invite_revoke.body_4', :locale => @agreement.account.translation_locale) %></p>
