<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_1', :locale => @agreement.account.translation_locale) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.new_from_partner.body_2', :agreement_account_name => @agreement.account.name, :agreement_remote_admin => @agreement.remote_admin_name, :agreement_name => @agreement.name, :locale => @agreement.account.translation_locale) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.new_from_partner.body_3', :locale => @agreement.account.translation_locale) %> </p>

<p><%= build_lotus_url({:host => @agreement.account.url, :agreement_id => @agreement.id}) %> </p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.new_from_partner.body_4', :locale => @agreement.account.translation_locale) %></p>
