
<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_1', :locale => @agreement.account.translation_locale) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.sharing_agreement_deleted.body_1', :locale => @agreement.account.translation_locale) %></p>

<p><%= build_lotus_url({:host => @agreement.account.url}) %></p>
