
<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_1', :locale => @agreement.account.translation_locale) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_2_' + @agreement.status.to_s, :agreement_name => @agreement.name, :agreement_admin_name => @changed_by, :locale => @agreement.account.translation_locale) %></p>

<%- if @agreement.status == :accepted -%>
<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_3', :agreement_name => @agreement.name, :locale => @agreement.account.translation_locale) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_4', :locale => @agreement.account.translation_locale) %></p>
<%- elsif @agreement.status == :declined -%>
<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_5', :agreement_name => @agreement.name, :locale => @agreement.account.translation_locale) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_6', :locale => @agreement.account.translation_locale) %></p>
<%- end -%>

<p><%= build_lotus_url({:host => @agreement.account.url}) %></p>

<%- if @agreement.status == :accepted -%>
<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_7', :locale => @agreement.account.translation_locale) %></p>
<%- elsif @agreement.status == :declined -%>
<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_8', :locale => @agreement.account.translation_locale) %></p>

<p><%= I18n.t('txt.views.sharing.agreement_mailer.status_change.body_9', :locale => @agreement.account.translation_locale) %></p>
<%- end -%>
