
<%= Zendesk::Liquid::MailContext.render(
  template: @agreement.account.html_mail_template,
  header: @subject,
  content: render(:partial => 'status_change'),
  footer: footer(@agreement.account)).html_safe %>
