@import "../mixins.css.scss";

.button, .content a.button,
.button_disabled {

  $gradient-top: #ffffff;
  $gradient-bottom: #ebebeb;

  $gray-gradient-top: #939393;
  $gray-gradient-bottom: #7a7a7a;

  @include gradient-button($gradient-top, $gradient-bottom);

  color: #333;
  font-size: 13px;
  line-height: 16px;
  padding: 4px 14px;

  &:hover {
    background-position: 0 -30px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }

  &:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  .submit-icon {
    background: url(/classic/images/button-bg_submit.gif) repeat-x scroll bottom left #fefffe;
    padding-left: 26px;
    padding-right: 10px;
  }

  &.call, {
    @include gradient-button(#ffac3e, #ff9d00);
    font-size: 17px;
    line-height: 25px;
    padding: 6px 50px;
  }

  &.primary,
  &.save {
    @include gradient-button($gray-gradient-top, $gray-gradient-bottom);

    &:hover {
      color: #fff;
    }
  }

  &.destructive {
    color: #B65151;
    font-weight: normal;
    -webkit-transition: 0 linear all;
    -moz-transition: 0 linear all;
    transition: 0 linear all;

    &:hover,
    &.extra {
      /* Reads as "button extra destructive", highlighting the button as very red without the need for mouse over */
      color:#fff;
      @include gradient_button(#ee5f5b, #c43c35);

      border-color: #c43c35 #c43c35 #882a25;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }
  }

  &.search {
    font-size: 17px;
    line-height: 25px;
    font-weight: normal;
    margin: 0px 0px 0px 5px;
    padding: 4px 10px;
    vertical-align: middle;
  }

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .users-index &, .groups-index &, .organizations-index &, .roles-index &, .tags-index & {
    html[data-rtl-language='true'] & {
      margin: 0px 5px 0px 0px;
    }
  }

  &.small {
    padding: 2px 10px;
    font-size: 11px;
  }

  &.right {
    float: right;
  }

  &.left {
    float: left;
  }
}

a.button.submit-icon {
  padding: 5px 9px 4px 26px;
  font-size: 11px;
}

.button.vote {
  background: url(/classic/images/button-bg_submit_vote.png) no-repeat scroll bottom left #fefffe;
  padding: 6px 5px 5px 27px;
}

a.button.submit-icon {
  text-decoration: none;
}

/* Here's the magic cool stuff to make inputs look just like anchors and buttons. Unlike anchors and
buttons we can only include one background image. We can still sprite this, but it must include
both the gradient AND the icon.

The default background for an icon input is the plus symbol. Add further classes to add different
images. Note, the image should be the same dimension and formlayout as button-bg_submit.gif

i.e. To add in a different icon, we would do <input class="button icon thumbs_up"> thus having
the background images changed by the following CSS declaration: input.button.icon.thumbs_up {
}
*/

.button:active,
.button.active {
  background-position: top left;
}
.button.submit-icon:active, .button.vote:active {
  background-position: 0 -1px;
}

.button.negative {
  color: #e74a4b;
}
.button.positive {
  color: #529214;
}

.button.negative:hover {
  border-color: #ffbdbd;
  color: #d42020;
}

.button.submit-icon span {
  padding: 0 0 0 16px;
}

button[disabled].activity span, input[disabled].activity {
  background: transparent url(/classic/images/loader.gif) no-repeat scroll 0 -1px;
  padding: 0 0 0 20px;
}

button[disabled].activity {
  padding-left: 6px;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
}
