#cboxLoadedContent {
  font-size: 12px;

  p {
    margin: 0.3em 0 0.7em 0;
    color: #666;

    &.action {
      margin-top: 10px;
      text-align: left;
    }

    &.separate {
      border-bottom: 1px dashed #BBB;
      padding-bottom: 15px;
      margin-bottom: 10px;
    }
  }

  p, ul {
    line-height: 1.4em;
  }

  h1 {
    margin: 0.5em 0 1em 0;
    font-size: 14px;
  }

  h2 {
    margin: 1em 0 0.3em 0;
    font-size: 14px;
  }

  h3 {
    font-size: 13px;

    li.notification, li.change {
      list-style-type: none;
      width: 410px;
      color: #666;
    }
  }

  h1 .sub, h2 .sub {
    color: #aaa;
    font-weight: normal;
  }

  table.selector {
    margin-top: 8px;

    td {
      padding-right: 15px;
      padding-left: 10px;
      border-left: 1px solid #ddd;
    }
  }

  .lv_action {
    font-size: 12px;
    /*width: 350px;*/
    padding: 5px 10px 10px 10px;
    background-color: #eee;

    h1 {
      font-size: 18px;
    }

    hr {
      background: #e4e4e4;
      border: 0;
      color: #e4e4e4;
      height: 1px;
      margin: 20px 0;
    }

    .action {
      padding-right: 0;
    }

    .sub-info-small {
      color: #666;
      font-size: 11px;
      padding-top: 2px;
      font-weight: bold;
    }
  }

  .lv_options {
    padding: 5px 0 5px 20px;
  }

  .lv_indented_options {
    padding: 5px 0 5px 30px;
  }
}