span.zd_label { 
  border-radius: 4px; 
  display: none;
  font-weight: bold; 
  padding: 2px 4px; 
  /*margin-top: 3px;*/
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
} /* basic shape and style of zd_label sitewide */

  span.zd_label.selected {
    display: block;
  } /* show when selected */

  span.zd_label.answered, 
  span.zd_label.done { 
    background: #7eab38; 
    color: #fff; 
  } /* color and background for answered and done zd_label sitewide */

  span.zd_label.planned { 
    background: #dd7a18;
    color: #fff; 
  } /* color and background for planned zd_label sitewide */

  span.zd_label.not_planned { 
    background: #BBB;
    color: #fff; 
  } /* color and background for not_planned zd_label sitewide */

  div.item span.zd_label {
    float: right;
    font-weight: bold;
    padding: 2px 5px;
    margin-left: 12px;
  } /* for listings, hidden by default */

p.info span.selected {
  display: inline;
} /* show when selected */

body.entries div.frame div.entry span.zd_label {
  float: right; 
  font-size: 13px;
  padding: 2px 5px;
  margin-top: 11px;
} /* for entry, zd_label for top right corner */
