@import "../mixins.css.scss";

.zendesk-js-login {
  .flash {
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;

    &.flash-error {
      background: #ffeded;
      border-color: #f7cbcb;
    }

    &.flash-notice{
      background: #dbf3ff;
      border-color: #b5e0f5;
    }
  }

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clear {
    clear: both;
  }

  .service {
    border-style: solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    color: #FFF;
    cursor: pointer;
    display: block;
    height: 36px;
    line-height: 35px;
    + .service {
      margin-top: 25px;
    }
    &:hover {
      text-decoration: none;
    }
    span {
      border-right: 1px solid;
      border-right-color: inherit;
      bottom: -1px;
      display: inline-block;
      font-family: "entypo";
      font-size: 18px;
      height: 34px;
      line-height: 34px;
      margin-right: 7px;
      padding: 0 10px;
      position: relative;
      speak: none;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
    }
  }

  .twitter {
    background: #00ACED;
    border-color: #239CCF;
    box-shadow: inset 0 1px #69C4EA;
    &:hover { background: lighten(#00ACED, 5%); }
    &:active { background: darken(#00ACED, 1%); }
    span { font-family: 'entypo'; }
  }

  .facebook {
    background: #3B5998;
    border-color: #314B80;
    box-shadow: inset 0 1px #768CB6;
    &:hover { background: lighten(#3B5998, 5%) }
    &:active { background: darken(#3B5998, 1%); }
  }

  .google {
    background: #DD4B39;
    border-color: darken(#DD4B39, 5%);
    box-shadow: inset 0 1px #D2776B;
    &:hover { background: lighten(#DD4B39, 5%) }
    &:active { background: darken(#DD4B39, 1%); }
  }
}

@font-face {
  font-family: 'entypo';
  src:url('/fonts/entypo/entypo.eot');
  src:url('/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
    url('/fonts/entypo/entypo.woff') format('woff'),
    url('/fonts/entypo/entypo.ttf') format('truetype'),
    url('/fonts/entypo/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

#sso-container {
  $inner-width: 300px;
  $input-width: $inner-width - 10;
  $input-margin-bottom: 20px;

  font-size: 12px;
  @include border-radius(6px);
  margin-top: -10px;

  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 11px 0 15px 0;
  }

  h3.footnote-title {
    margin: 0 0 7.5px 0;
  }

  p {
    margin: 12px 20px 11px 0;
  }

  fieldset {
    margin: 20px 0 0;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    min-width: 50px;
  }

  input {
    &[type=submit] {
      float: right;
    }

    &[type=text] {
      width: $input-width;
      margin-bottom: $input-margin-bottom;
    }
  }

  &.password-set-form,
  &.password-change-form,
  &.email-verification-form {
    input[type=submit] {
      float: none;
    }

    input[type=password] {
      width: $input-width;
      margin-bottom: $input-margin-bottom;
    }

    .password_requirements {
      margin: -5px 0 20px;
    }
  }

  .button.primary {
    margin-top: -7px;
  }

  .controls {
    width: $inner-width;
  }

  .remember {
    label {
      display: inline-block;
      font-weight: normal;
    }
  }

  .interface {
    border: 0;
    padding: 0;
  }

  .footnotes {
    padding: 15px 15px 10px;
    margin: 30px 20px 0 0;
    background: #fff;
    border: 1px solid #EFEFEF;
    @include border-radius(4px);
  }

  #recaptcha_response_field {
    margin-bottom: 15px;
  }

  #recaptcha_widget {
    margin-bottom: 5px;

    #recaptcha_image {
      display: inline-block;
    }

    ul {
      display: inline-block;
      list-style: none;
      margin-left: 10px;
      padding: 0;

      li {
        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }
  }
}
