span.address-and-invoices-cta {
  color: #4c4c4c;
  white-space: normal;
  font-weight: bold;
  font-size: 13px;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}
