textarea#account_mobile_title {
  overflow: hidden;
  white-space:nowrap;
  resize: none;
  width: 300px;
}

#account_support_structure_sub_setting {
  label {
    float: left;
    padding-top: 4px;
  }

  input[type='text'] {
    width: 50px;
    margin-bottom: 15px;
  }
}

#activate_color_branding {
  float: left;
}

.checkbox_label {
  position: relative;
  margin-bottom: 0px;
  bottom: 3px;
}

#activate_branding_description {
  margin-bottom: 14px;
}

#revert_preview_link {
  display: none;
}
