
.two_column .form_element .form_field table.payments_table tbody tr.hidden_payment_row {
  display: none;
}

table.payments_table {
  padding: 2px 0 !important; /* reset global table styles */
  font-weight: normal !important;

  width: 100%;
  border-spacing: 0px;

  td { padding: 2px; border-bottom: solid 1px #EAEAEA; }
  th { color: #999; border-bottom: solid 1px #CCC;  }

  tr.odd td { background-color: #F8F8F8; }
  td.controls {
    text-align: right;
    font-size: 0.9em;
    span.button { margin: 3px; }
  }

  button { min-width: 50px; }
}

table.invoice-items {
  width: 100%;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  td { font-weight: normal !important; border: none; }
  td.money, th.money { text-align: right; }
  td.count, th.count { text-align: center; }

  th, td {
    border: none;
  }
}

