body.account div.settings_locale_checkbox_container {
  display: none;
  float: left;
  width: 100%;
  padding-bottom: 5px;

  html[data-rtl-language='true'] & {
    float: right;
  }
}

body.account div.settings_locale_checkbox_row {
  float: left;
  width: 45%;
  padding: 5px;

  html[data-rtl-language='true'] & {
    float: right;
  }
}
