#subdomain_dialog {
  .subdomain_dialog {
    font-size: 13px;
    margin: 11px 16px 16px 16px;

    #account_subdomain {
      width: 150px;
      margin-left: -4px;
      font-weight: bold;
    }

    p { color: #222; }

    ul { padding-left: 10px; }

    li { padding-bottom: 10px; }

    form { overflow: hidden; }

    span.label {
      color: #222;
      font-weight: normal;
      float: left;
      width: 180px;

      html[data-rtl-language='true'] & {
        float: right;
      }
    }

    .learn_more {
      margin-top: -6px;
      margin-bottom: -8px;
      margin-left: 20px;

      html[data-rtl-language='true'] & {
        margin-left: 0;
        margin-right: 20px;
      }
    }

    .actions { min-width: 0px; }

    .form_field {
      margin-left: 150px;
      margin-bottom: 10px;

      html[data-rtl-language='true'] & {
        margin-left: 0;
        margin-right: 150px;
      }

      span {
        html[data-rtl-language='true'] & {
          direction: ltr;
          unicode-bidi: bidi-override;
        }
      }
    }

    .form_element { padding: 0; }

    .intro_text { font-weight: bold; }

    .no_right_margin { margin-left: 40px; }

    .warning_bullets {
      padding-left: 20px;

      html[data-rtl-language='true'] & {
        padding-left: 0;
        padding-right: 20px;
        margin-left: 0;
        margin-right: 25px;
      }
    }

    .button {
      float: right;

      html[data-rtl-language='true'] & {
        float: left;
      }
    }

    .element_group {
      margin-right: 100px;

      html[data-rtl-language='true'] & {
        margin-left: 100px;
        margin-right: 0;
      }
    }
  }
}

#subdomain_colorbox_container {
  display: none;
}

html[data-rtl-language='true'] {
  .account-show #cboxClose {
    left: 15px;
    right: auto;
  }
}
