@import "../../../mixins.css.scss";

#lotus_agent_admin_subscription_redirect_notice {
  @include border-radius(6px);
  margin: 15px 0px 480px 0px;
  background: #f4f4f4;
  padding: 10px 0px 30px 0px;
  text-align: center;
  font-size: 18px;
  color: #434343;

  h3 {
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    text-shadow: -1px 0px 0px #f8f8f8;
    margin: 15px 0 0 0;
  }

  a#redirect_link {
    background: #FFA527;
    margin: 20px 0 0 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    padding: 15px 45px 15px 45px;
    text-shadow: -1px 0px 0px #f3a527;
  }
}

#subscription_settings, .subscription_modal  {
  $zendesk-green: #78A300;
  // $zendesk-green * 0.9
  $zendesk-green-09: #6c9300;
  $red: #de676b;
  $number-of-plans: 4;
  $outer-width: 646px;
  $light-grey: #f5f5f5;
  $subscription-options-outside-width: 300px;
  $plan-button-gutter: 10px;
  $plan-button-width: ($outer-width - ($number-of-plans - 1) * $plan-button-gutter) / $number-of-plans;

  .button.save {
    $lighter-green: #98c332;

    // $lighter-green * 0.9
    $lighter-green-09: #89b02d;

    background: $zendesk-green;
    @include full-vertical-gradient($lighter-green, $zendesk-green);
    border: none;
    color: #fff;
    float: right !important;
    padding: 10px;
    margin-top: 15px !important;
    width: auto !important;

    &:hover, &:focus {
      &:not(:disabled) {
        background: $zendesk-green-09;
        @include full-vertical-gradient($lighter-green-09, $zendesk-green-09);
      }
    }
  }

  .element_group { margin-right: 0; }

  .plan_types {
    margin-top: 15px;
    padding: 0;

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: $plan-button-width;

      & + li { margin-left: $plan-button-gutter; }
    }
  }

  .plan {
    background-color: $light-grey;
    border: 3px solid $light-grey;
    color: #444;
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    @include rounded-corners(5px);

    &:hover, &:focus, &:active {
      border-color: $zendesk-green;
    }
  }

  &.small .plan.small, &.medium .plan.medium,
  &.large .plan.large, &.extra_large .plan.extra_large {
    background-color: $zendesk-green;
    border-color: $zendesk-green;
    color: #fff;
  }

  .selected_plan {
    background: url('/classic/images/grey_pointer_large.png') no-repeat;
    padding-top: 10px;
  }
  $pointer-half-width: 9px;
  &.small       .selected_plan { background-position: $plan-button-width * 1/2 + 0 * $plan-button-gutter - $pointer-half-width 0; }
  &.medium      .selected_plan { background-position: $plan-button-width * 3/2 + 1 * $plan-button-gutter - $pointer-half-width 0; }
  &.large       .selected_plan { background-position: $plan-button-width * 5/2 + 2 * $plan-button-gutter - $pointer-half-width 0; }
  &.extra_large .selected_plan { background-position: $plan-button-width * 7/2 + 3 * $plan-button-gutter - $pointer-half-width 0; }

  #subscription_details,
  #cancel_subscription,
  #export_enable_request {
    $padding-x: 30px;
    $padding-y: 30px;
    background-color: $light-grey;
    padding: $padding-y $padding-x;
    width: $outer-width - 2 * $padding-x;
    @include rounded-corners(8px);
  }

  .causeware {
    a:hover {
      text-decoration: none;
    }

    .banner {
      @include border-radius(6px);
      width: 588px;
      height: 56px;
      background-image: url('/classic/images/subscription/causeware_background_dark.png');

      .narrow {
        width: 428px;
        height: 32px;
      }

      .wide {
        width: 564px;
        height: 32px;
      }

      .narrow, .wide {
        @include border-radius(6px);
        float: left;
        padding: 12px;
        text-align: center;
        background-image: url('/classic/images/subscription/causeware_background_light.png');

        h3 {
          margin: 0px;
          color: #ffffff;
          text-shadow: 0.1em 0.1em #333;
          font-weight: normal;
          line-height: 2.2em;
        }

        h2 {
          margin-top: 8px;
          font-size: 14px;
          color: #ffffff;
          text-shadow: 0.1em 0.1em #333;
          font-weight: normal;
        }
      }

      button {
        display: inline-block;
        float: right;
        width: 104px;
        height: 32px;
        margin: 13px 15px 0 0;
        border-radius: 3px;
        border: 2px solid #2e2e2e;
        background: #75a000;
        color: #d5dfbf;
        text-shadow: 0.1em 0.1em #888888;
        font-style: italic;
        font-size: 12px;
        line-height: 11px;
      }
    }
  }

  #subscription_details {
    header {
      background: url('/classic/images/subscription_gradient.png') no-repeat bottom center;
      padding: 0 0 20px 0;

      h3 {
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        span { font-weight: bold; }
      }

      .pricing {
        display: block;
        float: right;
        line-height: 18px;
        text-align: right;

        .dollar {
          color: $zendesk-green;
          font-weight: bold;
        }
      }
    }

    h4 {
      color: #555;
      margin: 1em 0 0 0;
      padding: 0;
      text-transform: uppercase;
      .get     { color: $zendesk-green; }
      .missing { color: $red; }
    }

    $after-header: 20px;

    #what_you_get { margin-top: $after-header; }

    #subscription_options {
      $padding-x: 15px;
      $vertical-spacing: 15px;
      $inner-width: $subscription-options-outside-width - 2 * $padding-x;

      background-color: #fff;
      border: 1px solid #eee;
      float: right;
      margin-top: $after-header + 8px; // to line up with the lists on the left
      padding: 20px $padding-x;
      width: $inner-width;
      @include rounded-corners(5px);

      label, input, select { display: block; width: 90%; float: none; }
      label { padding-top: 0; }
      input, select, .error, .note { margin-top: 5px; }
      input + label, select + label, .error + label { margin-top: 1em; }
      .error, .if_coupon_applied { display: none; }
      .error { color: $red; }
      .note  { color: #aaa; }
      #coupon_expiry, #after_coupon_expiry { text-align: right; }

      $right-note-width: $inner-width * 0.65;
      #billing_period {
        margin-right: $right-note-width + 5px;
      }
      #after_coupon_expiry {
        float: right;
        width: $right-note-width;
      }

      .extras {
        margin-top: 30px;

        .top {
          border-bottom: 1px solid #ccc;
          margin-bottom: 10px;
        }

        span {
          color: #999999;
          font-weight: normal;
          font-size: 12px;
        }

        span.voice_capture {
          margin-left: 19px;
        }

        label {
          font-size: 18px;
          font-weight: bold;
          span {
            color: #AAA;
            font-weight: normal;
          }
        }
        .voice_option, .voice_transcription_optin {
          input {
            display: inline;
            width: auto;
            margin-bottom: 5px;
            line-height: 22px;
          }
          label {
            color: #666666;
            font-size: 15px;
            line-height: 22px;
            display: inline;
            font-weight: normal;
            cursor: pointer;
            margin-left: 7px;
          }
          .pricing {
            color: #666;
            float: right;
            font-size: 15px;
            font-weight: bold;
            line-height: 22px;
          }
          .type {
            float: left;
            font-size: 15px;
            margin-left: 20px;
            line-height: 22px;
            color: #888;
          }
          .pricing.active {
            color: #7FA239;
          }
        }
        .voice_transcription_optin {
          background: #F5F5F5;
          padding: 7px;
          margin-top: 5px;
          margin-left: 19px;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;

          label {
            font-size: 12px;
          }
          .pricing {
            font-weight: normal;
          }

          &.disabled .pricing {
            color: #666;
          }
        }
      }

      .two_up {
        $label-width: 120px;
        $gutter: 10px;
        $price-font-size: 15px;
        clear: left;

        margin: $vertical-spacing 0 0 0;

        label, output { display: block; }

        label {
          $font-size: 14px;
          float: left;
          font-size: $font-size;
          padding: ($price-font-size - $font-size) / 2 0;
          width: $label-width;
        }

        output, .spinner {
          color: #777;
          display: block;
          font-size: $price-font-size;
          margin-left: $label-width + $gutter;
          text-align: right;
        }

        .spinner { display: none; }

        &.total {
          $price-font-size: 20px;
          border-top: 1px solid #ccc;
          margin-top: $vertical-spacing;
          padding-top: $vertical-spacing;

          label {
            font-size: $price-font-size - 2px;
            font-weight: bold;
            padding: 1px 0;
          }

          output {
            color: #7FA239;
            font-size: $price-font-size;
            font-weight: bold;
          }

          .spinner img {
            height: $price-font-size;
            width: $price-font-size;
          }
        }
      }

    }
  }

  .feature_list {
    margin-right: $subscription-options-outside-width + 10px;
    padding: 0 0 0 20px;

    li {
      color: #828282;
      display: none;
      font-size: 13px;
      list-style: disc outside;
      margin: 7px 0 0 0;
    }
  }

  .overview { .small, .medium, .large, .extra_large { display: none; } }
  &.small       .overview h3       .small,
  &.medium      .overview h3       .medium,
  &.large       .overview h3       .large,
  &.extra_large .overview h3       .extra_large { display: inline; }
  &.small       .overview .pricing .small,
  &.medium      .overview .pricing .medium,
  &.large       .overview .pricing .large,
  &.extra_large .overview .pricing .extra_large { display: block; }

  &.small       .feature_list li.small,
  &.medium      .feature_list li.medium,
  &.large       .feature_list li.large,
  &.extra_large .feature_list li.extra_large { display: list-item; }

  &.recalculating {
    #subscription_details #subscription_options .two_up {
      output, .note { visibility: hidden; }
      .spinner { display: block; }
      &.total output { display: none; }
    }
  }

  #cancel_subscription,
  #export_enable_request {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    #cancel_warning {
      display: none;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
