<div class="frame">
{{#records}}
  <div class="crm-record">
    <h3>
      <a href="{{url}}" target="_blank">{{label}}</a>
    </h3>
    {{#record_type}}
    <span class="property">{{record_type}}</span>
    {{/record_type}}
    <div style="clear:both;"></div>
    <table class="crm-data">
      {{#fields}}
        <tr>
        {{#record1}}
            <td>
              <strong>{{label}}</strong>
            </td>
            <td>
              {{value}}
            </td>
              {{/record1}}
            <td class="spacing">&nbsp;</td>
              {{#record2}}
            <td{{#empty}} class="empty"{{/empty}}>
              <strong>{{label}}</strong>
            </td>
            <td{{#empty}} class="empty"{{/empty}}>
              {{value}}
            </td>
        {{/record2}}
        </tr>
      {{/fields}}
    </table>
  </div>
{{/records}}
{{^records}}
No data found.
{{/records}}
</div>
