{{^mainRecord}}
<p>No data found.</p>
{{/mainRecord}}
{{#mainRecord}}
  <strong>
    <a href="{{url}}" target="_blank">{{label}}
      {{#record_type}}
      ({{record_type}})
      {{/record_type}}
    </a>
  </strong>
  <ul>
    {{#fields}}
    <li>
      <strong>{{label}}: </strong>
      <br/>
      {{value}}
    </li>
    {{/fields}}
  </ul>
  {{#moreLink}}
  <span class="more-link">
    <a href="{{moreLink}}">More &raquo;</a>
  </span>
  {{/moreLink}}
{{/mainRecord}}


<div id="crm-sub-records" style="display:none;">
{{#subRecords}}
  <strong>
    <a href="{{url}}" target="_blank">{{label}}
      {{#record_type}}
      ({{record_type}})
      {{/record_type}}
    </a>
  </strong>
  <ul>
    {{#fields}}
    <li>
      <strong>{{label}}: </strong>
      <br/>
      {{value}}
    </li>
    {{/fields}}
  </ul>
  {{#moreLink}}
  <span class="more-link">
    <a href="{{moreLink}}">More &raquo;</a>
  </span>
  {{/moreLink}}
{{/subRecords}}
</div>
{{#showMore}}
<a href="#" class="crm-records-toggle"><%= I18n.t('txt.admin.views.settings.extensions._salesforce3.test.show_all_results') %> ({{showMore}})</a>
<a href="#" class="crm-records-toggle" style="display: none;"><%= I18n.t('txt.admin.views.settings.extensions._salesforce3.test.minimize_results') %></a>
{{/showMore}}
