<%= div_side_box do %>
  <%- if current_account.crm_integration_enabled? -%>
    <h4>
      <%= current_account.crm_integration.integration_name %>
      <span id="crm_loading" class="hide"><img src="/images/loader.gif"/></span>
    </h4>

    <script type="text/html" id="crm_template">
      <%= render :partial => "crm/sidebar_widget" %>
    </script>

    <script type="text/html" id="crm_error_template">
      An error occurred when fetching data.
    </script>

    <div id="crm_user_data"></div>

    <%= javascript_tag do %>
      $j(document).ready(function() {
       var crmApp = new Zendesk.CRM.Application(new Zendesk.CRM.SidebarRenderer());
       <% if ticket.crm_data.present? %>
         crmApp.renderData(<%= ticket.crm_data.records.to_json.gsub('/','\/').html_safe %>, <%= ticket.crm_data.status.to_json.html_safe %>);
       <% end %>
       <% if ticket.needs_crm_sync? %>
         crmApp.fetchAndRenderData('<%= sync_ticket_info_crm_path(:ticket_id => ticket.nice_id, :format => 'json') %>');
       <% end %>
    });
    <% end %>
  <% end %>
<% end %>
