<%= tab(:settings, I18n.t('txt.admin.views.layout.tabs._settings_tab.Settings_tab'), main_app.settings_account_path) do %>
  <ul class="menu-drop">

    <%- if current_user.is_admin? -%>
      <% @account_tab_title = current_user.is_account_owner? ? I18n.t('txt.admin.views.layouts.tabs._settings_tab.Setup_billing_look_and_feel') : I18n.t('txt.admin.views.layouts.tabs._settings_tab.setup_look_and_feel')%>
      <li data-menu-item-name="settings_account"><%= link_to I18n.t('txt.admin.views.layout.tabs._settings_tab.Account_tab'), main_app.settings_account_path, :title => @account_tab_title %></li>
      <li><%= link_to I18n.t('txt.admin.views.layout.tabs._settings_tab.Security_tab'), main_app.settings_security_path, :title => I18n.t('txt.admin.views.layouts.tabs._settings_tab.setur_security_encryption_and_access') %></li>
    <%- end -%>

    <%- if current_user.can?(:edit, Access::Settings::Extensions) -%>
      <li><%= link_to I18n.t('txt.admin.views.layout.tabs._settings_tab.Channels_tab'), main_app.settings_channels_path, :title => I18n.t('txt.admin.views.layouts.tabs._settings_tab.control_the_ways_in_which_you_communicate') %></li>
    <%- end -%>

    <%- if current_user.is_admin? -%>
      <li><%= link_to I18n.t('txt.admin.views.layout.tabs._settings_tab.Tickets_tab'), main_app.settings_tickets_path, :title => I18n.t('txt.admin.views.layouts.tabs._settings_tab.settings_for_displaying_tickets') %></li>
      <li><%= link_to I18n.t('txt.admin.views.layout.tabs._settings_tab.Agents_tab'), main_app.settings_agents_path, :title => I18n.t('txt.admin.views.layouts.tabs._settings_tab.Configure_agent_abilities_and_signatures') %></li>
      <li><%= link_to I18n.t('txt.admin.views.layout.tabs._settings_tab.End_users_tab'), main_app.settings_customers_path, :title => I18n.t('txt.admin.views.layouts.tabs._settings_tab.control_how_end_users_can_access_your_help_desk') %></li>
    <%- end -%>

    <%- if current_user.can?(:edit, Access::Settings::Extensions) -%>
      <li><%= link_to I18n.t('txt.admin.views.layout.tabs._settings_tab.Extensions_tab'), main_app.settings_extensions_path, :title => I18n.t('txt.admin.views.layouts.tabs._settings_tab.configure_widgets_targets_and_integrations') %></li>
    <%- end -%>

    <% if current_user.is_account_owner? && !current_account.is_sandbox? %>
      <% if current_account.subscription.signup_as_trial? && current_account.subscription.hub_account_id.nil? %>
        <li><%= link_to I18n.t('txt.admin.views.layouts.settings_tab.buy_now'), subscription_settings_path, :class => "warning"  %></li>
      <% elsif !current_account.subscription.is_sponsored? %>
        <li><%= link_to I18n.t('txt.admin.views.layouts.tabs._settings_tab.Subscription'), subscription_settings_path, :title => I18n.t('txt.admin.views.layouts.tabs._settings_tab.Configure_plan_type_and_size') %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
