<%= tab(:views, I18n.t('txt.admin.views.layout.tabs._views_tab.Views_tab'), main_app.tickets_path, :id => "views-drop-anchor") do %>
  <ul class="menu-drop" id="views-drop">
    <%= render_shared_views %>

    <% if (personal_view = render_personal_views).present? -%>
      <li class="drop-header"><%= I18n.t('txt.admin.views.layout.tabs._views_tab.my_views_tab') %></li>
      <%= personal_view -%>
    <% end -%>
  </ul>
  <script type="text/javascript" charset="utf-8">
    var ruleCounts = new DelayedRuleCounts({
      ticket_show_empty_views: <%= current_account.settings.ticket_show_empty_views? %>
    });

    $j("#views-drop-anchor").one('mouseover', function(){
      ruleCounts.newRulesDisplayed();
    });
  </script>
<% end %>
