<%= I18n.t('txt.admin.views.voice.account_mailer.greeting', :name => @user.name) %>

<p><%= I18n.t('txt.email.controllers.getting_started_controllers.agent_invitation_text.has_just_created_an_account_for_you', :current_user_name => @owner.name) %>.</p>

<p><%= I18n.t('txt.email.models.user_identities.welcome_agent_mailer.google_verify.body_1') %> </p>

<p><%= I18n.t('txt.email.models.user_identities.welcome_agent_mailer.google_verify.body_2') %></p>

<p><%= @google_url %></p>
