<% oauth_client_id = app.mobile_sdk_auth ? app.mobile_sdk_auth.client.identifier : "OAuth Client ID" %>
<% url = current_account.url(mapped: false, protocol: "https") %>
Zendesk.INSTANCE.init(context, "<%= url %>",
    "<%= app.identifier %>",
    "<%= oauth_client_id %>");
Support.INSTANCE.init(Zendesk.INSTANCE);
