<% oauth_client_id = app.mobile_sdk_auth ? app.mobile_sdk_auth.client.identifier : "OAuth Client ID" %>
ZendeskConfig.INSTANCE.init(this, "<%=current_account.url(:mapped => false, :protocol => 'https')%>", "<%=app.identifier%>", "<%= oauth_client_id %>");