<div class="form_element">
  <%= form.label :authentication, I18n.t('txt.admin.views.mobile_sdk.app.edit.authentication.label') %>
  <div class="form_field">
    <%= form.select :mobile_sdk_auth_id, current_account.mobile_sdk_auths.collect{|a| [a.name, a.id]}, {:include_blank => I18n.t('txt.admin.views.mobile_sdk.app.edit.authentication.none_text')} unless current_account.mobile_sdk_auths.empty? %>
    <% if @app.mobile_sdk_auth %>
     <a id="edit_mobile_sdk_auth"><%= link_to(I18n.t('txt.admin.views.mobile_sdk.app.edit.authentication.edit', :auth_name => @app.mobile_sdk_auth.name), edit_mobile_sdk_auth_path(@app.mobile_sdk_auth)) %></a> |
    <% end %>
    <a id="add_new_mobile_sdk_auth"><%= link_to(I18n.t('txt.admin.views.mobile_sdk.app.edit.authentication.add_new'), new_mobile_sdk_auth_path( :return_to => request.original_url)) %></a>
    <p><%= I18n.t('txt.admin.views.mobile_sdk.app.edit.authentication.description') %>
    </p>
  </div>
</div>
