<div class='field-wrapper'>
  <%= form.label :connect_enabled, I18n.t('txt.admin.views.mobile_sdk.field.connect.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.connect.blurb') %></span>
  <div class="switch" data-test-id="connect-switch">
    <label class="switch-label">
      <%= form.property_set(:settings).check_box(:connect_enabled, { :class => 'switch-checkbox' }) %>
      <span class="switch-content">
        <span class="switch-bg"></span>
        <span class="switch-toggle"></span>
      </span>
    </label>
  </div>
</div>
