<div class="csat-wrapper">
  <div class='field-wrapper'>
    <%= form.label :support_show_csat, I18n.t('txt.admin.views.mobile_sdk.field.csat.label') %>
    <span class="info">
      <%= I18n.t('txt.admin.view.mobile_sdk.field.csat.blurb') %>
      <a href="<%= I18n.t('txt.admin.views.support.sdk.field.csat.learn_more.url') %>" target="_blank">
        <%= I18n.t('txt.admin.views.mobile_sdk.general.learn_more') %>
      </a>
      <% if current_account.has_mobile_sdk_show_unity_docs? %>
        <br>
        <br>
        <%= I18n.t('txt.admin.view.mobile_sdk.field.csat.unity') %>
      <% end %>
    </span>
    <div class="switch" data-test-id="csat-switch">
      <label class="switch-label">
        <%= form.property_set(:settings).check_box(:support_show_csat, { :class => 'switch-checkbox', :disabled => !current_account.has_customer_satisfaction_enabled? }) %>
        <span class="switch-content">
          <span class="switch-bg"></span>
          <span class="switch-toggle"></span>
        </span>
      </label>
    </div>
  </div>
</div>
