<div class='field-wrapper'>
  <%= form.label :helpcenter_enabled, I18n.t('txt.admin.views.mobile_sdk.field.help_center.label') %>
  <div class="info">
    <%= I18n.t('txt.admin.views.mobile_sdk.field.help_center.blurb_v2') %>
    <div>
      <% if current_account.help_center_enabled? %>
        <a href="<%= I18n.t('txt.admin.views.mobile_sdk.field.help_center.settings.url') %>" target="_blank">
          <%= I18n.t('txt.admin.views.mobile_sdk.field.help_center.settings.label') %>
        </a>
      <% else %>
        <%= I18n.t('txt.admin.views.mobile_sdk.field.help_center.info') %>
        <a href="<%= I18n.t('txt.admin.views.mobile_sdk.field.help_center.try_guide.url') %>" target="_blank">
          <%= I18n.t('txt.admin.views.mobile_sdk.field.help_center.try_guide.label') %>
        </a>
      <% end %>
    </div>
  </div>

  <div class="switch" data-test-id="help-center-switch">
    <label class="switch-label">
      <%= form.property_set(:settings).check_box(:helpcenter_enabled, { :class => 'switch-checkbox', :disabled => !current_account.help_center_enabled? }) %>
      <span class="switch-content">
        <span class="switch-bg"></span>
        <span class="switch-toggle"></span>
      </span>
    </label>
  </div>
</div>

<% if current_account.has_sdk_manage_requests? %>
  <div class='field-wrapper'>
    <%= form.label :conversations_enabled, I18n.t('txt.admin.views.mobile_sdk.field.conversations.label') %>
    <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.conversations.blurb') %></span>
    <div class="switch" data-test-id="conversations-switch">
      <label class="switch-label">
        <%= form.property_set(:settings).check_box(:conversations_enabled, { :class => 'switch-checkbox' }) %>
        <span class="switch-content">
          <span class="switch-bg"></span>
          <span class="switch-toggle"></span>
        </span>
      </label>
    </div>
  </div>
<% end %>

<% if current_account.has_mobile_sdk_support_never_request_email_setting? %>
  <div class='field-wrapper'>
    <%= form.label :support_never_request_email, I18n.t('txt.admin.views.mobile_sdk.field.support_never_request_email.label') %>
    <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.support_never_request_email.blurb') %></span>
    <div class="switch" data-test-id="never-request-email-switch">
      <label class="switch-label">
        <%= form.property_set(:settings).check_box(:support_never_request_email, { :class => 'switch-checkbox' }) %>
        <span class="switch-content">
          <span class="switch-bg"></span>
          <span class="switch-toggle"></span>
        </span>
      </label>
    </div>
  </div>
<% end %>

<% if current_account.has_mobile_sdk_help_center_article_voting_enabled? %>
  <div class='field-wrapper'>
    <%= form.label :help_center_article_voting_enabled, I18n.t('txt.admin.views.mobile_sdk.field.help_center_article_voting_enabled.label') %>
    <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.help_center_article_voting_enabled.blurb') %></span>
    <div class="switch" data-test-id="help-center-article-voting-switch">
      <label class="switch-label">
        <%= form.property_set(:settings).check_box(:help_center_article_voting_enabled, { :class => 'switch-checkbox' }) %>
        <span class="switch-content">
          <span class="switch-bg"></span>
          <span class="switch-toggle"></span>
        </span>
      </label>
    </div>
  </div>
<% end %>

<% if current_account.has_mobile_sdk_support_show_closed_requests_setting? && account_can_hide_closed_requests?(current_account) %>
  <div class='field-wrapper'>
    <%= form.label :support_show_closed_requests, I18n.t('txt.admin.views.mobile_sdk.field.support_show_closed_requests.label') %>
    <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.support_show_closed_requests.blurb') %></span>
    <div class="switch" data-test-id="show-closed-requests-switch">
      <label class="switch-label">
        <%= form.property_set(:settings).check_box(:support_show_closed_requests, { :class => 'switch-checkbox' }) %>
        <span class="switch-content">
          <span class="switch-bg"></span>
          <span class="switch-toggle"></span>
        </span>
      </label>
    </div>
  </div>
<% end %>

<% if current_account.has_mobile_sdk_support_show_referrer_logo_setting? && account_can_hide_referrer_logo?(current_account) %>
  <div class='field-wrapper'>
    <%= form.label :support_show_referrer_logo, I18n.t('txt.admin.views.mobile_sdk.field.support_show_referrer_logo.label') %>
    <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.support_show_referrer_logo.blurb') %></span>
    <div class="switch" data-test-id="show-referrer-logo-switch">
      <label class="switch-label">
        <%= form.property_set(:settings).check_box(:support_show_referrer_logo, { :class => 'switch-checkbox' }) %>
        <span class="switch-content">
          <span class="switch-bg"></span>
          <span class="switch-toggle"></span>
        </span>
      </label>
    </div>
  </div>
<% end %>

<div class='field-wrapper'>
  <%= form.label :contact_us_tags, I18n.t('txt.admin.views.mobile_sdk.field.tags.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.tags.blurb') %></span>
  <%= form.property_set(:settings).text_field(:contact_us_tags, :value => app.settings.contact_us_tags.join(" ")) %>
</div>

<% if current_account.has_mobile_sdk_support_system_message? %>
  <hr />
  <%= render partial: 'system_message', locals: { app: app, form: form } %>
<% end %>

<% if current_account.has_mobile_sdk_csat? %>
  <hr />
  <%= render partial: 'csat', locals: { app: app, form: form } %>
<% end %>

<hr />
<%= render :partial => 'push_notifications', :locals => { :app => app, :form => form } %>
