<%= div_content do %>
  <bdo dir="<%= I18n.translation_locale.rtl? ? 'rtl' : 'ltr' %>">
    <h2><%= @page_title %></h2>
    <%= form_for @app, :html => { :name => 'viewform', :id => 'viewform', :class => 'two_column', :multipart => true } do |form| %>
      <div class='form_element'>
        <%= form.label :title, I18n.t('txt.admin.views.mobile_sdk.app.edit.title.label') %>
        <div class='form_field'>
          <%= form.text_field :title %>
        </div>
      </div>

      <%= hidden_field_tag :anchor, 'general', :id => 'mobile_sdk_apps_anchor' %>
      <%= javascript_tag do %>
        $j(document).ready(function() {
            $j(window).bind( 'hashchange', function(e) {
              anchor = document.location.hash.replace( /^#/, '' );
              $j("#mobile_sdk_apps_anchor").val(anchor)
            });
        });
      <% end %>

      <%= zd_tabs do %>
        <%= zd_tab(I18n.t('txt.admin.views.mobile_sdk.tabs.general_settings.title'), :id => "mobile_sdk_general_settings_tab") do %>
          <%= render :partial => 'general', :locals=>{:form => form} %>
          <%= render :partial => 'save_form' %>
        <% end %>
        <% if !current_account.has_mobile_sdk_rma_tab_removal? || @app.settings.rma_enabled %>
          <%= zd_tab(I18n.t('txt.admin.views.mobile_sdk.tabs.rate_my_app.title'), :id => "mobile_sdk_rate_my_app_tab") do %>
            <%= render :partial => 'rate_my_app', :locals => {:form => form} %>
            <%= render :partial => 'save_form' %>
          <% end %>
        <% end %>
        <%= zd_tab(I18n.t('txt.admin.views.mobile_sdk.tabs.help_center.title'), :id => "mobile_sdk_help_center_tab") do %>
          <%= render :partial => 'help_center', :locals=>{:form => form} %>
          <%= render :partial => 'save_form' %>
        <% end %>
      <% end #tabs %>

    <% end #form %>
  </bdo>
<% end #div %>
