<% oauth_client_id = app.mobile_sdk_auth ? app.mobile_sdk_auth.client.identifier : "OAuth Client ID" %>
[[ZDKConfig instance]
 initializeWithAppId:@"<%=app.identifier%>"
 zendeskUrl:@"<%=current_account.url(:mapped => false, :protocol => 'https')%>"
 clientId:@"<%= oauth_client_id %>"];