<% oauth_client_id = app.mobile_sdk_auth ? app.mobile_sdk_auth.client.identifier : "OAuth Client ID" %>
<% url = current_account.url(mapped: false, protocol: "https") %>
Zendesk.initialize(appId: "<%= app.identifier %>",
    clientId: "<%= oauth_client_id %>",
    zendeskUrl: "<%= url %>")
Support.initialize(withZendesk: Zendesk.instance)
