<div class="push-wrapper">
  <div class='field-wrapper'>
    <%= form.label :push_notifications_type, I18n.t('txt.admin.views.mobile_sdk.field.push_notifications_integrations.label') %>
    <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.push_notifications_integrations.blurb') %></span>
    <div class="switch">
      <label class="switch-label">
        <%
          # Added for backwards compatibility
          if !app.settings.push_notifications_type && app.settings.push_notifications_enabled
            app.settings.push_notifications_type = MobileSdkApp::PUSH_NOTIF_TYPE_WEBHOOK
          end
          push_types = ["empty", MobileSdkApp::PUSH_NOTIF_TYPE_WEBHOOK, MobileSdkApp::PUSH_NOTIF_TYPE_URBAN_AIRSHIP]
        %>
        <%= form.property_set(:settings).select(:push_notifications_type, push_types.map{ |a| [ I18n.t("txt.admin.views.mobile_sdk.field.push_notifications.select.#{a}"), a ] }, {}, :class => "sdk-push-select" ) %>
      </label>
    </div>
  </div>

  <div class="push-webhook-wrapper <% if app.settings.push_notifications_enabled && app.settings.push_notifications_type == MobileSdkApp::PUSH_NOTIF_TYPE_WEBHOOK %>enabled<% end %>">
    <div class='field-wrapper validation'>
      <%= form.label :push_notifications_callback, I18n.t('txt.admin.views.mobile_sdk.field.push_notifications_webhook.label') %>
      <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.push_notifications_webhook.blurb') %></span>
      <div class="pn-webhook-url-wrapper">
        <%= form.property_set(:settings).text_field(:push_notifications_callback, :value => app.settings.push_notifications_callback, :class => 'pn-webhook-url') %>
        <div class='validation-message'><%= I18n.t('txt.admin.views.mobile_sdk.field.push_notifications_webhook.validation_error') %></div>
      </div>
    </div>
  </div>

  <div class="push-urban-airship-wrapper <% if app.settings.push_notifications_enabled && app.settings.push_notifications_type == MobileSdkApp::PUSH_NOTIF_TYPE_URBAN_AIRSHIP %>enabled<% end %>">
    <div class='field-wrapper'>
      <%= form.label :urban_airship_key, I18n.t('txt.admin.views.mobile_sdk.field.urban_airship_key.label') %>
      <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.urban_airship_key.blurb') %></span>
      <%= form.property_set(:settings).text_field(:urban_airship_key, :value => app.settings.urban_airship_key, :class => 'pn-urban-key') %>
    </div>

    <div class='field-wrapper'>
      <%= form.label :urban_airship_master_secret, I18n.t('txt.admin.views.mobile_sdk.field.urban_airship_master_secret.label') %>
      <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.urban_airship_master_secret.blurb') %></span>
      <%= form.property_set(:settings).text_field(:urban_airship_master_secret, :value => app.settings.urban_airship_master_secret, :class => 'pn-urban-master-secret') %>
    </div>
  </div>
</div>
