<% if current_account.has_mobile_sdk_rma_tab_removal? %>
  <div class="rma-warning">
    <div class="row">
      <div class="col-lg-1">
        <div class="rm-warning-icon">
          &nbsp;
        </div>
      </div>
      <div class="col-lg-11">
        <div class="rma-warning-header">
          <%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.new_deprecation_warning_title') %>
        </div>
        <span class="rm-warning-body">
          <%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.new_deprecation_warning_body',
            new_deprecation_warning_message_android: (
              link_to I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.new_deprecation_warning_message_android'), I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.new_deprecation_warning_message_android_url'), target: '_blank'),
            new_deprecation_warning_message_ios: (
              link_to I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.new_deprecation_warning_message_ios'), I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.new_deprecation_warning_message_ios_url'), target: '_blank')) %>
        </span>
      </div>
    </div>
  </div>
<% else %>
  <div class="rma-warning">
    <div class="row">
      <div class="col-lg-1">
        <div class="rm-warning-icon">
          &nbsp;
        </div>
      </div>
      <div class="col-lg-11">
        <div class="rma-warning-header">
          <%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.deprecation_warning_title') %>
        </div>
        <span class="rm-warning-body">
          <%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.deprecation_warning_body') %>
          <a href="<%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.deprecation_warning_url') %><" target="_blank"><%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.deprecation_warning_link_title') %></a>
        </span>
      </div>
    </div>
  </div>
<% end %>

<div class='field-wrapper'>
  <%= form.label :rma_enabled, I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.blurb') %></span>
  <div class="switch">
    <label class="switch-label">
      <%= form.property_set(:settings).check_box(:rma_enabled, { :class => 'switch-checkbox' }) %>
      <span class="switch-content">
        <span class="switch-bg"></span>
        <span class="switch-toggle"></span>
      </span>
    </label>
  </div>
</div>

<div class='field-wrapper'>
  <%= form.label :rma_visits, I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.visits.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.visits.blurb') %></span>
  <%= form.property_set(:settings).select(:rma_visits, (1..30).map{ |i| [ pluralize(i, I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.visits.dropdown_label')), i ] }) %>
</div>

<div class='field-wrapper'>
  <%= form.label :rma_duration, I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.duration.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.duration.blurb') %></span>
  <%= form.property_set(:settings).select(:rma_duration, (1..30).map{ |i| [ pluralize(i, I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.duration.dropdown_label')), i ] }) %>
</div>

<div class='field-wrapper'>
  <%= form.label :rma_delay, I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.delay.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.delay.blurb') %></span>
  <%= form.property_set(:settings).text_field(:rma_delay, :value => app.settings.rma_delay, :class => 'small') %>
</div>

<div class='field-wrapper'>
  <%= form.label :rma_tags, I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.tags.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.tags.blurb') %></span>
  <%= form.property_set(:settings).text_field(:rma_tags, :value => app.settings.rma_tags.join(" ")) %>
</div>

<div class='field-wrapper'>
  <%= form.label :rma_ios_store_url, I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.apple_app_store.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.apple_app_store.blurb') %></span>
  <%= form.property_set(:settings).text_field(:rma_ios_store_url, :value => app.settings.rma_ios_store_url) %>
</div>

<div class='field-wrapper'>
  <%= form.label :rma_android_store_url, I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.android_app_store.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.rate_my_app.android_app_store.blurb') %></span>
  <%= form.property_set(:settings).text_field(:rma_android_store_url, :value => app.settings.rma_android_store_url) %>
</div>
