<div class="mobile-app-tos">
  <%
    tos_copy = if current_account.settings.allowed_mobile_sdk
      'txt.embeddable.sdk.tos.reference_to_tos'
    else
      'txt.embeddable.sdk.tos.checkbox.label'
    end
    tos_full_copy = I18n.t(tos_copy,
      :link_tos => (link_to I18n.t('txt.embeddable.sdk.tos.checkbox.link_tos'),
        I18n.t('txt.embeddable.sdk.tos.checkbox.link_tos_url'),
        :target => '_blank'),
      :link_dev_agreement => (link_to I18n.t('txt.embeddable.sdk.tos.checkbox.link_dev_agreement'),
        I18n.t('txt.embeddable.sdk.tos.checkbox.link_dev_agreement_url_v2'),
        :target => '_blank')
  )
  %>

  <% if current_account.settings.allowed_mobile_sdk %>
    <%= label_tag :agree_mobile_sdk_tos, tos_full_copy %>
  <% else %>
    <%= check_box_tag :agree_mobile_sdk_tos, 1, false, :class => 'agree_mobile_sdk_tos' %> <%= label_tag :agree_mobile_sdk_tos, tos_full_copy %>
  <% end %>
</div>

<div class="button-section">
  <div>
    <button type="reset"><%= I18n.t('txt.admin.views.mobile_sdk.actions.cancel') %></button>
    <button type="submit"><%= I18n.t('txt.admin.views.mobile_sdk.actions.save') %></button>
  </div>
</div>
