<div class="field-wrapper">
  <%= form.label :name, I18n.t('txt.admin.views.mobile_sdk.field.name.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.name.blurb') %></span>
  <% app_title = app.title || I18n.t('txt.admin.views.mobile_sdk.field.name.default_value') %>
  <%= form.text_field(:title, class: 'name-field', value: app_title) %>
</div>

<div class="field-wrapper">
  <%= form.label :url, I18n.t('txt.admin.views.mobile_sdk.field.zendesk_url.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.zendesk_url.blurb') %></span>
  <%= form.text_field(:url, value: current_account.url(mapped: false, protocol: 'https'), readonly: true, class: 'under large') %>
</div>

<div class="field-wrapper">
  <%= form.label :identifier, I18n.t('txt.admin.views.mobile_sdk.field.app_id.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.app_id.blurb') %></span>
  <%= form.text_field(:identifier, value: app.identifier, readonly: true, class: 'under large') %>
</div>

<% oauth_client_id = app.mobile_sdk_auth ? app.mobile_sdk_auth.client.identifier : "OAuth Client ID" %>
<div class="field-wrapper">
  <%= form.label :client_identifier, I18n.t('txt.admin.views.mobile_sdk.field.client_id.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.client_id.blurb') %></span>
  <%= form.text_field(:client_identifier, value: oauth_client_id, readonly: true, class: 'under large') %>
</div>

<% if app.new_record? %>
  <%= hidden_field_tag :blank_client_identifier, app.mobile_sdk_auth.client.identifier %>
<% end %>

<div class='field-wrapper'>
  <%= form.label :android_code, I18n.t('txt.admin.views.mobile_sdk.field.android_code.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.android_code.blurb') %></span>
  <% if current_account.has_mobile_sdk_support_v2_snippets? %>
    <%= form.text_area(:android_code, value: render(partial: 'android_code_snippet_v2', locals: { app: app }).to_s, readonly: true, rows: 3) %>
  <% else %>
    <%= form.text_area(:android_code, value: render(partial: 'android_code_snippet', locals: { app: app }).to_s, readonly: true, rows: 3) %>
  <% end %>
</div>

<div class='field-wrapper'>
  <%= form.label :ios_code, I18n.t('txt.admin.views.mobile_sdk.field.ios_code.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.ios_code.blurb') %></span>
  <label class="label-lang">Objective-C</label>
  <%if current_account.has_mobile_sdk_support_v2_snippets? %>
    <%= form.text_area(:android_code, value: render(partial: 'ios_code_snippet_v2', locals: { app: app }).to_s, readonly: true, rows: 3) %>
  <% else %>
    <%= form.text_area(:ios_code, value: render(partial: 'ios_code_snippet', locals: { app: app }).to_s, readonly: true, rows: 4, class: "textarea-code") %>
  <% end %>
  <label class="label-lang">Swift</label>
  <%if current_account.has_mobile_sdk_support_v2_snippets? %>
    <%= form.text_area(:android_code, value: render(partial: 'ios_swift_code_snippet_v2', locals: { app: app }).to_s, readonly: true, rows: 3) %>
  <% else %>
    <%= form.text_area(:ios_code, value: render(partial: 'ios_swift_code_snippet', locals: { app: app }).to_s, readonly: true, rows: 5, class: "textarea-code") %>
  <% end %>
</div>

<%if current_account.has_mobile_sdk_show_unity_docs? %>
  <div class='field-wrapper'>
      <%= form.label :unity_code, I18n.t('txt.admin.views.mobile_sdk.field.unity.label') %>
      <span class="info"><%= I18n.t("txt.admin.views.mobile_sdk.field.unity.blurb",
          :unity_documentation_url => link_to(
            I18n.t("txt.admin.views.mobile_sdk.field.unity.documentation"),
            I18n.t("txt.admin.views.mobile_sdk.field.unity.documentation_url"),
            :target => "_blank"
          )) %>
      </span>
  </div>
<% end %>

<% if current_account.has_mobile_sdk_blip_collection_control? %>
  <hr />

  <div class="field-wrapper">
    <%= form.label :collect_only_required_data, I18n.t('txt.admin.views.mobile_sdk.field.collect_only_required_data.label') %>
    <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.collect_only_required_data.blurb') %></span>
    <div class="switch">
      <label class="switch-label">
        <%= form.property_set(:settings).select(
          :collect_only_required_data,
          options_for_select([
            [I18n.t('txt.admin.views.mobile_sdk.field.collect_only_required_data.false'), false],
            [I18n.t('txt.admin.views.mobile_sdk.field.collect_only_required_data.true'), true]
          ]),
          {},
          class: "sdk-auth-select"
        ) %>
      </label>
    </div>
  </div>
<% end %>

<% if app.mobile_sdk_auth %>
  <hr />

  <div class="auth-warning">
      <span class="icon"></span>
      <span class="title"><%= I18n.t('txt.admin.views.mobile_sdk.field.authentication.label') %></span>
      <span><%= I18n.t('txt.admin.views.mobile_sdk.field.authentication.description') %></span>
  </div>

  <%= fields_for app.mobile_sdk_auth, url: '' do |mobile_sdk_auth| %>
    <div class='field-wrapper'>
      <%= form.label :jwt_enabled, I18n.t('txt.admin.views.mobile_sdk.field.authentication.label') %>
      <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.authentication.blurb') %></span>
      <div class="switch">
        <label class="switch-label">
          <%= form.property_set(:settings).select(:authentication, ["select_one", MobileSdkAuth::TYPE_ANONYMOUS, MobileSdkAuth::TYPE_JWT].map{ |a| [ I18n.t("txt.admin.views.mobile_sdk.field.authentication.select.#{a}"), a ] }, {}, class: "sdk-auth-select" ) %>
        </label>
      </div>
    </div>

    <div class="auth-wrapper <% if app.settings.authentication == MobileSdkAuth::TYPE_JWT %>enabled<% end %>">
      <div class="field-wrapper validation">
        <%= mobile_sdk_auth.label :endpoint, I18n.t('txt.admin.views.mobile_sdk.field.jwt_url.label') %>
        <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.jwt_url.blurb') %></span>
        <div class="jwt-url-wrapper">
          <%= mobile_sdk_auth.text_field(:endpoint, class: 'jwt-url') %>
          <div class='validation-message'><%= I18n.t('txt.admin.views.mobile_sdk.field.jwt_url.validation_error') %></div>
        </div>
      </div>

      <div class="field-wrapper">
        <%= mobile_sdk_auth.label :shared_secret, I18n.t('txt.admin.views.mobile_sdk.field.jwt_secret.label') %>
        <span class="info">
          <% if app.mobile_sdk_auth.new_record? %>
            <%= I18n.t('txt.admin.views.mobile_sdk.field.jwt_secret.blurb') %>
          <% else %>
            <%= I18n.t('txt.admin.views.mobile_sdk.field.short_jwt_secret.blurb') %>
            <a data-href="<%= generate_secret_mobile_sdk_auth_path(app.mobile_sdk_auth) %>" class="generate-shared-secret"><%= I18n.t('txt.admin.views.mobile_sdk.actions.generate_secret') %></a>
          <% end %>
        </span>
        <%= mobile_sdk_auth.text_field(:shared_secret, value: app.mobile_sdk_auth.shared_secret, readonly: true, class: 'under large shared-secret') %>
      </div>
    </div>
  <% end %>
<% end %>
