<div class="system-message-wrapper">
  <div class='field-wrapper'>
    <%= form.label :support_system_message, I18n.t("txt.admin.views.support.sdk.field.system_message.label") %>
    <span class="info">
      <%= I18n.t('txt.admin.views.support.sdk.field.system_message.blurb') %>
      <%= link_to I18n.t('txt.admin.views.support.sdk.field.system_message.learn_more.link_text'), I18n.t('txt.admin.views.support.sdk.field.system_message.learn_more.url'), target: "_blank" %>
    </span>

    <div class="switch">
      <label class="switch-label">
        <% system_message_types_select_options = MobileSdkApp::SYSTEM_MESSAGE_TYPES.map { |t| [ I18n.t("txt.admin.views.support.sdk.field.system_message.select.#{t}"), t ] } %>
        <%= form.property_set(:settings).select(
          :support_system_message_type,
          system_message_types_select_options,
          {},
          class: "system-message-select", data: { 'chosen': app.settings.support_system_message_type }
        ) %>
      </label>
    </div>
  </div>

  <div class="system-message-custom-wrapper <%= 'enabled' if app.settings.support_system_message_type == 'custom' %>">
    <div class='field-wrapper validation'>
      <%= form.label :support_system_message, I18n.t('txt.admin.views.support.sdk.field.system_message_custom.label') %>
      <span class="info"><%= I18n.t('txt.admin.views.support.sdk.field.system_message_custom.blurb') %></span>
      <%= form.property_set(:settings).text_field(:support_system_message, value: app.settings.support_system_message, class: "system-message-custom-text") %>
      <div class="system-message-custom-text-wrapper">
        <div class='validation-message'>
          <span class='length-error'><%= I18n.t('txt.admin.views.mobile_sdk.field.system_message_custom.length_error_v2') %></span>
          <span class='format-error'><%= I18n.t('txt.admin.views.mobile_sdk.field.system_message_custom.format_error') %></span>
        </div>
      </div>
    </div>
  </div>
</div>
