<%= form_for app, :html => { :multipart => true } do |form| %>
  <%= zd_tabs do %>
    <%= zd_tab(I18n.t('txt.admin.views.mobile_sdk.tabs.setup.title'), :id => "mobile_sdk_tabs_setup") do %>
      <%= render :partial => 'setup', :locals => { :app => app, :form => form } %>
      <%= render :partial => 'save_form' %>
    <% end %>
    <%= zd_tab(I18n.t('txt.admin.views.mobile_sdk.tabs.support_sdk.title'), :id => "mobile_sdk_tabs_customization") do %>
      <%= render :partial => 'customisation', :locals => { :app => app, :form => form } %>
      <%= render :partial => 'save_form' %>
    <% end %>
    <% if !current_account.has_mobile_sdk_rma_tab_removal? || app.settings.rma_enabled %>
      <%= zd_tab(I18n.t('txt.admin.views.mobile_sdk.tabs.rate_my_app.title'), :id => "mobile_sdk_tabs_rate_my_app") do %>
        <%= render :partial => 'rate_my_app', :locals => { :app => app, :form => form } %>
        <%= render :partial => 'save_form' %>
      <% end %>
    <% end %>
    <% if current_account.has_connect_sdk? %>
      <%= zd_tab(I18n.t('txt.admin.views.mobile_sdk.tabs.connect_sdk.title'), :id => "mobile_sdk_tabs_connect_sdk") do %>
        <%= render :partial => 'connect_sdk', :locals => { :app => app, :form => form } %>
        <%= render :partial => 'save_form' %>
      <% end %>
    <% end %>
    <% if current_account.has_mobile_sdk_answer_bot? %>
      <%= zd_tab(I18n.t('txt.admin.views.mobile_sdk.tabs.answer_bot.title'), :id => "mobile_sdk_tabs_answer_bot") do %>
        <%= render :partial => 'answer_bot', :locals => { :app => app, :form => form } %>
        <%= render :partial => 'save_form' %>
      <% end %>
    <% end %>
    <% if current_account.settings.voice? && current_account.has_mobile_sdk_talk_settings? %>
      <%= zd_tab(I18n.t('txt.admin.views.mobile_sdk.tabs.talk.title'), :id => "mobile_sdk_tabs_talk") do %>
        <%= render :partial => 'talk', :locals => { :app => app, :form => form } %>
        <%= render :partial => 'save_form' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
