<% if @groups_phone_numbers.empty? %>
  <div class="sdk-talk-warning">
    <div class="row">
      <div class="col-lg-1">
        <div class="sdk-talk-warning-icon">
          &nbsp;
        </div>
      </div>
      <div class="col-lg-11">
        <div class="sdk-talk-warning-header">
          <%= I18n.t('txt.admin.views.mobile_sdk.field.talk.failure_warning_title') %>
        </div>
        <span class="sdk-talk-warning-body">
          <%= I18n.t('txt.admin.views.mobile_sdk.field.talk.failure_warning_body') %>
        </span>
      </div>
    </div>
  </div>
<% end %>

<div class='field-wrapper'>
  <%= form.label :talk_enabled, I18n.t('txt.admin.views.mobile_sdk.field.talk_enabled.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.talk_enabled.blurb') %></span>
  <div class="switch" data-test-id="talk-switch">
    <label class="switch-label">
      <%= form.property_set(:settings).check_box(:talk_enabled, { :class => 'sdk-talk-enabled switch-checkbox' }) %>
      <span class="switch-content">
        <span class="switch-bg"></span>
        <span class="switch-toggle"></span>
      </span>
    </label>
  </div>
</div>

<div class="field-wrapper validation">
  <%= form.label :talk_button_id, I18n.t('txt.admin.views.mobile_sdk.field.talk_button_id.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.talk_button_id.blurb') %></span>
  <div class='sdk-talk-button-id-wrapper'>
    <%= form.property_set(:settings).text_field(:talk_button_id, value: app.settings.talk_button_id, class: 'sdk-talk-button-id') %>
    <div class='validation-message'>
      <% I18n.t("txt.admin.views.mobile_sdk.field.talk_button_id.validation_error").split("\n").each do |line| %>
        <%= line %><br/>
      <% end %>
    </div>
  </div>
</div>

<div class="field-wrapper">
  <%= form.label :talk_group_id, I18n.t('txt.admin.views.mobile_sdk.field.talk_call_group_routing.label') %>
  <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.talk_call_group_routing.blurb') %></span>
  <%= form.property_set(:settings).select(
    :talk_group_id,
    [[I18n.t('txt.admin.views.mobile_sdk.field.talk_call_group_routing.select_one'), nil]] + @groups_phone_numbers.map{ |g| [g['name'], g['id']] },
    {},
    class: "sdk-talk-group-select"
  ) %>
</div>

<div class="sdk-talk-phone-number-wrapper <% if app.settings.talk_group_id %>enabled<% end %>">
  <div class="field-wrapper">
    <%= form.label :talk_phone_number_id, I18n.t('txt.admin.views.mobile_sdk.field.talk_phone_number.label') %>
    <span class="info"><%= I18n.t('txt.admin.views.mobile_sdk.field.talk_phone_number.blurb_v2') %></span>

    <% if app.settings.talk_group_id && @groups_phone_numbers.any? %>
      <% phone_numbers = [[I18n.t("txt.admin.views.mobile_sdk.field.talk_phone_number.select_one"), nil]] + 
        @groups_phone_numbers.find { |g| g['id'] == app.settings.talk_group_id }['phone_numbers'].map { |p| [p['display_number'], p['id']] } %>
    <% else %>
      <% phone_numbers = [[I18n.t("txt.admin.views.mobile_sdk.field.talk_phone_number.select_one"), nil]] %>
    <% end %>

    <%= form.property_set(:settings).select(
      :talk_phone_number_id,
      phone_numbers,
      {},
      class: "sdk-talk-phone-number-select",
      data: {
        'select_one': I18n.t("txt.admin.views.mobile_sdk.field.talk_phone_number.select_one"),
        'groups_phone_numbers': @groups_phone_numbers,
        'chosen': app.settings.talk_phone_number_id
      }
    ) %>
  </div>
</div>
