<div class="admin-container">
  <bdo dir="<%= I18n.translation_locale.rtl? ? 'rtl' : 'ltr' %>">
    <h2><%= I18n.t('txt.admin.views.mobile_sdk.page_title') %></h2>

    <p class="description">
      <%= I18n.t('txt.admin.views.mobile_sdk.page_description') %>
      <%= link_to(I18n.t('txt.admin.views.reports.tabs.search.learn_more'),
                  I18n.t("txt.admin.views.mobile_sdk.documentation_url"),
                  :target => '_blank') %>
    </p>

    <% if @apps.empty? %>
      <div class="zero-state">
        <img src="/images/empty_phone.png" />
        <span><%= I18n.t("txt.admin.views.mobile_sdk.zero_state_copy",
          :link => link_to(
            I18n.t("txt.admin.views.mobile_sdk.zero_state_url_copy"),
            I18n.t("txt.admin.views.mobile_sdk.documentation_url"),
            :target => "_blank"
          )
        ) %></span>
        <button id="zeroStateAddApp"><%= I18n.t("txt.admin.views.mobile_sdk.actions.add_app") %></button>
      </div>
    <% end %>

    <div class="capsule-container active">
      <% if @apps.any? %>
        <div class="capsule-container-header">
          <button id="addApp"><%= I18n.t('txt.admin.views.mobile_sdk.actions.add_app') %></button>
        </div>
      <% end %>
      <ul>
        <li id="blankApp" class="capsule closed">
          <div class="capsule-header">
            <h5 class="capsule-title"><%= @blank_app.title %></h5>
            <%= render :partial => 'capsule_dropdown' %>
          </div>
          <div class="capsule-body">
            <%= render :partial => 'tabs', :locals => { :app => @blank_app } %>
          </div>
        </li>

        <% @apps.each do |app| %>
          <li class="current-app capsule closed">
            <div class="capsule-header">
              <h5 class="capsule-title"><%= app.title %></h5>
              <%= render :partial => 'capsule_dropdown' %>
              <%= form_for app, :html => { :class => 'delete-form', :method => :delete } do |form| %><% end %>
            </div>
            <div class="capsule-body">
              <%= render :partial => 'tabs', :locals => { :app => app } %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </bdo>
</div>

<script type="text/javascript">
  var confirmString = "<%= I18n.t('txt.admin.views.mobile_sdk.destroy.confirm') %>";
</script>
