<div class="admin-container">
  <bdo dir="<%= I18n.translation_locale.rtl? ? 'rtl' : 'ltr' %>">
    <div class="onboarding_wrapper">
      <div class="onboarding_container">
        <h1><%= I18n.t('txt.admin.views.mobile_sdk.page_title') %></h1>

        <p class="tagline"><%= I18n.t('txt.embeddables.sdk.onboarding.headline.tagline') %></p>

        <p class="subheading"><%= I18n.t('txt.embeddables.sdk.onboarding.headline.subheading') %></p>

        <div class="widget_animation">
          <%= image_tag("mobile/sdk/mobile_sdk_800.gif") %>
        </div>

        <%= form_tag({action: 'accept_tos'}, :method => :put) do |form| %>
        <button type="submit" class="get_started"><%= I18n.t('txt.embeddable.sdk.onboarding.start.button.label') %></button>
          <p class="mobile-sdk-tos"><%= check_box_tag :agree_mobile_sdk_tos, 1, false %> <%= label_tag :agree_mobile_sdk_tos,
                I18n.t('txt.embeddable.sdk.tos.checkbox.label',
                        :link_tos => (link_to I18n.t('txt.embeddable.sdk.tos.checkbox.link_tos'),
                          I18n.t('txt.embeddable.sdk.tos.checkbox.link_tos_url'),
                          :target => '_blank'),
                        :link_dev_agreement => (link_to I18n.t('txt.embeddable.sdk.tos.checkbox.link_dev_agreement'),
                          I18n.t('txt.embeddable.sdk.tos.checkbox.link_dev_agreement_url_v2'),
                          :target => '_blank')
                      )
          %></p>
        <% end %>
        <%= zd_tabs do %>
          <%= zd_tab(I18n.t('txt.embeddables.sdk.onboarding.tab1.label'), :id => "embeddables_sdk_onboarding_tab1") do %>
            <div class="why">
              <ul class="why_items">
                <li>
                  <%= image_tag("mobile/sdk/icons/integrated-support.png") %>
                  <h4><%= I18n.t('txt.embeddables.sdk.onboarding.tab1.first.crystal.heading') %></h4>
                  <p><%= I18n.t('txt.embeddables.sdk.onboarding.tab1.first.crystal.description') %></p>
                </li>
                <li>
                  <%= image_tag("mobile/sdk/icons/make-it-yours.png") %>
                  <h4><%= I18n.t('txt.embeddables.sdk.onboarding.tab1.second.crystal.heading') %></h4>
                  <p><%= I18n.t('txt.embeddables.sdk.onboarding.tab1.second.crystal.description') %></p>
                </li>
                <li>
                  <%= image_tag("mobile/sdk/icons/gain-context.png") %>
                  <h4><%= I18n.t('txt.embeddables.sdk.onboarding.tab1.third.crystal.heading') %></h4>
                  <p><%= I18n.t('txt.embeddables.sdk.onboarding.tab1.third.crystal.description') %></p>
                </li>
              </ul>
            </div>
          <% end %>
          <%= zd_tab(I18n.t('txt.embeddables.sdk.onboarding.tab2.label'), :id => "embeddables_sdk_onboarding_tab2") do %>
          <div class="why">
            <ul class="why_items">
              <li>
                <h4><%= I18n.t('txt.embeddables.sdk.onboarding.tab2.first.heading') %></h4>
                <p><%= I18n.t('txt.embeddables.sdk.onboarding.tab2.first.description') %></p>
                <div class="spacer"></div>
              </li>
              <li>
                <h4><%= I18n.t('txt.embeddables.sdk.onboarding.tab2.second.heading') %></h4>
                <p><%= I18n.t('txt.embeddables.sdk.onboarding.tab2.second.description') %></p>
                <div class="spacer"></div>
              </li>
              <li>
                <h4><%= I18n.t('txt.embeddables.sdk.onboarding.tab2.third.heading') %></h4>
                <p><%= I18n.t('txt.embeddables.sdk.onboarding.tab2.third.description') %></p>
                <div class="spacer"></div>
              </li>
            </uL>
          </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </bdo>
</div>
