<%= javascript_include_tag 'vendor/zuora/zuora_postmessage' %>
<script type="text/javascript">
  window.onload = function() {
    var message = {
      status: "<%= @credit_card_form_callout_handler.valid? %>",
      // errors supports current code in lotus FIXME when safe to remove
      errors: <%= @credit_card_form_callout_handler.errors.to_json.html_safe %>,
      error_title: "<%= @credit_card_form_callout_handler.error_title %>",
      error_messages: <%= @credit_card_form_callout_handler.error_messages.to_json.html_safe %>,
      subscription: <%= @credit_card_form_callout_handler.subscription_details.to_json.html_safe %>
    };

    var url = "<%= @credit_card_form_callout_handler.customer_url %>";
    ZXD.postMessage(JSON.stringify(message), url, parent.parent);
  }
</script>
