Disallow: /children
Disallow: /groups
Disallow: /organizations
Disallow: /requests
Disallow: /registration
Disallow: /plans
Disallow: /accounts
Disallow: /account
Disallow: /proxy
Disallow: /rules
Disallow: /tags
Disallow: /ticket_fields
Disallow: /reports
Disallow: /search
Disallow: /slas
Disallow: /integrations
Disallow: /users
Disallow: /suspended_tickets
Disallow: /events
Disallow: /console
Disallow: /attachments
Disallow: /requests/*/satisfaction/
<%# Help Center %>
<% if @trial %>
Disallow: /hc
<% else %>
Disallow: /hc/change_language/
Disallow: /hc/communities/public/topics/*?*filter=
Disallow: /hc/communities/public/questions$
Disallow: /hc/communities/public/questions?*filter=
Disallow: /hc/communities/public/questions/unanswered
Disallow: /hc/*/signin
Disallow: /hc/requests/
Disallow: /hc/*/requests/
Disallow: /hc/*/search
Disallow: /hc/*/article_attachments
<% end %>
Disallow: /access/normal
Disallow: /access/sso_bypass
Disallow: /access/unauthenticated
Disallow: /theming
Disallow: /knowledge
Disallow: /access/
