# See http://www.robotstxt.org/wc/norobots.html for documentation on how to use the robots.txt file

User-agent: AppleBot # Allow /tickets
<%= render 'common_directives' -%>

User-agent: *
<%= render 'common_directives' -%>
Disallow: /tickets

Sitemap: <%= @sitemap_uri %>
