<%= javascript_include_tag "swfobject" %>

<div id="resizing_msg" style="display: none;">
  <img src="/images/indicator2.gif"/>
  <%= I18n.t('txt.admin.views.reports.am.display.resizing_chart_label')%>
</div>

<div id="am_chart">
  <p><%= I18n.t('txt.admin.views.reports.am.display.download_adobe_flash')%>
  </p>
</div>

<script type="text/javascript">
  // <![CDATA[
  so = new SWFObject("/reports/amline", "am_chart", "100%", 400, "8", "#FFFFFF");
  so.addVariable("path", "/external/amline/");
  so.addVariable("data_file", "/reports/<%= @token || raise("Missing token") %>/data.xml");
  so.addVariable("settings_file", "/reports/settings.xml");
  so.addVariable("preloader_color", "#000000");
  so.addParam('wmode', 'transparent');
  so.write("am_chart");

  function resizeFlashDiv() {
    so.write("am_chart");
    // this is to help browsers repaint the div.
    document.getElementById('am_chart').style.display = 'none';
    document.getElementById('am_chart').style.display = '';
  }

  window.addEventListener('resize', resizeFlashDiv, false);

  // ]]>
</script>

