<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>…</title>
  <% if stylesheet_url %>
  <script>
  function handleStylesheetLoadError() {
    throw new Error('Error occurred loading stylesheet');
  }
  </script>
  <link
    rel="stylesheet"
    media="screen"
    href="<%= stylesheet_url %>"
    onerror="handleStylesheetLoadError()"
    crossorigin="anonymous"
    integrity="<%= stylesheet_integrity %>"
  />
  <% end %>
  <%= csrf_meta_tag %>
<body>
  <div class="root"></div>
  <script>
    window._supportRoutingAdminRollbarConfig = <%= rollbar_config %>;
  </script>
  <script
    src="<%= javascript_url %>"
    crossorigin="anonymous"
    integrity="<%= javascript_integrity %>"
  ></script>
