<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>…</title>
  <% if Rails.env.development? %>
    <%= stylesheet_link_tag 'admin' %>
  <% else %>
    <link
      rel="stylesheet"
      media="screen"
      href="<%= stylesheet_url %>"
      crossorigin="anonymous"
      integrity="<%= stylesheet_integrity %>"
    />
  <% end %>
  <%= csrf_meta_tag %>
<body>
  <div class="container"></div>
  <% if Rails.env.development? %>
    <%= javascript_include_tag 'admin' %>
  <% else %>
    <% if current_account.has_rule_admin_rollbar? %>
      <script>
        window._supportRuleAdminRollbarConfig = <%= rollbar_config %>;
      </script>
    <% end %>
    <script
      src="<%= javascript_url %>"
      crossorigin="anonymous"
      integrity="<%= javascript_integrity %>"
    ></script>
  <% end %>
