div.agent-stats{
  .rating-counts {
    span.positive, span.negative { font-weight: bold; }
    img.positive, img.negative { margin: 0 0.25em; }
    .positive { color: #7FA239; }
    .negative { color: #CF1414; }
  }
}
