@import "../../mixins.css.scss";
#container #satisfaction_rating.content {
  margin-bottom: 15px;
}

#satisfaction_rating {
  background-color: #fffdda;
  border: 1px solid #e1dc87;
  display: none;
  @include rounded-corners(8px);

  form, #current_rating {
    color: #555;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  #current_rating {
    header  { float: left; }

    .section {
      clear: both;
      padding-top: 5px;
    }

    .footer  {
      float: right;

      a { margin-left: 15px; }
      a.show_comment { display: none; }
    }
  }

  form {
    font-weight: bold;
  }

  .rating {
    background-color: #fff;
    border: 1px solid #e1dc87;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    padding: 3px 10px;
    @include rounded-corners(6px);

    & + .rating { margin-left: 5px; }

    &.good {
      color: #98C332;

      &.selected {
        background-color: #98C332;
        border-color: #98C332;
        color: #fff;
      }
    }

    &.poor {
      color: #E82A2A;

      &.selected {
        background-color: #E82A2A;
        border-color: #E82A2A;
        color: #fff;
      }
    }
  }

  a.rating:hover, a.rating:focus {
    cursor: pointer;
    text-decoration: none;
  }

  #satisfaction_reason_code {
    display: none;
    margin-top: 20px;

    select {
      margin-top: 6px;
    }
  }

  #satisfaction_form_body {
    display: none;
    margin-top: 20px;

    label, textarea { display: block; }

    textarea {
      color: #555;
      font-size: 12px;
      height: 5em;
      line-height: 16px;
      margin-top: 6px;

      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing: border-box;
    }

    .footer {
      margin-top: 10px;
      text-align: right;

      #satisfaction_form_cancel { margin-right: 12px; }
    }
  }
}
