<% content_for :footer do %>
  <script type="text/javascript">
    jQuery(function(){
      var options = {
        submitCreditCard: '#submit-credit-card',
        accountUrl: ZdZuora.CreditCardForm.accountUrl(document.location),
        hasPlanSelection: true,
        target: parent.parent,

        onlock: function(){
          var text = I18n.t('txt.admin.javascrips.views.account.credit_card._form.updating_credit_card_button_label');
          jQuery('#submit-credit-card').text(text);
          jQuery('#processing-overlay').addClass("active");
          jQuery('#credit-card-error').fadeOut();
          submitHostedPage('z_hppm_iframe');
        }
      };

      jQuery('#submit-credit-card').click(function(){
        ZdZuora.CreditCardForm.lock(options);
      });

      jQuery('a.cancel').click(function() {
        ZdZuora.CreditCardForm.cancelLotus(options);
        return false;
      });
    });
  </script>
<% end %>

<div class="credit-card-submit">
  <a href="#" class="cancel">
    <%= I18n.t('txt.admin.views.account.credit_card._form.cancel_link') %>
  </a>
  <button id="submit-credit-card" class="trial button save change">
    <%= I18n.t('txt.admin.views.account.credit_card._form.save_card_button') %>
  </button>
</div>
