<% if @zuora_hosted_page.show_vat_id_field? %>
  <div class="value-added-tax">
    <input id="vat" type="text" name="value_added_tax"/>
    <label for="vat"><%= @zuora_hosted_page.vat_name %></label>
  </div>
<% end %>

<div class="iframe-container">
  <%# Iframe sandboxed to fix https://support.zendesk.com/agent/tickets/836112 %>
  <iframe scrolling="no" id="z_hppm_iframe" class="has-billing-purchase-button" name="z_hppm_iframe" src="<%= @zuora_hosted_page.url %>" sandbox="allow-forms allow-same-origin allow-scripts"></iframe>
</div>

<% if @zuora_hosted_page.upgrading_from_trial? %>
  <%= render :partial => "zuora/credit_card/trial_upgrade_form" %>
<% else %>
  <%= render :partial => "zuora/credit_card/change_card_form" %>
<% end %>
