<% content_for :footer do %>
  <script type="text/javascript">
    jQuery(function(){
      var options = {
        termsAgree:       '#terms_agree',
        submitCreditCard: '#submit-credit-card',
        accountUrl: ZdZuora.CreditCardForm.accountUrl(document.location),
        hasPlanSelection: true,
        target: parent.parent,
        vat: null,

        onlock: function(){
          var text = I18n.t('txt.admin.javascrips.views.account.credit_card._form.updating_account_button_label');
          jQuery('#submit-credit-card').text(text);
          jQuery('#processing-overlay').addClass("active");
          jQuery('#credit-card-error').fadeOut();
          submitHostedPage('z_hppm_iframe');
        }
      };

      ZdZuora.CreditCardForm.reset(options);

      jQuery('#submit-credit-card').click(function() {
        var vatinput = $('input#vat').val();
        options.vat = vatinput;
        ZdZuora.CreditCardForm.lock(options);
      });

      jQuery('#z_hppm_iframe').ready(function() {
        ZdZuora.CreditCardForm.didLoad(options);
      });
    });

  </script>
<% end %>

<div class="credit-card-submit hidden" hidden>
  <button id="submit-credit-card" class="trial button">
    <%= I18n.t('txt.admin.views.account.credit_card._form.purchase') %>
  </button>
</div>
