<div class="icon"><img src="/images/types/group.png" title="<%= I18n.t('txt.admin.views.people.group.group.group_image_title') %>"/></div>

<div class="item-info with-icon">
  <h1>
    <%= link_to h(group.name), group_path(group), :dir => 'auto' %>
    <%= content_tag :span, "(#{group.users.count})", :class => 'item_count' %>
    <% if default_group?(group.id) %>
      <span class="default-group-tag" tabindex="0"><%= I18n.t('txt.admin.views.people.groups.group.default_group_badge') %></span>
    <% end %>
  </h1>

  <div class="info">
    <% user_count = group.users.count %>
    <% if user_count > 0 -%>
      <%= group.users.limited.pluck(:name).join(", ") %>
      <% if user_count > 30 %>
        <strong><%= I18n.t('txt.admin.views.people.groups.group.and_more', :group_size => (user_count - 30)) %></strong>
      <% end %>
    <% else %>
      <%= I18n.t('txt.admin.views.people.groups.group.no_members') %>
    <% end %>

  </div>

</div>

<% if current_user.can?(:edit, group) %>
  <div class="item-actions">
    <%= link_to I18n.t('txt.admin.views.people.groups.group.edit'), edit_group_path(group), {:class => 'edit_this', :rel => 'edit'} %>
  </div>
<% end %>
