<p><%= I18n.t('txt.admin.views.people.groups.sidebar_text.text_one')%></p>
<p><%= I18n.t('txt.admin.views.people.groups.sidebar_text.text_two')%></p>
<p><%= I18n.t('txt.admin.views.people.groups.sidebar_text.text_three')%></p>
<p><%= I18n.t('txt.admin.views.people.groups.sidebar_text.text_four')%></p>
<p><%= I18n.t('txt.admin.views.people.groups.sidebar_text.text_five')%>
