<div id="group-delete-confirm" class="dialog beware">

  <h1><%= I18n.t('txt.admin.views.people.groups.edit.delete_confirmation_short', :group_name => ERB::Util.h(@group.name)) %></h1>

  <%= form_for @group, :html => {:name => 'group-delete-confirm', :id => 'group-delete-confirm'} do |f| %>
    <div>
      <%= I18n.t('txt.admin.views.people.groups.edit.delete_confirmation_list_heading') %>
      <ul>
        <li>
          <%= I18n.t('txt.admin.views.people.groups.edit.delete_confirmation_unassign_tickets') %>
        </li>

        <% if current_account.settings.check_group_name_uniqueness %>
          <li>
            <%= I18n.t('txt.admin.views.people.groups.edit.delete_confirmation_remove_chat_group') %>
          </li>
        <% end %>

        <% @voice_usage.phone_numbers.each do |phone_number| %>
          <li id="phone-number-group-routing-<%= phone_number.id %>">
            <% if phone_number.next_group.nil? %>
              <%= I18n.t('txt.admin.views.people.groups.edit.delete_confirmation_route_to_all', :number => phone_number.name) %>
            <% else %>
              <%= I18n.t('txt.admin.views.people.groups.edit.delete_confirmation_route_to_new',
                :current_group_name => ERB::Util.h(@group.name),
                :proposed_group_name => phone_number.next_group,
                :number => phone_number.name
              ) %>
            <% end %>
          </li>
        <% end %>

        <% @voice_usage.ivrs.each do |ivr| %>
          <li id="ivr-group-<%= ivr.id %>">
            <%= I18n.t('txt.admin.views.people.groups.edit.delete_confirmation_ivr_broken', :ivr_name => ivr.name) %>
          </li>
        <% end %>
      </ul>

      <div class="actions">
        <%= link_to I18n.t('txt.admin.views.people.groups.edit.delete_label'), group_path(@group), class: 'proceed button destructive left', data: {method: :delete} %>
        <input type="button" id="cancel-delete" value="<%= I18n.t('txt.admin.views.people.groups.edit.cancel_label') %>" class="cancel button primary" />
      </div>
    </div>
  <% end %>
</div>
