<%= js_init -%>
<% @page_title = @group.id ? I18n.t('txt.admin.views.people.groups.edit.edit_group') : I18n.t('txt.admin.views.people.groups.edit.add_group') %>

<% content_for :sidebar do %>
  <%= div_side_box(@page_title) do %>
    <%= render :partial => 'sidebar_text' %>
  <% end %>
<% end %>

<% content_for :script do %>
  function canLeave(name, value, element) {
      if(value)
        return true;

      if(!element.checked) {
        return confirm(<%= I18n.t('txt.admin.views.people.group.edit.removing_user_from_group', :user_name => "--XXX--" ).to_json.gsub(/--XXX--/, '"+name+"').html_safe %>);
      }

      return true;
  }
<% end %>

<%= div_content do %>
  <%= form_for @group, :html => {:name => 'groupform', :id => "account-settings"} do |f| %>

    <h2><%= I18n.t('txt.admin.views.people.group.edit.group_name_label') %></h2>
    <% if @group.new_record? %>
      <p class="intro_text">
        <%= I18n.t('txt.admin.views.people.groups.group.intro.text_two') %>
      </p>
    <% end %>
    <%= f.text_field :name, :class => 'title', :dir => 'auto' %>
    <input type="hidden" name="group[agents][]" value="">
    <% if default_group?(@group.id) %>
      <div class="default_group_tag_edit_page">
        <span class="default-group-tag" tabindex="0"><%= I18n.t('txt.admin.views.people.groups.group.default_group_badge') %></span>
      </div>
    <% end %>
    <p class="intro_text">
      <br />
      <%= I18n.t('txt.admin.views.people.groups.group.intro.text_one',
          :learn_more => learn_more(I18n.t('txt.admin.views.people.groups.group.intro.learn_more'), :url => I18n.t('txt.admin.views.people.groups.group.intro.learn_more_link'))) %>
    </p>

    <div class="tabbed_container" mode="static"><div class="tabs_content two_column"><div class="element_group no_right_margin">
      <div class="form_element">
        <% if !default_group?(@group.id) %>
          <%= label_tag nil, I18n.t('txt.admin.views.people.groups.group.make_default_group') %>
          <div class="form_field">
            <div class="radio">
              <p class="make_default_check_box">
                <%= check_box_tag 'group[default]', true, false, { :class => :radio } %>
              </p>
            </div>
          </div>
        <% end %>
        <%= label_tag nil, I18n.t('txt.admin.views.people.group.edit.group_description_label') %>
        <div class="form_field">
          <div class="group_description">
            <%= f.text_field :description %>
          </div>
        </div>
        <%= label_tag nil, I18n.t('txt.admin.views.people.group.edit.agents_in_group_label') %>
        <div class="form_field">
          <div class="radio">
            <% current_account.agents.each do |agent| %>
              <% agent_in_group = @user_memberships.include?(agent.id) %>
              <% agent_entitlements = @user_entitlements[agent.id] %>
              <% is_agents_default_group = agent_in_group && @user_memberships[agent.id][:default] %>
              <% onclick = agent_in_group ? "return canLeave('#{escape_javascript(agent.name)}', #{@user_memberships[agent.id][:count] > 1 }, this)" : "return true" %>
              <div class="agent_info">
                <p>
                  <%= check_box_tag 'group[agents][]', agent.id, agent_in_group, { :id => "group_agents_#{agent.id}", :class => :radio, :onclick => onclick } %>
                  <%= label_tag "group_agents_#{agent.id}", agent.name, :class => :radio %>
                </p>
                <span><%= seat_types(agent_entitlements) %></span>
                <% if is_agents_default_group %>
                  <span><%= I18n.t('txt.admin.view.people.users.role_and_groups.default_group_label') %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div></div></div>

    <div class="action">
      <% if @group.id %>
        <input type="button" id="delete-group" value="<%= I18n.t('txt.admin.views.people.groups.edit.delete_label') %>" class="button destructive left" />
        <%= submit_tag I18n.t('txt.admin.views.people.groups.edit.update_group_label'), :class => 'button primary' %>
      <% else %>
        <%= submit_tag I18n.t('txt.admin.views.people.groups.edit.create_group_label'), :class => 'button primary' %>
      <% end %>
    </div>
  <% end %>
<% end %>
