<% @page_title = ERB::Util.h(@group.name) %>
<%= js_init -%>

<%= div_content do %>
  <div class="content-top-right big"><p><%= link_to I18n.t('txt.admin.views.people.groups.group.edit'), edit_group_path(@group), :class => 'edit_this' %></p></div>
  <h2><%= ERB::Util.h(@group.name) %></h2>
  <% if default_group?(@group.id) %>
    <span class="default-group-tag" tabindex="0"><%= I18n.t('txt.admin.views.people.groups.group.default_group_badge') %></span>
  <% end %>
  <% if current_account.has_customer_satisfaction_enabled? && (score = @group.satisfaction_score) %>
    <%= I18n.t('txt.admin.views.people.groups.show.group_satisfaction', :score => "<strong>#{score}%</strong>") %>
  <% end %>
<% end %>

<%= render :partial => 'people/association_tables' %>
