<div class='u-pb-xl u-ta-center'>
  <svg class='relationshape u-fg-sea-buckthorn chat-logo' width='100%' height='26px'>
    <use xlink:href='/images/garden_vector_icons.svg#zd-svg-icon-26-relationshape-chat'></use>
  </svg>
  <svg class='wordmark chat-wordmark' width='100%' height='26px'>
    <use xlink:href='/images/garden_vector_icons.svg#zd-svg-icon-26-wordmark-chat'></use>
  </svg>
</div>
