<link rel="stylesheet" href="https://assets.zendesk.com/apps/sdk-assets/css/2/zendesk_garden.css" type="text/css">

<%= render partial: "shared/wait", locals: { brand: render("#{first_product_name}_brand") } %>

<script type="application/javascript">
  (function() {
    var jwt = "<%= jwt %>";
    var verifyLink = "<%= owner_verify_link %>";
    var readinessCheckUrl = "<%= readiness_check_url %>";
    var stateCheckCount = 0;

    function ajax(url, success, failure) {
      var request = new XMLHttpRequest();
      request.open("GET", url);
      request.onreadystatechange = function() {
        if (request.readyState === 4 && request.status === 200) {
          stateCheckCount++;
          if (request.responseText.indexOf("complete") > 0) {
            success(request);
          } else if (stateCheckCount < 30) {
            failure(request);
          } else {
            throw new Error("New account creation has timed out.");
          }
        }
      };
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      request.send();
    }

    function success(response) {
      window.location = verifyLink;
    }

    function fail(response) {
      setTimeout(function() {
        ajax(readinessCheckUrl, success, fail);
      }, 1000);
    }

    ajax(readinessCheckUrl, success, fail);
  })();

  (function(){
    var hostname = window.location.hostname;
    var protocol = window.location.protocol;
    var productPath = protocol + '//' + hostname + '<%= first_product_path %>';

    var input = document.getElementById('new-hostname');
    input.value = productPath;
  }());
</script>
