<% form_id = "recipient_address_form" %>

<h2><%= I18n.t("txt.admin.views.settings.email._settings.support_address_lightbox_header") %></h2>
<div class="two_column">
<%= form_for [:settings, @recipient_address], :html => {:id => form_id} do |f| %>
  <div class="form_element">
    <div class="clearfix">
      <%= f.label :email, I18n.t('txt.admin.views.settings.email._settings.support_address') %>
      <% if @recipient_address.persisted? %>
        <span class="email"><%= css_truncate @recipient_address.email %></span>
        <%= f.hidden_field :email %>
      <% else %>
        <%= f.text_field :email %>
      <% end %>
      <div>
        <div id="recipient_address_email_error" style="color: red">&nbsp;</div>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :name, "#{I18n.t('txt.admin.views.settings.email._settings.support_address_name_optional')}" %>
      <%= f.text_field :name, dir: "auto" %>
    </div>
    <% brands = available_brands_for_address(@recipient_address) %>
    <% if brands.size > 1 %>
      <div class="clearfix">
        <%= f.label :brand, I18n.t('txt.admin.views.settings.email._settings.brand') %>
        <%= f.select :brand_id, brands.map { |b| [b.name, b.id] } %>
      </div>
    <% end %>
  </div>

  <div class="live_preview" data-url="<%= preview_settings_recipient_addresses_path %>" data-form="#<%= form_id %>">
    <%= render "header_preview" %>
  </div>

  <div class="submit-button">
    <%= submit_tag(I18n.t('txt.admin.views.settings.email._settings.save_tab'), :class => "button save") %>
  </div>
<% end %>
</div>

<script>
  Zendesk.Email.RecipientAddress.livePreview();
  Zendesk.Email.RecipientAddress.bindEmailBrandSelect(<%= current_account.domain_brand_map.to_json.html_safe %>);
</script>
