<% from, reply_to = personalized_address_example(@recipient_address) %>

<h3><%= I18n.t("txt.admin.views.settings.email._settings.support_address_example_description") %></h3>
<div class="header_example">
  <table>
    <tr>
      <td class="label"><%= I18n.t("txt.admin.views.settings.email._settings.support_address_example_from") %></td>
    </tr>
    <tr>
      <td><%= css_truncate from %></td>
    </tr>
    <tr>
      <td class="label"><%= I18n.t("txt.admin.views.settings.email._settings.support_address_example_reply_to") %></td>
    </tr>
    <tr>
      <td><%= css_truncate reply_to %></td>
    </tr>
  </table>
</div>
