<div class="tabbed_container" mode="static"><div class="tabs_content two_column"><div class="element_group no_right_margin">
  <% if @cms_text.new_record? or @cms_variant.new_record? %>
    <div class="form_element">
      <%= f.label @cms_text.new_record? ? I18n.t('txt.admin.views.cms.variants._form.Default_Language') : I18n.t('txt.admin.views.cms.variants._form.Language') %>
      <div class="form_field">
        <% additional_language_options = current_account.available_languages.collect {|l| [ l.localized_name(display_in: I18n.translation_locale), l.id ] } %>
        <% collator = ICU::Collation::Collator.new(I18n.translation_locale.locale) %>
        <%= f.select :translation_locale_id, additional_language_options.sort{ |a, b| collator.compare(a[0], b[0]) },
          { :disabled => @cms_text.locales.map(&:id), :prompt => I18n.t('txt.admin.views.cms.variants._form.Select_prompt') } %>
        <p><%= @cms_text.new_record? ? I18n.t('txt.admin.views.cms.variants._form.The_default_language_of') : I18n.t('txt.admin.views.cms.variants._form.The_language_of_the_dynamic_variant') %></p>
      </div>
    </div>
  <% end %>
  <% unless @cms_text.new_record? %>
    <div class="form_element">
      <%= f.label I18n.t('txt.admin.views.cms.variants._form.Status') %>
      <div class="form_field">
        <% if @cms_variant.is_fallback? %>
          <p><%= I18n.t('txt.admin.views.cms.variants._form.Default') %></p>
        <% else %>
          <div class="active_radio">
            <%= f.radio_button :active, true %>
            <%= f.label :active, I18n.t('txt.admin.views.cms.variants._form.Active'), :value => true, :class => 'active_choice' %>
            <br/><br/>
            <%= f.radio_button :active, false %>
            <%= f.label :active, I18n.t('txt.admin.views.cms.variants._form.Inactive'), :value => false, :class => 'active_choice' %>
          </div>
        </div>
      </div>
      <div class="form_element">
        <%= f.label I18n.t('txt.admin.views.cms.variants._form.Default') %>
        <div class="form_field">
          <%= f.check_box :is_fallback, {}, true, false %>
          <%= f.label :is_fallback, I18n.t('txt.admin.views.cms.variants._form.Make_this_the_default_variant'), :class => 'active_choice' %>
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="form_element">
    <%= f.label I18n.t('txt.admin.views.cms.variants._form.Content') %>
    <div class="form_field">
      <%= f.text_area :value, :class => "cms_content", :dir => "auto", :rows => 15 %>
      <p><%= I18n.t('txt.admin.views.cms.variants._form.The_text_of_the_dynamic') %></p>
    </div>
  </div>
</div></div></div>
<div class="action">
  <%= link_to I18n.t('txt.admin.views.cms.variants._form.Cancel'),  @cms_variant.present? ? @cms_text : cms_texts_path %>
  <%= submit_tag((@cms_text.new_record? or @cms_variant.new_record?) ? I18n.t('txt.admin.views.cms.variants._form.Create') : I18n.t('txt.admin.views.cms.variants._form.Update'), :class => 'button primary') %>
</div>
