<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.cms.variants.edit.Edit_a_variant')) do %>
    <p><%= I18n.t('txt.admin.views.cms.variants.edit.Edit_your_content_for_your') %></p>
  <% end %>
<% end %>

<%= div_content do %>
  <%= content_tag(:h2,  link_to(@cms_text.name, cms_text_path(@cms_text)) + " / " + @cms_variant.localized_name(display_in: I18n.translation_locale) ) %>

  <%= form_for(@cms_variant, :url => cms_text_variant_path(:cms_text_id => @cms_text.id), :html => { :method => 'put', :class => "two_column" }) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
<% end %>
