<% content_for :sidebar do %>
  <%= div_side_box( I18n.t('txt.admin.views.cms.variants.new.Add_new_variant') ) do %>
    <p><%= I18n.t('txt.admin.views.cms.variants.new.To_add_a_new_variant') %></p>
  <% end %>
<% end %>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.cms.variants.new.New_Variant') %></h2>

  <%= form_for(@cms_variant, :url => cms_text_variants_path(@cms_text), :html => { :method => 'post', :class => "two_column" } ) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
<% end %>
