<p class="intro_text">
  <%= I18n.t('txt.admin.views.settings.extensions._crm.intro_text') %>
  <%= I18n.t('txt.admin.views.settings.extensions._crm.learn_more_about1',
    :link1 => link_to(I18n.t('txt.contextual.references.salesforce.title'), I18n.t('txt.contextual.references.salesforce.url'), :target => '_blank'),
    :link2 => link_to(I18n.t('txt.contextual.references.sugar_crm.title'), I18n.t('txt.contextual.references.sugar_crm.url_v2'), :target => '_blank'),
    :link3 => link_to(I18n.t('txt.contextual.references.ms_dynamics.title'), I18n.t('txt.contextual.references.ms_dynamics.url'), :target => '_blank')
  ) %>
</p>

<div class="two_column">
  <div class="form_element">
    <div class="element_group">
      <%= label_tag :crm_integration, I18n.t('txt.admin.views.settings.extensions._crm.Select_CRM') %>
      <div class="form_field">
        <%= select_tag :crm_integration, options_for_select(crm_options_for_select, crm_selected_option) %>
      </div>
    </div>
  </div>
</div>

<div id="salesforce" class="<%= class_for_crm_div(SalesforceIntegration.name) %>">
  <%= render :partial => "salesforce3" %>
</div>

<div id="sugar" class="<%= class_for_crm_div(SugarCrmIntegration.name) %>">
  <%= render :partial => "sugar" %>
</div>

<div id="ms_dynamics" class="<%= class_for_crm_div(MsDynamicsIntegration.name) %>">
  <%= render :partial => "ms_dynamics" %>
</div>
