<%= form_for(:account, :url => { :action => "update_ms_dynamics", :anchor => "crm" },
  :html => { :class => 'two_column', :id => 'ms_dynamics_form', "data-on-premise" => @account.ms_dynamics_integration.try(:on_premise?), :autocomplete => 'off' }) do |f| %>
  <div class="element_group">

    <div class="form_element">
      <% if current_account.ms_dynamics_integration.try(:configured?) && !current_account.ms_dynamics_integration.try(:new_record?) %>
        <span class='label'>Connected</span>
        <div class="form_field">
          <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.connected") %></p>
        </div>
      <% else %>
        <span class='label'><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.connect") %></span>
        <div class="form_field">
          <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.zendesk_for_dynamics", :zendesk_for_dynamics_link => link_to(I18n.t("txt.admin.views.settings.extensions._ms_dynamics.zendesk_for_dynamics_link"), I18n.t("txt.contextual.references.ms_dynamics.url"), :target => "_blank")) %></p>
          <% if current_account.crm_integration.try(:configured?) %>
            <p class="warning">
              <%= I18n.t("txt.admin.views.settings.extensions._crm.warning") %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= fields_for @account.ms_dynamics_integration || @account.build_ms_dynamics_integration(:active => true) do |r| %>
      <div class="form_element">
        <%= r.label :type_code, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.type_code.label") %>
        <div class="form_field">
          <%= r.select :type_code, options_for_select([[I18n.t("txt.admin.views.settings.extensions._ms_dynamics.type_code.cloud"), 0], [I18n.t("txt.admin.views.settings.extensions._ms_dynamics.type_code.on_premise"), 1], [I18n.t("txt.admin.views.settings.extensions._ms_dynamics.type_code.ifd"), 2]], @account.ms_dynamics_integration.try(:type_code)) %>
        </div>
      </div>

      <div class="form_element">
        <%= r.label :web_service_address, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.web_service_address.label") %>
        <div class="form_field">
          <%= r.text_field :web_service_address, :placeholder => "https://domain.server.com:8080" %>
          <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.web_service_address.description") %></p>
        </div>
      </div>

      <div class="form_element">
        <%= r.label :server_address, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.crm_server_address.label") %>
        <div class="form_field">
          <%= r.text_field :server_address %>
          <p class="ms_dynamics_on_premise ms_dynamics_on_ifd"><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.crm_server_address.description.premise") %></p>
          <p class="ms_dynamics_on_cloud"><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.crm_server_address.description.cloud") %></p>
        </div>
      </div>

      <div class="ms_dynamics_on_premise ms_dynamics_on_ifd">
        <div class="form_element">
          <%= r.label :additional_domains, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.additional_domains.label") %>
          <div class="form_field">
            <%= r.text_field :additional_domains %>
            <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.additional_domains.description") %></p>
          </div>
        </div>
      </div>

      <div class="ms_dynamics_on_premise ms_dynamics_on_ifd">
        <div class="form_element">
          <%= r.label :domain_name, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.domain_name.label") %>
          <div class="form_field">
            <%= r.text_field :domain_name %>
            <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.domain_name.description") %></p>
          </div>
        </div>
      </div>

      <%# user_id is not on our system %>
      <div class="form_element">
        <%= r.label :user_id, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.username.label") %>
        <div class="form_field">
          <%= r.text_field :user_id %>
          <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.username.description") %></p>
        </div>
      </div>

      <div class="form_element">
        <%= r.label :password, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.password.label") %>
        <div class="form_field">
          <%= r.password_field :password, :autocomplete => 'off' %>
          <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.password.description") %></p>
        </div>
      </div>

      <div class="form_element">
        <%= r.label :discovery_uri, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.discovery_uri.label") %>
        <div class="form_field">
          <%= r.text_field :discovery_uri, :placeholder => "https://dev.crm.dynamics.com/XRMServices/2011/Discovery.svc" %>
          <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.discovery_uri.description") %></p>
        </div>
      </div>

      <div class="form_element">
        <%= r.label :organization_name, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.organization_name.label") %>
        <div class="form_field">
          <%= r.text_field :organization_name, value: r.object.send(:organization_name) %>
          <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.organization_name.description") %></p>
        </div>
      </div>

      <div class="form_element">
        <%= r.label :organization_uri, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.organization_uri.label") %>
        <div class="form_field">
          <%= r.text_field :organization_uri, :placeholder => "https://dev.crm.dynamics.com/XRMServices/2011/Organization.svc" %>
          <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.organization_uri.description") %></p>
        </div>
      </div>

      <div class="form_element">
        <%= f.label :active, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.active.label") %>
        <div class="form_field">
          <%= zd_enable_checkbox(r, :active, I18n.t("txt.admin.views.settings.extensions._ms_dynamics.active.enable")) %>
          <p><%= I18n.t("txt.admin.views.settings.extensions._ms_dynamics.active.description") %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= remove_selected_crm_link %>
    <%= submit_tag(I18n.t('txt.admin.views.settings.extensions._sugar.Save_tab_label'), :class => "button save", :id => "settings_extensions_ms_dynamics_save_button") %>
  </div>
<% end %>
