<li class="ui-state-default field <%= field[:key].include?("::") ? "related" : "primary" %> <%= field[:select] ? "selected" : "non_selected" %>"
    data-field="<%= field[:key] %>"
    data-title="<%= field[:title] %>"
    data-type="<%= field[:type] %>">
  <span class="name"><%= field[:title] %></span>
  <% if field[:type] != "base64" # we can't use binary fields in SF queries %>
    <span class="add_link"><%= link_to I18n.t("txt.admin.views.settings.extensions._salesforce3.add_field"), "#" %></span>
  <% end %>
  <span class="remove_link"><%= link_to "X", "#" %></span>
</li>
