<table>
  <tr>
    <td id="salesforce_objects">
      <div id="add_object">
        <%= link_to I18n.t("txt.admin.views.settings.extensions._salesforce3.add_object"), edit_salesforce_object_settings_extensions_path, :class => "edit_salesforce_object" %>
      </div>

      <div class="clear"></div>

      <div id="salesforce_selected_objects">
        <%= salesforce_selected_objects %>
      </div>

      <% if current_account.salesforce_integration.configuration.objects.size > 1 %>
        <div class="item reorder buttons-right">
          <%= link_to I18n.t('txt.admin.views.rules.index.reorder_label'), "#", id: "start_sorting" -%>
        </div>

        <%= render partial: "salesforce_selected_objects_sort" %>
      <% end %>

      <div class="clear"></div>
    </td>
    <td id="salesforce_test_app">
      <%= render partial: 'salesforce_test_app' %>
    </td>
  </tr>
</table>
