<% errors_list = salesforce_configuration_errors(object_name) %>

<% if errors_list.present? %>
  <div class="salesforce_warning">
    <div class="salesforce_error_title"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.errors.general") %></div>
    <% errors_list.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>
<% end %>