<div id="salesforce_selected_objects_sort" style="display:none">
  <ul id="salesforce_selected_objects_sort_list" class="rule-sorter sortablelist">
    <% current_account.salesforce_integration.configuration.objects.each_with_index do |object_name, i| -%>
      <li class="item sortable" id="item_<%= object_name %>" data-zendesk-original-position="<%= i -%>">
        <%= h(object_name) -%>
      </li>
    <% end -%>
  </ul>

  <div class="buttons-right">
    <%= link_to I18n.t('txt.admin.views.rules.sort.done_label'), "javascript:void(0);", id: "salesforce_selected_objects_reorder_done_link", class: "button" %>
    <%= link_to I18n.t('txt.admin.views.rules.sort.cancel_label'), "javascript:void(0);", id: "cancel_sorting" %>
    <div class="clear">&nbsp;</div>
  </div>
</div>
