<div class="object_configuration item">
  <%= render :partial => "salesforce_errors", :locals => { :object_name => object_name } %>

  <div class="object_name">
    <%= object_label %>
  </div>

  <div class="object_actions">
    <%= link_to I18n.t("txt.admin.views.settings.extensions._salesforce3.edit_object"), edit_salesforce_object_settings_extensions_path(:object => object_name), :class => "edit_salesforce_object" %>
    <%= link_to I18n.t("txt.admin.views.settings.extensions._salesforce3.remove_object"),remove_salesforce_object_settings_extensions_path(:object => object_name), :data => { :confirm => I18n.t("txt.admin.views.settings.extensions._salesforce3.remove_confirmation"), :method => :delete } %>
  </div>

  <div class="clear"></div>

  <div class="primary_object_fields">
    <% primary.each do |field| %>
      <p>
        <span class="primary_object_field_label"><%= labels[field] %></span>
        <% if field == salesforce_field %>
          <span class="mapped_field">
            <%= I18n.t("txt.admin.views.settings.extensions._salesforce3.mapped_to_zendesk", :field => mapped_zendesk_field(zendesk_field) || I18n.t("txt.admin.views.settings.extensions._salesforce3.unknown_field")) %>
          </span>
        <% end %>
      </p>
    <% end %>
  </div>

  <% related.each do |related_object, related_fields| %>
    <p class="related_object">
      <%= current_account.salesforce_integration.configuration.friendly_name(related_object) %>
      <% if current_account.salesforce_integration.configuration.relationships(object_name)[related_object]["type"] == Salesforce::ObjectManagement::PARENT_RELATIONSHIP %>
        <%= link_to I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.link"), edit_object_filter_settings_extensions_path(:object => object_name, :relationship_name => related_object), :class => "edit_object_filter" %>
      <% end %>
    </p>
    <div class="related_object_fields">
      <% related_fields.each do |field| %>
        <p><%= labels["#{related_object}::#{field}"] %></p>
      <% end %>
    </div>
  <% end %>
</div>
