<div class="salesforce_connection <%= environment %>">
  <% if current_account.has_multiple_salesforce_connections? %>
    <%= salesforce_field.property_set(:settings).radio_button(:use_salesforce_production, setting, id: "use_salesforce_#{environment}") %>
  <% end %>
  <%= label_tag("use_salesforce_#{environment}", title, class: "radio") %>
  <% if is_configured %>
    <p><%= I18n.t('txt.admin.views.settings.extensions._salesforce_setup.Your_Zendesk_account_is_connected') %></p>
    <p><%= I18n.t('txt.admin.views.settings.extensions._salesforce_setup.Reconnect_to_Salesforce_to_reauthorize') %></p>
    <p><%= link_to I18n.t("txt.admin.views.settings.extensions._salesforce_setup.Click_here_to_reconnect"), connect_to_salesforce_settings_extensions_path(:salesforce_environment => environment), :target => "_top" %></p>
  <% else %>
    <p><%= link_to I18n.t("txt.admin.views.settings.extensions._salesforce_init.connect_to_salesforce"), connect_to_salesforce_settings_extensions_path(:salesforce_environment => environment), :class => "tracked", "data-tracking-module" => "CRM", "data-tracking-activity" => "Enabling salesforce.com", :target => "_top" %></p>
  <% end %>
</div>
