<ul class="primary_sortable_fields">
  <% fields.each do |field| %>
    <% if field[:isFolder] %>
      <div class="folder_container">
        <li class="folder <%= field[:fields].any? ? "selected" : "non_selected" %> <%= field[:fields].any? ? "expanded" : "contracted" %>"
          data-loaded=<%= field[:fields].any? %>
          data-title="<%= field[:title] %>"
          data-relationship="<%= field[:relationship] %>"
          data-object="<%= field[:object] %>"
          data-type="<%= field[:type] %>">
          <%= link_to image_tag("plus.gif"), "#", :class => "expand_link" %>
          <%= link_to image_tag("minus.gif"), "#", :class => "contract_link" %>
          <%= field[:title] %>
        </li>

        <div class="children">
          <%= render :partial => "salesforce_related_fields", :locals => { :fields => field[:fields] } %>
        </div>
      </div>
    <% else %>
      <%= render :partial => "salesforce_field", :locals => { :field => field } %>
    <% end %>
  <% end %>
</ul>
