<%= div_side_box do %>
  <h4>
    <%= I18n.t("txt.admin.views.settings.extensions._salesforce3.test.title") %>
    <span id="crm_loading" class="hide"><img src="/images/loader.gif"/></span>
  </h4>

  <p><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.test.description") %></p>

  <script type="text/html" id="crm_template">
    <%= render partial: "crm/sidebar_widget" %>
  </script>

  <script type="text/html" id="crm_error_template">
    <%= I18n.t("txt.admin.views.settings.extensions._salesforce3.test.error") %>
  </script>

  <div id="crm_user_data"></div>

  <div id="crm_test_form">
    <% mapped_zendesk_fields(current_account.salesforce_integration.configuration.objects, mappeable_zendesk_fields).each do |mapped_field| %>
      <p><%= mapped_field[0] %>:</p>
      <p><%= text_field_tag mapped_field[1], nil, :dir => 'auto' %></p>
    <% end %>

    <%= submit_tag I18n.t("txt.admin.views.settings.extensions._salesforce3.test.button"), class: "button" %>
  </div>
<% end %>
