<%= form_for(current_account, url: { action: "update_salesforce", anchor: "salesforce" }, html: { id: 'salesforce_integration_form', autocomplete: 'off' }) do |salesforce_field| %>

  <h2><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.title") %></h2>
  <p><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.subtitle") %></p>

  <div class="salesforce_item"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.connect") %></div>
  <hr/ >

  <%= render partial: "salesforce_connection",
             locals: { salesforce_field: salesforce_field,
                          is_configured: current_account.salesforce_production.try(:configured?),
                          environment: "production",
                          setting: '1',
                          title: I18n.t("txt.admin.helpers.crm_helper.production_label") } %>

  <%= render partial: "salesforce_connection",
             locals: { salesforce_field: salesforce_field,
                          is_configured: current_account.salesforce_sandbox.try(:configured?),
                          environment: "sandbox",
                          setting: '0',
                          title: I18n.t("txt.admin.helpers.crm_helper.sandbox_label") } %>

  <div class="clear"></div>

  <% if current_account.salesforce_integration.try(:configured?) %>
    <div class="salesforce_item"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.enable") %></div>
    <hr/ >

    <div class="form_field">
      <div class="one_line">
        <%= zd_enable_checkbox(salesforce_field.property_set(:settings), :salesforce_integration, I18n.t('txt.admin.views.settings.extensions._salesforce3.data_sync.enable')) %>
      </div>
    </div>

    <div id="conf_fields" class="form_field hide">
      <% if current_account.has_configurable_salesforce_app_latency? || !current_account.has_salesforce_app_v2_enabled? %>
        <div class="salesforce_item"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.customize") %></div>
        <hr/ >
      <% end %>

      <% if current_account.has_configurable_salesforce_app_latency? %>
        <div id="app_latency" class="form_field">
          <%= salesforce_field.fields_for :salesforce_integration_attributes, @account.salesforce_integration do |settings_field| %>
            <%= settings_field.label :app_latency, I18n.t("txt.admin.views.settings.extensions._salesforce3.configure_app_latency") %>
              <p><%= I18n.t('txt.admin.views.settings.extensions._salesforce3.configure_app_latency_warning') %></p>
            <%= settings_field.select :app_latency, salesforce_app_latency_select_options %>
          <% end %>
        </div>
      <% end %>

      <% unless current_account.has_salesforce_app_v2_enabled? %>
        <div id="use_salesforce_configuration">
          <%= salesforce_field.label :settings_use_salesforce_configuration, I18n.t("txt.admin.views.settings.extensions._salesforce3.configuration.options_label") %>

          <div class='form_field'>
            <%= salesforce_field.property_set(:settings).select :use_salesforce_configuration, [[ I18n.t("txt.admin.views.settings.extensions._salesforce3.configuration.use_existing"), "0" ], [ I18n.t("txt.admin.views.settings.extensions._salesforce3.configuration.use_customized"), "1" ]] %>
            <p><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.configuration.description") %></p>
          </div>
        </div>

        <div id="salesforce_configuration" class="hide">
            <div id="salesforce_objects_configuration"><%= render partial: 'salesforce_configuration' %></div>
        </div>
      <% end %>
      
      <div class="clear"></div>

      <div class="salesforce_item"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.show_parent.label") %></div>
      <hr/ >
      <%= salesforce_field.fields_for :salesforce_integration_attributes, @account.salesforce_integration do |r| %>
        <%= r.select :show_parent, options_for_select(salesforce_show_parent_options,  salesforce_show_parent_selected_option?) %>
      <% end %>
    </div>
    <div class="actions">
      <%= remove_selected_crm_link %>
      <%= submit_tag(I18n.t('txt.admin.views.settings.extensions._salesforce_setup.Save_tab_label'), :class => "button save", :id => "settings_extensions_salesforce_save_button") %>
    </div>
  <% else %>
    <p id="salesforce_image">
      <img src="/images/salesforce_teaser.png" />
    </p>
  <% end %>
<% end %>
