<%= form_for(:account, :url => { :action => "update_sugar_crm", :anchor => "crm" },
            :html => { :class => 'two_column', :id => 'sugar_crm_form', :autocomplete=>'off' }) do |f| %>
  <div class="element_group">

    <div class="form_element">
      <% if current_account.sugar_crm_integration.try(:configured?) && !current_account.sugar_crm_integration.try(:new_record?) %>
        <span class='label'><%= I18n.t('txt.admin.views.settings.extensions._sugar.Connected') %></span>
        <div class="form_field">
          <p><%= I18n.t('txt.admin.views.settings.extensions._sugar.Your_Zendesk_account_is_connected') %></p>
        </div>
      <% else %>
        <span class='label'><%= I18n.t('txt.admin.views.settings.extensions._sugar.Connect') %></span>
        <div class="form_field">
          <p><%= I18n.t('txt.admin.views.settings.extensions._sugar.Zendesk_for_SugarCRM_application', :zendesk_for_sugar_crm_link => (link_to I18n.t('txt.admin.views.settings.extensions._sugar.Zendesk_for_SugarCRM_application_link'), "https://support.zendesk.com/entries/32016673", :target => "_blank"))%></p>
          <% if current_account.crm_integration.try(:configured?) %>
            <p class="warning">
              <%= I18n.t('txt.admin.views.settings.extensions._crm.warning') %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= fields_for @account.sugar_crm_integration || :sugar_crm_integration do |r| %>
      <div class="form_element">
        <%= r.label :url, I18n.t('txt.admin.views.settings.extensions._sugar.URL') %>
        <div class="form_field">
          <%= r.text_field :url, :autocomplete => 'off' %>
          <p><%= I18n.t('txt.admin.views.settings.extensions._sugar.Your_SugarCRM_url_ie_http') %></p>
        </div>
      </div>
      <div class="form_element">
        <%= r.label :username, I18n.t('txt.admin.views.settings.extensions._sugar.Username') %>
        <div class="form_field">
          <%= r.text_field :username, :autocomplete => 'off' %>
          <p><%= I18n.t('txt.admin.views.settings.extensions._sugar.Use_SugarCRM_administrator_credentials') %></p>
        </div>
      </div>
      <div class="form_element">
        <%= r.label :password, I18n.t('txt.admin.views.settings.extensions._sugar.Password') %>
        <div class="form_field">
          <%= r.password_field :password, :autocomplete => 'off' %>
        </div>
      </div>
      <div class="form_element">
        <%= f.label :active, I18n.t('txt.admin.views.settings.extensions._sugar.User_data_lookup') %>
        <div class="form_field">
          <%= zd_enable_checkbox(r, :active, I18n.t('txt.admin.views.settings.extensions._sugar.Enable')) %>
          <p><%= I18n.t('txt.admin.views.settings.extensions._sugar.Sugar_CRM_user_data_will_display') %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= remove_selected_crm_link %>
    <%= submit_tag(I18n.t('txt.admin.views.settings.extensions._sugar.Save_tab_label'), :class => "button save", :id => "settings_extensions_sugar_crm_save_button") %>
  </div>
<% end %>
