<p class="intro_text">
  <%= I18n.t('txt.admin.views.settings.extensions._targets.intro_text') %>  <%= learn_more(I18n.t('txt.admin.views.settings.extensions._targets.Learn_more'), :url => I18n.t('txt.admin.views.settings.extensions._targets.Learn_more_url')) %>
</p>

<div class="tab-top-right add-link">
  <p><%= link_to I18n.t('txt.admin.views.settings.extensions._targets.add_target'), '/targets/select_target_to_add', :class => 'add' %></p>
</div>

<div class="hover-actions item-border-top list-items">
  <h4><%= I18n.t('txt.admin.views.settings.extensions._targets.active_targets', :number_of_active_targets => @account.targets.active.count) %></h4>
  <%= render :partial => "target", :collection => @account.targets.active %>

  <% if @account.targets.inactive.any? %>
    <div class="setting-divider"></div>
    <div class="inactive">
      <h4><%= I18n.t('txt.admin.views.settings.extensions._targets.inactive_targets', :number_of_inactive_targets => @account.targets.inactive.count) %></h4>
      <%= render :partial => "target", :collection => @account.targets.inactive %>
    </div>
  <% end %>
</div>

