<div class="item">
  <div class="item-info">
    <div class="float_label" style="width:250px;"><span class="title"><%= target.title || I18n.t('txt.admin.views.settings.extensions._target.Unnamed_target') %></span>
    <% if target.is_system_target? %><span class="badge"><%= I18n.t('txt.admin.views.settings.extensions._target.system_label')%></span><% end %></div>
    <div class="float_label" style="width:170px; color:#ADADAD;"><%= sent_messages(target) %></div>
    <div class="float_label" style="width:150px; color:#ADADAD;"><%= target.kind %></div>
    <% if @apps_requirements_targets.include? target.id %>
      <div class="float_label" style="color:#FFFFFF; padding:3px 5px; background-color:#aaa; border-radius:3px;">
        <%= I18n.t('txt.admin.views.settings.apps_requirements.created_by_app', :app_name => html_escape(@apps_requirements_targets[target.id])) %>
      </div>
    <% end %>
  </div>
  <div class="item-actions hover">
    <% unless target.is_apps_requirement? %>
      <% unless target.is_active? %>
        <%= link_to(I18n.t('txt.admin.views.settings.extensions._target.delete'), target_path(target), :data => { :confirm => I18n.t('txt.admin.views.settings.extensions._target.are_you_sure_v2'), :method => :delete }, :class => 'admin') %>
        <span class="delim">|</span>
      <% end %>

      <% unless target.is_locked? %>
        <% if target.is_active? %>
          <%= link_to I18n.t('txt.admin.views.settings.extensions._target.deactivate'), deactivate_target_path(target), data: {method: :post} %>
        <% else %>
          <%= link_to I18n.t('txt.admin.views.settings.extensions._target.activate'), activate_target_path(target), data: {method: :post} %>
        <% end %>
        <span class="delim">|</span>
      <% end %>

      <%= link_to(I18n.t('txt.admin.views.settings.extensions._target.edit'), edit_target_path(target), { :class => 'edit_this', :rel => 'edit' }) %>
    <% end %>
  </div>
</div>
