<div id="salesforce_header">
  <h1><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.title", :related_object => current_account.salesforce_integration.configuration.friendly_name(@relationship_name)) %>
</h1>
</div>

<%= form_tag('', { :id => 'salesforce_filter_form' }) do %>

  <%= hidden_field_tag "object_name", @object_name %>

  <%= hidden_field_tag "relationship_name", @relationship_name %>

  <div class="salesforce_item"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.limit") %></div>
  <%= select_tag "limit", options_for_select(1..5, @limit.to_i) %>

  <div class="salesforce_item"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.filter") %></div>

  <p>
    <%= select_tag "regular_filter_field", salesforce_filter_options(@regular_fields, @regular_field["field"], I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.select_field")) %>
    <%= select_tag "regular_filter_operator", options_for_select([[I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.is_operator"), "="], [I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.is_not_operator"), "!="]], @regular_field["operator"]) %>
    <%= text_field_tag "regular_filter_value", @regular_field["value"] %>
  </p>

  <p>
    <%= select_tag "date_filter_field", salesforce_filter_options(@date_fields, @date_field["field"], I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.select_date_field")) %>
    <%= select_tag "date_filter_operator", options_for_select([[I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.before_operator"), "<"], [I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.after_operator"), ">"]], @date_field["operator"]) %>
    <%= text_field_tag "date_filter_value", @date_field["value"], :readonly => "readonly" %>
  </p>

  <p>
    <%= link_to I18n.t("txt.admin.views.settings.extensions._salesforce3.object_filter.reset_fields"), "#", :id => "reset_fields" %>
  </p>

  <div class="actions">
    <%= submit_tag I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.cancel"), :class => "button", :onclick => "$j.colorbox.close(); return false;" %>
    <%= submit_tag I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.save"), :class => "button save" %>
  </div>

<% end -%>
