<% if @objects.size == 1 %>
  <div id="salesforce_header">
    <h1><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.title.edit") %></h1>
  </div>

  <%= render :partial => "salesforce_errors", :locals => { :object_name => @objects.first["name"] } %>
<% else %>
  <div id="salesforce_header">
    <h1><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.title.add") %></h1>
  </div>
<% end %>

<div class="salesforce_item"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.item1") %></div>
<div class="salesforce_subitem"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.subitem1") %></div>

<%= form_tag('', { :id => 'salesforce_object_form' }) do %>

  <%= select_tag "salesforce_object", options_for_select(@objects.map{ |obj| [obj["label"], obj["name"]] }) %>

  <div id="salesforce_fields"></div>

  <div class="actions">
    <%= submit_tag I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.cancel"), :class => "button", :onclick => "$j.colorbox.close(); return false;" %>
    <%= submit_tag I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.save"), :class => "button save" %>
  </div>

<% end -%>
