<% unless @fields.present? %>
  <div class="salesforce_warning">
    <div class="salesforce_error_title"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.errors.connection_problem") %></div>
  </div>
<% end %>

<div class="salesforce_item"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.item2") %></div>
<div class="salesforce_subitem"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.subitem2") %></div>

<div class="salesforce_fields_container">
  <div class="salesforce_title"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.available_fields") %></div>
  <div class="salesforce_fields available_fields">
    <%= render :partial => "salesforce_fields", :locals => { :fields => @fields } %>
  </div>
</div>

<div class="arrow"></div>

<div class="salesforce_fields_container">
  <div class="salesforce_title"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.selected_fields") %></div>
  <div class="salesforce_fields selected_fields" data-fields="<%= @selected_fields.to_json %>">
    <%= render :partial => "salesforce_fields", :locals => { :fields => @fields } %>
  </div>
</div>

<div class="clear"></div>

<div class="salesforce_item"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.item3") %></div>
<div class="salesforce_subitem"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.subitem3") %></div>

<div class="mapping_fields">
  <div class="salesforce_title"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.selected_fields") %></div>
  <%= select_tag "mapping_salesforce_field", "", "data-selected" => @mapping_salesforce_field %>
</div>

<div class="map_to"></div>

<div class="mapping_fields">
  <div class="salesforce_title"><%= I18n.t("txt.admin.views.settings.extensions._salesforce3.object_config.zendesk_field") %></div>
  <%= select_tag "mapping_zendesk_field", options_for_select(mappeable_zendesk_fields, @mapping_zendesk_field) %>
</div>

<div class="clear"></div>
