<%= render :partial => '/account/header' %>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.settings.extensions.show.Extensions') %></h2>
  <%= zd_tabs do %>
    <% if @account.has_targets? %>
      <%= zd_tab(I18n.t('txt.admin.views.settings.extensions.show.targets'), :id => 'targets') do %>
        <%= render :partial => "targets" %>
      <% end %>
    <% end %>

    <% if @account.has_crm_integrations? %>
      <%= zd_tab(I18n.t('txt.admin.views.settings.extensions.show.crm'), :id => 'crm') do %>
        <%= render :partial => "crm" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= js_init %>
