----------------------------------------------
<% if !comment.trusted? && for_agent %>

<% flags.each do |flag| %>
!*** <%= strip_tags(flag) %> ***!
<% end %>
<% end %>
<% if header.present? %>

<%= header %>

<% end %>

<%= rendered_body %>

<% if attachments.any? %>

<%= attachments_header %>:
<% attachments.each do |attachment| %>
<%= attachment.display_filename %> - <%= attachment.url(:brand => brand) %>
<% end %>
<% end %>

<% if screencasts.any? %>
<% screencasts.each do |screencast| %>
<%= screencast.display_name %> - <%= screencast.url %>
<% end %>
<% end %>
