<table dir="<%= dir %>" width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation" style="font-family:<%= font_family %>;">
  <tr>
    <td dir="<%= dir %>" width="100%" style="font-family:<%= font_family %>;padding: 15px 0; border-bottom: 1px solid WhiteSmoke;">
      <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;" role="presentation">
        <tr>
          <% if show_thumbnail? %>
            <td dir="<%= dir %>" valign="top" style="font-family:<%= font_family %>;padding: 0 15px 0 15px; width: 40px;">
              <%= image_tag(author_photo, :width => "40", :height => "40", :alt => '', :style => "height: auto; line-height: 100%; outline: none; text-decoration: none; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;") %>
            </td>
          <% end %>
          <td dir="<%= dir %>" width="100%" style="font-family:<%= font_family %>;padding: 0;padding-<%= rtl ? "left" : "right" %>:15px;margin: 0;" valign="top">
            <p style="margin-bottom:15px; margin-top: 0; padding: 0;">
              <strong><%= h(author_name) %></strong>
              <span style="color: gray; font-size: 12px;"><%= date %></span>
            </p>
            <%= rendered_body %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
