<hr style="border: none 0; border-top: 1px dashed #c2c2c2; height: 1px; margin: 15px 0 0 0;"/>
<br />
<strong><%= h(header) %>:</strong>

<% if !comment.trusted? && for_agent %>
  <% flags.each do |flag| %>
    <p style="color:#B94A48;margin-bottom:10px;"><%= flag %></p>
  <% end %>
<% end %>

<%= rendered_body %>

<% if attachments.any? %>
<p>
  <%= h(attachments_header) %><br/>
  <% attachments.each do |attachment| %>
    <a href="<%= attachment.url(:host => host) %>"><%= h(attachment.display_filename.gsub("#","##")) %></a><br/>
  <% end %>
</p>
<% end %>

<% if screencasts.any? %>
  <% screencasts.each do |screencast| %>
    <p><a href='<%= screencast.url %>'><%= screencast.display_name %></a></p>
  <% end %>
<% end %>
