<table width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
  <tr>
    <td width="100%" style="padding: 15px 0; border-top: 1px dotted #c5c5c5;">
      <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;" role="presentation">
        <tr>
          <% if show_thumbnail? %>
            <td valign="top" style="padding: 0 15px 0 15px; width: 40px;">
              <%= image_tag(author_photo, :width => "40", :height => "40", :alt => '',
                    :style => "height: auto; line-height: 100%; outline: none; text-decoration: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;")
              %>
            </td>
          <% end %>

          <td width="100%" style="padding: 0; margin: 0;" valign="top">
            <p style="font-family:<%= font_family %>; font-size: 15px; line-height: 18px; margin-bottom: 0; margin-top: 0; padding: 0; color:#1b1d1e;">
              <% if comment.author.is_agent? %>
                <% if account.has_rtl_lang_html_attr? %>
                  <% if current_user.translation_locale.rtl? %>
                    <strong><%= h(author_name) %></strong> &#8235;<%= agent_label %>&#8236;
                  <% else %>
                    <strong><%= h(author_name) %></strong> <%= agent_label %>
                  <% end %>
                <% else %>
                  <strong><%= h(author_name) %></strong> <span class="directional_text_wrapper"><%= agent_label %></span>
                <% end %>
              <% else %>
                <strong><%= h(author_name) %></strong>
              <% end %>
            </p>

            <p style="font-family:<%= font_family %>; font-size: 13px; line-height: 25px; margin-bottom: 15px; margin-top: 0; padding: 0; color:#bbbbbb;">
              <%= date %>
            </p>

            <% if !comment.trusted? && for_agent %>
              <table cellpadding="0" cellspacing="0" border="0" role="presentation">
                <tbody>
                  <% flags.each do |flag| %>
                    <tr>
                      <td style="background:#F0F0F0; padding:5px 11px 5px 10px; color:#555555;">
                        <%= flag %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>

            <% if !comment.is_public? %>
              <table cellpadding="0" cellspacing="0" border="0" role="presentation">
                <tbody>
                  <tr>
                    <td style="background:#FFF691; padding:5px 11px 6px 10px; color:#333333;">
                      <strong><%= h(private_note) %></strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end %>

            <%= rendered_body %>

            <% if attachments.any? %>
            <p style="line-height: 22px; font-family:<%= font_family %>; margin-top: 15px; margin-bottom: 15px; font-size: 14px; color:#333333;">
              <%= h(attachments_header) %><br/>
              <% attachments.each do |attachment| %>
                <a href="<%= attachment.url(:host => host) %>"><%= h(attachment.display_filename.gsub("#","##")) %></a><br/>
              <% end %>
            </p>
            <% end %>

            <% if screencasts.any? %>
            <p style="line-height: 22px; font-family:<%= font_family %>; margin-top: 15px; margin-bottom: 15px; font-size: 14px; color:#333333;">
              <% screencasts.each do |screencast| %>
                <a href='<%= screencast.url %>'><%= screencast.display_name %></a><br/>
              <% end %>
            </p>
            <% end %>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
