<% if !comment.trusted? && for_agent && flags.present? %>
  <table dir="<%= dir %>" width="100%" bgcolor="#fff7ed" cellpadding="0" cellspacing="0" border="0" role="presentation" style="font-family:<%= font_family %>;background-color:#fff7ed;<%= !comment.is_public? ? "margin-bottom: 15px;" : "" %>border:1px solid #fed6a8;border-radius: 4px;color: rgb(173, 89, 24);font-size: 14px;">
    <tbody>
      <% flags.each_with_index.each do |flag, i| %>
        <tr>
          <td dir="<%= dir %>" valign="top" bgcolor="#fff7ed" style="font-family:<%= font_family %>;margin:0px;padding-left:15px;padding-right:15px;background-color:#fff7ed;<%= i == 0 ? "padding-top:15px;" : "padding-top:0px;" %><%= i == flags.length - 1 ? "padding-bottom:15px;" : "padding-bottom:5px;" %>">
            <%= alert_warning_icon %><%= flag %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <hr style="border: none 0; border-top: 1px solid #c2c2c2; height: 1px; margin: 15px 0;" />
<% end %>
<% if !comment.is_public? %>
  <table dir="<%= dir %>" cellpadding="0" cellspacing="0" border="0" role="presentation" style="margin-bottom: 15px;font-family:<%= font_family %>;">
    <tbody>
      <tr>
        <td dir="<%= dir %>" valign="top" bgcolor="#ffb057" style="font-family:<%= font_family %>;line-height:1;padding:5px 10px;border-radius: 4px;background-color:#ffb057;color:#703815;">
          <%= h(internal_note) %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= rendered_body %>
<% if attachments.any? %>
  <table dir="<%= dir %>" cellpadding="0" cellspacing="0" border="0" role="presentation" style="font-family:<%= font_family %>;">
    <tbody>
      <tr>
        <% attachments.each_with_index do |attachment, i| %>
          <% attachment_margin = "padding-#{rtl ? 'left' : 'right'}:8px;" %>
          <td dir="<%= dir %>" width="136px" height="116px" valign="top" style="font-family:<%= font_family %>;padding:0;margin:0;color:#333333;<%= last_attachment?(i, attachments) ? '' : attachment_margin %>">
            <table dir="<%= dir %>" cellpadding="0" cellspacing="0" border="0" role="presentation" style="background-color:#ffffff;border-width:1px;border-style:solid;border-color:#d8dcde;border-radius:5px;padding:0px;cursor:pointer;width:136px;height:116px;margin-bottom:8px;">
              <tbody>
                <tr>
                  <td dir="<%= dir %>" valign="top" style="font-family:<%= font_family %>;padding:0;margin:0;">
                    <a style="text-decoration: none;" href="<%= attachment.url(:host => host) %>">
                      <%= file_icon(attachment) %>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td dir="<%= dir %>" valign="top" style="font-family:<%= font_family %>;margin:0;color:#333333;padding:8px;padding-bottom:0;background:#E9EBED;">
                    <a style="text-decoration: none;" href="<%= attachment.url(:host => host) %>">
                      <div style="color:rgb(73, 84, 92);height:48px;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:12px;line-height:16px;">
                        <div style="width:136px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><%= h(attachment.file_name_without_extension) %></div>
                        <% unless attachment.file_extension.nil? %>
                          <div><%= h(attachment.file_extension.upcase) %></div>
                        <% end %>
                      </div>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <br />
<% end %>
<% if last_three_comments.present? %><%= last_three_comments %><% end %>
<% if !comment.signature_added? %>
  <p style="padding:0;margin:0;">
    <div><% unless comment.author.is_agent? %>-- <br /><% end %><strong><%= h(author_name) %></strong></div>
    <% if comment.author.is_agent? && comment.ticket.brand %>
      <span><%= h(comment.ticket.brand.name) %></span>
    <% end %>
  </p>
<% end %>
