<%= sanitize rendered_body, attributes: %w(href) %>

<% if attachments.any? %>
  <p>
    <%= h(attachments_header) %><br/>
    <% attachments.each do |attachment| %>
      <a href="<%= attachment.url(:host => host) %>"><%= h(attachment.display_filename.gsub("#","##")) %></a><br/>
    <% end %>
  </p>
<% end %>

<% if screencasts.any? %>
  <p>
    <% screencasts.each do |screencast| %>
      <a href='<%= screencast.url %>'><%= screencast.display_name %></a><br/>
    <% end %>
  </p>
<% end %>
