.tickets-show, .tickets-new, .tickets-update {
 .frame {
    padding-top: 0;
    padding-bottom: 0;
  }

  #new_user_form input[type='text'] {
    width: 300px;
  }

  #uploads_form {
    float: right;
    text-align: right;
  }

  .closed_ticket {
    padding-left: 10px !important;
    margin: 15px 0;
  }
}

.tickets-show {
 .frame {
    padding-top: 0;
    padding-bottom: 3px;
  }
}

#ticket-chat {
  .comment {
    clear: left;
    margin: 10px 0 5px 0;
    padding: 0;
    background-color: #f7f7f7;

    .comment-by {
      background: none;
      color: #888;
      display: block;
      font-size: 11px;
      margin: 0 0 3px 0;
    }
  }

  .private {
    background: url(/classic/images/speak_private_big.png) no-repeat 20px 8px;

    &.email {
      background: url(/classic/images/speak_private_big_email.png) no-repeat 20px 8px;
    }

    &.ticket_sharing {
      background: url( /classic/images/speak/private_ticket_sharing_big.png ) no-repeat 20px 8px;
    }
  }

  .public {
    background: url(/classic/images/speak_public_big.png) no-repeat 20px 8px;

    &.description-for-new-ticket {
      background: url(/classic/images/speak_public_big.png) no-repeat 20px 25px;
    }

    &.email {
      background: url(/classic/images/speak_public_big_email.png) no-repeat 20px 8px;
    }

    &.twitter {
      background: url(/classic/images/speak_public_big_twitter.png) no-repeat 20px 8px;
    }

    &.voicemail {
      background: url(/classic/images/speak_public_big_voicemail.png) no-repeat 20px 8px;
    }

    &.phone_call_inbound {
      background: url(/classic/images/speak_public_big_phone_call_inbound.png) no-repeat 20px 8px;
    }

    &.phone_call_outbound {
      background: url(/classic/images/speak_public_big_phone_call_inbound.png) no-repeat 20px 8px;
    }

    &.ticket_sharing {
      background: url( /classic/images/speak/public_ticket_sharing_big.png ) no-repeat 20px 8px;
    }
  }

  #comment_type {
    clear: left;
    padding-top: 5px;
  }
  .comment_mode {
    color: #777;
    line-height: 2em;
    position: relative;
    z-index: 1;
    display: inline
  }

  .comment_mode span {
    margin-left: 20px;
  }
  #channel_comment {
    margin-left: 20px;
  }
  #ticket_remove_tags_message {
    display: none;
    color: green;
    margin-bottom: 10px;

    .tag {
      -border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      background: #DEE7F8 none repeat scroll 0 0;
      border: 1px solid #CAD8F3;
      padding: 1px 4px 2px;
      margin-right: 4px;

      &:hover {
        background-color: #BBCEF1;
        border-color: #6D95E0;
      }
    }

    .close {
      font-weight: bold;
      color: #777;
      padding: 2px 0 2px 3px;
      font-size: 12px;
      cursor: pointer;
      text-decoration: none;
      outline: none;
    }
  }

  .description-for-new-ticket-label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .say {
    color: #333;
    font-size: 12px;
    padding: 5px 15px 5px 65px;
    word-wrap: break-word;

    p {
      color: #333;
      line-height: 1.5em;
      padding-right: 10px;
    }
  }
}



#requester_header {
  margin: 20px 10px 0;
  padding-bottom: 10px;
  font-size: 9pt;
  color: #555;
  border-bottom: 1px solid #e9e9e9;

  .bullet {
    padding-left: 18px;
    padding-bottom: 3px;
    &.person {
      background: url('/classic/images/icons/person.png') no-repeat 0 -3px;
      font-weight: bold;
      color: #444;
    }
    &.calendar {
      background: url('/classic/images/icons/calendar.png') no-repeat 0 -2px;
    }
    &.phone {
      background: url('/classic/images/icons/phone.png') no-repeat 0 -1px;
    }
    &.voicemail {
      background: url('/classic/images/icons/voicemail.png') no-repeat 0 -1px;
    }
    &.email {
      background: url('/classic/images/icons/email.png') no-repeat 0 0;
    }
    &.facebook {
      background: url('/classic/images/icons/fb_post_icon.png') no-repeat 0 0;
    }
  }

  #edit_requester_link {
    font-weight: normal;
  }

  .separator {
    font-size: 7pt;
    color: #ddd;
    margin: 5px;
  }
}

#sentimentWarning {
  display: none;
  float: right;
  margin-right: 33px;
  background-color: #FFD502;
  padding: 3px 10px;
  border: 1px solid #ECC602;
  margin-bottom: 10px;
}

ul#markdown_preview_links {
  margin: 30px 0 0 -65px!important;
  padding: 0!important;
  position: absolute;
  width: 65px;

  li {
    list-style: none!important;
    padding: 0!important;
    margin: 0!important;
    text-align: center;
    width: 100%;

    &:first-of-type {
      margin-top: 5px!important;
    }

    a {
      border-bottom: 1px solid transparent;
      display: block;
      text-decoration: none;
      padding: 5px 0;

      &.disabled {
        background-color: #F4F4F4;
        border-color: #C3C3C3;
        color: #777;

        &:hover {
          cursor: default;
        }
      }
    }
  }
}

#markdown_preview {
  $radius: 3px;
  border: 1px solid #C3C3C3;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  padding: 5px 5px 25px 5px;
  margin-top: 5px;

  // Overrides
  p {
    margin: 0 0 12px 0;
  }
}

.form-new {
  h3 {
    margin: 20px 0 15px 0;
    font-size: 15px;
    font-weight: normal;
  }

  input[type="submit"] {
    margin-left: 15px;
    line-height: 15px;
    vertical-align: middle;
  }

}
