#edit_requester {
  background-color: #f4f4f4;
  padding: 15px 0;
  margin: 0 10px;

  p {
    margin: 3px 0 0 0;
    font-size: 11px;
    color: #666;
  }

  label {
    float: left;
    font-size: 9pt;
    padding-top: 6px;
    text-align: right;
    width: 71px
  }

  #static_requester div,
  #dynamic_requester div,
  ol {
    margin-bottom: 12px;
    margin-left: 82px;
    div {
      margin-left: 0
    }
  }

  #ticket_sharing_select select {
    margin-left: 10px;
    margin-top: 3px;
  }

  #ticket_requester_name,
  #collaborators-input,
  ul.multi_value_field {
    width:400px;
    padding: 6px;
  }

  #static_requester label { padding-top: 0; }
  #static_requester div strong { font-size: 10pt; }
}

.tickets-new {
  #edit_requester {
    margin-top: 23px;
    border-top: 1px solid #e9e9e9;
  }
}

