@import "../../mixins.css.scss";
.tickets-show,
.tickets-update {
  #uploads_form {
    margin-top: -24px;
  }
}

.tickets-new,
.tickets-create {
  #uploads_form {
    margin-bottom: 10px;
  }
}

.select span.tags {
  display: block;
  margin-top: 5px;
}

.tickets-show,
.tickets-new,
.tickets-create,
.tickets-update {
  .attach_list {
    margin-bottom: 10px;
    border-radius: 3px;
  }

    .attach_item {
      background: #F4F4F4 url(/classic/images/attachment.png) no-repeat 7px 5px;
      padding: 5px 10px 5px 25px;
      margin: 0 0 5px 5px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      float: left;
      font-weight: bold;

      .deletable {
        padding-left: 5px;

        a {
          font-size: 9pt;
          font-weight: normal;
        }
      }
    }

  .twitter-properties {
    color: #444444;

    li {
      margin-left: 8px;
    }
  }

  .visibility-controls {
    padding: 3px;
  }

  #associated_incidents_warning {
    width: 350px;
    h1 {
      margin-bottom: 0.5em;
    }
    .action {
      padding-left: 190px;
      padding-right: 0;
    }
  }

  #crm_user_data .more-link {
    display: block;
    text-align: right;
    padding-bottom: 10px;
  }
}

.portal .attenuate {
  border: 1px solid #ddd;
  padding: 3px 7px 3px 5px;
  @include rounded-corners(5px);
  color: #444;
  vertical-align: 30%;
}

.tickets {
  .attenuate {
    display: inline-block;
    font-size: 11px;
    margin-top: 4px;
    margin-left: 3px;
    padding: 3px 7px 3px 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #444;
    vertical-align: 30%;
    @include rounded-corners(5px);

    &.twitter {
      padding-left: 18px;
      background: url('/classic/images/icons/twitter.png') no-repeat 1px 2px;
    }
  }

  .ticket_sharing {
    padding: 3px 7px 3px 4px;
    background: #ffd url(/classic/images/icons/sharing.png) no-repeat 2px 2px;
    border-color: #ee8;
    padding-left: 20px;
    cursor: default;
    &.in {
      background-position: 2px -27px;
    }
    &.out {
      background-position: 2px -12px;
    }
  }

  #ticket_header {
    float: left;
    margin-right: 5px;
  }

  #sharing_with {
    display: inline-block;
    cursor: auto;

    #shared_tickets_list {
      font-size: 8pt;
      margin-top: -4px;
      position: absolute;
      padding: 0px 5px 3px 0;
      background-color: #ffd;
      border: 1px solid #ee8;
      div {
        margin-top: 3px;
      }
    }
  }

  #channel_comment {
    padding: 2px 0 0 23px;
    background: url(/classic/images/t_mini-c.png) no-repeat scroll 3px 0px;
    &.attenuate {
      vertical-align :0%;
      padding: 2px 5px 1px;
      color: #666;
      border: 1px solid #C5C5C5;
    }
  }
}

#charcounter {
  position:relative;
  float:right;

  div {
    position: absolute;
    top: 5px;
    left: -34px;
    width: 30px;
    text-align:right;
    font-weight: bold;
    color: #AAA;
    font-size: 14px;
  }
}

#closed_ticket_actions form {display:inline;}

div._macro_list {
  top: 12px;
}

#ticketform .right h3{
  float: left;
}

#chat_from_ticket{
  float: right;
  padding: 0 20px 0 26px;
  background: url(/classic/images/sprites/opaque_icons.png) 3px 0 no-repeat;
  line-height: 20px;
}
.user_badge {
  float: left;
}
#events .user_badge .agent_badge {
  background: #777;
  clear: both;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  margin: 0 0 0 2px;
  padding: 2px;
  text-align: center;
}
#history .user_badge .agent_badge {
  background: #777;
  clear: both;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  margin: 0 0 0 2px;
  padding: 2px;
  text-align: center;
}

#suggest {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 18px;
  background: white;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  max-width: 400px;
  z-index: 1001;

  ul {
    margin: 0;
  }
}

.suggest-li {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
.suggest-li-focus {
  color: white;
  background: #4183c4;
  text-decoration: none;
}
.suggest-detail {
  color: #737373;
  font-weight: normal;
}
.suggest-li-focus .suggest-detail {
  color: white;
}

ul.recorded_screencasts_list {
  padding-left: 0px;
  margin-bottom: 10px;
  margin-left: 0px !important;
  padding-left: 0px !important;

  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 8px 0 0 !important;
    padding: 0 !important;
    background: none !important;

    a {
      margin: 0;
      padding: 6px 28px;
      border: 1px solid #e5e5e5;

      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;

      color: #1A6690;
      font-size: 11px;
      font-style: normal;
      font-variant: normal;
      text-align: center;
      text-decoration: none;
      display: block;

      background: #f6f6f6 url(/classic/images/screencasts/screencast_icon.png) no-repeat 8px 9px;
    }
  }
}

#comment_wrapper {
  margin-top: 10px;
  background: #ffffff;
  overflow: auto;
  height: 100px;
}

#video_wrapper {
  background-color: #EEEEEE;
  padding: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
