/**************/
/* Drop lists */
/**************/
.content ul.drop-list {
  padding: 0;
  position: relative
}

ul.drop-list, ul.drop-list ul {
  list-style: none
}

ul.drop-list:hover {
  z-index: 15;
}

ul.drop-list li.link {
  cursor: pointer;
  color: #1A6690;
  font-weight: bold
}

ul.drop-list ul ul {
  border: 2px solid #999;
  left: 170px;
  top: -11px
}

ul.drop-list ul {
  background: #FFFFFF none repeat scroll 0%;
  border-style: solid;
  border-width: 2px;
  display: none;
  left: 150px;
  margin: 5px 0 0 0;
  min-height: 18px;
  padding: 4px 7px 6px 8px;
  position: absolute;
  width: 170px;
  z-index: 15;
}

ul.drop-list ul li:hover, ul.drop-list ul li.sub:hover {
  background-color: #F5F5F5
}

ul.drop-list ul.first-drop {
  margin-left: -158px;
  margin-top: -17px;
  z-index: 15;
  position: absolute ! important;
}

div#end-user-form {
  ul.drop-list ul.first-drop {
    padding-top: 28px;
    margin-top: -23px
  }
  .frame {
    padding-bottom: 3px;
    margin-left: 0;
    width: 300px;
    #suggestions_for_new_topic {
      display: block;
    }
  }
}

* html div#end-user-form ul.drop-list ul.first-drop {
  margin-top: -28px;
}

ul.drop-list ul.first-drop {
}

ul.drop-list ul.first-drop ul.sd {
}

ul.drop-list ul li:first-child {
  border-top: none
}

ul.drop-list ul li.sub {
  background: transparent url(/classic/images/composite.gif) no-repeat scroll 162px -331px
}

ul.drop-list ul li {
  border-top: 1px solid #E5E5E5;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 3px 6px;
  position: relative
}

ul.drop-list li.drop-header {
  color: #444;
  font-weight: bold;
  padding-top: 12px
}

ul.drop-list li.drop-header:hover {
  background-color: #FFF
}

span.drop {
  background: transparent url(/classic/images/composite.gif) no-repeat scroll 0 -318px;
  padding-left: 12px;
  position: relative;
  z-index: 0;
}

/*****************/
/* Drop lists end*/
/*****************/

#force_dm_checkbox, #channel_back_dm {
  display:none;
}

#twitter_controls {
  border-left: 3px solid #eee;
  margin: 10px 0 10px 20px;
  padding: 5px 0 3px;
}

#twitter_controls input[type="radio"] {
  margin-left: 20px;
}

#draft_status {
  color: #999;
  font-size: 10px;
  margin-top: -19px;
  padding: 0 6px;
}

.content #comment_value {
  background: transparent url(/classic/images/draft_bg.png) repeat-x 0% 150%;
  padding: 5px;
  margin: 5px 0 0 0;
  resize: vertical;

  body.anonymous-new & {
    background-color: #FBFBFB;
  }
}
