<%= div_content do %>
  <h2><%= I18n.t('txt.requests.organization.index.viewing', :organization => current_organization.name) %></h2>
  <%= form_tag(search_organization_requests_path(current_organization), { :id => "searchform", :method => 'get', :style =>'margin-bottom:2px; margin-top:10px;'}) do %>
    <%= text_field_tag(:query, params[:query], {:style => 'width:550px', :class => 'title'}) %>
    <%= hidden_field_tag(:backend, params[:backend]) if params[:backend] %>
    <%= submit_tag(I18n.t('txt.search.title'), :id => 'buttonsubmit', :class => "button search") %>
  <% end %>
<% end %>
