<% content_for :sidebar do %>
  <%= div_side_box(current_organization.name) do %>
    <ul class="options">
      <li class="link">
        <%= link_to(
              I18n.t('txt.requests.organization.index.view_open', :organization => current_organization.name),
              organization_requests_path(current_organization)) %>
      </li>
      <li class="link">
        <%= link_to(
              I18n.t('txt.requests.organization.index.view_solved', :organization => current_organization.name),
              organization_requests_path(current_organization, :filter => 'solved')) %>
      </li>
    </ul>
    <h4>
      <%= I18n.t('txt.requests.organization.index.view_by_user', :organization => current_organization.name) %>
    </h4>
    <div id="sidebar_users">
      <%= render "sidebar_users" %>
    </div>
  <% end %>
<% end %>

<script>
  $j(function($){
    $("#sidebar_users").pjaxContainer('.pagination a'); // ajaxify pagination
    $("#sidebar_users .pagination a").each(function(){
      $(this).attr("href", $(this).attr("href").replace(/\/requests(\/search)?/, "/requests/sidebar_users"));
    });
  })
</script>
