<ul class="options">
  <% users = paginated_users_for_organization %>
  <% users.each do |user| %>
    <li class="link">
      <%= link_to(user.name, organization_requests_path(current_organization, :filter => 'requester', :user_id => user.id)) %>
    </li>
  <% end %>
</ul>
<%= will_paginate users, :style => "width: 100%" %>
