<%= render :partial => 'sidebar' %>
<%= render :partial => 'search_form' %>

<%= div_content do %>

  <div class="content-top-right">
    <p>
      <% if current_organization && current_organization.is_shared? %>
        <%= render :partial => 'watchings/subscribe', :locals => {:watched => current_organization} %>
      <% end %>
    </p>
  </div>

  <h2><%= @page_title %></h2>

  <%= render :partial => "shared/tickets_table", :locals => { :tickets => @tickets, :options => { :output => @output, :sorting_allowed => true }} %>

  <% if @tickets.empty? %>
    <p><%= I18n.t('txt.requests.organization.index.no_requests', :organization => current_organization.name) %></p>
  <% end %>
<% end %>
