<%= render :partial => 'sidebar' %>
<%= render :partial => 'search_form' %>

<%= div_content do %>
  <% if @result.blank? %>
    <h2><%= I18n.t('txt.requests.organization.index.no_requests', :organization => current_organization.name) %></h2>
  <% else %>

    <%# TODO in i18n ... %>
    <h2><%= pluralize(@result.total_entries, 'request', 'requests') %> found</h2>
    <%= content_tag(:div, class: "frame paginates_with_more", id: "search-result") do %>
      <% @result.each do |ticket| %>
        <div class="item <%= 'nobottom' if ticket.id == @result.last.id %>">
          <%= render :partial => 'tickets/ticket', :locals => {:ticket => ticket} %>
        </div>
      <% end %>
    <% end %>

    <%= will_paginate @result %>
  <% end %>
<% end %>
