/* CSS for the public satisfaction display */
.zd_satisfaction, .zd_plug {
  font-size: 12px!important;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0;
}

.zd_satisfaction div {
  background-color: #F2F2F2;
  -webkit-box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: inline-block;
  margin: 0 1em;
  text-align: center;
  width: 13em;
}

.zd_satisfaction div:first-of-type {
  margin-left: 0;
}

.zd_satisfaction div:last-of-type {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0;
  -moz-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}

.zd_rating_number {
  font-size: 6em!important;
  line-height: 1.2em!important;
  font-weight: bold!important;
  margin: 0!important;
  padding: 0!important;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.zd_rating_number:last-of-type {
  text-shadow: 0;
}

.zd_rating_string {
  background-color: #EBEBEB;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 1.3em!important;
  line-height: 1.1!important;
  margin: 0!important;
  padding: 0.6em 0!important;
}

.zd_satisfaction_score .zd_rating_number {
  text-shadow: none;
}

.zd_satisfaction_score .zd_rating_string {
  background-color: #fff;
}

.zd_plug {
  display: none;
}

#smileys {
  display: block;
  width: 520px;

  img {
    width: 48px;
  }

  .satisfaction_good {
    display: inline-block;
  }

  .satisfaction_bad {
    display: inline-block;
  }
}

.i18n_satisfaction_example {
  position: relative;

  img {
    width: 530px;
  }
  h3 {
    position: absolute;
    top: 10px;
    left: 140px;
    font-size: 28pt;
    color: #444;
    text-shadow: 1px 1px 4px #888;
  }
  .csr_example {
    position: absolute;
    top: 75px;
    left: 120px;
    font-size: 1.4em;
  }
}
