#reasons_container {
  $iron: #CCCCCC;
  $aluminum: #999999;
  overflow: auto;
  font-size: 12px;

  .active, .inactive {
    float: left;
    width: 270px;

    li {
      color: $aluminum;
    }
  }

  .active {
    clear: left;
    padding-right: 20px;

    .sortablelist {
      padding-bottom: 30px;
    }
  }

  .hint_text {
    color: $iron;
    font-weight: 500;
    font-size: 11px;
    float: right;
  }

  .emptylist_hint_text {
    color: $aluminum;
  }

  .satisfaction_reason_input {
    width: 260px !important;
  }

  .reason_text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    width: 75%;
  }

  .sortablelist li:hover .reason_icons {
    display: inline-block;
  }

  .reason_icons {
    display: none;
    float: right;

    &:last-child {
      padding-right: 0;
    }
  }

  .reason_icon {
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.5;
    cursor: pointer;
    float: right;

    &:hover {
      opacity: 1;
    }
  }

  .sortable {
    padding-right: 0;
  }
}
