<% hide_edit ||= false %>
<% if !hide_edit && current_user.can?(:edit, organization) %>
  <div class="item-actions">
    <%= link_to I18n.t('txt.admin.views.people.groups.group.edit'), edit_organization_path(organization), {:class => 'edit_this', :rel => 'edit'} %>
  </div>
<% end %>

<div class="icon"><img src="/images/types/org.png" title="<%= I18n.t('txt.admin.views.people.organization.organization.organization_image_title') %>"/></div>

<div class="item-info">
  <% if @restricted %>
    <%= I18n.t('txt.widgets.forums.restricted') %> <span class='sub-counter'><%= I18n.t('txt.organizations.restricted_description') %></span>
  <% else %>
    <h1>
      <%= link_to h(organization.name), organization_path(organization.id), :dir => 'auto' %>
      <%= content_tag :span, user_count_as_string(organization), :class => 'item_count' %>
      <%= " #{ERB::Util.h(organization.group.name)}" if (organization.group_id && organization.group) %>
      <%= (content_tag :span, I18n.t('txt.admin.view.people.users.user.shared_label'), :class => 'property') if organization.is_shared? %>
      <%= render_static_tags_for(organization, 5) %>
    </h1>
    <p class="info">
      <% if organization.domain_names.present? %>
        <%= organization.domain_names.join(' ') %>
      <% end %>
    </p>
  <% end %>
</div>
