<% @page_title = @organization.id ? I18n.t('txt.admin.views.people.organizations.edit.edit_organization_label') : I18n.t('txt.admin.views.people.organizations.edit.add_organization_label') %>
<%= js_init @organization.id -%>

<% content_for :sidebar do %>
  <%= div_side_box(@page_title) do %>
    <%= render :partial => 'sidebar_text' %>
  <% end %>
  <% if @organization.new_record? %>
    <%= div_side_box(I18n.t('txt.admin.views.people.organizations.edit.bulk_import_label')) do %>
    <p><%= I18n.t('txt.admin.views.people.organizations.edit.bulk_import_text') %></p>
    <ul class="options">
      <li class="link"><a href="/import?kind=organization"><%= I18n.t('txt.admin.views.people.organizations.edit.bulk_organization_import_label') %></a></li>
    </ul>
    <% end %>
  <% end %>
<% end %>

<%= div_content do %>
  <%= form_for @organization, :html => { :name => 'organizationform',
                                        :id => "account-settings",
                                        :class => 'tracked',
                                        'data-tracking-module' => 'Organization',
                                        'data-tracking-activity' => "#{@organization.id ? 'Updated' : 'Created'}"
                                      } do |f| %>

    <h2><%= I18n.t('txt.admin.views.people.organizations.edit.organization_name_label') %></h2>
    <%= f.text_field :name, :class => 'title' %>

    <div class="tabbed_container" mode="static"><div class="tabs_content two_column"><div class="element_group no_right_margin">

    <% if current_account.settings.has_user_tags? %>
      <div class="form_element">
        <%= label_tag I18n.t('txt.admin.views.people.organizations.edit.tags_label') %>
        <div class="form_field">
          <%= f.tags_field %>
          <p>
            <%= I18n.t('txt.admin.views.people.organizations.edit.tags_explanation') %>
          </p>
        </div>
      </div>
    <% end %>

    <div class="form_element">
      <%= label_tag I18n.t('txt.admin.views.people.organizations.edit.information_label') %>
      <div class="form_field">
        <h4><%= I18n.t('txt.admin.views.people.organizations.edit.details_label') %></h4>
        <%= f.text_area :details, :rows => 5, :cols => 60 %>
        <p>
          <%= I18n.t('txt.admin.views.people.organizations.edit.organization_details_text') %>
        </p>
      </div>
      <div class="form_field">
        <h4><%= I18n.t('txt.admin.views.people.organizations.edit.notes_label') %></h4>
        <%= f.text_area :notes, :rows => 5, :cols => 60 %>
        <p>
          <%= I18n.t('txt.admin.views.people.organizations.edit.organization_notes_text') %>
        </p>
      </div>
    </div>

    <div class="form_element">
      <%= label_tag I18n.t('txt.admin.views.people.organizations.edit.mapping_label') %>
      <div class="form_field">
        <h4><%= I18n.t('txt.admin.views.people.organizations.edit.map_email_domain_label') %></h4>
        <%= f.text_field :domain_names, :size => 50 %>
        <p>
          <%= I18n.t('txt.admin.views.people.organizations.edit.automatically_include_users') %><br/>
          <%= I18n.t('txt.admin.views.people.organizations.edit.list_of_domains_text', :example_of_domain => "<tt>somedomain.com otherdomain.com</tt>") %>
        </p>
        <p>
          <strong><%= I18n.t('txt.admin.views.people.organizations.edit.note_label') %></strong> <%= I18n.t('txt.admin.views.people.organizations.edit.note_of_domain')%>
        </p>
      </div>
      <% if current_account.groups.count > 1 %>
        <div class="form_field">
          <h4><%= I18n.t('txt.admin.views.people.organizations.edit.map_organization_label') %></h4>
          <%= f.select :group_id, current_account.groups.collect {|g| [ g.name, g.id ] },
              {:include_blank => true}, {:style => 'width:auto;'} %>
          <p><%= I18n.t('txt.admin.views.people.organizations.edit.map_organization_text') %></p>
        </div>
      <% end %>
    </div>

    <div class="form_element">
      <%= label_tag nil, I18n.t('txt.admin.views.people.organizations.edit.shared_organization_label') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f, :is_shared, I18n.t('txt.admin.views.people.organizations.edit.enable_label'), { "data-toggles" => '#sub_setting_is_shared_comments' }) %>
        <p>
          <%= I18n.t('txt.admin.views.people.organizations.edit.share_explanation_text_one') %><br/>
          <%= I18n.t('txt.admin.views.people.organizations.edit.share_explanation_text_two') %>
        </p>
        <p>
          <%= I18n.t('txt.admin.views.people.organizations.edit.share_explanation_text_three') %>
        </p>

        <%= zd_sub_setting(:is_shared_comments, :show => @organization.is_shared?) do %>
          <%= f.check_box :is_shared_comments %>
          <%= f.label :is_shared_comments, I18n.t('txt.admin.views.people.organizations.edit.enable_commenting_label'), :class => 'checkbox' %>
          <p>
            <%= I18n.t('txt.admin.views.people.organizations.edit.enable_commenting_text') %>
          </p>
        <% end %>
      </div>
    </div>

    </div></div></div>

    <div class="action">
      <% if @organization.id %>
        <%= link_to I18n.t('txt.admin.views.people.groups.edit.delete_label'), organization_path(@organization), :class => 'admin', :data => { :confirm => I18n.t('txt.admin.views.people.organizations.edit.delete_confirm_message', :organization_name => "'#{@organization.name}'" ), :method => :delete } %> <%= I18n.t('txt.admin.views.people.organizations.edit.or_label') %>
      <% end %>
      <%= submit_tag "#{@organization.id ? I18n.t('txt.admin.views.people.organizations.edit.update_organization_label') : I18n.t('txt.admin.views.people.organizations.edit.create_organization_label')}", :class => 'buttonsubmit' %>
    </div>

  <% end %>
<% end %>
