<% @page_title = h(@organization.name) %>
<%= js_init -%>

<%= div_content do %>

  <% if current_user.can?(:edit, @organization) %>
    <div class="content-top-right big">
      <p>
        <%= link_to I18n.t('txt.admin.views.people.groups.group.edit'), edit_organization_path(@organization.id), :class => 'edit_this' %>
      </p>
    </div>
  <% end %>

  <h2>
    <%= h(@organization.name) %>
    <%= render_static_tags_for(@organization) %>
  </h2>

  <% if (@properties = active_organization_options(@organization)).any? %>
    <div class="profiles" style="margin-top: 15px;">
      <div class="profile_right">
        <h3><%= I18n.t('txt.admin.views.people.organizations.show.active_options_label') %></h3>
        <div class="agent-profile">
          <ul>
            <%= @properties.map{|p| content_tag(:li, p)}.join_preserving_safety %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<%= render :partial => 'people/association_tables' %>
