
.ui-selectmenu-menu .ui-selectmenu-group ul {
  margin: 0;
  padding: 0;
}
* html .ui-selectmenu-menu li {
  border-color: pink;
  filter: chroma(color=pink);
  width: 100%;
}
input[type=text], input[type=password], textarea, select, .uneditable-input {
  width: inherit;
}
input:focus, textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: auto;
}
.clearfix {
  margin-bottom: 0;
}
.tooltip.in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.tooltip.top .tooltip-arrow {
  border-top-color: rgba(0, 0, 0, 0.8);
}
.tooltip.right .tooltip-arrow {
  border-right-color: rgba(0, 0, 0, 0.8);
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltip.left .tooltip-arrow {
  border-left-color: rgba(0, 0, 0, 0.8);
}
.tooltip .tooltip-inner {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 8px 6px 8px;
  max-width: 300px;
}
.popover-title {
  font-size: 13px;
  background-color: #eee;
  word-break: break-word;
}
.popover-inner {
  padding: 0;
  background: none;
  border: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nav-stacked {
  padding: 0 0 12px 0;
}
.nav-stacked > li {
  height: 26px;
}
.nav-stacked > li a {
  opacity: 0.8;
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.nav-stacked > li a:hover {
  background-color: #f0f0f0;
}
.nav-stacked > li.active a, .nav-stacked > li.active a:hover {
  color: #111;
  background-color: #e9e9e9;
  -webkit-box-shadow: 0 -1px 1px #dddddd;
  -moz-box-shadow: 0 -1px 1px #dddddd;
  box-shadow: 0 -1px 1px #dddddd;
}
.modal p {
  font-size: 12px;
  padding-bottom: 10px;
}
.modal p.secondary {
  color: #666;
}
.modal p.secondary strong {
  color: #555;
}
.modal h3 {
  font-size: 16px;
}
.modal.role-modal ul {
  list-style-type: decimal;
}
.modal.role-modal li {
  margin: 1em 0;
}
.dropdown-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: rgba(0, 0, 0, 0.1);
}
.dropdown-menu li {
  text-align: left;
}
.dropdown-menu li.header {
  text-align: left;
  padding: 3px 15px;
  font-weight: bold;
}
.dropdown-menu li a {
  color: #555555;
  padding: 7px 20px;
  font-size: 12px;
}
.dropdown-menu li a:hover {
  color: #041521;
  background-color: #f2f2f2;
}
.dropdown-menu li input[type="file"] {
  cursor: pointer;
}
.dropdown-menu li button, .dropdown-menu li .button {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #146eaa;
  white-space: nowrap;
  text-align: left;
  background: none;
  cursor: pointer;
}
.dropdown-menu li button:hover, .dropdown-menu li .button:hover {
  color: #555555;
  text-decoration: none;
  background-color: #f2f2f2;
}
.dropdown-menu li button {
  width: 100%;
}
.dropup [disabled=disabled] {
  color: #bbbbbb;
  cursor: default;
}
.dropup [disabled=disabled]:hover {
  color: #bbbbbb;
}
.btn-group.open .btn.dropdown-toggle:not(.btn-inverse) {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
}
.pagination a {
  color: #555555;
}
.pagination a:hover {
  color: #146eaa;
}
.pagination .active a {
  color: #555555;
}
.pagination a:hover, .pagination .active a {
  background-color: #f3f3f3;
}
::-webkit-input-placeholder {
  font-weight: normal;
}
::-moz-placeholder {
  font-weight: normal;
}
:-ms-input-placeholder {
  font-weight: normal;
}
