///// named colors /////
$zendesk-green: #78A300;
$light-green: #F2F6E4;
$button-orange: #FDA028;
$promo-orange: #FFA100;
$white-smoke: #F8F8F8;
$dark-gray: #555555;
$iron: #CCCCCC;
////////////////////////

$closed: $white-smoke;
$medium-gray: #e3e3e3;

$panel-gray: $white-smoke;
$light-gray: #dcdcdc;
$gray: #999;
$inactive-gray: $iron;
$toolbar-title-gray: #7b7b7b;

$dashed-form-border: $inactive-gray;
$button-inactive: #dcdcdc;

$tooltip-anchor-color: $promo-orange;
$tooltip-dot-color-inactive: rgb(216, 216, 216);
$tooltip-dot-color-active: rgb(70, 70, 70);
