<%
@page_title = I18n.t('txt.access.help.title')
user_is_unverified = @user && @user.id && !@user.is_verified?
%>

<h2 class="page-title">
  <%= user_is_unverified ? I18n.t('txt.access.help.title_unverified') : I18n.t('txt.access.help.title_verified') %>
</h2>
<%= div_content do %>
  <%= form_tag(:action => 'create') do %>
    <p>
      <% if user_is_unverified %>
        <%= I18n.t('txt.access.help.msg_unverified') %>
      <% else %>
        <%= I18n.t('txt.access.help.msg_verified_v2', :account_url => current_account.subdomain_url) %>
      <% end %>
    </p>
    <div class="item">
      <%= email_field_tag :email, email_value, :class => "text wide", :placeholder => I18n.t('txt.access.help.email') %><br/>
    </div>
    <div class="action-login">
      <%= submit_tag I18n.t('txt.access.help.submit'), :class => 'button' %>
    </div>
  <% end %>
<% end %>
