#top-menu ul#green.agent-tabs li.tab_forums:hover{
  padding-left: 4px;
}
#top-menu ul#green.agent-tabs li.active.tab_forums:hover{
  padding-left: 0px;
  border-color: #fff;
}

/* ------ top ------------------------------------ */
#header {
  margin-bottom: 1px;
  padding-bottom: 6px
}

#header_container{
  padding: 8px 0 1px 15px;
  margin:0;
}

#logo{
  vertical-align: middle;
}
#logo-delimiter{
  vertical-align: middle;
  margin: 0pt 5px;
}
/* Background color set in account */
#table_header {
  font-size: 20px
}

#top-right {
  float: right;
  font-weight: bold;
  font-size: 10px;
  padding: 5px 15px 0 0
}

#top-right a {
  text-decoration: underline
}

#top-login {
}

#top-login input {
  color: black;
  font-size: 10px;
  padding: 0
}

#top-menu-background {
  height: 26px;
  position: relative;
  z-index: 25
}

/* Background color set in account */
#top-menu-background, .menu-drop {
  border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px
}

#top-menu {
  height: 26px
}

#top-menu ul {
  list-style: none
}

#top-menu ul a {
  text-decoration: none
}

ul#green {
  float: left
}

ul#green li.active {
  border-left: 2px solid #fff
}

ul#green.agent-tabs li.tab_home.first,
ul#green.agent-tabs li.tab_home.first:hover,
ul#green.agent-tabs li.tab_forums,
ul#green.agent-tabs li.tab_forums:hover {
  border-left: 0;
  padding-left: 2px
}

ul#green li.tab_home {
  border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px
}

ul#green li.tab_home.active {
  border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0
}

ul#gray {
  background: #727070;
  float: right;
  height: 26px
}

#top-menu ul li.right {
  float: right;

  ul.menu-drop {
    left: auto;
  }
}

li.main {
  background: transparent url(/classic/images/menu.png) no-repeat scroll 0 -78px;
  height: 12px
}

ul#gray li.main:hover, ul#gray li.main.over {
  background: #888
}

#top-menu a.tab {
  font-weight: bold;
  padding: 7px 15px 10px 15px;
  text-transform: uppercase
}

#top-menu ul#gray a.tab {
  color: #FFF
}

#top-menu ul#gray li.active a.tab {
  color: #2a2a2a
}

#top-menu ul li {
  float: left;
  position: relative;
  padding: 7px 0
}

#top-menu li:hover + li {
  background: none
}

#top-menu ul li.first {
  background: none
}

#top-menu ul li.active {
  background: #fff;
  height: 12px
}

#top-menu li.active a.tab {
  color: #2a2a2a
}

#top-menu li:hover > ul, #top-menu li.over ul {
  display: block
}

#top-menu ul li img {
  padding-right: 5px;
  vertical-align: top
}

/* This is here for submenus */
ul.menu-drop li:hover > ul {
  display: block
}

ul.menu-drop ul.sub-menu {
  border: 2px solid #999;
  left: 50px;
  top: 20px
}

ul.menu-drop {
  background: #FFFFFF none repeat scroll 0%;
  border-style: none solid solid;
  border-width: 0pt 2px 2px;
  display: none;
  float: left;
  left: -2px;
  margin: 5px 0 0 0;
  min-height: 28px;
  padding: 10px;
  padding-left: 8px;
  position: absolute;
  text-align: left;
  top: 21px;
  width: 210px;
  z-index: 15000
}

#top-menu li ul li {
  padding: 0
}

#top-menu li ul li a.all_views {
  font-weight: normal;
  text-align: right
}

ul.menu-drop li {
  height: auto;
  left: 0pt;
  width: 210px;
  word-wrap: break-word;
}

ul.menu-drop li.drop-header {
  color: #444;
  font-size: 14px;
  font-weight: bold;
  margin: 12px 4px 5px 4px
}

ul.menu-drop li.drop-error {
  color: #777;
  font-size: 13px;
  font-weight: bold;
  margin: 12px 4px 5px 4px
}

ul.menu-drop li a {
  border-top: 1px solid #DDDDDD;
  color: #1D719F;
  display: block;
  float: none;
  font-size: 105%;
  font-weight: bold;
  padding: 6px 4px
}

ul.menu-drop li:first-child a {
  border-top: none
}

ul.menu-drop li a.empty, li a.empty {
  color: #AAA;
  font-weight: normal
}

ul.menu-drop li a span.id {
  color: #777;
  font-weight: normal
}

ul.menu-drop li a div.r_n {
  color: #777;
  font-weight: bold
}

ul.menu-drop li a:hover, ul.menu-drop li a:focus {
  background: #f5f5f5 none repeat scroll 0%;
  color: #000000
}

ul.menu-drop li a.warning {
  color: #ff0000
}

li.language_selector ul.menu-drop {
  left: inherit;
  right: 0px
}
