@import "../../../mixins.css.scss";

$deselected-border-color: #e3e3e3;
$selected-border-color: #f6f6f6;

#agents,
#end_users,
#global {
  #account_ip_ranges {
    width: 80%;
  }

  #sub_setting_ip_restrictions {
    display: none;

    &.enabled {
      display: block;
    }
  }

  h1 {
    margin-top: 12px;
    font-size: 1.5em;
  }

  h3 {
    margin-top: 20px;
  }

  .overview {
    margin-bottom: 20px;
  }

  .ssl-cert-notification {
    margin-bottom: 20px;
    padding-left: 24px;
    background-repeat: no-repeat;

    &.cert-active {
      background-image: url("/classic/images/recipient_addresses/verified.png");
    }

    &.cert-expires-soon {
      background-image: url("/classic/images/recipient_addresses/warning.png");
    }

    &.cert-expired {
      background-image: url("/classic/images/recipient_addresses/failed.png");
    }
  }

  .hosted-ssl-form-fields {
    display: none;
    margin-top: 20px;

    &.show-ssl-form-fields {
      display: block;
    }
  }

  .global-security-success {
    @include rounded-corners(4px);
    border: 2px solid #78a300;
    background: #F2F6E4 url('/classic/images/check.png') 15px 15px no-repeat;
    padding: 15px 15px 15px 45px;
    color: #333;
    line-height: 16px;
  }

  .global-security-warning {
    @include rounded-corners(4px);
    border: 2px solid #fffab8;
    background: #fffde1 url('/classic/images/warning_icon.png') 15px 15px no-repeat;
    padding: 15px 15px 15px 45px;
    color: #333;
    line-height: 16px;

    ul {
      margin: 12px 0;
    }
  }

  .sso-bypass-dropdown {
    min-width: 60px;
    max-width: 145px;
    width: auto;
  }

  .login_service, .setting {
    margin: 7px 0;
    border: 1px solid $deselected-border-color;
    @include rounded-corners(4px);
    overflow: hidden;

    .head {
      padding: 15px 50px;
      background-color: $selected-border-color;
      background-image: url('/classic/images/icons/select_circle.png');
      background-repeat: no-repeat;
      background-position: 13px 21px;
      cursor: pointer;

      .icon {
        float: left;
        width: 35px;
        height: 35px;
        border: 1px solid #c5c5c5;
        background-color: white;
        @include rounded-corners(3px);
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      .description {
        padding-left: 52px;

        .name {
          font-size: 1.4em;
          padding-bottom: 2px;
        }
      }
    }

    &.selected {
      border: 2px solid #78a300;

      .head {
        padding: 14px 49px;
        background-color: white;
        @include rounded-top(3px);
        background-image: url('/classic/images/icons/select_circle_checked.png');
        background-repeat: no-repeat;
        background-position: 12px 20px;
      }

      .options .option {
        padding-left: 14px;
      }
    }

    .options {
      padding: 0 50px;
      @include rounded-bottom(4px);
      display: none;

      .option {
        margin-bottom: 10px;
        padding: 15px;
        font-size: 1.1em;

        .name {
          padding-left: 26px;
          font-weight: bold;
        }

        .description {
          margin-left: 35px;
          margin-top: 6px;
        }

        input[type="radio"],
        input[type="checkbox"] {
          float: left;
          margin-left: -2px;
          margin-top: 1px;
        }

        input[type="text"] {
          width: 430px;
        }

        ul {
          padding-left: 38px;

          li {
            list-style: none;
          }
        }
      }
    }
  }

  .button.save, .button_disabled {
    float: right;
    margin-right: 14px;
    margin-top: 10px;
  }

  /* Specific styling */

  .agent_zendesk_login, .end_user_zendesk_login {
    .icon { background-image: url('/classic/images/icons/auth_zendesk.svg'); }
    .warning {
      display: none;
      margin-bottom: 15px;

      &.service_warning { display: block; }
    }

    .options .option {
      ul {
        padding-left: 34px;

        #custom_security_policy_options {
          li { line-height: 28px; }
        }

        li {
          list-style-type: disc;
          margin-left: 8px;
        }
      }
    }
  }

  .agent_google_login {
    .icon {
      background-image: url('/classic/images/icons/auth_google.svg');
      background-size: 24px;
    }
  }

  .agent_office_365_login {
    .icon {
      background-image: url('/classic/images/icons/auth_microsoft.svg');
      background-size: 24px;
    }
  }

  .agent_remote_login, .end_user_remote_login {
    .icon { background-image: url('/classic/images/icons/icon_lock.png'); }

    .options .option {
      @include rounded-corners(4px);

      .new_shared_secret {
        display: none;
      }

      p {
        margin-left: 155px;
      }

      ul {
        padding-top: 35px;

        li {
          margin-bottom: 27px;

          label {
            float: left;
            width: 154px;
            margin-top: 2px;
          }
        }
      }
    }

    .alternate_login {
      margin-bottom: 34px;

      &.hidden {
        display: none;
      }
    }
  }

  .primary_sso, .require_sso {
    padding: 17px 0;
    border-top: 1px dotted #ccc;

    &.hidden {
      display: none;
    }

    .label {
      line-height: 17px;
      float: left;
      padding-top:3px;
      width: 170px;
      color: #4c4c4c;
      white-space: normal;
      font-weight: bold;
      font-size: 13px;
    }
  }

  .external_login_service {
    float: left;
    margin: 10px 15px 30px 0;
    width: 350px;

    .logo {
      font-family: 'entypo';
      color: white;
      float: left;
      width: 24px;
      height: 24px;
      margin: 6px 12px 0 15px;

      &.google {
        line-height: 33px;
        letter-spacing: -3px;
      }

      &.twitter {
        line-height: 32px;
      }

      &.facebook {
        line-height: 40px;
        letter-spacing: -5px;
      }
    }

    input {
      float: left;
      margin-left: 14px;
      margin-top: 10px;
    }

    .description {
      padding-left: 85px;

      .name {
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 3px;
      }
    }

    &.end_user_google_login {
      .logo {
        background-image: url('/classic/images/icons/auth_google.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.end_user_twitter_login {
      .logo {
        background-image: url('/classic/images/icons/auth_twitter.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.end_user_facebook_login {
      .logo {
        background-image: url('/classic/images/icons/auth_facebook.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.end_user_office_365_login {
      .logo {
        background-image: url('/classic/images/icons/auth_microsoft.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .button.save, .button_disabled {
    float: right;
    margin-right: 14px;
    margin-top: 10px;
  }

  .button_disabled {
    background-image: none;

    &:hover, &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: linear-gradient(to bottom, white, #ebebeb);
      color: #999;
      cursor: default;
    }
  }
}

#agents {
  .warning {
    @include rounded-corners(4px);
    border: 2px solid #fffab8;
    background: #fffde1 url('/classic/images/warning_icon.png') 15px 15px no-repeat;
    padding: 15px 15px 15px 45px;
    color: #333;

    ul {
      margin: 12px 0;
    }
  }
}

#agents, #end_users {
  .actions {
    border: none;
  }
}

.audioeye-tos-modal {
  max-width: 600px;
}
