#ssl-certificates {
  a {
    font-weight: normal
  }

  .rounded-ssl-button, .ssl-certificate-button {
    border: 1px solid #DCDCDC;
    background-color: #FFFFFF;
    padding: 13px 24px;
    border-radius: 5px;
    color: #555555;
    cursor: pointer;
    font-weight: bold;
  }

  .rounded-ssl-button {
    border-radius: 100px;
    color: rgba(51,51,51,.8);
    display: inline-block;
    margin-bottom: 1em;
  }

  .ssl-certificate-button.medium,
  .rounded-ssl-button.medium {
     padding: 0.5em 2em;
  }

  #zendesk-provisioned-ssl {
    &.disabled {
      border-bottom: 1px dotted #CCC;
      margin-bottom: 1em;
      padding-bottom: 1em;
    }

    #zendesk-provisioned-ssl-dns-check {
      margin: 1em 0;

      .check-in-progress .ssl-throbber {
        padding-left:0.5em;
        display: inline-block;
      }
    }
  }

  #new-certificate-action-buttons button.ssl-certificate-button {
    width: 48%;
    font-weight: bold;
  }

  a.reset-certificate-form {
    margin-left: 0.5em;
  }

  h4 {
    margin: 0 0 0.5em 0;
  }

  #ssl-current-certificate > h4:first-child,
  #ssl-active-certificate > h4:first-child,
  #i-have-a-certificate-section > h4:first-child,
  #do-not-have-a-certificate-section > h4:first-child {
    margin-top: 0;
  }

  label.file-with-label {
    float: none;
    line-height: normal;
    display: block;

    > input[type=file] {
      display: none;
    }

    > .ssl-certificate-button {
      margin-bottom: 1em;
      display: inline-block;
    }

    > .file-label {
      font-weight: normal;
      padding: 0 0 0 1em;
      color: #999999;
    }
  }

  .ssl-type-selection {
    overflow: hidden;
    padding: 5px;

    > input[type=radio] {
      float: left;
    }

    > label {
      float:left;
      width: 93%;
      padding: 0 0 0 5px;
      font-weight: normal;
    }
  }

  #ssl-type-selection {
    margin: 0 0 2em 0;
  }

  #hosted_ssl_key_data_passphrase {
    padding: 0.5em 1em;
  }

  #hosted_ssl_key_data_passphrase::-webkit-input-placeholder {
    color: #999999;
  }

  #hosted_ssl_key_data_passphrase::-moz-input-placeholder {
    color: #999999;
  }

  #hosted_ssl_key_data_passphrase::-ms-input-placeholder {
    color: #999999;
  }

  #ssl-current-certificate {
    margin-bottom: 2em;
  }

  #replace-certificate-link {
    margin-top: 1.5em;
  }

  #replace-certificate-link + #add-certificate-section {
    margin-top: 1.5em;
  }

  table.certificate-status {
    border-collapse: collapse;
    width: 99%;
    table-layout: fixed;

    td, th{
      vertical-align: top;
      padding: 10px 0;
      text-align: left;
    }
    thead.status-heading {
      th {
        font-weight: normal;
        padding: 0;
      }
    }

    thead.brand-heading {
      th {
        font-size: 13px;
        font-weight: bold;
        border-bottom: 1px solid #DDDDDD;
        white-space: nowrap;
        padding-top: 2em;
      }
    }

    tr.status {
      td{
        font-weight: bold;
        padding: 4px 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    tr.brand {
      > td {
        font-weight: normal;
        border-bottom: 1px solid #DDDDDD;
        vertical-align: middle;
      }

      td.brand-logo {
        .brand-logo-wrapper {
          line-height: 22px;
          white-space: nowrap;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        > span {
          float: left;
        }
        img.brand-logo {
          /* padding-right:1em; */
          float: left;
          height: 26px;
          width: 26px;
          margin: 0px 14px 0px 0px;
        }
      }
    }
  }

  td.certificate-expired {
    color: #BF3026;
  }

  span.invalid {
    color: #BF3026;
  }

  .verified {
    color: #78A300;
  }

  span.disabled {
    color: #999999;
  }

  #certificate-processing-warning {
    margin: 2em 0 1em 0;
  }

  table.dns-check-results {
    border-collapse: collapse;
    width: 99%;
    margin: 5px 0;

    td, th {
      vertical-align: top;
      padding: 2px 2px 2px 0;
    }

    th {
      font-weight: normal;
      font-size: 10px
    }

    td {
      font-family: monospace;
      font-size: 12px;
    }
  }

  .dns-check {
    position: relative;

    img.dns-check-icon {
      width: 12px;
      padding-right: 6px;
      vertical-align: top;
    }

    .dns-check-throbber {
      display:  none;
      height: 11px;
      width: 32px;
      top: 0;
      left: 0;
      background: url('/classic/images/dotted_bar.gif') no-repeat 100%;
    }
  }
}

#ssl {
  .button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .certificate-warning-alert {
    border: 1px solid #ffa100;
    border-radius: 3px;
    padding: 10px 10px 10px 45px;
    background: url(/classic/images/warning_new.png) 15px 11px no-repeat;
    margin: 1.5em 0;

    .rounded-ssl-button {
      margin-bottom: 0.5em;
    }
  }

  .automatic_certificate_provisioning.no-cert .certificate-warning-alert {
    margin: 0 0 1.5em 0;
  }

  .certificate-provisioned {
    border: 1px solid #78A300;
    border-radius: 3px;
    padding: 10px 10px 10px 45px;
    background: url(/classic/images/icons/success.png) 15px 11px no-repeat;
    margin: 1.5em 0 0.5em 0;

  }

  .ssl-throbber {
    display: none;
    height: 11px;
    width: 32px;
    top: 0;
    left: 0;
    background: url('/classic/images/dotted_bar.gif') no-repeat 100%;

    &.provisioning {
      margin-top: 1em;
    }
  }

  .certificate-pending, {
    margin-bottom: 1em;

    p.certificate-pending-title {
      font-weight: bold;
      color: #ffa100 !important;
    }
  }

  p#self-manage-certificate-title {
    font-weight: bold;
    margin-bottom: 1em;
  }
}
