<div style='width:48%;padding:10px 10px 5px 0;float:left;' class='<%= cycle("", "clearfix") -%>'>
  <div class="ticket_badge">#<%= ticket.nice_id %></div>

  <div style='float:left;'>
    <div class="ticket_date">
      <%= format_date(ticket.created_at) %> <%= ticket.requester.name %><br/>
      <%= link_to(h(ticket.title(95)), ticket_path(ticket, target_id: ticket.nice_id), :"data-target-id" => ticket.nice_id, class: "winner_selector", target: '_blank') %>
    </div>
  </div>
</div>
