<%= js_init -%>

<%= div_content do %>

  <h2>
    <%= I18n.t('txt.admin.views.settings.people.compliance.title_v2', number: @users.count) %>
  </h2>

  <p>
    <%= I18n.t('txt.admin.views.settings.people.compliance.subtitle_note') %>
  </p>

  <div class="frame">
    <div style="display: inline-block">
      <table class="tickets" style="width: auto; min-width:600px; margin-top: 10px;">
        <colgroup>
          <col class='name' />
          <col class='updated_at' />
        </colgroup>
        <thead>
          <tr>
            <%= user_bulk_delete_field_header('name', I18n.t('txt.admin.views.settings.people.compliance.name_column')) %>
            <%= user_bulk_delete_field_header('updated_at', I18n.t('txt.admin.views.settings.people.compliance.deleted_at_column')) %>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="linked" data-href="/users/<%= user.id %>" data-zd-account-id="<%= user.account_id %>">
              <td class="name"><%= link_to(user.name, people_permanently_delete_user_path(user)) %></td>
              <td class="updated_at"><%= user.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br/>
    </div>
  </div>

  <%= will_paginate @users %>

<% end %>
