<div class='merge-holder'>
  <div id="cboxLoadedContent">
    <div id="user_execution" class="merge_window" style="background-color: transparent">
      <div id="user_execution_title" class="merge_loser clearfix">
        <h2>
          <%= I18n.t('txt.admin.views.settings.people.compliance.modal.title', username: @user.name) %>
        </h2>
        <% if @user.photo %>
          <img src="<%= photo_path(@user) %>" alt="<%= I18n.t('txt.admin.view.people.user_merge.user.user_label') %>"/>
        <% end %>
      </div>
      <div class="clearfix" style="padding-bottom: 24px">
        <p><%= I18n.t('txt.admin.views.settings.people.compliance.modal.subnote_v2') %></p>
          <div id="winner_suggestions">
            <div class="option">
              <hr />
            </div>
            <h3><%= I18n.t('txt.admin.views.settings.people.compliance.modal.associated_tickets', username: @user.name) %></h3>
            <% if @related_tickets.any? %>
            <%= render partial: "ticket", collection: @related_tickets, locals: { link: true } %>
            <% else %>
              <p><%= I18n.t('txt.admin.views.settings.people.compliance.modal.no_associated_tickets') %></p>
            <% end %>
          </div>

      </div>
      <div style="float: right; padding-top: 8px">
        <%= link_to I18n.t('txt.admin.views.settings.people.compliance.modal.cancel_button'), people_permanently_delete_users_path(), class: 'button' %>
        <%= link_to I18n.t('txt.admin.views.settings.people.compliance.modal.delete_user_button'), people_permanently_delete_user_path(@user), method: 'DELETE', class: 'button' %>
      </div>
    </div>
  </div>
</div>
