<div class="login help_center">
  <div class="interface outer">
    <div class="title">
      <%= I18n.t('txt.access.index.header', :account_name => current_account.name) %>
    </div>
    <div class="interface inner">
      <div class="services internal">
        <%= form_for(@user,
          :url => current_account.authentication_domain + '/access/normal_login',
          :html => {:id => 'password-form', :autocomplete => 'off'}
        ) do |f| %>
          <%= hidden_field_tag :return_to_on_failure, current_account.authentication_domain + '/access/one_time_password' %>

          <div class="credentials">
            <%= f.email_field(
              :email,
              :placeholder => I18n.t('txt.access.index.email_placeholder'),
              :autocomplete => "on"
            ) %>
            <%= f.password_field(
              :password,
              :placeholder => I18n.t('txt.access.index.password_placeholder'),
              :autocomplete => "off"
            ) %>
          </div>
          <div class="remember">
            <%= check_box_tag :remember_me, 1, false %>
            <label for="remember_me">
              <%= I18n.t('txt.access.index.stay_logged_in') %>
            </label>
          </div>
          <div class="clear"></div>
          <%= submit_tag I18n.t('txt.access.index.submit_label'), :class => 'button primary' %>
        <% end %>
        <%= cancel_link :class => 'cancel' %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
