<h2 class="page-title"><%= I18n.t('txt.access.index.header', :account_name => current_account.name) %></h2>
<div class="content">
  <%= form_for(:user,
    :url => current_account.authentication_domain + '/access/normal_login',
    :html => {:id => 'password-form'}
  ) do |f| %>
    <%= hidden_field_tag :return_to_on_failure, current_account.authentication_domain + '/access/one_time_password' %>
    <%= hidden_field_tag :return_to, params[:return_to] %>

    <div class="item">
      <div class="grouped-fields">
        <%= email_field_tag "user[email]", nil, :placeholder => I18n.t('txt.access.index.email'), :tabindex => 1, :autocomplete => "on" %>
        <hr/>
        <%= f.password_field :password, :class => "text wide", :tabindex => 2, :placeholder => I18n.t('txt.access.index.password'), :class => 'last', :autocomplete => "off" %>
        <a href="/access/help">
          <span><b>?</b></span>
        </a>
      </div>
    </div>
    <div class="item">
      <%= submit_tag I18n.t('txt.access.index.submit'), :class => 'button fullwidth', :tabindex => 3 %>
    </div>
    <% if @user.login_allowed?(:facebook) || @user.login_allowed?(:google) %>
      <p class="spacer-padded">
        <%= I18n.t('txt.access.index.mobile.or_login_with') %>
      </p>
    <% end %>
    <div class="item">
      <% if @user.login_allowed?(:twitter) %>
        <%= oauth_login_link('twitter', :class => 'button-light') do %>
          <%= image_tag('twitter_bird_new_20x20.png', :width => '20', :height => '20', :alt => t("txt.access.index.mobile.twitter")) %>
          <span class="name twitter-label"><%= t("txt.access.index.mobile.twitter") %></span>
        <% end -%>
      <% end %>

      <% if @user.login_allowed?(:facebook) %>
        <%= facebook_login_link(:class => 'button-light') do %>
          <%= image_tag('facebook_login_icon.png', :width => '16', :height => '16', :alt => t("txt.access.index.mobile.facebook")) %>
          <span class="name"><%= t("txt.access.index.mobile.facebook") %></span>
        <% end %>
      <% end %>

      <% if @user.login_allowed?(:google) %>
        <%= google_login_link(:class => 'button-light') do %>
          <%= image_tag('google.png', :width => '16', :height => '16', :alt => t("txt.access.index.mobile.google")) %>
          <span class="name"><%= t("txt.access.index.mobile.google") %></span>
        <% end %>
      <% end %>
    </div>
    <% if current_account.is_open? && !only_remote_auth_allowed? -%>
      <div class="item">
      <p class="spacer-padded"><%= I18n.t('txt.access.index.mobile.need_an_account') %></p>
          <%= link_to(I18n.t('txt.access.index.mobile.sign_up'), '/registration', :class => "button fullwidth") %>
      </div>
    <% end -%>
  <% end %>
</div>
