<h2 class="page-title"><%= I18n.t('warden.otp.sso.title') %></h2>
<div class="content">
  <%= form_tag "#{current_account.authentication_domain}/auth/one_time_password", :method => :post, :autocomplete => 'off' do |f| %>
    <%= hidden_field_tag :return_to, params[:return_to] %>
    <%= hidden_field_tag :remember_me, params[:remember_me] %>

    <div class="item">
      <div class="grouped-fields">
        <%= text_field_tag :password, nil, :autofocus => true, :placeholder => I18n.t('warden.otp.sso.authentication_code'), :tabindex => 1 %>
      </div>
    </div>

    <div class="item">
      <%= submit_tag I18n.t('warden.otp.sso.verify'), :class => 'button fullwidth', :tabindex => 2 %>
    </div>

    <p class="spacer-padded">
      <%= I18n.t('warden.otp.sso.no_phone') %>
      <%= I18n.t('warden.otp.sso.backup_code_v3', :learn_more_link => I18n.t('txt.two_factor_auth.recovery_codes.link')) %>
    </p>

    <% if params[:remember_me].to_i == 1 %>
      <p class="spacer-padded"><%= I18n.t('warden.otp.sso.remember_me') %></p>
    <% end %>
  <% end %>
</div>
