<div class="login help_center">
  <div class="interface outer">
    <div class="title">
      <%= I18n.t('warden.otp.sso.title') %>
    </div>

    <div class="interface inner">
      <div class="services internal">
        <%= form_tag "#{current_account.authentication_domain}/auth/one_time_password", :method => :post, :autocomplete => 'off' do |f| %>
          <%= hidden_field_tag :return_to, params[:return_to] %>
          <%= hidden_field_tag :remember_me, params[:remember_me] %>

          <div class="credentials">
            <%= text_field_tag :password, nil, :autofocus => true, :placeholder => I18n.t('warden.otp.sso.authentication_code') %>
          </div>

          <div class="clear"></div>

          <%= submit_tag I18n.t('warden.otp.sso.verify'), :class => 'button primary' %>
        <% end %>

        <%= cancel_link :class => 'cancel' %>
      </div>

      <div class="clear"></div>
    </div>

    <div class="clear"></div>

    <div class="assistance">
      <h3 class="footnote-title"><%= I18n.t('warden.otp.sso.no_phone') %></h3>

      <span><%= I18n.t('warden.otp.sso.backup_code_v3', :learn_more_link => I18n.t('txt.two_factor_auth.recovery_codes.link')) %></span>

      <% if params[:remember_me].to_i == 1 %>
        <h3 class="footnote-title"><%= I18n.t('warden.otp.sso.remember_me') %></h3>
      <% end %>
    </div>

    <div class="clear"></div>
  </div>
</div>
