<div id="flash"></div>

<% content_for :script_onload_at_end do %>
  <% unless controller.controller_name == 'verification' %>
    Zendesk.Alerts.showPasswordExpiration();
    <% if ['home', 'forums', 'categories', 'entries'].include? controller.controller_name %>
      Zendesk.Alerts.showWebPortalDeprecationNotice();
    <% end %>
    <% if current_account %>
      Zendesk.Alerts.showUserAssumeNotice();
    <% end %>
    <% if current_user && current_user.is_admin? %>
      Zendesk.Alerts.showTwitterAuthorization();
      Zendesk.Alerts.showFacebookAuthorization();
    <% end %>
  <% end %>
<% end %>
