<% if attachment_list.present? -%>
  <%
    deletable = defined?(deletable) ? deletable : false
    list_id   = Kernel.rand(2<<32).to_s
  -%>
  <script type="text/javascript">registerAttachmentList('attachment_list_<%= list_id %>', <%= attachment_list.size -%>)</script>
  <ul class="attachment-list" id="attachment_list_<%= list_id -%>">
    <%= render :partial => '/shared/attachment_item',
               :collection => attachment_list,
               :locals => { :deletable => deletable, :list_id => list_id } %>
  </ul>
<% end -%>
