<% if attachment_list && !attachment_list.empty? %>
  <%= I18n.t('txt.uploads.header') %>:<br/>
  <%= render :partial => '/shared/attachment_item', :collection => attachment_list %>
  <div style="clear:left"><!-- attachment list clear at end --></div>
<% end %>
