<li class="attachment-item" id="attachment_item_<%= attachment_item.id %>">
  <%= content_tag :div, :class => "attachment-container" do %>
    <%= content_tag :span, link_to_attachment(attachment_item, true), :class => "attachment" %>
    <%= content_tag :span, link_to_attachment(attachment_item), :class => "attachment-name" %>
    <% if attachment_item.thumbnailed? %>
      <span class="attachment-name">
        (<%= link_to(I18n.t('txt.uploads.show.quickview'), attachment_item.url(:relative => true), :class => "colorbox", 'data-colorbox-force-photo' => true, 'data-colorbox-max-width' => '75%') -%>)
      </span>
    <% end %>
    <% if deletable -%>
      <span class="deletable">
        <%= link_to_remote I18n.t('txt.entries.edit.delete_attachment.delete_label'), :url => attachment_path(attachment_item.id),
                           :success => "deleteFromAttachmentList('attachment_list_#{list_id}', 'attachment_item_#{attachment_item.id}')",
                           :method  => :delete,
                           :confirm => I18n.t('txt.entries.edit.delete_attachment.warning_notice', :file_name => attachment_item.display_filename )
%>
      </span>
    <% end -%>
  <% end -%>
</li>
