<%# Organization autocompletion is also used for rules/automations. Autocompleter initialization is in zd_rule.js %>
<%# ZD#449849 -> added value attribute to text_field so that the account.name wouldn't be used on agents with no org in accounts > 500 orgs %>

 <% if current_account.many_organizations? %>
  <% if (defined? organization_name) %>
    <%= f.text_field(:organization_name, :value=>organization_name,  :class => 'text largetitle', :autocomplete => 'off') %>
  <% else %>
    <%= f.text_field(:organization_name, :class => 'text largetitle', :autocomplete => 'off') %>
  <% end %>
  <div id="organization_name_auto_complete" class="autocomplete"></div>

  <%= javascript_tag do %>
    new Autocompleter.Json(
      '<%= f.object_name %>_organization_name', 'organization_name_auto_complete',
      Autocompleter.cachedLookupOrganization, { frequency: 0.4, minChars: 1, choices: 50 }
    );
  <% end %>
<% else %>
 <%= f.select :organization_id, current_account.fetch_organizations_for_lists,
     { :include_blank => I18n.t('txt.views.shared.auto_completable_organization.none_label') }, { :style => 'width:auto;' } %>
<% end %>
