<%= div_side_box(I18n.t('txt.admin.views.shared._browse_tickets.browse_label')) do %>
  <ul class="options">
    <li class="link"><%= link_to I18n.t('txt.admin.views.shared._browse_tickets.Tickets_by_properties'), search_rules_path(:filter => 'views') %></li>
    <li class="link"><a href="/tags?for=ticket"><%= I18n.t('txt.admin.views.shared._browse_tickets.Tickets_by_tags') %></a></li>
    <li class="link"><a href="/tags?for=entry"><%= I18n.t('txt.admin.views.shared._browse_tickets.Topics_by_tags') %></a></li>
  </ul>
<% end %>
