<div class="call_statistics" data-version="2">
<p>
  <div class="header">
    <label><%= comment.header_label %></label>
  </div>
  <div class="call_info">
    <label><%= comment.call_from_label %></label> <%= render_phone_number(comment.call_from, :inline => false) %><br/>
    <label><%= comment.call_to_label %></label> <%= render_phone_number(comment.call_to, :inline => false) %><br/>
    <label><%= comment.time_of_call_label %></label> <%= comment.time_of_call %><br/>
    <% if comment.render_location? %>
      <label><%= comment.location_label %></label> <%= comment.location %><br/>
    <% end %>
    <% if comment.phone_call_inbound? %>
      <label><%= comment.answered_by_label %></label> <%= comment.answered_by %><br/>
    <% elsif comment.phone_call_outbound? %>
      <label><%= comment.called_by_label %></label> <%= comment.called_by %><br/>
    <% end %>
    <label><%= comment.call_duration_label %></label> <%= format_time_interval(comment.call_duration) %><br/>
   </div>

   <% if comment.render_transcription? %>
     <br/>
     <div class="header"><label><%= comment.transcription_label %></label></div>
     <div class="transcription"><%= comment.transcription %></div>
   <% end %>
</p>
</div>
