<div class="stats-group">
  <h3><%= I18n.t('txt.admin.views.shared._csr_data_boxes.Open_Tickets_now')%></h3>
  <%= open_tickets_assigned_to_user_link(user) %>
  <%= open_tickets_in_users_groups_link(user) %>
</div>

<div class="stats-group">
  <h3><%= I18n.t('txt.admin.views.shared._csr_data_boxes.Ticket_Statistics_this_week') %></h3>
  <%= positively_rated_tickets_for_user_link(user) %>
  <%= negatively_rated_tickets_for_user_link(user) %>
  <%= solved_tickets_for_user_link(user) %>
</div>

<% if show_satisfaction_stats? %>
  <div class="stats-group">
    <h3><%= I18n.t('txt.admin.views.shared._csr_data_boxes.Satisfaction_Statistics_60_days') %></h3>
    <% if agent_score = user_satisfaction_score(user) %>
      <%= render_dashboard_stats("#{agent_score}%", "", (user == current_user ? I18n.t('txt.admin.views.shared._csr_data_boxes.You') : I18n.t('txt.admin.views.shared._csr_data_boxes.Agent'))) %>
    <% end %>
    <% if help_desk_score = current_account.satisfaction_score %>
      <%= render_dashboard_stats("#{help_desk_score}%", "", I18n.t('txt.admin.views.shared._csr_data_boxes.Help_desk')) %>
    <% end %>
  </div>
<% end %>
