<style id="inner_branding_styles">
<% if header_color != default_header_color %>

  #page #container #contentwrapper #contentcolumn .content .tabbed_container .tab_links a.current,
  #page #container #contentwrapper #contentcolumn .content .sammy_tabbed_container .tab_links a.current {
    border-bottom: 3px solid #<%= header_color %>;
  }

  #page #container #contentwrapper #contentcolumn .content .tabs_content input:focus,
  #page #container #contentwrapper #contentcolumn .content .tabs_content select:focus,
  #page #container #contentwrapper #contentcolumn .content .tabs_content select:active,
  #page #container #contentwrapper #contentcolumn .content .tabs_content textarea:focus,
  #page #container #contentwrapper #contentcolumn .content .tabs_content input.combobox:focus + input.combobox-button {
    border-color: #<%= header_color %> !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 2px #<%= header_color %> !important;
    outline: 0;
  }

  <% if header_is_light? %>
    #page #container #contentwrapper #contentcolumn .content .tabbed_container .tab_links a.current,
    #page #container #contentwrapper #contentcolumn .content .sammy_tabbed_container .tab_links a.current {
      border-bottom: 3px solid #<%= secondary_branding_color %>;
    }
  <% end %>
<% end %>

</style>
