<div class="box box-error-center">
  <h2>
    <%= defined?(title) && title ? title.sanitize : I18n.t('txt.error_message.when_no_page_defined.unspecified_error') %>
  </h2>
  <p>
    <%= message.sanitize if defined?(message) && message %>
  </p>
</div>
