<div class="clearfix item <%= 'nobottom' if event.id == last_id %> via_<%= event.via_id %>" id="event_<%= event.id %>">
  <%= user_badge_for_ticket(@ticket, event) %>
  <div class="right">
    <%= describe(event, is_first_event?(event, first_id, last_id, order)) %>

    <ul class="recorded_screencasts_list" id="screencasts_for_<%= event.id%>">
      <%- screencasts_from(event).each do |screencast| -%>
        <li id="<%= screencast.id %>">
          <a href="javascript:Zendesk.Screenr.TicketRecorder.showScreencast('<%= screencast.url %>')" class="screencast_preview">
            <%= screencast.display_name %>
          </a>
        </li>
      <%- end -%>
    </ul>

    <div class="gray-text">
      <%= format_absolute_date_with_utc_alt(event.created_at) %>
      <%= describe_via(event) -%>
      <% if event.is_a?(Audit) && event.metadata[:system][:raw_email_identifier].present? %>
        <%= link_to_function("(#{I18n.t("ticket.audit.show_email")})", "window.open('/audits/#{event.id}/email.html','emailWindow','toolbar=0, menubar=0, width=620, height=594, location=0, status=0, directories=0, scrollbars=1');") %>
      <% end %>
    </div>

    <% if event.is_a?(Audit) && !event.client.blank? %>
      <div class="client-info"><%= event.client.split("\n").collect{|c| h(c) }.join('<br/>').html_safe %></div>
    <% end %>
  </div>
</div>
