<div class="event">
  <div class="meta">
    <%= h(author_name_for(event)) %> <span class="date-right"><%= format_date(event.created_at, with_time: true) %></span>
  </div>
  <div class="body">
    <%= describe(event) %>
    <%= describe_via(event) -%>
  </div>
</div>
