<div class="user_badge">
  <div class="icon photo bdr">
    <img src="http://graph.facebook.com/<%= user[:id] %>/picture?type=large" class="avatar" alt="<%= I18n.t('txt.views.alt_of_user_photo')%>">
  </div>
  <div class="name"><a href="http://facebook.com/<%= user[:id] %>" target="_blank"><%= user[:name] %></a></div>
</div>
