<%= render_facebook_attachment(event) %>
<% case event.data[:type] %>
<% when 'link' %>
  [<%= event.data[:caption] %>]
  <p><%= event.data[:description] %></p>
<% when 'photo' %>
  <p><%= event.data[:description] %></p>
<% end %>
<% if event.data[:shares] %>
  <% event.data[:shares].each do |share| %>
    Link: <%= link_to share["name"] || share["link"], share["link"], :target => '_blank' %>
    <%= share["description"] %>
    <%= share["picture"] %>
  <% end %>
<% end %>
