<% unless self.flash.empty? %>
  <% [ :beware, :error, :notice ].each do |kind| %>
    <% if !(message = self.flash[kind]).blank? %>
      <div id="flash" style="display: block;">
        <div class="<%= kind %>"><%= self.flash[kind].html_safe %></div>
        <span id="close-icon"></span>
      </div>
      <%
        self.flash.discard # Rails 2.3 problem where the flash does not get discarded after read
        break
      %>
    <% end %>
  <% end %>
<% else %>
  <div id="flash">
    <div></div>
    <span id="close-icon"></span>
  </div>
<% end %>
