<% [ :beware, :error, :notice ].each do |kind| %>
  <% if message = self.flash[kind].presence %>
    <div id="flash">
      <div id="<%= kind %>"><%= message.sanitize %></div>
    </div>
    <script type="text/javascript">
      document.observe('dom:loaded', function(e) {
        new Effect.Highlight('flash', { duration: 2 });
      });
    </script>
    <%
      self.flash.discard # Rails 2.3 problem where the flash does not get discarded after read
      break
    %>
  <% end %>
<% end %>

<script type="text/javascript">
  <% if self.flash[:updated_ticket_id] %>
    $j(document).ready(function() {
      var draftsWatcher = new Zendesk.Ticket.CommentDrafts(<%= self.flash[:updated_ticket_id].to_s.html_safe %>, currentUser.id, "#comment_value");
      draftsWatcher.clear();
    });
  <% end %>
</script>
