<% [:error, :notice].each do |type| %>
  <% if flash[type].present? %>
    <div class="notification notification-<%= type.to_s %>">
      <div class="notification-inner">
        <span class="notification-icon"></span>
        <span class="notification-text"><%= flash[type] %></span>
        <span class="notification-dismiss"></span>
      </div>
    </div>
  <% end %>
<% end %>
