<div class="two_column_form">
  <div class="element_group">
    <div id="jira_sharing_header">
      <h1>Share with JIRA</h1>
      <p>Link this ticket to a new or existing JIRA issue.</p>
    </div>
    <div class="form_element" id="project">
      <div class="form_section_label">
        <strong>Create a new JIRA issue</strong>
      </div>
      <div class="form_field">
        <p><strong>Project</strong></p>
        <div id="jira_projects">
          <select name="ticket[sharing_agreement_custom_fields][project_id]" id="jira_project_id">
            <option value="" selected="selected">Loading projects...</option>
          </select><br />
        </div>
      </div>
    </div>
    <div class="form_element" id="issue_type">
      <div class="form_field">
        <p><strong>Issue Type</strong></p>
        <div id="jira_issues">
          <select name="ticket[sharing_agreement_custom_fields][issue_type_id]" id="issue_type_id">
            <option value='' selected='selected'>Loading issues...</option>
          </select>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="divider_text"><strong>OR</strong></div>
    <div class="form_element" id="issue_key">
      <div class="form_section_label">
        <strong>Link to an existing JIRA issue</strong>
        </div>
        <div class="form_field">
          <input id="jira_issue_key" name="ticket[sharing_agreement_custom_fields][issue_key]" type="text" />
        <p>Enter your JIRA issue key (e.g. ZEN-01)</p>
      </div>
    </div>
    <div class="actions">
      <%= link_to "Cancel", {}, {:id => "cancel_jira_sharing_options"} %><%= link_to "Done", {}, {:id => "save_jira_sharing_options", :class => "button save"} %>
    </div>
  </div>
</div>
