<% unless current_account.account_logo.nil? # Is this in use somewhere? %>
  <div class="side-box-with-image">
    <div class="side-logo">
      <b class="rtop r_blue"><b class="r1 r_white"></b><b class="r2 r_white"></b><b class="r3 r_white"></b><b class="r4 r_white"></b></b>
      <img src="<%= logo_path(current_account) %>" alt="<%= current_account.name %>"/>
      <b class="rbottom r_blue"><b class="r4 r_white"></b><b class="r3 r_white"></b><b class="r2 r_white"></b><b class="r1 r_white"></b></b>
    </div>
  </div>
<% end %>
