<%= cache [ :macro_list_updated, current_account.scoped_cache_key(:macros), current_user.cache_key, local_assigns[:context], 'v4' ] do %>
  <% element_id = local_assigns[:element_id] || "_macro_list" %>
  <%= setup_macro_list(element_id) %>

  <div id="<%= element_id %>" class="<%= element_id %>">
    <div id="case"></div>
    <ul class="drop-list" style="width:auto">
      <li>
        <span title="<%= I18n.t('txt.admin.views.shared._macro_list.apply_macro_message') %>" id='apply_macro_link' class="drop link" style="cursor:default; text-decoration:underline; z-index:20"><%= I18n.t('txt.admin.views.shared._macro_list.apply_macro_label') %></span>

        <ul id='macro_dropdown' class="first-drop rounded-4">
          <% if macro_search_enabled? %>
            <div class="search">
              <%= image_tag 'search_magnify.gif', :class => :search %>
              <%= image_tag 'monotone_cancel.gif', :class => :clear %>
              <input id="<%= element_id %>_search"/>
            </div>
            <ul class="search_results">
              <% macro_list_autocomplete_macros.each do |macro| %>
                <li class="search_result"><a href="javascript:void(0);"></a></li>
              <% end %>
              <li class="no_results"><%= I18n.t('txt.admin.views.shared._macro_list.No_Macro_with_found', :name_of_macro =>'<span class="search_term"></span>') %></li>
            </ul>
          <% end %>

          <% onclick = local_assigns[:apply_macro] || Proc.new { |key, id, title| "apply_macro(#{id}, event);"} %>

          <%= Zendesk::Utils::NestedCategoryBuilder.new(macro_list_shared_macros).render(onclick) %>

          <% unless (macro_list_personal_macros).blank? %>
            <li class="drop-header"><%= I18n.t('txt.admin.views.shared._macro_list.Your_macros') %></li>
            <%= Zendesk::Utils::NestedCategoryBuilder.new(macro_list_personal_macros).render(onclick) %>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
<% end %>
