<div id="case"></div>
<% macros = macro_list_shared_macros + macro_list_personal_macros %>
<% unless macros.empty? %>
  <h3>apply macro</h3>
  <%= select("selected_macro", "id", options_from_collection_for_select(macros, :id, :title, nil, :truncate => 40), :include_blank => 'Select macro') %>
<% end %>
<script type="text/javascript">
  $('selected_macro_id').observe('change', function(event) {
    var this_id = ticket_id || '0', macro_id = this.value;
    var ticketForm = jQuery("#ticket-chat");

    if (jQuery("#tickets_to_bulk_update", ticketForm).length > 0) {
      new Zendesk.API.Macro(macro_id).applyToTicket(null, ticketForm);
    } else {
      new Zendesk.API.Macro(macro_id).applyToTicket(this_id, ticketForm);
    }
  });
</script>
