<%= div_content do %>
  <h2><%= defined?(title) && title ? title.sanitize : I18n.t('txt.error_message.when_no_page_defined.unspecified_error') %></h2>
  <p style="font-size:16px"><%= message.sanitize if defined?(message) && message %></p>
<% end %>
<!-- Make the response bigger than 512 bytes to help IE show friendly error messages as recommended in http://support.microsoft.com/kb/294807 -->
<div style="word-wrap: break-word">
  <%= Array.new(1024, "&nbsp;").join.html_safe %>
</div>
