<div class="user_badge">
  <div class="icon photo bdr">
    <img src="/images/zd_monitored_handle_user.png" class="avatar" alt="<%= I18n.t('txt.views.alt_of_user_photo') %>"/>
  </div>
  <div class="name"><%= raw profile_link %></div>
</div>
