<div id="password_requirements" class="indented_outline">
  <%= hidden_field_tag :user_security_policy_id, @user.security_policy.id %>
  <strong><%= I18n.t('txt.security_policy.requirements.title') %></strong>
  <ul>
    <% @user.security_policy.validations_in_words[:password].compact.each do |validation_message| %>
      <% klass = if @user.errors[:password].present? %>
        <% @user.errors[:password].include?(validation_message) ? 'invalid' : 'valid' %>
      <% end %>
      <li class="<%= klass %>"><%= validation_message %></li>
    <% end %>
  </ul>
</div>
