<div id="payment-problem-wrapper" style="display:none">
  <div id="payment-problem" class="lv_action">
    <%= content_for_payment_warning %>
  </div>
</div>

<% content_for :script_onload_at_end do %>
  if (!Zendesk.embeddedInLotusAdmin() && !Zendesk.embeddedInLotusLaunchpad()) {
    $j.colorbox({ inline: true, href: "#payment-problem", maxWidth: "550px" });
  }
<% end %>
