<%= div_side_box(current_account.subscription.is_trial? ? I18n.t('txt.admin.views.shared._plan_info.thanks_for_trying_out_zendesk') : I18n.t('txt.admin.views.shared._plan_info.subscription_plan')) do %>

  <% if current_account.subscription.is_trial? %>
    <p><%= I18n.t('txt.admin.views.shared._plan_info.In_order_to_continue_use') %></p>
  <% else %>
    <p><%= I18n.t('txt.admin.views.shared._plan_info.your_zendesk_is_on_plan', :name_of_plan => "<strong>#{current_account.subscription ? current_account.subscription.plan_name : ""}</strong>", :max_agents => current_account.subscription.max_agents)%></p>

    <% if features = available_features(current_account.subscription) %>
      <h5><%= I18n.t('txt.admin.views.shared._plan_info.Upgrade_now_and_get') %></h5>
      <ul class="options">
        <% features.each do |feature| %>
          <li><%= feature %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <% if !current_account.subscription.is_sponsored? && !current_account.subscription.is_spoke? %>
    <% if current_user.is_account_owner? %>
      <% if current_account.subscription.plan_type == 1 || current_account.subscription.plan_type == 2 -%>
      <p><strong><%= link_to I18n.t('txt.admin.views.shared._plan_info.yes_show_me_my_upgrade_options'), subscription_settings_path %></strong></p>
      <% elsif current_account.subscription.plan_type == 3 -%>
        <p><strong><%= link_to I18n.t('txt.admin.views.shared._plan_info.add_more_agents_to_your_account'), subscription_settings_path %></strong></p>
      <% end -%>
    <% else %>
      <p>
        <%= I18n.t('txt.admin.views.shared._plan_info.order_to_upgrade', :owner_name => "<a href='mailto:#{current_account.owner.email}'>#{current_account.owner.name}</a>")%>
      </p>
    <% end %>
  <% end %>
<% end %>
