<div class="audio player" id="audio_player_<%= context %>_<%= comment.id %>"></div>

<script type="text/javascript">
  (function() {
    var load = function() {
      var urls = <%= comment.player_recording_urls.to_json.html_safe %>;
      var player = new Player({
        domId: 'audio_player_<%= context %>_<%= comment.id %>',
        url: urls,
        swfUrl: '/media/voice/soundmanager'
      });
    };
    if(!document.body) {
      $j(window).load(load);
    } else {
      _.defer(load);
    }
  }());
</script>

