<form id="safe_rules_search" method="post" >
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
  <input name="utf8" value="✓" type="hidden" />
</form>

<%= javascript_tag do %>
  $j('document').ready(function(){
    $j('<%= anchor_selector %>').click(function(e) {
      var form = $j('#safe_rules_search');
      form.attr('action', $j(this).attr('href'));
      form.submit();
      return false;
    });
  });
<% end %>
