<% if screencasts && !screencasts.empty? %>
  <div id="comment_for_screencasts_list" style="display:none">
    <%= comment_value_as_html(comment).html_safe %>
  </div>
  <ul class="recorded_screencasts_list">
    <%- screencasts.each do |screencast| -%>
      <li id="<%= screencast.id %>">
        <a href="javascript:Zendesk.Screenr.TicketRecorder.showScreencast('<%= screencast.url %>')" class="screencast_preview">
          <%= screencast.display_name %>
        </a>
      </li>
    <%- end -%>
  </ul>
<% end %>
