<% if attachments.any? || screencasts.any? %>
  <ul class="attachments">
    <%= render :partial => '/shared/attachment_item', :collection => attachments %>
    <%= render :partial => '/shared/screencast_item', :collection => screencasts %>
  </ul>
<% end %>
