<%
  # From the time Forums (i.e. Help Center / Guide) were still part of Classic. Also impacted any Classic public page
  # that were shared on Facebook. There might be Classic pages still used in the product (even rarer for public
  # pages), so keep it for now.
  description ||= current_account && current_account.texts && current_account.texts.help_desk_description
  type        ||= "website"
%>
<meta property="og:locale" content="<%= user_locale_for_facebook(current_user) %>" />
<meta property="og:title" content="<%= encode_meta_tag_content(@page_title) %>" />
<meta property="og:type" content="<%= type %>" />
<meta property="og:url" content="<%= encode_meta_tag_content(request.url) %>" />
<meta property="og:image" content="<%= header_logo_url(current_account) %>" />
<meta property="og:site_name" content="<%= encode_meta_tag_content(current_account && current_account.name) %>" />
<meta property="og:description" content="<%= encode_meta_tag_content(description) %>" />
