<ul id="sortedlist" class="sortablelist">
  <% sortable_list.each do |item| -%>
    <li class="item sortable" id="item_<%= item.id -%>" data-item_id="<%= item.id -%>"><%= h(item.name) -%></li>
  <% end -%>
</ul>
