<% if @tickets %>
  <%= div_content do %>
    <h2>
      <%= @tickets_title || I18n.t('txt.views.shared.ticket_table_with_bulk_update.tickets') %>
      <%= content_tag :span, "(#{@tickets.total_entries})", :class => 'item_count' %>
    </h2>
    <% if @tickets.present? %>
      <%= render :partial => 'shared/tickets_table', :locals => { :tickets => @tickets, :options => {:output => @output, :sorting_allowed => true }} %>
    <% else %>
      <p><%= I18n.t('txt.views.shared.ticket_table_with_bulk_update.no_tickets_found') %></p>
    <% end %>
  <% end %>
  <%= render :partial => 'rules/bulk_update' if @tickets.any? %>
<% end %>
