<div id="ticket_custom_fields">
  <%= custom_fields_render(f, '<div id="select_more" class="select"><span onclick="$j(\'#collapsible_fields\').show();$j(\'#select_more\').hide();" class="link">' + I18n.t('txt.admin.helpers.links_helper.more_tab') + '</span></div>', bulk_update) %>
</div>
