<tr class="linked <%= 'closed' if ticket.closed? %>"
  data-href="<%= ticket_path_for_collection(ticket.nice_id) %>"
  data-zd-ticket-nice-id="<%= ticket.nice_id %>" data-zd-account-id="<%= ticket.account.id %>">
  <% fields.each do |field| %>
    <td class="<%= field.identifier == :subject ? 'description' : field.identifier %>"><%= ticket_field_value(ticket, field) %></td>
    <% if field.identifier == :subject %>
      <% tip_attr = tip_attributes_for(ticket, current_user.is_end_user?) %>
      <%= javascript_tag("commentTip('#{ticket.id}_subj', #{tip_attr[0]}, #{tip_attr[1]});") %>
    <% end %>
  <% end %>
  <% if options[:enable_bulk] %>
    <% if ticket.closed? || current_user.limited_access?(ticket) %>
      <td>&nbsp;</td>
    <% else %>
      <td onclick="event.cancelBubble=true;">
        <input type="checkbox" class="tickets_to_bulk_update" value="<%= ticket.nice_id %>" onclick="showOrHideBulkForm();">
      </td>
    <% end %>
  <% end %>
</tr>
