<% bulk_update = bulk_update.nil? ? false : bulk_update %>
<div class="selects">

<% content_for :script do %>
  <%= assignable_agents_and_groups %>
<% end %>

 <div id="ticket_properties" class="<%= (@ticket.nil? || !current_user.can?(:edit_properties, @ticket)) ? 'read_only' : '' %>">
      <!-- Subject -->
      <% if current_account.field_subject.is_active? %>
        <%= field_edit_element_for_agent(current_account.field_subject, @ticket, f) %>
      <% end %>

      <!-- System Properties -->
      <%= render :partial => 'shared/ticket_system_properties', :locals => { :f => f, :bulk_update => bulk_update } %>

      <!-- Custom Fields -->
      <%= render :partial => 'shared/ticket_custom_fields', :locals => { :f => f, :bulk_update => bulk_update } %>
    </div>
 </div>

<!-- JIRA Sharing Options -->
<div style="display:none;">
  <div id="jira_sharing_options">
    <%= render :partial => "shared/jira_sharing_options" %>
  </div>
</div>
