<% if tickets && !tickets.empty? %>
  <%
    options  = defined?(options) && options ? options : {}
    output   = options[:output] || @rule.output
    options  = { :enable_bulk => true, :sorting_allowed => true }.merge(options)
    options[:enable_bulk] &&= current_user.is_agent?

    set_tickets_in_collection_cache_and_map_comments(tickets, @rule ? @rule.id : 0) if current_user.is_agent?

    @fields = output.remove_irrelevant_columns_for(current_account).collect { |f| ZendeskRules::RuleField.lookup(f)}
    @fields.compact!
  %>
  <div class="frame tickets_table">
    <table class="tickets">
      <colgroup>
        <% @fields.each do |field| %>
          <col class='<%= field.identifier %>' />
        <% end %>
      </colgroup>
      <thead>
        <tr>
          <% @fields.each do |field| %>
            <%= view_header(field, options[:sorting_allowed]) %>
          <% end %>
          <% if options[:enable_bulk] %>
            <th class="checkbox"><input type="checkbox" onclick="selectAllTicketsForBulkUpdate(this);"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render_view_tickets_table_ticket_rows_with_grouping(tickets, @fields, output, options) %>
      </tbody>
    </table>
  </div>

  <% if request.post? %>
    <%= will_paginate tickets, :params => params.except(:controller, :action, :commit, :authenticity_token) %>
    <%= render :partial => 'shared/safe_rules_search', :locals => { :anchor_selector => 'div.pagination a' } %>
  <% else %>
    <%= will_paginate tickets unless options[:disable_paging] %>
  <% end %>

<% end %>

<%= javascript_tag do %>
  jQuery(document).ready(function () {
    var table = $j('table.tickets');
    Zendesk.Tickets.Table.linkifyRows(table);
  });
<% end %>

<% if show_agent_collision? && tickets.try(:any?) %>
  <%= javascript_tag do %>
    jQuery(function() {
      Zendesk.Tickets.Table.getAndApplyViewingStatuses([<%= tickets.map(&:nice_id).join(',') %>]);

      // Have to wait for tooltip to have loaded the tooltip DOM element.
      // jQuery's onload fires too early.
      jQuery(document).bind('tooltipopen', function(event) {
        Zendesk.Tickets.Table.applyViewStatusToTooltip(event.target);
      });
    });
  <% end %>
<% end %>
