<% if tickets.present?

  if current_user.is_agent?
    set_tickets_in_collection_cache_and_map_comments(tickets, @rule ? @rule.id : 0)
  end
%>
  <div class="frame">
    <% tickets.each do |ticket| -%>
      <div class="ticket<%= ' nobottom' if ticket.nice_id == tickets.last.nice_id %>">
        <h3><%= link_to h(ticket.title(188)), ticket_path_for_collection(ticket.nice_id) %></h3>
        <p class="date">
          <%= color_code_score(ticket, I18n.t("txt.views.tickets._closed_ticket_attributes.no_id_title_#{ticket.status.downcase}_#{ticket.ticket_type.downcase}", :ticket_id =>ticket.nice_id)) %>
          &nbsp;<%= format_date(ticket.created_at) %>
          <%= ticket.req_name %>
        </p>

        <% if comment = ticket.latest_comment_mapped -%>
          <div class="comment">
            <%= div_comment_box do %>
              <div class="message <%= comment_class(comment) %>">
                <%= comment_value_as_html(comment) -%>
                <span class="comment-by">
                  <%= i18n_cacheable_time_ago_in_words(comment.created_at, I18n.t('txt.views.ticket_list.comment_by', :name => "<strong>#{h(comment.author.name)}</strong>", :time_ago => 'XXX')) %>
                </span>
              </div>
            <% end -%>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>
  <%= will_paginate tickets %>
<% end %>
