<%- content_for :script_onload_at_end do -%>
  Zendesk.Twitter.Menu.init();
<%- end -%>

<li id="twitter_menu" class="main">
  <a id="twitter_menu_item" href="<%= twitter_icon_link %>">t</a>
  <ul class="menu-drop" id="twitter_searches_drop">
    <%- if MonitoredTwitterHandle.where(:account_id => current_account.id).active.empty? -%>
      <div id="twitter_menu_no_search" class="clearfix">
        <p><%= I18n.t('txt.admin.views.shared._twitter_search_menu.Add_your_Twitter_account', :add_your_twitter_link => (link_to(I18n.t('txt.admin.views.shared._twitter_search_menu.Add_your_Twitter_account_link'), zendesk_channels.twitter_settings_path(:anchor => "monitored_accounts"))))%></p>
        <p><%= link_to(I18n.t('txt.admin.views.shared._twitter_search_menu.Ignore_this'), "javascript:", :class => "hide_twitter_menu") %></p>
      </div>
    <% elsif twitter_no_saved_searches? %>
      <div id="twitter_menu_no_search" class="clearfix">
        <% if current_user.is_admin? %>
          <p><%=  %> <%= I18n.t('txt.admin.views.shared._twitter_search_menu.Add_a_saved_search', :add_saved_search_link => (link_to(I18n.t('txt.admin.views.shared._twitter_search_menu.Add_a_saved_search_link'), zendesk_channels.twitter_settings_path(:anchor => "manage_searches"))))%></p>
        <% end %>
      </div>
    <%- end -%>

    <%= render_shared_twitter_searches %>
    <%= link_to_more_twitter_searches if twitter_searches_for_account.length > current_account.max_twitter_searches_for_display %>

    <%- if !twitter_searches_for_current_user.empty? -%>
      <li class="drop-header"><%= I18n.t('txt.admin.views.shared._twitter_search_menu.My_searches') %></li>
      <%= render_personal_twitter_searches %>
      <%= link_to_more_twitter_searches if twitter_searches_for_current_user.length > current_account.max_private_twitter_searches_for_display %>
    <%- end -%>
  </ul>
</li>
