<div class="user_badge">
  <div class="<%= user.is_agent? ? "icon photo bdr by-staff" : "icon photo bdr" %>">
    <img src="<%= photo_path(user) %>" class="avatar" alt="<%= I18n.t('txt.views.alt_of_user_photo')%>">
  </div>
  <%- if user.foreign_agent? -%>
    <div class="agent_badge">AGENT</div>
  <%- end -%>

  <div class="name">
    <%= raw link_to_user_profile(user, true) %>

    <%- if user.organization_name -%>
      <br /><div class="gray-text-compact"><%= user.organization_name %></div>
    <%- end -%>
  </div>
</div>
