<link rel="stylesheet" href="https://assets.zendesk.com/apps/sdk-assets/css/2/zendesk_garden.css" type="text/css">

<style>
.definitely-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-subdomain {
  font-size: 26px;
}

.copyright {
  color: #BBBBBB;
}

.copyright a {
  color: #BBBBBB;
  text-decoration: underline;
}

h1 {
  line-height: 30px;
}
</style>

<div class="definitely-center">
  <main>
    <%= brand %>
    <h1 class="u-mega u-regular u-ta-center"><%= I18n.t('txt.views.account_setup.hang_tight_while') %></h1>
    <div class="url-container u-mt-xl">
      <input type="text" id="new-hostname" class="c-txt__input u-gamma u-thin new-subdomain u-ta-center" disabled value="https://subdomain.zendesk.com/chat">
    </div>
    <p class="u-ta-center u-mt">
      <%= I18n.t(
        'txt.views.account_setup.you_can_access',
        :learn_more_link => link_to(
          I18n.t('txt.views.account_setup.learn_more'),
          I18n.t('txt.views.account_setup.learn_more_url'),
          :target => "_blank"
        )
      )%></p>
    <div class="u-ta-center u-mt-xl">
      <%= image_tag "spinner.100x100.pelorous.gif", :alt => I18n.t('txt.views.account_setup.waiting_spinner') %>
    </div>
  </main>
  <footer class="u-ta-center u-mt">
    <p class="copyright u-zeta u-thin">
      <%= I18n.t(
          'txt.views.account_setup.copyright',
          :privacy_policy_link => link_to(
            I18n.t('txt.views.account_setup.privacy_policy'),
            I18n.t('txt.views.account_setup.privacy_policy_url'),
            :target => '_blank'
          ),
          :terms_and_conditions_link => link_to(
            I18n.t('txt.views.account_setup.terms_and_conditions'),
            I18n.t('txt.views.account_setup.terms_and_conditions_url'),
            :target => '_blank'
          )
        ) %>
    </p>
  </footer>
</div>
