#colorbox .change_subscription {

  h1 {
    margin-bottom: 1em;
  }

  * + p {
    margin-top: 1em;
  }

  .from, .to {
    width: 15em;

    h2 {
      border-bottom: 1px solid #ddd;
      margin: 0;
      padding-bottom: 2px;

      & + li {
        border-top: 1px solid #ccc;
        padding-top: 5px;
      }
    }
  }

  .from {
    float: left;
    padding-left: 4em;
  }

  .to {
    background: url('/classic/images/arrow_right.png') no-repeat 0% 60%;
    margin: 0 4em 0 21em;
    padding-left: 6em;
  }

  table.invoice {
    border-spacing: 0;
    margin: 1em 5em;

    td, th {
      padding: 0.5em 0;
      vertical-align: top;
    }
    td {
      color: #434343;
      font-weight: bold;
      text-align: right;
    }
    th {
      color: #838383;
      font-weight: normal;
      padding-left: 1em;
      width: 75%;
    }
    tbody tr:last-child td {
      background: transparent url("/classic/images/sprites/plus-equals.png") 0 6px no-repeat;
      border-bottom: 1px solid #ddd;
    }
    tfoot tr:first-child td {
      border-top: 1px solid #ccc;
      background: transparent url("/classic/images/sprites/plus-equals.png") 0 -16px no-repeat;
    }
  }

  form {
    margin-top: 1em;

    footer {
      margin-top: 1.5em;
    }
  }
}
