@import "../../../mixins.css.scss";
/* subscription plan matrix table */

table.plan-matrix {
  color: #000000;
  margin: 0;
  width: 97%;

  .if_coupon_code_applies, .if_has_coupon_code { display: none; }

  p label {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
  }

  #apply_coupon_code {
    @include rounded-corners(10px);
    background-color: #646464;
    border-color: #646464;
    border-style: none;
    color: #eee;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
  }

  span.error {
    color: #de676b;
    display: block;
    font-size: 11px;
    margin: 5px 0 0 60px;
  }

  td {
    width: 32%;
    vertical-align: top;
    padding: 7px 7px 0 0;
  }

  td .plan {
    background-color: #FFF;
    border: 3px solid #A4D1DB;
    padding: 0;
  }

  td .plan-head {
    padding: 11px 10px 3px 10px;
    background: #FFF;
  }

  td .plan-vars {
    background: #F9F9F9;
  }

  h4 {
    float: left;
    color: #444444;
    font-size: 1.2em;
    font-weight: normal;
    margin: 8px 0 0 0;
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }
  div.clear {
    clear: both;
  }

  input.right {
    display: block
  }

  #billing-cycle-total {
    font-size: 28px;
    font-weight: bold;
    color: #777;
    padding: 4px 0 0 0;
  }

  #billing-cycle-desc,
  #billing-cycle-frequency,
  #coupon_code_expiry {
    color: #AAA;
    font-size: 12px;
    padding: 0 0 0 4px;
  }

  #billing-cycle-undiscounted-price, #billing-cycle-max-agent-count,
  #billing-cycle-discounted-amount, .line_item_amount {
    float: right;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: #777;
  }

  #billing-cycle-price {
    float: right;
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    padding: 4px 0 0 0;
    color: #7fa239;
  }

  td .plan h2 {
    margin: 3px 0px 7px 0px;
  }

  td .plan h3 {
    font-size: 1em;
    margin: 15px 0px 7px 0px
  }
  td p.features {
    color: #888;
    height: 94px;
    font-size: 1.1em;
  }

  /* new-forums pricing model feature descriptions are shorter */
  .pricing-2 td p.features {
    height: auto;
    min-height: 6em;
  }

  .plan-selection {
    text-align: center;
    padding: 10px 0;
  }

  .plan-selection input[type="submit"],
  .plan-selection input[type="button"] {
    font-size: 12px;
  }

  .plan-pricing {
    padding: 6px 0;
  }

  .plan-pricing .per-agent-pricing {
    padding: 3px 0 0 0;
  }

  span.plan-vars-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #444;
  }

  #upgrade,
  #downgrade{width:30%;}

  #upgrade td,
  #downgrade td{padding:0px;}

  p.current-plan {
    margin:2px 0 4px 0;
    color: #777;
  }

  #downgrade h4 {
    font-weight:bold;
  }

  #downgrade #billing-cycle-frequency {
    font-size: 1.1em;
    min-width: 100px;
  }

  #downgrade td .plan-head {
    padding-bottom: 10px;
  }
}


body.subscription p.maximum-agent-notification {
  background: url('/classic/images/cross.png') no-repeat scroll 0 1px transparent;
  font-weight:bold;
  padding-left: 31px;
  margin-left: 20px;
}

.plus_features {
  width: 470px;
  height: 320px;
  margin: 15px;

  ul { margin-top: 20px }
  ul li {
    margin: 12px 0 0 20px;
    list-style-type: disc;
  }
}

/* upgrade to plus and subscription plan matrix variation */

#upgrade-options,
#downgrade-options {
  width:65%;
  float:left;
  font-size:13px;
  line-height:18px;
  padding:0 15px 0 0;

  h3 { margin-top: 0; }
  ul + h3 { margin-top: 15px; }
}

#upgrade-options ul,
#downgrade-options ul {
  list-style:none outside none;
  margin:0;
  padding:0;
}

#upgrade-options ul li{
  background:url("/classic/images/tick2.png") no-repeat scroll 0 2px transparent;
  color:#444444;
  padding:0 0 0 23px;
}

#downgrade-options ul li {
  background:url("/classic/images/cross.png") no-repeat scroll 0 1px transparent;
  color:#444444;
  padding:0 0 0 23px;
}

body.subscription-upgrade span.agent-minimum {
  color: #666;
  padding-left: 12px;
}

.downgrade-buttons {
  margin-top:40px;
  .home {
    float:left;
    a {
      font-size:16px;
      text-decoration:underline;
    }
    .confirm { float:right; }
  }
}


#find_the_cvv {
  position: relative;
  font-family: Helvetica;

  #top_cvv {
    position: absolute;
    top: 15px;
    left: 180px;
    width: 250px;
    padding:15px;
    margin:1em 0 3em;
  }
  #bottom_cvv {
    position: absolute;
    top: 140px;
    left: 180px;
    width: 250px;
    padding:15px;
    margin:1em 0 3em;
  }
  #top_cvv h4, #bottom_cvv h4 {
    font-size: 1em;
    font-weight: normal;
    color: #3c3c3c;
  }
  #top_cvv p, #bottom_cvv p {
    font-size: 9pt;
    color: #ababa9;
  }
}
