<% if (credit_card = current_account.subscription.credit_card).present? %>
  <%= content_tag :table, :id => "credit-card-details" do %>
    <%= content_tag :tr do %>
      <%= content_tag :th, I18n.t('txt.admin.views.settings.credit_card.details.number') %>
      <%= content_tag :td, credit_card.shadowed_number %>
    <% end %>
    <%= content_tag :tr do %>
      <%= content_tag :th, I18n.t('txt.admin.views.settings.credit_card.details.expiration') %>
      <%= content_tag :td, "#{credit_card.month}/#{credit_card.year}" %>
    <% end %>
  <% end %>
  <%= content_tag :p do %>
    <%= link_to I18n.t('txt.admin.views.settings.credit_card.details.change_credit_card'), new_settings_credit_card_path %>
  <% end %>
<% end %>

<% unless current_account.subscription.credit_card.present? %>
  <%= content_tag :p do %>
    <%= content_tag :div do %>
      <%= I18n.t('txt.admin.views.settings.credit_card.details.we_have_no_cc_on_file') %> <%= link_to I18n.t('txt.admin.views.settings.credit_card.details.enter_credit_card_now'), new_settings_credit_card_path %>.
    <% end %>
  <% end %>
<% end %>

