<%= content_tag :td, :id => "plan-details" do %>
  <%= content_tag :div, :id => "plan-detail-floater" do %>
    <%= render_upgrade_details_for(@converted_subscription) %>
    <table id="subscription-plan-variables">
      <thead>
        <% if @converted_subscription.has_discount? %>
            <tr>
              <th colspan='2'><%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.an_additional_special_discount_applied', :number => @converted_subscription.manual_discount) %></th>
            </tr>
        <% end %>
      </thead>
      <tfoot>
        <tr>
          <th id='billing-cycle-total'><%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.Total') %></th>
          <td id='billing-cycle-price'><%= number_to_currency(@after[:net]) %></td>
        </tr>
        <tr>
          <td id="billing-cycle-desc" class='info'><%= I18n.t('txt.views.account.subscription.upgrade_from_trial.billed_' + BillingCycleType[@after[:billing_cycle_type]].name) %></td>
          <td id='after-coupon-ends' class='info'>
            <% if (@after[:discount_from_coupon] || 0) > 0 %>
                <%= number_to_currency(@after[:net] + @after[:discount_from_coupon]) %>
                after coupon promotion ends
            <% end %>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th><%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.Max_Agents') %></th>
          <td id='billing-cycle-max-agent-count'><%= @after[:max_agents] %></td>
        </tr>
        <tr>
          <th><%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.Base_Price') %></th>
          <td id='billing-cycle-undiscounted-price'><%= number_to_currency(@after[:amount]) %></td>
        </tr>
        <tr>
          <th><%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.Discount') %></th>
          <td id='billing-cycle-discounted-amount'>
            -<%= number_to_currency(@after[:discount_from_cycle]) %>
          </td>
        </tr>
        <% if @after[:discount_from_coupon] > 0 %>
          <tr>
            <th><%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.Promo') %></th>
            <td id='billing-cycle-coupon-amount'>
              -<%= number_to_currency(@after[:discount_from_coupon]) %>
              <div class='info'>For <%= pluralize(@after[:coupon_months_left].round, "month") %></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @after[:max_agents] < current_account.billable_agents.count %>
      <%= content_tag :p do %>
        <strong><%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.Please_note') %></strong>
        <%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.you_are_upgrading', :total_agents => current_account.billable_agents.count) %>
        <%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.Consequently_some_agents_will_be') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
