<% content_for :sidebar do %>
    <%= div_side_box(I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.FAQ')) do %>
        <%= content_tag :b, I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.What_happens_next') %>
        <%= content_tag :p, I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.In_the_next_24_hours') %>
        <%= content_tag :b, I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.will_i_receive_an_invoice') %>
        <%= content_tag :p, I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.you_will_receive_an_invoice') %>
    <% end %>
    <%= div_side_box(I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.any_questions')) do %>
        <%= content_tag :p do %>
            <%= I18n.t('txt.admin.views.account.subscription.upgrade_from_trial.if_you_have_any_questions', :zendesk_email => (mail_to "contact@zendesk.com")) %>
        <% end %>
    <% end %>
<% end %>
