<%
# Assumes local images is set.

#$('src').value='';$('alt').value='';insertAction();
%>

<% if images.size > 0 %>
<ul>
  <% images.each do |image| %>
    <li style="padding:0;margin:1px;list-style-type:none;display:inline;"><a href="javascript:void(0)" onclick="<%= "ImageDialog.ts_insert_image('#{image.url(:relative => true)}', '#{image.display_filename}');" %>"><img src="<%= attachment_thumb_path(image) %>"/></a></li>
  <% end %>
</ul>

<% else %>
 No Images Uploaded Yet.
<% end %>
