<% @page_title = "Download attachment: #{h @attachment.display_filename}" %>
<%= div_content do %>
  <div class="content-top-right">
  </div>
  <h2>Now downloading: <%= h(@attachment.display_filename) %></h2>
  If your download does not start, please click here: <%= link_to_attachment(@attachment) %>
  <% content_for :script_onload_at_end do %>
    $j(document).ready(function() { window.location = "<%= @attachment.url %>" });
  <% end %>
<% end %>
