#container .arturo.features {
  border-collapse: collapse;

  tbody tr:nth-child(even) { background-color: #F4F4F4; }
  tbody tr:nth-child(odd)  { background-color: #fff; }

  td, th { padding: 6px 12px; }

  tfoot th {
    padding-top: 12px;
    text-align: right;

    a + input { margin-left: 30px; }
  }
}