<div id="csr-dashboard">

  <div class="picture">
    <%= link_to edit_user_path(current_user, :anchor => "photo") do %>
      <img src="<%= photo_path(current_user) %>"/>
      <% if current_user.photo.nil? %>
        <p class="upload-link"><%= I18n.t('txt.admin.views.home._default_dashboard.upload_picture') %></p>
      <% end %>
    <% end %>
  </div>

  <div class="current-user">
    <h2><%= link_to current_user.name, user_path(current_user) %></h2>

    <%= render :partial => 'shared/csr_data_boxes', :locals => { :user => current_user } %>

  </div>
  <div class="clear"></div>
</div>
