<%= div_content do %>
  <% if current_account.has_customer_satisfaction_enabled? %>
    <%= render :partial => 'csr_dashboard' %>
  <% else %>
    <%= render :partial => 'default_dashboard' %>
  <% end %>
<% end %>

<%= render :partial => 'shared/safe_rules_search', :locals => { :anchor_selector => '.dashboard_search_link' } %>
