<div id="default-dashboard">
  <div class="content-top-right">
     <%= link_to_unless(
         user_open_ticket.zero?,
         render_dashboard_stats(
            user_open_ticket,
            I18n.t('txt.admin.views.home._default_dashboard.open_tickets_assigned_to_you_label'),
            I18n.t('txt.admin.views.home._default_dashboard.open_tickets_assigned_to_you_label_2'),
            'large'
         ),
         search_rules_path(
            :filter => 'views',
            :sets => build_set([assignee_condition(current_user), open_condition ]),
            :search_name => "Open tickets assigned to you",
            :authenticity_token => form_authenticity_token
         ),
         :class => "dashboard_search_link"
     ) %>
     <%= link_to_unless(
         new_and_open_tickets_in_group_with_restrictions.zero?,
         render_dashboard_stats(
            new_and_open_tickets_in_group_with_restrictions,
            I18n.t('txt.admin.views.home._default_dashboard.open_tickets_assigned_to_your_group_label'),
            I18n.t('txt.admin.views.home._default_dashboard.open_tickets_assigned_to_your_group_label_2'),
            'large'
         ),
         search_rules_path(
            :filter => 'views',
            :sets => build_set([users_groups, new_and_open_condition,  build_condition("is_not", nil, "group_id")]),
            :search_name =>"Open Tickets, in your group(s)",
            :authenticity_token => form_authenticity_token
         ),
         :class => "dashboard_search_link"
     ) %>
   </div>

  <div class="picture">
    <%= link_to edit_user_path(current_user, :anchor => "photo") do %>
      <img src="<%= photo_path(current_user) %>"/>
      <% if current_user.photo.nil? %>
        <p class="upload-link"><%= I18n.t('txt.admin.views.home._default_dashboard.upload_picture') %></p>
      <% end -%>
    <% end %>
  </div>

  <div class="current-user">
    <h2><%= link_to current_user.name, user_path(current_user) %></h2>
    <div class="agent-stats">
      <h3><%= I18n.t('txt.admin.views.home._default_dashboard.Your_ticket_stats_this_week')%></h3>
      <ul>
        <li><%= I18n.t('txt.admin.views.home._default_dashboard.number_of_tickets_solved_by_you', :number_of_tickets_solved => current_user.tickets_solved_this_week)%></li>
      </ul>
    </div>
  </div>

  <div class="clear"></div>
</div>
