<div id="introductory_text">
  <%= div_content('green') do %>
    <div class="introductory_text_form" >
      <% if current_user.is_admin? %>
        <%= form_for :account, :url => { :controller => "settings/portal", :action => "update_intro_texts" }, :html => {:method => :put } do |f| -%>
          <p><%= f.text_field :introductory_title, :size => 50, :value => account_introductory_title(true) %></p>
          <p><%= f.text_area :introductory_text, :rows => 5, :cols => 60, :value => account_introductory_text(true) %>
          </p>
          <%= f.submit I18n.t('txt.admin.views.home._introductory_text.Save') %>
          <%= link_to I18n.t('txt.admin.views.home._introductory_text.Cancel'), "#", :class => "cancel_link" %>
        <% end %>
      <% end %>
    </div>

    <div class="introductory_display_texts">
      <% if current_user.is_admin? %>
        <div class="content-top-right">
          <p>
          <%= link_to I18n.t('txt.admin.views.home._introductory_text.edit'), "#", :class => "edit_this" %>
          </p>
        </div>
      <% end %>
      <h2><%= account_introductory_title %></h2>
      <p><%= account_introductory_text %></p>
    </div>
  <% end %>
</div>
