<div id="pinned_entries_reorderer">
  <div class='ordered pinned_entries_container'>
    <p>
      <%= I18n.t('txt.admin.views.home._reorder_pinned_entries.the_following_topics_will_always_be_presented') %>
    </p>
    <ol id='ordered_pinned_entries'>
      {{#orderedEntries}}
      <li id='pinned_entry_{{id}}' class='item sortable'>{{title}}</li>
      {{/orderedEntries}}
    </ol>
  </div>

  <div class='unordered pinned_entries_container'>
    <p>
      <%= I18n.t('txt.admin.views.home._reorder_pinned_entries.the_remainder_will_be_shown') %>
    </p>
    <ul id='unordered_pinned_entries'>
      {{#unorderedEntries}}
      <li id='pinned_entry_{{id}}' class='item sortable'>{{title}}</li>
      {{/unorderedEntries}}
    </ul>
  </div>
</div>
