<div id="topic_search_loading"></div>
<div id="topic_search" style="display:none;">
  <div class="frame" style="margin-top: 15px; padding-bottom: 20px;">
    <div id="topic_search_result"></div>
    <%= render :partial => 'forums/search_deflect' %>
    <div style="clear:both;"></div>
  </div>
</div>
