<% if current_user.is_admin? %>
  <%= div_content('green') do %>
    <p><%= t 'txt.admin.forums.home.user_portal_help' %></p>
  <% end %>
<% end %>

<% if show_introductory_text? %>
  <%= render :partial => 'introductory_text' -%>
<% end %>

<%= js_init -%>
