<%= label_tag I18n.t('txt.admin.public.javascript.zd_rule.email_body_label'), nil, class: 'newline' %>
<%= text_area_tag "email_body", current_account.cc_email_template, class: 'text large', readonly: true %>
<p>
  <%= I18n.t('txt.views.events.cc.you_can_customize_this_text')%>
</p>
