<% comment = comment_for_feed %>
<li class="ticket-thread-comment <%= comment.is_public? ? ' public' : ' private' %>  <%= comment.author.role.downcase %>">
  <div class="ticket-thread-comment-avatar">
    <%= image_tag(photo_path(comment.author)) %>
  </div>
  <div class="ticket-thread-comment-body">
    <span class="author"><%= link_to author_name_for(comment) + (comment.author.is_agent? ? ' (staff)' : ''), user_path(comment.author) %></span>
    <span id="<%= comment.id %>-comment-body" class="feed-ticket-comment"><%= comment.to_s.truncate(210).gsub(/\r\n?/, "\n") %></span>
    <p class="comment-attributes">
      <%= distance_of_time_in_words(Time.now, comment.created_at).capitalize %> ago
      <span class="feed-actions">
          ·
          <span class="link" onclick="$z('feeds/index').renderCommentBody(<%= comment.id %>);">expand</span>
      </span>
    </p>
  </div>
</li>
