<%= label_tag I18n.t('txt.views.events._notification.message'), nil, :class => 'newline' %>

<%= text_field_tag "target_message", external.value_reference, :class => 'text large', :readonly => true %>
