<p><%= h(event.to_s.encode('UTF-8', 'UTF-8', :undef => :replace, :ignore => :replace)) %></p>
<p><%= render :partial => "shared/facebook_attachment", :locals => {:event => event, :context => 'default'} %></p>
