<%= label_tag I18n.t('txt.admin.public.javascript.zd_rule.email_subject_label'), nil, :class => 'newline' %>

<%= text_field_tag "email_subject", notification.value_previous, :class => 'text large', :readonly => true %>

<%= label_tag I18n.t('txt.admin.public.javascript.zd_rule.email_body_label'), nil, :class => 'newline' %>

<%= text_area_tag "email_body", notification.value_reference, :class => 'text large', :readonly => true %>

