<%= label_tag I18n.t('txt.admin.public.javascript.zd_rule.email_body_label'), nil, :class => 'newline' %>

<%= text_area_tag "email_body", organization_activity.body, :class => 'text large', :readonly => true %>
