<%= event.display_subject.to_s.present %>
<%= render :partial => "shared/recording", :locals => {:comment => event, :context => @mode} %>
<%= render :partial => "shared/call_stats", :locals => {:comment => event} %>
