@import '../views/buttons.css.scss';
$gradient-top: #f69a20;
$gradient-bottom: #f5861e;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 13px;
  background-color: #fafafa;
  color: #686868;
}

a:link, a:visited {
  color: #4999cf;
}

a:hover {
  color: #10486d;
}

p, ul {
 margin: 12px 20px 11px 0;
 color: #333;
 line-height: 15px;
}

div#zuora-credit-card {

  h2 {
    font-size: 14px;
  }

  div#migration-notice {
    font-size: 14px;
    color: #633333;
  }

  div#processing-overlay {
    display: none;
    position: absolute;
    z-index: -1;

    &.active {
      display: block;
      width: 525px;
      height: 290px;
      position: absolute;
      z-index: 1;
      opacity: 0.90;
      color: #343434;
      font-size: 16px;
      padding: 15px;
      border-radius: 4px;
      background: url(/classic/images/processing.gif) no-repeat center;
    }
  }

  iframe#z_hppm_iframe {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 495px;
    border: none;
  }

  div.credit-card-terms {
    text-align: left;
    margin: 10px 0 15px 75px;

    label {
      padding-left: 30px;
      line-height: 20px;
      display: inline-block;
    }

    input {
      position: absolute;
    }
  }

  div.credit-card-submit {
    margin: 20px 10px 10px;
    text-align: right;
    width: 495px;


    button {
      @include gradient-button($gradient-top, $gradient-bottom);
      padding: 12px;
      text-shadow: none;

      &:disabled, &:disabled:hover {
        @include gradient-button(#e8e8e8, #dddcde);
        color: #ccc;
        text-shadow: none;
      }
    }
  }

  .notice {
    padding: 20px;
    color: #C09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    h3 {
      margin: 0 0 5px 0;
      font-size: 24px;
      font-weight: normal;
    }

    p {
      margin: 0;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

  }

}
