@import "../misc/_colors.css.scss";

.suffix {
  color: $gray;
  line-height: 38px;
}

.capsule .validation {
  &.success {
    .validation-message::before {
      background-image: url(/classic/images/validation/success.svg);
    }
  }

  &.warning {
    .validation-message::before {
      background-image: url(/classic/images/validation/warning.svg);
    }
  }

  &.error {
    .validation-message::before {
      background-image: url(/classic/images/validation/error.svg);
    }
  }
}
