.spinner {
  display: none;
  position: absolute;
  height: 11px;
  width: 32px;
  right: 14px;
  top: 34px;
  background: url('/classic/images/dotted_bar.gif') no-repeat 100%;

  .field-wrapper.loading & {
    display: block;
  }
}
