@import "../misc/colors.css.scss";

.upload-field {
  height: 50px;
  position: relative;
  padding: 0px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;

  border: 1px dashed $dashed-form-border;

  svg {
    pointer-events: none;
  }

  span.drag-hint {
    display: none;
  }

  &.dragging:not(.preview) {
    border-color: $zendesk-green;
    background-color: $light-green;

    span {
      color: $zendesk-green;
    }

    svg path {
      fill: $zendesk-green;
    }

    span.drag-hint {
      display: initial;
    }

    span:not(.drag-hint) {
      display: none;
    }
  }

  &.preview {
    position: relative;
    overflow: hidden;

    .upload-child {
      display: none;
    }

    input {
      display: none;
    }
  }

  &:not(.preview) {
    .preview-child {
      display: none;
    }
  }

  .upload-child {
    color: $gray;
    display: inline-block;

    svg {
      height: 20px;
      width: 20px;
      position: relative;
      top: 3px;
      left: -5px;
    }
  }

  .preview-child {
    width: auto;
    padding: 0px 10px;
    clear: both;

    img {
      height: 35px;
      width: 35px;
      margin: 6px 10px 0px 0px;
    }

    img, .filename, .filesize {
      float: left;
    }

    .filename {
      color: black;

      max-width: 215px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .filesize {
      margin-left: 6px;
      color: $gray;

      font-size: 10px;
    }

    .unset-logo {
      height: 10px;
      width: 10px;
      margin-top: 18px;

      float: right;
      cursor: pointer;

      path {
        fill: $light-gray;
      }

      &:hover {
        path {
          fill: $gray;
        }
      }
    }
  }

  overflow: hidden;

  >input {
    position: absolute;

    /* In chrome and safari, input needs to be offset left */
    // this is an attempt to push the native filepicker button out of the
    // clickable zone, since the button portion of the native filepicker button
    // forces the normal pointer instead of respecting the 'cursor: pointer'
    width: 150%;
    left: -50%;

    height: 100%;
    opacity: 0;

    cursor: pointer;
  }

  span, a {
    color: $gray;
    text-align: center;
  }
}
