@import "../misc/_colors.css.scss";

.z-tooltip-anchor {
  $anchor-animation-speed: 200ms;

  position: relative;
  height: 0px;
  width: 0px;
  display: inline-block;

  border: 8px solid $tooltip-anchor-color;
  border-radius: 100px;
  transition: opacity $anchor-animation-speed ease;
  cursor: pointer;

  .inner {
    transition: transform $anchor-animation-speed ease;
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 100px;
    top: -2px;
    left: -2px;
    background: white;
  }

  &:hover .inner {
    transform-origin: 50% 50%;
    transform: scale(1.25);
  }

  &:hover {
    opacity: 0.75;
  }
}

/* -------------------------------*/

.z-tooltip {
  color: rgb(85, 85, 85);
  background-color: white;
  border: 1px solid #dddddd;
  font-size: 12px;
  border-radius: 5px;

  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  opacity:    0;
  padding:    0px;
  position:   absolute;
  top:        30px;
  min-width:  100px;
  max-width:  350px;
  z-index:    10;
  margin-top: 50px;
}

.z-tooltip.animated.slide {
  -webkit-transition: margin-top 500ms ease, opacity 500ms ease;
     -moz-transition: margin-top 500ms ease, opacity 500ms ease;
          transition: margin-top 500ms ease, opacity 500ms ease;
}

.z-tooltip.animated.fade {
  margin-top: 0px;
  -webkit-transition: opacity 500ms ease;
     -moz-transition: opacity 500ms ease;
          transition: opacity 500ms ease;
}

.z-tooltip .z-header {
  padding: 20px 20px 0 20px;
}

.z-tooltip h3 {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.z-tooltip button {
  background-color: $zendesk-green;
  color: white;
  padding: 11px 24px;
}

.z-tooltip .z-body {
  padding: 15px 20px 20px 20px;
  margin-bottom: 0px;
  line-height: 20px;
}

.z-tooltip.active {
  margin-top: 0;
  margin-right: 0;
  opacity: 1;
}

.z-tooltip .close {
  font-size:14px;
  padding: 0 4px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.z-tooltip::before {
  position: absolute;
  content: '';
  background-color: white;
  height: 12px;
  width: 12px;

  -webkit-transform-origin: center 50%;
     -moz-transform-origin: center 50%;
      -ms-transform-origin: center 50%;
          transform-origin: center 50%;

  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.z-tooltip.down::before {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  left: 30px;
  top: -7px;
}

.z-tooltip.up::before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 30px;
}

.z-tooltip.right::before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  left: -7px;
  top: 30px;
}

.z-tooltip.left::before {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  right: -7px;
  top: 30px;
}

.z-tooltip .z-footer {
  margin-top: 15px;
  text-align: right;

  .dot {
    height: 8px;
    width: 8px;
    margin: 20px 2px 2px 2px;

    border-radius: 8px;
    float: left;

    background-color: $tooltip-dot-color-inactive;

    &.active {
      background-color: $tooltip-dot-color-active;
    }
  }
}

/* ------ actionable TOOLTIP ------ */

.z-tooltip.actionable {
  overflow: hidden;
}

.z-tooltip.actionable .z-header {
  background-color: #fbfbfb;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #dddddd;
}

.z-tooltip.actionable.left::before,
.z-tooltip.actionable.right::before,
.z-tooltip.actionable.up::before,
.z-tooltip.actionable.down::before {
  display: none;
}

.z-tooltip.actionable .close {
  display: none;
}

.z-tooltip.actionable .z-footer button {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.z-tooltip.actionable .z-footer button.external-link img {
  vertical-align: baseline;
}

.z-tooltip.actionable .z-header {
  padding-left: 50px;
}

.z-tooltip.actionable .z-header img {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 20px;
  height: 20px;
}

.z-tooltip.actionable .z-header span {
  padding-left: 15px;
}
