<%= form_for(:account, :url => { :action => 'update' }, :html => { :method => :put, :id => 'account-settings', :class => 'two_column' }) do |f| %>
  <div class="element_group">

  </div>

  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.agents.show.Save_tab_label'), :class => "button save", :id => "settings_agents_dashboard_save_button") %>
  </div>
<% end %>
