<%# modified version of setupAssignedTicketsOnlyDependencies() from views/people/roles/general.js %>
<%- content_for :script_onload_at_end do -%>
  var lotusClient         = require('admin/lotus_client');
  var ticketAccess        = $j('#account_light_agent_permission_set_attributes_permissions_ticket_access');
  var ticketAccessMessage = $j('#ticket_access_message');
  var assignToAnyGroup    = $j('#assign_tickets_to_any_group');

  var showGroupMessage = function() {
    ticketAccessMessage
      .html(I18n.t('txt.admin.javascrips.views.people.roles.user_belongs_group'))
      .show();
  };

  var showAssignToAnyGroup = function() {
    assignToAnyGroup.show();
  };

  var showOrganizationMessage = function() {
    ticketAccessMessage
      .html(I18n.t('txt.admin.javascrips.views.people.roles.user_belongs_organization'))
      .show();
  };

  var hideMessage = function() {
    ticketAccessMessage.hide();
  };

  var hideAssignToAnyGroup = function() {
    assignToAnyGroup.hide();
  };

  var interactions = {
    'assigned-only':       [hideMessage, hideAssignToAnyGroup],
    'within-groups':       [showGroupMessage, showAssignToAnyGroup],
    'within-organization': [showOrganizationMessage, hideAssignToAnyGroup],
    'all':                 [hideMessage, hideAssignToAnyGroup]
  };

  const originalPolarisSetting = document.querySelector('input#account_settings_polaris') ? document.querySelector('input#account_settings_polaris').checked : null;
  document.querySelector('form[id="account-settings"]').addEventListener('submit', function(e) {
    const newPolarisSetting = document.querySelector('input#account_settings_polaris') ? document.querySelector('input#account_settings_polaris').checked : null;

    if (originalPolarisSetting !== newPolarisSetting) {
      lotusClient.reactPostMessage(`triggerAgentWorkspaceSegment`, {
        value: newPolarisSetting === true ? 'enabled' : 'disabled',
      });
    }

    return false;
  });

  ticketAccess.selectInteraction(interactions);

<%- end -%>

<p class="intro_text">
  <%= I18n.t('txt.admin.views.settings.agents._settings.intro_text') %>
  <%= link_to I18n.t('txt.admin.views.settings.security._authentication.Learn_more'),
              I18n.t('txt.contextual.references.user_roles.url'),
              :target => '_blank' %>
</p>

<%= form_for(@account, :url => { :action => "update_settings", :anchor => "settings" }, :html => { :method => :put, :id => 'account-settings', :class => 'two_column' }) do |f| %>
  <div class="element_group">
    <!-- Polaris migration dialog -->
    <% if current_account.display_group_and_department_migration? %>

      <!-- Check if chat migration maintenance is happening  -->
      <% if Arturo.feature_enabled_for?(:chat_migration_maintainence, current_account) %>
        <div class="c-callout c-callout--recessed callout-migration">
          <%= I18n.t('txt.admin.view.settings.agents.aw_group_dept_migration.maintenence_message') %>
        </div>
      <% else %>
        <div class="c-callout c-callout--recessed callout-migration">
          <div class="callout-migration__column">
            <div>
              <strong class="c-callout__title">
                <%= I18n.t('txt.admin.view.settings.agents.polaris.migration.title') %>
              </strong>
              <div class="c-callout__paragraph">
                <%= I18n.t('txt.admin.view.settings.agents.polaris.migration.description') %>
                <%= link_to I18n.t('txt.admin.view.settings.agents.migration.learn_more'), I18n.t('txt.admin.view.settings.agents.migration.learn_more_link'), :target => '_blank' %>
              </div>
            </div>
            <div class="callout-migration__submit">
              <%= submit_tag(I18n.t('txt.admin.view.settings.agents.polaris.migration.start_migration'), :class => "c-btn c-btn--primary", :id => "group_and_department_save_button", :onclick =>"lotusClient.reactPostMessage('openChatMigrationModal').then(() => $j('.callout-migration').hide()); return false") %>
            </div>
          </div>
        </div>
      <% end %>

    <!-- Polaris agent settings dialog  -->
    <% elsif current_account.has_finished_group_and_department_migration? %>

      <fieldset class="form_element">
        <legend class="label"><%= I18n.t('txt.admin.views.settings.agents._settings.agent_workspace') %></legend>
        <div class="form_field">

        <!-- Check if chat migration maintenance is happening  -->
          <% if Arturo.feature_enabled_for?(:chat_migration_maintainence, current_account) %>
            <div class="c-callout c-callout--recessed callout-migration">
              <%= I18n.t('txt.admin.view.settings.agents.aw_group_dept_migration.maintenence_message') %>
            </div>
          <% else %>
            <%= zd_enable_checkbox(f.property_set(:settings), :polaris, I18n.t('txt.admin.views.settings.agents._settings.agent_workspace_toggle'), {
              'data-toggles' => '#language-sub-setting, #messaging-sub-setting',
              'disabled': current_account.has_native_messaging? }) %>
            <p class="agent-workspace-toggle_paragraph"><%= I18n.t('txt.admin.views.settings.agents._settings.agent_workspace_toggle_description') %></p>
            <div class="more-info-link agent-workspace-toggle_link">
              <%= link_to I18n.t('txt.admin.view.settings.agents.migration.learn_more_link'), :target => "_blank" do %>
                <%= I18n.t('txt.admin.views.settings.agents._settings.agent_workspace_info_link') %>
                <svg class='link-out-svg'>
                  <use xlink:href="/images/garden_vector_icons.svg#zd-svg-icon-12-link-external"></use>
                </svg>
              <% end %>
            </div>
          <% if current_account.has_native_messaging? %>
            <br />
            <div class='support_info' id="messaging-sub-setting">
              <strong><%= I18n.t('txt.admin.views.settings.agents._settings.messaging_title') %></strong>
              <p style='margin: 0;'>
                <%= I18n.t('txt.admin.views.settings.agents._settings.messaging_description') %>
              </p>
              <a href=<%= "https://#{current_account.subdomain_url}/admin/channels/channels_list/messaging" %> style="color: #1A6690 !important;" target="_blank">
                  <%= I18n.t('txt.admin.views.settings.agents._settings.configure_messaging_link') %>
                  <svg class='link-out-svg'>
                    <use xlink:href="/images/garden_vector_icons.svg#zd-svg-icon-12-link-external"></use>
                  </svg>
                </a>
            </div>
          <% end %>
          <!-- Show fallback composer option for Asian languages -->
          <% if Arturo.feature_enabled_for?(:lotus_feature_omnicomposer, current_account) && Arturo.feature_enabled_for?(:polaris, current_account) && Arturo.feature_enabled_for?(:social_messaging_agent_workspace, current_account) %>
            <br />
            <div class='support_info' id="language-sub-setting">
              <strong><%= I18n.t('txt.admin.views.settings.agents._settings.agent_workspace_fallback_composer_title') %></strong>
              <p style='margin: 0;'><%= I18n.t('txt.admin.views.settings.agents._settings.agent_workspace_fallback_composer_description') %>
              <%= link_to I18n.t('txt.admin.view.settings.agents._settings.agent_workspace_asian_languages.learn_more_link'), :style => "color: #1A6690 !important;", :target => "_blank" do %>
                <%= I18n.t('txt.admin.views.settings.agents._settings.agent_workspace_fallback_composer_link') %>
                <svg class='link-out-svg'>
                  <use xlink:href="/images/garden_vector_icons.svg#zd-svg-icon-12-link-external"></use>
                </svg>
              <% end %>
              </p>

              <%= zd_enable_checkbox(f.property_set(:settings), :fallback_composer, I18n.t('txt.admin.views.settings.agents._settings.agent_workspace_fallback_composer_checkbox'), {'vertical-align': 'middle'}) %>
            </div>
          <% end %>
          <% end %>
        </div>
      </fieldset>

    <% end %>

    <!-- Focus based routing setting -->
    <% if current_account.has_voice_ask_routing_integration? && current_account.has_polaris? %>

      <fieldset class="form_element">
        <legend class="label"><%= I18n.t('txt.admin.views.settings.agents._settings.focus_mode') %></legend>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :focus_mode, I18n.t('txt.admin.views.settings.agents._settings.focus_mode_toggle')) %>
          <p class="focus-mode-toggle_paragraph"><%= I18n.t('txt.admin.views.settings.agents._settings.focus_mode_toggle_description') %></p>
          <div class="more-info-link focus-mode-toggle_link">
            <%= link_to I18n.t('txt.admin.view.settings.agents.focus_mode_learn_more_link'), :target => "_blank" do %>
              <%= I18n.t('txt.admin.views.settings.agents.focus_mode_info_link') %>
              <svg class='link-out-svg'>
                <use xlink:href="/images/garden_vector_icons.svg#zd-svg-icon-12-link-external"></use>
              </svg>
            <% end %>
          </div>
        </div>
      </fieldset>

    <% end %>

    <div class="form_element">
      <%= f.label :signature_template, I18n.t('txt.admin.views.settings.agents._settings.Signature') %>
      <div class="form_field">
        <% if current_account.has_multiple_active_brands? %>
          <p>
            <%= I18n.t('txt.admin.views.settings.account._branding.Signature_moved_to_branding') %>
          </p>
          <p>
            <%= link_to I18n.t('txt.admin.views.settings.account._branding.Brands_page'), "/agent/admin/brands", :target => "_parent" %>
          </p>
        <% else %>
          <%= f.text_area :signature_template, { :rows => 4, :cols => nil } %>
          <p><%= I18n.t('txt.admin.views.settings.agents._settings.Template_for_adding_a_signature') %></p>
          <%= learn_more I18n.t('txt.admin.views.settings.agents._settings.learn_more') do %>
            <p><%= I18n.t('txt.admin.views.settings.agents._settings.You_can_include_placeholders_in') %></p>
            <div class="textarea">
              {{agent.name}} - {{agent.phone}}<br/>
              <%= I18n.t('txt.admin.views.settings.agents._settings.agent_signature_company')%>
            </div>
            <p>
              <%= I18n.t('txt.admin.views.settings.agents._settings.You_can_allow_for_personal') %>
            </p>
            <div class="textarea">
              {{agent.signature}}<br/>
              <%= I18n.t('txt.admin.views.settings.agents._settings.agent_signature_company') %>
            </div>
            <p>
              <%= I18n.t('txt.admin.views.settings.agents._settings.adding_this_placeholder') %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if !current_account.has_permission_sets? %>
      <div class="form_element">
        <%= f.label :settings_ticket_delete_for_agents, I18n.t('txt.admin.views.settings.agents._settings.Ticket_deletion') %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :ticket_delete_for_agents, I18n.t('txt.admin.views.settings.agents._settings.Agents_can_delete_tickets'), { 'data-toggles' => '#sub_setting_ticket_delete_for_agents' }) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.agents._settings.Agents_can_delete_tickets_description') %>
          </p>

          <%= zd_sub_setting(:ticket_delete_for_agents, :show => current_account.settings.ticket_delete_for_agents?) do %>
            <div class="form_field">
              <%= zd_enable_checkbox(f.property_set(:settings), :view_deleted_tickets_for_agents, I18n.t('txt.admin.views.settings.agents._settings.agents_can_view_deleted_tickets')) %>
              <p>
                <%= I18n.t('txt.admin.views.settings.agents._settings.agents_can_view_deleted_tickets_description',
                  learn_more: link_to(
                    I18n.t('txt.admin.learn_more'),
                    I18n.t('txt.admin.views.settings.agents._settings.agents_can_view_deleted_tickets_learn_more_link'),
                    target: "_blank")) %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="form_element">
      <%= f.label :settings_agent_forwardable_emails, I18n.t('txt.admin.views.settings.agents._settings.Email_forwarding') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :agent_forwardable_emails, I18n.t('txt.admin.views.settings.agents._settings.Enable_email_forwarding')) %>
        <p> <%= I18n.t('txt.admin.views.settings.agents._settings.If_an_agent_receives_an_v2') %></p>
      </div>
    </div>

    <% if !current_account.has_polaris? %>
      <div class="form_element">
        <%= f.label :customer_context_as_default, I18n.t('txt.admin.customer_context_default.title') %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :customer_context_as_default, I18n.t('txt.admin.customer_context_default.enabled')) %>
          <p> <%= I18n.t('txt.admin.customer_context_default.text') %></p>
        </div>
      </div>
    <% end %>

    <% if current_account.has_light_agents? && !current_account.has_permission_sets? %>
      <%= f.fields_for :light_agent_permission_set do |f| %>
        <div class="form_element">
          <%= f.label :settings_light_agent_access, I18n.t('txt.admin.views.settings.agents._settings.light_agent_access') %>
          <div class="form_field">
            <%= f.label :ticket_access, I18n.t('txt.admin.views.people.roles.role_definition.kind_of_tickets_access_text'), :class => 'block' %>
            <%= f.property_set(:permissions).select :ticket_access, ticket_access_options(current_account.light_agent_permission_set) %>

            <p class="warning" id="ticket_access_message" style="margin-top: 10px; display: none;"></p>
          </div>

          <div id="assign_tickets_to_any_group" class="form_field">
            <%= zd_enable_checkbox(f.property_set(:permissions),
              :assign_tickets_to_any_group,
              I18n.t('txt.admin.views.people.roles.role_definition.can_assign_to_any_group_when_is_requester')) %>
          </div>

          <div class="form_field">
            <%= f.label :report_access, I18n.t('txt.admin.views.people.roles.role_definition.agent_reports.title'), :class => 'block' %>
            <%= f.property_set(:permissions).select :report_access, [
              [I18n.t('txt.admin.views.people.roles.role_definition.agent_reports.none'), "none"],
              [I18n.t('txt.admin.views.people.roles.role_definition.agent_reports.readonly'), "readonly"]]
            %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.agents._settings.save_label'), :class => "button save", :id => "settings_agents_settings_save_button") %>
  </div>
<% end %>
