<%= render :partial => '/account/header' %>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.settings.agents.show.Agents_label') %></h2>

  <%= zd_tabs do %>
    <%= zd_tab 'Settings' do %>
      <%= render :partial => 'settings' %>
    <% end %>

    <% if false %>
      <%= zd_tab 'Dashboard' do %>
        <%= render :partial => 'dashboard' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
