<% content_for :sidebar do %>
  <%= div_side_box(@page_title) do %>
    <% if @kind == 'user' %>
    <p><%= I18n.t('txt.admin.views.import.sidebar.explanation_user_bulk_import_one') %></p>
    <% else %>
    <p><%= I18n.t('txt.admin.views.import.sidebar.explanation_organization_bulk_import_one') %></p>
    <% end %>
    <p><%= I18n.t('txt.admin.views.import.sidebar.explanation_bulk_import_two') %></p>
    <% if @kind == 'user' %>
    <p><%= I18n.t('txt.admin.views.import.sidebar.explanation_bulk_import_three', :here => "<a href='https://support.zendesk.com/hc/en-us/articles/203661996' target='_blank'>#{ I18n.t('txt.admin.views.import.sidebar.here_label')}</a>") %></p>
    <% else %>
    <p><%= I18n.t('txt.admin.views.import.sidebar.explanation_bulk_import_three', :here => "<a href='https://support.zendesk.com/hc/en-us/articles/115007490787' target='_blank'>#{ I18n.t('txt.admin.views.import.sidebar.here_label')}</a>") %></p>
    <% end %>
  <% end %>
<% end %>

