<% if @kind == 'user' %>
<% @page_title = I18n.t('txt.admin.views.import.index.bulk_user_import_title') %>
<% @kind_translation = I18n.t('txt.admin.views.import.index.kind_users') %>
<% else %>
<% @page_title = I18n.t('txt.admin.views.import.index.bulk_organization_import_title') %>
<% @kind_translation = I18n.t('txt.admin.views.import.index.kind_organizations') %>
<% end %>
<%= render :partial => '/import/sidebar', :locals => { :kind => @kind } %>

<%= div_content do %>

  <h2><%= @page_title %></h2>

  <%= form_for :dump, :url=> { :controller=>"import", :action=>"create", :kind => @kind }, :html => { :multipart => true } do |f| -%>

  <h3><%= check_box_tag('create_records', true, true, :disabled => true) %>  <%= I18n.t('txt.admin.views.import.index.create_new_kind', :kind_of_import => @kind_translation) %></h3>
    <% if @kind == 'user' %>
    <p><%= I18n.t('txt.admin.views.import.index.create_new_user_explanation') %></p>
    <% else %>
    <p><%= I18n.t('txt.admin.views.import.index.create_new_organization_explanation') %></p>
    <% end %>

  <h3><%= check_box_tag('update_records', true, true, { "data-toggles" => '#sub_setting_update_records' }) %>  <%= I18n.t('txt.admin.views.import.index.update_existing_kind', :kind_of_import => @kind_translation) %></h3>
  <p><%= I18n.t('txt.admin.views.import.index.update_existing_kind_explanation', :kind_of_import => @kind_translation) %></p>

  <% if @kind == 'user' && current_account.email_agent_when_sensitive_fields_changed %>
    <%= zd_sub_setting(:update_records) do %>
      <%= hidden_field_tag(:password_email_change_csv_import, false) %>
      <h4><%= check_box_tag('password_email_change_csv_import', true, true) %>  <%= I18n.t('txt.admin.views.import.index.send_password_email_title')  %></h4>
      <p><%= I18n.t('txt.admin.views.import.index.send_password_email_body') %></p>
      <%= hidden_field_tag(:allow_agent_downgrade, false) %>
      <h4><%= check_box_tag('allow_agent_downgrade', true, false) %>  <%= I18n.t('txt.admin.views.import.index.allow_agent_downgrade_title')  %></h4>
      <p><%= I18n.t('txt.admin.views.import.index.allow_agent_downgrade_body') %></p>
    <% end %>
  <% end %>

  <% if @kind == 'user' %>
    <div>
      <%= hidden_field_tag(:report_external_id, false) %>
      <h3><%= check_box_tag('report_external_id', true, false) %>  <%= I18n.t('txt.admin.views.import.index.report_external_id_new')  %></h3>
      <p><%= I18n.t('txt.admin.views.import.index.report_external_id_body_new') %></p>
    </div>
  <% end %>

  <div id="csv_file">
    <h3><%= I18n.t('txt.admin.views.import.index.select_csv_label') %></h3>
    <%= file_field_tag 'uploaded_data' %><br/>
    <a href="#" onclick="$('csv_file').toggle();$('csv_field').toggle();return false;"><%= I18n.t('txt.admin.views.import.index.paste_data') %></a> <%= I18n.t('txt.admin.views.import.index.csv_format_requirements_right') %>
  </div>

  <div id="csv_field" style="display:none">
    <h3><%= I18n.t('txt.admin.views.import.index.paste_csv_label') %></h3>
    <%= text_area_tag 'raw_data', nil, :rows => 6, :cols => 25 %><br/>
    <a href="#" onclick="$('csv_field').toggle();$('csv_file').toggle();return false;"><%= I18n.t('txt.admin.views.import.index.select_file') %></a><%= I18n.t('txt.admin.views.import.index.csv_format_requirements_right') %>
  </div>

  <% if @kind == 'user' %>
  <p><strong><%= I18n.t('txt.admin.views.import.index.warning_label') %></strong> <%= I18n.t('txt.admin.views.import.index.warning_text_about_password_welcome_message') %></p>
  <% end %>
  <div class="action">
    <%= link_to I18n.t('txt.admin.views.import.index.cancel_label'), "/#{@kind}s", :class => 'admin' %>  <%= I18n.t('txt.admin.views.people.organizations.edit.or_label') %>
    <%= submit_tag I18n.t('txt.admin.views.import.index.import_label'), :class => 'buttonsubmit', :id => 'submit-button' %>
  </div>

  <% end -%>

<% end -%>
