body.archived_tickets #organization p, 
body.archived_tickets #requester p { 
  margin: 3px 0 0 0; 
  font-size: 11px; 
  color: #666;
}

body.archived_tickets #requester #requester_name, 
body.archived_tickets #organization #organization_name { 
  width: 400px;
  padding: 5px;
}
