<%- public_comment  = @comment && @comment.is_public? && current_user.can?(:publicly, Comment) -%>
<div id="comment_type" class="say <%= public_comment ? 'public' : 'private' %>">
  <%= render :partial => 'tickets/markdown_preview' %>
  <% comment_opts = { :rows => 6 } %>
  <%= text_area :comment, :value, comment_opts.merge(value: @comment.try(:send, :value)) %>
  <%= render :partial => 'tickets/comment_mode' %><br/>
</div>


<%= javascript_tag do %>
  jQuery(function() {
    var ticketForm = new TicketForm();
    ticketForm.bindEditRequesterLink();
    ticketForm.updateBalloon();
    ticketForm.bindCheckbox();
    ticketForm.bindRadioButtons();
  })
<% end %>
