<% if ticket.ticket_type?(:problem) && ticket.count_incidents > 0 %>
  <%= div_side_box_attenuate(I18n.t('txt.admin.views.tickets._associated_incidents.linked_incidents_title'), 'associated_incidents', 'alert') do %>
    <p>
      <%= I18n.t('txt.admin.views.tickets._associated_incidents.This_Problem_ticket_has') %><br/>
      <strong><%= link_to I18n.t('txt.admin.views.tickets._associated_incidents.linked_incidents', :count => ticket.count_incidents), "/tickets/#{ticket.nice_id}/incidents", :target => '_new' %></strong>
    </p>
    <p>
      <%= I18n.t('txt.admin.views.tickets._associated_incidents.Solving_this_ticket_will_add') %> </p>
  <% end %>
  <%= render :partial => "associated_incidents_warning", :locals => { :ticket => ticket } if !ticket.solved? && ticket.incidents.working.any? %>
<% end %>

