<%
  max = 10
  associated = ticket.incidents.working
  showing = associated.first(max)
%>
<div id="associated_incidents_warning_wrapper" style="display:none">
  <div id="associated_incidents_warning" class="lv_action">
    <h1>Linked incidents</h1>
    <h4>The following unsolved incidents are linked to this problem:</h4>
    <ul class="lv_indented_options">
      <%= showing.map { |incident| content_tag(:li, link_to("##{incident.nice_id} #{content_tag(:b, format_date(incident.created_at))} #{h(incident.title)}".html_safe, ticket_path(incident), :target => "_new"), :class => "link") }.join.html_safe %>
      <%= content_tag(:li, "and #{associated.size - max} more...", :class => "link") if associated.size > max %>
    </ul>
    <p>Solving this problem will add your comment (if any) to the listed incidents above and set them to solved.</p>
    <p class="action">
      <%= submit_tag "Confirm", :id => "confirm_incidents_warning", :class => 'buttonsubmit' %>
      <%= submit_tag "Cancel", :id => "cancel_incidents_warning", :class => 'buttonsubmit' %>
    </p>
  </div>
</div>
