<ul class="options closed_ticket">
  <% if @ticket.subject.present? %>
    <li><h2><%= @ticket.title(70) %></h2></li>
  <% end %>

  <%- if @ticket.assignee -%>
    <li>
      <%= I18n.t('txt.views.tickets._closed_ticket_attributes.assigned_to_name', :name => "<strong>#{@ticket.assignee.name}</strong>") %>
      <%- if @ticket.group -%>
        <%= @ticket.group.name %>
      <%- end -%>
    </li>
  <%- end -%>

  <li>
    <%= translate_closed_ticket (@ticket) %>
  </li>
</ul>

<%- current_account.ticket_fields.active.custom.each do |field| -%>
  <ul class="options closed_ticket">
    <%= field_show_for_agent(field, @ticket) %>
  </ul>
<%- end -%>

<%- if @ticket.current_tags.present? && current_account.settings.ticket_tagging? -%>
  <ul class="options closed_ticket">
    <li><h4><%= I18n.t('txt.views.tickets._closed_ticket_attributes.Tags') %></h4></li>
    <li><%= render_static_tags_for(@ticket) %></li>
  </ul>
<%- end -%>

<%- if @ticket.followups_with_archived.present? -%>
  <ul class="options closed_ticket">
    <li><h4><%= I18n.t('txt.views.tickets._closed_ticket_attributes.Follow_ups') %></h4></li>
    <%- @ticket.followups_with_archived.each do |followup| -%>
      <li><%= I18n.t("txt.views.tickets._closed_ticket_attributes.#{followup.status}_#{followup.ticket_type.downcase}", :ticket_id => followup.nice_id, :ticket_title => "<strong>#{link_to h(followup.title(50)), ticket_path(followup) }</strong>")%></li>
    <%- end -%>
  </ul>
<%- end -%>
