<div class="comment_mode">
  <% if !current_user.can?(:publicly, Comment) || (@ticket && !@ticket.allows_comment_visibility_toggle?) %>
    <%= private_comment_label(@ticket) %>
  <% else %>
    <%= check_box :comment, :is_public %>
    <%= label :comment, :is_public, public_comment_label(@ticket) %>

    <% if should_show_facebook_back_options? %>
        <div id="facebook-controls">
          &nbsp;<span class="delimiter">|</span>&nbsp;
          <%= check_box :comment, :channel_back, :class => "fb-channel-option", :checked => !facebook_source_unauthorized?, :disabled => facebook_source_unauthorized? %>
          <%= label :comment, :channel_back, @ticket.via?(:facebook_post) ? I18n.t('txt.ticket.actions.facebook.public_comment_on_fb') : I18n.t('txt.ticket.actions.facebook.private_message_to_facebook') %>
        </div>
    <% end %>

    <% if should_show_channel_back_options? %>
      <div id="twitter_controls">
        <% choices = [] %>
        <% options = {} %>

        <% if @ticket.via?(:twitter) || @ticket.via?(:twitter_favorite) %>
          <% choices << [I18n.t('txt.ticket.actions.twitter.tweet_to_requester'), '1'] %>
        <% else %>
          <% choices << [I18n.t('txt.ticket.actions.twitter.send_as_a_direct_message'), '1'] %>
        <% end %>
        <% choices << [I18n.t('txt.ticket.actions.twitter.do_not_tweet'), 'no_action'] %>
        <span id="comment_channel_back_select"><%= select :comment, :channel_back, choices, options %></span>

        <% if current_account.is_shortened_url_optional? %>
          <span id="comment_channel_back_optional_add_url">
            <%= check_box :comment, :add_short_url, :checked => (current_account.url_shortener && current_account.url_shortener.add_url_by_default) %>
            <label for='comment[add_short_url]'><%= I18n.t('txt.ticket.actions.twitter.append_ticket_link') %></label>
          </span>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <p id="placeholders_in_comment_notice" class="highlight" style="display: none;">
    <b><%= I18n.t('txt.admin.views.people.organizations.edit.note_label') %></b> <%= I18n.t('txt.admin.views.tickets.comment_mode.your_comment_contains_placeholders') %>
  </p>
</div>