<% unless current_user.is_end_user? %>
  <%- if !current_user.can?(:publicly, Comment) -%>
    <%= private_comment_label(@ticket) -%>
  <% else -%>
    <%= check_box :comment, :is_public %>
    <%= public_comment_label(@ticket) %>
    <% if @ticket && @ticket.twitter_ticket_source && @ticket.requester.has_twitter_identity?  %>
      <br/><%= check_box :comment, :channel_back %>
      <%= @ticket.via?(:twitter_dm) ? 'DM via Twitter to requester' : 'Tweet to requester' %>
    <% end %>
  <% end -%>
<% end %>
<br/>
