<% if model.details.present? %>
  <h5><%= translate_model_details(model.class.table_name.classify) %></h5>
  <%= formatted_sanitized_linked_text(model.details) %>
<% end %>

<% field = "#{model.class.table_name}-#{model.id}-#{Kernel.rand(10 ** 9)}" %>

<h5 class='notes'>
<% if model.class.to_s == "User" %>
<%= I18n.t('txt.admin.views.tickets.editable_notes.user_notes_label') %>
<% elsif model.class.to_s == "Organization" %>
<%= I18n.t('txt.admin.views.tickets.editable_notes.organization_notes_label') %>
<% else %>
<%= I18n.t('txt.admin.views.tickets.editable_notes.model_notes_label', :model_name => model.class.to_s) %>
<% end %>
  <% if current_user.can?(:edit_notes, model) %>
    &ndash; <span style="font-weight:normal" id="<%= field %>-link-show" class="link"><%= I18n.t('txt.admin.views.tickets.editable_notes.edit_label') %></span>
  <% end %>
</h5>

<% if current_user.can?(:edit_notes, model) %>
  <div id="<%= field %>-edit" style="display: none">
    <%= form_for(model, :url => '', :html => { :id => "#{field}-form" }) do |f| %>
      <%= hidden_field_tag :field, field %>
      <%= f.text_area :notes, :style => "height: 50px; width: 95%;" %>
      <%= f.submit I18n.t('txt.admin.views.tickets.editable_notes.update_label'), :id => "#{field}-submit", :onclick => "return false;" %>
    <% end %>
  </div>
  <% if request.xhr? %>
    <script type="text/javascript">
      $j(function() {
        $z("tickets/_editable_notes").initialize("<%= field %>", "<%= polymorphic_url(model, :action => 'update_notes', :format => 'js') %>");
      });
    </script>
  <% else %>
    <%= js_init(field, polymorphic_url(model, :action => 'update_notes', :format => 'js')) -%>
  <% end %>
<% end %>

<div id="<%= field %>-show"><%= formatted_sanitized_linked_text(model.notes) %></div>
