<% if current_user.can?(:edit_properties, @ticket) %>
  <%= render :partial => '/shared/macro_list' unless @ticket.closed? %>
<% end %>

<% content_for :script do %>
  <%= assignable_agents_and_groups %>
<% end %>

<%= form_for(@ticket, :html => {:id => 'ticket-chat'}) do |f| %>
  <%# TODO Change this to use the exact same code as _ticket_properties.rhtml! %>
  <% if @ticket.new_record? %>
    <h3>Requester email</h3>
    <%= f.text_field :requester_email, :style => 'width:200px' %>
  <% end %>

  <% if current_user.can?(:edit_properties, @ticket) %>

    <!-- System properties -->
    <% current_account.ticket_fields.active.properties.order(:id).each do |field| %>
      <%= field_edit_element_for_agent(field, @ticket, f) unless field[:type] == 'FieldGroup' || field[:type] == 'FieldAssignee' %>
    <% end %>

    <!-- Add Group and Assignee manually -->
    <% if current_account.agents.size > 1 %>
      <% if current_account.groups.size > 1 %>
        <h3>Group</h3>
          <%= f.select :group_id, current_account.groups.collect { |g| [ g.name, g.id ] }, { :include_blank => @ticket.group.nil?, :selectd => @ticket.group_id }, { :onchange => 'change_group(this.options[selectedIndex].value)', :style => 'width:150px' } %>
        <h3>Assignee</h3>
          <%= f.select :assignee_id, @ticket.group.nil? ? '' : @ticket.group.users.collect { |a| [a.name, a.id] }, { :include_blank => true, :selected => @ticket.assignee_id }, :style => 'width:150px' %>
      <% else %>
        <h3>Assignee</h3>
          <%= f.select :assignee_id, current_account.agents.collect { |a| [ a.name, a.id ] }, { :include_blank => true }, :style => 'width:150px' %>
      <% end %>
    <% end %>

    <!-- Custom fields -->
    <% if @ticket %>
      <%= custom_fields_render(f, '<h3 id="select_more"><a href="#" onclick="$(\'collapsible_fields\').show(); $(\'select_more\').hide();return false;">More »</a></h3>', false) %>
    <% end %>
  <% end %>

  <% if @ticket.new_record? %>
    <h3>Description</h3>
    <%= f.text_area :description %>
  <% else %>
    <h3>Add comment</h3>
    <%= text_area :comment, :value %><br/>
    <%= render :partial => '/tickets/comment_mode' %>
  <% end %>
  <br/><br/>
  <%= submit_tag "&nbsp;#{@ticket.new_record? ? 'Create' : 'Update'}&nbsp;", :class => 'webkitbutton' %> &nbsp;&nbsp;
<% end %>

<%= javascript_tag do %>
  var groupMap = new Array();
  <% current_account.groups.each do |g| -%>
    <% if g.users.size > 0 -%>
      groupMap[<%= g.id -%>] = "<%= escape_javascript(options_from_collection_for_select(g.users, 'id', 'name')) %>";
    <% end -%>
  <% end -%>

  function change_group(group_id) {
    if (group_id != '' && group_id!='-1' && groupMap[group_id] != null) {
      $("ticket_assignee_id").disabled  = '';
      $('ticket_assignee_id').innerHTML = groupMap[group_id];
    } else {
      $("ticket_assignee_id").options.selectedIndex = 0;
      $("ticket_assignee_id").disabled = 'disabled';
    }
  }

  <% if @ticket.new_record? %>
    $('ticket_assignee_id').options.selectedIndex = 0;
    <% if current_account.groups.size > 1 %>
      $('ticket_assignee_id').disabled = 'disabled';
      $('ticket_group_id').options.selectedIndex = 0;
    <% end %>
  <% end %>
<% end %>
