<h2>
  <span id="ticket_header">
    <%- if @ticket.id -%>
      <%= translate_ticket_type(@ticket.ticket_type, @ticket.nice_id) %>
    <%- else -%>
      <%= I18n.t('txt.admin.views.tickets._header.New_ticket') %>
    <%- end -%>
  </span>

  <%- if @ticket -%>
    <%- if @suspended.present? -%>
      <%= I18n.t('txt.admin.views.tickets._header.recovering_suspended_ticket') %>
      <%- else -%>
      <%= render :partial => 'sub_header' %>
    <%- end -%>
  <%- end -%>
</h2>
