<div class="comment" id="latest_comment">
  <%= div_comment_box do %>
    <div class="<%= comment_class(comment) %>">
      <% full_description = comment.to_s -%>
      <% if full_description.length < 850 -%>
        <%= render_comment_value(comment) %>
      <% else -%>
        <div id="comment_partial">
          <%= render_comment_value(comment, :length => 650) %>
          <p class="link"><%= I18n.t('txt.views.tickets._latest_comment.more_tag') %></p>
        </div>
        <div id="comment_full" style="display:none" id="comment_full">
          <%= render_comment_value(comment) %>
          <p class="link"><%= I18n.t('txt.views.tickets._latest_comment.less_tag') %></p>
        </div>
      <% end -%>
      <% if (comment.via?(:facebook_post) || comment.via?(:facebook_message)) && comment.is_a?(FacebookComment) %>
        <p><%= render(:partial => "shared/facebook_attachment", :locals => {:event => comment, :context => 'latest_comment'}) %></p>
      <% end %>
      <% if comment.is_a?(VoiceComment) && comment.via_voice? %>
        <%= render :partial => "shared/recording", :locals => {:comment => comment, :context => "latest_comment"} %>
        <%= render :partial => "shared/call_stats", :locals => {:comment => comment} %>
      <% end %>
      <%= render(:partial => '/shared/attachment_list', :object => comment.attachments) %>

      <div id="comment_for_screencasts_list" style="display:none">
        <%= render_comment_value(comment) %>
      </div>
      <ul class="recorded_screencasts_list">
        <%- comment.screencasts.each do |screencast| -%>
          <li id="<%= screencast.id %>">
            <a href="javascript:Zendesk.Screenr.TicketRecorder.showScreencast('<%= screencast.url %>')" class="screencast_preview">
              <%= screencast.display_name %>
            </a>
          </li>
        <%- end -%>
      </ul>

      <span class="comment-by">
        <%= I18n.t('txt.views.tickets._latest_comment.latest_comment_by_with_time', :author_name => "<strong>#{h(author_name_for(comment))}</strong>", :time => time_ago_in_words(comment.created_at))%>
      </span>
    </div>
  <% end %>
</div>
