<% if ticket.ticket_type?(:incident) && ticket.problem %>
  <%= div_side_box_attenuate(I18n.t('txt.views.tickets._linked_problem.linked_incident_title'), 'linked_problem', 'alert') do %>
    <p>
      <%= I18n.t('txt.views.tickets._linked_problem.this_incident_is_linked_to') %><br/>
      <strong><%= link_to h(I18n.t('txt.views.tickets._linked_problem.problem_number_and_title', :problem_number => ticket.problem.nice_id, :problem_title => ticket.problem.title)), ticket_path(ticket.problem), :target => '_new' %></strong>
    </p>

    <p>
      <%= I18n.t('txt.views.tickets._linked_problem.view_all_incidents_linked_to_problem', :incidents_linked_to_the_problem_link => (link_to I18n.t('txt.views.tickets._linked_problem.view_all_incidents_linked_to_problem_link'), "/tickets/#{ticket.problem.nice_id}/incidents", :target => '_new')) %>
    </p>
  <% end %>
<% end %>
