<% if current_account.settings.markdown_ticket_comments? %>
  <ul id="markdown_preview_links">
    <li>
      <a id="comment_edit_mode_link"><%= I18n.t('txt.admin.helpers.tickets_helper.write_mode') %></a>
    </li>
    <li>
      <a id="comment_preview_mode_link"><%= I18n.t('txt.admin.helpers.tickets_helper.preview_mode') %></a>
    </li>
  </ul>
  <div id="markdown_preview"></div>

  <%= javascript_tag do %>
    jQuery(function() {
      var markdownPreview = new Zendesk.MarkdownPreview();
    })
  <% end %>
<% end %>
