<div id="next_ticket">
  <p>
    <span class="delim">|</span>
    <% if next_ticket_nice_id = next_ticket_in_collection(@ticket.nice_id) %>
      <%= link_to I18n.t('txt.tickets._next_ticket.next_ticket'), ticket_path_for_collection(next_ticket_nice_id) %>
    <% else %>
      <%= I18n.t('txt.tickets._next_ticket.next_ticket') %>
    <% end %>
  </p>
</div>
