<style type="text/css">
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
h2, h3 {
  margin-bottom: 0px;
  margin-top: 5px;
}
p, h3 {
  margin-top: 5px;
  font-size: inherit;
}
.date {
  color: gray;
  font-size: 0.9em;
  padding-left: 5px;
}
body[dir='rtl'] .date {
  display: inline-block;
}
#custom_fields, .comment {
  border-top: 1px dashed #aaa;
}
.author {
  font-weight: bold;
}
#footer {
  color: gray;
  text-align: center;
  margin-top: 5px;
}
.mast {
  margin-bottom: 8px;
}
#comments {
  margin-top: 15px;
}

#info, #fields, #custom_fields, #ccs, .comment {
  padding: 10px 10px 0;
}
#custom_fields {
  margin-top: 10px;
}
.comment {
  margin: 10px 0;
}
.comment.first {
  margin-top: 0;
  border: none;
}
.comment h1, .comment h2, .comment h3,
.comment h4, .comment h5, .comment h6 {
  color: #333;
  font-weight: bold;
  margin: 5px 0;
  text-transform: none;
}
.comment h1 {
  font-size: 22px;
  margin: 5px 0 15px;
  line-height: 28px;
}
.comment h2 {
  font-size: 20px;
  margin: 5px 0 10px;
  line-height: 26px;
}
.comment h3 {
  font-size: 18px;
  line-height: 24px;
}
.comment h4 {
  font-size: 16px;
  line-height: 20px;
}
.comment h5 {
  font-size: 14px;
  line-height: 19px;
}
.comment h6 {
  font-size: 14px;
  line-height: 19px;
  color: #777;
}
.comment blockquote {
  padding-left: 10px;
  border-left: 2px solid #CCC;
  margin: -6px 0 0 0;
}
body[dir='rtl'] .comment blockquote {
  padding-left: 0;
  padding-right: 10px;
  border-left: none;
  border-right: 2px solid #CCC;
}
.comment blockquote p {
  color: #888;
}
.comment img {
  max-width: 100%;
}
.comment code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
  font-size: 13px;
}
.comment pre {
  font-size: 12px;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  line-height: 19px;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;
  max-width: 100%;
  white-space: pre-line;
}
.comment pre code {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
  font-size: 12px;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: block;
  white-space: pre-wrap;
}
#footer, #info, #comments {
  border-top: 2px solid #aaa;
}
#title {
  margin: 10px;
  text-align: left;
}
body[dir='rtl'] #title {
  text-align: right;
}
#logo {
  float: left;
  margin-right: 10px;
}
body[dir='rtl'] #logo {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
#logo svg {
  height: 26px;
  width: 26px;
  fill: #03363D;
  transition: color .4s, fill .4s;
  color:#78a300 !important;
  font-size: 26px;
}
.name_value {
  display: inline-block;
  margin-right: 15px;
}
body[dir='rtl'] .name_value {
  margin-left: 15px;
  margin-right: 0;
}
.name_value p,
#ccs p {
  margin-bottom: 0;
}
.internal_note {
  float: right;
  color: #fff;
  font-size: 14px;
  padding: 3px 5px;
  background-color: #aaa;
  border-radius: 5px;
}
body[dir='rtl'] .internal_note {
  float: left;
}
</style>

<body onload="window.print()" <%= render_dir_rtl_attribute %>>
  <div id="header">
    <div id="logo">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/zendesk-support-logo.svg#support"></use></svg>
    </div>
    <h2 id="title" dir="auto"><%= I18n.t('txt.admin.views.tickets.print.print_ticket_header', :ticket_id => @ticket.nice_id, :ticket_subject => CGI::escapeHTML(@ticket.subject)) %></h2>
  </div>

  <div id="info">
    <div class="name_value">
      <h3><%= I18n.t('txt.admin.views.tickets.print.submitted') %></h3>
      <p><time datetime="<%= @ticket.created_at %>" pubdate><%= format_absolute_date(@ticket.created_at, time_zone: current_user.time_zone) %></time></p>
    </div>
    <div class="name_value">
      <h3><%= I18n.t('txt.admin.views.tickets.print.received_via') %></h3>
      <p><%= @ticket.translated_via_type %> </p>
    </div>
    <div class="name_value">
      <h3><%= I18n.t('txt.admin.models.rules.rule_dictionary.requester_label_cap') %></h3>
      <%= ticket_requester_name_for_display %>
    </div>
  </div>

  <%= render_followers %>

  <div id="fields">
    <% current_account.ticket_fields.active.properties.order(:id).each do |field| %>
      <%= render :partial => "print_ticket_field", :locals => {:field => field} %>
    <% end %>
  </div>

  <% if current_account.ticket_fields.active.custom.any? %>
    <div id="custom_fields">
      <% ticket_fields = current_account.ticket_fields.active.custom.select('id, account_id, type, is_required, title, is_collapsed_for_agents') %>
      <% ticket_fields.each do |custom| %>
        <%= render :partial => "print_custom_field", :locals => {:custom => custom} %>
      <% end %>
    </div>
  <% end %>

  <div id="comments">
    <% @ticket.comments.each do |comment| %>
      <% if comment.present? %>
      <div class="comment<%= ' first' if @ticket.comments.first == comment %>">
        <div class="mast">
          <span class="author"><%= comment.author %></span>
          <time class="date" datetime="<%= comment.created_at %>"><%= format_date(comment.created_at, with_time: true) %></time>
          <% unless comment.is_public? %>
            <span class="internal_note"> <%= I18n.t('txt.admin.views.tickets.print.internal_note') %> </span>
          <% end %>
        </div>
        <div class="body">
          <%= comment_value_as_html(comment) %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div id="footer">
    <p> <%= I18n.t('txt.admin.views.tickets.print.support_software') %></p>
  </div>
</body>
