<% if field.value(@ticket).present? %>
  <div class='name_value'><h3> <%= ticket_field_print_title(field.title_in_portal) %> </h3><p> <%= h(field.humanize_value(field.value(@ticket))) %></p></div>
  <%= output_due_date_or_linked_problem(field) %>
<% else %>
  <div class='name_value'><h3> <%= ticket_field_print_title(field.title_in_portal) %> </h3><p> - </p></div>
<% end %>
