<div id="requester_header">
  <%- if @ticket.requester.present? -%>
    <span class="bullet person">
      <%= @ticket.requester.name %>
    </span>

    <%- if @ticket.submitter.present? && @ticket.submitter != @ticket.requester && include_submitter -%>
      <%= I18n.t("txt.admin.views.tickets._requester_header.via_v2", :user_name => @ticket.submitter.name) %>
    <%- end -%>

    <%- if cc_enabled? @ticket -%>
      <%- if (number_of_collaborators = @ticket.collaborations.size) > 0 -%>
        (<%= pluralize(number_of_collaborators, 'CC') %>)
      <%- end -%>
    <%- end -%>

    <%- if can_manage_sharing?(@ticket) -%>
      <span id="edit_requester_link">
        &ndash;
        <%= link_to edit_share_link_text(@ticket) %>
      </span>
    <%- end -%>

    <span class="separator">|</span>

    <span class="bullet calendar">
      <%= format_date(@ticket.created_at, with_time: true) %>
    </span>

    <%- if @ticket.original_recipient_address.present? -%>
      <span class="separator">|</span>
      <span class="bullet email">
        <%= @ticket.original_recipient_address %>
      </span>
    <%- end -%>

    <%- if @ticket.via_zendesk_voice? -%>
      <%- voice_ticket_via_class = @ticket.via?(:voicemail) ? 'voicemail' : 'phone' -%>
      <span class="separator">|</span>
      <span class="bullet <%= voice_ticket_via_class %>">
        <%= render_phone_number(@ticket.answering_number, :inline => false) %>
      </span>
    <%- end -%>

  <%- end -%>
</div>
