<%- if @ticket.shared_tickets.blank? && eligible_agreements_for_dropdown(@ticket).any? -%>
  <div id="ticket_sharing_select">
    <label><%= I18n.t('txt.views.tickets.share_and_unshare_tickets.share') %></label>
    <%= f.select :agreement_id,
        eligible_agreements_for_dropdown(@ticket).map { |a| [a.name, a.id] },
        { :prompt => '' },
        { :'data-jira-agreement-ids' => @jira_sharing_agreement_ids.to_json } %>
  </div>
<%- end -%>
