<label><%= I18n.t('txt.admin.views.tickets._static_requester.Requester') %></label>
<div>
  <% if ticket.twitter_ticket_source && ticket.requester.has_twitter_identity? %>
    <strong><%= (h ticket.requester.name) + " (@#{ticket.requester.twitter_profile.screen_name})" %></strong>
  <% else %>
    <strong><%= h ticket.requester_name_for_display %></strong>
    <% if ticket.entry.present? %>
      <p><%= I18n.t('txt.admin.views.tickets._static_requester.You_are_the_requester_of') %><br/>
        <%= I18n.t('txt.admin.views.tickets._static_requester.Tickets_linked_to_topics_allow') %></p>
    <% elsif !@ticket.shared_tickets.any? and !ticket.via_facebook? %>
      - <a id="change_requester_link" onclick="$j('#dynamic_requester, #static_requester').toggle(); $j('#ticket_requester_name').val(''); $j('#ticket_requester_name').focus(); return false;" href="#"><%= I18n.t('txt.admin.views.tickets._static_requester.change') %></a>
    <% end %>
  <% end %>
</div>
