<div class="sub">

  <%- if @ticket.shared_tickets.length == 1 -%>
    <span class="attenuate ticket_sharing <%= @ticket.shared_tickets.first.safe_agreement.in? ? 'in' : 'out' %>">
      <%= @ticket.shared_tickets.first.agreement_name %>
    </span>
  <%- elsif @ticket.shared_tickets.length > 1 -%>
    <div id="sharing_with">
      <span class="attenuate ticket_sharing">
        Shared with <%= @ticket.shared_tickets.length %> others
      </span>
      <div id="shared_tickets_list" style="display: none;">
        <%- @ticket.shared_tickets.each do |shared_ticket| -%>
          <%- if shared_ticket.agreement -%>
          <div class="ticket_sharing <%= shared_ticket.agreement.in? ? 'in' : 'out' %>">
            <%= shared_ticket.agreement_name %>
          </div>
          <%- end -%>
        <%- end -%>
      </div>
    </div>
  <%- end -%>

  <%- if (source = @ticket.followup_source) && source.present? -%>
    <span class='attenuate'>
      <%= I18n.t('txt.admin.views.tickets._sub_header.follow_up_to_ticket', :ticket_link => "<strong>#{link_to I18n.t('txt.admin.views.tickets._sub_header.follow_up_to_ticket_link', :id_ticket => source.nice_id),
        source, :target => "_blank", :title => source.title}</strong>")%>
    </span>
  <%- end -%>

  <%- if @ticket.twitter_ticket_source -%>
    <span class='attenuate twitter'>
      <%- if @ticket.via?(:twitter_dm) -%>
        <strong>Direct message</strong> to
        <strong><%= raw @ticket.twitter_ticket_source.twitter_profile_link %></strong>
      <%- elsif @ticket.via_twitter? -%>
        <%= I18n.t('txt.views.tickets._sub_header.monitored_by_twitter')%>
        <strong><%= raw @ticket.twitter_ticket_source.twitter_profile_link %></strong>
      <%- end -%>
    </span>
  <%- end -%>

  <%- if @ticket.via_facebook? -%>
    <span class='attenuate facebook'>
      <%= facebook_via_text %>
    </span>
  <%- end -%>

  <%- if @ticket.ticket_type_id == TicketType.TASK && !@ticket.closed? -%>
    <span class='attenuate'>
      <%= link_to(I18n.t('txt.views.tickets._sub_header.add_to_calendar'), ticket_path(@ticket, :format => 'ics'), :id => 'add_to_calendar') %>
    </span>
  <%- end -%>

</div>
