<% if show_ticket_tags?(@ticket) %>
  <div class="selects" style="margin-top:-7px;">
    <div class="select" style="width: 96.5%; margin-top: 0px; margin-bottom: 10px;">
      <label><%= I18n.t('txt.admin.views.tickets._tags.Tags') %></label>

      <% if defined?(bulk_update) %>
        <%= f.tags_field(:attribute_name => :additional_tags, :id => 'ticket_tags', :style => 'width: 99.5%;') %>
      <% elsif !can_edit_ticket_tags?(@ticket) %>
        <%= render_static_tags_for(@ticket) %>
      <% else %>
        <%= f.hidden_field(:remove_tags) %>
        <div id='ticket_remove_tags_message'></div>
        <%- if tags_exist?(@ticket) -%>
          <%= f.tags_field(:id => 'ticket_tags', :style => 'width: 99.5%;') %>
        <% else %>
          <% if in_twitter_search? %>
            <%= f.tags_field(:attribute_name => :tags, :id => 'ticket_tags', :style => 'width: 99.5%;') %>
          <% else %>
            <%= f.tags_field(:attribute_name => :additional_tags, :id => 'ticket_tags', :style => 'width: 99.5%;') %>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
