<div class="icon"><img src="/images/types/ticket.png" title="<%= I18n.t('txt.admin.views.search._result.ticket_title_label') %>"/></div>
<div class="item-info" id="ticket-<%= ticket.nice_id %>">

  <h1 id="<%= ticket.nice_id %>_subj" class="fade_truncation_outer">
    <div class="fade_truncation_inner"></div>
    <%= link_to h(ticket.title(500)), ticket_path(ticket), :title => h(ticket.title(500)).gsub('"', "'") %>
  </h1>

  <%
    if current_user.is_agent?
      tip_attr = tip_attributes_for(ticket)
      @tips ||= []
      @tips << "commentTip('#{ticket.nice_id}_subj', #{tip_attr[0]}, #{tip_attr[1]});"
    else
      @tips = []
    end
  %>

  <p class="info">
    <%= h(ticket.requester.name) %> <%= format_date(ticket.created_at) -%>
    <span class="delim2">•</span>
    <%= I18n.t('txt.entries.list.updated') %>
    <b><%= i18n_cacheable_time_ago_in_words(ticket.updated_at, I18n.t('txt.entries.index.replied_at', :time_in_words => 'XXX')) %></b>
  </p>

  <p class="info">
    <strong><%= translate_ticket_status(ticket.status) %></strong>
    <% if current_user.is_agent? %>
      <%= translate_ticket_type(ticket.ticket_type.downcase, ticket.nice_id) %>
    <% else %>
    #<%= ticket.nice_id %>
    <% end %>
  </p>

</div>
