<%= form_for @ticket, :html => {:id => 'ticket-chat', :multipart => true, :name => 'ticketform', "data-ticket" => @ticket.nice_id} do |f| -%>
  <%= hidden_field_tag('suspended', @suspended.id) if @suspended %>
  <%= hidden_field_tag('updated_stamp', @ticket.updated_at.to_i) if @ticket.id %>
  <%= hidden_field_tag('submit_type', '', :id => 'ticket_submit_type') %>
  <%= hidden_field_tag('macro_applied') %>
  <% ticket_pagination_options.each do |field, value| %>
    <%= hidden_field_tag(field, value) %>
  <% end %>
  <%= hidden_field :comment, :uploads, :id => 'uploads_attribute' %>
  <%= f.hidden_field :entry_id %>
  <%= f.hidden_field :via_followup_source_id %>

  <%= render :partial => 'shared/ticket_properties', :locals => { :f => f } %>

  <%- if @ticket.id -%>
    <!-- EXISTING TICKET -->
    <!-- Tags -->
    <%= render :partial => 'tickets/tags', :locals => { :f => f } %>

    <%= hidden_field_tag :col, params[:col] %>
    <%= hidden_field_tag :return_to, params[:return_to] -%>

    <!-- Latest comment -->
    <%- if latest_comment = @ticket.comments.last -%>
      <%- unless current_account.settings.events_reverse_order? -%>
        <%= render :partial => '/tickets/latest_comment', :locals => { :comment => latest_comment } %>
      <%- end -%>

      <!-- Add comment -->
      <%= render :partial => '/tickets/add_comment' %>
    <%- end -%>

  <%- else -%>
    <!-- NEW TICKET -->
    <!-- Description -->
    <%- public_comment = current_user.can?(:publicly, Comment) -%>
    <div class="description-for-new-ticket say <%= public_comment ? 'public' : 'private' %>">
      <label class="description-for-new-ticket-label" for="message"><%= I18n.t('txt.admin.views.tickets._ticket_form.Description_required') %></label>
      <%= render :partial => 'tickets/markdown_preview' %>
      <%= text_area :comment, :value, { :rows => 6, :class => 'autoResize', :onblur => current_account.settings.ticket_auto_tagging? ? 'autotagTicket(this)' : '' } %>
      <%= hidden_field :comment, :author_id, :value => current_user.id %>
      <% if params[:suspended] -%>
        <%= hidden_field :ticket, :via_id, :value => ViaType.RECOVERED_FROM_SUSPENDED_TICKETS %>
      <% end -%>
      <%= render :partial => 'comment_mode' if @ticket.entry.present? %>
    </div>

    <!-- Tags -->
    <%= render :partial => 'tickets/tags', :locals => { :f => f } %>

    <div class="clear"></div>
  <% end -%>
<!-- END TICKET FORM -->
<% end -%>

<!-- ATTACHMENTS FORM -->
<%= render :partial => 'uploads/form', :locals => { :object => @ticket } %>
