
<%- if @ticket.shared_tickets.any? -%>

  <div id="ticket_sharing_select">
    <%= f.label :unshare_ticket, I18n.t('txt.views.tickets.share_and_unshare_tickets.sharing') %>
    <%= f.select :unshare_ticket, [[I18n.t('txt.views.tickets.share_and_unshare_tickets.unshare_ticket'), '1']], :include_blank => I18n.t('txt.views.tickets.share_and_unshare_tickets.select_action') %>
  </div>

<%- end -%>
