<% if user.translation_locale and user.account.available_languages.size > 1 %>
  <li class="locale"><%= user.translation_locale.localized_name(display_in: I18n.translation_locale) + " (" + user.locale + ")" %></li>
<% end %>
