<%- if current_account.crm_integration_enabled? && !current_account.salesforce_configuration_enabled? -%>
  <h4>
    <%= current_account.crm_integration.integration_name %>
    <span id="crm_loading"><img src="/images/loader.gif"/></span>
  </h4>
  <%= javascript_tag do %>
    $j(document).ready(function() {
     var crmApp = new Zendesk.CRM.Application(new Zendesk.CRM.SidebarRenderer(<%= user_path(user).to_json.html_safe %>));
     <% if user.crm_data.present? %>
       crmApp.renderData(<%= user.crm_data.records.to_json.gsub('/','\/').html_safe %>, <%= user.crm_data.status.to_json.html_safe %>);
     <% end %>
     <% if user.needs_crm_sync? %>
       crmApp.fetchAndRenderData('<%= sync_user_info_crm_path(:id => user.id, :format => 'json') %>');
     <% end %>
  });

  <% end %>
  <script type="text/html" id="crm_template">
    <%= render :partial => "crm/sidebar_widget" %>
  </script>

  <script type="text/html" id="crm_error_template">
    An error occurred when fetching data.
  </script>

  <div id="crm_user_data"></div>
<% end %>
