<% if user.twitter_profile %>
  <li class="twitter">
    <a href="http://twitter.com/<%= user.twitter_profile.screen_name %>" target="_blank">@<%= user.twitter_profile.screen_name %></a>
    <span class="visibility-controls">&ndash;
      <a class="toggle-twitter-data"><%= I18n.t('txt.views.tickets._user_twitter_details.details_label') %></a>
      <a class="toggle-twitter-data" style="display:none;"><%= I18n.t('txt.views.tickets._user_twitter_details.hide_label') %></a>
    </span>
    <ul class="twitter-properties" style="display:none;">
    <% twitter_properties(user.twitter_profile).reject{|p| p[0] == 'Name'}.each do |property| %>
      <%= content_tag(:li) do %>
        <%= content_tag :strong, property[0] + ":" %>
        <%= property[1] %>
      <% end %>
    <% end %>
   </ul>
  </li>
<% end %>
