<% if organization.present? %>
  <h4><%= h(organization.name) %></h4>
  <%= content_tag :ul, :class => "options" do %>
    <%= content_tag :li, :class => "user" do %>
      <%= link_to I18n.t('txt.admin.views.tickets._user_organization_details.organization_profile'), organization_path(organization) %>
    <% end %>
  <% end %>
  <%= render_static_tags_for(organization) %>
  <%= render :partial => '/tickets/editable_notes', :locals => { :model => organization } %>
<% end %>
