<%
user = ticket.requester

if user.nil? && params[:requester_id]
  user = current_account.users.find_by_id(params[:requester_id].to_i)
end

if user && user.id && !user.name.blank? && user.is_active?
  organization = user.organization
  name = user.name
  name = name.truncate(15) if name.index(' ').nil?
  name = h(name) %>

  <%= div_side_box("<img src='#{photo_path(user, :version => :thumb)}' class='user-thumb user-thumb-profile' alt='#{I18n.t('txt.views.alt_of_user_photo')}'/><span id='user_name'>#{name}</span>".html_safe) do %>
    <ul class="options">
      <li class="user">
        <strong><%= link_to I18n.t('txt.tickets.user_details.user_profile'), user_path(user) %></strong>
        <% if can_start_merge?(user) %>
          &ndash; <%= link_to(I18n.t('txt.tickets.user_details.merge_link'), new_user_merge_path(user, :ticket_id => ticket.nice_id), :id => 'merge_link') %>
        <% end %>
      </li>

      <% if user.email %>
        <li class="email"><a href="mailto:<%= user.email %>"><%= user.email.truncate(32) %></a></li>
      <% end %>

      <%= render :partial => 'tickets/user_locale_details', :locals => { :user => user } %>
      <%= render :partial => 'tickets/user_twitter_details', :locals => { :user => user } %>
      <%= render :partial => 'tickets/user_facebook_details', :locals => { :user => user } %>

      <% if user.is_agent? && !user.external_id.blank? %>
          <p class="user-external-id">
            <%= I18n.t('txt.admin.view.people.users.show.external_id_side_bar', :external_id => user.external_id) %>
          </p>
      <% end %>

      <% if !user.phone.blank? %>
        <li class="phone">
          <%= user.rendered_phone %>
        </li>
      <% end %>

    </ul>

    <%= render :partial => 'tickets/user_tagging_details', :locals => { :user => user } %>
    <%= render :partial => 'tickets/user_stats_details', :locals => { :user => user } %>

    <%= render :partial => 'tickets/editable_notes', :locals => { :model => user } %>
    <%= render :partial => 'tickets/user_organization_details', :locals => { :organization => organization } %>
    <%= render :partial => 'tickets/user_crm_details', :locals => { :user => user }  %>

  <% end %>
<% end %>
