<% @page_title = I18n.t('txt.admin.views.tickets.new.new_ticket') -%>
<%= js_init -%>

<% content_for :sidebar do -%>
  <div id="user_details">
    <%= render :partial => 'user_details', :locals => { :ticket => @ticket } %>
  </div>
  <% if @ticket.present? && @ticket.entry.present? %>
    <!-- New ticket from topic -->
    <%= div_side_box(I18n.t('txt.admin.views.tickets.new.you_Are_creating_a_ticket')) do -%>
      <p>
        <%= I18n.t('txt.admin.views.tickets.new.Use_tickets_linked_to_topics') %>
      </p>
      <p>
        <%= I18n.t('txt.admin.views.tickets.new.Only_when_selecting_Also_post') %>
      </p>
    <% end -%>
  <% elsif @ticket.followup_source.present? %>
    <%= div_side_box(I18n.t('txt.admin.views.tickets.new.you_are_creating_a_follow_up_ticket')) do -%>
      <p>
        <%= I18n.t('txt.admin.views.tickets.new.By_doing_so_you_ll') %>      </p>
      <p>
        <%= I18n.t('txt.admin.views.tickets.new.A_follow_up_is_automatically') %>      </p>
    <% end -%>
  <% else %>
    <%= div_side_box(I18n.t('txt.admin.views.tickets.new.you_are_submitting_a_new_ticket')) do -%>
      <p><%= I18n.t('txt.admin.views.tickets.new.Setting_the_correct_ticket_status') %></p>
      <ul class="options">
        <li>
          <b><%= I18n.t('txt.admin.views.tickets.new.New') %></b><br/>
          <%= I18n.t('txt.admin.views.tickets.new.Ticket_is_awaiting_assignment_to') %></li>
        <li>
          <b><%= I18n.t('txt.admin.views.tickets.new.Open') %></b><br/>
          <%= I18n.t('txt.admin.views.tickets.new.Help_desk_staff_is_working') %></li>
        <li>
          <b><%= I18n.t('txt.admin.views.tickets.new.Pending') %></b><br/>
          <%= I18n.t('txt.admin.views.tickets.new.Help_desk_staff_is_waiting') %></li>
        <li>
          <b><%= I18n.t('txt.admin.views.tickets.new.Solved') %></b><br/>
          <%= I18n.t('txt.admin.views.tickets.new.The_ticket_has_been_deemed') %></li>
      </ul>
      <p><%= I18n.t('txt.admin.views.tickets.new.New_tickets_are_automatically_changed') %></p>
      <p><%= I18n.t('txt.admin.views.tickets.new.When_a_non_agent_requester') %></p>

      <p><%= I18n.t('txt.admin.views.tickets.new.Read_more_about_inborn_ticket')%></p>

      <h4><%= I18n.t('txt.admin.views.tickets.new.Scoring') %></h4>
      <p>
        <%= I18n.t('txt.admin.views.tickets.new.Ticket_scores_determine_the_overall') %>
      </p>
      <p><%= I18n.t('txt.admin.views.tickets.new.The_better_you_qualify_the') %></p>
    <% end -%>
  <% end %>
<% end -%>

<%= div_content do -%>
  <%= render :partial => 'form' %>
<% end -%>

<% if @ticket.entry.present? %>
  <%= div_content('green') do -%>
    <h2><%= I18n.t('txt.admin.views.tickets.new.Linked_topic') %></h2>
    <%= render :partial => "shared/ticket_topics/related_entry", :locals => { :entry => @ticket.entry } %>
  <% end -%>
<% end %>

<% if @ticket.followup_source %>
  <%= div_content('green') do %>
    <div id="events"></div>
  <% end %>
  <script type="text/javascript">
  new Ajax.Updater('events', "<%= events_path(@ticket.followup_source, 'comments') %>",
    {asynchronous:true, evalScripts:true, method:'get', onComplete: function() {$('event_pane_title').update('Ticket #<%= @ticket.followup_source.nice_id %>')}});
  </script>
<% end %>
