<% @page_title = page_title %>
<%= js_init %>

<%= render "ticket_id_as_js" %>

<% if show_agent_collision? %>
  <div id="show_agent_collision_for_ticket" style="display:none"></div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "associated_incidents", :locals => { :ticket => @ticket } %>
  <%= render :partial => "linked_problem", :locals => { :ticket => @ticket } %>
  <% if @ticket.shared_with_jira %>
    <div id="jira_ticket">
      <%= render :partial => 'jira_ticket' %>
    </div>
  <% end %>
  <div id="user_details">
    <%= render :partial => 'user_details', :locals => { :ticket => @ticket } %>
    <% if current_account.salesforce_configuration_enabled? %>
      <%= render :partial => 'crm/ticket_crm_details', :locals => { :ticket => @ticket } %>
    <% end %>
  </div>
<% end %>

<% if can?(:view_satisfaction, @ticket) && (@ticket.satisfaction_score > SatisfactionType.OFFERED) %>
  <%= render :partial => '/satisfaction_ratings/rating_box', :locals => { :ticket => @ticket } %>
<% end %>

<%= div_content do %>
  <%= render :partial => 'form' %>
<% end %>

<% if params[:show_metrics] && @ticket && @ticket.ticket_metric_set %>
  <!-- Ticket metric set debug information -->
  <% @ticket.ticket_metric_set.attributes.sort.each do |attrib| %>
    <b><%= attrib[0] %></b>: <%= attrib[1] %><br/>
  <% end %>
<% end %>

<%= div_content('green') do %>
  <div id="events"></div>
<% end %>
