<!DOCTYPE html>
<html>
<head lang="<%= current_language %>">
  <meta charset=UTF-8 />
  <title><%= I18n.t('txt.lotus_bootstrap.load_failure.header') %></title>
  <link href="/external/error_pages.css" media="all" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width">
</head>

<body>
  <article class="l-max-readable-width l-centered">

    <h1 class="err__page-heading"><%= I18n.t('txt.lotus_bootstrap.load_failure.header') %></h1>

    <div class="err__container">
      <%- if Rails.env.development? && params[:error_identifier] == "translations_failure" -%>
        <p lang="en">It looks like Rosetta is not running locally, or is having problems.</p>
      <%- else -%>
        <p><%= I18n.t('txt.lotus_bootstrap.load_failure.message') %></p>
      <%- end -%>
      <p class="l-top-padded">
        <a
          href="/agent"
          onclick="document.location.reload(); return false;"
          class="c-btn c-btn--primary">
          <%= I18n.t('txt.lotus_bootstrap.load_failure.refresh') %>
        </a>
      </p>
    </div>

    <div class="l-v-padded">
      <p class="l-top-padded">
        <%= I18n.t('txt.lotus_bootstrap.load_failure.zendesk_description') %>
        <%= I18n.t('txt.lotus_bootstrap.load_failure.operational_status_description') %>
        <br />
        <a href="https://status.zendesk.com/">https://status.zendesk.com/</a>
      </p>
    </div>

  </article>
</body>
</html>
