<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
  <meta charset=UTF-8 />
  <title><%= I18n.t('txt.lotus_bootstrap.incompatible_browser.title') %></title>
  <%- # It may be a good idea to include styles in this page itself to avoid future breakage in old browsers -%>
  <link href="/external/error_pages.css" media="all" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width">
</head>

<body>
  <article class="l-max-readable-width l-centered">

    <h1 class="err__page-heading"><%= I18n.t('txt.lotus_bootstrap.incompatible_browser.header') %></h1>

    <div class="err__container">
      <p><%= I18n.t('txt.lotus_bootstrap.incompatible_browser.message') %></p>
      <p class="l-top-padded">
        <a href="<%= I18n.t('txt.lotus_bootstrap.incompatible_browser.supported_browsers_link_url') %>">
          <%= I18n.t('txt.lotus_bootstrap.incompatible_browser.supported_browsers_link_text') %>
        </a>
      </p>
    </div>

  </article>
</body>
</html>
