<% self.formats = [:html] %>
<script type="text/javascript" charset="utf-8">
  window.talkFeatures = <%= { call_monitoring_enabled: voice_feature_enabled?(:call_monitoring) }.to_json.gsub('/', '\/').html_safe %>;
</script>
