<% self.formats = [:html] %>
<%= render_and_instrument 'lotus_bootstrap/preloads/ticket_related' %>
<%= render_and_instrument 'lotus_bootstrap/preloads/sharing_agreements' %>
<%= render_and_instrument 'lotus_bootstrap/preloads/conversations' %>
<%= render_and_instrument 'lotus_bootstrap/preloads/ticket' %>

