body.monitored_twitter_handles div.content h3 {
  margin-bottom: 7px;
}

body.monitored_twitter_handles div.content span.sub {
  margin-left: 4px;
}

body.monitored_twitter_handles p.sub-description {
  margin-bottom: 5px;
}

body.monitored_twitter_handles ul.description-list { 
  padding-left: 0px;
  list-style-position: inside;
  margin-bottom: 15px;
}

body.monitored_twitter_handles p.user-twitter a.handle {
  font-weight: bold;
}

body.monitored_twitter_handles p.user-twitter{
  float: left;
  background-color: white;
  background-position: 4px -981px;
  width: 250px;
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 0 5px 18px;
  border: 1px solid #f0f0f0;
}

body.monitored_twitter_handles p.user-twitter:hover {
  border:1px solid #afafaf;
}

body.monitored_twitter_handles p.user-twitter:hover span {
  color:#afafaf;
}

body.monitored_twitter_handles p.user-twitter span.primary-selector {
  margin-left:20px;
  color:#afafaf;
  padding-right:10px;
  font-size: 8px;
  text-transform: uppercase;
}

body.monitored_twitter_handles .direct-messages {
  color: #999;
  text-indent: 18px;
  margin: 0 0 14px 0;
}

body.monitored_twitter_handles div.options {
  clear:both;
  float:left;
  background: #e8e8e8;
  margin-bottom: 10px;
  margin: -3px 0 10px 14px;
  padding: 2px 39px 2px 5px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top:none;
  border-left:1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}


body.monitored_twitter_handles p.mth-option {
  margin:0px;
  font-size:11px;
  line-height:20px;
  color: #666;
  clear: both;
}

body.monitored_twitter_handles p.add_monitor_handle {
  margin-bottom: 0px;
}

body.monitored_twitter_handles div.bubble-content {width:500px;}

body.monitored_twitter_handles a#add-twitter {
  font-weight: bold;
  text-decoration: underline;
}
