body.monitored_twitter_handles, body.settings.settings-index div#add_twitter_handle_lightbox h1 {
   margin-bottom: 10px;
 }

 body.monitored_twitter_handles, body.settings.settings-index div#add_twitter_handle_lightbox p.description {
   margin-bottom: 15px;
 }
