<div class="user_card clearfix">
   <img src="<%= photo_path(user) %>" alt="<%= I18n.t('txt.admin.view.people.user_merge.user.user_label') %>"/>
   <% if link -%>
     <%= link_to(h(user.name), user_merge_path(@loser, :winner => user.id), :class => "winner_selector") %>
   <% else -%>
     <h3><%= h(user.name) %></h3>
   <% end -%>
   <span><%= user.main_identity %></span>
</div>
