<% if @ticket %>
  $j("#user_details").html("<%= escape_javascript(render :partial => "/tickets/user_details", :locals => { :ticket => @ticket }) %>");
  $j("#static_requester").html("<%= escape_javascript(render :partial => '/tickets/static_requester', :locals => { :ticket => @ticket }) %>");
  $j('#zendesk_ticket_requester').html("<%= @ticket.requester.name %>");
<% end %>

<% if !(message = self.flash[:notice]).blank? %>
  showFlash("<%= message.sanitize %>");
<% self.flash.discard %>
<% end %>
