<div id="user_merge" class="merge_window">
  <div id="user_loser" class="merge_loser clearfix">
    <h2><%= I18n.t('txt.admin.view.people.user_merge.new.merge_user_label') %></h2>
    <%= render :partial => "user", :locals => { :user => @loser, :link => false } %>
  </div>
  <div id="user_winner" class="merge_winner clearfix">
    <%= form_tag(user_merge_path(@loser), {:method => :get, :id => 'winner_form', "data-loser" => @loser.id}) do %>
      <label><%= I18n.t('txt.admin.view.people.user_merge.new.merge_into_label')%></label>
      <div>
        <%= text_field_tag :winner, '', :class => 'text', :placeholder => I18n.t('txt.admin.view.people.user_merge.new.enter_name_email'), :autocomplete => 'off' %>
        <%= hidden_field_tag :ticket_id, params[:ticket_id] %>
        <div id="winner_auto_complete" class="autocomplete"></div>
        <%= submit_tag I18n.t('txt.admin.view.people.user_merge.new.merge_label'), :class => 'buttonsubmit button' %>
      </div>
      <p><%= I18n.t('txt.admin.view.people.user_merge.new.type_user') %></p>
    <% end %>
    <% if @users.any? %>
      <div id="winner_suggestions">
        <div class="option">
          <hr />
          <span class="border">
            <span class="text"><%= I18n.t('txt.admin.view.people.user_merge.new.or') %></span>
          </span>
        </div>
        <label><%= I18n.t('txt.admin.view.people.user_merge.new.select_user') %></label>
        <% @users.each do |user| %>
          <%= render :partial => "user", :locals => { :user => user, :link => true } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
