<div id="confirm_user_merge" class="merge_window">
  <div id="user_loser" class="merge_loser clearfix">
    <h2><%= I18n.t('txt.admin.view.people.user_merge.new.merge_user_label') %></h2>
    <div class="review">
      <p>
        <strong><%= I18n.t('txt.admin.view.people.user_merge.show.message_one', :loser_name => @loser.name, :winner_name => @winner.name)%></strong>
        <br />
        <%= I18n.t('txt.admin.view.people.user_merge.show.message_two', :loser_name => @loser.name, :loser_description => loser_identities_description, :ticket_amount => @tickets.count, :topic_amount => @topics.count) %>
        <% unless @winner.organization && !@winner.account.has_multiple_organizations_enabled? %>
          <p>
          <%= I18n.t('txt.admin.view.people.user_merge.show.different_organization_warning', :loser_name => @loser.name, :winner_name => @winner.name)%>
          </p>
        <% end %>
        <p><a target="_blank" href="<%= I18n.t('txt.admin.view.people.user_merge.show_learn_more_link') %>"><%= I18n.t('txt.admin.view.people.user_merge.show.learn_more') %></a></p>
      </p>
    </div>
    <%= render :partial => "user", :locals => { :user => @loser, :link => false } %>
  </div>
  <div id="user_winner" class="merge_winner clearfix">
    <%= render :partial => "user", :locals => { :user => @winner, :link => false } %>
    <%= form_tag(user_merge_path(@loser), { :id => 'confirm_merge_form', :"data-winner-id" => @winner.id, :"data-loser-id" => @loser.id, :"data-account-id" => @winner.account_id, :"data-loser-name"=> @loser.name }) do %>
      <%= hidden_field_tag :winner, @winner.id %>
      <%= hidden_field_tag :ticket_id, params[:ticket_id] %>
      <%= submit_tag I18n.t('txt.admin.view.people.user_merge.show.confirm_merge'), :class => 'buttonsubmit button' %>
    <% end %>
  </div>
</div>
