<% content_for :script_onload_at_end do -%>
  $j.colorbox({href: "<%= escape_javascript(merge_users_path(:return_to => request.fullpath)) %>",
               onComplete: function() {
                 $j("#user_merge_email").focus();
               }});
<% end %>
