<%= form_for @user, :html => { :multipart => true,
                              :id => 'user-form',
                              :name => 'userform',
                              :"data-is-agent" => @user.is_agent? } do |f| %>

  <%= hidden_field_tag(:ignoreupload, (@user.photo.nil? ? 0 : 1), {:id => 'ignore-upload-user'}) %>
  <%= hidden_field_tag(:return_to, params[:return_to]) unless @user.new_record? %>

  <div class="two_column">
    <div class="element_group">

      <div class="form_element">
        <%= label_tag nil, I18n.t('txt.users.edit.personal_info') %>

        <div class="form_field">
          <h4><%= I18n.t('txt.users.edit.name') %></h4>
          <%= f.text_field :name, :title => I18n.t('txt.users.edit.name'), :dir => 'auto' %>
        </div>

        <%- if current_account.has_agent_display_names? -%>
          <div id="display_name" class="form_field <%= 'hidden' unless current_user.can?(:set_agent_display_name, @user) %>">
            <h4><%= I18n.t('txt.admin.view.people.users.basic_info.display_name_label') %></h4>
            <%= f.text_field :agent_display_name %>
            <p><%= I18n.t('txt.admin.view.people.users.basic_info.display_name_text') %></p>
          </div>
        <% end %>

        <div class="form_field">
          <h4><%= I18n.t('txt.users.edit.photo') %></h4>
          <%- if @user.photo && @user.photo.id -%>
            <div id="image-block-user">
              <img src="<%= photo_path(@user) %>" style="float:left; margin-right: 8px;"/>
              <%= link_to_function I18n.t('txt.users.edit.photo_change'), "selectPicture('user')", :class => 'add_identity action' %><br/>
              <%= link_to_remote I18n.t('txt.users.edit.photo_delete'), :url => photo_url(@user.photo), :method => :delete, :complete => "pictureDeleted('user')", :html => { :class=> 'add_identity action' }, :confirm => I18n.t('txt.users.edit.photo_confirm') %>
              <div class="clear"></div>
            </div>
            <div id="upload-block-user" style="display:none">
              <%= file_field_tag 'photo[uploaded_data]' %> <div id="cancel-block-user"><%= link_to_function I18n.t('txt.users.edit.photo_cancel'), 'resetPicture("user")', :class => 'add_identity action' %></div>
            </div>
          <% else %>
            <%= file_field_tag 'photo[uploaded_data]' %>
          <%- end -%>
          <p><%= I18n.t('txt.users.edit.photo_msg') %></p>
        </div>
      </div>

      <%- if @user.new_record? -%>
        <div class="form_element">
          <%= label nil, I18n.t('txt.admin.view.people.users.basic_info.identities_label') %>
          <div class="form_field">
            <h4><%= I18n.t('txt.users.edit.email') %></h4>
            <%= f.text_field :email %>
          </div>

          <div class="form_field">
            <h4><%= I18n.t('txt.users.edit.twitter_screen_name') %></h4>
            <%= f.text_field :new_twitter_identity %>
          </div>
        </div>

        <% if current_account.subscription.has_permission_sets? %>
          <%= render :partial => 'role_and_groups', :locals => { :user => @user, :f => f } %>
        <% end %>

      <%- end -%>


      <div class="form_element">
        <%= f.label :phone, I18n.t('txt.users.edit.phone') %>

        <div class="form_field">
          <%- if current_account.phone_numbers.present? -%>
            <%- if @user.has_only_phone_identity? -%>
            <p><%= I18n.t('txt.admin.view.people.users.basic_info.direct_line_with_number', :phone_number => "<strong>#{h(@user.rendered_phone)}</strong>") %></p>
            <%- else -%>
              <%= f.text_field :phone, :title => I18n.t('txt.users.edit.phone'), :value => sanitize(@user.phone) %>
              <p>
                <%= render :partial => "direct_number_option" -%>
                <%= learn_more( I18n.t('txt.layout.learn_more'), :no_strong => true) do %>
                  <%= I18n.t('txt.users.edit.phone_msg_with_direct_number_option') %>
                <%- end -%>
              </p>
            <%- end -%>
          <%- else -%>
            <%= f.text_field :phone, :title => I18n.t('txt.users.edit.phone'), :value => sanitize(@user.phone) %>
          <%- end -%>
        </div>
      </div>

      <% if current_account.phone_numbers.present? && @user.is_agent? && @user.can?(:accept, ::Voice::Call) %>
        <div class="form_element">
          <%= f.label :voice_number, I18n.t('txt.admin.view.people.users.basic_info.agent_forwarding_label') %>

          <div class="form_field">
            <%= f.text_field :voice_number, :title => I18n.t('txt.users.edit.phone'), :placeholder => I18n.t('txt.admin.view.people.users.basic_info.eg_of_phone_number') %>
            <%= I18n.t('txt.admin.people.views.basic_info.ext') %>
            <%= f.text_field :voice_extension, :title => I18n.t('txt.users.edit.phone_extension'), :placeholder => I18n.t('txt.admin.view.people.users.basic_info.eg_phone_extension') %>
            <p id="agent_voice_routing_instructions"><%= I18n.t('txt.admin.view.people.users.basic_info.phone_number_instructions') %></p>

            <% unless current_account.has_voice_forwarding_number_verification_disabled? %>
              <div id="test_forwarding">
                <input id="test_call_button" class="button" type="button" disabled="disabled" value="<%= I18n.t('txt.admin.views.people.users.basic_info.test_call') %>">
                <div id="status_spinner"></div>
                <p id="test_call_status"></p>
              </div>
            <% end %>
          </div>
        </div>
      <%- end -%>

      <div class="form_element">
        <%= f.label :timezone, I18n.t('txt.users.edit.timezone') %>

        <div class="form_field">
          <%- show_upsell = should_show_upsell?(:individual_time_zone_selection) -%>
          <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, {}, {:disabled => show_upsell} %>

          <% if current_user.is_agent? && @user != current_user %>
            &nbsp;
            <%= learn_more(I18n.t('txt.layout.learn_more'), :no_strong => true) do %>
              <h3><%= I18n.t('txt.admin.view.people.users.basic_info.time_is_relative_label') %></h3>
              <p><%= I18n.t('txt.admin.view.people.users.basic_info.time_is_relative_text') %></p>
            <% end %>
          <% end %>

          <% if show_upsell && current_user.is_agent? %>
            <p>
              <%= link_to(I18n.t('txt.admin.view.people.users.basic_info.upgrade_plan_text'), subscription_settings_path(:return_to => request.path)) %>
            </p>
          <% end %>
        </div>
      </div>

      <%
       editing_for_other_agent_or_self = (!current_user.is_end_user? && !@user.is_end_user?)
       editing_for_other_end_user = (current_user.is_agent? && @user.available_languages.size > 1 && @user.is_end_user?)
       if editing_for_other_end_user
         translations = @user.available_languages
         language_name = @user.account.translation_locale.display_name(display_in: I18n.translation_locale)
       elsif editing_for_other_agent_or_self
         translations = get_translations_with_localized_agent
         language_name = get_default_language_agent.display_name(display_in: I18n.translation_locale)
       end
      %>
      <% if translations %>
        <div class="form_element">
          <%= f.label :language, I18n.t('txt.admin.view.people.users.basic_info.language_label') %>

          <div class="form_field">
            <% default_entry = I18n.t('txt.admin.view.people.users.basic_info.default_language_label', :language_name => language_name) %>
            <%= f.select :locale_id, translation_select_box_format(translations), :include_blank => default_entry %>
            <p><%= I18n.t('txt.admin.view.people.users.basic_info.choose_language_text') %></p>
          </div>
        </div>
      <% end %>

      <% if !current_user.is_end_user? %>
        <% if can_edit_organization?(current_user, current_account) %>
          <div class="form_element">
            <%= f.label :organization, I18n.t('txt.admin.view.people.users.basic_info.organization_label') %>
            <div class="form_field">
              <%= render :partial => 'shared/auto_completable_organization', :locals => { :f => f, :organization_name => (@user && @user.organization && @user.organization.name).to_s } %>

              &nbsp;
              <%= learn_more(I18n.t('txt.layout.learn_more'), :no_strong => true) do %>
                <h3><%= I18n.t('txt.admin.view.people.users.basic_info.sorting_users_into_companies_title') %></h3>
                <p><%= I18n.t('txt.admin.view.people.users.basic_info.sorting_users_into_companies_text_one') %></p><p><%= I18n.t('txt.admin.view.people.users.basic_info.sorting_users_into_companies_text_two') %></p>
              <% end %>

              <%- if @user.new_record? -%>
                <p><%= I18n.t('txt.admin.view.people.users.basic_info.leave_blank_text') %></p>
              <%- end -%>
            </div>
          </div>
        <% end %>

        <% if current_account.settings.has_user_tags? && current_user.can?(:modify_user_tags, @user) %>
          <div class="form_element">
            <%= f.label :tags, I18n.t('txt.admin.view.people.users.basic_info.tags_label') %>
            <div class="form_field">
              <%= f.tags_field %>
              <p><%= I18n.t('txt.admin.view.people.users.basic_info.tags_text') %></p>
            </div>
          </div>
        <% end %>

        <div class="form_element">
          <%= label_tag nil, I18n.t('txt.admin.view.people.users.basic_info.information_label') %>
          <div class="form_field">
            <p class="form_field_header_message"><%= I18n.t('txt.admin.view.people.users.basic_info.information_text') %></p>
            <h4><%= I18n.t('txt.admin.view.people.users.basic_info.details_label') %></h4>
            <%= f.text_area :details, :rows => 5, :cols => 60, :dir => 'auto' %>
            <p><%= I18n.t('txt.admin.view.people.users.basic_info.eg_an_address_text') %></p>
          </div>

          <div class="form_field">
            <h4><%= I18n.t('txt.admin.view.people.users.basic_info.notes_label') %></h4>
            <%= f.text_area :notes, :rows => 5, :cols => 60, :dir => 'auto' %>
            <p><%= I18n.t('txt.admin.view.people.users.basic_info.notes_text') %></p>
          </div>
        </div>

        <%- if @user.is_agent? && current_account.signature_template.to_s.index('{{agent.signature}}') -%>
          <div class="form_element">
            <%= f.label :signature, I18n.t('txt.admin.view.people.users.basic_info.signature_label') %>

            <div class="form_field">
              <%= f.fields_for :signature, @user.signature do |signature| %>
                <%= signature.text_area :value, :rows => 3, :cols => 60, :dir => 'auto' %>
              <% end %>
              <p><%= I18n.t('txt.admin.view.people.users.basic_info.signature_text') %></p>
            </div>

          </div>
        <%- end -%>


        <% if show_role_config?(@user) %>
          <%= render "basic_role_config", :f => f %>
        <% end %>
      <%- end -%>

    </div>
  </div>

  <div class="actions">
    <%- if @user.id && current_user.is_non_restricted_agent? && current_user != @user -%>
      <%= link_to I18n.t('txt.admin.view.people.users.basic_info.delete_label'), user_path(@user, :return_to => params[:return_to]), :class => 'button destructive left', :data => { :confirm => delete_confirmation_message, :method => :delete } %>
    <% end %>
    <%= submit_tag "#{@user.id ? I18n.t('txt.users.edit.update') : I18n.t('txt.admin.view.people.users.basic_info.create_label')}", :id => 'submit-button', :class => 'button primary' %>
  </div>

<% end %>

<% # NOTE: this needs to be outside the form or it gets doubled up in Agent/Admin displays and screws with removing people from groups %>
<% if show_role_config?(@user) %>
  <div id="group-block" style="display:none">
    <h4><%= I18n.t('txt.users.edit.groups') %>:</h4>
    <% account_has_one_group = (current_account.groups.count == 1) %>

    <% if account_has_one_group %>
      <input type="hidden" name="user[groups][]" value="<%= current_account.groups.first.id %>" />
    <% else %>
      <input type="hidden" name="user[groups][]" value="" /><!-- Always send a group[] even if no boxes checked -->
    <% end %>

    <% current_account.groups.each do |group| %>
      <p>
      <% group_membership = @user.in_group?(group) || account_has_one_group || (@user.new_record? && group.default?) || (@user.default_group_id == group.id) %>
      <%= check_box_tag("user[groups][]", group.id, group_membership, :id => "user_groups_#{group.id}", :disabled => account_has_one_group) %>&nbsp;&nbsp;<%= group.name %>
      </p>
    <% end %>

    <%= render :partial => 'default_group', :locals => { :user => @user } %>
  </div>
<% end %>
