<div class="form_element" id="original_roles">
  <%= f.label :role, I18n.t('txt.admin.view.people.users.basic_info.role_label') %>

  <div class="form_field">
    <p><%= I18n.t('txt.admin.view.people.users.basic_info.role_small_explanation')%>
      <%= learn_more I18n.t('txt.admin.view.people.users.basic_info.learn_more_label') do %>
        <p><%= I18n.t('txt.admin.view.people.users.basic_info.role_explanation_text_one') %></p>
        <p><%= I18n.t('txt.admin.view.people.users.basic_info.role_explanation_text_two') %></p>
        <p><%= I18n.t('txt.admin.view.people.users.basic_info.role_explanation_text_three') %></p>
      <% end %>
    </p>

    <p>
      <%= radio_button_tag("user[roles]", Role::END_USER.id, @user.is_end_user? || @user.new_record?, { :id => 'user-radio' }) %>
      <strong><%= I18n.t('txt.admin.view.people.users.basic_info.end_user_label') %></strong> &ndash; <span class="sub"><%= I18n.t('txt.admin.models.role.role_description_' + Role::END_USER.id.to_s) %></span>

      <div id="end_user_block" class="indented_option" style="<%= 'display:none;' if !@user.is_end_user? %>">
        <h4><%= I18n.t('txt.admin.view.people.users.basic_info.has_access_to') %></h4>
        <p><%= f.radio_button('restriction_id', RoleRestrictionType.REQUESTED) %> <%= I18n.t('txt.admin.view.people.users.basic_info.has_access_to_requested') %></p>
        <% if current_account.organizations.exists? %>
          <p><%= f.radio_button('restriction_id', RoleRestrictionType.ORGANIZATION) %> <%= I18n.t('txt.admin.view.people.users.basic_info.has_access_to_organization') %></p>
          <p><%= I18n.t('txt.admin.view.people.users.basic_info.has_access_to_organization_note') %></p>
        <% end %>
      </div>
    </p>

    <% if current_user.is_admin? %>
      <p>
        <%= radio_button_tag("user[roles]", Role::AGENT.id, @user.is_agent?) %>
        <strong><%= I18n.t('txt.admin.view.people.users.basic_info.agent_label') %></strong> &ndash;
        <span class="sub"><%= I18n.t('txt.admin.view.people.users.basic_info.help_desk_operator_label') %>&nbsp;<%= I18n.t('txt.admin.models.role.role_description_' + Role::AGENT.id.to_s) %></span>

        <div id="agent_block" class="indented_option" style="<%= 'display:none;' if @user.is_end_user? || @user.is_admin? %>">
          <div id="agent_groups"></div>
          <h4 class="sub_section"><%= I18n.t('txt.admin.view.people.users.basic_info.has_access_to') %></h4>
          <p><label class="option"><%= f.radio_button('restriction_id', RoleRestrictionType.NONE) %> <%= I18n.t('txt.admin.view.people.users.basic_info.has_access_to_all_tickets') %> <span class="sub"><%= I18n.t('txt.admin.view.people.users.basic_info.has_access_to_all_tickets_others') %></span></label</p>
          <% if current_account.groups.size > 1 || @user.restriction_id == RoleRestrictionType.GROUPS %>
            <p><label class="option"><%= f.radio_button('restriction_id', RoleRestrictionType.GROUPS) %> <%= I18n.t('txt.admin.view.people.users.basic_info.access_to_tickets_group') %></label></p>
          <% end %>
          <% if current_account.organizations.exists? %>
            <p>
              <label class="option">
              <% if @user.is_end_user? %>
                <input type="radio" value="2" name="user[restriction_id]" id="snov"/>
              <% else %>
                <%= f.radio_button('restriction_id', RoleRestrictionType.ORGANIZATION) %>
              <% end %>
              <%= I18n.t('txt.admin.view.people.users.basic_info.access_to_tickets_organization') %> <span class="sub"><%= I18n.t('txt.admin.view.people.users.basic_info.access_to_tickets_organization_restrictions') %></span></label>
            </p>
          <% end %>
          <p><label class="option"><%= f.radio_button('restriction_id', RoleRestrictionType.ASSIGNED) %> <%= I18n.t('txt.admin.view.people.users.basic_info.access_only_to_his_tickets') %></label></p>
          <h4 class="sub_section"><%= I18n.t('txt.admin.view.people.users.basic_info.ticket_comments_text') %></h4>
          <p>
          <label class="option"><%= f.radio_button :is_private_comments_only, false, {:class => 'radio'} %> <%= I18n.t('txt.admin.view.people.users.basic_info.public') %></label>
          <label class="option"><%= f.radio_button :is_private_comments_only, true, {:class => 'radio'} %> <%= I18n.t('txt.admin.view.people.users.basic_info.private') %></label>
          </p>
          <h4 class="sub_section"><%= I18n.t('txt.admin.view.people.users.basic_info.topics_in_forum_text') %></h4>
          <p>
            <label class="option"><%= f.radio_button :is_moderator, true, {:class => 'radio'} %> <%= I18n.t('txt.admin.view.people.users.basic_info.yes_label') %></label>
            <label class="option"><%= f.radio_button :is_moderator, false, {:class => 'radio'} %> <%= I18n.t('txt.admin.view.people.users.basic_info.no_label') %></label>
          </p>
        </div>
      </p>

      <p>
        <%= radio_button_tag("user[roles]", Role::ADMIN.id, @user.is_admin?) %>
        <strong><%= I18n.t('txt.admin.view.people.users.basic_info.admin_label') %></strong> &ndash; <span class="sub"><%= I18n.t('txt.admin.models.role.role_description_' + Role::ADMIN.id.to_s) %></span>
        <div id="admin_groups" class="indented_option"></div>
      </p>
    <% end %>
  </div>
</div>
