<div id="bulk_update" class="content-top-right">

  <% if display_seat_bulk_update? %>
    <button id="bulk_submit" class="button_disabled" disabled="disabled"><%= I18n.t('txt.admin.view.people.users.bulk_update.edit_label') %></button>
  <% else %>
    <button id="bulk_submit" class="button_disabled" disabled="disabled"><%= I18n.t('txt.admin.view.people.users.bulk_update.change_role_label') %></button>
  <% end %>

  <%= check_box_tag :bulk_check, nil, false, :class => 'checkbox' %>
  <%= content_tag :div, nil, :id => 'bulk_spinner', :class => 'spinner small', :style => 'display: none' %>
</div>
