<% default_group = current_account.default_group %>

<% if default_group %>
  <p><%= I18n.t('txt.admin.view.people.users.role_and_groups.group_membership', :default_group_name => h(default_group.name)) %></p>
<% end %>

<div id="default_group_selector" class="tile">
  <strong><%= I18n.t('txt.admin.view.people.users.role_and_groups.default_group_label') %></strong>
  <% options = options_for_select([
    [I18n.t('txt.admin.views.people.users._default_group.none_label'), "none"]] + current_account.groups.map{|g| [g.name, g.id]}, {
      :selected => user.default_group_id || default_group.try(:id) || 'none',
      :disabled => "none"
    })
  %>
  <%= respond_to?(:f) ? f.select(:default_group_id, options) : select_tag("user[default_group_id]", options) %>
  <p><%= I18n.t('txt.admin.view.people.users.role_and_groups.default_group_description') %></p>
</div>
