 <% if current_user.is_agent? %>
   <% if can_remove_direct_number?(@user) %>
     <%= check_box_tag "direct_line", 1, @user.has_direct_number? %> <%= I18n.t('txt.admin.view.people.users.direct_number_option.direct_line_label') %>
   <% else %>
     <%= check_box_tag "direct_line_disabled", 1, true, :disabled => 'disabled' %> <%= I18n.t('txt.admin.view.people.users.direct_number_option.direct_line_label') %>
     <%= hidden_field_tag "direct_line", 1 %>
   <% end %>
 <% end %>
