<div id="group_tiles">
  <%# The following field ensure that deselecting all groups will save properly %>
  <input class="empty" type="hidden" name="user[groups][]" value="">

  <% show_head_count = user.account.groups.length < 100 %>
  <% user.account.groups.each do |group| %>
    <% user_is_member = user.groups.include?(group) || (user.new_record? && group.default?) || (current_account.groups.count == 1) %>
    <div id="group_<%= group.id %>" title="<%= group.name %>" class="tile<%= " selected" if user_is_member %>">
      <img src="/images/types/group.png" title="Role" class="icon"/>

      <div class="info">
        <div class="title">
          <div class="name">
            <%= group.name %>
          </div>
          <% if show_head_count %>
            <div class="headcount">
              <%= I18n.t('txt.admin.view.people.users.group_tiles.multiple_agents_label', :count => group.users.count) %>
            </div>
          <% end %>
        </div>
      </div>

    <input class="group_data" name="user[groups][]" type="hidden" value="<%= group.id %>" <%= "disabled" unless user_is_member %> />
    </div>
  <% end %>

  <div class="clear"></div>
</div>
