<div class="two_column">

  <p class='intro_text'>
    <%= I18n.t('txt.users.edit.identities_msg') %>
    <%= link_to(I18n.t('txt.admin.views.settings.portal._settings.learn_more_label'),
                I18n.t('txt.users.edit.identities_msg_link'),
                :target => '_blank') %>
  </p>
  <div class="element_group">
    <%- if current_user.can?(:manage_identities_of, @user) -%>

      <div class="form_element">
        <%= label_tag nil, I18n.t('txt.users.edit.help_desk') %>

        <div class="form_field">
          <div class="email unverified_email">
            <ul id="email_identity_list" class="identities"></ul>
            <ul id="unverified_email_identity_list" class="identities"></ul>
            <%= link_to(I18n.t('txt.users.edit.add_help_desk_email'), new_user_unverified_email_address_path(@user), :class => "add_identity action") %>
          </div>
    <%- if current_account.admins_can_set_user_passwords && current_user.is_admin? && !@user.new_record? -%>
        <div class="sub_setting">
          <h4><%= I18n.t('txt.users.edit.password') %></h4>
          <p class="form_field_header_message" style="margin-top: -2px"><%= I18n.t('txt.users.edit.password_desc') %></p>
          <div class='new_password'>
            <%= form_for @user do |f| %>
              <%= f.password_field :password, :size => 30, :autocomplete => 'off', :class => 'validate_password' %>
              <%= submit_tag "#{@user.id ? I18n.t('txt.users.edit.update') : 'Create'}", :class => 'button' %>
            <% end %>
          </div>
          <%= render :partial => 'shared/password_requirements' %>
        </div>
    <%- end -%>

    </div>
      </div>

    <%- end -%>

        <%- if current_user.can?(:manage_external_accounts_of, @user) -%>

      <div class="form_element">
        <%= label_tag nil, I18n.t('txt.users.edit.external_accounts') %>

        <%- if current_account.login_allowed_for_any_role?(:twitter) -%>
          <div class="form_field">
            <h4><%= I18n.t('txt.users.edit.twitter') %></h4>
            <div class="twitter">
              <ul id="twitter_identity_list" class="identities"></ul>
              <%= link_to(I18n.t('txt.users.edit.add_twitter_handle'), new_user_user_identity_path(@user, :type => (can_add_twitter_handle_manually? ? "manual_twitter" : "twitter_readonly")), :class => "add_identity action") %>
            </div>
          </div>
        <%- end -%>

        <%- if current_account.login_allowed_for_any_role?(:google) -%>
          <div class="form_field">
            <div class="sub_setting">
              <h4><%= I18n.t('txt.users.edit.google') %></h4>
              <div class="google">
                <ul id="google_identity_list" class="identities"></ul>
                <%= link_to(I18n.t("txt.users.edit.add_google_account"), new_user_user_identity_path(@user, :type => "google"), :class => "add_identity action") %>
              </div>
            </div>
          </div>
        <%- end -%>

        <%- if current_account.login_allowed_for_any_role?(:facebook) -%>
          <div class="form_field">
            <div class="sub_setting">
              <h4><%= I18n.t('txt.users.edit.facebook') %></h4>
              <div class="facebook">
                <ul id="facebook_identity_list" class="identities"></ul>
                <%= link_to(I18n.t("txt.users.edit.add_facebook_account"), new_user_user_identity_path(@user, :type => "facebook"), :class => "add_identity action") %>
              </div>
            </div>
          </div>
        <%- end -%>
      </div>
    <%- end -%>

    <%- if current_user.can?(:manage_identities_of, @user) -%>
      <div id="primary_section" class="form_element">
        <%= label_tag nil, I18n.t('txt.users.edit.primary_email') %>

        <div class="form_field">
          <div class="primary">
            <select id="primary_identity"></select>
          </div>
          <p><%= I18n.t('txt.users.edit.primary_email_msg') %></p>
        </div>

      </div>
    <%- end -%>

    <%- if @user.external_id && (current_user.is_admin? || current_user.is_agent?) -%>
      <div class="form_element">
        <%= label_tag nil, I18n.t('txt.users.edit.external_id') %>

        <div class="form_field">
          <p><strong><%= @user.external_id %></strong></p>
          <p><%= I18n.t('txt.users.edit.external_id_msg') %></p>
        </div>
      </div>
    <%- end %>
  </div>
</div>
