<%- if @user.is_agent? -%>
  <div id="mini-dashboard">
    <%= render :partial => 'shared/csr_data_boxes', :locals => {:user => @user} %>
    <div class="clear"></div>
  </div>
<%- elsif current_user.is_agent? -%>
  <div id="mini-dashboard">
    <h3><%= I18n.t('txt.admin.view.people.users.mini_dashboard.satisfaction_statistics') %></h3>
    <% user_ticket_count = @user.tickets.count_with_archived %>
    <%= link_to_unless(user_ticket_count.zero?,
                       render_dashboard_stats(user_ticket_count, "", I18n.t('txt.admin.view.people.users.mini_dashboard.tickets_label')),
                       search_rules_path(:filter => 'views', :sets => build_set([requester_condition(@user)]), :search_name => I18n.t('txt.admin.view.people.users.mini_dashboard.total_tickets_label'))) %>
    <%= link_to_unless(user_rated_tickets_as_good(@user).zero?, render_dashboard_stats(user_rated_tickets_as_good(@user), "",I18n.t('txt.admin.view.people.users.mini_dashboard.good_label')), search_rules_path(:filter => 'views', :sets => build_set([requester_condition(@user)]).merge!(build_set([good_rating_condition, good_rating_with_comment_condition], 2)), :search_name => I18n.t('txt.admin.view.people.users.mini_dashboard.good_rated_tickets'))) %>
    <%= link_to_unless(user_rated_tickets_as_bad(@user).zero?, render_dashboard_stats(user_rated_tickets_as_bad(@user), "",I18n.t('txt.admin.view.people.users.mini_dashboard.bad_label')), search_rules_path(:filter => 'views', :sets => build_set([requester_condition(@user)]).merge!(build_set([bad_rating_condition, bad_rating_with_comment_condition], 2)), :search_name => I18n.t('txt.admin.view.people.users.mini_dashboard.bad_rated_tickets'))) %>
    <div class="clear"></div>
  </div>
<%- end -%>

