<div class="lv_action">
  <h1><%= I18n.t('txt.admin.view.people.users.new.new_user_label') %></h1>
  <%= form_for User.new, :url => '/users/find_or_create.json', :html => { :id => 'new_user_form' }, :as => :user do |f| %>
    <h3><%= I18n.t('txt.admin.view.people.users.new_requesters.email_label') %></h3>
    <p>
      <%= f.text_field :email %>
    </p>

    <h3><%= I18n.t('txt.admin.view.people.users.new_requesters.name_label') %></h3>
    <p>
      <%= f.text_field :name %>
    </p>

    <h3><%= I18n.t('txt.admin.view.people.users.new_requesters.phone_label') %></h3>
    <p>
      <%= f.text_field :phone %>
    </p>

    <% if current_user.can?(:create, User.new) && current_account.organizations.exists? %>
      <div id="organization-block">
        <h3><%= I18n.t('txt.admin.view.people.users.new_requesters.organization_label') %></h3>
        <p>
          <%= render :partial => 'shared/auto_completable_organization', :locals => { :f => f } %>
        </p>
      </div>
    <% end %>

    <div class="action">
      <%= submit_tag I18n.t('txt.admin.view.people.users.new_requesters.create_label'), :class => 'buttonsubmit' %>
    </div>
  <% end %>
</div>
