<%# TICKET ACCESS %>
<h4><%= I18n.t('txt.admin.view.people.users.per_user_permissions.has_access_to') %></h4>
<p><%= f.radio_button('restriction_id', RoleRestrictionType.NONE) %> <%= I18n.t('txt.admin.view.people.users.per_user_permissions.all_tickets')%> <span class="sub"><%= I18n.t('txt.admin.view.people.users.per_user_permissions.all_tickets_others')%> </span></p>
<% if current_account.groups.size > 1 %>
  <p><%= f.radio_button('restriction_id', RoleRestrictionType.GROUPS) %> <%= I18n.t('txt.admin.view.people.users.per_user_permissions.tickets_agent_group') %></p>
<% end %>
<% if current_account.organizations.exists? %>
  <p>
    <% if @user.is_end_user? %>
      <input type="radio" value="2" name="user[restriction_id]" id="snov"/>
    <% else %>
      <%= f.radio_button('restriction_id', RoleRestrictionType.ORGANIZATION) %>
    <% end %>
    <%= I18n.t('txt.admin.view.people.users.per_user_permissions.organization_ticket') %><span class="sub"><%= I18n.t('txt.admin.view.people.users.per_user_permissions.organization_ticket_other') %></span>
  </p>
<% end %>
<p><%= f.radio_button('restriction_id', RoleRestrictionType.ASSIGNED) %> <%= I18n.t('txt.admin.view.people.users.per_user_permissions.assigned_tickets')%></p>

<%# TICKET COMMENTS %>
<h4><%= I18n.t('txt.admin.view.people.users.per_user_permissions.can_add_comments') %></h4>
<p>
<label class="option"><%= f.radio_button :is_private_comments_only, false, {:class => 'radio'} %><%= I18n.t('txt.admin.view.people.users.per_user_permissions.can_add_comments_public') %></label>
<label class="option"><%= f.radio_button :is_private_comments_only, true, {:class => 'radio'} %> <%= I18n.t('txt.admin.view.people.users.can_add_comments_private') %></label>
</p>

<%# FORUM MODERATION %>
<h4><%= I18n.t('txt.admin.view.people.users.forum_moderate_permissions') %></h4>
<p>
  <label class="option"><%= f.radio_button :is_moderator, true, {:class => 'radio'} %> <%= I18n.t('txt.admin.view.people.users.forum_moderate_permissions_yes') %></label>
  <label class="option"><%= f.radio_button :is_moderator, false, {:class => 'radio'} %> <%= I18n.t('txt.admin.view.people.users.forum_moderate_permissions_no') %></label>
</p>
