<% unless @user.phone.blank? %>
  <p id="user-phone" data-number="<%= h(@user.phone) %>" class="user-phone"><%= h(@user.rendered_phone) %>
  <% if @user.has_direct_number? %>
    <%= I18n.t('txt.users.show.number_is_direct_line') %>
    (<a href='#' id='edit_number_link'><%= I18n.t('txt.users.show.edit_number_provided') %></a>)
  <% else %>
    <% if current_user.can?(:edit, @user) %>
      <% if current_user.is_non_restricted_agent? %>
        <a href="#" id="make_direct_number_link"><strong><%= I18n.t('txt.users.show.make_number_direct_line') %></strong></a>
      <% end %>
      (<a href='#' id='edit_number_link'><%= I18n.t('txt.users.show.edit_number_provided') %></a>)
    <% end %>
  <% end %>
  </p>

  <div style="display:none;">
    <div id="edit_number_layer" class="lv_action" style="width:300px;">
      <h1><%= I18n.t('txt.users.show.edit_number_popup.edit_title') %></h1>
      <%= form_tag(update_number_user_path(@user), :method => :post) do %>
        <h3><%= I18n.t('txt.users.show.edit_number_popup.number_label') %></h3>
        <p>
        <%= text_field_tag "number", @user.phone %>
        </p>
        <%= render :partial => "direct_number_option" %>
        <p class="action">
        <input type="submit" class="button" value="<%= I18n.t('txt.users.show.edit_number_popup.update_label') %>">
        </p>
      <% end %>
    </div>
  </div>

  <div style="display:none;">
    <div id="make_direct_number_layer" class="lv_action" style="width:500px;">
      <h1><%= I18n.t('txt.users.show.direct_line_popup.direct_line_label') %></h1>
      <p><%= I18n.t('txt.users.show.direct_line_popup.direct_line_description') %></p>

      <%= form_tag(update_number_user_path(@user), :method => :post) do %>
        <%= hidden_field_tag "number", @user.phone, :id => "phone_number_to_verify" %>
        <%= hidden_field_tag "direct_line", 1 %>
        <p class="action">
        <input type="submit" class="button" value="<%= I18n.t('txt.users.show.direct_line_popup.make_this_number_direct_line_label') %>">
        </p>
      <% end %>
    </div>
  </div>
<% end %>
