<table id="qrcode">
  <% qrcode.modules.each_index do |x| %>
    <tr>
      <% qrcode.modules.each_index do |y| %>
        <% if qrcode.dark?(x, y) %>
          <td class="black" />
        <% else %>
          <td class="white" />
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
