<%= form_for @user, :html => { :id => "role_and_groups_form", :"data-is-agent" => @user.is_agent? } do |f| %>

  <%= hidden_field_tag :anchor, 'role_groups', :id => 'return_to_role_groups' %>
  <%= hidden_field_tag :return_to, params[:return_to] %>

  <div class="two_column">

    <div class="element_group">

      <%= render :partial => 'role_and_groups', :locals => { :user => @user, :f => f } %>

    </div>

  </div>

  <div class="actions">
    <%= f.submit I18n.t('txt.admin.lib.zendesk.lib.vars.save_tab'), :class => "button save" %>
  </div>
<% end %>
