<div class="form_element role_groups">
  <%= label nil, I18n.t('txt.admin.view.people.users.basic_info.role_label') %>

  <div class="form_field">
    <p>
      <%= I18n.t('txt.admin.view.people.users.role_and_groups.explanation_of_roles') %>
      <%= learn_more I18n.t('txt.admin.view.people.users.role_and_groups.learn_more') do %>
        <br/>
        <h4><%= I18n.t('txt.admin.view.people.users.role_and_groups.what_is_an_end_user') %></h4>
        <p><%= I18n.t('txt.admin.view.people.users.role_and_groups.end_user_explanation') %></p>

        <br/>
        <h4><%= I18n.t('txt.admin.view.people.users.role_and_groups.permissions_end_users') %></h4>
        <p><%= I18n.t('txt.admin.view.people.users.role_and_groups.permissions_end_users_explanation') %></p>
        <ul style="padding-left: 14px;">
          <li><%= I18n.t('txt.admin.view.people.users.role_and_groups.submit_ticket_label') %></li>
          <li><%= I18n.t('txt.admin.view.people.users.role_and_groups.create_topics_label') %></li>
          <li><%= I18n.t('txt.admin.view.people.users.role_and_groups.create_comments_label') %></li>
          <li><%= I18n.t('txt.admin.view.people.users.role_and_groups.vote_topics_label') %></li>
        </ul>

        <br/>
        <h4><%= I18n.t('txt.admin.view.people.users.role_and_groups.what_is_an_agent') %></h4>
        <p><%= I18n.t('txt.admin.view.people.users.role_and_groups.agent_explanation', :custom_roles => (link_to I18n.t('txt.admin.view.people.users.role_and_groups.custom_roles_label'), people_roles_path) )%>
        <p>

        <p><%= I18n.t('txt.admin.view.people.users.role_and_groups.other_roles') %></p>
        <ul>
          <li><strong><%= I18n.t('txt.admin.view.people.users.role_and_groups.light_agent_label') %></strong> &mdash; <%= I18n.t('txt.admin.view.people.users.role_and_groups.what_light_agent_is') %></li>
          <li><strong><%= I18n.t('txt.admin.view.people.users.role_and_groups.administrator_label') %></strong> &mdash; <%= I18n.t('txt.admin.view.people.users.role_and_groups.what_administrator_is') %></li>
        </ul>

        <br/>
        <p><strong><%= I18n.t('txt.admin.view.people.users.role_and_groups.note_label') %></strong> <%= I18n.t('txt.admin.view.people.users.role_and_groups.note_text') %></p>
      <% end %>
    </p>

    <p>
      <%= radio_button_tag 'user[roles]', Role::END_USER.id, checked = user.is_end_user?, :class=> 'user_type', :id => 'roles_enduser' %>
      <%= label_tag 'roles_enduser', I18n.t('txt.admin.view.people.users.basic_info.end_user_label'), :class => 'checkbox', :style => "margin-right: 35px" %>

      <% if current_user.is_admin? %>
        <%= radio_button_tag 'user[roles]', Role::AGENT.id, checked = !user.is_end_user?, :class=> 'user_type', :id => 'roles_agent' %>
        <%= label_tag 'roles_agent', I18n.t('txt.admin.view.people.users.basic_info.agent_label'), :class => 'checkbox' %>
      <% end %>
    </p>

    <div id="enduser_details" class="tile">
      <p><%= I18n.t('txt.admin.view.people.users.role_and_groups.end_user_details') %></p>
      <%= f.check_box :restriction_id, { :checked => (user.restriction_id == RoleRestrictionType.ORGANIZATION) }, RoleRestrictionType.ORGANIZATION, RoleRestrictionType.REQUESTED %>
      <%= f.label :restriction_id, I18n.t('txt.admin.view.people.users.role_and_groups.allow_access_to_end_user_organization'), :class => 'checkbox' %>
      <p><%= I18n.t('txt.admin.view.people.users.role_and_groups.read_tickets_from_others') %></p>
      <p><strong><%= I18n.t('txt.admin.view.people.users.role_and_groups.note_label') %></strong><%= I18n.t('txt.admin.view.people.users.role_and_groups.note_of_shared_tickets') %></p>
    </div>

    <div id="agent_details" class="tile">
      <%= label_tag :user_role_or_permission_set, I18n.t('txt.admin.view.people.users.role_and_groups.agent_role'), :class => 'checkbox' %>
      <%= f.select :role_or_permission_set, permission_sets_list(user.account, user.is_legacy_agent?).map {|ps| [ps[:name], ps[:id]]} %>
      <p class="description"></p>
      <div class="headcount"></div>
    </div>
  </div>
</div>

<% if current_user.is_admin? %>
  <div class="form_element role_groups">
    <%= label nil, I18n.t('txt.admin.view.people.users.role_and_groups.groups_label') %>
    <div class="form_field">
      <p><%= I18n.t('txt.admin.view.people.users.role_and_groups.what_groups_are') %>
      </p>
      <div id="groups_unavailable">
        <p><strong><%= I18n.t('txt.admin.view.people.users.role_and_groups.groups_only_for_agents') %></strong></p>
      </div>
      <div id="groups_available">
        <p><strong><%= I18n.t('txt.admin.view.people.users.role_and_groups.click_groups_to_which_it_belongs') %></strong></p>
        <%= render :partial => 'group_tiles', :locals => { :user => user } %>
        <%= render :partial => 'default_group', :locals => { :f => f, :user => user } %>
      </div>
    </div>
  </div>
<% end %>
