<div id="seat-type-filter">
  <%=
    select_tag "seat_type", options_for_select([
      [I18n.t("txt.admin.views.people.search.index.seat_type_filter.all_agents"), ""],
      [I18n.t("txt.admin.views.people.search.index.seat_type_filter.talk_agents"), "voice"]], params[:seat_type])
  %>
</div>
