<% content_for :sidebar do %>
  <% if !@user.id && current_account.is_welcome_email_when_agent_register_enabled? %>
    <%= div_side_box(@page_title) do %>
      <p><%= I18n.t('txt.admin.view.people.users.sidebar.new_users_welcome_email') %></p>
      <p><%= I18n.t('txt.admin.view.people.users.sidebar.new_users_welcome_email_explanation') %></p>
      <% if current_user.is_admin? %>
        <p><%= I18n.t('txt.admin.view.people.users.sidebar.customize_welcome_email', :here_link => (link_to I18n.t('txt.admin.view.people.users.sidebar.here_label'), settings_customers_path)) %></p>
      <% end %>
      <p><%= I18n.t('txt.admin.view.people.users.sidebar.when_logged_in_what_can_user_do') %></p>
    <% end %>
  <% end %>

  <% if @user.id && current_user.is_agent? %>
    <%= div_side_box(@user.is_admin? && !@user.is_account_owner? ? I18n.t('txt.admin.view.people.users.sidebar.administrator_label') : @user.permission_name) do %>

      <ul class="options">
        <%= ticket_stats_render(@user) %>
        <% if @user.email.present? %>
          <li class="add-link"><strong><%= link_to I18n.t('txt.admin.view.people.users.sidebar.new_ticket'), new_ticket_path(:requester_id => @user.id) %></strong></li>
        <% end %>
      </ul>

      <%= render :partial => '/tickets/editable_notes', :locals => { :model => @user } %>

    <% end %>
  <% end %>

  <% if @user.new_record? && current_user.is_admin? %>
    <%= div_side_box(I18n.t('txt.admin.view.people.users.sidebar.bulk_import_label')) do %>
      <p><%= I18n.t('txt.admin.view.people.users.sidebar.bulk_import_text') %></p>
      <ul class="options">
        <li class="link"><a href="/import?kind=user"><%= I18n.t('txt.admin.view.people.users.sidebar.bulk_user_import_label') %></a></li>
      </ul>
    <% end %>
  <% end %>
<% end %>
