<div id="two-factor-auth-configure">
  <%= render 'two_factor_authentication_flash' %>

  <h2><%= I18n.t('txt.users.edit.two_factor_authentication.setup.app.title', :account_name => current_account.name) %></h2>

  <h3><%= I18n.t('txt.users.edit.two_factor_authentication.setup.app.step_1') %></h3>

  <div class="minimum-qrcode-height">
    <%= render :partial => 'provisioning_qrcode', :locals => { :qrcode => RQRCode::QRCode.new(@user.one_time_password.provisioning_url) } %>

    <p><%= I18n.t('txt.users.edit.two_factor_authentication.initial_configuration.description_v2') %></p>
    <p><%= I18n.t('txt.users.edit.two_factor_authentication.initial_configuration.secret_key_v2', :key => @user.otp_setting.secret_key.upcase) %></p>
  </div>

  <h3><%= I18n.t('txt.users.edit.two_factor_authentication.setup.app.step_2') %></h3>

  <%= render 'two_factor_authentication_confirmation' %>
</div>
