<div id="two-factor-auth-configure">
  <%= render 'two_factor_authentication_flash' %>

  <h2><%= I18n.t('txt.users.edit.two_factor_authentication.setup.phone.title', :account_name => current_account.name) %></h2>

  <h3><%= I18n.t('txt.users.edit.two_factor_authentication.setup.phone.step_1_v2') %></h3>

  <%= form_tag zendesk_auth.one_time_password_path, :method => :put, :id => 'two-factor-phone-form', :remote => true do |f| %>
    <%= text_field_tag :phone, current_user.otp_setting.try(:phone_number), :placeholder => '123-123-1234', :id => 'two-factor-confirm-input' %>
    <%= hidden_field_tag :force, true %>
    <%= hidden_field_tag :time_based, false %>
    <%= submit_tag I18n.t('warden.otp.sso.send_code'), :class => 'button submit' %>
  <% end %>

  <h3><%= I18n.t('txt.users.edit.two_factor_authentication.setup.phone.step_2') %></h3>

  <%= render 'two_factor_authentication_confirmation' %>
</div>
