<%= form_tag zendesk_auth.one_time_password_path, :method => :put, :id => 'two-factor-confirm-form' do |f| %>
  <%= text_field_tag :code, nil, :placeholder => '123456', :id => 'two-factor-confirm-input' %>
  <%= submit_tag I18n.t('warden.otp.sso.confirm'), :class => 'button submit' %>
<% end %>
