<div id="user-2fa-landing" class="frame hover-actions">
  <div class="content_grey clearfix">
    <div class="new-zendesk-left-column">
      <%= image_tag "devices.png" %>
    </div>

    <div class="new-zendesk-right-column">
      <p><%= t('txt.admin.views.people.users.2fa-splash.prompt') %></p>
      <p>
        <%- button_text = t('txt.admin.views.people.users.2fa-splash.button') %>
        <%= link_to button_text, "/agent/users/#{@user.id}", :class => 'button call' %>
      </p>
    </div>
  </div>
</div>
