<div class="two_column">
  <p class='intro_text'>
    <%= I18n.t('txt.users.edit.two_factor_authentication.description') %>
  </p>

  <div class="element_group">
    <div class="form_element">
      <label for="_Status">
        <%= I18n.t('txt.users.edit.two_factor_authentication_status.title') %>
      </label>

      <div class="form_field">
        <% if @user.otp_configured? %>
          <span class="two-factor-status" style="color: lightgreen;"><%= I18n.t('txt.users.edit.two_factor_authentication_status.enabled') %></span>

          <%= form_tag zendesk_auth.one_time_password_path, :method => :delete, :id => 'two-factor-remove-form' do %>
            <%= link_to_function I18n.t('txt.users.edit.two_factor_authentication.disable'), "jQuery('#two-factor-remove-form').submit();", :class => 'admin' %>
          <% end %>
        <% else %>
          <span class="two-factor-status" style="color: red;"><%= I18n.t('txt.users.edit.two_factor_authentication_status.disabled') %></span>
        <% end %>
      </div>
    </div>

    <% if !@user.otp_configured? %>
      <div class="form_element">
        <label for="_App">
          <%= I18n.t('txt.users.edit.two_factor_authentication.app_based.title') %>
        </label>

        <% if @user.otp_setup? %>
          <%= javascript_tag do %>
            jQuery(document).ready(function() {
              jQuery('#two_factor_authentication').live('tab.show', function() {
                jQuery.colorbox({
                  html: <%= render(@user.time_based_otp_configured? ? 'two_factor_authentication_qrcode' : 'two_factor_authentication_phone').to_json.html_safe %>
                });
              });
            });
          <% end %>
        <% end %>

        <%= form_tag zendesk_auth.one_time_password_path, :method => :put, :id => 'two-factor-app-form' do %>
          <%= hidden_field_tag :time_based, true %>
          <%= hidden_field_tag :force, true %>

          <div class="form_field">
            <%= link_to_function I18n.t('txt.users.edit.two_factor_authentication.app_based.setup_v2'), "jQuery('#two-factor-app-form').submit();", :class => 'action' %>
          </div>
        <% end %>
      </div>

      <div class="form_element">
        <label for="_Phone">
          <%= I18n.t('txt.users.edit.two_factor_authentication.phone_based.title') %>
        </label>

        <%= javascript_tag do %>
          function renderTwoFactorPhoneModal() {
            jQuery.colorbox({
              html: <%= render('two_factor_authentication_phone').to_json.html_safe %>
            });
          };
        <% end %>

        <div class="form_field">
          <%= link_to_function I18n.t('txt.users.edit.two_factor_authentication.phone_based.setup_v2'), "renderTwoFactorPhoneModal()", :class => 'action' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
