<div class="icon bdr">
  <img src="<%= photo_path(user, :version => :thumb) %>" alt="User" class="user-thumb"/>
  <div>
    <% if user.is_agent? && (current_account.has_permission_sets? || current_account.light_agent_permission_set) %>
      <%= I18n.t('txt.admin.view.people.users.user.agent_label')%>
    <% else %>
      <%= user.roles == 0 ? '' : user.role_name_short %>
    <% end %>
  </div>
</div>

<div class="item-info">
  <h1>
    <%= user.is_active? ? link_to(h(user.name), user_path(user.id)) : h(user.name) %>
    <%- if user.foreign? -%>
      <span class="property"><%= I18n.t('txt.admin.view.people.users.user.shared_label') %></span>
    <%- end -%>

    <%= render_static_tags_for(user, 3) %>
    <% if user.organization %>
      <%= I18n.t('txt.admin.view.people.users.user.at_label', :organization => (link_to h(user.organization.name), organization_path(user.organization), {:class => 'light'})) %>
      <%= render_static_tags_for(user.organization, 3) %>
    <% end %>
  </h1>

  <p class="info">
    <%= user.main_identity %>
    <%= I18n.t('txt.admin.view.people.users.user.unverified') unless user.is_verified? %>
  </p>

  <% if current_user.is_agent? && user.is_agent? && (current_account.has_permission_sets? || current_account.light_agent_permission_set) %>
    <p class="info role">
      <%= if (current_account.has_polaris? && (user.is_chat_agent? || user.is_contributor?))
         I18n.t('txt.default.roles.outdated_role', :role => permission_set_name_or_link(user))
      else
         permission_set_name_or_link(user)
      end %>
    </p>
  <% end %>
</div>

<% if user.is_agent? && !user.user_seats.empty? %>
  <div class="item-info">
    <span class="seat-type">
      <%= user.user_seats.map do |s|
        if s.seat_type == 'voice'
          I18n.t('txt.admin.view.people.users.user.seat_type.talk')
        else
          I18n.t('txt.admin.view.people.users.user.seat_type.' + s.seat_type)
        end
      end.join(', ') %>
    </span>
  </div>
<% end %>

<%- if user.is_active? -%>
  <div class="user_actions">

    <%- if !is_assuming_user? && current_user.can?(:assume, user) -%>
      <span class="user_action assume">
        <%= link_to I18n.t('txt.admin.view.people.users.user.assume_label'), assume_user_path(user), :title => I18n.t('txt.admin.view.people.users.user.assume_text'), data: {method: :post} %>
      </span>
    <%- end -%>

    <%- if user.foreign? && current_user.can?(:delete, user) -%>
      <span class="user_action">
        <%= link_to(I18n.t('txt.admin.view.people.users.user.delete_label'), user_path(user, :return_to => request.fullpath), :class => 'edit_this',
                    :data => {
                      :confirm => user.foreign_agent? ? I18n.t("txt.admin.view.people.users.user.delete_confirmation_message_agent", :user_name => h(user.name)) : I18n.t("txt.admin.view.people.users.user.delete_confirmation_message_end_user", :user_name => h(user.name)),
                      :method => :delete
                    },
            ) %>
      </span>
    <%- end -%>

    <%- if current_user.can?(:edit, user) -%>
      <span class="user_action">
        <%= link_to I18n.t('txt.admin.view.people.users.user.edit_label'), edit_user_path(user, :return_to => request.fullpath), { :class => 'edit_this', :rel => 'edit' } %>
      </span>
    <%- end -%>

    <%- if allow_user_bulk_update && (display_bulk_update? || display_seat_bulk_update?) -%>
      <span class="user_action individual_bulk_checkbox">
        <%- if user.role_can_be_changed? || (!user.identities.email.empty? && voice_feature_enabled?(:user_seats))  -%>
          <%= check_box_tag 'users[ids][]', user.id, false, :class => 'checkbox', :id => "users_id_#{user.id}" %>
        <%- else -%>
          <%= check_box_tag 'invalid[]', nil, false, :class => 'checkbox disabled', :disabled => true, :title => I18n.t('txt.admin.view.people.users.user.no_proper_identity') %>
        <%- end -%>
      </span>
    <%- end -%>

  </div>
<%- end -%>
