<% @page_title = @user.id ? @user.name : I18n.t('txt.admin.view.people.users.edit.new_user_label') %>
<%= js_init @user.id -%>

<%= render :partial => 'sidebar' %>

<%= div_content do %>

  <h2><%= @page_title %>
    <% if params[:return_to].present? %>
      <span class="sub">
        <%= link_to(I18n.t('txt.user.profile.back_label'), return_to_parser.return_to_url) %>
      </span>
    <% end %>
  </h2>

  <%= zd_tabs do %>
    <%= zd_tab(I18n.t('txt.users.edit.basic_info'), :id => 'basic_info') do %>
      <%= render :partial => 'basic_info' %>
    <% end %>

    <%= zd_tab(I18n.t('txt.users.edit.identities'), :id => 'identities') do %>
      <%= render :partial => 'identities' %>
    <% end %>

    <% if current_account.has_permission_sets? && current_user.can?(:edit, @user) && (current_user.is_admin? || current_user != @user) %>
      <%= zd_tab(I18n.t('txt.admin.view.people.users.edit.role_groups_label')) do %>
        <%= render :partial => 'role_and_groups_form' %>
      <% end %>
    <% end %>

    <% if current_user == @user && @user.eligible_for_2fa? %>
      <%= zd_tab(I18n.t('txt.users.edit.two_factor_authentication.label'), :id => 'two_factor_authentication') do %>
        <%= render :partial => 'two_factor_authentication_splash' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
