<div class="content">
  <p><%= I18n.t('txt.merge.enter_email') %></p>

  <%= form_tag('/users/merge_with_email', :method => 'put') do %>
    <div class="field-wrapper">
      <label data-role="title"><%= I18n.t('txt.users.edit.email') %></label>
      <%= text_field_tag :email, '', :id => :user_merge_email %>
    </div>
    <div class="field-wrapper">
      <div class="action">
      <%= submit_tag I18n.t('txt.merge.add_email'), :class => 'button fullwidth', :id => :user_merge_submit_email %>
      </div>
    </div>
    <%= hidden_field_tag :return_to, params[:return_to] %>
  <% end %>
</div>
