<div class="lv_action" style="width:450px;">

  <div id="user_merge_email_form">
    <h1 style="margin-bottom: 0.5em;"><%= current_account.name %></h1>
    <p><%= I18n.t('txt.merge.enter_email') %></p>

    <%= form_remote_tag(:url => '/users/merge_with_email', :before => 'if ($z("people/users/merge").on_email_submit()) {return false}', :method => 'put') do %>
      <h3><%= I18n.t('txt.users.edit.email') %></h3>
      <%= text_field_tag :email, '', :style => 'width: 250px', :id => :user_merge_email %>&nbsp;
      <%= submit_tag I18n.t('txt.merge.add_email'), :class => 'buttonsubmit', :id => :user_merge_submit_email %>
      <%= hidden_field_tag :return_to, params[:return_to] %>
      <%= image_tag '/images/bar_load.gif', :id => 'user_merge_waiting_for_email', :style => 'display:none;' %>
    <% end %>
  </div>

  <div id="user_merge_password_form" style="display:none;">
    <h1 style="margin-bottom: 0.5em;"><%= I18n.t('txt.merge.title_user_exists') %></h1>
    <p><%= I18n.t('txt.merge.user_exists', :email => '<strong id="user_merge_password_email_display"></strong>') %></p>

    <%= form_remote_tag(:url => '/users/merge_with_winner',
                       :before => 'if ($z("people/users/merge").on_password_submit()) {return false}',
                       :method => 'put',
                       :failure => "alert(#{I18n.t('txt.admin.view.people.users.merge.too_many_fail_attempts_alert_new').to_json}); $j('#cboxClose').click(); showFlash(#{I18n.t('txt.admin.view.people.users.merge.too_many_fail_attempts_show_flash').to_json}, 'error');" ) do %>
      <h3><%= I18n.t('txt.access.index.password') %></h3>
      <%= password_field_tag :password, '', :style => 'width: 150px', :id => :user_merge_password %>&nbsp;
      <%= submit_tag I18n.t('txt.access.help.submit'), :class => 'buttonsubmit', :id => :user_merge_submit_password %>
      <%= hidden_field_tag :return_to, params[:return_to] %>
      <%= hidden_field_tag :email, '', :id => :user_merge_email_for_password_form %>
      <%= image_tag '/images/bar_load.gif', :id => 'user_merge_waiting_for_password', :style => 'display:none;' %>
    <% end %>
  </div>

</div>
