<div class="content">
  <h1 style="margin-bottom: 0.5em;"><%= I18n.t('txt.merge.title_user_exists') %></h1>
  <p><%= I18n.t('txt.merge.user_exists', :email => '<strong id="user_merge_password_email_display"></strong>') %></p>

  <%= form_tag '/users/merge_with_winner', :method => 'put' do %>
    <h3><%= I18n.t('txt.access.index.password') %></h3>
    <div class="field-wrapper">
      <%= hidden_field_tag :email, params[:email] %>
      <%= password_field_tag :password, '', :id => :user_merge_password %>
    </div>
    <div class="field-wrapper">
      <%= submit_tag I18n.t('txt.access.help.submit'), :class => 'button fullwidth', :id => :user_merge_submit_password %>
    </div>
  <% end %>
</div>
