<% @page_title = I18n.t('txt.admin.view.people.users.new.new_user_label') %>
<%= js_init @user.id -%>

<%= render :partial => 'sidebar' %>

<%= div_content do %>

  <h2><%= @page_title %></h2>

  <%= zd_tabs do %>
    <%= zd_tab(I18n.t('txt.admin.view.people.users.new.new_user_label')) do %>
      <%= render :partial => 'basic_info' %>
    <% end %>
  <% end %>

<%- end -%> <!-- content div -->
