<% user_count = @user_ids.count %>

<div class="lv_action" id="select_bulk_action_lightbox" style="padding: 20px">
  <h1><%= I18n.t('txt.admin.view.people.users.select_bulk_action.edit_agents_title') %></h1>

  <p class="description">
      <%= I18n.t('txt.admin.view.people.users.select_bulk_action.will_affect_2', count: user_count) %>
  </p>

  <%= form_tag(bulk_users_path, :method => :put) do %>

    <% if display_bulk_update? %>
      <div class="form_element">
        <label><%= I18n.t('txt.admin.view.people.users.select_bulk_action.role_label') %></label>
        <% role_options = permission_sets_list(current_account).map {|ps| [ps[:name], ps[:id]]}.unshift([I18n.t('txt.admin.view.people.users.select_bulk_action.no_change_label'), '']) %>
        <%= select :users, :permission_set, role_options %>

        <% if @includes_account_owner %>
          <div class="warning"><%= I18n.t('txt.admin.view.people.users.select_bulk_action.warning_account_owner') %></div>
        <% end %>
      </div>
    <% end %>

    <% if @can_edit_voice_seat && voice_feature_enabled?(:user_seats) %>
      <div class="form_element">
        <label><%= I18n.t('txt.admin.view.people.users.select_bulk_action.talk_label') %></label>

        <select name="users[voice_seat]">
          <option value=""><%= I18n.t('txt.admin.view.people.users.select_bulk_action.no_change_label') %></option>
          <option value="enable"><%= I18n.t('txt.admin.view.people.users.select_bulk_action.voice_enabled_label') %></option>
          <option value="disable"><%= I18n.t('txt.admin.view.people.users.select_bulk_action.voice_disabled_label') %></option>
        </select>
      </div>
    <% end %>

    <% @user_ids.each do |id| %>
      <%= hidden_field_tag 'users[ids][]', id, :id => "user_id_#{id}" %>
    <% end %>
    <%= submit_tag I18n.t('txt.admin.view.people.users.select_bulk_action.submit_label'), :class => 'button' %>
  <% end %>

  <%- if legacy_agent_selected?(@user_ids) -%>
    <p class="warning" style="width: 250px;"><%= I18n.t('txt.admin.view.people.users.select_bulk_action.warning_reassignment') %>
    </p>
  <%- end -%>
</div>
