<% @page_title = @user.name %>
<%= js_init(@user.id, @user.identities.twitter.map(&:id)) %>

<%= render :partial => "sidebar" %>

<%= div_content('grey main-user-profile grey') do %>

  <% if @user.is_active? %>
    <div class="content-top-right">

      <% if current_user.can?(:edit, @user) %>
        <%= link_to(I18n.t('txt.users.show.edit'), edit_user_path(@user.id), :class => 'edit_this', :rel => 'edit') %>
      <% end %>

      <% edit_menu = edit_options(@user) %>
      <% unless edit_menu.blank? %>
        <ul class="floating_menu"><%= edit_menu %></ul>
      <% end %>

    </div>
  <% end %>

  <img src="<%= photo_path(@user) %>" class='avatar' />

  <h2>
    <%= h(@user.name) %>
    <%= I18n.t('txt.admin.view.people.users.show.deleted_label') if !@user.is_active? %>

    <%- if @user.foreign? -%>
      <span class="property"><%= I18n.t('txt.admin.view.people.users.user.shared_label') %></span>
    <%- end -%>

    <%= ('<span class="line">' + I18n.t("txt.admin.views.people.users.show") + '</span>').html_safe if !@user.is_verified? %>
    <%= render_static_tags_for(@user) if current_user.is_agent? %>
  </h2>

  <% if current_user.is_agent? && @user.organization.present? %>
    <h3>
      <%= link_to(@user.organization.name, organization_path(@user.organization)) %>
      <%= render_static_tags_for(@user.organization) %>
    </h3>
  <% end %>

  <% if current_account.has_customer_satisfaction_enabled? %>
    <%= render :partial => "mini_dashboard" %>
  <% end %>

  <div class='profiles'>
    <div class="profile_left">
      <h3><%= I18n.t('txt.users.show.contact_information') %></h3>
      <% @user.identities.email.each do |identity| %>
        <p class="user-mail">
        <a href="mailto:<%= identity.value %>"><%= identity.value %></a>
        <% unless identity.is_verified? %>
          <span class="incomplete zd_label"><%= I18n.t('txt.users.edit.email_not_verified') %></span>
          <% if current_user.can?(:send_verification_email, @user) %>
            <strong><%= link_to I18n.t('txt.admin.view.people.users.show.send_verification_email_again'), {:action => 'resend_welcome_email', :id => @user.id, :identity_id => identity.id}, data: {method: :post} %></strong>
            <% if current_user.can?(:verify_now, @user) %>
              <%= I18n.t('txt.admin.helpers.people.people_helper.or_label') %>
            <% end %>
          <% end %>
          <% if current_user.can?(:verify_now, @user) %>
            <%= link_to I18n.t('txt.admin.view.people.users.show.verify_now_label'), :action => 'verify', :id => @user.id, :identity_id => identity.id %>
          <% end %>
        <% end %>
        </p>
      <% end %>

      <% @user.unverified_email_addresses.each do |email_address| %>
        <p class="user-mail">
        <a href="mailto:<%= email_address.email %>"><%= email_address.email %></a>
        <span class="incomplete zd_label"><%= I18n.t('txt.users.edit.email_not_verified') %></span>
        <% if current_user.can?(:send_verification_email, @user) %>
          <strong><%= link_to I18n.t('txt.admin.view.people.users.show.send_verification_email_again'), resend_email_user_unverified_email_address_path(@user, email_address) %></strong>
          <% if current_user.can?(:verify_now, @user) %>
            <%= I18n.t('txt.admin.helpers.people.people_helper.or_label') %>
          <% end %>
        <% end %>
        <% if current_user.can?(:verify_now, @user) %>
          <%
            if email_address.will_merge_with_user.present?
              msg = I18n.t('txt.admin.view.people.users.show.merge_into', :email_address => email_address.will_merge_with_user.email_address_with_name_without_quotes )
            else
              msg = I18n.t('txt.admin.view.people.users.show.verify_now_label')
            end
          %>
          <%= link_to msg, manual_agent_verify_user_unverified_email_address_path(@user, email_address) %>
        <% end %>
        </p>
      <% end %>

      <% @user.identities.twitter.each do |identity| %>
        <% if identity.twitter_user_profile.present? %>
          <p class="user-twitter">
          <a href="http://twitter.com/<%= identity.twitter_user_profile.screen_name %>">@<%= h(identity.twitter_user_profile.screen_name) %></a>
          <% if current_user.is_agent? %>
            <span class="visibility-controls">
              <a class="toggle-twitter-data"><strong><%= I18n.t('txt.admin.view.people.users.show.view_properties_label') %></strong></a>
              <a class="toggle-twitter-data" style="display:none;"><strong><%= I18n.t('txt.admin.view.people.users.show.hide_properties_label') %></strong></a>
            </span>
          <% end %>
          </p>
        <% end %>

        <div class="twitter-properties">
          <div>
            <% if twitter_user_profile = identity.twitter_user_profile %>
              <h4><%= I18n.t('txt.admin.view.people.users.show.twitter_properties') %></h4>
              <dl class='twitter_properties user_properties'>
                <% twitter_properties(twitter_user_profile).each do |(key, value)| %>
                  <%= content_tag(:dt, "#{key}:") %>
                  <%= content_tag(:dd, "#{value}") %>
                <% end %>
              </dl>
            <% else %>
              <%= I18n.t('txt.admin.view.people.users.show.twitter_properties_text') %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @user.login_allowed?(:facebook) %>
        <% @user.identities.facebook.each do |identity| %>
          <p class="user-facebook">
          <a href="http://facebook.com/profile.php?id=<%= identity.value %>"><%= identity.user.name %></a>
          </p>
        <% end %>
      <% end %>

      <% if current_user.is_agent? && !@user.external_id.blank? %>
        <p class="user-external-id"><%= @user.external_id %><%= I18n.t('txt.admin.view.people.users.show.external_id') %></p>
      <% end %>

      <%= render :partial => "phone_number_section" %>
    </div><!-- End of Left Column-->

    <% if current_user.is_agent? %>
      <div class="profile_right">
        <h3><%= I18n.t('txt.admin.view.people.users.show.profile_information_label') %></h3>
        <div class="agent-profile" style="float:left;">
          <ul>
            <% if @user.is_agent? && current_account.has_agent_display_names? && @user.agent_display_name.present? %>
              <li><%= I18n.t('txt.admin.view.people.users.show.public_name_label', :public_name => "<strong>#{ @user.agent_display_name }</strong>") %></li>
            <% end %>

            <% if @user.is_agent? && !@user.is_admin? && @user.subscription.plan_type != SubscriptionPlanType.ExtraLarge %>
<li><%= I18n.t('txt.admin.view.people.users.show.access_role', :role_name => "<strong>#{I18n.t('txt.views.people.user.access_to_' + @user.restriction_id.to_s)}</strong>") %>
              <% if @user.end_user_restriction?(:requested) && @user.organization && @user.organization.is_shared? %>
                <br/><%= I18n.t('txt.admin.view.people.users.show.note_member_of_shared_organization', :organization_label => link_to(I18n.t('txt.admin.view.people.users.show.organization'), organization_path(@user.organization))) %>
              <% end %>
              </li>
              <% if @user.can?(:moderate, Entry) %>
                <li><%= I18n.t('txt.admin.view.people.users.show.can_moderate_topics') %></li>
              <% end %>
            <% elsif @user.is_end_user? %>
              <li><%= I18n.t('txt.admin.view.people.users.show.access_role', :role_name => "<strong>#{I18n.t('txt.views.people.user.access_to_' + @user.restriction_id.to_s)}</strong>") %> </li>
            <% end %>

            <% if @user.is_agent? && current_account.groups.count > 1 %>
              <li><%= group_label(@user.groups) %> <%= display_groups(@user.groups) %></li>
            <% end %>

            <% if current_account.has_individual_language_selection? && current_account.available_languages.size > 1 %>
              <li><%= I18n.t('txt.admin.view.people.users.show.language_name', :language_name => "<strong>#{ @user.translation_locale.localized_name(display_in: I18n.translation_locale)}</strong>") %></li>
            <% end %>
            <li><strong><%= textual_time_zone(@user.time_zone) %></strong></li>
            <li><%= I18n.t('txt.admin.view.people.users.show.created_label', :date => "<strong>#{format_date(@user.created_at, with_time: true)}</strong>") %></li>
            <li><%= I18n.t('txt.admin.view.people.users.show.last_login_label', :date => "<strong>#{@user.last_login.nil? ? I18n.t('txt.views.people.user.never_login') : format_date(@user.last_login, with_time: true)}</strong>") %></li>
            <% if current_user.is_zendesk_agent? %>
            <li><%= I18n.t('txt.admin.view.people.users.show.shard_label', :shard_id => "<strong>#{@user.account.shard_id}</strong>") %></li>
            <% end %>
          </ul>
        </div> <!-- End of profile info-->
      </div>
    <% end %>

  </div>

  <div class="clearfix" style="clear: both;"></div>

<% end %>

<% if current_user.is_agent? && current_account.crm_integration_enabled? %>
  <%= div_content do %>
    <h2>
      <%= I18n.t('txt.admin.view.people.users.show.information_crm_label', :crm_integration_name => current_account.crm_integration.integration_name) %>
      <span id="crm_loading"><img src="/images/loader.gif"/></span>
    </h2>
    <%= javascript_tag do %>
      $j(document).ready(function() {
      var crmApp = new Zendesk.CRM.Application(new Zendesk.CRM.ProfileRenderer());
      <% if @user.crm_data.present? %>
        crmApp.renderData(<%= @user.crm_data.records.to_json.gsub('/','\/').html_safe %>, <%= @user.crm_data.status.to_json.html_safe %>);
      <% end %>
      <% if @user.needs_crm_sync? %>
        crmApp.fetchAndRenderData('<%= sync_user_info_crm_path(:id => @user.id, :format => 'json') %>');
      <% end %>
      });
    <% end %>
    <script type="text/html" id="crm_template">
      <%= render :partial => "crm/profile_widget" %>
    </script>

    <script type="text/html" id="crm_error_template">
      <%= I18n.t('txt.admin.view.people.users.show.error_fetching_data') %>
    </script>

    <div id="crm_user_data"></div>
  <% end %>
<% end %>

<%= form_tag( {:action => :select_bulk_action}, :id => 'bulk_form', :class => 'tabs') do %>
  <%= div_content do %>
    <div class="tabbed_container" mode="static" <%= 'id="history"'.html_safe if @posts.present? %>>
      <div class="tab_links clearfix">
        <%= user_association_links.join_preserving_safety %>
      </div>

      <%= render :partial => '/search/result', :locals => { :records => @ccs } %>
      <%= render :partial => '/search/result', :locals => { :records => @entries } %>
      <%= render :partial => '/search/result', :locals => { :records => @posts } %>
      <%= render :partial => '/search/result', :locals => { :records => @voted_entries } %>
      <%= render :partial => '/search/result', :locals => { :records => @watchings } %>
      <%- if on_devices_tab? && show_devices_tab? %>
        <%= render :partial => '/devices/device' %>
      <%- end %>

      <%= render :partial => 'shared/tickets_table', :locals => { :tickets => @tickets, :options => {:output => @output, :sorting_allowed => current_user.is_agent?}} %>
      <% if @tickets && @tickets.blank? %>
        <div class="frame">&nbsp;</div>
      <% end %>
    </div>

  <% end %>
<% end %>

<%= render :partial => 'rules/bulk_update' if @tickets && @tickets.any? %>
