h2 {
  text-align: left;

  html[data-rtl-language='true'] & {
    text-align: right;
  }
}

.resizable.ui-resizable + p > a {
  html[data-rtl-language='true'] & {
    margin-right: -16px;
  }
}

#recipient_addresses {
  h3 {
    display: inline-block;
    margin: 5px 0 !important;
    width: auto !important;

    a {
      font-size: 16px !important;
    }
  }

  code {
    background-color: #E9EBED;
    color: black;
  }

  .sub_setting {
    border: 1px solid darkgray;
    border-radius: 5px;
    margin: 10px 0;
    padding: 0 15px;
  }

  .item{
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .gear {
    height: 16px;
    width: 16px;
  }

  .float_label {
    html[data-rtl-language='true'] & {
      float: right;
    }

    > img {
      vertical-align: middle;
    }
  }

  a[rel=tooltip]{
    text-decoration: none;
  }

  .ra_verification_check {
    margin-bottom: 8px;
  }

  .ra_verification_details {
    margin-bottom: 1em;
    margin-left: 22px;

    html[data-rtl-language='true'] & {
      margin-right: 22px;
      margin-left: auto;
    }
  }

  .verification_details {
    position: absolute;
    margin-left: 18px;
    margin-top: 3px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background: white;
    padding: 5px;

    html[data-rtl-language='true'] & {
      margin-right: 18px;
    }

    img {
      vertical-align: bottom;
    }
  }

  .verification-status-icon {
    display: inline-block;
    position: relative;
    float: left;
    top: 3px;
    margin-right: 8px;
    height: 14px;
    width: 14px;

    html[data-rtl-language='true'] & {
      float: right;
      margin-right: 0;
      margin-left: 8px;
    }

    &.status-failed {
      color: #CC3340;
    }

    &.status-warning {
      color: #F5A133;
    }

    &.status-verified {
      color: #038153;
    }
  }

  .verification_detail {
    counter-reset: section;
    padding-left: 23px;

    html[data-rtl-language='true'] & {
      padding-left: 0;
      padding-right: 23px;
    }

    li {
      counter-increment: section;
      margin-top: 1em !important;
      list-style: none;

      &::before {
        content: counters(section, ".") ". ";
      }

      .verification_status_icon {
        top: 2px;
      }
    }
  }

  .verification_button {
    text-align: right;

    html[data-rtl-language='true'] & {
      text-align: left;
    }
  }

  .c-btn{
    display:inline-block;
    transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
    margin:0;
    border:1px solid #5293c7;
    border-radius:4px;
    background-color:transparent;
    cursor:pointer;
    padding:0 1.92857em;
    min-width:8.57143em;
    overflow:hidden;
    vertical-align:middle;
    text-align:center;
    text-decoration:none;
    text-overflow:ellipsis;
    line-height:38px;
    white-space:nowrap;
    color:#1f73b7;
    font-family:inherit;
    font-size:14px;
    font-weight: normal !important;
    -webkit-font-smoothing:subpixel-antialiased;
    box-sizing:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
  }

  .c-btn:focus {
    box-shadow: 0 0 0 3px rgba(31, 115, 183, .35);
  }

  .c-btn.is-hovered.is-hovered, .c-btn:hover:hover {
    border-color: transparent;
    background-color: #5293c7;
    text-decoration: none;
    color: #fff;
  }

  .c-btn--sm {
    padding: 0 2.25em;
    min-width: 8.33333em;
    line-height: 30px;
    font-size: 12px;
  }

  .c-btn--primary {
    border-color: transparent;
    background-color: #1f73b7;
    color: #fff !important;
  }

  .verification_check {
    html[data-rtl-language='true'] & {
      float: right;
    }
  }

  .verification_header {
    html[data-rtl-language='true'] & {
      float: right;
    }
  }

  .verification_resolution {
    border: 1px solid #999;
    border-radius: 4px;
    line-height: 2em;
    margin: 1em auto;
    padding: 1em;
  }

  .verifications_toggle {
    text-decoration: none;
    margin-left: 8px;

    html[data-rtl-language='true'] & {
      margin-left: 0px;
      margin-right: 8px;
    }

    .chevron {
      background-image: url('/classic/images/icons/chevron.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      display: inline-block;
      width: 14px;
    }

    &.expanded .chevron {
      transform: rotate(180deg);
    }
  }

  .credential_connection_controls {
    float: right;
    position: relative;

    html[data-rtl-language='true'] & {
      float: left;
    }
  }

  .item {
    overflow: visible;
  }

  .item-actions {
    float: right;
    margin-left: 15px;
    margin-right: 0;

    html[data-rtl-language='true'] & {
      float: left;
      margin-left: 0;
      margin-right: 15px;
    }

    .address-action + .address-action {
      border-left: 1px solid #BBB;

      html[data-rtl-language='true'] & {
        border-right: 1px solid #BBB;
        border-left: 0;
      }
    }

    .address-action {
      float: left;
      margin-top: 0;
      margin-right: 0;
      padding: 0 5px;

      html[data-rtl-language='true'] & {
        float: right;
        margin-left: 0;
      }
    }

    ul {
      margin-left: 0;
      padding-left: 0;
      padding-top: 0;

      html[data-rtl-language='true'] & {
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
      }
    }
  }

  .item-info {
    float: none;
    display: inline-block;

    &.detailed {
      width: 100%;

      .verification_status {
        float: left;
        margin-top: 2px;

        html[data-rtl-language='true'] & {
            float: right;
        }
      }
    }
  }

  .tab-top-right {
    position: relative;

    html[data-rtl-language='true'] & {
      float: left;
    }
  }

  .dropdown-wrapper {
    .dropdown.trigger {
      position: relative;
      background: url(/classic/images/icons/chevron.svg) 7px 7px no-repeat;
      padding-right: 18px;
      background-position: right;

      html[data-rtl-language='true'] & {
        padding-left: 18px;
        padding-right: 0;
        background-position: left;
      }
    }

    a {
      text-decoration: none;
      white-space: nowrap;
      color: #333333;
      font-weight: 300;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      color: #666666;
      background-color: #FFFFFF;

      ul.container {
        display: none;
      }

      &:hover {
        ul.container {
          display: block;
          color: #555555;
        }
      }

      &.separator {
        width: 100%;
        border: none;
        border-bottom: 1px solid #dddddd;
        height: 0px;
      }
    }

    ul.container {
      display:none;
      border-radius: 4px;
      width: auto;
      position: absolute;
      display: block;
      border: 1px solid #DDDDDD;
      box-shadow: 1px 1px 1px #999999;
      padding: 0;
      background-color: #FFFFFF;
      right: 0;
      top: 18px;
      z-index: 999;

      html[data-rtl-language='true'] & {
        left: 0;
        right: auto;
      }

      li.item {
        padding: 12px;
        margin: 0;
        border: none;
        display: block;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }

  .pagination {
    width: 100% !important;
    margin: 5px 0 20px 0;
    clear: both;
  }
}

#recipient_address_form {
  html[data-rtl-language='true'] & {
    text-align: right;
  }

  span.email {
    color: #AAA;
    margin-top: 3px;
    width: 220px; // truncate too long emails
  }

  a[rel='tooltip'] {
    margin-top: 0.25em;
    display: block;
    float: right;
    html[data-rtl-language='true'] & {
      float: left;
    }
  }

  .header_example {
    padding: 5px 10px 10px;
    margin: 7px 0 14px;
    border: 1px solid #ccc;

    html[data-rtl-language='true'] & {
      direction: rtl;
    }

    td {
      padding-top: 5px;
      padding-left: 10px;
      .truncate {
        white-space: inherit; // we have 2 lines to work with
      }

      html[data-rtl-language='true'] & {
        padding-right: 10px;
        padding-left: 0;
      }
    }

    .label {
      vertical-align: top;
      text-align: left;
      color:#999;
      padding-right: 10px;
      padding-left: 0px;
      white-space: nowrap;

      html[data-rtl-language='true'] & {
        text-align: right;
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }

  .submit-button {
    text-align: right;

    html[data-rtl-language='true'] & {
      text-align: left;
    }
  }
}

#ace_html_editor_container {
  height: 340px;
}

#ace_text_editor_container {
  height: 60px;
}

.ui-tooltip-content {
  html[data-rtl-language='true'] & {
    text-align: right;
  }
}
