<div class="cols2 clearfix">
  <div class="col2 left">
    <h3><%= I18n.t('txt.admin.views.account.chat_settings._zopim.zopim_unique_title') %></h3>
    <p><%= I18n.t('txt.admin.views.account.chat_settings._zopim.zopim_unique_text') %></p>
  </div>
  <div class="col2 right">
    <h3><%= I18n.t('txt.admin.views.account.chat_settings._zopim.zopim_free_title') %></h3>
    <p><%= I18n.t('txt.admin.views.account.chat_settings._zopim.zopim_free_text') %></p>
  </div>
</div>
