<div class="cols3 clearfix">
  <div class="col3">
    <%= image_tag('chat/agent/ico_handshake.svg', :alt => I18n.t('txt.admin.views.account.chat_settings._zopim.handshake_label'), :width => "161", :height => "160" ) %>
    <h3><%= I18n.t('txt.admin.views.account.chat_settings._zopim.proactive_title') %></h3>
    <p><%= I18n.t('txt.admin.views.account.chat_settings._zopim.proactive_text_v2') %></p>
  </div>
  <div class="col3">
    <%= image_tag('chat/agent/ico_hearts.svg', :alt => I18n.t('txt.admin.views.account.chat_settings._zopim.hearts_label'), :width => "161", :height => "160" ) %>
    <h3><%= I18n.t('txt.admin.views.account.chat_settings._zopim.convenience_title') %></h3>
    <p><%= I18n.t('txt.admin.views.account.chat_settings._zopim.convenience_text') %></p>
  </div>
  <div class="col3">
    <%= image_tag('chat/agent/ico_rocket.svg', :alt => I18n.t('txt.admin.views.account.chat_settings._zopim.rocket_label'), :width => "161", :height => "160" ) %>
    <h3><%= I18n.t('txt.admin.views.account.chat_settings._zopim.productivity_title') %></h3>
    <p><%= I18n.t('txt.admin.views.account.chat_settings._zopim.productivity_text') %></p>
  </div>
</div>
