<div class="zopim-subscription clearfix">
  <div class="trial-header">
    <% if @zopim_subscription.is_trial? || @zopim_subscription.expired_trial? %>
      <h2>
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.zopim_chat') %>
        <% unless @zopim_subscription.expired_trial? %>
          <span><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.trial') %></span>
        <% end %>
      </h2>

      <% unless @is_sales_assisted %>
        <% if @zopim_subscription.expired_trial? %>
          <div class="adjust-plan"><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.adjust_plan') %>
          </div>

          <div class="trial-expired">
            <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.trial_expired') %>
          </div>
        <% else %>
          <% if @is_owner %>
            <div class="<%= current_account.subscription.is_trial? ? "buy-zendesk" : "buy-zopim" %>">
              <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.buy_now') %>
            </div>
          <% end %>

          <div class="days-remaining">
            <% if @zopim_subscription.days_left_in_trial == 1 %>
              <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.trial_days_remaining.one',
                :trial_days => @zopim_subscription.days_left_in_trial ) %>
            <% else %>
              <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.trial_days_remaining.many',
                :trial_days => @zopim_subscription.days_left_in_trial ) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h2>
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.zopim_chat') %>
      </h2>

      <% unless @is_sales_assisted %>
        <div class="adjust-plan"><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.adjust_plan') %>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr>
  <div class="zopim-features">
    <p><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.subscription')%></p>
    <p><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.agents')%></p>
    <p><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.concurrent_chats')%></p>
    <p><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.departments')%></p>
    <p><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.triggers')%></p>
    <p><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.widget')%></p>
  </div>
  <div class="zopim-feature-status">
      <p><%= @zopim_subscription.present_plan_type.capitalize %></p>
    <% if @zopim_subscription.max_agents == 1 %>
      <p><%=  I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.agents_used.one',
        :active_agents => @zopim_subscription.active_agents.count,
        :max_agents    => @zopim_subscription.max_agents
        )%>
      </p>
    <% else %>
      <p><%=  I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.agents_used.many',
        :active_agents => @zopim_subscription.active_agents.count,
        :max_agents    => @zopim_subscription.max_agents
        )
      %>
      </p>
    <% end %>
    <p><%= @zopim_subscription.concurrent_chats %></p>
    <P><%= @zopim_subscription.departments %></P>
    <p><%= @zopim_subscription.triggers %></p>
    <p class="widget-link"><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.get_script')%></p>
  </div>
</div>
