<div class="zopim-settings">
  <p><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.general_description') %></p>

  <div class="zopim-box dashboard" data-zopim-path="<%= @zopim_integration.app_path %>">
    <div>
      <div class="icon icon-1"></div>
      <div class="header">
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.dashboard.header') %>
      </div>
      <div class="body">
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.dashboard.description') %>
      </div>
    </div>
  </div>

  <div class="zopim-box app-settings">
    <div class="icon icon-2"></div>
    <div class="header">
      <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.app_settings.header') %>
    </div>
    <div class="body">
      <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.app_settings.description') %>
    </div>
  </div>

  <% if current_account.help_center_enabled? %>
    <div class="zopim-box help-center">
      <div class="icon icon-3"></div>
      <div class="header">
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.help_center.header') %>
      </div>
      <div class="body">
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.help_center.description') %>
      </div>
    </div>
  <% end %>
</div>
