<div class="zopim-marketing">
  <div>
    <%= image_tag "chat/agent/logo_zd_chat.png", :alt => I18n.t('txt.admin.views.account.chat_settings._zopim.zendesk_plus_zopim'),
      :height => 56, :width => 132
    %>
  </div>

  <h2 id="zopim-cta-header"><%= I18n.t('txt.admin.views.account.chat_settings._zopim.engaging_easier') %></h2>

  <p class="sub-header"><%= I18n.t('txt.admin.views.account.chat_settings._zopim.marketing_subheader') %></p>

  <a class="cta active"><%= I18n.t('txt.admin.views.account.chat_settings._zopim.get_started') %></a>
  <hr class="zopim-cta-separator" />
  <p class="zopim-customer" data-app-market-id=<%= app_market_id %>><%= I18n.t('txt.admin.views.account.chat_settings._zopim.already_zopim_customer') %></p>

  <div class="inner-tabs">
    <div class="tab-menu clearfix">
      <div class="tab-link-container left clearfix">
        <a class="current" href="#why_chat"><%= I18n.t('txt.admin.views.account.chat_settings._zopim.why_chat') %></a>
      </div>
      <div class="tab-link-container right clearfix">
        <a href="#still_questions"><%= I18n.t('txt.admin.views.account.chat_settings._zopim.still_questions') %></a>
      </div>
    </div>
    <div class="tab-content" id="why_chat">
      <%= render :partial => 'why_chat' %>
    </div>
    <div class="tab-content" id="still_questions">
      <%= render :partial => 'still_questions' %>
    </div>
  </div>
</div>
