<div class="zopim-settings">
  <p><%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.general_description_phaseII') %></p>
  <%= render :partial => 'zopim_subscription' %>

  <div class="settings-header">
    <%= I18n.t('txt.admin.views.layout.tabs._settings_tab.Settings_tab') %>
  </div>

  <div class="zopim-box dashboard" data-zopim-path="<%= @zopim_integration.app_path %>">
    <div>
      <div class="icon icon-1"></div>
      <div class="header">
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.dashboard.header') %>
      </div>
      <div class="body">
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.dashboard.description_phaseII') %>
      </div>
    </div>
  </div>

  <% if current_account.help_center_enabled? %>
    <div class="zopim-box help-center">
      <div class="icon icon-3"></div>
      <div class="header">
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.help_center.header') %>
      </div>
      <div class="body">
        <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.help_center.description') %>
      </div>
    </div>
  <% end %>

  <div class="settings-footer">
    <%= I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.footer_partI', :manage_apps => (link_to I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.footer_partII'), '/agent/admin/apps/manage', :target => '_parent')) %>
  </div>
</div>
