<% @page_title = I18n.t('txt.admin.views.account.chat_settings.show.chat_label') %>

<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.account.chat_settings.show.about_chat')) do %>
    <p>
      <%= I18n.t('txt.admin.views.account.chat_settings.show.There_are_two_types_of') %>    </p>
    <ul class='options'>
      <li>
        <h5><%= I18n.t('txt.admin.views.account.chat_settings.show.Chat_anywhere') %></h5>
      </li>
      <li>
        <h5><%= I18n.t('txt.admin.views.account.chat_settings.show.Chat_about_my_ticket') %></h5>
        <%= I18n.t('txt.admin.views.account.chat_settings.show.When_users_are_viewing_a') %>      </li>
    </ul>
  <% end %>
<% end %>

<%= div_content do %>
  <h2><%= @page_title %></h2>

  
    <p class="intro_text">
      <%= I18n.t('txt.admin.views.account.chat_settings.show.intro_text') %>
      <%= link_to(I18n.t('txt.admin.views.settings.portal._settings.learn_more_label'),
                  I18n.t('txt.admin.views.account.chat_settings.show.learn_more_link'),
                  :target => '_blank') %>
    </p>
  

  <%= zd_tabs do %>
    <%= zd_tab(I18n.t('txt.admin.views.account.chat_settings.zopim_chat_settings.tab'), :id => 'chat_settings_zopim') do %>
      <% if @zopim_subscription.present? and @zopim_subscription.is_active? %>
        <%= render :partial => 'zopim_settings_phaseII' %>
      <% elsif @zopim_integration.try(:app_installed?) %>
        <%= render :partial => 'zopim_settings_phaseI' %>
      <% else %>
        <%= render :partial => 'zopim_marketing', :locals => { :app_market_id => @app_market_id } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

 <%= js_init -%>
