<p class="intro_text">
  <%= I18n.t('txt.admin.views.settings.account._address_and_invoices.view_in_billing', cta_class: 'address-and-invoices-cta') %>
</p>

<script>
  var SERVICE_CONNECTION_ENDPOINT = '/api/v2/auth_billing/service_connection.json';

  $j('.address-and-invoices-cta').click(function(event) {
    if (<%= @account.multiproduct? %>) {
      var invoicesUrl = window.top.location.origin + '/admin/billing/invoices';
      window.top.location.href = invoicesUrl;
    } else {
      $j.get(SERVICE_CONNECTION_ENDPOINT)
        .done(function(resp) {
          var url = resp.service_connection.url;
          window.top.location.href = url + '#/invoices';
        })
        .fail(function(error) {
          var errorMessage = '<%= I18n.t("txt.plan_selection.oops_something_went_wrong") %>';
          window.lotusClient.growl(errorMessage, 'error');
        });
    }
  });
</script>
