<p class="intro_text">
  <%= I18n.t('txt.admin.views.settings.account._benchmark.Learn_how_well_your_support') %>  <%= learn_more(I18n.t('txt.admin.views.settings.account._benchmark.Learn_more'), :url => I18n.t("txt.launchpad.benchmark_survey.learn_more_link_with_params")) %>
</p>

<%= form_for [ :account, @benchmark ], :url => { :action => "update_benchmark", :anchor => "benchmark" },
      :html => {
        :method => :put,
        :class => 'two_column totango tracked',
        :id => 'account_survey_response_form',
        'data-tracking-module' => 'Benchmarking Survey',
        'data-tracking-activity' => @benchmark.new_record? ? 'Create' : 'Update'
      } do |form| %>
  <div class="element_group">
    <div class="form_element">
      <%= form.label :industry, I18n.t('txt.admin.views.settings.account._benchmark.Your_industry') %>
      <div class="form_field">
        <%= form.select :industry, translate_industries, :include_blank => I18n.t('txt.admin.views.settings.account._benchmark.Please_Select') %>
      </div>
    </div>

    <div class="form_element">
      <%= form.label :employee_count, I18n.t('txt.admin.views.settings.account._benchmark.Company_employee_count') %>
      <div class="form_field">
        <%= form.select :employee_count, Account::SurveyResponse::EMPLOYEE_COUNTS, :include_blank => I18n.t('txt.admin.views.settings.account._benchmark.Please_Select') %>
      </div>
    </div>

    <div class="form_element">
      <%= form.label :target_audience, I18n.t('txt.admin.views.settings.account._benchmark.Primary_support_segment') %>
      <div class="form_field">
        <%= form.select :target_audience, translate_target_audiences, :include_blank => I18n.t('txt.admin.views.settings.account._benchmark.Please_Select') %>
      </div>
    </div>

    <div class="form_element">
      <%= form.label :customer_count, I18n.t('txt.admin.views.settings.account._benchmark.Number_of_customers_served') %>
      <div class="form_field">
        <%= form.select :customer_count, translate_customer_counts, :include_blank => I18n.t('txt.admin.views.settings.account._benchmark.Please_Select') %>
      </div>
    </div>

    <div class="form_element">
      <%= form.label :support_structure, I18n.t('txt.admin.views.settings.account._benchmark.Your_support_structure') %>
      <div class="form_field">
        <%= form.select :support_structure, translate_support_structures, :include_blank => I18n.t('txt.admin.views.settings.account._benchmark.Please_Select') %>
        <%= form.hidden_field :agent_count, :value => '' %>
        <%= form.hidden_field :team_count, :value => '' %>
        <div id="account_support_structure_sub_setting" class="sub_setting">
          <div id="agent_count_sub_setting">
            <div class="form_field">
              <%= form.label :agent_count, I18n.t('txt.admin.views.settings.account._benchmark.Number_of_agents') %>
              <%= form.text_field :agent_count %>
            </div>
          </div>

          <div id="team_count_sub_setting">
            <div class="form_field">
              <%= form.label :team_count, I18n.t('txt.admin.views.settings.account._benchmark.Number_of_teams') %>
              <%= form.text_field :team_count %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.account._benchmark.save_tab_button'), :class => "button save", :id => "settings_account_benchmark_save_button") %>
  </div>
<% end %>

<% content_for :script_onload_at_end do %>
  var conditionallyShowSupportStructureSubSettings = function() {
    $j("#account_support_structure_sub_setting").show();

    var val = $j("#account_survey_response_support_structure").val();

    if (val == "dedicated_team") {
      $j("#agent_count_sub_setting").show().find('input').prop('disabled', false);
      $j("#team_count_sub_setting").hide().find('input').prop('disabled', true);
    } else if (val == "support_organization"){
      $j("#agent_count_sub_setting").show().find('input').prop('disabled', false);
      $j("#team_count_sub_setting").show().find('input').prop('disabled', false);
    } else {
      $j("#account_support_structure_sub_setting").hide().find('input').prop('disabled', true);
    }
  };
  $j('#account_survey_response_support_structure').change(conditionallyShowSupportStructureSubSettings);
  conditionallyShowSupportStructureSubSettings();
<% end %>
