<% content_for :head do %>
  <%# For the mobile header preview %>
  <%= include_generated_mobile_stylesheets %>
<% end %>

<%= form_for :account, :url => { :action => "update_branding", :anchor => "branding" },
            :html => {
              :method => :put, :id => "settings-account-branding", :class => "two_column totango tracked",
              :multipart => true,
              'data-tracking-module' => 'Save Settings',
              'data-tracking-activity' => 'Personalize Zendesk'
            } do |f| -%>

  <div class="element_group">
    <fieldset class="form_element">
      <legend class='label'><%= I18n.t('txt.admin.views.settings.account._branding.colors_label') %></legend>
      <div class="form_field">
        <div class="left" style="overflow: hidden;">
          <%= label :branding, :header_color, I18n.t('txt.admin.views.settings.account._branding.brand_color_label') %>
          <% if @branding.header_color == default_zendesk_green %>
            <% # Post-Voltron (October 2016), we map our old default color to "algae" %>
            <%= text_field :branding, :header_color, value: "#{default_zendesk_algae}", :class => "palette color {pickerPosition:'right', pickerFaceColor:'#fff', pickerBorderColor: '#C3C3C3', pickerInsetColor:'#C3C3C3'}" %>
          <% else %>
            <%= text_field :branding, :header_color, :class => "palette color {pickerPosition:'right', pickerFaceColor:'#fff', pickerBorderColor: '#C3C3C3', pickerInsetColor:'#C3C3C3'}" %>
          <% end %>
        </div>

        <% if @branding.sidebox_color == 'F6F6F6' %>
          <%= hidden_field :branding, :sidebox_color %>
        <% else %>
          <div class="left" style="overflow: hidden;">
            <%= label :branding, :sidebox_color, I18n.t('txt.admin.views.settings.account._branding.Sidebar') %>
            <%= text_field :branding, :sidebox_color, :class => "palette color {pickerPosition:'right', pickerFaceColor:'#fff', pickerBorderColor: '#C3C3C3', pickerInsetColor:'#C3C3C3'}" %>
          </div>
        <% end %>

        <%= hidden_field :branding, :tab_background_color %>
        <%= hidden_field :branding, :tab_hover_color %>
        <%= hidden_field :branding, :text_color %>

        <p><%= I18n.t('txt.admin.views.settings.account._branding.Click_to_select_color_or') %></p>

        <% if !current_account.settings.activate_lotus_branding %>
          <div class="form_element">
            <%= check_box_tag :activate_color_branding %>
            <%= label_tag :activate_color_branding, I18n.t("txt.admin.views.settings.account.apply_custom_color_label"), :class => "checkbox_label" %>
          </div>

          <p id="activate_branding_description"><%= I18n.t("txt.admin.views.settings.account.apply_custom_color_description") %></p>
        <% end %>

        <% if lotus_branding_active? %>
          <a id="preview_color_link"><%= I18n.t('txt.admin.views.settings.account._branding.preview_link_text') %></a>
        <% end %>

        <p><a id="revert_colors_link"><%= I18n.t('txt.admin.views.settings.account._branding.Revert_to_default_colors') %></a></p>
      </div>

      <% content_for(:head) do %>
        <%= javascript_include_tag "color_bundle" %>
      <% end %>
    </fieldset>

    <div class="form_element">
      <%= f.label :name, I18n.t('txt.admin.views.settings.account._branding.Help_desk_name') %>
      <div class="form_field">
        <%= f.text_field :name, :class => 'title' %>
        <p>
          <%= I18n.t('txt.admin.views.settings.account._branding.help_desk_name_description') %><br/>
          <%= help_desk_name_does_not_affect_url_message %>
        </p>
      </div>
    </div>

    <div class="form_element">
      <%= label_tag :favicon_uploaded_data, I18n.t('txt.admin.views.settings.account._branding.Favicon') %>
      <div class="form_field">
        <%= render 'logo_upload', :key => 'favicon', :data => current_account.favicon, :text => favicon_description %>
      </div>
    </div>

    <div class="form_element">
      <%= f.label :host_mapping, I18n.t('txt.admin.views.settings.account._branding.host_mapping_label') %>
      <div class="form_field">
        <% @account_host_name = '<strong>' + current_url_provider.host_name(:mapped => false) + '</strong>' %>
        <% if current_account.subscription.has_host_mapping? -%>
          <% if current_account.has_multiple_active_brands? %>
            <p>
              <%= I18n.t('txt.admin.views.settings.account._branding.what_host_mapping_is', :account_host_name => @account_host_name) %>
              <%= I18n.t('txt.admin.views.settings.account._branding.brands_have_unique_host_mapping') %>
            </p>
            <p><b><%= link_to I18n.t('txt.admin.views.settings.account._branding.Brands_menu'), "/agent/admin/brands", :target => "_parent" %></b></p>
          <% else %>
            <%= f.text_field :host_mapping, :size => 65 %>
            <% @account_host_name_params_translation = '<b>' + current_url_provider.host_name(:mapped => false) + '</b>' %>
            <p><%= I18n.t('txt.admin.views.settings.account._branding.Use_this_setting_to_map2', :support_url => "<strong>#{I18n.t('txt.admin.views.settings.account._branding.support_url')}</strong>", :account_host_name => @account_host_name_params_translation) %>
              <%= link_to I18n.t('txt.admin.views.settings.learn_more'),
                          I18n.t('txt.admin.views.settings.account._branding.Use_this_setting_to_map_learn_more_link'),
                          :target => '_blank' %>
            </p>
            <p>
              <strong><%= I18n.t('txt.admin.views.settings.account._branding.Important') %></strong><br/>
              <%= I18n.t('txt.admin.views.settings.account._branding.Once_you_enter_a_domain') %>
            </p>
          <% end %>
        <% else %>
          <p><%= I18n.t('txt.admin.views.settings.account._branding.what_host_mapping_is', :account_host_name => @account_host_name) %></p>
          <p>
            <strong><%= link_to I18n.t('txt.admin.views.settings.account._branding.Upgrade_now_to_enable_Host'), subscription_settings_path(:return_to => settings_account_path) %></strong>
          </p>
        <% end %>
      </div>
    </div>

    <% if current_user.is_account_owner? && !current_account.is_sandbox? %>
      <% if current_account.has_multiple_active_brands? %>
        <div class="form_element">
          <span class='label'><%= I18n.t('txt.admin.views.settings.account._agent_route.Subdomain') %></span>
          <div class="form_field">
            <p><%= I18n.t('txt.admin.views.settings.account._agent_route.Your_Zendesk_URL') %></p>
            <p><b><%= link_to I18n.t('txt.admin.views.settings.account._branding.Brands_menu'), "/agent/admin/brands", :target => "_parent" %></b></p>
            <p><%= I18n.t('txt.admin.views.settings.account._agent_route.When_your_agents_are_logged_into_Zendesk') %></p>
            <%= f.select :route_id, current_account.brands.active.map {|b| ["#{b.subdomain} (#{b.name})", b.route_id]} %>
          </div>
        </div>
      <% else %>
        <div class="form_element">
          <span class='label'><%= I18n.t('txt.admin.views.settings.account._subdomain.Subdomain') %></span>
          <div class="form_field">
            <% support_article = "<a href=#{I18n.t('txt.views.settings.account.branding.renaming_subdomain_side_effects_article_link')} target='_blank'>#{I18n.t('txt.admin.views.settings.account._subdomain.support_article')}</a>" %>
            <p><%= I18n.t('txt.admin.views.settings.account._subdomain.Your_Zendesk_URL', :support_article => support_article.html_safe) %></p>
            <br />
            <p><%= I18n.t('txt.admin.views.settings.account._subdomain.Your_current_subdomain') %></p>
            <p><strong><%= current_account.subdomain %></strong>.zendesk.com</p>
            <p><b><%= link_to I18n.t('txt.admin.views.settings.account._subdomain.Change_your_subdomain'), {}, { :id => 'subdomain_button' } %></b></p>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless current_account.subscription.has_ticket_sharing_triggers? %>
      <div class="form_element">
        <legend class='label'><%= I18n.t('txt.admin.views.settings.account._branding.Multi_branded_help_desk') %></legend>
        <div class="form_field">
          <p><%= I18n.t('txt.admin.views.settings.account._branding.multibrand_description') %></p>
          <% if current_account.subscription.is_trial? %>
            <p><b><%= I18n.t('txt.admin.views.settings.account._branding.email_zendesk_for_free_trial', :zendesk_email => (mail_to "contact@zendesk.com", "contact@zendesk.com", :class => "tracked", 'data-tracking-module' => "Trial upsell", 'data-tracking-activity' => "Multi-brand: Contact")) %></b></p>
          <% else %>
            <p>
              <%= link_to content_tag(:strong, I18n.t('txt.admin.views.settings.account._branding.Upgrade_to_the_Enterprise_plan')), '/agent/admin/subscription', :target => '_parent' %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.account._branding.save_tab_text'), :class => "button save", :id => "settings_account_branding_save_button") %>
  </div>
<% end %>

<%= js_init_with_escape( Branding.new, dynamic_content_data ) if lotus_branding_active? %>

<div id='subdomain_colorbox_container'>
  <%= render :partial => 'settings/account/subdomain', :locals => { :account => current_account } %>
</div>

<% content_for :script_onload_at_end do %>
  $j('#subdomain_button').click(function() {
    $j.colorbox({
      maxWidth: 620,
      inline: true,
      href: '#subdomain_dialog',
    });

    return false;
  });
<% end %>
