<div id='cancel_subscription' class='form_element'>
  <h2><%= I18n.t('txt.admin.views.settings.account._cancel_subscription.Need_to_cancel_your_account') %></h2>
  <p>
    <%= I18n.t('txt.admin.views.settings.account._cancel_subscription.Ready_to_say_goodbye_Once_v2') %>  </p>

  <p><%= link_to I18n.t('txt.admin.views.settings.account._cancel_subscription.yes_cance_my_account'), '#subscription/cancel' %></p>

  <p id="cancel_warning" class='beware'>
  <%= I18n.t('txt.admin.views.settings.account._cancel_subscription.You_are_about_to_cancel') %>    <%= link_to I18n.t('txt.admin.views.settings.account._cancel_subscription.yes_i_am_sure_i_want_to_cancel'),
        url_for(:controller => 'account/subscription', :action => 'cancel', :only_path => true),
        'data-confirm' => I18n.t('txt.admin.views.settings.account._cancel_subscription.are_you_absolutely_sure'),
        'data-method' => :post %>
  </p>
</div>
