<div class="form_element">
  <span class='label'><%= I18n.t('txt.admin.views.settings.account._credit_card_information.Credit_Card') %></span>
  <div class="form_field">
    <% if (credit_card = subscription.credit_card).present? %>
    <p><%= I18n.t('txt.admin.views.settings.account._credit_card_information.card_on_file', :card_number => credit_card.shadowed_number, :month => credit_card.month.to_s.rjust(2, "0"), :year => credit_card.year) %>
    </p>
    <p>
      <%= link_to I18n.t('txt.admin.views.settings.account._credit_card_information.Change_Credit_Card'), new_settings_credit_card_path %>
    </p>
    <% else %>
    <p>
      <%= I18n.t('txt.admin.views.settings.account._credit_card_information.no_credit_card_on_file') %> <%= link_to I18n.t('txt.admin.views.settings.account._credit_card_information.Enter_a_credit_card_now'), new_settings_credit_card_path %>
    </p>
    <% end %>
  </div>
</div>
