<div id="export_enable_request">
  <p><%= I18n.t("txt.admin.account_settings.request_data_text") %></p>
  <p>
    <%= link_to(
      I18n.t("txt.admin.account_settings.request_data_link_label"),
      enable_request_settings_export_configuration_path,
      "data-method"  => :post
    ) %>
  </p>
</div>
