<%= form_for(:account,
            :url  => update_whitelisted_domain_settings_export_configuration_path,
            :html => { :method => :put, :class => "two_column" }) do |whitelisted_domain_form| %>
  <div class="element_group no_right_margin">
    <div class="form_element">
      <span class="label">
        <%= I18n.t("txt.admin.views.reports.export.whitelist_domain_label") %>
      </span>
      <div class="form_field">
        <%= whitelisted_domain_form.text_field(:export_whitelisted_domain,
                                               :value => @whitelisted_domain) %>
        <div class="item-actions">
          <%= submit_tag(I18n.t('txt.admin.views.settings.email._settings.save_tab'),
                         :class => "button save",
                         :id    => "settings_account_export_configuration_save_button") %>
        </div>
      </div>
      <p><%= I18n.t("txt.admin.views.reports.export.whitelist_domain_description") %></p>
    </div>
  </div>
<% end %>
