<div class="form_element">
  <div class="item nobottom">
    <div class="item-actions">
      <%= link_to(
        I18n.t("txt.admin.views.reports.export.disable_label"),
        disable_settings_export_configuration_path,
        "data-confirm" => I18n.t("txt.admin.views.reports.export.disable_confirmation"),
        "data-method"  => :put
      ) %>
  </div>
  </div>
</div>
