<p class="intro_text">
  <%= I18n.t('txt.admin.views.settings.account._localization.intro_text') %>
  <%= link_to(I18n.t('txt.admin.views.settings.email._settings.learn_more_label'),
              I18n.t('txt.onboarding.resources.configure_local'),
              :target => '_blank') %>
</p>

<%= form_for :account, :url => { :action => "update_localization", :anchor => "localization" },
            :html => { :method => :put, :id => "settings-account-localization", :class => "two_column" } do |f| -%>
<div class="element_group">
  <div class="form_element">
    <%= f.label :time_zone, I18n.t('txt.admin.views.settings.account._localization.time_zone_label') %>
    <div class="form_field">
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort_by { |tz| [tz.now.utc_offset, tz.name] } %>
      <p>
        <%= I18n.t('txt.admin.views.settings.account._localization.By_setting_the_time_of') %>      </p>
      <p>
        <%= I18n.t('txt.admin.views.settings.account._localization.For_example_you_ll_see') %>      </p>
      <% unless has_feature?(:individual_time_zone_selection) %>
        <p><% @upgrade_to_link = link_to content_tag(:strong, I18n.t('txt.admin.views.settings.account._localization.upgrade_to_plus_or_enterprise_now')), subscription_settings_path%>
          <%= I18n.t('txt.admin.views.settings.account._localization.upgrade_to_set_time_zone_integration', :upgrade_to => @upgrade_to_link, :to_allow_business_hours => I18n.t('txt.admin.views.settings.account._localization.to_allow_your_staff_and'))%>
        </p>
      <% end %>

    </div>
  </div>

  <div class="form_element">
    <%= f.label :uses_12_hour_clock, I18n.t('txt.admin.views.settings.account._localization.Time_Format') %>
    <div class="form_field">
      <%= f.select :uses_12_hour_clock, [[ I18n.t('txt.admin.views.settings.account._localization.12_hour_clock'), true ], [ I18n.t('txt.admin.views.settings.account._localization.24_hour_clock'), false ]] %>
      <p><%= I18n.t('txt.admin.views.settings.account._localization.Configures_how_time_is_rendered') %></p>
    </div>
  </div>
  <div class="form_element">
    <%= f.label :locale_id, I18n.t('txt.admin.views.settings.account._localization.Languages') %>
    <div class="form_field">
      <%= f.select :locale_id, translation_select_box_format(@locales) %>
      <p><%= I18n.t('txt.admin.views.settings.account._localization.Languages_updated_description')%>
      </p>
      <p><%= I18n.t('txt.admin.views.settings.account._localization.Languages_to_add_more')%>
      </p>

      <%= zd_sub_setting(:additional_languages) do %>
        <% if has_feature?(:individual_language_selection) %>
          <a id="display_additional_languages"><%= I18n.t('txt.admin.views.settings.account._localization.Additional_languages') %></a>
          <div class="settings_locale_checkbox_container">
            <% additional_language_options = @locales.map{|locale| {:id => locale.id, :localized_name => locale.localized_name(display_in: I18n.translation_locale) }} %>
            <% translation_map = Hash[@account.allowed_translation_locales.map { |l| [l.id, l] }] %>
            <% collator = ICU::Collation::Collator.new(I18n.translation_locale.locale) %>
            <% additional_language_options.sort{ |a, b| collator.compare(a[:localized_name], b[:localized_name]) }.each do |locale| %>
              <div class="settings_locale_checkbox_row">
                <%= check_box_tag "account[allowed_translation_locale_ids][]", locale[:id], translation_map[locale[:id]], :id => locale_html_id(locale) %>
                <%= label_tag locale_html_id(locale), locale[:localized_name].split(/\sby\s/i).first, :class => 'checkbox' %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= label_tag I18n.t('txt.admin.views.settings.account._localization.Additional_languages') %>
          <p>
            <%= I18n.t('txt.admin.views.settings.account._localization.help_center_your_account_doesnt_have_multiple_language') %>
            <%= link_to content_tag(:strong, I18n.t('txt.admin.views.settings.account._localization.upgrade_to_plus_or_enterprise')), subscription_settings_path %>
          </p>
        <% end %>
      <% end %>
      <% if current_account.has_hide_flag_to_end_users? %>
        <%= zd_sub_setting(:additional_languages) do %>
          <%= check_box_tag "account[hide_flag_to_end_user]", @hide_flag_to_end_user, @hide_flag_to_end_user %>
          <%= label_tag("account_settings_hide_flag_to_end_user", I18n.t('txt.admin.views.settings.account._localization.hide_language_flag_to_end_users'), :class => 'checkbox') %>
          <p><%= I18n.t('txt.admin.views.settings.account._localization.hide_language_flag_to_end_users_explanation') %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="form_element edit_business_hours">
    <%= f.label :business_hours, I18n.t('txt.admin.views.settings.account._localization.Business_Hours') %>
    <div class="form_field">
      <p>
        <%= link_to I18n.t('txt.admin.views.settings.account._localization.Edit_Business_Hours'), '/agent/admin/business_hours' %>
      </p>
      <p>
        <%= I18n.t('txt.admin.views.settings.account._localization.Business_Hours_Moved') %>
      </p>
    </div>
  </div>
</div>

<div class="actions">
  <%= submit_tag(I18n.t('txt.admin.views.settings.account._localization.save_tab'), :class => "button save", :id => "settings_account_localization_save_button") %>
</div>

<% end %>

<% content_for :script_onload_at_end do %>
  $j('#display_additional_languages').click(function() {
    $j('#display_additional_languages').hide();
    $j('.settings_locale_checkbox_container').show();
    return false;
  });

  $j(document).ready(function(){
    var originalLocaleId = $j("select#account_locale_id option:selected").val();
    $j( "#settings-account-localization" ).submit(function(event) {
      var newLocaleId = $j("select#account_locale_id option:selected").val()
      if (originalLocaleId !== newLocaleId) {
        var a = confirm(I18n.t('txt.admin.views.settings.localization.we_notice_you_chagen_your_locale'));
        if (!a){
          event.preventDefault();
        }
      }
    });

    if (window.top !== window) {
      $j('.edit_business_hours').hide();
    }
  });
<% end %>
