<% disabled = !disabled.nil? && disabled
if data.nil? %>
  <%= file_field_tag "#{key}[uploaded_data]", :disabled => disabled %>
  <p><%= text %></p>
<% else %>
  <div id="image-block-<%= key %>">
    <img src="<%= data.path_for_url %>" style="<%= image_style ||= nil %>"/>
    <br/>
    <% if !disabled.nil? && !disabled %>
      <%= link_to_function I18n.t('txt.admin.views.settings.account._logo_upload.Change'), "selectPicture('#{key}')" %> |
      <%= link_to_remote I18n.t('txt.admin.views.settings.account._logo_upload.Delete'), :url => logo_url(:id => data), :method => :delete,
          :complete => "pictureDeleted('#{key}')", :confirm => I18n.t('txt.admin.views.settings.account._logo_upload.Are_you_sure_you_wish_to_delete') %>
    <% end %>
    <p><%= I18n.t('txt.admin.views.settings.account._logo_upload.Upload_a_new_logo_or') %></p>
  </div>
  <div id="upload-block-<%= key %>" style="display:none">
    <%= file_field_tag "#{key}[uploaded_data]", :disabled => disabled %>
    <div id="cancel-block-<%= key %>">
      <%= link_to_function I18n.t('txt.admin.views.settings.account._logo_upload.Cancel'), "resetPicture('#{key}')" if !disabled.nil? && !disabled %>
    </div>
    <p><%= text %></p>
  </div>
<% end %>