<div id="lotus_agent_admin_subscription_redirect_notice">
  <h3><%= I18n.t('txt.admin.views.settings.account._lotus_admin_redirection_notice.title') %></h3>
  <%= I18n.t('txt.admin.views.settings.account._lotus_admin_redirection_notice.body') %>
  <br/>
  <a class="button" id="redirect_link" href="/agent#/admin/subscription">
    <%= I18n.t('txt.admin.views.settings.account._lotus_admin_redirection_notice.redirect_link_text') %>
  </a>
</div>