<div class='label'>
  <%= I18n.t('txt.admin.views.settings.account._invoices.Account_Owner') %>
</div>
<p class='link-admin-centre'>
  <a href=<%= "#{current_account.url}/admin/account" %> class='svg-link' target='_blank'>
    <%= I18n.t('txt.admin.views.settings.account._owner_multiproduct.manage_owner_link')%>
    <svg class='link-out-svg'>
      <use xlink:href="/images/garden_vector_icons.svg#zd-svg-icon-12-link-external"></use>
    </svg>
  </a>
</p>

<div class='actions'></div>
