
<%= form_for(:account, :url => { :action => "update_account_owner", :anchor => "owner" }, :html => { :method => :put, :id => 'account-settings', :class => 'two_column' } ) do |f| %>
  <div class="element_group no_right_margin">
    <div class="form_element">
      <span class='label'><%= I18n.t('txt.admin.views.settings.account._invoices.Account_Owner') %></span>
      <div class="form_field">
        <% if current_account.admins.count == 1 %>
          <p><%= current_account.owner.email %></p>
        <% else %>
          <%= f.select(:owner_id, current_account.admins.collect { |a| [ a.email, a.id ]}, { :selected => current_user.id }) %>
          <p><%= I18n.t('txt.admin.views.settings.account._invoices.Only_administrators_can_be_account') %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.account._invoices.save_tab_text'), :class => "button save", :id => "settings_account_invoices_save_button") %>
  </div>
<% end %>
