<div class="banner">
  <div class="narrow">
    <h3>
      <%= I18n.t('txt.admin.account_settings.generic_starter_plan_now_free_with_a_donation', :plan_price => 20.00) %>
    </h3>
  </div>
  <button><%= I18n.t('txt.admin.account_settings.switch_now') %></button>
</div>
