<h4><%= I18n.t('txt.admin.views.settings.account._subscription_sponsored.Sponsored') %></h4>
<p>
  <%= I18n.t('txt.admin.views.settings.account._subscription_sponsored.Your_account_has_been_sponsored') %>  <strong>
    <%= I18n.t('txt.admin.views.settings.account._subscription_sponsored.Sponsored_accounts_are_not_subject') %>  </strong>
</p>
<p>
  <%= I18n.t('txt.admin.views.settings.account._subscription_sponsored.Accounts_appear_sponsored_if_you', :date => subscription.manual_discount_expires_on) %>
</p>
<p>
  <%= I18n.t('txt.admin.views.settings.account._subscription_sponsored.contact_Zendesk_support', :contact_zendesk_link => (link_to I18n.t('txt.admin.views.settings.account._subscription_sponsored.contact_Zendesk_support_link'), "mailto:contact@zendesk.com"))%>
</p>
