<h4><%= I18n.t('txt.admin.views.settings.account._subscription_invoiced.Paper_Invoicing') %></h4>
<p>
  <%= I18n.t('txt.admin.views.settings.account._subscription_invoiced.Your_account_has_paper_invoicing') %>
  <%= I18n.t('txt.admin.views.settings.account._subscription_invoiced.contact_Zendesk_support', :contact_zendesk_support_link => (link_to I18n.t('txt.admin.views.settings.account._subscription_invoiced.contact_Zendesk_support_link'), "mailto:contact@zendesk.com"))%>
</p>
