<div id='subdomain_dialog' class='lv_action'>
  <div class='subdomain_dialog'>
    <p class="intro_text"><%= I18n.t('txt.admin.views.settings.account._subdomain.Warning_Renaming_your_subdomain') %></p>
    <ul class='warning_bullets'>
      <li><%= I18n.t('txt.admin.views.settings.account._subdomain.Your_Zendesk_will_no_longer', :account_url => account.url) %></li>
      <li><%= I18n.t('txt.admin.views.settings.account._subdomain.Your_previous_Zendesk_URL') %></li>
      <li>
        <%=
          I18n.t(
            'txt.admin.views.settings.account._subdomain.Youll_need_to_update_your_Zendesk_URL',
            :host_mapping => "<strong><a href='https://support.zendesk.com/entries/13976-mapping-a-host-name-of-your-own-to-zendesk-using-cname' target=\"_blank\">#{I18n.t('txt.admin.views.settings.account._subdomain.host_mapping')}</a></strong>",
            :email_forwarding => "<strong><a href='https://support.zendesk.com/entries/20518663-forwarding-email-from-other-email-providers' target=\"_blank\">#{I18n.t('txt.admin.views.settings.account._subdomain.email_forwarding')}</a></strong>"
          )
        %>
      </li>
      <li><%= I18n.t('txt.admin.views.settings.account._subdomain.All_the_email_notifications') %></li>
    </ul>
    <p class='learn_more'><strong><%= link_to I18n.t('txt.admin.views.settings.account._subdomain.Other_consequences'), 'https://support.zendesk.com/entries/22270798-renaming-your-subdomain-the-side-effects', :target => '_blank' %></strong></p>

    <hr />

    <%= form_for(:account, :url => { :action => "update_subdomain", :anchor => "subdomain" }, :html => { :method => :put, :id => 'account-settings', :class => 'two_column' } ) do |f| %>
      <div class="element_group">
        <span class='label'><%= I18n.t('txt.admin.views.settings.account._subdomain.Your_current_subdomain') %></span>
        <div class="form_field">
          <strong><%= account.subdomain %></strong>.zendesk.com
        </div>
        <div class="form_element" id="subdomain_text_field">
          <span class='label'><%= I18n.t('txt.admin.views.settings.account._subdomain.Enter_new_subdomain') %></span>
          <div class="form_field">
            <span><%= f.text_field(:subdomain) %>.zendesk.com</span>
          </div>
        </div>
      </div>

      <hr />

      <div class="actions">
        <%= submit_tag(I18n.t('txt.admin.views.settings.account._subdomain.Rename_subdomain'), :class => "button save", :id => "settings_account_subdomain_save_button") %>
      </div>
    <% end %>
  </div>
</div>
