<h4><%= I18n.t('txt.admin.views.settings.account._subscription_spoke.Spoke_account') %></h4>
<p>
  <%= I18n.t('txt.admin.views.settings.account._subscription_sponsored.Your_account_has_been_sponsored') %>
  <strong>
    <%= I18n.t('txt.admin.views.settings.account._subscription_spoke.Spoke_account_subscription_settings_description') %>
  </strong>
</p>
<p>
  <%= I18n.t('txt.admin.views.settings.account._subscription_sponsored.contact_Zendesk_support', :contact_zendesk_link => (link_to I18n.t('txt.admin.views.settings.account._subscription_sponsored.contact_Zendesk_support_link'), "mailto:contact@zendesk.com"))%>
</p>
