<%= cache(current_account.id, :expires_in => 30.minutes) do %>

  <div class="form_element">
    <span class='label'><%= I18n.t("txt.admin.views.settings.account._zuora_receipts.recent_invoices") %></span>

    <div class="form_field">

      <table class="payments_table">
        <tr>
          <th><%= I18n.t('txt.admin.views.settings.account._zuora_receipts.invoice_date') %></th>
          <th><%= I18n.t('txt.admin.views.settings.account._zuora_receipts.number') %></th>
          <th><%= I18n.t('txt.admin.views.settings.account._zuora_receipts.amount') %></th>
          <th><%= I18n.t('txt.admin.views.settings.account._zuora_receipts.due_date') %></th>
          <th></th>
        </tr>

        <% @zuora_invoices.each do |invoice| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= invoice.invoice_date.to_date %></td>
            <td><%= invoice.invoice_number %></td>
            <td><%= number_to_currency(invoice.amount.to_f.round(2),
                    :unit => current_account.subscription.currency_symbol)
                %>
            </td>
            <td><%= invoice.due_date.to_date %></td>
            <td><%= link_to I18n.t("txt.admin.views.settings.account._zuora_receipts.download"),
                      invoice_settings_account_path(:invoice_id => invoice.id)
                %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
<% end %>
