<script type="text/javascript" charset="utf-8">
  $j("a[rel=tooltip]").tooltip({
    tooltipClass: "audit",
    show: true,
    position: {
      my: "left top",
      at: "left bottom"
    }
  });

  Zendesk.Instrumentation.track('Audit Log', 'Load');
</script>

<p class="intro_text">
  <%= I18n.t('txt.admin.views.reports.tabs.audits.intro_text') %>
  <%= link_to(I18n.t('txt.admin.views.settings.email._settings.learn_more_label'),
            I18n.t('txt.contextual.references.audit_log.url'),
            :target => '_blank') %>
</p>

<% if params[:filter] %>
  <% column = params[:filter].keys.sort.first.sub("_id","") %>
  <%= I18n.t('txt.admin.views.reports.tabs.audits.filtered_by') %>
  <%= I18n.t("txt.admin.views.reports.tabs.audits.column_#{column}") %>
  <%= link_to(I18n.t('txt.admin.views.reports.tabs.audits.filtered_by_show_all'), {}) %>
<% end %>

<br/>
<table class="tickets">
  <thead>
  <tr>
    <th><%= order_direction_link 'created_at', :text => I18n.t('txt.admin.views.reports.tabs.audits.column_created_at'), :update => "#audits", :default_sort_by => "created_at" %></th>
    <th><%= I18n.t('txt.admin.views.reports.tabs.audits.column_actor') %></th>
    <th><%= I18n.t('txt.admin.views.reports.tabs.audits.column_ip_address') %></th>
    <th><%= I18n.t('txt.admin.views.reports.tabs.audits.column_action') %></th>
    <th><%= I18n.t('txt.admin.views.reports.tabs.audits.column_source') %></th>
    <th><%= I18n.t('txt.admin.views.reports.tabs.audits.column_changes') %></th>
  </tr>
  </thead>

  <tbody>
  <% cia_event_presenters_for(@events).each do |cia_event_presenter| %>
    <!-- debug: id:<%= cia_event_presenter.id %> actor_id: <%= cia_event_presenter.actor_id %> -->
    <tr class="zebra">
      <td valign="top">
        <%= cia_event_presenter.date %>
      </td>
      <td valign="top">
        <%= cia_event_presenter.actor_link %>
      </td>
      <td valign="top">
        <%= cia_event_presenter.ip_address_text %>
      </td>
      <td valign="top">
        <%= cia_event_presenter.action_label %>
      </td>
      <td valign="top">
        <%= cia_event_presenter.source_link%>
      </td>
      <td valign="top">
        <% cia_event_presenter.change_descriptions.each do |description| %>
          <%= description %><br/>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @events %>
