<%= render '/account/header' %>

<% @page_title = I18n.t('txt.admin.views.layout.tabs._settings_tab.Account_tab') %>

<%= div_content do -%>
  <h2><%= @page_title %></h2>

  <%= zd_tabs do %>
    <%= zd_tab( I18n.t('txt.admin.account_settings.subscription.tab'), :id => 'subscription' ) do %>
      <%= render 'lotus_admin_redirection_notice' %>
    <% end %>

    <%= zd_tab( I18n.t('txt.admin.account_settings.branding.tab'), :id => 'branding' ) do %>
      <%= render 'branding' %>
    <% end %>

    <%= zd_tab( I18n.t('txt.admin.account_settings.localization.tab'), :id => 'localization' ) do %>
      <%= render 'localization' %>
    <% end %>

    <% if current_user.is_account_owner? && !current_account.is_sandbox? %>
      <%= zd_tab( I18n.t('txt.admin.account_settings.benchmark.tab'), :id => 'benchmark' ) do %>
        <%= render 'benchmark' %>
      <% end %>

      <%= zd_tab( I18n.t('txt.admin.account_settings.account_owner.tab'), :id => 'account_owner' ) do %>
        <%= render 'owner_multiproduct' %>
      <% end %>

      <% if current_account.zuora_managed? && !current_account.via_partner? %>
        <%= zd_tab( I18n.t('txt.admin.account_settings.address_and_invoices.tab'), :id => 'address-and-invoices' ) do %>
          <%= render 'address_and_invoices' %>
        <% end %>
      <% end %>
    <% end %>

    <% if can_access_audits_tab? %>
      <%= zd_tab( I18n.t('txt.admin.views.reports.index.audits_label'), :id => 'audits' ) %>
    <% end %>
  <% end %>
<% end %>

<script>
  $j("#audits").one("tab.show", function(){
    var $tab = $j(this);
    // ajaxify pagination and sorting links for audits
    $tab.pjaxContainer('a[href*="/settings/account/audits"]');

    // show loading animations + errors
    $tab.responsiveLoad("/settings/account/audits");
  });
</script>
