<% if watching.can_view_source?(current_user) %>
  <% @restricted = false %>
<% else %>
  <% @restricted = true %>
<% end %>

<% case watching.source %>
<% when Entry %>
  <%= render 'entries/entry', :entry => watching.source %>
<% when Organization %>
  <%= render 'people/organizations/organization', :organization => watching.source, :hide_edit => true %>
<% when Forum %>
  <%= render 'forums/forum_watching', :forum => watching.source %>
<% end %>
