<h3><%= I18n.t("txt.layout.mobile.view_ticket_in_native_app") %></h3>

<ul>
  <li><a id="openApp" href="#" data-account-name="<%= current_account.name %>" data-ticket-id="<%= params[:ticket_id] %>"><%= I18n.t("txt.layout.mobile.i_have_the_app_installed") %></a></li>
  <li><a id="downloadApp" href="#"><%= I18n.t("txt.layout.mobile.download_the_native_app") %></a></li>
  <li><%= link_to I18n.t('txt.layout.mobile.full_site'), mobile_switch_url(:return_to => params[:return_to]), :id => "fullSite" %></li>
</ul>
