<% @page_title = I18n.t('txt.admin.views.people.search.index.people_label') %>
<%= js_init -%>

<% if current_user.is_admin? %>
  <% content_for :sidebar do %>
    <%= div_side_box(I18n.t('txt.admin.views.people.search.index.bulk_management_label')) do %>
      <p><%= I18n.t('txt.admin.views.people.search.index.bulk_management_text') %></p>
      <ul class="options">
        <% unless current_account.subscription.is_trial? && !current_account.settings.bulk_user_upload %>
          <li class="link"><a href="/import?kind=user"><%= I18n.t('txt.admin.views.people.search.index.bulk_user_import') %></a></li>
        <% end %>
        <li class="link"><a href="/import?kind=organization"><%= I18n.t('txt.admin.views.people.search.index.bulk_organization_import') %></a></li>
        <li class="link"><a href="/people/bulk_delete"><%= I18n.t('txt.admin.views.people.search.index.bulk_user_delete_v2') %></a></li>
        <li class="link"><%= link_to I18n.t('txt.admin.views.settings.people.compliance.nav_link'), people_permanently_delete_users_path, id: "deleted-users-link" %></li>
      </ul>
      <p><%= I18n.t('txt.admin.views.people.search.index.bulk_import_api_v2', :zendesk_api => "<a target='_blank' href='#{I18n.t("txt.admin.views.people.search.index.bulk_import_api_url")}'>#{I18n.t("txt.admin.views.people.search.index.bulk_import_api_url_text")}</a>") %></p>
    <% end %>
  <% end %>
<% end %>

<%= div_content do %>
  <div class="content-top-right big">
    <p><%= people_creation_links %></p>
  </div>

  <h2><%= @page_title %></h2>
  <p>
    <%= I18n.t('txt.admin.views.people.search.index.people_text') %>
    <%= link_to(I18n.t('txt.admin.views.reports.tabs.search.learn_more'),
                I18n.t('txt.contextual.references.groups.url'),
                :target => '_blank') %>
  </p>
  <%= render :partial => '/people/navigation' %>
<% end %>

<%= form_tag( {:controller => "people/users", :action => :select_bulk_action}, :id => 'bulk_form') %>
  <% unless controller_name == 'search' && do_not_execute_query? %>
    <%= div_content do %>
      <%= render :partial => 'people/users/bulk_update_checkbox' %>

      <h2>
        <% if controller_name == 'search' && @query.blank? %>
          <%= I18n.t('txt.admin.views.people.search.index.latest_label')%>
        <% else %>
          <% if @organization %>
            <%= I18n.t('txt.admin.views.people.search.index.organization_users_label', :organization_name => @organization.name) %>
          <% else %>
            <%= people_filter_title %>
          <% end %>

          <% if params[:role] == ['4', '2'] # Agents %>
            <%= content_tag :span, I18n.t('txt.admin.views.people.search.index.agent_count', total_agents: @total_agents, max_agents: @max_agents), :class => 'item_count agents' %>
          <% else %>
            <%= content_tag :span, @total_entries_formatted || "(#{@total_entries || @result.try(:total_entries).to_i})", :class => 'item_count' %>
          <% end %>
        <% end %>

        <% if params[:role] == ['4', '2'] && voice_feature_enabled?(:user_seats) %>
          <%= render :partial => 'people/users/seat_type_filter' %>
        <% end %>
      </h2>

      <% if @total_entries && @total_entries > 0 || @result.try(:total_entries).to_i > 0 %>
        <%= render partial: '/search/result', locals: { records: @result, allow_user_bulk_update: @allow_user_bulk_update, pagination_options: @pagination_options, show_max_page_tooltip: @show_max_page_tooltip } %>
      <% else %>
        <div class="frame"><br /><%= I18n.t('txt.admin.views.people.search.index.no_results_label') %></div>
      <% end %>
    <% end %>
  <% end %>
</form>

<% if Arturo.feature_enabled_for?(:gdpr_lotus_react, current_account) %>
  <script type="text/javascript">
    $j(document).ready(function() {
      document.getElementById('deleted-users-link').addEventListener('click', function() {
        var message = JSON.stringify({target: 'transitionToPath', memo: {path: '/admin/deleted_users'}});
        window.top.postMessage(message, window.location.protocol + '//' + window.location.host);
      });
    });
  </script>
<% end %>
