<div class="lv_action" id="add_twitter_manually_lightbox">
 <h1><%= I18n.t('txt.users.edit.add_twitter_handle_title') %></h1>
  <p class="description"><%= I18n.t('txt.users.edit.add_twitter_handle_manually_message') %></p>

  <%= form_tag user_user_identities_path(@user) do -%>
    <h3><%= I18n.t('txt.users.edit.twitter_handle') -%></h3>
    <p class="submit_block">
      <%= text_field_tag 'twitter', '', :id => "email" %>
      <%= submit_tag "Add account" %>
    </p>
  <% end %>
</div>
