<div class="lv_action" id="add_email_address_lightbox">
  <h1><%= I18n.t('txt.users.edit.add_email_heading') %></h1>
  <p class="description"><%= I18n.t('txt.users.edit.add_email_message') %></p>

  <%= form_tag(user_user_identities_path(@user), :id => 'add_email_form') do %>
    <h3><%= I18n.t('txt.users.edit.email') -%></h3>
    <p class="submit_block">
      <%= text_field_tag 'email', '', :id => 'focus', :size => 30 %>&nbsp;
      <%= submit_tag I18n.t('txt.users.edit.submit_email_address') %>
    </p>
  <% end %>
</div>
