<div class="lv_action" id="add_twitter_handle_lightbox">

  <h1><%= I18n.t('txt.users.edit.add_twitter_handle_title') %></h1>

  <p class="description">
    <%= I18n.t('txt.users.edit.add_twitter_handle_message') -%>
  </p>

  <p>
    <%= I18n.t('txt.users.edit.twitter_message') -%>
  </p>

  <%= link_to content_tag(:span, I18n.t('txt.users.edit.twitter_button')), @oauth_url, :class => 'twitter login' %>

</div>
