<div class="lv_action" id="add_facebook_handle_lightbox">

  <h1><%= I18n.t('txt.users.edit.add_facebook_login') %></h1>

  <p class="description">
    <%= I18n.t('txt.users.edit.add_facebook_message') -%>
  </p>

  <p>
    <%= I18n.t('txt.users.edit.facebook_message') -%>
  </p>

  <%= link_to content_tag(:span, I18n.t('txt.users.edit.facebook_button')), @oauth_url, :class => 'facebook login' %>

</div>
