<%
  admin = (current_user.is_agent? && @user != current_user)
  description = (admin ? I18n.t('txt.users.edit.add_google_account_admin_message') : I18n.t('txt.users.edit.add_google_account_message'))
  form_heading = (admin ? I18n.t('txt.users.edit.add_google_address') : I18n.t('txt.users.edit.email'))
  submit_message = (admin ? I18n.t('txt.users.edit.submit_email_address_admin') : I18n.t('txt.users.edit.submit_google_account'))
%>

<div class="lv_action" id="add_google_account_lightbox">
  <h1><%= I18n.t('txt.users.edit.add_google_account_title') %></h1>
  <p class="description"><%= description %></p>

  <%= form_tag(user_user_identities_path(@user)) do %>
    <h3><%= form_heading %></h3>
    <p class="submit_block">
      <%= text_field_tag :google, '', :id => 'focus', :size => 30 %>&nbsp;
      <%= submit_tag submit_message %>
    </p>
  <% end %>
</div>
