<div id="recaptcha_widget">
  <div id="recaptcha_data">
    <div id="recaptcha_image" style="width:300px;height:57px;float:left;background-color:white;padding:10px;border:1px solid #a8a8a8">
    </div>
  </div>
  <div style="float: left;">
    <ul style="padding-left: 20px;">
      <li><a href="javascript:Recaptcha.reload()"><%= I18n.t('txt.requests.new.captcha_reload') %></a></li>
      <li><a id="recaptcha_switch_audio_btn" class="recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio');" title="<%= I18n.t('txt.recaptcha.audio_challenge') %>"><%= I18n.t('txt.requests.new.want_audio') %></a>
      <a id="recaptcha_switch_img_btn" class="recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image');" title="<%= I18n.t('txt.recaptcha.visual_challenge') %>"><%= I18n.t('txt.requests.new.want_image') %></a></li>
    </ul>
  </div>
  <br style="clear: left;"/>
  <p style="margin-bottom: 0;"><%= I18n.t('txt.requests.new.captcha_msg') %></p>
  <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" style="width: 310px">
</div>

<%=
  zendesk_captcha(
    :display => {
      :theme               => 'custom',
      :custom_translations => {
        :play_again     => I18n.t('txt.views.registration.index.play_again'),
        :cant_hear_this => I18n.t('txt.views.registration.index.cant_hear_this')
      }
    }
  )
%>
