.dd {
  text-align:left;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  float: right;
}

.dd .ddTitle {
  background: white;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  padding: 3px;
  text-indent: 0;
  cursor: default;
  overflow: hidden;
  height: 16px;
}

.dd .ddTitle span.arrow {
  background: url(/classic/images/dd_arrow.gif) no-repeat 0 0;
  float: right;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dd .ddTitle span.ddTitleText {
  text-indent: 1px;
  overflow: hidden;
  line-height: 16px;
}

.dd .ddTitle span.ddTitleText img {
  text-align: left;
  padding: 0 2px 3px 0;
}

.dd .ddTitle img.selected {
  padding: 0 3px 3px 0;
  vertical-align: top;
}

.dd .ddChild {
  position: absolute;
  border: 1px solid #c3c3c3;
  border-top: none;
  display: none;
  margin: 0;
  width: auto;
  overflow: auto;
  overflow-x: hidden !important;
  background-color: #ffffff;
}

.dd .ddChild .opta a, .dd .ddChild .opta a:visited {
  padding-left: 10px;
}

.dd .ddChild a {
  display: block;
  padding: 2px 0 2px 3px;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.dd .ddChild a:hover {
  background-color: #66CCFF;
}

.dd .ddChild a img {
  border: 0;
  padding: 0 2px 3px 0;
  vertical-align: middle;
}

.dd .ddChild a.selected {
  background-color: #66CCFF;
}

.dd .borderTop {
  border-top: 1px solid #c3c3c3 !important;
}

.dd .noBorderTop {
  border-top: none 0 !important
}
