div#incoming_number_picker {
  padding: 15px;
}

#number_picker {
  padding: 15px !important;

  .float {
    float: left;
    margin-right: 5px;
  }

  .down {
    margin-top: 4px;
  }

  #toll_free_dropdown {
    max-width: 117px;

    .dd {
      background: transparent;
      font-size: 15px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
      margin-bottom: -9px;
    }

    .dd .ddTitle {
      background: transparent;
      border: none;
      padding-bottom: 11px;
      margin-left: -3px;
      margin-right: -3px;
      max-width: 117px;
    }

    .dd .ddTitle span.arrow {
      margin-right: -2px;
    }

    .dd .ddChild {
      margin-left: -4px;
    }

    .dd .ddChild a {
      border-top: 1px solid #c3c3c3;
      margin-top: -1px;
    }

    .dd .ddTitle span.ddTitleText {
      font-size: 15px;
      white-space: nowrap;
    }

    .dd .ddTitle span.arrow {
      margin-top: 2px;
    }
  }

  #country {
    float: right;
  }

  #country_label {
    line-height: 10px;
  }

  #country_picker, #local_picker {
    margin-bottom: 15px;
  }

  #phone_picker_help {
    color:#777;
    font-weight:normal;
  }

  legend {
    color: #555;
    font-size: 18px;
    margin-bottom: 5px;
  }

  label {
    float: left;
    font-weight: bold;
    position: relative;
    top: 5px;
  }

  .submit {
    display: inline-block;
    margin-top: 10px;
    float: right;
    height: 30px;

  }

  #number_info {
    padding: 10px 0px 10px 0px;
    .important_text {
      font-size: 17px;
      font-weight: bold;
    }

    .msg_padding {
      padding-bottom: 15px;
    }
  }

  #number_results {
    .page_item {
      padding: 5px;
    }
  }

  .small {
    font-size: 11px;
    color: black;
  }


  .no_results {
    padding: 70px 0 60px 0;
    font-size: 14px;
    font-color: #C3C3C3;
    width: 100%;
    text-align: center;
  }

  #number_form {
    margin-top: 20px;

    .area_code_loading_spinner {
      margin-top: 9px;
      margin-left: 210px;
    }

    .button {
      float: right;
      font-size: 15px;
      padding: 7px 14px;
      width: 140px;
    }

    .number_picker_header {
      border-bottom: 1px solid #C3C3C3;
      padding-bottom: 20px;
    }

    #toll_free_dropdown, #area_code_field {
      background-color: white;
      float: left;
    }

    #toll_free_dropdown, #area_code_field, .area_code_parens {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    }

    .number_dropdown {
      float: right;
    }

    #local, #country {
      width: 120px;
    }

    #number_field {
      background: white;
      border: solid #C3C3C3 1px;
      border-radius: 3px;
      width: 270px;
      float: left;
      font-size: 15px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
      padding: 2px 5px 2px 5px;

      .fixed {
        background-color: white;
        float: left;
        margin-top: 5px;
        padding-right: 5px;
      }

      #prefix {
        background-color: white;
        border: none;
      }

      #prefix_title, input {
        border: none;
        font-size: 15px;
      }

      #toll_prefix_msdd {
        padding-top: 2px;
        max-width: 117px;
      }

      #number {
        width: 85px;
      }
    }
  }

  .horizontal_divider {
    border-bottom: solid #D3D3D3 2px;
    margin-bottom: 10px;
  }

  #number_results {
    padding: 10px 10px 0 10px;

    .number_list {
      width: auto;
      overflow-y: auto;

      .friendly {
        display: inline;
        margin-left: 5px;
        position: relative;
        top: -1px;
      }
    }

    .number_label {
      top: 0 !important;
    }

    .indent {
      margin-left: 20px;
    }

    .highlight {
      color: #78A300;
    }

    .number_match {
      float: right;
      margin: -2px 60px 0 0;
    }

    .pagination_links {
      display: inline-block;
      margin-top: 15px;
      .next {
        margin-left: 20px;
      }
    }

  }

  #voice_tos {
    p { margin: 10px 0 10px 0; }

    .important_text {
      font-size: 17px;
      font-weight: bold;
    }

    .tos_field {
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      margin: 20px 0px 0px 0px;
      padding: 4px;
      background-color: white;
      border: solid #D3D3D3 1px;

      p {
        margin: 4px 0 4px 0;
        padding-left: 7px;
      }
    }

    .back {
      margin: 17px 10px 0 0;
      float: right;
    }

    .error {
      font-weight: bold;
      margin: 5px;

      p { color: red; }
    }

    .number_select_loading_spinner {
      padding: 5px;
    }
  }

  #success {
    p { margin-top: 13px; }
    .finish { float: right; }
  }
}
