@import "../../mixins.css.scss";
#voice_warning{
  background: #FFFDE1 url(/classic/images/warning_icon.png) 15px 11px no-repeat;
  padding: 15px 15px 15px 45px;
  @include rounded-corners(4px);
  border: solid 2px darken(#FFFDE1, 8%);
  color: #333;
}

div.disabled_voice_msg {
  text-align: center;
  font-size: 16px;
  padding: 80px 0px 35px 0px;

  p {
    font-size: 13px;
    color: #333;
    margin: 15px;
  }
}

.hidden_file_input {
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 0;
  width: 156px;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.last-updated-at-label{
  float: left;
  margin-right: 5px;
}
.last-updated-at-value{
  float: right;
}

.agent-name {
  float: left;
}

.agent-status {
  float: right;

  span, select {
    display: block;
    text-align: center;
    margin-top: -4px;
    margin-bottom: -4px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    margin-right: 20px;
  }

  span {
    width: 142px;
    padding: 6px 4px;
  }

  select {
    width: 150px;
  }

  .status-0, .status-available, .status-available_via_client, .status-available_via_phone {
    background-color: #008e00;
    border-color: #008e00;
  }

  .status-1, .status-on_call, .status-2, .status-wrap_up {
    background-color: #ffd478;
    border-color: #ffd478;
  }

  .status-3, .status-not_available {
    background-color: #bbb;
    border-color: #bbb;
  }
}

p.number-info {
  margin: 2px 0 2px 0;
  font-size: 13px;
  color: #666;
}

p.needs-address {
  color: #B65151 !important;
}

img.brandIcon {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  @include border-radius(4px);
}
