@import "../../mixins.css.scss";

$border-color: rgb(236, 236, 236);
$background-color: rgb(244, 244, 244);
$form-border-color: #d3d3d3;

$hc-background-color: #fcfcfc;

.login {
  font-size: 13px;

  .interface.outer {
    padding: 25px;
    border: 1px solid $border-color;
    background-color: $background-color;
    @include rounded-corners(4px);
  }

  .title {
    font-size: 2em;
    color: #555;
    margin-bottom: 23px;
    zoom: 1; /* ie7 fix */
  }

  .logo {
    font-family: entypo;
  }

  .assistance {
    margin-right: 28px;
    width: 610px;

   .roles a {
      float: left;
      padding-left: 20px;

      &.single_option {
        display: block;
      }

      &.agent {
        background: url('/classic/images/icons/lock.png') no-repeat 0 0;
      }
    }

    .forgot_password {
      float: right;
    }
  }

  .services {
    float: left;

    &.external {
      padding-right: 67px;
      border-right: 1px solid $border-color;
      height: 175px;
      width: 240px;

      .service {
        display: block;
        color: white;
        width: 267px;
        box-shadow: inset 0 1px #69C4EA;
        @include rounded-corners(4px);
        margin-bottom: 24px;

        &:hover {
          text-decoration: none;
        }

        span {
          display: inline-block;
          border-right: 1px solid;
          border-right-color: inherit;
          padding-left: 12px;
          padding-right: 10px;
          margin-right: 4px;
          line-height: 34px;
        }

        &.twitter {
          background-color: #00ACED;
          border-color: #239CCF;
          box-shadow: inset 0 1px #69C4EA;
          &:hover { background: lighten(#00ACED, 5%); }
        }

        &.facebook {
          background-color: #3B5998;
          border-color: #314B80;
          box-shadow: inset 0 1px #768CB6;
          &:hover { background: lighten(#3B5998, 5%) }
        }

        &.google {
          background-color: #BE3C2B;
          border-color: #A73425;
          box-shadow: inset 0 1px #D2776B;
          &:hover { background: lighten(#BE3C2B, 5%) }
        }
      }
    }

    &.internal {
      margin-bottom: 13px;
      padding-left: 15px;
      width: 260px; /* ie7 fix */

      &.disabled {
        input {
          background-color: #f3f3f3;
          @include placeholder-color(#bbb);

          &.button, &.button:hover {
            background-color: #aaa;
            cursor: default;
          }

        }

        label { color: #bbb; }
      }

      .credentials input {
        display: block;
        border-color: $form-border-color;
        font-size: 13px;
        width: 240px;
        margin-bottom: 15px;
        padding: 9px;
      }

      .remember {
        margin-top: -2px;

        input {
          margin-right: 2px;
          width: 20px;
          height: 20px;
        }

        label {
          position: relative;
          top: -6px;
        }
      }

      input[type="submit"], a.cancel {
        float: right;
        padding: 6px 20px;
        margin-top: 14px;

        &.button {
          float: right;
        }
      }
    }
  }

  .separator {
    color: #ccc;
    font-size: 14px;
    float: left;
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-left: -25px;
    margin-top: 55px;
    padding: 30px 0;
    background-color: $background-color;
  }

  .footnotes {
    margin: 15px 0;
    padding: 25px;
    border: 1px solid $border-color;
    background-color: $background-color;
    @include rounded-corners(4px);

    a {
      display: inline-block;
      margin-left: 2px;
    }

    .question {

      &.sign_up {
        margin-bottom: 14px;
      }

      &.get_password {
        margin-bottom: 4px;
      }
    }
  }
}

.clear { clear: both; }

@font-face {
  font-family: 'entypo';
  src:url('/fonts/entypo/entypo.eot');
  src:url('/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
    url('/fonts/entypo/entypo.woff') format('woff'),
    url('/fonts/entypo/entypo.ttf') format('truetype'),
    url('/fonts/entypo/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
