.ui-resizable-resizing {
  cursor: default;
}

.ace_resizable {
  .ui-icon-gripsmall-diagonal-se {
    position: relative;
    float: right;
    bottom: 15px;
  }

  margin-bottom: 10px;
}

.embedded_in_lotus .ace_resizable .ui-icon-gripsmall-diagonal-se {
  bottom: 24px;
}
