#screenr_provisioning {
  .submit{
    display: inline-block;
    margin-top: 10px;
  }

  #provisioning_spinner{
    display: none;
    padding: 5px 5px 0 0;
  }

  label{
    font-weight: bold;
    font-size: 14px;
  }

  label.checkbox{
    font-weight: normal;
    font-size: 12px;
  }

  #domain {
    width: 120px;
    height: 20px;
  }

  #screenr_available_domains .domains_list {
    list-style-type:none;
  }

  #screenr_available_domains .domains_list li{
    margin-top:7px;
  }

  #screenr_available_domains .domains_list label{
    font-weight: normal;
    margin-left: 8px;
  }

  .feedback_box {
    -webkit-border-radius: 4px; /* Saf3-4, iOS 1-3.2, Android <=1.6 */
    -moz-border-radius: 4px; /* FF1-3.6 */
    border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    display:none;
    border: 1px solid;
    margin: 10px 0px;
    padding:10px
  }

  .error {
    @extend .feedback_box;
    color: #D8000C;
    background-color: #FFBABA;
  }

  .info {
    @extend .feedback_box;
    color: #4F8A10;
    background-color: #DFF2BF;
    text-align:center;
    font-weight:bold;
    display:block;
  }
}

#screenr_downgrading {
  .feedback_box {
    -webkit-border-radius: 4px; /* Saf3-4, iOS 1-3.2, Android <=1.6 */
    -moz-border-radius: 4px; /* FF1-3.6 */
    border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    display:none;
    border: 1px solid;
    margin: 10px 0px;
    padding:10px
  }

  .error {
    @extend .feedback_box;
    color: #D8000C;
    background-color: #FFBABA;
  }

  .info {
    @extend .feedback_box;
    color: #4F8A10;
    background-color: #DFF2BF;
    text-align:center;
    font-weight:bold;
    display:block;
  }
}
