<%= I18n.t('txt.admin.views.suspended_tickets.failed.suspended_tickets_not_recovered', :count => failed.size) %>
<ul foo="bulk_success">
  <% failed.each do |suspended| %>

      <li><%= link_to I18n.t('txt.admin.views.suspended_tickets.show.from_label_integrated', :link_to_email_title => suspended.title.truncate(25), :email => suspended.from_mail), suspended_ticket_path(suspended), { :class => 'bulk_failure' } %>
        <% if suspended.cause == SuspensionType.LOOP && suspended.from_mail == current_account.reply_address %>
            &mdash; <%= link_to I18n.t('txt.admin.views.suspended_tickets.failed.create_as_new_ticket'), new_ticket_path(:suspended => suspended), { :class => 'bulk_failure' } %>
        <% elsif suspended.cause == SuspensionType.OTHER_USER_UPDATE && suspended.ticket && !current_account.is_collaboration_enabled? && !current_account.has_comment_email_ccs_allowed_enabled? %>
            &mdash; <%= link_to I18n.t('txt.admin.views.suspended_tickets.failed.create_as_new_ticket'), new_ticket_path(:suspended => suspended), { :class => 'bulk_failure' } %>
            <%= link_to I18n.t('txt.admin.view.people.user_merge.new.or') %>
            <%= link_to I18n.t('txt.admin.views.suspended_tickets.failed.add_comment_by_original_requester', :email => suspended.ticket.requester.email),
                        assign_to_requester_suspended_ticket_path(suspended), :class => 'bulk_failure' %>
        <% else %>
            &mdash; <%= link_to I18n.t('txt.admin.views.suspended_tickets.failed.create_as_new_ticket'), new_ticket_path(:suspended => suspended), { :class => 'bulk_failure' } %>
        <% end %>
      </li>

      <% if suspended.get_error_messages %>
          <% suspended.get_error_messages.each do |error_message| %>
              <li>
                <%= error_message %>
              </li>
          <% end %>
      <% end %>
  <% end %>
</ul>
