<% content_for :sidebar do %>
  <%= div_side_box(@page_title) do %>
    <% if action_name == 'index' %>
    <p>
      <%= I18n.t('txt.admin.views.suspended_tickets.sidebar.text_one') %>
    </p>
    <p>
      <%= I18n.t('txt.admin.views.suspended_tickets.sidebar.text_two') %>
    </p>
    <p><%= I18n.t('txt.admin.views.suspended_tickets.sidebar.text_three') %></p>
    <p>
      <%= I18n.t('txt.admin.views.suspended_tickets.sidebar.text_four')%>
    </p>
    <p>
      <b><%= I18n.t('txt.admin.views.suspended_tickets.sidebar.read_more_about_suspended_tickets', :here => "<a href=\"https://support.zendesk.com/entries/20512557\">#{I18n.t('txt.admin.views.suspended_tickets.sidebar.here_label')}</a>")%></b>
    </p>
    <% else %>
    <p>
      <%= I18n.t('txt.admin.views.suspended_tickets.sidebar.text_five')%>
    </p>

    <p>
      <%= I18n.t('txt.admin.views.suspended_tickets.sidebar.text_six', :zendesk_support => "<a href=\"mailto:support@zendesk.com\">#{ I18n.t('txt.admin.views.suspended_tickets.sidebar.zendesk_support_label')}</a>")%>
    </p>
    <% end %>
  <% end %>
<% end %>
