<%
  @page_title = I18n.t('txt.admin.views.suspended_tickets.index.suspended_tickets_label')
  @tips = []
%>

<%= render :partial => 'sidebar' %>

<%= div_content do %>
<div class="content-top-right">
  <p>
    <%= link_to I18n.t('txt.admin.views.suspended_tickets.index.rss_label'), suspended_tickets_path(:format => 'rss'), :title => I18n.t('txt.admin.views.suspended_tickets.index.rss_for_suspended_tickets'), :class => 'rss' if !current_user.only_login_service_allowed?(:remote) %>
  </p>
</div>

<% if @suspended_tickets.blank? %>
 <h2><%= I18n.t('txt.admin.views.suspended_tickets.index.no_suspended_tickets_label')%></h2>
<% else %>
<h2>
  <%= I18n.t('txt.admin.views.suspended_tickets.index.suspended_tickets_label')%>
  <%= content_tag :span, "(#{@suspended_tickets.total_entries})", :class => 'item_count' %>
</h2>
<div class="frame">
<%= form_tag url_for(:action => 'bulk'), { :onsubmit => 'return submitForm()' } do %>
<table class="tickets" style="margin-top:20px">
  <thead>
    <tr>
      <th><%= link_to I18n.t('txt.admin.views.suspended_tickets.index.received_label'), suspended_tickets_path(:order_by => 'date') %>&nbsp;</th>
      <th><%= link_to I18n.t('txt.admin.views.suspended_tickets.index.subject_label'), suspended_tickets_path(:order_by => 'subject') %></th>
      <th><%= link_to I18n.t('txt.admin.views.suspended_tickets.index.sender_label'), suspended_tickets_path(:order_by => 'sender') %></th>
      <th><%= link_to I18n.t('txt.admin.views.suspended_tickets.index.cause_of_suspension_label'), suspended_tickets_path(:order_by => 'cause') %></th>
      <th><input type="checkbox" onclick="bulkSelect(this);"></th>
    </tr>
  </thead>
  <tbody>
    <% @suspended_tickets.each do |suspended_ticket| %>
    <tr>
      <td><%= format_date(suspended_ticket.created_at, with_time: true) %></td>
      <td>
        <span id="<%= suspended_ticket.id %>_subj">
          <%= link_to h(suspended_ticket.title.truncate(25)), suspended_ticket_path(suspended_ticket.id) %>
          <% tip_attr = tip_attributes_for(suspended_ticket) %>
          <% @tips << "commentTip('#{suspended_ticket.id}_subj', #{tip_attr[0]}, #{tip_attr[1]});".html_safe %>
        </span>
      </td>
      <td><%= suspended_ticket.from_mail.truncate(25) %></td>
      <td><%= render_cause(suspended_ticket.cause) %></td>
      <td><input type="checkbox" class="bulk_ids" name="bulk_ids[]" value="<%= suspended_ticket.id %>"></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="action">
  <%= select_tag 'submit_type', options_for_select([[I18n.t('txt.admin.views.suspended_tickets.index.recovered_selected_label'), 'recover_selected'], [I18n.t('txt.admin.views.suspended_tickets.index.delete_selected_label'), 'delete_selected'], [I18n.t('txt.admin.views.suspended_tickets.index.delete_all_label'), 'delete_all']]), :style => 'font-weight:bold' %>
  <%= hidden_field_tag 'return_to_page', params[:page] if params[:page].present? %>
  <%= hidden_field_tag 'order_by', params[:order_by]   if params[:order_by].present? %>
  <%= submit_tag I18n.t('txt.admin.views.suspended_tickets.index.submit_label'), :id => 'submit-button', :class => 'buttonsubmit' %>
</div>
<% end %>
</div>
<%= will_paginate @suspended_tickets %>
<% end %>
<% end %>

<script type="text/javascript">
  function bulkSelect(element) {
    $$('input.bulk_ids').each(function(box) { box.checked = element.checked })
  }

  function submitForm() {
    $('submit-button').value = I18n.t('txt.admin.views.suspended_tickets.index.submitting_label');
    $('submit-button').disabled = true;

    var action = $('submit_type').value;

    if (action == 'delete_all' || action == 'delete_selected') {
      if(action == 'delete_all') {
        <% if @suspended_tickets.total_pages > 1 %>
        confirmation = I18n.t('txt.admin.views.suspended_tickets.index.confirmation_delete_all_many_pages');
        <% else %>
        confirmation = I18n.t('txt.admin.views.suspended_tickets.index.confirmation_delete_all');
        <% end %>
      } else if (action == 'delete_selected') {
        confirmation = I18n.t('txt.admin.views.suspended_tickets.index.confirmation_delete_selected');
      }

      if(confirm(confirmation)) {
        return true;
      }

      $('submit-button').value = I18n.t('txt.admin.views.suspended_tickets.index.submit_label');
      $('submit-button').disabled = false;
      return false;
    }

    return true;
  }
</script>
