<% @page_title = I18n.t('txt.admin.views.suspended_tickets.show.suspended_ticket_label') %>

<%= render :partial => 'sidebar' %>

<%= div_content do %>
  <div class="content-top-right">
    <%= form_for(@suspended_ticket, :url => recover_suspended_ticket_path(@suspended_ticket), :html => { :id => 'recover-form' }) do |f| %>
      <%= link_to(I18n.t('txt.admin.views.suspended_tickets.show.delete_label'), suspended_ticket_path(@suspended_ticket.id),
          :data => { :confirm => I18n.t('txt.admin.views.suspended_tickets.show.confirm_delete_ticket', :ticket_title => h(@suspended_ticket.title)), :method => :delete }, :class => 'admin') %> <%= I18n.t('txt.admin.views.suspended_tickets.show.or_label') %>
      <%= select_tag :recover_as, recover_options(@suspended_ticket) %>
      <%= submit_tag I18n.t('txt.admin.views.suspended_tickets.show.submit_label'), :type => 'button', :id => 'submit-button', :class => 'buttonsubmit', :onclick => "submitRecoverForm();" %>
    <% end %>
  </div>
  <div>
    <h2><%= I18n.t('txt.admin.views.suspended_tickets.show.suspended_ticket_label') %></h2>
      <h3><%= I18n.t('txt.admin.views.suspended_tickets.show.subject_label') %></h3>
      <p><%= h(@suspended_ticket.title) %></p>

      <h3><%= I18n.t('txt.admin.views.suspended_tickets.show.cause_of_suspension_label')%> <span class="sub"><%= I18n.t('txt.admin.views.suspended_tickets.show.read_more_about_suspension_cause_here', :here => "<b><a href=\"https://support.zendesk.com/entries/20512557\">#{I18n.t('txt.admin.views.suspended_tickets.sidebar.here_label')}</a></b>")%> </span></h3>
      <p><%= render_cause(@suspended_ticket.cause) %></p>

      <% if @suspended_ticket.via_id == ViaType.MAIL %>
      <h3><%= I18n.t('txt.admin.views.suspended_tickets.show.message_id_label') %></h3>
      <p><%= h(@suspended_ticket.message_id) %></p>
      <% end %>

      <h3><%= I18n.t('txt.admin.views.suspended_tickets.show.from_label') %></h3>
      <p><%= @suspended_ticket.from_name %> &lt;<%= @suspended_ticket.from_mail %>&gt;</p>

      <h3><%= I18n.t('txt.admin.views.suspended_tickets.show.received_label') %></h3>
      <p><%= format_date(@suspended_ticket.created_at, with_time: true) %></p>

      <h3><%= I18n.t('txt.admin.views.suspended_tickets.show.content_label') %></h3>
      <p><%= h(@suspended_ticket.content).present %></p>

      <% if @suspended_ticket.attachments.count > 0 %>
        <h3><%= I18n.t('txt.admin.views.suspended_tickets.show.attachments_label') %></h3>
        <p>
        <% @suspended_ticket.attachments.each do |attachment| %>
          <a href='<%= attachment.url %>' target="_blank">
            <%= attachment.display_filename %>
          </a>
          <%= '<br />' unless attachment == @suspended_ticket.attachments.last %>
        <% end %>
        </p>
      <% end %>

      <% if ticket = @suspended_ticket.ticket %>
        <h3><%= I18n.t('txt.admin.views.suspended_tickets.show.associated_with_ticket_label') %></h3>
        <p><%= link_to h("##{ticket.nice_id} #{ticket.title}"), ticket_path(ticket) %></p>
      <% end %>

  </div>
<% end %>

<script type="text/javascript">
  function submitRecoverForm() {
    $('submit-button').value = I18n.t('txt.admin.views.suspended_tickets.index.submitting_label');
    $('submit-button').disabled = true;
    $('recover-form').submit();
  }
</script>
