<br>
Good Morning! :)<br>
<br>
Afoot and light-hearted I take to the open road,<br>
Healthy, free, the world before me,<br>
The long brown path before me leading wherever I choose.<br>
<br>
Henceforth I ask not good-fortune, I myself am good-fortune,<br>
Henceforth I whimper no more, postpone no more, need nothing,<br>
Done with indoor complaints, libraries, querulous criticisms,<br>
Strong and content I travel the open road.<br>
<br>
<br>
Walt Whitman<br>
Poet<br>
<a href="mailto:walt@signature.example.com">walt@signature.example.com</a><br>
</div><br>
<br clear="all"><div><br>
</div></div>
