<p style="color: #666">
  <%= tagger.explanation %>
</p>

<div id="optionsContainer"></div>

<% if tagger.custom_field_options.empty? %>
  <% tagger.custom_field_options.build %>
<% end %>

<script type='text/html' id='custom-field-fieldset-template' data-template-name='custom-field-fieldset'>
  <fieldset class='conditions'>
    <a class='minus-button' href='#'></a>

    <label for='ticket_field_custom_field_options_{{ index }}_name'><%= I18n.t('txt.admin.views.ticket_field.field_tagger.title_label') %></label>
    <input type='text'
           class='customFieldName'
           name='ticket_field[custom_field_options][][name]'
           id='ticket_field_custom_field_options_{{ index }}_name'
           value='{{ name }}' />
    <br />
    <label for='ticket_field_custom_field_options_{{ index }}_value'><%= I18n.t('txt.admin.views.ticket_field.field_tagger.tag_label') %></label>
    <input type='text'
           class='customFieldValue'
           name='ticket_field[custom_field_options][][value]'
           id='ticket_field_custom_field_options_{{ index }}_value'
           value='{{ value }}' />
    <% unless tagger.is_a?(FieldMultiselect) %>
      <br />
      <br />
      <label for='ticket_field_custom_field_options_{{ index }}_default'><%= I18n.t('txt.admin.views.ticket_field.field_tagger.default_label') %></label>
      <input type='hidden'
             class='customFieldHiddenDefault'
             name='ticket_field[custom_field_options][][default]'
             id='ticket_field_custom_field_options_{{ index }}_default_hidden'
             value='false' />
      <input type='checkbox'
             class='customFieldDefault'
             name='ticket_field[custom_field_options][][default]'
             id='ticket_field_custom_field_options_{{ index }}_default'
             {{#default}}checked{{/default}} />
    <% end %>

    <input type='hidden' name='ticket_field[custom_field_options][][id]' id='ticket_field_custom_field_options_{{ index }}_id' value='{{ id }}' />
  </fieldset>
</script>

<%=
  js_init(tagger.custom_field_options.reject(&:deleted?).map { |option| {
    :id => option.id,
    :name => option.name,
    :value => option.value,
    :default => option.default?
  }})
%>

<fieldset class="conditions add">
  <h3 class="light"><%= I18n.t('txt.admin.views.ticket_field.field_tagger.add_tag_option_label') %></h3>
  <a href="#" class="plus-button"></a>
</fieldset>

<p style="margin: 10px 15px; display: block; text-align: right;">
  <%= I18n.t('txt.admin.views.ticket_field.field_tagger.sort_field_alpabetically') %> &nbsp;
  <input type="checkbox" id ="ticket_field_sort_alphabetically" name="ticket_field[sort_alphabetically]" />
</p>
