<p><%= I18n.t('txt.admin.views.ticket_field.field_assignee.agents_in_help_desk', :agents_separated_comma =>current_account.assignable_agents.collect(&:name).to_sentence(:locale => current_user.translation_locale)) -%></p>

<% if current_account.agents.size == 1 -%>
  <p>
    <%= I18n.t('txt.admin.views.ticket_field.field_assignee.field_will_not_appear_ticket_form') %>
  </p>
<% end -%>
