<p>
  <label>
    <%= form.check_box(:use_status_hold) %>
    <%= I18n.t('txt.admin.views.ticket_field.field_status.enable_status_hold_label') %>
  </label>
</p>

<p>
  <%= I18n.t('txt.admin.views.ticket_field.field_status.enable_status_hold_description') %>
</p>