<p><%= I18n.t('txt.admin.views.ticket_field.field_group.groups_in_help_desk', :groups_with_commas => current_account.groups.collect(&:name).to_sentence(:locale => current_user.translation_locale)) -%></p>

<% if current_account.groups.size == 1 %>
  <p>
    <%= I18n.t('txt.admin.views.ticket_field.field_group.field_will_not_appear') %>
  </p>
<% end %>
