<p>
	<%= I18n.t('txt.admin.views.ticket_field.field_regexp.enter_ruby_regular_expression') %>
</p>

<p>
  <%= form.text_field(:regexp_for_validation) %>
</p>

<p>
  <%= I18n.t('txt.admin.views.ticket_field.field_regexp.examples_label', :regular_expression_zip_code => "<strong>\b[0-9]{5}(?:-[0-9]{4})?\b</strong>", :regular_expression_ssn => "<strong>\b[0-9]{3}-[0-9]{2}-[0-9]{4}\b</strong>")%>
</p>
