<p>
  <%= I18n.t('txt.admin.views.ticket_field.field_checkbox.enter_tag_added') %>
</p>

<p>
  <strong><%= I18n.t('txt.admin.views.ticket_field.field_checkbox.tag_optional') %></strong> <%= form.text_field(:tag) %>
</p>
