<p>
  <label>
    <%= form.radio_button(:sub_type_id, PrioritySet.FULL, {:class => 'radio'}) %>
    <%= I18n.t('txt.admin.views.ticket_field.field_priority.low_normal_high_urgent') %>
  </label>
</p>

<p>
  <label>
    <%= form.radio_button(:sub_type_id, PrioritySet.BASIC, {:class => 'radio'}) %>
    <%= I18n.t('txt.admin.views.ticket_field.field_priority.normal_high_label') %>
  </label>
</p>
