<%= form_for :ticket_field, :url => (@ticket_field.id ? ticket_field_path(@ticket_field) : ticket_fields_path ),
            :html => {:name => 'viewform', :id => 'viewform', :onsubmit => 'return true;',
            :method => (@ticket_field.id ? :put : :post)} do |f| %>

  <h2>
    <%= translate_edit_page_title(@ticket_field.presentation_type) %>
    <span class="line">
      <% if @ticket_field.id.present? %>
        <%= h(Zendesk::Liquid::DcContext.render(@ticket_field.title, current_account, current_user)) %>
      <% else %>
        <%= I18n.t('txt.admin.helpers.ticket_field_helpers.new_label') %>
      <% end %>
    </span>
  </h2>

  <% if TicketField::SYSTEM_FIELDS.member?(@ticket_field.class.to_s) %>
    <p><%= I18n.t('txt.admin.views.ticket_field.sidebar.editing_system_ticket_field') %></p>
  <% elsif !@ticket_field.new_record? %>
    <p><%= I18n.t('txt.admin.views.ticket_field.sidebar.custom_field_id')%> <strong><%= @ticket_field.id %></strong></p>
  <% end %>
  <% if @ticket_field.is_a?(FieldTagger) %>
    <p><strong><%= I18n.t('txt.admin.views.ticket_field.sidebar.psst_label') %></strong> <%= I18n.t('txt.admin.views.ticket_field.sidebar.want_to_categorize_drop_down_options_label') %> <a href=<%=I18n.t('txt.admin.views.ticket_field.sidebar.adding_and_using_custom_ticket_fields_link')%> target ="_new"><%= I18n.t('txt.admin.views.ticket_field.sidebar.here_is_how_label') %></a>
    </p>
  <% end %>
  <% if @ticket_field.is_a?(FieldRegexp) %>
   <p><%= I18n.t('txt.admin.views.ticket_field.sidebar.use_rubular_to_validate', :rubular => link_to(
      I18n.t('txt.admin.views.ticket_field.sidebar.use_rubular_to_validate_title'),
      I18n.t('txt.admin.views.ticket_field.sidebar.use_rubular_to_validate_link'),
      :target => "_blank"
      )) %></p>
   <p>
     <%= I18n.t('txt.admin.views.ticket_field.sidebar.see_examples_inspiration') %>
     <ul class="options">
       <li class="link"><a href="http://www.rubular.com/regexes/968" target="_blank"><%= I18n.t('txt.admin.views.ticket_field.sidebar.url_validation_label') %></a></li>
       <li class="link"><a href="http://www.rubular.com/regexes/970" target="_blank"><%= I18n.t('txt.admin.views.ticket_field.sidebar.5_digit_zip_code_label') %></a></li>
       <li class="link"><a href="http://www.rubular.com/r/MMykzZDzx0" target="_blank"><%= I18n.t('txt.admin.views.ticket_field.sidebar.date_label') %></a></li>
       <li class="link"><a href="http://www.rubular.com/regexes/971" target="_blank"><%= I18n.t('txt.admin.views.ticket_field.sidebar.us_social_security_label') %></a></li>
      </ul>
    </p>
  <% end %>
  <% if @ticket_field.is_a?(FieldPartialCreditCard) %>
    <p>
      <%= I18n.t('text.admin.views.ticket_field.sidebar.partial_credit_card_info', :url => I18n.t('text.admin.views.ticket_field.sidebar.partial_credit_card_url')) %>
    </p>
  <% end %>

  <div class="tabbed_container" mode="static"><div class="tabs_content two_column"><div class="element_group no_right_margin">

  <div class="form_element">
    <%= label_tag nil, I18n.t('txt.admin.views.ticket_field.form.for_agents_label') %>
    <div class="form_field">
      <%= f.text_field :title,
                       :disabled => !@ticket_field.can_be[:title_edited],
                       :onblur => "if ($j('#ticket_field_title_in_portal').val() === '') { $j('#ticket_field_title_in_portal').val(this.value) }" %>

      <% if @ticket_field.can_be[:title_edited] -%>
        <p><%= I18n.t('txt.admin.views.ticket_field.form.field_title_shown_to_agents_label') %></p>
      <% else %>
        <p><em><%= I18n.t('txt.admin.views.ticket_field.form.system_field_cant_edit') %></em></p>
      <% end -%>
    </div>

    <div class="form_field">
      <%= zd_enable_checkbox(f, :is_required, I18n.t('txt.admin.views.ticket_field.form.required_label_caps'), :disabled => !@ticket_field.can_be[:required_edited], :checked => !@ticket_field.can_be[:required_edited] || @ticket_field.is_required?) %>
      <p>
        <%= I18n.t('txt.admin.views.ticket_field.form.field_cannot_be_blank_when_solved') %>
      </p>
    </div>
  </div>

  <div class="form_element">
    <%= label_tag nil, I18n.t('txt.admin.views.ticket_field.form.for_end_users_label') %>
    <div class="form_field">
      <%= zd_enable_checkbox(f, :is_visible_in_portal, I18n.t('txt.admin.views.ticket_field.form.visible_label'), { "data-toggles" => '#sub_setting_is_visible_in_portal', :disabled => !@ticket_field.can_be[:visible_in_portal_edited]  }) %>
      <p><%= I18n.t('txt.admin.views.ticket_field.form.field_visible_to_end_users_ticket_page')%></p>

      <%= zd_sub_setting(:is_visible_in_portal, :show => @ticket_field.is_visible_in_portal?) do %>
        <div class="form_field">
          <h4><%= I18n.t('txt.admin.views.ticket_field.form.title_label_caps') %></h4>
          <%= f.text_field :title_in_portal %>
          <p><%= I18n.t('txt.admin.views.ticket_field.form.field_title_shown_to_end_users') %></p>
        </div>

        <div class="form_field">
          <%= zd_enable_checkbox(f, :is_editable_in_portal, I18n.t('txt.admin.views.ticket_field.form.editable_label_caps'), { "data-toggles" => '#sub_setting_is_editable_in_portal', :disabled => !@ticket_field.can_be[:editable_in_portal_edited]  }) %>
          <p><%= I18n.t('txt.admin.views.ticket_field.form.field_can_be_edited_by_end_user') %></p>
        </div>

        <%= zd_sub_setting(:is_editable_in_portal, :show => @ticket_field.is_editable_in_portal?) do %>
          <div class="form_field">
            <h4><%= I18n.t('txt.admin.views.ticket_field.form.description_optional_label')%></h4>
            <%= f.text_area :description, {:rows => 3} %>
          </div>
          <div class="form_field">
            <%= zd_enable_checkbox(f, :is_required_in_portal, I18n.t('txt.admin.views.ticket_field.form.required_label_caps'), {:disabled => !@ticket_field.can_be[:required_in_portal_edited]}) %>
            <p><%= I18n.t('txt.admin.views.ticket_field.form.end_user_required_to_enter_value_when_submitting') %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  </div></div></div>

  <% if show_ticket_field_options?(@ticket_field) -%>
    <div class="frame field_options" style="margin-top: -8px;">
      <h3 class="rule_conditions"><%= I18n.t('txt.admin.views.ticket_field.form.field_options_label') %></h3>
      <%= render :partial => @ticket_field.class.name.underscore, :locals => { :tagger => @ticket_field, :form => f } %>
    </div>
  <% end -%>

  <%= f.hidden_field :type %>

  <div class="action">
    <% if @ticket_field.created_at %>
      <% if @ticket_field.can_be[:deleted] %>
        <%= link_to(I18n.t('txt.admin.views.ticket_field.form.delete_label_caps'), {
             :action => 'destroy',
             :id=> @ticket_field.id
           },
           :data => { :confirm => I18n.t('txt.admin.views.ticket_field.form.delete_ticket_confirmation_message', :ticket_field => h(@ticket_field.title)), :method => 'delete' },
           :class => 'button destructive left') %>
      <% end %>
      <%= submit_tag I18n.t('txt.admin.views.ticket_field.form.update_field_label'), :class => 'button primary' %>
    <% else %>
      <%= submit_tag I18n.t('txt.admin.views.ticket_field.form.add_field_label'), :class => 'button primary' %>
    <% end %>
  </div>

<% end %>
