<div class="tabbed_container item-border-top " mode="static">

  <!-- ***************** Active ****************** -->
  <div class="tabs_content hover-actions">
    <% if current_user.is_admin? %>
      <div class="tab-top-right add-link">
        <p><%= link_to I18n.t('txt.admin.views.ticket_field.list_for_index.add_custom_field_label'), '/ticket_fields/select_field_to_add', :class => 'add' %></p>
      </div>
    <% end %>

    <h4><%= I18n.t('txt.admin.views.ticket_field.list_for_index.active_fields_label') %></h4>
    <div id="fields">
      <% for field in @active_fields %>
        <div class="item">
          <%= render :partial => "setting_left", :locals => { :field => field } %>
          <% if current_user.is_admin? %>
          <div class="item-actions">
            <% unless field.is_apps_requirement? %>
              <% if field.can_be[:deactivated] %>
                <%= link_to(I18n.t('txt.admin.views.ticket_field.list_for_index.deactivate_label'), {:action => 'activate', :id => field}, data: {method: :put}) %>
              <% else %>
                <span class="ticket-field-disabled"><%= I18n.t('txt.admin.views.ticket_field.list_for_index.deactivate_label')%></span>
              <% end %>
            <span class="delim">|</span>
            <%= link_to(I18n.t('txt.admin.views.ticket_field.list_for_index.edit_label'), {:action => 'edit', :id => field}, {:class => 'edit_this', :rel => 'edit'}) %>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>

      <% if current_user.is_admin? %>
        <div class="item reorder buttons-right">
          <%= link_to I18n.t('txt.admin.views.ticket_field.list_for_index.reorder_label_caps'), {},
                        :onclick => "Ordering.SetOrder('#fields'); return(false);" -%>
        </div>
      <% end %>

    </div>

    <!-- ***************** Ordering ****************** -->
    <div id="fields_sort" style="display:none">
      <p>
        <%= I18n.t('txt.admin.views.ticket_field.list_for_index.changing_order_ticket_fields') %><br/><b><%= I18n.t('txt.admin.views.ticket_field.list_for_index.order_affect_public_fields_only')%></b></p>
      </p>

      <ul id="field-list" class="sortablelist">
        <% for field in @active_fields %>
          <li class="item sortable" id="field_<%= field.id %>" data-zendesk-original-position="<%= field.position %>">
            <%= Zendesk::Liquid::DcContext.render(h(field.title), current_account, current_user) %>
          </li>
        <% end %>
      </ul>

      <div class="buttons-right">
        <a href="javascript:void(0);" id="fields_reorder_done_link" class="button"><%= I18n.t('txt.admin.views.ticket_field.list_for_index.done_label_caps') %></a>
        <a href="#" class="cancel-sorting" onclick="Ordering.cancelOrdering('#fields'); return false;"><%= I18n.t('txt.admin.views.ticket_field.list_for_index.cancel_label') %></a>
      </div>
    </div>

  </div>

  <!-- ***************** Inactive ****************** -->
  <% unless @inactive_fields.blank? %>
    <div class="tabs_content inactive hover-actions">
      <h4><%= I18n.t('txt.admin.views.ticket_field.list_for_index.inactive_field_label_caps') %></h4>
      <% for field in @inactive_fields %>
        <div class="item">
          <%= render :partial => "setting_left", :locals => { :field => field } %>
          <% if current_user.is_admin? %>
            <div class="item-actions hover">
              <% unless field.is_apps_requirement? %>

              <% if field.can_be[:activated] %>
                <%= link_to I18n.t('txt.admin.views.ticket_field.list_for_index.activate_label'), {:action => 'activate', :id => field}, data: {method: :put} %>
              <% else %>
                <span class="ticket-field-disabled"><%=I18n.t('txt.admin.views.ticket_field.list_for_index.activate_label')%></span>
              <% end %>
                <span class="delim">|</span>
                <%= link_to I18n.t('txt.admin.views.ticket_field.list_for_index.edit_label'), {:action => 'edit', :id => field}, {:class => 'edit_this', :rel => 'edit'} %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>

<% if !@active_fields.empty? %>
  <% content_for :script_onload do -%>
    $j('#field-list').sortable();
    submit_sortable_list('fields', 'fields_sort', 'field-list', '<%= url_for :action => :sort -%>');
  <% end -%>
<% end %>

<%= js_init -%>
