<div class="item-info">

  <div class="float_label" style="width:320px;">
    <span class="title">
      <%= Zendesk::Liquid::DcContext.render(field.title, current_account, current_user) %>
      <%= render_required(field.is_required?) %>
    </span>

    <% if field.is_visible_in_portal? %>
      <% if field.is_editable_in_portal? %>
        <span class="property editable"><%= I18n.t('txt.admin.views.ticket_field.setting_left.editable_label') %><%= render_required(field.is_required_in_portal?) %></span>
      <% else %>
        <span class="property visible"><%= I18n.t('txt.admin.views.ticket_field.setting_left.visible_label') %></span>
      <% end %>
    <% end %>

    <% if @apps_requirements_ticket_fields.include? field.id %>
      <span class="property apps_requirements">
        <%= I18n.t('txt.admin.views.settings.apps_requirements.created_by_app',
            :app_name => html_escape(@apps_requirements_ticket_fields[field.id])) %>
      </span>
    <% end %>
  </div>

  <div class="float_label" style="width:260px; color:#999;padding-right:7px"><%= translate_setting_left_float_label(field.presentation_type) %></div>
  <div class="float_label" style="color:#999;">
    <% if TicketField::SYSTEM_FIELDS.member?(field.class.to_s) %>
      <strong style="color:#999"><%= I18n.t('txt.admin.views.ticket_field.setting_left.system_label_caps') %></strong>
    <% else %>
      <%= I18n.t('txt.admin.helpers.ticket_field_helpers.custom_label') %>
    <% end %>
  </div>
</div>
