<% @page_title = I18n.t('txt.admin.views.ticket_field.index.ticket_fields_label_caps') %>

<% content_for :head do %>
  <%= javascript_include_tag "rule" %>
<% end %>

<% content_for :sidebar do %>
  <%= div_side_box(@page_title) do %>
    <p><%= I18n.t('txt.admin.views.ticket_field.index.ticket_qualified_through_ticket_fields') %></p>
    <p><%= I18n.t('txt.admin.views.ticket_field.index.ticket_fields_can_be') %>
      <ul class="options">
        <li><%= I18n.t('txt.admin.views.ticket_field.index.visible_to_end_user_label') %></li>
        <li><%= I18n.t('txt.admin.views.ticket_field.index.editable_to_end_users') %></li>
      </ul>
    </p>
    <p><%= I18n.t('txt.admin.views.ticket_field.index.can_add_own_custom_ticket_fields') %></p>
  <% end %>
<% end %>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.ticket_field.index.ticket_fields_label_ticket_in_caps') %></h2>
  <p>
    <%= I18n.t('txt.admin.views.ticket_field.index.ticket_fields_text') %>
    <%= link_to I18n.t('txt.admin.views.reports.tabs.search.learn_more'),
                I18n.t('txt.contextual.references.ticket_fields.about.url'),
                :target => '_blank'  %>
  </p>
  <%= render :partial => "list_for_index" %>
<% end %>
