<% @page_title = I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_field_type_title') %>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_field_to_add') %></h2>
  <div class="frame" id="add_ticket_field">

    <div class="item">
      <div class="item-info">
        <div class="example">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.drop_down_list_example_title') %></h3>
          <select>
            <option><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.drop_down_list_example_option_one') %></option>
            <option><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.drop_down_list_example_option_two') %></option>
            <option><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.drop_down_list_example_option_three') %></option>
          </select>
        </div>
        <div class="desc">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.drop_down_list_label') %></h3>
          <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.drop_down_text') %></p>
        </div>
      </div>
      <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldTagger.name}), :class => 'big') %></div>
    </div>

    <%= stylesheet_link_tag 'vendor/zendesk_menus' %>
    <%= javascript_include_tag 'vendor/zendesk_menus' %>

    <div class="item">
      <div class="item-info">
        <div class="example">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_label') %></h3>
          <div class="multiselect-example"></div>
        </div>
        <div class="desc">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_label') %></h3>
          <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_text') %></p>
        </div>
      </div>
      <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldMultiselect.name}), :class => 'big') %></div>
    </div>
    <script>
      var moonsMenu = new ZendeskMenus.TagMenu({
        domHolderSelector: '.multiselect-example',
        ignoreCase: true,
        data: [
          {id:'california', label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_three')},
          {id:'new_york', label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_four')}
        ],
        comboSelectEditorOptions: {
          searchZeroStatePlaceholder: '',
          searchPlaceholder: '',
          hasCheckboxes: true,
          keepOpen: true,
          data: [
            {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_category_one'), children: [
              {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_one'), value: 'canada'},
              {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_two'), value: 'mexico'},
              {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_sub_category_one'), children: [
                {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_three'), value: 'california'},
                {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_four'), value: 'new_york'},
                {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_five'), value: 'texas'},
              ]}
            ]},
            {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_category_two'), children: [
              {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_six'), value: 'france'},
              {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_seven'), value: 'italy'},
              {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_sub_category_two'), children: [
                {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_eight'), value: 'england'},
                {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_nine'), value: 'scotland'},
                {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_ten'), value: 'wales'},
                {label: I18n.t('txt.admin.views.ticket_field.select_field_to_add.multiselect_list_example_option_eleven'), value: 'ireland'}
              ]}
            ]}
          ]}
        });
    </script>

    <div class="item">
      <div class="item-info">
        <div class="example">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.text_example_title') %></h3>
          <input type="text" placeholder="<%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.text_example_value') %>">
        </div>
        <div class="desc">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.text_label') %></h3>
          <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.text_text') %></p>
        </div>
      </div>
      <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldText.name}), :class => 'big') %></div>
    </div>

    <div class="item">
      <div class="item-info">
        <div class="example">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.multi_line_text_example_title') %></h3>
          <textarea rows="5" class="special" placeholder="<%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.multi_line_text_example_value') %>"></textarea>
        </div>
        <div class="desc">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.multi_line_text_label') %></h3>
          <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.multi_line_text_text') %></p>
        </div>
      </div>
      <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldTextarea.name}), :class => 'big') %></div>
    </div>

    <div class="item">
      <div class="item-info">
        <div class="example">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.numeric_example_title') %></h3>
          <input type="text" placeholder="45">
        </div>
        <div class="desc">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.numeric_label') %></h3>
          <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.numeric_text') %></p>
        </div>
      </div>
      <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldInteger.name}), :class => 'big') %></div>
    </div>

    <div class="item">
      <div class="item-info">
        <div class="example">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.decimal_example_title') %></h3>
          <input type="text" placeholder="<%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.decimal_example_value') %>">
        </div>
        <div class="desc">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.decimal_label') %></h3>
          <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.decimal_text') %></p>
        </div>
      </div>
      <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldDecimal.name}), :class => 'big') %></div>
    </div>

    <div class="item">
      <div class="item-info">
        <div class="example">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.checkbox_example_title') %></h3>
          <input type="checkbox">
        </div>
        <div class="desc">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.checkbox_label') %></h3>
          <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.checkbox_text') %></p>
        </div>
      </div>
      <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldCheckbox.name}), :class => 'big') %></div>
    </div>

    <div class="item">
      <div class="item-info">
        <div class="example">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.date_example_title') %></h3>
          <input type="text" class="new_date_picker" readonly='readonly'>
        </div>
        <div class="desc">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.date_label') %></h3>
          <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.date_text') %></p>
        </div>
      </div>
      <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldDate.name}), :class => 'big') %></div>
    </div>

    <% if current_account.has_pci_credit_card_custom_field? %>
      <div class="item">
        <div class="item-info">
          <div class="example">
            <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.credit_card_example_title') %></h3>
            <input type="text" readonly='readonly' placeholder="XXXX XXXX XXXX 7890">
          </div>
          <div class="desc">
            <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.credit_card_label') %></h3>
            <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.credit_card_text') %></p>
          </div>
        </div>
        <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldPartialCreditCard.name}), :class => 'big') %></div>
      </div>
    <% end %>

    <div class="item nobottom">
      <div class="item-info">
        <div class="example">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.regular_expression_example_title') %></h3>
          <input type="text" placeholder="A12R-OFWGKTA-3X">
        </div>
        <div class="desc">
          <h3><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.regular_expression_label') %></h3>
          <p><%= I18n.t('txt.admin.views.ticket_field.select_field_to_add.regular_expression_text') %></p>
        </div>
      </div>
      <div class="item-actions"><%= link_to(I18n.t('txt.admin.views.ticket_field.select_field_to_add.select_label'), new_ticket_field_path(:ticket_field => {:type => FieldRegexp.name}), :class => 'big') %></div>
    </div>

  </div>
<% end %>
