<% @page_title = I18n.t('txt.admin.views.tags.index.most_popular_tags_label') %>

<%= div_content do %>
  <div class="content-top-right">
  </div>

  <h2><%= I18n.t('txt.admin.views.tags.index.popular_tags_label') %></h2>
  <p><%= I18n.t('txt.admin.views.tags.index.popular_tags_text_three') %></p>
  <% if @tags.empty? %>
  <p><%= I18n.t('txt.admin.views.tags.index.popular_tags_text_one') %></p>
  <% else %>
  <p><%= I18n.t('txt.admin.views.tags.index.popular_tags_text_two')%></p>
  <div class="frame">
    <div class="tagcloud" style="padding: 11px 8px 12px 5px;">
        <%= tag_cloud(@model, @tags) %>
    </div>
  </div>
  <% end %>
<% end %>
