<%
   @type_name, @alternative = (@model == Ticket ? ['ticket', 'topic'] : ['topic', 'ticket'])
   @tag = @tag.to_s
   @page_title = (@model == Ticket ? I18n.t('txt.admin.views.tags.show.tickets_tagged_with_tag', :tag => @tag) : I18n.t('txt.admin.views.tags.show.topics_tagged_with_tag', :tag => @tag))
%>

<%= div_content do %>
  <% if !@tag_error.nil? %>
    <% @page_title = @tag_error %>
  <% elsif @result.empty? %>
    <% @page_title = @model == Ticket ? I18n.t('txt.admin.views.tags.show.no_tickets_found', :tag => @tag) : I18n.t('txt.admin.views.tags.show.no_topics_found', :tag => @tag ) %>
  <% end %>

  <h2><%= @page_title %></h2>
  <% if @model == Ticket %>
    <%= render :partial => 'shared/tickets_table', :locals => { :tickets => @result, :options => {:output => @output, :sorting_allowed => false}} %>
  <% elsif !@result.empty? %>
    <h3><%= I18n.t('txt.admin.views.tags.show.topics_found', :count => @result.length) %></h3>
    <%= render :partial => '/search/result', :locals => { :records => @result } %>
  <% end %>
  <% if !@result.empty? && current_user.is_admin? %>
    <div class="action">
      <%= link_to_remote I18n.t('txt.admin.views.tags.show.remove_tag_tag_from_tickets', :tag => "<strong>#{@tag}</strong>").html_safe,
        { :confirm => (I18n.t('txt.admin.views.tags.show.message_about_to_remove_tag', :tag => "\"#{@tag}\"") + "\n\n" + I18n.t('txt.admin.views.tags.show.no_triggers_will_be_triggered') + "\n\n" + I18n.t('txt.admin.views.tags.show.proceed_label')),
          :method => :put,
          :url => bulk_tag_path(tag_encode(@tag), :background => 'true'),
          :success => "$z('tags/show').showTagJobStatus(request);"
        },
        :class => 'admin' %>
    </div>
  <% end %>
<% end %>

<% if @model == Ticket %>
  <%= render :partial => '/rules/bulk_update' %>
<% end %>

<%= js_init %>
