@import "mixins.css.scss";
@import "../admin/misc/_colors.css.scss";
@import "../admin/misc/_fonts.css.scss";

// https://github.com/zendeskgarden/css-bedrock/pull/8
_:-ms-input-placeholder, html { font-feature-settings: normal; }

.onboarding_wrapper {
  min-width: 800px;

  .onboarding_container {
    color: #444;
    background-color: #fff;
    padding-top: 30px;
    text-align: center;

    h1 {
      font-size: 15px;
      font-weight: 600;
    }

    p.tagline {
      font-size: 50px;
      line-height: 50px;
      font-weight: 100;
      margin: 30px auto 40px;
      width: 820px;
    }

    p.subheading {
      font-size: 15px;
      line-height: 22px;
      display: block;
      margin: 0 auto 10px;
    }

    .widget_animation {
      img {
        width: 400px;
        height: 400px;
      }
    }

    .mobile-sdk-tos {
      text-align: center;
      margin: 15px auto;
      width: 550px;

      label {
        display: inline;
      }
      input {
        display: inline;
        margin-right: 5px;
      }
    }

    #agree_mobile_sdk_tos {
      width: auto;
      height: auto;
    }

    button.get_started {
      @include rounded-corners(3px);
      border: none;
      padding: 0;
      cursor: pointer;
      font-size: 13px;
      background-color: $button-inactive;
      margin: 10px auto 0;
      min-width: 196px;
      color: #fff;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      text-decoration: none;
      pointer-events: none;
      font-size: 13px;
      // this stack was copied from https://github.com/zendeskgarden/css-variables/blob/v2.1.0/dist/index.scss#L100
      font-family: $system;

      &.active {
        background-color: $button-orange;
        pointer-events: auto;

        &:hover {
          background-color: lighten(#FDA028, 5);
          text-decoration: none;
        }
      }

    }

    .divider {
      border-bottom: 1px solid #EEEEEE;
      width: 580px;
      margin: 50px auto;
    }

    .why {
      overflow: hidden;
      height: auto;

      .why_items {
        margin: 0;
        padding: 0;

        li {
          width: 280px;
          display: inline-block;
          vertical-align: top;
          margin-top: 0;
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }

          h4 {
            color: #333;
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 20px;
          }

          img {
            margin: 0 auto 30px;
            width: 170px;
            height: 170px;
          }

          p {
            color: #555;
            font-size: 15px;
            line-height: 20px;
            padding: 0 15px;
          }

          .spacer {
            height: 200px;
          }
        }
      }
    }

    .tabbed_container {
      margin-top: 50px;

      .tab_links a {
        color: #555;
        float: none;
        font-size: 15px;
        display: inline-block;

        &.current {
          color: #333;
          font-weight: 600;
        }
      }

      .tabs_content {
        margin: 0 auto;
        padding-top: 50px;
        width: 920px;
      }
    }
  }
}
