@import "../../mixins.css.scss";
@import "../admin/misc/_colors.css.scss";

body.chat-show {
  .zopim-settings, .zopim-marketing {
    p {
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  .zopim-chat-new-label {
    color: #5abbe1;
    padding-left: 5px;
    text-transform: uppercase;
    font: {
      size: 10px;
      weight: bold;
    }
  }

  .zopim-settings  {
    .settings-header {
      margin: 30px 0 10px 0;
      padding: 0;
      clear: both;
      font-size: 16px;
      font-weight: bold;
    }

    .settings-footer {
      margin-top: 20px;
    }
  }

  .zopim-marketing {
    margin-top: 60px;
    text-align: center;

    .zopim-customer {
      color: #005580;
      margin-top: 15px;
      font-size: 17px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .cta {
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 16px 42px;
      margin-left: 0;
      margin-bottom: 18px;
      background-color: $button-inactive;
      @include border-radius(5px);
      font: {
        size: 13px;
        weight: normal;
      }

      &.active {
        background-color: $button-orange;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .zopim-cta-separator {
      width: 150px;
      margin: 0 auto;
    }

    .zopim-tos {
      text-align: center;
      margin-top: -5px;
      margin-bottom: 15px;
      label {
        display: inline;
      }
      input {
        display: inline;
        margin-right: 5px;
      }
    }

    #zopim-cta-header {
      margin: 30px auto 30px auto;
      line-height: 50px !important;
      width: 620px;
      color: #333;
      font: {
        size: 50px !important;
        weight: 100;
      }
    }

    p.sub-header {
      color: #555;
      line-height: 22px;
      width: 600px;
      margin: 0 auto 50px auto;
      font: {
        size: 15px;
        weight: normal;
      }
    }

    .inner-tabs {
      .tab-link-container {
        float: left;
        width: 50%;
      }

      .tab-menu {
        margin: 50px auto 50px auto;
        padding-left: 0;
        list-style: none;
        width: 600px;
        border-bottom: 1px solid whitesmoke;
        li {
          &.current {
            font-weight: bold;
          }
          line-height: 22px;
          float: left;
          width: 50%;
          margin: 0;
          font: {
            size: 15px;
            weight: regular;
          }
        }

        .tab-link-container {
          &.left {
            a {
              float: right;
              margin-right: 15px
            }
          }

          &.right {
            a {
              float: left;
              margin-left: 15px
            }
          }

          a {
            color: #343434;
            font-weight: normal;
            font-size: 15px;
            border-radius: 0;
            padding: 0 0 5px 0;
            margin: 0;
            border-bottom: 3px solid transparent;
            text-align: center;
            text-decoration: none;

            &.current {
              border: none;
              font-weight: bold;
              border-bottom: 3px solid #649800;
              cursor: default;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }

      margin-top: 50px;
      .tab-content {
        display: none;
        width: 980px;
        margin: 0 auto;
      }
    }
    .cols3 {
      .col3 {
        width: 33%;
        float: left;
        p {
          margin: 13px 50px 0 50px;
        }
      }
    }
    .cols2 {
      .col2 {
        width: 48%;
        float: left;

        &.left {
          p {
            margin-right: 0;
          }
        }

        &.right {
          h3, p {
            margin-left: 54px;
          }
        }

        h3 {
          text-align: left;
          color: #333333;
          line-height: 22px;
          margin-left: 34px;
          margin-top: 30px;
          font: {
            size: 15px;
            weight: 600;
          }
        }

        p {
          margin-left: 34px;
          text-align: left;
          color: #333333;
          line-height: 22px;
          font: {
            size: 13px;
            weight: normal;
          }
        }
      }
    }
  }

  .zopim-box {
    background-color: #f8f8f8;
    color: #333;
    margin-bottom: 10px;
    padding: 15px 30px 15px 30px;
    @include border-radius(5px);
    line-height: 18px;

    .zopim-settings {
      padding-left: 25px;
    }

    &:hover {
      background-color: #f0f0f0;
      text-decoration: none;
      cursor: pointer;
    }

    div.header {
      margin: 0px 0px 5px 50px;
      font-size: 16px;
      font-weight: bold;
    }

    div.body {
      margin: 0px 0px 0px 50px;
      font-size: 12px;
    }

    div.icon {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 5px;
    }

    &.dashboard {
      .icon {
        background: url(/classic/images/chat/ico_admin_chat_zopim_old.png) 0px 0px no-repeat;
      }
    }

    &.dashboard_zopim {
      .icon {
        background: url(/classic/images/chat/ico_admin_chat_zopim.png) 0px 0px no-repeat;
      }
    }

    &.app-settings {
      .icon {
        background: url(/classic/images/chat/ico_admin_chat_apps.png) 0px 0px no-repeat;
      }
    }

    &.help-center {
      .icon {
        background: url(/classic/images/chat/ico_admin_chat_hc.png) 0px 0px no-repeat;
      }
    }
  }

  .zopim-subscription {
    background-color: #fff;
    .trial-header {
      display: inline-block;
      width: 100%;

      h2 {
        float:left;
        span {
          color: $button-orange;
          font-size: 14px;
        }
      }

      .days-remaining, .trial-expired {
        float:right;
        margin-top: 12px;
        padding-top: 12px;
        font-size: 14px;
        margin-right: 15px;
      }

      .trial-expired {
        color: red;
      }

      .buy-zopim, .buy-zendesk, .adjust-plan {
        font-size: 16px;
        margin-top: 10px;
        padding: 10px 25px;
        float: right;
        background-color: #d3d3d3;
        color: #fff;
        text-align: center;
        @include border-radius(10px);

        &:hover {
          background-color: #ffab1a;
          text-decoration: none;
          cursor: pointer;
        }
      }

      .orange-btn {
        background-color: $button-orange;
      }
    }

    hr {
      clear: both;
    }
  }

  .zopim-subscription {
    color: #333;
    margin-bottom: 10px;
    padding: 15px 30px 20px 30px;
    border: 2px solid #f8f8f8;
    @include border-radius(10px);
    margin: 20px 0;

    h2 {
      color: $gray;
      font: {
        size: 20px !important;
      }
    }

    .adjust-plan {
      font-size: 13px !important;
    }

    .zopim-features {
      font-weight: bold;
      float: left;
      padding-right: 115px;
      line-height: 30px;
    }

    .zopim-feature-status {
      line-height: 30px;
      float: left;
      color: $gray;
      .widget-link {
        color: #005580;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
