<div class="item-actions hover">
  <%= permission_set_actions(permission_set) %>
</div>

<div class="icon"><img src="/images/types/role.png" title="<%= I18n.t('txt.admin.helpers.people.people_helper.role_label') %>"/></div>

<div class="item-info with-icon">
  <h1>
    <%= link_to("#{permission_set.translated_name}", users_path(:permission_set => permission_set.id), :dir => 'auto') %>
    <%= content_tag :span, "(#{permission_set.agent_count})", :class => 'item_count' %>
  </h1>
  <%= content_tag :div, truncate(h(permission_set.translated_description), :length => 400), :class => 'info' %>
</div>
