<div class="icon"><img src="/images/types/role.png" title="<%= I18n.t('txt.admin.views.people.roles.role.permission_set_image_title') %>"/></div>

<div class="item-info with-icon">
  <h1>
    <%= link_to("#{role.display_name || h(role.name)}", users_path(role.to_query_params), :dir => 'auto') %>
    <%= content_tag :span, "(#{current_account.agents.where(role.to_conditions).count})", :class => 'item_count' %>
  </h1>
  <%= content_tag :div, role.description, :class => 'info' %>
</div>
