<% url, method = @permission_set.new_record? ? [ people_roles_path, :post ] : [ people_role_path(@permission_set), :put ] %>
<%= form_for @permission_set, :url => url, :html => {  :method => method, :class => "two_column", :id => "permission_set_form", "data-light-agent" => @permission_set.is_light_agent? } do |f| %>
  <h2><%= I18n.t('txt.admin.views.people.roles.role_definition.role_name_label') %></h2>
  <%= f.text_field :name, :class => 'title', :value => @permission_set.translated_name, :dir => 'auto' %>
  <%= zd_tabs do %>
    <%= zd_tab(I18n.t('txt.admin.views.people.roles.role_definition.role_definition_label')) do %>
      <div class="element_group">
        <div class="form_element">
          <%= label_tag I18n.t('txt.admin.views.people.roles.role_definition.description_label') %>
          <div class="form_field">
            <%= f.text_area :description, :rows => 4, :value => @permission_set.translated_description %>
          </div>
        </div>

        <div class="form_element">
          <%= label_tag I18n.t('txt.admin.views.people.roles.role_definition.tickets_label') %>

          <div class="form_field">
            <%= f.label :ticket_access, I18n.t('txt.admin.views.people.roles.role_definition.kind_of_tickets_access_text'), :class => 'block' %>
            <%= f.property_set(:permissions).select :ticket_access, ticket_access_options(@permission_set) %>

            <p class="warning" id="ticket_access_message" style="margin-top: 10px; display: none;"></p>
          </div>

          <% assign_to_any_group_message = @permission_set.is_light_agent? ? I18n.t('txt.admin.views.people.roles.role_definition.can_assign_to_any_group_when_is_requester') : I18n.t('txt.admin.views.people.roles.role_definition.can_assign_to_any_group') %>
          <div id="assign_to_any_group" class="form_field">
            <%= zd_enable_checkbox(f.property_set(:permissions),
              :assign_tickets_to_any_group,
              assign_to_any_group_message) %>
          </div>

          <div class="form_field">
            <%= f.label :comment_access, I18n.t('txt.admin.views.people.roles.role_definition.kind_of_tickets_comments_text'), :class => 'block' %>
            <%= f.property_set(:permissions).select :comment_access, [
              [I18n.t('txt.admin.views.people.roles.role_definition.private_only_comments'), "private"],
              [I18n.t('txt.admin.views.people.roles.role_definition.private_public_only_comments'), "public"]
            ] %>
          </div>

          <div class="form_field">
            <%= zd_enable_checkbox(f.property_set(:permissions),
              :ticket_editing,
              I18n.t('txt.admin.views.people.roles.role_definition.can_edit_properties'), {
                'data-toggles' => '#sub_setting_ticket_editing_options',
                'disabled' => @permission_set.permissions.ticket_access == 'assigned-only'
              }
            ) %>
            <p><%= I18n.t('txt.admin.views.people.roles.role_definition.explanation_ticket_properties')%></p>

            <%= zd_sub_setting(:ticket_editing_options, :show => @permission_set.permissions.ticket_editing?) do %>

              <div class="form_field">
                <%= zd_enable_checkbox(f.property_set(:permissions), :ticket_deletion, I18n.t('txt.admin.views.people.roles.role_definition.can_delete_tickets'), { "data-toggles" => '#sub_setting_ticket_deletion', :disabled => !@permission_set.permissions.ticket_editing?  }) %>
                <p><%= I18n.t('txt.admin.views.people.roles.role_definition.delete_tickets_text') %></p>

                <%= zd_sub_setting(:ticket_deletion, :show => @permission_set.permissions.ticket_deletion?) do %>
                  <div class="form_field">
                    <%= zd_enable_checkbox(f.property_set(:permissions), :view_deleted_tickets, I18n.t('txt.admin.views.people.roles.role_definition.view_deleted_tickets')) %>
                    <p><%= I18n.t('txt.admin.views.people.roles.role_definition.view_deleted_tickets_text') %></p>
                  </div>
                <% end %>
              </div>

              <div class="form_field">
                <%= zd_enable_checkbox(f.property_set(:permissions), :ticket_merge, I18n.t('txt.admin.views.people.roles.role_definition.can_merge_tickets')) %>
                <p><%= I18n.t('txt.admin.views.people.roles.role_definition.merge_tickets_text') %></p>
              </div>

              <div class="form_field">
                <%= zd_enable_checkbox(f.property_set(:permissions), :edit_ticket_tags, I18n.t('txt.admin.views.people.roles.role_definition.can_edit_tags')) %>
                <p><%= I18n.t('txt.admin.views.people.roles.role_definition.edit_tags_text')%></p>
              </div>

              <% if current_account.has_present_ticket_bulk_edit_permission? %>
                <div class="form_field">
                  <%= zd_enable_checkbox(f.property_set(:permissions),
                    :ticket_bulk_edit,
                    I18n.t('txt.admin.views.people.roles.role_definition.can_ticket_bulk_edit')
                  ) %>
                  <p><%= I18n.t('txt.admin.views.people.roles.role_definition.explanation_can_ticket_bulk_edit')%></p>
                </div>
              <% end %>
            <% end %>
          </div>

          <% if current_account.has_satisfaction_prediction_enabled? %>
            <div class="form_field">
              <%= zd_enable_checkbox(f.property_set(:permissions), :view_ticket_satisfaction_prediction, I18n.t('txt.admin.views.people.roles.role_definition.can_view_ticket_satisfaction_prediction')) %>
              <p><%= I18n.t('txt.admin.views.people.roles.role_definition.view_ticket_satisfaction_prediction_text') %></p>
            </div>
          <% end %>
       </div>

        <div class="form_element">
          <%= label_tag I18n.t('txt.admin.views.people.roles.role_definition.people_label') %>

          <div class="form_field">
            <%= f.label :end_user_profile, I18n.t('txt.admin.views.people.roles.role_definition.access_end_users'), :class => 'block' %>
            <%= f.property_set(:permissions).select :end_user_profile, [
              [I18n.t('txt.admin.views.people.roles.role_definition.access_end_user.read_only'), "readonly"],
              [I18n.t('txt.admin.views.people.roles.role_definition.access_end_user.add_edit_organization'), "edit-within-org"],
              [I18n.t('txt.admin.views.people.roles.role_definition.access_end_user.full'), "full"]]
            %>
            <p><%= I18n.t('txt.admin.views.people.roles.role_definition.access_end_user_text_v3') %></p>
          </div>

          <div class="form_field" id="people_listing_options">
            <%= f.label :list_users, I18n.t('txt.admin.views.people.roles.role_definition.view_list_user_profile'), :class => 'block' %>
            <%= f.property_set(:permissions).select :available_user_lists, [
                [ I18n.t('txt.admin.views.people.roles.role_definition.list_profile.cannot_v2'), "none" ],
                [ I18n.t('txt.admin.views.people.roles.role_definition.list_profile.can'), "all" ]
              ]
            %>
            <p><%= I18n.t('txt.admin.views.people.roles.role_definition.list_profile_text_v2') %></p>
          </div>

          <% if current_account.has_user_views? %>
            <div class="form_field" id="user_view_access">
              <%= f.label :user_view_access, I18n.t('txt.admin.views.people.roles.role_definition.customer_lists.title'), :class => 'block' %>
              <%= f.property_set(:permissions).select :user_view_access, [
                [I18n.t('txt.admin.views.people.roles.role_definition.customer_lists.readonly'), "readonly"],
                [I18n.t('txt.admin.views.people.roles.role_definition.customer_lists.manage_personal'), "manage-personal"],
                [I18n.t('txt.admin.views.people.roles.role_definition.customer_lists.manage_group'), "manage-group"],
                [I18n.t('txt.admin.views.people.roles.role_definition.customer_lists.full'), "full"]]
              %>
              <p><%= I18n.t('txt.admin.views.people.roles.role_definition.customer_lists.text') %></p>
            </div>
          <% end %>

          <div class="form_field" id="people_editing_options">
            <%= zd_enable_checkbox(f.property_set(:permissions), :edit_organizations, I18n.t('txt.admin.views.people.roles.role_definition.add_modify_groups_orgs')) %>
            <p><%= I18n.t('txt.admin.views.people.roles.role_definition.group_org_explanation') %></p>
          </div>
        </div>

        <% unless current_account.web_portal_and_help_center_disabled? %>
          <div class="form_element">
          <%= label_tag I18n.t('txt.admin.views.people.roles.role_definition.help_center_label') %>
          <div class="form_field">
            <%= f.check_box :manage_help_center %>
            <%= f.label :manage_help_center, I18n.t('txt.admin.views.people.roles.role_definition.manage_help_center'), :class => 'checkbox' %>
          </div>
        <% end %>
        <% if current_account.has_explore_access_permission_set? &&
            (current_account.enterprise_explore? ||
             current_account.enterprise_good_data_and_explore?) %>
          <div class="form_element">
            <%= label_tag I18n.t('txt.admin.views.people.roles.role_definition.explore_label') %>

            <div class="form_field">
              <%= f.label :explore_access, I18n.t('txt.admin.views.people.roles.role_definition.explore_access.title'), :class => 'block' %>
              <% if Arturo.feature_enabled_for?(:central_admin_staff_mgmt_roles_tab, current_account) %>
                <%= f.property_set(:permissions).select :explore_access, [
                    [I18n.t('txt.admin.views.people.roles.role_definition.explore_access.edit'), 'edit'],
                    [I18n.t('txt.admin.views.people.roles.role_definition.explore_access.readonly'), 'readonly'],
                    [I18n.t('txt.admin.views.people.roles.role_definition.explore_access.full'), 'full'],
                  ]
                %>
              <% else %>
                <%= f.property_set(:permissions).select :explore_access, [
                  [I18n.t('txt.admin.views.people.roles.role_definition.explore_access.edit'), 'edit'],
                  [I18n.t('txt.admin.views.people.roles.role_definition.explore_access.readonly'), 'readonly'],
                  [I18n.t('txt.admin.views.people.roles.role_definition.explore_access.full'), 'full'],
                  [I18n.t('txt.admin.views.people.roles.role_definition.explore_access.none'), 'none']
                ]
               %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="form_element">
          <%= label_tag I18n.t('txt.admin.views.people.roles.role_definition.tools_label') %>
          <% unless current_account.enterprise_explore? %>
            <div class="form_field">
              <%= f.label :report_access, I18n.t('txt.admin.views.people.roles.role_definition.agent_reports.title'), :class => 'block' %>
              <%= f.property_set(:permissions).select :report_access, [
                [I18n.t('txt.admin.views.people.roles.role_definition.agent_reports.none'), "none"],
                [I18n.t('txt.admin.views.people.roles.role_definition.agent_reports.readonly'), "readonly"],
                [I18n.t('txt.admin.views.people.roles.role_definition.agent_reports.full'), "full"]]
              %>
              <p><%= I18n.t('txt.admin.views.people.roles.role_definition.agent_reports_text') %></p>
            </div>
          <% end %>

          <div class="form_field">
            <%= f.label :view_access, I18n.t('txt.admin.views.people.roles.role_definition.views.title'), :class => 'block' %>
            <% if current_account.has_play_tickets_advanced? %>
              <%= f.property_set(:permissions).select :view_access, [
                [I18n.t('txt.admin.views.people.roles.role_definition.views.playonly'), 'playonly'],
                [I18n.t('txt.admin.views.people.roles.role_definition.views.readonly'), 'readonly'],
                [I18n.t('txt.admin.views.people.roles.role_definition.views.manage_personal'), 'manage-personal'],
                [I18n.t('txt.admin.views.people.roles.role_definition.views.manage_group'), 'manage-group'],
                [I18n.t('txt.admin.views.people.roles.role_definition.views.full'), 'full']]
              %>
            <% else %>
              <%= f.property_set(:permissions).select :view_access, [
                [I18n.t('txt.admin.views.people.roles.role_definition.views.readonly'), 'readonly'],
                [I18n.t('txt.admin.views.people.roles.role_definition.views.manage_personal'), 'manage-personal'],
                [I18n.t('txt.admin.views.people.roles.role_definition.views.manage_group'), 'manage-group'],
                [I18n.t('txt.admin.views.people.roles.role_definition.views.full'), 'full']]
              %>
            <% end %>
            <p><%= I18n.t('txt.admin.views.people.roles.role_definition.views.text') %></p>
          </div>

          <div class="form_field">
            <%= f.label :macro_access, I18n.t('txt.admin.views.people.roles.role_definition.macros.title'), :class => 'block' %>
            <%= f.property_set(:permissions).select :macro_access, [
              [I18n.t('txt.admin.views.people.roles.role_definition.macros.readonly'), "readonly"],
              [I18n.t('txt.admin.views.people.roles.role_definition.macros.manage_personal'), "manage-personal"],
              [I18n.t('txt.admin.views.people.roles.role_definition.macros.manage_group'), "manage-group"],
              [I18n.t('txt.admin.views.people.roles.role_definition.macros.full'), "full"]]
            %>
            <p><%= I18n.t('txt.admin.views.people.roles.role_definition.macros.text') %></p>
          </div>

          <% if current_account.has_cms? %>
            <div class="form_field">
              <%= zd_enable_checkbox(f.property_set(:permissions), :manage_dynamic_content, I18n.t('txt.admin.views.people.roles.role_definition.dynamic_content.title')) %>
              <p><%= I18n.t('txt.admin.views.people.roles.role_definition.dynamic_content.text') %></p>
            </div>
          <% end %>
        </div>

        <div class="form_element">
          <%= label_tag I18n.t('txt.admin.views.people.roles.role_definition.channels_label') %>

          <%- if current_account.has_twitter_saved_search? && valid_twitter_searches.any? -%>
            <div class="form_field">
              <%= zd_enable_checkbox(f.property_set(:permissions), :view_twitter_searches, I18n.t('txt.admin.views.people.roles.role_definition.access_twitter')) %>
              <p>
                <%= I18n.t('txt.admin.views.people.roles.role_definition.access_twitter_text')%>
              </p>
            </div>
          <%- end -%>

          <div class="form_field">
            <%= zd_enable_checkbox(f.property_set(:permissions), :manage_facebook, I18n.t('txt.admin.views.people.roles.role_definition.facebook.title')) %>
            <p><%= I18n.t('txt.admin.views.people.roles.role_definition.facebook.text') %></p>
          </div>

          <% if current_account.has_voice_enabled? && voice_feature_enabled?(:legacy_features) %>
            <div class="form_field">
              <%= zd_enable_checkbox(f.property_set(:permissions), :voice_availability_access, I18n.t('txt.admin.views.people.roles.role_definition.voice_availability_access')) %>
              <p><%= I18n.t('txt.admin.views.people.roles.role_definition.voice_availability_access_text') %></p>
            </div>
          <% end %>

          <% if current_account.has_voice_enabled? && voice_feature_enabled?(:dashboard) %>
            <div class="form_field">
              <%= zd_enable_checkbox(f.property_set(:permissions), :voice_dashboard_access, I18n.t('txt.admin.views.people.roles.role_definition.view_dashboard_talk')) %>
              <p><%= I18n.t('txt.admin.views.people.roles.role_definition.view_dashboard_text_talk') %></p>
            </div>
          <% end %>
        </div>

        <% if Arturo.feature_enabled_for?(:lotus_feature_side_conversation_roles, current_account) %>
          <div class="form_element">
            <%= label_tag I18n.t('txt.admin.views.people.roles.role_definition.side_conversations') %>

            <div class="form_field">
              <%= zd_enable_checkbox(f.property_set(:permissions), :side_conversation_create, I18n.t('txt.admin.views.people.roles.role_definition.side_conversation_create')) %>
              <p>
                <%= I18n.t('txt.admin.views.people.roles.role_definition.side_conversation_create_description') %>
              </p>
            </div>
          </div>
        <% end %>

        <div class="form_element">
          <%= label_tag I18n.t('txt.admin.views.people.roles.role_definition.system_label') %>
          <div class="form_field">
            <%= zd_enable_checkbox(f.property_set(:permissions), :business_rule_management, I18n.t('txt.admin.views.people.roles.role_definition.business_rules')) %>
            <p><%= I18n.t('txt.admin.views.people.roles.role_definition.business_rules_text') %>
            </p>
          </div>
          <div class="form_field">
            <%= zd_enable_checkbox(f.property_set(:permissions), :extensions_and_channel_management, I18n.t('txt.admin.views.people.roles.role_definition.channel_extensions')) %>
            <p><%= I18n.t('txt.admin.views.people.roles.role_definition.channel_extensions_text')%></p>
          </div>
        </div>

      </div>
      <div class="actions">
        <% if current_user.can?(:delete, @permission_set) %>
            <%= link_to(I18n.t('txt.admin.views.people.roles.role_definition.delete_label'), people_role_path(@permission_set), :data => { :confirm => I18n.t('txt.admin.views.people.roles.role_definition.delete_confirmation'), :method => :delete }, :class => "admin remove") %>
            <%= I18n.t('txt.admin.views.people.roles.role_definition.delete_or_create_connector_text') %>
        <% end %>
        <%= submit_tag(@permission_set.new_record? ? I18n.t('txt.admin.views.people.roles.role_definition.create_role_label') : I18n.t('txt.admin.views.people.roles.role_definition.update_role_label'), :class => "button save") %>
      </div>
    <% end %>
  <% end %>
<% end %>
