<% @page_title = @permission_set.id ? I18n.t('txt.admin.views.people.roles.edit.page_title.edit_role') : I18n.t('txt.admin.views.people.roles.edit.page_title.add_role') %>

<% content_for :sidebar do %>
  <%= div_side_box(@page_title) do %>
    <p><%= I18n.t('txt.admin.views.people.roles.edit.side_box.text_one')%></p>
    <p><%= I18n.t('txt.admin.views.people.roles.edit.side_box.text_two')%></p>
  <% end %>
<% end %>

<%= div_content do %>
  <div class="content-top-right big">
    <p><%= link_to_if(@permission_set.agent_count > 0, I18n.t('txt.admin.views.people.roles.edit.agents_in_role', :number_of_agents_in_role => @permission_set.agent_count ), users_path(:permission_set => @permission_set.id)) if @permission_set.id %></p>
  </div>

  <%= render :partial => 'role_definition' %>
<% end %>
