<header class='u-m-lg'>
  <% flash.each do |_, msg| %>
    <div class='u-mb-lg c-callout c-callout--error'>
      <%= msg %>
    </div>
  <% end %>

  <h1 class='u-fs-xl'><%= @permission_set.translated_name %></h1>

  <% unless @permission_set.new_record? || @permission_set.is_light_agent? %>
  <div class='actions'>
    <button></button>
    <nav class='c-menu c-menu--down u-position-relative <%= rtl_class %>' style='display: none;'>
      <% role_edit_actions(@permission_set).each do |action| %>
        <%= action %>
      <% end %>
    </nav>
  </div>
  <% end %>
</header>

<main>
  <% url = @permission_set.new_record? ? people_roles_path : people_role_path(@permission_set) %>
  <% method = @permission_set.new_record? ? :post : :put %>
  <%= form_for @permission_set, url: url,
    html: { method: method, id: 'custom_role_form', 'data-light-agent': @permission_set.is_light_agent? } do |f| %>
    <%= f.fields_for :permissions do |permission_fields| %>
    <%= f.fields_for :policy_service_permissions do |ps_permission_fields| %>
      <%= section do %>
        <div class='c-txt u-mb-xs l-wrapper--320'>
          <label class='c-txt__label' for='name'><%= I18n.t("#{string_prefix}.role_name_label") %></label>
          <%= f.text_field :name, class: 'c-txt__input', value: @permission_set.translated_name, required: true, maxlength: PermissionSet::ROLE_NAME_MAX_LENGTH %>
        </div>
        <div class='c-txt u-mb-xs l-wrapper--480'>
          <label class='c-txt__label' for='description'><%= I18n.t("#{string_prefix}.description_label") %></label>
          <%= f.text_field :description, class: 'c-txt__input', value: @permission_set.translated_description, maxlength: PermissionSet::ROLE_DESCRIPTION_MAX_LENGTH %>
        </div>
      <% end # role details section %>

      <%= section(
        title: I18n.t("#{string_prefix}.tickets_label"),
        description: I18n.t("#{string_prefix}.tickets_description")) do %>
        <%= permission_sub_section do %>
          <%= permission_radio_group(
            form: permission_fields,
            permission: :ticket_access,
            checked: @permission_set.permissions.ticket_access,
            label: I18n.t("#{string_prefix}.accessible_tickets_text"),
            radio_options: ticket_access_options(@permission_set)) %>

          <%= permission_child_sub_section(
            id: 'assign_tickets',
            hidden: @permission_set.permissions.ticket_access != 'within-groups') do %>
            <%= permission_checkbox(
              form: permission_fields,
              permission: :assign_tickets_to_any_group,
              checked: @permission_set.permissions.assign_tickets_to_any_group,
              label: assign_tickets_message(@permission_set),
              label_weight_regular: true) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.explanation_assign_tickets_to_any_group")) %>
            <% end %>
          <% end %>
        <% end %>

        <%= permission_sub_section do %>
          <%= permission_checkbox(
            form: permission_fields,
            permission: :ticket_editing,
            checked: @permission_set.permissions.ticket_editing,
            label: I18n.t("#{string_prefix}.edit_ticket_properties")) do %>
            <%= permission_checkbox_hint(I18n.t("#{string_prefix}.explanation_edit_ticket_properties")) %>
          <% end %>

          <%= permission_child_sub_section(
            id: 'sub_setting_ticket_editing_options',
            hidden: !@permission_set.permissions.ticket_editing?) do %>
            <%= permission_checkbox(
              form: permission_fields,
              permission: :ticket_deletion,
              checked: @permission_set.permissions.ticket_deletion,
              label: I18n.t("#{string_prefix}.delete_tickets"),
              label_weight_regular: true) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.delete_tickets_description_text")) %>
            <% end %>

            <%= permission_child_sub_section(
              id: 'sub_setting_ticket_deletion',
              hidden: !@permission_set.permissions.ticket_deletion?) do %>
              <%= permission_checkbox(
                form: permission_fields,
                permission: :view_deleted_tickets,
                checked: @permission_set.permissions.view_deleted_tickets,
                label: I18n.t("#{string_prefix}.view_deleted_tickets_v2"),
                label_weight_regular: true) do %>
                <%= permission_checkbox_hint(I18n.t("#{string_prefix}.view_deleted_tickets_text")) %>
              <% end %>
            <% end %>

            <%= permission_checkbox(
              form: permission_fields,
              permission: :ticket_merge,
              checked: @permission_set.permissions.ticket_merge,
              label: I18n.t("#{string_prefix}.merge_tickets"),
              label_weight_regular: true) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.merge_tickets_description_text")) %>
            <% end %>

            <%= permission_checkbox(
              form: permission_fields,
              permission: :edit_ticket_tags,
              checked: @permission_set.permissions.edit_ticket_tags,
              label: I18n.t("#{string_prefix}.edit_ticket_tags"),
              label_weight_regular: true) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.edit_ticket_tags_text")) %>
            <% end %>

            <% if current_account.has_present_ticket_bulk_edit_permission? %>
              <%= permission_checkbox(
                form: permission_fields,
                permission: :ticket_bulk_edit,
                checked: @permission_set.permissions.ticket_bulk_edit,
                label: I18n.t("#{string_prefix}.ticket_bulk_edit"),
                label_weight_regular: true) do %>
                <%= permission_checkbox_hint(I18n.t("#{string_prefix}.explanation_can_ticket_bulk_edit")) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <%= permission_sub_section do %>
          <%= permission_radio_group(
            form: permission_fields,
            permission: :comment_access,
            checked: @permission_set.permissions.comment_access,
            label: I18n.t("#{string_prefix}.ticket_commenting_permissions_v2"),
            radio_options: [
              [I18n.t("#{string_prefix}.private_comments_only"), 'private'],
              [I18n.t("#{string_prefix}.public_and_private_comments"), 'public']
            ]) %>
        <% end %>

        <% if current_account.has_permissions_ticket_fields_manage? %>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: ps_permission_fields,
              permission: :manage_ticket_fields,
              checked: @policy_service_permissions.fetch("manage_ticket_fields", false),
              label: I18n.t("#{string_prefix}.manage_ticket_fields")) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.manage_ticket_fields_description")) %>
            <% end %>
          <% end %>
        <% end %>

        <% if current_account.has_ticket_forms? && current_account.has_permissions_ticket_forms_manage? %>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: ps_permission_fields,
              permission: :manage_ticket_forms,
              checked: @policy_service_permissions.fetch("manage_ticket_forms", false),
              label: I18n.t("#{string_prefix}.manage_ticket_forms")) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.manage_ticket_forms_description")) %>
            <% end %>
          <% end %>
        <% end %>

        <% if current_account.has_satisfaction_prediction_enabled? %>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: permission_fields,
              permission: :view_ticket_satisfaction_prediction,
              checked: @permission_set.permissions.view_ticket_satisfaction_prediction,
              label: I18n.t("#{string_prefix}.view_ticket_satisfaction_prediction")) do %>
              <%= permission_checkbox_hint(
                I18n.t("#{string_prefix}.view_ticket_satisfaction_prediction_description_text")) %>
            <% end %>
          <% end %>
        <% end %>
      <% end # tickets section %>

      <%= section(
        title: I18n.t("#{string_prefix}.people_label"),
        description: I18n.t("#{string_prefix}.people_description")) do %>
        <%= permission_sub_section do %>
          <%= permission_radio_group(
            form: permission_fields,
            permission: :end_user_profile,
            checked: @permission_set.permissions.end_user_profile,
            label: I18n.t("#{string_prefix}.end_user_profile_access"),
            radio_options: [
              [I18n.t("#{string_prefix}.access_end_user.read_only"), 'readonly'],
              [I18n.t("#{string_prefix}.access_end_user.add_edit_organization"), 'edit-within-org'],
              [I18n.t("#{string_prefix}.access_end_user.full_v2"), 'full']
            ]) do %>
            <%= permission_radio_group_hint(I18n.t("#{string_prefix}.end_user_profile_access_text")) %>
          <% end %>

          <%= permission_child_sub_section(
            id: 'people_editing_options',
            hidden: @permission_set.permissions.end_user_profile != 'full') do %>
            <%= permission_checkbox(
              form: permission_fields,
              permission: :edit_organizations,
              checked: @permission_set.permissions.edit_organizations,
              label: I18n.t("#{string_prefix}.add_modify_groups_orgs"),
              label_weight_regular: true) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.group_org_explanation")) %>
            <% end %>
          <% end %>
        <% end %>

        <%= permission_checkbox(
          form: f,
          permission: :view_user_profile_lists,
          checked: @permission_set.view_user_profile_lists,
          label: I18n.t("#{string_prefix}.view_user_profile_lists")) do %>
          <%= permission_checkbox_hint(I18n.t("#{string_prefix}.view_user_profile_lists_text")) %>
        <% end %>

        <% if current_account.has_user_views? %>
          <%= permission_sub_section(id: 'customer_list_permissions', hidden: @permission_set.permissions.available_user_lists != 'all') do %>
            <%= permission_radio_group(
              form: permission_fields,
              permission: :user_view_access,
              checked: @permission_set.permissions.user_view_access,
              label: I18n.t("#{string_prefix}.customer_list_permissions"),
              radio_options: [
                [I18n.t("#{string_prefix}.customer_lists.view_only"), 'readonly'],
                [I18n.t("#{string_prefix}.customer_lists.add_and_edit_personal_lists"), 'manage-personal'],
                [I18n.t("#{string_prefix}.customer_lists.add_and_edit_personal_and_group_lists"), 'manage-group'],
                [I18n.t("#{string_prefix}.customer_lists.full"), 'full']
              ]) do %>
              <%= permission_radio_group_hint(I18n.t("#{string_prefix}.customer_list_permissions_text")) %>
            <% end %>
          <% end %>
        <% end %>

        <% if current_account.has_user_and_organization_fields? %>
          <% if current_account.has_permissions_user_fields_manage? %>
            <%= permission_sub_section do %>
              <%= permission_checkbox(
                form: ps_permission_fields,
                permission: :manage_user_fields,
                checked: @policy_service_permissions.fetch("manage_user_fields", false),
                label: I18n.t("#{string_prefix}.manage_user_fields")) do %>
                <%= permission_checkbox_hint(I18n.t("#{string_prefix}.manage_user_fields_description")) %>
              <% end %>
            <% end %>
          <% end %>
          <% if current_account.has_permissions_organization_fields_manage? %>
            <%= permission_sub_section do %>
              <%= permission_checkbox(
                form: ps_permission_fields,
                permission: :manage_organization_fields,
                checked: @policy_service_permissions.fetch("manage_organization_fields", false),
                label: I18n.t("#{string_prefix}.manage_organization_fields")) do %>
                <%= permission_checkbox_hint(I18n.t("#{string_prefix}.manage_organization_fields_description")) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end # people section %>

      <%= section(
        title: I18n.t("#{string_prefix}.channels_label"),
        description: I18n.t("#{string_prefix}.channels_description")) do %>
        <%= permission_sub_section do %>
          <%= permission_checkbox(
            form: permission_fields,
            permission: :extensions_and_channel_management,
            checked: @permission_set.permissions.extensions_and_channel_management,
            label: I18n.t("#{string_prefix}.manage_channels_and_extensions")) do %>
            <%= permission_checkbox_hint(I18n.t("#{string_prefix}.manage_channels_and_extensions_text")) %>
          <% end %>
        <% end %>

        <%= permission_sub_section do %>
          <%= permission_checkbox(
            form: permission_fields,
            permission: :manage_facebook,
            checked: @permission_set.permissions.manage_facebook,
            label: I18n.t("#{string_prefix}.manage_facebook_pages")) do %>
            <%= permission_checkbox_hint(I18n.t("#{string_prefix}.manage_facebook_pages_text")) %>
          <% end %>
        <% end %>

        <%- if current_account.has_twitter_saved_search? && valid_twitter_searches.any? -%>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: permission_fields,
              permission: :view_twitter_searches,
              checked: @permission_set.permissions.view_twitter_searches,
              label: I18n.t("#{string_prefix}.access_twitter_v2")) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.access_twitter_text")) %>
            <% end %>
          <% end %>
        <%- end -%>

        <% if current_account.has_voice_enabled? && voice_feature_enabled?(:legacy_features) %>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: permission_fields,
              permission: :voice_availability_access,
              checked: @permission_set.permissions.voice_availability_access,
              label: I18n.t("#{string_prefix}.voice_answer_and_place_calls")) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.voice_answer_and_place_calls_text")) %>
            <% end %>
          <% end %>
        <% end %>
      <% end # channels section %>

      <%= section(
        title: I18n.t("#{string_prefix}.agent_workflow_label"),
        description: I18n.t("#{string_prefix}.agent_workflow_description")) do %>
        <%= permission_sub_section do %>
          <%= permission_radio_group(
            form: permission_fields,
            permission: :view_access,
            checked: @permission_set.permissions.view_access,
            label: I18n.t("#{string_prefix}.views_permissions"),
            radio_options: view_access_options(current_account)) do %>
            <%= permission_radio_group_hint(I18n.t("#{string_prefix}.views_permissions_text")) %>
          <% end %>
        <% end %>

        <%= permission_sub_section do %>
          <%= permission_radio_group(
            form: permission_fields,
            permission: :macro_access,
            checked: @permission_set.permissions.macro_access,
            label: I18n.t("#{string_prefix}.macros_permissions"),
            radio_options: [
              [I18n.t("#{string_prefix}.macros.apply_only"), 'readonly'],
              [I18n.t("#{string_prefix}.macros.manage_personal_v2"), 'manage-personal'],
              [I18n.t("#{string_prefix}.macros.manage_group_v2"), 'manage-group'],
              [I18n.t("#{string_prefix}.macros.full_v2"), 'full']
            ]) do %>
            <%= permission_radio_group_hint(I18n.t("#{string_prefix}.macros_permissions_text")) %>
          <% end %>
        <% end %>

        <% if current_account.has_cms? %>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: permission_fields,
              permission: :manage_dynamic_content,
              checked: @permission_set.permissions.manage_dynamic_content,
              label: I18n.t("#{string_prefix}.access_dynamic_content")) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.access_dynamic_content_text")) %>
            <% end %>
          <% end %>
        <% end %>

        <% if current_account.has_contextual_workspaces? && current_account.has_permissions_contextual_workspaces_manage? %>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: ps_permission_fields,
              permission: :manage_contextual_workspaces,
              checked: @policy_service_permissions.fetch("manage_contextual_workspaces", false),
              label: I18n.t("#{string_prefix}.manage_contextual_workspaces")) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.manage_contextual_workspaces_description")) %>
            <% end %>
          <% end %>
        <% end %>

        <% if Arturo.feature_enabled_for?(:lotus_feature_side_conversation_roles, current_account) %>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: permission_fields,
              permission: :side_conversation_create,
              checked: @permission_set.permissions.side_conversation_create,
              label: I18n.t("#{string_prefix}.contribute_to_side_conversations")) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.contribute_to_side_conversations_description")) %>
            <% end %>
          <% end %>
        <% end %>
      <% end # agent workflow section %>

      <%= section(
        title: I18n.t("#{string_prefix}.business_rules_label"),
        description: I18n.t("#{string_prefix}.business_rules_description")) do %>
        <%= permission_sub_section do %>
          <%= permission_checkbox(
            form: permission_fields,
            permission: :business_rule_management,
            checked: @permission_set.permissions.business_rule_management,
            label: I18n.t("#{string_prefix}.manage_business_rules")) do %>
            <%= permission_checkbox_hint(I18n.t("#{string_prefix}.manage_business_rules_text")) %>
          <% end %>
        <% end %>
      <% end # business rules section %>

      <% unless current_account.web_portal_and_help_center_disabled? %>
        <%= section(
          title: I18n.t("#{string_prefix}.help_center_label_v2"),
          description: I18n.t("#{string_prefix}.help_center_description")) do %>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: f,
              permission: :manage_help_center,
              checked: @permission_set.manage_help_center,
              label: I18n.t("#{string_prefix}.manage_help_center_v2")) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.manage_help_center_text")) %>
            <% end %>
          <% end %>
        <% end # help center section %>
      <% end %>

      <%= section(
        title: I18n.t("#{string_prefix}.analytics_label"),
        description: I18n.t("#{string_prefix}.analytics_description")) do %>
        <% if current_account.has_explore_access_permission_set? &&
            (current_account.enterprise_explore? || current_account.enterprise_good_data_and_explore?) %>
          <%= permission_sub_section do %>
            <%= permission_radio_group(
              form: permission_fields,
              permission: :explore_access,
              checked: @permission_set.permissions.explore_access,
              label: I18n.t("#{string_prefix}.explore_permissions"),
              radio_options: explore_access_options(current_account)) do %>
              <%= permission_radio_group_hint(I18n.t("#{string_prefix}.explore_permissions_text")) %>
            <% end %>
          <% end %>
        <% end %>

        <% unless current_account.enterprise_explore? %>
          <%= permission_sub_section do %>
            <%= permission_radio_group(
              form: permission_fields,
              permission: :report_access,
              checked: @permission_set.permissions.report_access,
              label: I18n.t("#{string_prefix}.agent_reports_permissions"),
              radio_options: [
                [I18n.t("#{string_prefix}.agent_reports.no_access"), 'none'],
                [I18n.t("#{string_prefix}.agent_reports.view_only"), 'readonly'],
                [I18n.t("#{string_prefix}.agent_reports.view_add_and_edit"), 'full']
              ]) do %>
              <%= permission_radio_group_hint(I18n.t("#{string_prefix}.agent_reports_permissions_text")) %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_account.has_voice_enabled? && voice_feature_enabled?(:dashboard) %>
          <%= permission_sub_section do %>
            <%= permission_checkbox(
              form: permission_fields,
              permission: :voice_dashboard_access,
              checked: @permission_set.permissions.voice_dashboard_access,
              label: I18n.t("#{string_prefix}.view_talk_dashboard")) do %>
              <%= permission_checkbox_hint(I18n.t("#{string_prefix}.view_talk_dashboard_text")) %>
            <% end %>
          <% end %>
        <% end %>
        <% end %>
      <% end # analytics section %>
</main>
<footer class='u-pv u-bg-white u-border-t u-bc-grey-300'>
  <div class='actions u-mh-lg'>
    <%= submit_tag(I18n.t("#{string_prefix}.save_role_label"), class: 'c-btn c-btn--primary save') %>
    <%= link_to(
      I18n.t("#{string_prefix}.cancel_role_label"), people_roles_path(),
      data: { confirm: I18n.t("#{string_prefix}.unsaved_changes_modal.body")},
      class: 'c-btn c-btn--basic u-mh-xs cancel') %>
  <% end # form for permission set permissions %>
<% end # form for permission set %>
  </div>
</footer>
