<li class="satisfaction_rating">
  Satisfaction rated
  <span class='rating <%= SatisfactionType[event.score].to_s.downcase %>'>
    <%= SatisfactionType[event.score] %>
  </span>
  <% if event.comment.present? %>
  <li>
    <%= I18n.t('txt.views.events.satisfaction_rating.comment')%>
    <p><%= event.comment %></p>
  <% end %>
</li>
