
<% if show_json_export? %>
  <div id="json_export" class="item item_first">
    <div class="item-info title">
      <%= I18n.t('txt.admin.views.reports.export.json_export_label') %>
    </div>

    <% if ranged_json_exports_enabled? %>
      <div id="json_export_history" class="csv-export-history item">
        <% unless successful_exports('json').empty? %>
          <% successful_exports('json').each do |export| %>
            <div class="item">
              <div class="item-info info data">
                <span><%= format_absolute_date(Time.at(export.start_time)) %></span>
                <span class="delim"> - </span>
                <span><%= format_absolute_date(Time.at(export.end_time)) %></span>
                <span class="delim"> - </span>
                <span><%= I18n.t("txt.admin.views.reports.export.export_#{export.export_type}") %></span>
              </div>
              <div class="item-actions">
                <%= link_to I18n.t('txt.admin.views.reports.export.download_label'), export.result_file %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div id="json_range_export_selector" class="csv-export-history item">
        <div class="item">
          <div class="csv-export-request-link item-actions">
            <%= form_tag(voyager_export_url, id: 'voyager_json_export', class: 'js_has_date_picker') do %>
              <%= label_tag(:start_date_cal, I18n.t('txt.admin.views.reports.export.from_label')) %>
              <%= text_field_tag(:start_date_cal, nil, id: 'json_start_date_picker', class: 'date_picker start_date', 'data-field' => 'json_start_date') %>

              <%= label_tag(:end_date_cal, I18n.t('txt.admin.views.reports.export.to_label')) %>
              <%= text_field_tag(:end_date_cal, nil, id: 'json_end_date_picker', class: 'date_picker end_date', 'data-field' => 'json_end_date') %>

              <%= label_tag(:export_type, I18n.t('txt.admin.views.reports.export.type_label')) %>
              <%= select_tag(:export_type, options_for_select([
                [I18n.t('txt.admin.views.reports.export.export_tickets'), "tickets"],
                [I18n.t('txt.admin.views.reports.export.export_users'), "users"],
                [I18n.t('txt.admin.views.reports.export.export_organizations'), "organizations"]
              ], "tickets"), :class=> 'action-select') %>

              <%= submit_tag(I18n.t('txt.admin.views.reports.export.export_button_label'), class: 'button save') %>

              <%= hidden_field_tag(:start, last_export_time('json'), id: 'json_start_date', class: 'start_date_field') %>
              <%= hidden_field_tag(:end, Time.now.to_i, id: 'json_end_date', class: 'end_date_field') %>
              <%= hidden_field_tag(:metrics, !extended_metrics_visible?) %>
              <%= hidden_field_tag(:export_format, 'json') %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
        <div class="item-actions">
          <%= link_to I18n.t('txt.admin.views.reports.export.export_tickets'),
                      voyager_voyager_exports_path(export_format: :json, export_type: :tickets),
                      data: { method: :post }, id: 'tickets_json_export_link' %>
          <span class="delim">|</span>
          <%= link_to I18n.t('txt.admin.views.reports.export.export_users'),
                      voyager_voyager_exports_path(export_format: :json, export_type: :users), data: { method: :post } %>
          <span class="delim">|</span>
          <%= link_to I18n.t('txt.admin.views.reports.export.export_organizations'),
                      voyager_voyager_exports_path(export_format: :json, export_type: :organizations), data: { method: :post } %>
        </div>
    <% end %>
  </div>
<% end %>

<div id="csv_export" class="csv-export item<%= " item_first" unless show_json_export? %>">
  <div class="csv-export item-info title">
    <%= I18n.t('txt.admin.views.reports.export.csv_export_label') %>
  </div>

  <% if show_csv_export_history? %>
    <div id="csv_export_history" class="csv-export-history item">
      <% unless successful_exports('csv').empty? %>
        <% successful_exports('csv').each do |export| %>
          <div class="item">
            <div class="item-info info data">
              <span><%= format_absolute_date(Time.at(export.start_time)) %></span>
              <span class="delim"> - </span>
              <span><%= format_absolute_date(Time.at(export.end_time)) %></span>
            </div>
            <div class="item-actions">
              <%= link_to I18n.t('txt.admin.views.reports.export.download_label'), export.result_file %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="csv_range_export_selector" class="csv-export-history item">
      <div class="item">
        <div class="csv-export-request-link item-actions">
          <%= form_tag(voyager_export_url, id: 'voyager_csv_export', class: 'js_has_date_picker') do %>
            <%= label_tag(:start_date_cal, I18n.t('txt.admin.views.reports.export.from_label')) %>
            <%= text_field_tag(:start_date_cal, nil, id: 'csv_start_date_picker', class: 'date_picker start_date', 'data-field' => 'csv_start_date') %>

            <%= label_tag(:end_date_cal, I18n.t('txt.admin.views.reports.export.to_label')) %>
            <%= text_field_tag(:end_date_cal, nil, id: 'csv_end_date_picker', class: 'date_picker end_date', 'data-field' => 'csv_end_date') %>

            <%= submit_tag(I18n.t('txt.admin.views.reports.export.export_button_label'), class: 'button save') %>

            <%= hidden_field_tag(:start, last_export_time('csv'), id: 'csv_start_date', class: 'start_date_field') %>
            <%= hidden_field_tag(:end, Time.now.to_i, id: 'csv_end_date', class: 'end_date_field') %>
            <%= hidden_field_tag(:metrics, !extended_metrics_visible?) %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="csv-export-request-link item-actions">
      <%= link_to I18n.t('txt.admin.helpers.reports_helper.request_file_label'), voyager_voyager_exports_path(metrics: !extended_metrics_visible?), data: { method: :post } %>

      <% if extended_metrics_visible? %>
        <span class="delim">|</span>
        <%= link_to I18n.t('txt.admin.helpers.reports_helper.request_file_metrics_label'), voyager_voyager_exports_path(:metrics => true), data:{method: :post}, id: 'legacy_metrics_link' %>
      <% end %>

      <% if successful_exports('csv', 1).any? %>
        <span class="delim">|</span>
        <%= link_to I18n.t('txt.admin.helpers.reports_helper.latest_label'), successful_exports('csv').first.result_file %>
      <% end %>
    </div>
  <% end %>
</div>
