<div id="zd-request">
  <div id="zd-message" style="display:none"></div>

  <form action="<%= @action %>" id="zd-form" method="post">
    <input type="hidden" name="return_to" value="<%= @return_to %>">

    <label for="email" id="zd-label-email">Email</label>
    <input type="text" name="email" id="zd-email" class="zd-field">

    <label for="subject" id="zd-label-subject">Subject</label>
    <input type="text" name="subject"  id="zd-subject"  class="zd-field">

    <label for="comment" id="zd-label-description">Description</label>
    <textarea name="comment" id="comment" class="zd-area"></textarea>

    <input type="button" onclick="submitZdForm()" id="zd-submit" value="Submit">
  </form>
</div>

<style type="text/css">
  form#zd-form label {
    font-weight: bold;
    display: block;
  }

  form#zd-form input, form#zd-form textarea {
    margin-bottom: 10px;
    width: 200px;
    display:block;
  }

  form#zd-form #submit {
    margin-top: 10px;
    width: 100px;
  }
</style>
