if(window['Prototype'] == null) {
  var scriptUrl  = 'http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js';
  var scriptElem = document.createElement('script');

  scriptElem.setAttribute('type', 'text/javascript');
  scriptElem.setAttribute('src', scriptUrl);

  document.getElementsByTagName('head')[0].appendChild(scriptElem);
}

function displayMessage(text) {
  $('zd-message').innerHTML = text;
  $('zd-message').show();
  //$('zd-submit').value    = 'Submit';
  //$('zd-submit').disabled = false;
}

function submitZdForm() {
  $('zd-message').hide();
  //$('zd-submit').value    = 'Submitting...';
  //$('zd-submit').disabled = true;

  new Ajax.Request('<%= current_url_provider.url(:mapped => false) %>/requests/anonymous/create/', {
    method: 'post',
    requestHeaders: { Accept: 'application/json' },
    parameters: $('zd-form').serialize(true),

    onSuccess: function(transport) {
      var json = transport.responseText.evalJSON();

      if(json.return_to != null) {
        top.location = return_to;
      }
      else if(json.message != null) {
        displayMessage(json.message);
        $('captcha-form').reset();
      }
      else if(json.error != null) {
        displayMessage(json.error);
      }
      else {
        displayMessage("Invalid response format, please contact support by email.");
      }
    },
    onFailure: function(transport) {
      displayMessage("Failed to submit request, please try again. If this problem persists, contact support by email.");
    }

  });
}

document.write('<%= escape_javascript(render_to_string(:partial => 'embedded_form')) %>');
