<div id="sharing_header"><h2><%= I18n.t('txt.admin.views.sharing_agreements._form.share_tickets_with') %></h2></div>

<div id="agreement_errors"></div>

<div class="two_column_form">
  <%= form_for @agreement, :html => { :id => 'new_agreement_form' } do |f| %>

    <div id="select_ticket_sharing_receiver">
      <div id="sharing_receivers">
        <div id="ticket_sharing_zendesk" class="sharing_receiver"><div class="sharing_receiver_label"><%= I18n.t('txt.admin.views.sharing_agreements._form.another_zendesk_account') %></div></div>
        <div id="ticket_sharing_third_party" class="sharing_receiver"><div class="sharing_receiver_label"><%= I18n.t('txt.admin.views.sharing_agreements._form.a_third_party_system') %></div></div>
      </div>
    </div>

    <div id="ticket_sharing_form">
      <div id="ticket_sharing_zendesk_form">
        <div class="form_element">
          <%= f.label :subdomain, I18n.t('txt.admin.views.sharing_agreements._form.zendesk_subdomain') %>
          <div class="form_field">
            <%= f.text_field :subdomain, :style => 'width: 165px;' %> <strong>.zendesk.com</strong>
            <p class="help" id="subdomain_help">
              <%= I18n.t('txt.admin.views.sharing_agreements._form.Be_careful_to_spell_the') %>
            </p>
          </div>
        </div>
      </div>

      <div class="form_element" id="remote_url_field">
        <%= f.label :remote_url, I18n.t('txt.admin.shared.views.sharing_agreements.remote_url') %>
        <div class="form_field">
          <%= f.text_field :remote_url, :style => 'width: 200px;' %>
          <p class="help"></p>
        </div>
      </div>

      <div id="ticket_sharing_third_party_form">
        <div class="form_element">
          <%= f.label :name, I18n.t('txt.admin.views.sharing_agreements._form.third_party_name') %>
          <div class="form_field">
            <%= f.text_field :name, :style => 'width: 200px;', :placeholder => I18n.t('txt.admin.shared.views.sharing_agreements.eg_your_domain') %>
            <p class="help"><%= I18n.t('txt.admin.views.sharing_agreements._form.third_party_name_info') %></p>
          </div>
        </div>
      </div>

      <div id="ticket_sharing_common_form">
        <%= f.hidden_field :shared_with_id, :id => "sharing_agreement_shared_with_id" %>
        <div class="form_element">
          <%= f.label :allows_public_comments, I18n.t('txt.admin.views.sharing_agreements._form.Comment_and_status_permissions') %>
          <div class="form_field">
            <%= f.select :allows_public_comments, [
              [I18n.t('txt.admin.views.sharing_agreements._form.make_public_private_comments_sync_status'), 'true'],
              [I18n.t('txt.admin.views.sharing_agreements._form.make_private_comments'), 'false']
            ] %>
            <p class="help">
              <%= I18n.t('txt.admin.views.sharing_agreements._form.Allow_partner_to_make_public') %>
              <%= learn_more I18n.t('txt.admin.views.sharing_agreements._form.Learn_more'), :url => I18n.t('txt.admin.views.sharing_agreements._form.Learn_more_link') %>
            </p>
          </div>
        </div>

        <div class="form_element">
          <%= f.label :sync_tags, I18n.t('txt.admin.views.sharing_agreements._form.Tag_synchronisation') %>
          <div class="form_field">
            <%= f.select :sync_tags, [
              [I18n.t('txt.admin.views.sharing_agreements._form.no_do_not_share_tags_between_me_and_the_receiver'), 'false'],
              [I18n.t('txt.admin.views.sharing_agreements._form.yes_share_tags_between_me_and_the_Receiver'), 'true']
            ] %>
            <p class="help">
              <%= I18n.t('txt.admin.views.sharing_agreements._form.Sharing_tags_can_mean_some') %>
            </p>
          </div>
        </div>

        <div class="form_element" id="sync_custom_fields">
          <%= f.label :sync_custom_fields, I18n.t('txt.admin.views.sharing_agreements._form.Allow_the_syncing_of_custom') %>
          <div class="form_field">
            <%= f.select :sync_custom_fields, [
              [I18n.t('txt.admin.views.sharing_agreements._form.no_do_not_sync_custom_fields'), 'false'],
              [I18n.t('txt.admin.views.sharing_agreements._form.yes_sync_custom_fields'), 'true']
            ] %>
            <p class="help">
              <%= I18n.t('txt.admin.views.sharing_agreements._form.We_will_sync_custom_fields') %>
            </p>
          </div>
        </div>

        <hr />

        <div class="action">
          <%= link_to I18n.t('txt.admin.views.voice.phone_numbers._confirmation.Back'), '', :id => 'agreement_back_button' %>
          &nbsp;<%= I18n.t('txt.admin.views.sharing_agreements.show.or_label') %>&nbsp;
          <%= image_tag "ajax_loader_small.gif", :id => "sending_invite_spinner" %>
          <%= f.submit I18n.t('txt.admin.views.sharing_agreements._form.Send_invite'), :class => 'button' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% content_for :script_onload_at_end do %>
  <%= render partial: "/sharing_agreements/sharing_agreement_form", formats: [:js] %>
<% end %>
