var subdomain;
$j("#sending_invite_spinner").hide();

var subscribeToRadarInviteStatus = function(button, xhr) {
    var host         = ($j("body").data("environment") === "production") ? "zendesk.com" : location.hostname.split(":")[0].split(".").slice(1,3).join(".");
    var hostKey      = $j("#remote_url_field input").val() || ($j("#ticket_sharing_zendesk_form input").val() + "." + host);
    var radarKeyName = "invite/" + hostKey.replace(/^https?:\/\//, "").split("/")[0];

    // agreement_job notifies radar when agreement was sent to partner and either succeeded or failed
    RadarClient.alloc("ticket_sharing", function() {
        RadarClient.status(radarKeyName).on(function(msg) {
            $j("#sending_invite_spinner").hide();
            if (typeof msg.value === "number"){
                var code = msg.value;
            } else {
                if (typeof msg.value.code === "number"){
                    var code = msg.value.code;
                } else {
                    var code = parseInt(msg.value.code);
                }
            }

            if (code === 200 || code === 201) {
                window.location = xhr.getResponseHeader('Location');
            } else {
                var container = $j('#agreement_errors');
                var html;
                container.html('');

                if (msg.value.errors === undefined || msg.value.errors === null) {
                    html = '<div id="flash"><div id="error">' + I18n.t('txt.admin.views.sharing_agreements._form.error_sending_invitation', {domain: subdomain}) + '</div></div>';
                } else {
                    var flash     = '<div id="flash"><div id="error">' + I18n.t('txt.admin.views.sharing_agreements._form.error_sending_invitations') + '<ul>{{{errors}}}</ul></div></div>';
                    var template  = '<li><strong>{{attribute}}</strong> {{message}}</li>';
                    var errors    = '';

                    msg.value.errors.each( function(error) {
                        errors += $j.mustache(template, {
                            attribute: error[0] == 'base' ? '' : error[0],
                            message: error[1]
                        });
                    });
                    html = $j.mustache(flash, { errors: errors });
                }

                container.append(html);
                // On error, re-enable the button and restore the original submit text.
                button.val(button.data('submit-text'));
                button.prop('disabled', false);
                $j.colorbox.resize();
            }
        }).subscribe();
    });
}

$j('#new_agreement_form').submit(function(event) {
    var form = $j(this);
    var button = form.find('.button');
    $j("#sending_invite_spinner").show();

    subdomain = $j("#sharing_agreement_subdomain").val();
    if (subdomain === null || subdomain === ""){
        subdomain = $j("#sharing_agreement_remote_url").val();
    }

    // disable the button and store the original submit text.
    button.data('submit-text', button.val());
    button.val(I18n.t('txt.admin.views.sharing_agreements._form.sending'));
    button.prop('disabled', true);
    subscribeToRadarInviteStatus(button, xhr);

    $j.ajax({
        type: 'POST',
        url: form.attr('action'),
        data: form.serialize(),
        dataType: 'json',

        error: function(xhr, textStatus) {
            var container = $j('#agreement_errors');
            var flash     = '<div id="flash"><div id="error">'+ I18n.t('txt.admin.views.sharing_agreements._form.error_sending_invitations')+'<ul>{{{errors}}}</ul></div></div>';
            var template  = '<li><strong>{{attribute}}</strong> {{message}}</li>';
            var errors    = '';
            var html;

            container.html('');

            try {
                var data = JSON.parse(xhr.responseText);

                data.each(function(error) {
                    errors += $j.mustache(template, { attribute: error[0] == 'base' ? '' : error[0], message: error[1] });
                });
            } catch(e) {
                errors += $j.mustache(template, {
                    attribute: 'server error',
                    message: 'please contact support@zendesk.com'
                });
            }

            html = $j.mustache(flash, { errors: errors });
            container.append(html);

            // On error, re-enable the button and restore the original submit text.
            button.val(button.data('submit-text'));
            button.prop('disabled', false);
            $j.colorbox.resize();
            $j("#sending_invite_spinner").hide();
        }
    });

    return false;
});

$j("#ticket_sharing_form").hide();

$j("#ticket_sharing_zendesk").click(function() {
    $j("#sharing_header h2").text("<%= I18n.t('txt.admin.views.sharing_agreements._form.share_with_another_zendesk') %>");
    $j(this).parent().parent().hide();
    $j("#ticket_sharing_form").show();
    $j("#ticket_sharing_zendesk_form").show();
    $j("#remote_url_field").hide();
    $j("#ticket_sharing_third_party_form").hide();
    $j.colorbox.resize();

    $j("#sharing_agreement_sync_custom_fields").val("");
    $j("#sharing_agreement_shared_with_id").val("<%= Sharing::Agreement::SHARED_WITH_MAP[:zendesk] -%>");
    $j("#ticket_sharing_zendesk_form").find("input").focus();

    return false;
});

// ticket share with remote URL
$j("#ticket_sharing_third_party").click(function() {
    $j("#sharing_header h2").text("<%= I18n.t('txt.admin.views.sharing_agreements._form.share_with_third_party') %>");
    $j(this).parent().parent().hide();
    $j("#ticket_sharing_form").show();
    $j("#ticket_sharing_third_party_form").show();
    $j("#ticket_sharing_zendesk_form").hide();
    $j("#remote_url_field").show();
    $j("#remote_url_field").find("label").html("<%= I18n.t('txt.admin.views.sharing_agreements._form.third_party_url') %>");
    $j("#remote_url_field").find(".help").html("<%= I18n.t('txt.admin.views.sharing_agreements._form.third_party_url_info') %>");
    $j("#remote_url_field").find("input").prop("placeholder", "<%= I18n.t('txt.admin.shared.views.sharing_agreements.eg_your_domain') %>");
    $j.colorbox.resize();

    $j("#sharing_agreement_sync_custom_fields").val("");
    $j("#sharing_agreement_shared_with_id").val("");
    $j("#remote_url_field").find("input").focus();

    return false;
});

$j("#remote_url_field").find("input").blur(function() {
    var domainField = $j(this),
            nameField   = $j("#ticket_sharing_third_party_form").find("input");

    if (domainField.val() == "") {
        return;
    } else {
        var nameMatch = domainField.val().match(/^(https?:\/\/)?(.*)(\/.*)?/);
        nameField.val(nameMatch[2]);
    }
});

var resetAgreementSection = function() {
    $j("#ticket_sharing_form").hide();
    $j("#sharing_header h2").text("<%= I18n.t('txt.admin.views.sharing_agreements._form.share_tickets_with') %>");
    $j("#select_ticket_sharing_receiver").show();
    $j("#agreement_errors").html("");
    $j.colorbox.resize();
}

// set content back to original state
$j("#new_sharing_invite_link").click(function() {
    resetAgreementSection();
});

$j("#agreement_back_button").click(function(e) {
    resetAgreementSection();

    return false;
});
