<p class="intro_text" style="width: 100%;">
  <%= I18n.t('txt.admin.views.sharing_agreements._ticket_sharing_summary.intro_text') %>
  <%= learn_more I18n.t('txt.admin.views.sharing_agreements._ticket_sharing_summary.Learn_more'), :url => I18n.t('txt.admin.views.sharing_agreements._form.Learn_more_link') %>
</p>

<% if current_account.has_status_hold? %>
  <p class="intro_text" style="width: 100%;">
    <%= I18n.t('txt.admin.views.sharing_agreements._ticket_sharing_summary.Note_about_on_hold') %>
  </p>
<% end %>
