<div class="lv_action">

  <h2><%= I18n.t('txt.admin.views.sharing_agreements.show.Ticket_Sharing_Agreement_Invite') %></h2>
  <hr />

  <div class="agreement_attribute clearfix">
    <div class="description"><%= I18n.t('txt.admin.views.sharing_agreements.show.Entering_agreement_with') %></div>
    <div class="value"><%= @agreement.name %></div>
  </div>

  <div class="agreement_attribute clearfix">
    <div class="description"><%= I18n.t('txt.admin.views.sharing_agreements.show.Remote_url') %></div>
    <div class="value"><%= @agreement.remote_url %></div>
  </div>

  <div class="agreement_attribute clearfix">
    <div class="description"><%= I18n.t('txt.admin.views.sharing_agreements.show.Comment_and_status_permissions') %></div>
    <div class="value">
      <%- if @agreement.allows_public_comments? -%>
        <%= I18n.t('txt.admin.views.sharing_agreements.show.Make_public_private_comments_sync') %>
        <% if current_account.has_status_hold? %>
          <br />
          <%= I18n.t('txt.admin.views.sharing_agreements.show.Note_about_on_hold') %>
        <% end %>
      <%- else -%>
        <%= I18n.t('txt.admin.views.sharing_agreements.show.Make_private_comments_do_not') %>
      <%- end -%>
    </div>
  </div>

  <div class="agreement_attribute clearfix">
    <div class="description"><%= I18n.t('txt.admin.views.sharing_agreements.show.Tag_synchronisation') %></div>
    <div class="value">
      <%- if @agreement.sync_tags? -%>
        <%= I18n.t('txt.admin.views.sharing_agreements.show.yes_share_tags_between_me_and_receiver', :receiver => sender_or_receiver(@agreement))%>
      <%- else -%>
        <%= I18n.t('txt.admin.views.sharing_agreements.show.no_do_not_share_tags', :receiver => sender_or_receiver(@agreement))%>
      <%- end -%>
    </div>
  </div>

  <div class="agreement_attribute clearfix">
    <div class="description"><%= I18n.t('txt.admin.views.sharing_agreements.show.Allow_the_syncing_of_custom') %></div>
    <div class="value">
      <%- if @agreement.sync_custom_fields? -%>
        <%= I18n.t('txt.admin.views.sharing_agreements.show.yes_sync_custom_fields_between_me', :receiver => sender_or_receiver(@agreement))%>
      <%- else -%>
        <%= I18n.t('txt.admin.views.sharing_agreements.show.no_do_not_sync_custom_fields', :receiver => sender_or_receiver(@agreement))%>
      <%- end -%>
    </div>
  </div>

  <hr />

  <%- if @agreement.acceptable? -%>
    <div class="agreement_actions clearfix">
      <div class="negative_actions">
        <%= form_for @agreement do |f| %>
          <%= f.hidden_field :accepted, :value => 'false' %>
          <%= f.submit I18n.t('txt.admin.views.sharing_agreements.show.Decline_agreement'), :class => "button" %>
        <% end %>
      </div>

      <div class="positive_actions padding">
        <%= form_for @agreement do |f| %>
          <%= link_to I18n.t('txt.admin.views.sharing_agreements.show.Decide_later'),
            settings_tickets_path(:anchor => 'ticket_sharing'),
            :class => 'close_colorbox' %>
          &nbsp;<%= I18n.t('txt.admin.views.sharing_agreements.show.or_label') %>&nbsp;
          <%= f.hidden_field :accepted, :value => 'true' %>
          <%= f.submit I18n.t('txt.admin.views.sharing_agreements.show.Accept_agreement'), :class => "button" %>
        <% end %>
      </div>
    </div>

  <%- elsif @agreement.deactivatable? -%>
    <div class="agreement_actions clearfix">
      <div class="positive_actions padding">
        <%= form_for @agreement do |f| %>
          <%= f.hidden_field :status, :value => 'inactive' %>
          <%= f.submit I18n.t('txt.admin.views.sharing_agreements.show.Deactivate_agreement'), :class => "button",
              :data => { :confirm => I18n.t('txt.admin.views.sharing_agreements.show.confirm_deactivate_agreement') } %>
        <% end %>
      </div>
    </div>

  <%- elsif @agreement.reactivatable? -%>
    <div class="agreement_actions clearfix">
      <div class="positive_actions padding">
        <%= form_for @agreement do |f| %>
            <%= f.hidden_field :status, :value => 'accepted' %>
            <%= f.submit I18n.t('txt.admin.views.sharing_agreements.show.Reactivate_agreement'), :class => "button" %>
        <% end %>
      </div>
    </div>

  <%- elsif @agreement.cancellable? -%>
    <div class="agreement_actions clearfix">
      <div class="negative_actions padding">
        <%= form_for @agreement do |f| %>
          <%= f.hidden_field :status, :value => 'failed' %>
          <%= f.submit I18n.t('txt.admin.views.sharing_agreements.show.Cancel_agreement'), :class => "button",
                     :data => { :confirm => I18n.t('txt.admin.views.sharing_agreements.show.confirm_cancel_agreement', :count => @agreement.shared_tickets.size) } %>
        <% end %>
      </div>


    <div class="positive_actions padding">
      <%= form_for @agreement do |f| %>
        <%= f.hidden_field :status, :value => 'pending' %>
        <%= f.submit I18n.t('txt.admin.views.sharing_agreements.show.Resend_agreement'), :class => "button",
                     :data => { :confirm => I18n.t('txt.admin.views.sharing_agreements.show.confirm_resend_agreement') } %>
      <% end %>
    </div>
  </div>
  <%- end -%>

</div>
