/*globals $j, AceSetup*/

var htmlTextArea = $j("#account_html_mail_template"),
  textTextArea = $j("#account_text_mail_template"),
  aceHTMLEditor = $j('<pre id="ace_html_editor_container" class="editor">'),
  aceTextEditor = $j('<pre id="ace_text_editor_container" class="text_editor">'),
  resizableHTMLContainer = $j('<div class="resizable">'),
  resizableTextContainer = $j('<div class="resizable">'),
  templateSelectionCheckbox = $j("#account_settings_modern_email_template"), // DEPRECATED?
  agentPhotoSelection = $j("#sub_setting_agent_photo_selection"),
  htmlRevertLink = $j("#html_revert_to_default"),
  textRevertLink = $j("#text_revert_to_default"),
  delimiterRevertLink = $j("#delimiter_revert_to_default"),
  delimiterTextbox = $j("#account_mail_delimiter"),
  delimiterDefaultValue = '<%= escape_javascript("{{txt.email.delimiter}}").html_safe %>',
  classicHtmlDefaultValue = '<%= escape_javascript(Zendesk::OutgoingMail::Variables::CLASSIC_HTML_MAIL_TEMPLATE).html_safe %>', // DEPRECATED?
  textDefaultValue = '<%= escape_javascript(Zendesk::OutgoingMail::Variables::TEXT_MAIL_TEMPLATE).html_safe %>',

  maxWidth = resizableHTMLContainer.parent().width(),
  emailFocusEventSent = false;

const accountSettingsNoMailDelimiter = jQuery('#account_settings_no_mail_delimiter[type="checkbox"]');
const emailTemplatesLabel = jQuery('#email_templates_label');
const emailTemplatesLabelAlt = jQuery('#email_templates_label_alt');

accountSettingsNoMailDelimiter.click(function() {
  if (accountSettingsNoMailDelimiter.attr('checked')) {
    emailTemplatesLabel.removeClass('hidden');
    emailTemplatesLabelAlt.addClass('hidden');
  } else {
    emailTemplatesLabel.addClass('hidden');
    emailTemplatesLabelAlt.removeClass('hidden');
  }
});

<% if current_account.has_no_mail_delimiter_enabled? %>
  <% if current_account.has_email_simplified_threading? %>
    var htmlDefaultValue = '<%= escape_javascript(Zendesk::OutgoingMail::Variables::HTML_SIMPLIFIED_MAIL_TEMPLATE_WITHOUT_DELIMITER).html_safe %>';
  <% else %>
    var htmlDefaultValue = '<%= escape_javascript(Zendesk::OutgoingMail::Variables::ACCESSIBLE_HTML_MAIL_TEMPLATE_V2).html_safe %>';
  <% end %>
<% else %>
  <% if current_account.has_email_simplified_threading? %>
    var htmlDefaultValue = '<%= escape_javascript(Zendesk::OutgoingMail::Variables::HTML_SIMPLIFIED_MAIL_TEMPLATE).html_safe %>';
  <% else %>
    var htmlDefaultValue = '<%= escape_javascript(Zendesk::OutgoingMail::Variables::ACCESSIBLE_HTML_MAIL_TEMPLATE).html_safe %>';
  <% end %>
<% end %>

var sendFocusEvent = function() {
  if (!emailFocusEventSent && (typeof window.analytics !== 'undefined')) {
    analytics.track('Support_EmailSettings_EditTemplate', window.analyticEventProps)
    emailFocusEventSent = true;
  }
}

var setupAceEditor = function(resizableContainer, aceEditor, textArea, mode, defaultValue) {
  resizableContainer.append(aceEditor);
  textArea.after(resizableContainer);
  textArea.hide();
  aceEditor[0].addEventListener('focusin', sendFocusEvent);

  return AceSetup(aceEditor.attr('id'), resizableContainer, textArea, mode, maxWidth, 'email.placeholder.');
};

var htmlEditor = setupAceEditor(resizableHTMLContainer, aceHTMLEditor, htmlTextArea, 'liquid'),
  textEditor = setupAceEditor(resizableTextContainer, aceTextEditor, textTextArea, 'text_liquid');

// "Revert to default HTML template"
htmlRevertLink.click(function() {
  if (templateSelectionCheckbox.length === 0 || templateSelectionCheckbox.is(':checked')) {
    // Use ACCESSIBLE_HTML_MAIL_TEMPLATE
    htmlEditor.getSession().setValue(htmlDefaultValue);
  } else {
    // Use CLASSIC_HTML_MAIL_TEMPLATE
    htmlEditor.getSession().setValue(classicHtmlDefaultValue);
  }
});

textRevertLink.click(function() {
  textEditor.getSession().setValue(textDefaultValue);
});

delimiterRevertLink.click(function() {
  delimiterTextbox.val(delimiterDefaultValue);
});

if (templateSelectionCheckbox.length) {
  templateSelectionCheckbox.click(function() {
    if (templateSelectionCheckbox.is(':checked')) {
      htmlEditor.getSession().setValue(htmlDefaultValue);
      agentPhotoSelection.show();
    } else {
      htmlEditor.getSession().setValue(classicHtmlDefaultValue);
      agentPhotoSelection.hide();
    }
  });
}

jQuery('#email-simplified-threading-opt-in').click(function() {
  const toggleSimplifiedEmailThreadingOptInModal = parent.LotusReact.actionsFor('Admin/SimplifiedEmailThreading/OptIn').toggleSimplifiedEmailThreadingOptInModal;
  parent.LotusReact.dispatchAction(toggleSimplifiedEmailThreadingOptInModal());
});

jQuery('#email-simplified-threading-opt-out').click(function() {
  const toggleSimplifiedEmailThreadingOptOutModal = parent.LotusReact.actionsFor('Admin/SimplifiedEmailThreading/OptOut').toggleSimplifiedEmailThreadingOptOutModal;
  parent.LotusReact.dispatchAction(toggleSimplifiedEmailThreadingOptOutModal());
});
