<div dir="<%= I18n.translation_locale.rtl? ? 'rtl' : 'ltr' %>" id="email-simplified-threading-well" class="support_info">
  <% if current_account.has_email_simplified_threading? %>
    <div class="information">
      <p>
        <strong>
        <%= I18n.t("txt.admin.views.settings.email._settings.simplified_email_threading.opt_out.title_v2") %>
        </strong>
      </p>
      <p>
        <%= link_to(I18n.t("txt.admin.views.settings.email._settings.simplified_email_threading.opt_out.description"), I18n.t("txt.admin.views.settings.email._settings.simplified_email_threading.opt_out.learn_more_link"), :target => "_blank") %>
      </p>
    </div>
    <div>
      <a id="email-simplified-threading-opt-out" target="_parent" class="c-btn c-btn--danger">
        <%= I18n.t("txt.admin.views.settings.email._settings.simplified_email_threading.opt_out.button") %>
      </a>
    </div>
  <% else %>
    <div class="information">
      <p>
        <strong>
        <%= I18n.t("txt.admin.views.settings.email._settings.simplified_email_threading.opt_in.title") %>
        </strong>
      </p>
      <p>
        <%= I18n.t("txt.admin.views.settings.email._settings.simplified_email_threading.opt_in.description") %>
      </p>
    </div>
    <div>
      <a id="email-simplified-threading-opt-in" target="_parent" class="c-btn">
        <%= I18n.t("txt.admin.views.settings.email._settings.simplified_email_threading.opt_in.button") %>
      </a>
    </div>
  <% end %>
</div>
