<% unless lotus? %>
<div class="form_element in_launchpad">
  <%= anchor "external_email_credential" %>

  <label><%= I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.header_v2') %></label>

  <div class="form_field">
    <p>
      <%= I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.description_v4') %>
      <%= link_to(I18n.t('txt.admin.views.settings.email._settings.learn_more_label'),
        I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.learn_more_link'),
        :target => '_blank') %>
    </p>
    <p>
      <%= I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.description_note_v3') %>
    </p>
    <br />
    <div class="connect">
      <div>
        <%= image_tag('googlemail-16.png', :width => '16', :height => '16', :alt => 'Gmail') %>
        <%= link_to_function I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.connect_v2'), nil, :id => "toggle_gmail_connect_button" %>
      </div>
      <div style="display: none" id="gmail_connect_button">
        <br />
        <%= check_box_tag "initial_import", 1, ExternalEmailCredential::DEFAULT_INITIAL_IMPORT %>
        <%= label_tag "initial_import", I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.initial_import_v3', :number => ExternalEmailCredential::INITIAL_IMPORT_COUNT).html_safe, :style => "float: none; font-weight: normal" %>
        <br /><br />
        <%= link_to_authorize_gmail_for_external_email_credentials I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.connect_button'), nil, :class => "button save" %>
      </div>
    </div>
  </div>

  <% if current_account.external_email_credentials.exists? %>
    <br/>
    <br/>
    <div class="form_field">
      <%= zd_enable_checkbox(f.property_set(:settings), :send_gmail_messages_via_gmail, I18n.t('txt.admin.views.settings.email._settings.send_gmail_messages_via_gmail.label')) %>
      <%= I18n.t('txt.admin.views.settings.email._settings.send_gmail_messages_via_gmail.body') %>
    </div>
  <% end %>
</div>
<% end %>
