<%
  if credential = address.external_email_credential
    delete_link = external_email_credential_path(credential)
    entity_id = credential.id
    entity_name = 'external-email-credential'
  else
    delete_link = settings_recipient_address_path(address.id)
    entity_id = address.id
    entity_name = 'recipient-address'
  end
%>

<div class="item recipient_address" data-id="<%= entity_id %>">
  <div class="item-info detailed">
    <div class="clearfix">
      <div class="item-actions hover">
        <%= recipient_address_actions(address) %>
      </div>

      <div class="float_label" style="width:460px;">
        <span style="font-weight: bold;"><%= css_truncate(address.email) %></span>
      </div>

      <div class="float_label" style="color#666;">
        <%= address.name %>
      </div>
    </div>
    <%= recipient_address_verifications address %>
  </div>

  <div id="delete-<%= entity_name %>-<%= entity_id %>" style="display:none">
    <div style="width: 450px">
      <%= I18n.t('txt.admin.views.settings.email._settings.delete_email_description') %>
      <br/><br/>
    </div>

    <div style="text-align: right">
      <%= link_to(
        I18n.t('txt.admin.views.settings.email._settings.delete_email_confirm'),
        delete_link,
        data: {method: :delete},
        class: 'button save',
        :"data-id" =>  entity_id
      ) %>
    </div>
  </div>

  <% if credential = address.external_email_credential %>
    <% reason = gmail_error_detail(credential) %>
    <div class="clearfix"></div>

    <div class="credential_connection_controls">
      <%= link_to_function(
          I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.connected'),
          "jQuery(this).closest('.recipient_address').find('.external_email_credential').toggle()")
      %>
    </div>
    <div class="clearfix"></div>
    <div style="<%= "display:none" unless reason %>" class="external_email_credential">
      <p>
        <% if reason %>
          <p class="warning">
            <%= I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.needs_repair') %>
            <%= reason %>
          </p>
          <br />
        <% end %>

        <% if credential.last_fetched_at %>
          <%= I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.last_fetched_at_v2', :time => time_ago_in_words(credential.last_fetched_at)) %>
          <br />
        <% end %>
      </p>

      <p>
        <% reconnect_link = link_to_authorize_gmail_for_external_email_credentials I18n.t('txt.admin.views.settings.email._settings.external_email_credentials.reconnect_v2'), credential.id %>
        <% key = 'txt.admin.views.settings.email._settings.external_email_credentials.descending_configured_v3' %>
        <%= I18n.t(key, :reconnect_link => reconnect_link) %>
      </p>
    </div>
  <% end %>
</div>
