<% ns = 'txt.admin.views.settings.email._settings' -%>

<fieldset class='form_element' id='recipient_addresses'>
  <%= label_tag I18n.t("#{ns}.support_addresses") -%>

  <div class='form_field'>
    <p>
      <!-- Support addresses's description and learn-more link -->
      <%= I18n.t("#{ns}.support_address_description") -%>
      <%= link_to(I18n.t("#{ns}.learn_more_label"),
                  I18n.t('txt.admin.views.settings.email.show.email_description_link'),
                  target: '_blank')
      -%>
    </p>
    <p><%= I18n.t('txt.admin.views.settings.email._settings.support_address_help.text') %></p>
    <p>
      <%= link_to(I18n.t('txt.admin.views.settings.email._settings.support_address_help.forwarding.text'),
                  I18n.t('txt.admin.views.settings.email._settings.support_address_help.forwarding.link'),
                  :target => '_blank') %><br>
      <%= link_to(I18n.t('txt.admin.views.settings.email._settings.support_address_help.sending.text'),
                  I18n.t('txt.admin.helpers.settings.email.forwarding_status.learn_more_spf_url'),
                  :target => '_blank') %>
    </p>
  </div>

  <div class='form_field'>
    <div class='fields hover-actions'>
      <% brands = brands_with_recipient_addresses(page: params[:brands_page]) -%>
      <% brands.each do |brand| %>
        <div>
          <h3>
            <!-- Brand's link -->
            <%=
              link_to brand.name, {
                controller: "email",
                action: "show",
                brand_id: brand.id,
                brands_page: params[:brands_page]
              }
            -%>

            <span class='item_count'>
              <!-- Disabled? -->
              <% unless brand.active? -%>
                (<%= I18n.t("#{ns}.inactive_brand_header") %>)
              <% end -%>

              <!-- Total addresses -->
              (<%= brand.recipient_addresses.count -%>)
            </span>
          </h3>

          <div class='tab-top-right'>
            <% if brand.active? %>
              <% if lotus? %>
                <!-- Brand's dropdown -->
                <ul class='dropdown-wrapper'>
                  <li class='dropdown add-address trigger'>
                    <div class='gear'>
                      <a><%= render partial: 'gear' -%></a>
                    </div>

                    <ul class='dropdown container'>
                      <!-- Connect external address -->
                      <li class='dropdown item'>
                        <%=
                          link_to I18n.t("#{ns}.add_external_address"),
                                  new_settings_recipient_address_path(recipient_address: { brand_id: brand.id }),
                                  data_brand_id: brand.id,
                                  class: 'add add-external-address colorbox'
                        -%>
                      </li>
                      <!-- Connect new Zendesk address -->
                      <li class='dropdown item'>
                        <%=
                          link_to I18n.t("#{ns}.create_zendesk_address"),
                                  new_settings_recipient_address_path(recipient_address: { brand_id: brand.id }),
                                  data_brand_id: brand.id,
                                  class: 'add add-zendesk-address colorbox'
                        -%>
                      </li>
                      <li class='separator'></li>
                      <!-- Connect other -->
                      <li class='dropdown item'>
                        <%=
                          link_to I18n.t("#{ns}.connect_other"),
                                  new_settings_recipient_address_path(recipient_address: { brand_id: brand.id }),
                                  data_brand_id: brand.id,
                                  class: 'add connect-other colorbox'
                        -%>
                      </li>
                    </ul>
                  </li>
                </ul>
              <% else %>
                <%=
                  link_to I18n.t("#{ns}.new_address"),
                          new_settings_recipient_address_path(recipient_address: { brand_id: brand.id }),
                          class: 'add colorbox'
                -%>
              <% end %>
            <% end %>
          </div>

          <% if !brands.many? || brand.id == params[:brand_id] -%>
            <!-- Support addresses's table -->
            <div class='sub_setting'>
              <div class='item'>
                <div class='item-info'>
                  <!-- Address -->
                  <div class='float_label' style='width:460px;'>
                    <h4><%= I18n.t("#{ns}.support_address") %></h4>
                  </div>
                  <!-- Name -->
                  <div class='float_label'>
                    <h4><%= I18n.t("#{ns}.support_address_name") %></h4>
                  </div>
                </div>
              </div>

              <% recipient_addresses = recipient_addresses_for_brand(brand, params[:address_page]) -%>
              <% recipient_addresses.each do |address| -%>
                <%= render '/settings/email/recipient_address', address: address -%>
              <% end -%>

              <!-- Support addresses's pagination -->
              <%=
                will_paginate recipient_addresses,
                              param_name: 'address_page',
                              params: { controller: 'email', action: 'show' }
              -%>
            </div>
          <% end %>

        </div>
      <% end %>

      <!-- Brands's pagination -->
      <%=
        will_paginate brands,
                      param_name: 'brands_page',
                      params: { controller: 'email', action: 'show' }
      -%>
    </div>
  </div>
</fieldset>
