<% # [DEPRECATED] remove after :email_settings_paginated gets GA'd -%>
<fieldset class="form_element" id="recipient_addresses">
  <%= label_tag I18n.t('txt.admin.views.settings.email._settings.support_addresses') %>

  <div class="form_field">
    <p>
      <%= I18n.t('txt.admin.views.settings.email._settings.support_address_description') %>
      <%= link_to(I18n.t('txt.admin.views.settings.email._settings.learn_more_label'),
                  I18n.t('txt.admin.views.settings.email.show.email_description_link'),
                  :target => '_blank') %>
    </p>
    <p><%= I18n.t('txt.admin.views.settings.email._settings.support_address_help.text') %></p>
    <p>
      <%= link_to(I18n.t('txt.admin.views.settings.email._settings.support_address_help.forwarding.text'),
                  I18n.t('txt.admin.views.settings.email._settings.support_address_help.forwarding.link'),
                  :target => '_blank') %><br>
      <%= link_to(I18n.t('txt.admin.views.settings.email._settings.support_address_help.sending.text'),
                  I18n.t('txt.admin.helpers.settings.email.forwarding_status.learn_more_spf_url'),
                  :target => '_blank') %>
    </p>
  </div>
  
  <div class="form_field">
    <div class="fields hover-actions">
      <% brands_with_recipient_addresses.each do |brand| %>
        <% if should_show_brand_name %>
          <h3>
            <%= brand.name %>
            <% unless brand.active? %>
              (<%= I18n.t("txt.admin.views.settings.email._settings.inactive_brand_header") %>)
            <% end %>
          </h3>
        <% end %>

        <div>
          <div class="item">
            <div class="item-info detailed">
              <div class="tab-top-right">
                <% if brand.active? %>
                  <% if lotus? %>
                    <ul class='dropdown-wrapper'>
                      <li class='dropdown add-address trigger'>
                        <a><%= I18n.t('txt.admin.views.settings.email._settings.new_address') %></a>
                        <ul class='dropdown container'>
                          <li class='dropdown item'>
                            <%= link_to I18n.t('txt.admin.views.settings.email._settings.add_external_address'), new_settings_recipient_address_path(:recipient_address => {:brand_id => brand.id}), :data_brand_id => brand.id, :class => "add add-external-address colorbox" %>
                          </li>
                          <li class='dropdown item'>
                            <%= link_to I18n.t('txt.admin.views.settings.email._settings.create_zendesk_address'), new_settings_recipient_address_path(:recipient_address => {:brand_id => brand.id}), :data_brand_id => brand.id, :class => "add add-zendesk-address colorbox" %>
                          </li>
                          <li class='separator'></li>
                          <li class='dropdown item'>
                            <%= link_to I18n.t('txt.admin.views.settings.email._settings.connect_other'), new_settings_recipient_address_path(:recipient_address => {:brand_id => brand.id}), :data_brand_id => brand.id, :class => "add connect-other colorbox" %>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  <% else %>
                    <%= link_to I18n.t('txt.admin.views.settings.email._settings.new_address'), new_settings_recipient_address_path(:recipient_address => {:brand_id => brand.id}), :class => "add colorbox" %>
                  <% end %>
                <% end %>
              </div>
              <div class="float_label" style="width:460px;">
                <h4><%= I18n.t('txt.admin.views.settings.email._settings.support_address') %></h4>
              </div>
              <div class="float_label">
                <h4><%= I18n.t('txt.admin.views.settings.email._settings.support_address_name') %></h4>
              </div>
            </div>
          </div>

          <% brand.recipient_addresses.not_collaboration.sort_by(&:position).each do |address| %>
            <%= render "/settings/email/recipient_address", :address => address %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</fieldset>
