<%= form_for(@account, :url => { :action => :update }, :html => {
  :id => 'account-settings',
  :class => 'two_column totango tracked',
  'data-tracking-module' => 'Save Settings',
  'data-tracking-activity' => 'Mails and Domains'
}) do |f| %>
  <div class="element_group">
    <% if current_account.has_email_simplified_threading_onboarding? %>
      <%= render 'email_simplified_threading' -%>
    <% end %>

    <%= render 'external_email_credential', f: f %>

    <% if current_account.has_email_settings_paginated? -%>
      <%= render 'recipient_addresses_paginated' -%>
    <% else -%>
      <%= render 'recipient_addresses', locals: { current_account: current_account } -%>
    <% end -%>

    <div class="form_element in_launchpad">
      <%= f.label :send_gmail_messages_via_gmail, I18n.t('txt.admin.views.settings.email._settings.send_gmail_messages_via_gmail.label_v2') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :send_gmail_messages_via_gmail, I18n.t('txt.admin.views.settings.email._settings.Enable')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.email._settings.send_gmail_messages_via_gmail.body_v3') %>
        </p>
      </div>
    </div>

    <div class="form_element in_launchpad">
      <%= f.label :setting_rich_content_in_emails, I18n.t('txt.admin.views.settings.email._settings.rich_content_in_emails.label') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :rich_content_in_emails, I18n.t('txt.admin.views.settings.email._settings.Enable')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.email._settings.rich_content_in_emails.description') %>
        </p>
      </div>
    </div>

    <div class="form_element in_launchpad">
      <%= f.label :setting_accept_wildcard_emails, I18n.t('txt.admin.views.settings.email._settings.accept_wildcard_emails.label') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :accept_wildcard_emails, I18n.t('txt.admin.views.settings.email._settings.Enable')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.email._settings.accept_wildcard_emails.description_v2', :default_address => current_account.backup_email_address) %>
          <%= learn_more I18n.t('txt.admin.views.settings.email._settings.learn_more_label'), :url => I18n.t('txt.views.settings.email.learn_more_link') %>
        </p>
      </div>
    </div>

    <div class="form_element in_launchpad">
      <%= f.label :is_personalized_reply_enabled, I18n.t('txt.admin.views.settings.email._settings.Personalized_email_replies') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f, :is_personalized_reply_enabled, I18n.t('txt.admin.views.settings.email._settings.Enable')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.email._settings.Enables_reply_addresses_to_include') %><br/>
          <%= I18n.t('txt.admin.views.settings.email._settings.E_g_when_an_agent') %>        </p>
      </div>
    </div>

    <div class="form_element in_launchpad">
      <%= f.label :gmail_actions, I18n.t('txt.admin.views.settings.email._settings.gmail_actions.label') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :gmail_actions, I18n.t('txt.admin.views.settings.email._settings.Enable')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.email._settings.gmail_actions.description') %>
        </p>
      </div>
    </div>

    <fieldset class="form_element">
      <%= f.label :html_mail_template, I18n.t('txt.admin.views.settings.email._settings.Email_templates') %>

      <div class="form_field">
        <p id="email_templates_label" class="<%= current_account.has_no_mail_delimiter_enabled? ? "hidden" : "" %>">
          <%= I18n.t('txt.admin.views.settings.email._settings.Customize_the_layout_and_general_v2') %>
        </p>
        <p id="email_templates_label_alt" class="<%= current_account.has_no_mail_delimiter_enabled? ? "" : "hidden" %>">
          <%= I18n.t('txt.admin.views.settings.email._settings.customize_the_layout_and_general_alternative_2') %>
        </p>
        <p>
          <%= I18n.t('txt.admin.views.settings.email._settings.If_you_want_to_service') %>
        </p>
      </div>

      <div class="form_field">
        <% if current_account.settings.email_template_selection? %>
          <%= zd_enable_checkbox(f.property_set(:settings), :modern_email_template, I18n.t("txt.admin.views.settings.email._settings.enable_modern_template"), { "data-toggles" => '#sub_setting_agent_photo_selection' }) %>
          <p><%= I18n.t("txt.admin.views.settings.email._settings.about_modern_template_msg") %> <%= learn_more I18n.t('txt.admin.views.settings.email._settings.learn_more_label'), :url => I18n.t('txt.views.settings.emails.introducing_modern_template_article') %></p>
          <p><%= I18n.t("txt.admin.views.settings.email._settings.about_modern_template_warning") %></p>
          <%= zd_sub_setting(:agent_photo_selection, :show => current_account.settings.modern_email_template?) do %>
            <div class="form_field">
              <%= zd_enable_checkbox(f.property_set(:settings), :email_template_photos, I18n.t("txt.admin.views.settings.email._settings.show_photos")) %>
            </div>
          <% end %>
        <% else %>
          <%= zd_enable_checkbox(f.property_set(:settings), :email_template_photos, I18n.t("txt.admin.views.settings.email._settings.show_photos")) %>
        <% end %>
      </div>

      <div class="form_field">
        <%= f.label :html_mail_template, I18n.t('txt.admin.views.settings.email._settings.HTML_template'), :class => "block" %>
        <% if current_account.allow_email_template_customization? %>
          <%= f.text_area :html_mail_template, :rows => 15 %>
          <p style="margin-top:0px;"><a id="html_revert_to_default"><%= I18n.t('txt.admin.views.settings.email._settings.Revert_to_default') %></a></p>
        <% else %>
          <div class="notice--warning">
            <%= I18n.t('txt.admin.views.settings.email._settings.email_template_customization_disabled_v2', mail_to: 'mailto:support@zendesk.com') %>
          </div>
        <% end %>
      </div>

      <% if current_account.allow_email_template_customization? %>
        <div class="form_field">
          <%= f.label :text_mail_template, I18n.t('txt.admin.views.settings.email._settings.Text_template'), :class => "block" %>
          <%= f.text_area :text_mail_template, :rows => 5, :cols => nil %>
          <p style="margin-top:0px;"><a id="text_revert_to_default"><%= I18n.t('txt.admin.views.settings.email._settings.Revert_to_default') %></a></p>
        </div>
      <% end %>
    </fieldset>

    <% if current_account.allow_email_template_customization? %>
      <fieldset class="form_element">
        <legend class='label'><%= I18n.t('txt.admin.views.settings.email._settings.Mail_delimiter') %></legend>

        <% if @account.has_email_no_delimiter? %>
          <div class="form_field">
            <div class="enable_checkbox">
              <%= hidden_field_tag('account[settings][no_mail_delimiter]', 1) %>
              <%= check_box_tag 'account[settings][no_mail_delimiter]', 0, !current_account.has_no_mail_delimiter_enabled?, { 'data-toggles' => '#sub_setting_no_mail_delimiter' } %>
              <%= f.label(:no_mail_delimiter, I18n.t('txt.admin.views.settings.email._settings.email_no_delimiter') , :class => 'checkbox') %>
            </div>
          </div>
          <div class="form_field">
            <p>
              <%= I18n.t('txt.admin.views.settings.email._settings.the_mail_delimiter_is_used_3', learn_more_link: link_to(I18n.t('txt.admin.views.settings.email._settings.the_mail_delimiter_is_used_learn_more_2'), I18n.t("txt.admin.views.settings.email._settings.the_mail_delimiter_is_used_learn_more_link"), target: "_blank")) -%>
            </p>
          </div>
          <%= zd_sub_setting :no_mail_delimiter, show: !current_account.has_email_no_delimiter? do -%>
            <div class="form_field">
              <p>
                <%= I18n.t('txt.admin.views.settings.email._settings.enter_if_you_want_to_send_a_translated_version') -%>
              </p>
              <p>
                <%= I18n.t('txt.admin.views.settings.email._settings.Between_20_and_65_characters') -%>
              </p>
            </div>

            <div class="form_field">
              <p>
                <%= f.text_field :mail_delimiter, size: 65 %>
              </p>
              <p>
                <a id="delimiter_revert_to_default">
                  <%= I18n.t('txt.admin.views.settings.email._settings.Revert_to_default') -%>
                </a>
              </p>
            </div>
          <% end -%>
        <% else %>
          <div class="form_field">
            <%= f.text_field :mail_delimiter, size: 65 %>
            <p>
              <a id="delimiter_revert_to_default"><%= I18n.t('txt.admin.views.settings.email._settings.Revert_to_default') -%></a>
            </p>
            <p><%= I18n.t('txt.admin.views.settings.email._settings.Between_20_and_65_characters') -%></p>
            <p><%= I18n.t('txt.admin.views.settings.email._settings.The_mail_delimiter_is_used') -%></p>
            <p><%= I18n.t('txt.admin.views.settings.email._settings.enter_if_you_want_to_send_a_translated_version') -%></p>
          </div>
        <% end %>
      </fieldset>

      <div class="form_element">
        <%= f.label :email_sender_authentication, I18n.t('txt.admin.views.settings.email._settings.email_sender_authentication_v2') %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :email_sender_authentication, I18n.t('txt.admin.views.settings.email._settings.Enable')) %>
          <br/>
          <div class="admin-alert warn">
            <p>
              <%= I18n.t('txt.admin.views.settings.email._settings.email_sender_authentication_warning') %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <% if current_account.subscription.has_custom_dkim_domain? || current_account.settings.custom_dkim_domain? %>
      <div class="form_element">
        <%= f.label :custom_dkim_domain, I18n.t('txt.admin.views.settings.email._settings.custom_domain_for_DKIM') %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :custom_dkim_domain, I18n.t('txt.admin.views.settings.email._settings.Enable')) %>
          <%= I18n.t('txt.admin.views.settings.email._settings.custom_dkim_instructions')%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.email._settings.save_tab'), :class => "button save", :id => "settings_email_settings_save_button") %>
  </div>
<% end %>

<%= javascript_include_tag "admin/ace/ace_setup" %>

<% content_for :script_onload_at_end do %>
  <%= render partial: 'ace_editors_setup', formats: [:js] %>
<% end %>

<% content_for :script do %>
  // toggle initial_import setting by modifying the url
  $j(function($){
    $("#toggle_gmail_connect_button").click(function(){
      $("#gmail_connect_button")
        .toggle()
        .trackEvent('Toggle', '<%= TRACKING_EVENT_NAMES['GMailConnecter'] %>');
    });

    $("#initial_import").change(function(){
      var $checkbox = $(this);
      var $link = $("#authorize_gmail_link");
      $link.attr("href", $link.attr("href").replace(/initial_import=(true|false)/, "initial_import=" + !!$checkbox.attr("checked")))
    });
  });
<% end %>
