<%= render :partial => '/account/header' %>

<%- content_for :script_onload_at_end do -%>
  Zendesk.Email.RecipientAddress.init();
<%- end -%>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.settings.email.show.email_label') %></h2>
  <%= zd_tabs do %>
    <%= zd_tab("Settings") do %>
      <%= render partial: "settings" %>   
    <% end %>
  <% end %>
<% end %>
