body.rules label.tip {color: #999; display: block;}

#view_output_columns {
  $column-width: 200px;
  $gutter: 20px;

  .not_included, .included { width: $column-width; }

  .not_included { float: left; }

  .included {
    margin-top: 3px;
    margin-left: $column-width + $gutter;
  }
}

input[disabled='disabled'], select[disabled='disabled'] {
  color: #999;
}

.frame.rule_actions input.text{
  width: 400px;
}

.frame.rule_conditions {
  margin-top:12px;
}

#sidebar {
  .permalink {
    display: none;
  }
}

.editor {
  height:150px;
}

.ui-resizable-resizing {
  cursor: default;
}

.resizable {
  .ui-icon-gripsmall-diagonal-se {
    position: relative;
    float: right;
    bottom: 15px;
  }

  margin-bottom: 10px;
}

.embedded_in_lotus {
  .resizable {
    .ui-icon-gripsmall-diagonal-se {
      bottom: 24px;
    }
  }
}

.target-data {
  .target-input {
    margin-bottom: 10px;

    .parameter {
      .parameter-value, .parameter-key {
        width: 45%;
      }

      .remove-parameter {
        text-decoration: none;
      }
    }

    .add-parameter {
      margin-top: 10px;
    }

    .large {
      width: 95%;
    }
  }
}

.placeholder-list {
  display: none;
}

.app_installation {
  color: #999;
  height: 20px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.app_installation__badge {
  border: 1px solid #999;
  border-radius: 25px;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  height: 14px;
  padding: 0px 7px;
  text-align: center;
}

.app_installation__title {
  display: inline-block;
  padding-left: 5px;
}

.skill-filtered-view-information {
  background-color: #fbfbfb;
  margin-left: -10px;
  margin-top: 10px;
  padding: 15px;
  width: calc(100% - 30px);

  h3 {
    font-weight: 600;
    margin-top: 0;

    * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.skill-filtered-view-badge {
  background-color: #F3F3F3;
  background-image: url(/classic/images/16-filter-stroke.svg);
  background-position: 5px center;
  background-repeat: no-repeat;
  font-size: 14px;
  margin: 0 5px;
  padding: 5px 10px 5px 25px;
  vertical-align: middle;
}
