body.rules-index div.buttons-right input.sort_asc,
body.rules-index div.buttons-right input.sort_desc {
  font-size: 90%;
  margin-top: 2px;
  margin-right: 7px;
  padding: 3px;
  float:left;
}

h3.rule_conditions, h3.rule_actions {
  padding-top: 8px;
  font-size: 14px;
  color: #444;
}

body.rules .two_column select {
  font-size: 11px;
}

.created-by-app {
  color:#FFFFFF;
  padding:3px 5px;
  background-color:#aaa;
  border-radius:3px;
}
