Zendesk.assetHost = '<%= asset_host %>';
Zendesk.ToTangoID = '<%= Zendesk.config.fetch(:saas_pulse_id) %>';
Zendesk.viewedOnMobileDevice = <%= Schmobile::UserAgents.is_mobile_agent?(request.user_agent) %>;

<% if current_user && current_user_javascript_serializer %>
  currentUser = Zendesk.currentUser = <%= current_user_javascript_serializer.user_to_js %>;
  currentUser.account = currentAccount = Zendesk.currentAccount = <%= current_user_javascript_serializer.account_to_js %>;
  currentUser.organization = <%= current_user_javascript_serializer.organization_to_js %>;
  currentUser.canViewOrganization = currentUser.organization != null && (!currentUser.isEndUser || currentUser.restriction === User.restrictions.organization || currentUser.organization.isShared);

  <% if current_user.is_admin? %>
    Zendesk.NS('Voice');
    Zendesk.Voice.Config = {
      AccountSid: <%= Zendesk.config.nested(:voice, :twilio, :account_sid).to_json.html_safe %>,
      ApiVersion: <%= '2010-04-01'.to_json.html_safe %>
    };
  <% end %>
<% else %>
  currentUser = Zendesk.currentUser = null;
  currentAccount = Zendesk.currentAccount = 'null';
<% end %>
