/* Javascript functions that are dependant on translation locales */
I18n = { missing_keys: [] };
I18n.translations = <%= Hash[*TRANSLATION_FILES.instance.js_keys.flat_map {|key| [key, h(I18n.t(key))]}].to_json.html_safe %>;

I18n.translations['date.min_day_names'] = <%= I18n.t('date.min_day_names').to_json.html_safe %>
I18n.translations['date.month_names'] = <%= I18n.t('date.month_names').to_json.html_safe %>
I18n.translations['date.abbr_month_names'] = <%= I18n.t('date.abbr_month_names').to_json.html_safe %>
I18n.translations['date.abbr_day_names'] = <%= I18n.t('date.abbr_day_names').to_json.html_safe %>

I18n.t = function(key, args) {
  var result = I18n.translations[key];
  if (result && args) {
    // perform placeholder substitution for placeholders that look like this: {{something}}
    for (arg in args) {
      match = new RegExp("{{"+arg+"}}|%{"+arg+"}", "g");
      result = result.replace(match, args[arg]);
    }
  };

  <% unless (current_account && current_account.has_sse_deprecate_log_controller?) ||
      Arturo.feature_enabled_for_pod?(:sse_deprecate_log_controller, Zendesk::Configuration.fetch(:pod_id)) %>
  if (key && !result && I18n.missing_keys.indexOf(key) === -1) {
    I18n.missing_keys.push(key);
    result = 'missing translation key: "' + key + '"'
    try {
      var stack = new Error().stack;
      jQuery.ajax('/log/error', { data: { message: result, request_origin: window.location.href, stack: stack } });
    } catch (e) {
      console.log("Error when reporting missing translation: " + e.message);
    }

  }
  <% end %>

  return result;
};

function i18n_distance_of_time_in_words(to, from) {
  seconds_ago = ((to  - from) / 1000);
  minutes_ago = Math.floor(seconds_ago / 60)

  if(minutes_ago <= 0) { return I18n.t('datetime.distance_in_words.less_than_x_minutes.one');}
  if(minutes_ago == 1) { return I18n.t('datetime.distance_in_words.x_minutes.one');}
  if(minutes_ago < 45) { return I18n.t('datetime.distance_in_words.x_minutes.other', {count: minutes_ago});}
  if(minutes_ago < 90) { return I18n.t('datetime.distance_in_words.about_x_hours.one');}
  hours_ago  = Math.round(minutes_ago / 60);
  if(minutes_ago < 1440) { return I18n.t('datetime.distance_in_words.about_x_hours.other', {count: hours_ago});}
  if(minutes_ago < 2880) { return I18n.t('datetime.distance_in_words.x_days.one');}
  days_ago  = Math.round(minutes_ago / 1440);
  if(minutes_ago < 43200) { return I18n.t('datetime.distance_in_words.x_days.other', {count: days_ago});}
  if(minutes_ago < 86400) { return I18n.t('datetime.distance_in_words.about_x_months.one');}
  months_ago  = Math.round(minutes_ago / 43200);
  if(minutes_ago < 525960) { return I18n.t('datetime.distance_in_words.about_x_months.other', {count: months_ago});}
  if(minutes_ago < 1051920) { return I18n.t('datetime.distance_in_words.about_x_years.one');}
  years_ago  = Math.round(minutes_ago / 525960);
  return I18n.t('datetime.distance_in_words.over_x_years.other', {count: years_ago});
}
