<h2><%= I18n.t('txt.admin.views.cms.search._result.Variants', :v_count => variants.count) %> </h2>
<div id="search-result" class="frame hover-actions <%= klass.to_s if defined?(klass) %>">
<% if variants.present? %>
  <% variants.each do |variant| %>
    <div class="item">
      <div class="item-info">
        <h1>
          <% @cms_text = Cms::Text.find_by(id: variant.cms_text_id, account_id: current_account.id) %>
          <%= link_to("#{@cms_text.name} (#{variant.localized_name(display_in: I18n.translation_locale)})", cms_text_variant_path(@cms_text, variant)) %>
        </h1>
        <p class="info">
          <span><%= variant.active ? I18n.t('txt.admin.views.cms.search._result.Active') : I18n.t('txt.admin.views.cms.search._result.Not_Active') %></span>
          <%= I18n.t('txt.admin.views.cms.search._result.out_of_date') if variant.outdated? %>
          <span class="delim2">•</span>
          <span><%= I18n.t('txt.admin.views.cms.search._result.updated', :time_ago_calc => time_ago_in_words(variant.updated_at)) %></span>
        </p>
        <p class="info">
        <span style="display:block"><%= truncate(variant.value.strip_tags, :length => 200) %></span>
        </p>
      </div>
    </div>
  <% end %>
<% elsif !variants.nil? %>
  <div class="frame">&nbsp;</div>
<% end %>
</div>
