<% @page_title = I18n.t('txt.admin.views.cms.search.index.variant_search') %>
<%- js_init -%>

<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.cms.search.index.dynamic_content_search')) do %>
    <p>
      <%= I18n.t('txt.admin.views.cms.search.index.The_search_only_returns_language') %>    </p>
      <p><%= I18n.t('txt.admin.views.cms.search.index.are_not_searchable_with_link',
                    :homepage_link => link_to(I18n.t('txt.admin.views.cms.search.index.homepage'), cms_texts_path))%>
      </p>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.cms.search.index.import_export')) do %>
    <p>
      <%= I18n.t('txt.admin.views.cms.search.index.Need_a_third_party_provider') %>    </p>
    <ul class="options">
      <li><%= link_to I18n.t('txt.admin.views.cms.search.index.Export_content'), export_cms_texts_path %></li>
      <li><%= link_to I18n.t('txt.admin.views.cms.search.index.Import_content'), import_cms_texts_path %></li>
    </ul>
  <% end %>
<% end %>

<%= div_content do %>

  <h2><%= I18n.t('txt.admin.views.cms.search.index.dynamic_content_search') %> <span class="sub"><%= link_to I18n.t('txt.admin.views.cms.search.index.Go_back'), cms_texts_path %></span></h2>
  <%= form_tag({ :controller => "search" },
              { :id => "searchform", :method => 'GET'}) do %>
                <%= text_field_tag(:query, params[:query], {:style => 'width:550px', :class => 'title'}) %>
                <%= submit_tag(I18n.t('txt.search.go'), :class => 'button primary search')%>
   <% end %>
<% end %>

<%= div_content do %>
  <%= render :partial => 'result', :locals => { :variants => @result } %>
  <%= will_paginate @result %>
<% end %>
