<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112 86" enable-background="new 0 0 112 86" xml:space="preserve">
<g>
	<path fill="#CCCCCC" d="M87,72.6h-3.5V57.5H87V72.6z"/>
	<path fill="#CCCCCC" d="M92.9,66.8H77.7v-3.5h15.2V66.8z"/>
	<path fill="#CCCCCC" d="M92.7,84.2H63v-1.8c0-3.8-3.1-6.9-7-6.9H29.9c-3.8,0-7,3.1-7,6.9v1.8h-3.6C8.7,84.2,0,75.6,0,65.1
		c0-10.6,8.7-19.2,19.3-19.2h73.3c10.7,0,19.3,8.6,19.3,19.2C112,75.6,103.3,84.2,92.7,84.2z M66.3,80.7h26.3
		c8.7,0,15.8-7,15.8-15.7c0-8.6-7.1-15.7-15.8-15.7H19.3c-8.7,0-15.8,7-15.8,15.7c0,8.6,7.1,15.7,15.8,15.7h0.2
		c0.8-4.9,5.2-8.7,10.3-8.7H56C61.2,72.1,65.5,75.8,66.3,80.7z"/>
	<path fill="#CCCCCC" d="M59.3,86h-3.5v-7h3.5V86z"/>
	<path fill="#CCCCCC" d="M52.1,86h-3.5v-7h3.5V86z"/>
	<path fill="#CCCCCC" d="M44.9,86h-3.5v-7h3.5V86z"/>
	<path fill="#CCCCCC" d="M37.6,86h-3.5v-7h3.5V86z"/>
	<path fill="#CCCCCC" d="M30.4,86h-3.5v-7h3.5V86z"/>
	<path fill="#CCCCCC" d="M86.6,49.5L64.2,23.7c-7-8.1-15.9-14.6-25.8-18.8c-0.8,8.3,1.8,16.5,7.3,22.9l17.7,18.7L61,48.9L43.2,30.1
		c-6.7-7.8-9.6-18-7.9-28L35.6,0l2,0.8C48.9,5.1,59,12.3,66.9,21.4l22.4,25.8L86.6,49.5z"/>
	<path fill="#CCCCCC" d="M59.2,27.2L48.9,17l2.5-2.5l10.2,10.2L59.2,27.2z"/>
	<path fill="#CCCCCC" d="M11.6,49.1L9.8,26.2C9.2,18,10.6,9.7,13.9,2.3l0.9-2l1.8,1.2C22.3,5.6,26,12,26.5,19l0,0.1l0,0.1l-0.2,28.4
		l-3.5,0L23,19.2c-0.4-5.2-2.8-10-6.7-13.4c-2.4,6.4-3.4,13.3-2.9,20.1l1.7,22.9L11.6,49.1z"/>
</g>
</svg>
