<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 8 8" enable-background="new 0 0 8 8" xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#CCCCCC" d="M0.3,6.4l6.1-6.1c0.4-0.4,1-0.4,1.3,0c0.4,0.4,0.4,1,0,1.3L1.6,7.7
  c-0.4,0.4-1,0.4-1.3,0C-0.1,7.4-0.1,6.8,0.3,6.4z"/>
<path fill-rule="evenodd" clip-rule="evenodd" fill="#CCCCCC" d="M0.3,0.3c0.4-0.4,1-0.4,1.3,0l6.1,6.1c0.4,0.4,0.4,1,0,1.3
  c-0.4,0.4-1,0.4-1.3,0L0.3,1.6C-0.1,1.2-0.1,0.6,0.3,0.3z"/>
</svg>
