<%= form_for(@cms_text, :html => { :class => 'two_column' }) do |f| %>
  <h2><%= I18n.t('txt.admin.views.cms.texts._form.Dynamic_content_item_title') %></h2>
  <%= f.text_field :name, :class => 'title' %>

  <% if @cms_text.new_record? %>
    <%= f.fields_for :fallback, @fallback do |fallback| %>
      <%= render :partial => "cms/variants/form", :locals => { :f => fallback } %>
    <% end %>
  <% else %>
    <div class="action">
      <%= link_to I18n.t('txt.admin.views.cms.texts._form.Cancel'), @cms_text %>
      <%= submit_tag(I18n.t('txt.admin.views.cms.texts._form.Update'), :class => 'button primary') %>
    </div>
  <% end %>
<% end %>
