<div id="<%= type %>_references" class="cms_references">
  <% references = @cms_text.references.size > 0 ? @cms_text.references.send(type) : [] %>
  <h4><%= I18n.t("txt.admin.views.cms.texts.references.#{type}") %></b> (<%= references.size %>)</h4>

  <% references.each_with_index do |reference, index| %>
    <div class="item <%= type %>_reference <% if index > 7 %>hidden<% end %>">
      <div class="item-info title">
        <%= rule_reference_link(references[index].rule) %>
        <%= rule_reference_owner(references[index].rule) %>
      </div>
    </div>
  <% end %>

  <% if references.size > 8 %>
    <div class="item reorder buttons-right">
      <a id="get_more_<%= type %>">More <%= type.capitalize %></a>
    </div>
  <% end %>
</div>
