<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.cms.texts.edit.Edit_title')) do %>
    <p><%= I18n.t('txt.admin.views.cms.texts.edit.This_is_the_place_to') %></p>
  <% end %>
<% end %>

<%= div_content do %>
  <%= render :partial => 'form' %>
<% end %>
