<% content_for :sidebar do %>
  <%= div_side_box( I18n.t('txt.admin.views.cms.texts.export.Export_dynamic_content') ) do %>
    <p>
      <%= I18n.t('txt.admin.views.cms.texts.export.This_feature_lets_you_quickly') %>    </p>
    <p>
    <%= I18n.t('txt.admin.views.cms.texts.import.Read_more_about_the_CSV_with_link', :more_info_link => link_to(I18n.t('txt.admin.views.cms.texts.export.here'), I18n.t('txt.admin.views.cms.texts.import.Read_more_about_the_CSV_link'), :target => "_blank" )) %>
    </p>
  <% end %>
<% end %>

<%= div_content do %>
  <%= content_tag(:h2,  link_to(I18n.t('txt.admin.views.cms.texts.export.Dynamic_content'), cms_texts_url) + I18n.t('txt.admin.views.cms.texts.export.export_link_name') ) %>
  <h3><%= I18n.t('txt.admin.views.cms.texts.export.Export_your_content') %></h3>
  <p>
    <%= I18n.t('txt.admin.views.cms.texts.export.Exporting_dynamic_content_lets_you') %>
  </p>
  <% if @latest_csv %>
    <p>
      <% date = @latest_csv.created_at.strftime(I18n.t('txt.admin.views.cms.texts.export.the_latest_export_date')) %>
    <%= I18n.t('txt.admin.views.cms.texts.export.the_latest_CSV_v2', :download_link => link_to(I18n.t('txt.admin.views.cms.texts.export.Download'), @latest_csv.url(:token => true, :relative => true)), :date => date) %>
    </p>
  <% end %>
  <div class="action">
    <%= link_to I18n.t('txt.admin.views.cms.texts.export.Cancel'), cms_texts_path %>
    <%= link_to I18n.t('txt.admin.views.cms.texts.export.Export'), export_csv_cms_texts_path, :class => 'button' %>
  </div>
<% end %>
