<%= div_content do %>
  <%= content_tag(:h2,  link_to(I18n.t('txt.admin.views.cms.texts.import.Dynamic_content'), cms_texts_url) + I18n.t('txt.admin.views.cms.texts.import.import_link_name') ) %>

  <p><%= I18n.t('txt.admin.views.cms.texts.import.Bulk_update_of_dynamic_content') %></p>
  <h3><%= I18n.t('txt.admin.views.cms.texts.import.Update_existing_dynamic_content') %></h3>
  <p><%= I18n.t('txt.admin.views.cms.texts.import.Dynamic_content_variants_that_exist') %></p>

  <h3><%= I18n.t('txt.admin.views.cms.texts.import.Formatting_your_data_for_import') %></h3>
  <p><%= I18n.t('txt.admin.views.cms.texts.import.You_have_to_provide_comma') %></p>
  <p><%= I18n.t('txt.admin.views.cms.texts.import.Read_more_about_the_CSV_with_link', :more_info_link => link_to(I18n.t('txt.admin.views.cms.texts.export.here'), I18n.t('txt.admin.views.cms.texts.import.Read_more_about_the_CSV_link'), :target => "_blank" )) %>
  </p>

  <%= form_for :dump, :url => import_data_cms_texts_path, :html => { :multipart => true } do |f| -%>

  <div id="csv_file">
    <h3><%= I18n.t('txt.admin.views.cms.texts.import.Select_CSV_file') %></h3>
    <%= file_field_tag 'uploaded_data' %><br/>
    <p><a href="#" onclick="$('csv_file').toggle();$('csv_field').toggle();return false;"><%= I18n.t('txt.admin.views.cms.texts.import.Let_me_paste_in_data') %></a></p>
  </div>

  <div id="csv_field" style="display:none">
    <h3><%= I18n.t('txt.admin.views.cms.texts.import.Paste_in_CSV_data') %></h3>
    <%= text_area_tag 'raw_data', nil, :rows => 6, :cols => 25 %><br />
    <a href="#" onclick="$('csv_field').toggle();$('csv_file').toggle();return false;"><%= I18n.t('txt.admin.views.cms.texts.import.Let_me_upload_data') %></a>
  </div>

  <div class="action">
    <%= link_to I18n.t('txt.admin.views.cms.texts.import.Cancel'), cms_texts_path, :class => 'admin' %>  <%= I18n.t('txt.admin.views.cms.texts.import.or')%> &nbsp;<%= submit_tag I18n.t('txt.admin.views.cms.texts.import.Import'), :class => 'button primary', :id => 'submit-button' %>
  </div>

  <% end -%>
<% end -%>
