<% @fields = [
  Cms::TableField.new("Title", 'txt.admin.views.cms.texts.index.title_field') ,
  Cms::TableField.new("Default", 'txt.admin.views.cms.texts.index.default_field'),
  Cms::TableField.new("Last Update", 'txt.admin.views.cms.texts.index.last_update_field'),
  Cms::TableField.new("Status", 'txt.admin.views.cms.texts.index.status_field')
] %>

<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.cms.search.index.dynamic_content_search')) do %>
    <p>
      <%= I18n.t('txt.admin.views.cms.search.index.The_search_only_returns_language') %>    </p>
      <p><%= I18n.t('txt.admin.views.cms.search.index.are_not_searchable_with_link',
                    :homepage_link => link_to(I18n.t('txt.admin.views.cms.search.index.homepage'), cms_texts_path))%>
      </p>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= div_side_box( I18n.t('txt.admin.views.cms.texts.index.Import_and_Export') ) do %>
    <p>
      <%= I18n.t('txt.admin.views.cms.texts.index.Need_a_third_party_provider') %>    </p>
    <ul class="options">
      <li><%= link_to I18n.t('txt.admin.views.cms.texts.index.Export_content'), export_cms_texts_path %></li>
      <li><%= link_to I18n.t('txt.admin.views.cms.texts.index.Import_content'), import_cms_texts_path %></li>
    </ul>
  <% end %>
<% end %>

<%= div_content do %>
  <div class="content-top-right big">
    <p><%= link_to I18n.t('txt.admin.views.cms.texts.index.add_item'), new_cms_text_path, :class => 'add' %> </p>
  </div>

  <h2><%= I18n.t('txt.admin.views.cms.texts.index.Dynamic_content') %></h2>
  <p>
    <%= I18n.t('txt.admin.views.cms.texts.index.Dynamic_content_enables_you_to') %>
  </p>
  <p>
    <%= I18n.t('txt.admin.views.cms.texts.index.dynamic_content_to_add_more_languages') %>
  </p>
  <p><%= I18n.t('txt.admin.views.cms.texts.index.For_more_information_please') %> <%= link_to I18n.t('txt.admin.views.cms.texts.index.user_guide'), I18n.t('txt.admin.views.cms.texts.index.learn_more_link'), :target => '_blank' %>
  <p>
  <% if @cms_texts.empty? && current_account.cms_texts.empty? %>
    <p><%= I18n.t('txt.admin.views.cms.texts.index.No_dynamic_content_resources') %> <%= link_to I18n.t('txt.admin.views.cms.texts.index.Add_one_now'), new_cms_text_path %></p>
  <% else %>
    <%= form_tag("/cms/search", { :id => "searchform", :method => 'GET'}) do %>
      <%= text_field_tag(:query, params[:query], {:style => 'width:550px', :class => 'title'}) %>
      <%= submit_tag(I18n.t('txt.search.go'), :class => 'button primary search')%>
    <% end %>
  <% end %>
<% end %>
<% if current_account.cms_texts.present? %>
  <%= div_content do %>
      <div class="tabbed_container item-border-top" mode="static">
      <div class="tabs_content" style="padding-bottom: 0;">
        <div class="item noborder">
          <div>
            <%= form_tag cms_texts_url, :method => :get, :id => 'cms_texts_filter_form' do %>
              <%= select_tag("filter", options_for_select(@select_options, params[:filter])) %>
              <%= category_filter_selector(current_account) %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="tabs_content dc_table">
        <table id="text-resources">
          <thead>
            <% @fields.each do |field| %>
              <th><%= sort_header(field) %></th>
            <% end %>
            <th></th>
          </thead>
          <% @cms_texts.each do |text| %>
            <tr>
              <td><%= link_to(text.name, cms_text_url(text)) %></td>
              <td><%= text.fallback.localized_name(display_in: I18n.translation_locale) if text.fallback %></td>
              <td><%= I18n.t('txt.admin.views.cms.texts.index.time_ago_label', :time_ago_calc => time_ago_in_words(text.updated_at)) %></td>
              <td>
                <% if text.outdated? %>
                  <span id='outdated_<%= text.id %>'><b><%= I18n.t('txt.admin.views.cms.texts.index.Out_of_date') %></b></span>
                  <% @tips << "cmsCommentTip('outdated_#{text.id}', #{I18n.t('txt.admin.views.cms.texts.index.Out_of_date_item').to_json}, \"#{dc_tip('outdated-text')}\");".html_safe %>
                <% else %>
                  <%= I18n.t('txt.admin.views.cms.texts.index.Current') %>
                <% end %>
              </td>
              <td><%= link_to I18n.t('txt.admin.views.cms.texts.index.delete'), text, :data => { :confirm => I18n.t('txt.admin.views.cms.texts.index.Are_you_sure'), :method => :delete }, :class => 'admin' %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <%= will_paginate(@cms_texts) if @cms_texts.present? %>
  <% end %>
<% end %>
