<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.cms.texts.new.Add_dynamic_content_item')) do %>
    <p><%= I18n.t('txt.admin.views.cms.texts.new.Please_select_the_default_language') %></p>
  <% end %>
<% end %>

<%= div_content do %>
  <%= render :partial => 'form' %>
<% end %>
