<% content_for :sidebar do %>
  <%= div_side_box( I18n.t('txt.admin.views.cms.texts.show.Dynamic_content_overview') ) do %>
    <p><%= I18n.t('txt.admin.views.cms.texts.show.This_an_overview_of_a') %></p>
    <p><%= I18n.t('txt.admin.views.cms.texts.show.Note_that_the_default_variant') %></p>
  <% end %>
<% end %>

<%= div_content do %>
  <div class="content-top-right dc_edit">
    <%= link_to I18n.t('txt.admin.views.cms.texts.show.edit'), edit_cms_text_path(@cms_text), :class => "edit_this" %>
  </div>
  <%= content_tag(:h2, link_to(I18n.t('txt.admin.views.cms.texts.show.Dynamic_content'), cms_texts_path) + " / " +  @cms_text.name ) %>
  <p><%= I18n.t('txt.admin.views.cms.texts.show.Placeholder') %>: {{<%= @cms_text.fully_qualified_identifier %>}}</p>
  <% if @cms_text.variants.exists? %>
    <div class="tabbed_container item-border-top" mode="static">
      <div class="tabs_content dc_content">
        <div class="tab-top-right add_dc_variant">
          <%= link_to I18n.t('txt.admin.views.cms.texts.show.add_variant'), new_cms_text_variant_path(@cms_text), :class => 'add' unless @cms_text.remaining_locales.empty? %>
        </div>
        <h3><%= I18n.t('txt.admin.views.cms.texts.show.Variants') %> (<%= @cms_text.variants.size %>)</h3>

        <table id="text-resources">
          <thead>
            <tr>
              <th><%= I18n.t('txt.admin.views.cms.texts.show.Language') %></th>
              <th><%= I18n.t('txt.admin.views.cms.texts.show.Content') %></th>
              <th><%= I18n.t('txt.admin.views.cms.texts.show.Status') %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cms_text.variants.each do |variant| %>
              <tr>
                <td>
                  <%= variant.localized_name(display_in: I18n.translation_locale) %>
                  <% if variant.is_fallback? && @cms_text.variants.size > 1 %>
                    <span id='default_<%= variant.id %>'>(<b><%= I18n.t('txt.admin.views.cms.texts.show.Default') %></b>)</span>
                    <% @tips << "cmsCommentTip('default_#{variant.id}', #{I18n.t('txt.admin.views.cms.texts.show.Default_Variant').to_json}, \"#{dc_tip('default')}\");".html_safe %>
                  <% end %>
                </td>
                <td><%= variant.value.strip_tags.truncate(70) %></td>
                <td>
                  <%= variant.active? ? I18n.t('txt.admin.views.cms.texts.show.Active') : I18n.t('txt.admin.views.cms.texts.show.Inactive') %>
                  <% if variant.outdated? %>
                    <span id='outdated_<%= variant.id %>'>(<b><%= I18n.t('txt.admin.views.cms.texts.show.Out_of_date') %></b>)</span>
                    <% @tips << "cmsCommentTip('outdated_#{variant.id}', #{I18n.t('txt.admin.views.cms.texts.show.Out_of_date_variant').to_json}, \"#{dc_tip('outdated')}\");".html_safe %>
                  <% end %>
                </td>
                <td><%= link_to I18n.t('txt.admin.views.cms.texts.show.delete'), cms_text_variant_path(@cms_text, variant), :data => { :confirm => I18n.t('txt.admin.views.cms.texts.show.Are_you_sure_you_want'), :method => :delete }, :class => "admin" unless variant.is_fallback? %></td>
                <td>
                  <%= link_to(I18n.t('txt.admin.views.cms.texts.show.edit'), cms_text_variant_path(@cms_text, variant), :class => "edit_this") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <%= I18n.t('txt.admin.views.cms.texts.No_variations_of_this') %>  <%= link_to I18n.t('txt.admin.views.cms.texts.show.Create_one_now'),  new_cms_text_variant_path(@cms_text) %>
  <% end %>
  <div class="tabbed_container item-border-top" mode="static">
    <div class="tabs_content dc_content">
      <h3><%= I18n.t('txt.admin.views.cms.texts.show.References') %> (<%= @cms_text.references.size %>)</h3>
      <% %w[macros triggers automations].each do |type| %>
        <%= render partial: 'references', locals: { type: type }%>
      <% end %>
    </div>
  </div>
<% end %>
