<%= form_for(:account, :url => { :action => "update_settings", :anchor => "settings" },
                      :html => { :method => :put,
                                 :id => 'account-settings',
                                 :class => 'two_column tracked',
                                 'data-tracking-module' => 'Save Settings',
                                 'data-tracking-activity' => 'Web Portal' }) do |f| %>
  <div class="element_group">

    <div class="form_element">
      <%= f.label :settings_show_introductory_text, I18n.t('txt.admin.views.settings.portal._settings.Introductory_text_on_portal_home') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :show_introductory_text, I18n.t('txt.admin.views.settings.portal._settings.Show')) %>
        <p><%= I18n.t('txt.admin.views.settings.portal._settings.With_this_option_you_can') %></p>
      </div>
    </div>

    <div class="form_element">
      <%= f.label :forum_title, I18n.t('txt.admin.views.settings.portal._settings.Forums_name') %>
      <div class="form_field">
        <%= f.text_field :forum_title %>
        <p>
          <%= I18n.t('txt.admin.views.settings.portal._settings.The_title_of_your_forums') %><br/>
          <%= I18n.t('txt.admin.views.settings.portal._settings.Rename_if_you_want_your') %>        </p>
      </div>
    </div>

    <% if current_account.subscription.has_forums2_toggle? %>
      <div class="form_element">
        <%= f.label :settings_forums2, I18n.t('txt.admin.views.settings.portal._settings.Forum_version') %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :forums2, I18n.t('txt.admin.views.settings.portal._settings.Enable_new_version'), { 'data-toggles' => '#sub_setting_forums_on_home_page' }) %>
          <p><%= I18n.t('txt.admin.views.settings.portal._settings.Introducing_Categories_Questions_Ideas_Articles') %> <a href="https://support.zendesk.com/entries/163559"><%= I18n.t('txt.admin.views.settings.portal._settings.learn_more_label') %></a>.</p>
          <%= zd_sub_setting(:forums_on_home_page, :show => current_account.settings.forums2?) do %>
            <%= f.property_set(:settings).check_box :forums_on_home_page %>
            <%= f.label :forums_on_home_page, I18n.t('txt.admin.views.settings.portal._settings.List_forums_on_the_home') %>
            <p><%= I18n.t('txt.admin.views.settings.portal._settings.Show_a_categorized_list_of') %></p>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="form_element">
        <%= f.label :settings_forums_on_home_page, I18n.t('txt.admin.views.settings.portal._settings.Forums_on_home_page') %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :forums_on_home_page, I18n.t('txt.admin.views.settings.portal._settings.Show')) %>
          <p><%= I18n.t('txt.admin.views.settings.portal._settings.Show_a_categorized_list_of') %></p>
        </div>
      </div>
    <% end %>

    <fieldset class="form_element">
      <%= f.label :nothing, I18n.t('txt.admin.views.settings.portal._settings.Search') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :home_page_search, I18n.t('txt.admin.views.settings.portal._settings.Show_search_on_home')) %>
        <p><%= I18n.t('txt.admin.views.settings.portal._settings.Enabling_this_allows_your_users') %></p>
      </div>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :autocomplete_forum_search, I18n.t('txt.admin.views.settings.portal._settings.Auto_complete_users_search')) %>
        <p><%= I18n.t('txt.admin.views.settings.portal._settings.As_users_type_their_queries_v2') %></p>
      </div>

      <div class="form_field">
        <%= f.property_set(:settings).hidden_field :boost_curated_content, :value => current_account.settings.boost_curated_content %>
        <div class="form_element label" style="float: none"><%= I18n.t("txt.admin.views.settings.portal._settings.Adjust_the_search_relevance") %></div>

        <div class="curated-search">
          <div class="description"><%= I18n.t("txt.admin.views.settings.portal._settings.Agents") %></div>
          <div id="curated-search-slider" class="setting-slider">
            <div class="slider-bg"></div>
            <div class="ticks"></div>
            <div class="handle"><div class="label-arrow-up"></div><div class="label">1:1</div></div>
          </div>
          <div class="description"><%= I18n.t("txt.admin.views.settings.portal._settings.End_users") %></div>
        </div>
      </div>
    <% content_for(:head) do %>
      <%= javascript_include_tag "slider_bundle" %>
    <% end %>
    <%= js_init(:sliderId => "#curated-search-slider",
                :agents_string => I18n.t("txt.admin.views.settings.portal._settings.Only_agent_content"),
                :enduser_string => I18n.t("txt.admin.views.settings.portal._settings.Only_end-user_content")) -%>
    </fieldset>

    <fieldset class="form_element">
      <%= f.label :display_pinned_entries, I18n.t('txt.admin.views.settings.portal._settings.Pinned_topics_on_portal_home') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f, :display_pinned_entries, I18n.t('txt.admin.views.settings.portal._settings.Show'), { 'data-toggles' => '#sub_setting_display_pinned_entry' }) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.portal._settings.Display_all_topics_you_ve') %>        </p>
        <%= zd_sub_setting(:display_pinned_entry, :show => current_account.display_pinned_entries?) do %>
          <div class="form_field">
            <%= f.radio_button :display_pinned_entry_content, true %>
            <%= f.label :display_pinned_entry_content_true, I18n.t('txt.admin.views.settings.portal._settings.Display_both_topic_titles_and'), :class => "radio" %>
            <p><%= I18n.t('txt.admin.views.settings.portal._settings.Show_pinned_topic_titles_as') %></p>
          </div>
          <div class="form_field">
            <%= f.radio_button :display_pinned_entry_content, false %>
            <%= f.label :display_pinned_entry_content_false, I18n.t('txt.admin.views.settings.portal._settings.Only_list_the_topic_titles'), :class => "radio" %>
            <p><%= I18n.t('txt.admin.views.settings.portal._settings.Show_only_pinned_topic_titles') %></p>
          </div>
        <% end %>
      </div>
    </fieldset>

    <fieldset class="form_element">
      <%= f.label :forums_can_post_full_html, I18n.t('txt.admin.views.settings.portal._settings.forums_can_post_full_html.heading') %>
      <div class="form_field">
        <% values = ["nobody", "admin", "moderator", "agent"].map{|v|  [I18n.t("txt.admin.views.settings.portal._settings.forums_can_post_full_html.value.#{v}"), v] } %>
        <%= f.property_set(:settings).select :forums_can_post_full_html, values %>
        <p><%= I18n.t('txt.admin.views.settings.portal._settings.forums_can_post_full_html.intro') %></p>
      </div>
    </fieldset>

    <% if current_account.subscription.has_forum_statistics? %>
      <fieldset class="form_element">
        <%= f.label(:settings_display_forum_stats, current_account.has_search_statistics?  ? I18n.t('txt.admin.views.settings.portal._settings.forum_and_search_analytics') : I18n.t('txt.admin.views.settings.portal._settings.Forum_Analytics')) %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :display_analytics, I18n.t('txt.admin.views.settings.portal._settings.Show')) %>
          <p>
            <% if current_account.has_search_statistics? %>
              <%= I18n.t('txt.admin.views.settings.portal._settings.It_also_includes_detailed_search') %>
            <% else %>
              <%= I18n.t('txt.admin.views.settings.portal._settings.Display_all_engagement_statistics_and') %>
            <% end %>
          </p>
        </div>
      </fieldset>
    <% end %>

    <div class="form_element">
      <%= f.label :settings_comments_reverse_order, I18n.t('txt.admin.views.settings.portal._settings.Forum_comments') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :comments_reverse_order, I18n.t('txt.admin.views.settings.portal._settings.Reverse_order')) %>
        <p><%= I18n.t('txt.admin.views.settings.portal._settings.Comments_in_topics_are_shown') %></p>
      </div>
    </div>

    <fieldset class="form_element">
      <%= f.label :topic_suggestion_for_ticket_submission, I18n.t('txt.admin.views.settings.portal._settings.Topic_Suggestions') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :topic_suggestion_for_ticket_submission, I18n.t('txt.admin.views.settings.portal._settings.Enabled')) %>
        <p><%= I18n.t('txt.admin.views.settings.portal._settings.Zendesk_will_suggest_related_topics') %></p>
      </div>
    </fieldset>

    <fieldset class="form_element">
      <%= f.label :settings_forum_social_sharing_enabled, I18n.t('txt.admin.views.settings.portal._settings.Social_Sharing') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :forum_social_sharing_enabled, I18n.t('txt.admin.views.settings.portal._settings.Enabled')) %>
        <p><%= I18n.t('txt.admin.views.settings.portal._settings.Allow_customers_to_share_articles') %></p>
      </div>
    </fieldset>

    <% if current_account.has_incremental_forum_search? %>
      <fieldset class="form_element">
        <%= f.label :settings_incremental_forum_search, I18n.t('txt.admin.views.settings.portal._settings.Incremental_forum_search') %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :incremental_forum_search, I18n.t('txt.admin.views.settings.portal._settings.Enabled')) %>
          <p><%= I18n.t('txt.admin.views.settings.portal._settings.Forum_search_requests_are_submitted') %></p>
        </div>
      </fieldset>
    <% end %>

    <fieldset class="form_element">
      <%= f.label :settings_mobile_switch_enabled, I18n.t('txt.admin.views.settings.portal._settings.Mobile_Version') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :mobile_switch_enabled, I18n.t('txt.admin.views.settings.portal._settings.Enabled')) %>
        <p><%= I18n.t('txt.admin.views.settings.portal._settings.Show_the_mobile_friendly_version') %></p>
      </div>
    </fieldset>

    <fieldset class="form_element">
      <%= f.label :hide_entry_tags_enabled, I18n.t('txt.admin.views.settings.portal._settings.Hide_entry_tags') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :hide_entry_tags_enabled, I18n.t('txt.admin.views.settings.portal._settings.Enabled')) %>
        <p><%= I18n.t('txt.admin.views.settings.portal._settings.Hide_entry_tags_from_entries') %></p>
      </div>
    </fieldset>

    <div class="form_element">
      <div class="label">
        <%= I18n.t("txt.admin.views.settings.portal._settings.Spam_Prevention") %>
      </div>
      <div class="form_field">
        <div class="enable_checkbox">
          <%= zd_enable_checkbox(f.property_set(:settings), :spam_prevention, I18n.t('txt.admin.views.settings.portal._settings.Enabled'), spam_prevention_options(current_account)) %>
        </div>
        <p>
          <%= I18n.t("txt.admin.views.settings.portal._settings.Spam_Prevention_description") %>
        </p>

        <%= zd_sub_setting(:spam_prevention_settings, :show => current_account.settings.spam_prevention ) do %>
          <div class="radio">
            <%= f.radio_button("spam_prevention", :sf, :checked => current_account.spam_prevention == :sf) %>
            <%= f.label :spam_prevention_sf, I18n.t('txt.admin.spam_filter.label') %>
            <p class="spam_description">
              <%= I18n.t('txt.admin.spam_filter.description.text', :link => link_to(I18n.t('txt.admin.spam_filter.description.link'), help_center_root_path)) %>
              <%= I18n.t('txt.admin.spam_filter.disclaimer', :learn_more_link => link_to(I18n.t('txt.admin.spam_filter.description.learn_more'),
                I18n.t("txt.admin.views.settings.portal._settings.wp_spam_filter_learn_more_link"))) %>
            </p>
            <%= f.radio_button("spam_prevention", :cm, :checked => current_account.spam_prevention == :cm) %>
            <%= f.label :spam_prevention_cm, I18n.t("txt.moderation.content_moderation.label") %>
            <p class="moderation_description"><%= I18n.t('txt.admin.moderation.description') %></p>
          </div>
          <% if show_upgrade_to_hc? %>
            <br>
            <p><%= I18n.t("txt.admin.views.settings.portal._settings.You_want_both_prompt", :upgrade_to_hc_url => I18n.t("txt.admin.views.settings.portal._settings.You_want_both_prompt_link")) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.portal._settings.save_tab'), :class => "button save", :id => "settings_customers_portal_save_button") %>
  </div>
<% end %>
