<%= render :partial => '/account/header' %>

<%= div_content do %>
  <h2><a href="/settings/channels"><%= I18n.t('txt.admin.views.settings.portal.show.Channels_label') %></a><span class="delim">/</span><%= I18n.t('txt.admin.views.settings.portal.show.web_portal_label') %></h2>
  <span>
    <%= I18n.t('txt.admin.views.settings.portal.show.portal_description1') %>
    <%= link_to(I18n.t('txt.admin.views.settings.portal._settings.learn_more_label'),
                I18n.t('txt.admin.views.settings.portal.show.portal_description_link'),
                :target => '_blank') %>
  </span>
<% end %>
