<%= render :partial => 'account/header' %>

<%= div_content do %>
  <h2>Certificates</h2>

  <h3>Certificate request</h3>
  <p>
    In order to start a custom certificate process for your custom domain you must first generate a certificate request.
    Use the request with a certification authority to issue a certificate which you can then attach to your account.
    The generated request is valid for 5 days until it expires.
    If you don't supply the certificate by then you will have to recreate the request again.
  </p>

  <%= form_for(:account, :url => { :action => 'generate_csr' }, :html => { :method => :post }) do |f| %>
    <p><%= submit_tag "Generate a certificate request", :class => 'buttonsubmit' %></p>
  <% end %>

  <% if @current_certificate %>
    <% if @current_certificate.temporary? %>
      <p>
        <strong>
          This certificate request is <%= time_ago_in_words(@current_certificate.created_at) %> old.
          Certificate requests are automatically deleted after about 5 days.
          It's recommended to create a new one when placing the request with certificate authority.
        </strong>
      </p>
      <p><%= link_to(@current_certificate.csr_attachment.filename, @current_certificate.csr_attachment.url) %></p>
    <% elsif @current_certificate.pending? %>
      <h3>Pending certificate</h3>
      <p>
        <strong>
          There's a certificate approval pending for this account.
          Reuploading the certificate will reinitiate the approval process.
        </strong>
      </p>
    <% elsif @current_certificate.active? %>
      <h3>Existing certificate</h3>
      <p>
        There is a certificate already associated with this account.
        <strong>It expires on <%= @current_certificate.valid_until %></strong>.
        Use the form above to supply a new certificate before that time.
      </p>
    <% end %>
    <p>Certificate subject: <%= h @current_certificate.subject %></p>

    <%= form_for(:account, :url => { :action => 'upload_crt' }, :html => { :method => :post, :id => 'account-settings', :multipart => true, :autocomplete => 'off' }) do |f| %>
      <h3>Provide a certificate</h3>

      <p>Use the upload form below to supply the certificate issued by an authorized certification company.</p>

      <p><%= file_field_tag 'uploaded_data' %></p>
      <p><%= submit_tag "Upload", :class => 'buttonsubmit' %></p>
    <% end %>
  <% end %>
<% end %>
