<%= js_init -%>
<%= div_content do %>
  <h2><%= @page_title %></h2>

  <div class="frame">

    <h3>Please enter your filtering criteria</h3>

    <div style="padding: 10px">
      <select id="filter_by">
        <option value="requester" <%= 'selected="selected"' if @filter_by == :requester %>>Requester</option>
        <option value="organization" <%= 'selected="selected"' if @filter_by == :organization %>>Organization</option>
      </select>

      <span id="organization" style="display: none;">
        <%= form_tag({:action => :index}, :method => :get) do |f| %>
          <% if current_account.many_organizations? %>
            <%= text_field_tag(:organization_name, params[:organization_name], :class => 'text largetitle', :autocomplete => 'off') %>
            <div id="organization_name_auto_complete" class="autocomplete"></div>
            <button>Lookup</button>
            <p>Enter the name of an organization to view it's archived tickets</p>
            <% content_for(:script_onload) do %>
              new Autocompleter.Json('organization_name', 'organization_name_auto_complete', Autocompleter.cachedLookupOrganization, {frequency: 0.4, minChars: 1, choices: 50});
            <% end %>
          <% else %>
            <%= select_tag(:organization_id, options_for_select(current_account.fetch_organizations_for_lists, [@organization.try(:name), @organization.try(:id)])) %>
            <button>Lookup</button>
            <p>Select an organization to view it's archived tickets</p>
          <% end %>
        <% end %>
      </span>

      <span id="requester" style="display: none;">
        <%= form_tag({:action => :index}, :method => :get) do |f| %>
          <%= text_field_tag(:requester_name, params[:requester_name], :class => 'text', :autocomplete => 'off') %>
          <div id="requester_name_auto_complete" class="autocomplete"></div>
          <button>Lookup</button>
          <p>Enter the name of an end-user to view his/her archived tickets</p>

          <% content_for(:script_onload) do %>
            new Autocompleter.Json('requester_name', 'requester_name_auto_complete', Autocompleter.cachedLookupUser, {frequency: 0.4, minChars: 1, choices: 50});
          <% end %>
        <% end %>
      </span>
    </div>

  </div>

  <%= render :partial => "shared/tickets_list", :locals => { :tickets => @tickets } %>
<% end %>
