<% # TODO: This whole file can be deleted if we decide to remove %>
<% # legacy branding color accents from Classic-rendered UI. %>
<style id="color-branding">
  <% if header_color != default_header_color && header_color != default_zendesk_green %>
      #main_panes .navigation-item.active, #main_panes .reporting .sub-nav .nav a.active  {
        border-bottom: 3px solid #<%= header_color %>;
      }

      #main_panes .rich_text .comment-actions .btn.active, #main_panes .c-tab__list__item.c-tab__list__item.is-selected {
        border-bottom-color: #<%= header_color %>;
      }

      #main_panes .c-tab__list .c-tab__list__item.is-selected:after {
        background-color: #<%= header_color %>;
        color: #<%= contrast_color %>;
        border-color: #<%= header_color %>;
      }

      section.filters > .pane.left ul.filters.fr-focus li.in-focus,
      section.user_filters > .pane.left ul.filters.fr-focus li.in-focus,
      section.user > .pane.left ul.filters.fr-focus li.in-focus {
        border-left: 3px solid #<%= header_color %>;
      }

      #branding_header.button_fix .btn-toolbar > .btn-group > .btn:active, #branding_header:not(.button_fix) .btn-group .btn.active {
        background-color: #<%= secondary_branding_color %>;
      }

      <% if header_is_light? %>
        #main_panes .filter_tickets .fr-focus tr.in-focus .leading > div::before {
          background-color: #<%= secondary_branding_color %>;
        }

        .navigation-item.active, .main_panes.reporting .sub-nav .nav a.active  {
          border-bottom: 3px solid #<%= secondary_branding_color %>;
        }

        #main_panes section.filters > .pane.left ul.filters.fr-focus li.in-focus,
        #main_panes section.user_filters > .pane.left ul.filters.fr-focus li.in-focus,
        #main_panes section.user > .pane.left ul.filters.fr-focus li.in-focus {
          border-left: 3px solid #<%= secondary_branding_color %>;
        }
      <% end %>

      #branding_header:not(.button_fix) .btn-group > .btn.apps_top_bar {
        border: 1px solid #<%= secondary_branding_color %>;
      }

      #branding_header:not(.button_fix) .btn-group > .btn.apps_top_bar:hover {
        background-color: #<%= secondary_branding_color %>;
      }

      #main_panes .filter_tickets .fr-focus tr.in-focus .leading > div::before {
        background-color: #<%= header_color %>;
      }

      .contextual_help .title_bar {
        background-color: #<%= header_color %>;
        border-color: #<%= secondary_branding_color %>;
        color: #<%= contrast_color %>;
      }

      .contextual_help .title_bar label {
        color: #<%= contrast_color %>;
      }
    <% end %>

    <% if header_color != default_zendesk_algae %>

      <% if header_color == default_zendesk_green %>
        #main_navigation {
          background-color: #<%= default_zendesk_algae %>;
        }
      <% else %>
        #main_navigation {
          background-color: #<%= header_color %> !important;
        }

      /* Fill property */
      .branding__fill--contrast,
      .branding__fill--contrast-hover:hover,
      .branding__fill--contrast-active:active {
        fill: #<%= contrast_color %> !important;
      }

      .branding__fill--primary,
      .branding__fill--primary-hover:hover,
      .branding__fill--primary-active:active {
        fill: #<%= header_color %> !important;
      }

      .branding__fill--secondary,
      .branding__fill--secondary-hover:hover,
      .branding__fill--secondary-active:active {
        fill: #<%= secondary_branding_color %> !important;
      }

      /* Color property */
      .branding__color--contrast,
      .branding__color--contrast-hover:hover,
      .branding__color--contrast-active:active {
        color: #<%= contrast_color %> !important;
      }

      .branding__color--primary,
      .branding__color--primary-hover:hover,
      .branding__color--primary-active:active {
        color: #<%= header_color %> !important;
      }

      .branding__color--secondary,
      .branding__color--secondary-hover:hover,
      .branding__color--secondary-active:active {
        color: #<%= secondary_branding_color %> !important;
      }

      /* Background property */
      .branding__background--contrast,
      .branding__background--contrast-hover:hover,
      .branding__background--contrast-active:active {
        background-color: #<%= contrast_color %> !important;
      }

      .branding__background--primary,
      .branding__background--primary-hover:hover,
      .branding__background--primary-active:active {
        background-color: #<%= header_color %> !important;
      }

      .branding__background--secondary,
      .branding__background--secondary-hover:hover,
      .branding__background--secondary-active:active  {
        background-color: #<%= secondary_branding_color %> !important;
      }

      .toolbar_link svg.app_icon {
        fill: #<%= contrast_color %> !important;
        background-color: rgba(<%= navbar_bg_color_rgb %>, 0.2) !important;
      }

      .toolbar_link:hover svg.app_icon {
        background-color: rgba(<%= navbar_bg_color_rgb %>, 0.1) !important;
      }

      .toolbar_link.active svg.app_icon {
        background-color: #<%= secondary_branding_color %> !important;
      }

      /* Border property */
      .branding__border--contrast,
      .branding__border--contrast-hover:hover,
      .branding__border--contrast-active:active {
        border-color: #<%= contrast_color %> !important;
      }

      .branding__border--primary,
      .branding__border--primary-hover:hover,
      .branding__border--primary-active:active {
        border-color: #<%= header_color %> !important;
      }

      .branding__border--secondary,
      .branding__border--secondary-hover:hover,
      .branding__border--secondary-active:active {
        border-color: #<%= secondary_branding_color %> !important;
      }

      <% end %>
  <% end %>
</style>
