<%
  if (current_user.is_agent? && @user != current_user) # i.e. an admin
    description = I18n.t('txt.users.edit.add_email_message_admin_no_verification')
    submit_message = I18n.t('txt.users.edit.submit_email_address_admin_no_verification')
  else
    description = I18n.t('txt.users.edit.add_email_message')
    submit_message = I18n.t('txt.users.edit.submit_email_address')
  end
%>

<div class="lv_action" id="add_email_address_lightbox">
  <h1><%= I18n.t('txt.users.edit.add_email_heading') %></h1>
  <p class="description"><%= description %></p>

  <%= form_tag(user_unverified_email_addresses_path(@user)) do %>
    <h3><%= I18n.t('txt.users.edit.email') -%></h3>
    <p class="submit_block">
      <%= text_field_tag 'email', '', :id => 'focus', :size => 30 %>&nbsp;
      <%= submit_tag submit_message %>
    </p>
  <% end %>
</div>
