<%= div_content do %>
  <h2><%= I18n.t('txt.unverified_email.identity_confirmation_header') %></h2>
  <%= form_tag(:action => 'verify') do %>
    <p>
      <%= @confirmation_question %><br/>
      <strong><%= @confirmation_warning %></strong>
    </p>
    <%= hidden_field_tag 'unverified_email_address[confirmed]', 'true' %>
    <%= submit_tag @confirmation_button, :id => "submit", :name => "submit" %>
  <% end -%>
<% end %>
