/* Topic suggestions for new topic */
body.entries-create div#suggestions_for_new_topic div.frame { margin: 2px 20px 0 0; padding: 5px 15px;}
body.entries-create div#suggestions_for_new_topic ul#topic_suggestions { margin: 0; padding: 0; }
body.entries-create div#suggestions_for_new_topic ul#topic_suggestions li.suggestion { margin: 0; padding:0 0 6px 18px; font-size: 13px; }
