body.entries div.action strong.selected { /* comment link */
  display: block;
}

div.frame div.entry div.entry-container {
  position: relative;
  overflow: hidden;
}

/* for aligning share button container with other elements */
.entry_footer {
  width: 100%;
}

/* some tweaks that align the buttons themselves */
.share_button_container {
  margin-top: 8px;
  float: right;

  .share_buttons {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      list-style-type: none;

      &.facebook_button {
        margin-right: 0;

        > iframe {
          position: relative;
          top: 5px;
          width: 130px;
          height: 25px;
        }
      }

      &.twitter_button > iframe {
        width: 95px!important; /* Important because Twitter slams in a width at the inline CSS level, boo */
      }
    }
  }
}

body.entries div#suggestions_for_new_topic div.related-topics-header {
  margin: 25px 0 7px;
}

  body.entries div#suggestions_for_new_topic div.related-topics-header h3 {
    display: inline;
    margin: 0 10px 0 0;
  }

  body.entries div#suggestions_for_new_topic div.related-topics-header span {
    color: #989A97;
  }


div#content_entries div.add-button p.button-item a.button {
  margin-right: 4px;
}