.entries-new {
  .suggestions {
    margin: 5px 10px 9px 0;
    padding: 1px 0 0 20px;
    display: block;
    list-style-type: none;
  }
  .frame {
    padding-bottom: 3px;
    margin-left: 0;
    width: 300px;
  }
}
