div.show_more_bar { font-size: 14px; font-weight: bold; text-align: center; width:100%;}

div.show_more_bar a {
  background: #FFF url(/classic/images/button-bg.png) repeat-x 0 3px;
  border: 1px solid #DDD;
  border-radius: 4px;
  -moz-border-radius-: 4px;
  -webkit-box-shadow: 1px 1px 1px #BBB;
  margin: 0px auto;
  padding: 8px 20px 8px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
}

div.show_more_bar a:hover, div.show_more_bar a:focus {
  border: 1px solid #AAA;
  color: #1A6690;
}
