.entries-show {
  .item-info {
    .info {
      .label {
        margin-top: 3px;
      }

      .zd_label {
        float: none;
      }
    }
  }

  #history {
    .item:last-child {
      border-bottom: none;
      form {
        padding-right: 2px;
      }
    }

    .label_theanswer {
      border: none;
      background: url('/classic/images/entries/answer-sprite.png') transparent no-repeat scroll 0 1px;
      color: #DDD;
      float: right;
      font-size: 1.2em;
      font-weight: bold;
      margin: 0 0 0 15px;
      padding: 2px 0 0 22px;

      &.is_moderator {
        cursor: pointer;

        &:hover {
          background-position: 0 -43px;
          color: #aaa;
        }
      }

      &.answered,
      &.answered.is_moderator {
        background-position: 0 -21px;
        color: #719932;
      }

      &.ajax {
        background: none;

        img {
          display: inline;
          float: left;
          margin-right: 3px;
        }
      }

      img {
        display: none;
      }
    }
  }

  .for_vote {
    color: #505050;

    .button {
      margin-left: 5px;
    }
  }

  p.entry_user {
    color: #666;
    font-size: 13px;
    float: left;
    line-height: 17px;
    margin-top: 1px;
    padding-left: 7px;
  }

  img.entry_user {
    border: 1px solid #ddd;
    float: left;
    padding: 2px;
  }

  #reply {
    padding: 18px 24px 15px 23px;
    overflow: hidden;
  }

  .action {
    margin-top: 10px;
  }

  .post-uploads {
    margin: -25px 0 5px 5px;
    float: left;
  }

  form {
    padding: 2px;

    textarea {
      padding: 0;
    }

    .form-actions {
      margin: 5px 0 0 2px;
      width: 100%;
      text-align: right;

      a, .button_or {
        margin-top: 6px;
        margin-right: 4px;
      }

      .button_or {
        color: #888;
      }

      .utility {
        color: red;
        margin-top: 1.2em;
        padding-top: 2px;
      }

      #spinner {
        display: none;
        float: right;
        margin: 10px 5px 0 0;
      }
    }
  }

  .icon.photo {
    &.by-staff {
      position: relative;

      div {
        color: #FFFFFF;
        bottom: 3px;
        font-weight: bold;
        margin: 0 3px;
        padding: 1px 0;
        position: absolute;
        width: 80px;
      }
    }

    img {
      margin: 0;
    }
  }
}

.entries-show,
.portal-show {
  h3 {
    font-weight: normal;
    padding-top: 8px;
  }
  .user_formatted h3 {
    font-weight: bold;
  }
}
