div#moderator_box {
  width:191px;
  background-color: #FFF;
  border: 3px #DDD solid;
  padding: 12px 22px 20px 22px;
  -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
}

div#moderator_box h3 {color: #333;}

#sidebar div#moderator_box div.entry_info {
  margin-bottom: 12px;
  p {
    margin: 5px 0 3px 0;
  }
}

div#moderator_box ul.actions li {
  border-top:1px solid #F0F0F0;
  line-height: 25px;
  margin: 0px;
  padding: 0px;
}

div#moderator_box ul.actions li:hover {background: #F6F6F6;}

div#moderator_box ul.actions a.mod_option {
  background:url("/classic/images/answer-sprite_16x16.png") no-repeat scroll 0 3px transparent;
  margin: 0px;
  padding: 4px 0 0 20px;
  color: #808080;
}

div#moderator_box ul.actions a.mod_option:hover{
  background-position: 0 -32px;
  color: #333;
  text-decoration: none;
}

div#moderator_box ul.actions a.mod_option.selected {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

div#moderator_box div.links {
  display: block;
  overflow: auto;
}

div#moderator_box div.links .left {float:left;}
div#moderator_box div.links .right {float:right;}

/* labels */

div#moderator_box .labels .topic_label_planned,
div#moderator_box .labels .topic_label_done,
div#moderator_box .labels .topic_label_not_planned {
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
  background-color: #fff;
  border: 1px solid #DD7A18;
  color: #808080;
  font-size: 12px;
  padding: 1px 4px;
  text-decoration: none;
  display: inline-block;
  line-height: 15px;
}

div#moderator_box .labels .topic_label_planned:hover,
div#moderator_box .labels .topic_label_done:hover,
div#moderator_box .labels .topic_label_not_planned:hover {
  color:#333;
}

div#moderator_box .labels .topic_label_planned.selected:hover,
div#moderator_box .labels .topic_label_done.selected:hover,
div#moderator_box .labels .topic_label_not_planned.selected:hover {
  color:#fff;
}

div#moderator_box .labels .topic_label_planned {
  border:1px solid #DD7A18;
}

div#moderator_box .labels .topic_label_done {
  border:1px solid #7EAB38;
}

div#moderator_box .labels .topic_label_not_planned {
  border:1px solid #DDD;
}

div#moderator_box .labels .selected {color:#fff;}

div#moderator_box .labels .topic_label_planned.selected {
  background:none repeat scroll 0 0 #DD7A18;
  border-color:#DD7A18;
}

div#moderator_box .labels .topic_label_done.selected {
  background:none repeat scroll 0 0 #7EAB38;
  border-color:#7EAB38;
}

div#moderator_box .labels .topic_label_not_planned.selected {
  background:none repeat scroll 0 0 #BBB;
  border-color:#BBB;
}


