<bdo dir="<%= dir %>">
  <table dir="<%= dir %>" class="simplified-email-footer" style="font-size: 14px; color: #000000; width: 100%; margin-bottom: 20px;">
    <tbody>
      <tr style="background-color: white;">
        <td dir="<%= dir %>" class="content" style="font-family:<%= font_family %>;width: 100%; border: solid 10px rgb(248,248,248);">
          <table dir="<%= dir %>" style="margin-<%= rtl ? " left" : "right" %>: auto;">
            <tbody>
              <tr>
                <td dir="<%= dir %>" style="font-family:<%= font_family %>;padding:0;padding-<%= rtl ? " left" : "right" %>:8px;">
                  <span style="border-radius: 2px; font-size: 12px; font-weight: 500; vertical-align: text-top; background-color: <%= ticket_status_bg_color %>; color: <%= ticket_status_color %>; border-top: 3px solid <%= ticket_status_bg_color %>; border-right: 5px solid <%= ticket_status_bg_color %>; border-bottom: 3px solid <%= ticket_status_bg_color %>; border-left: 5px solid <%= ticket_status_bg_color %>;"><%= ticket_status %></span>
                </td>
                <td dir="<%= dir %>">
                  <span style="font-weight:500; font-size:15px; line-height: 30px; text-decoration: none; vertical-align: text-top;"><%= I18n.t('txt.email.rule_notification.agent_footer.ticket_title', ticket_url: ticket_url, ticket_id: ticket_id, locale: locale) %></span>
                </td>
              </tr>
            </tbody>
          </table>
          <table dir="<%= dir %>" style="border-spacing: 0px 10px; border-collapse: separate; margin-top: 14px;">
            <tbody>
              <tr>
                <th class="namecard" style="font-weight: normal; text-align: <%= rtl ? 'right' : 'left' %>;">
                  <table dir="<%= dir %>">
                    <tr>
                      <td dir="<%= dir %>" style="font-family:<%= font_family %>;font-weight: 500; border-<%= rtl ? " left" : "right" %>: solid 168px transparent;">
                        <%= I18n.t('ticket_fields.requester.label', locale: locale) %>
                      </td>
                    </tr>
                    <tr>
                      <td dir="<%= dir %>" class="light-text" style="font-family:<%= font_family %>;">
                        <table dir="<%= dir %>">
                          <tr>
                            <td dir="<%= dir %>" style="font-family:<%= font_family %>;padding-left: 0px;">
                              <img src="<%= requester_image_url %>" width="20" height="20" style="border-radius: 50%; vertical-align: text-top">
                            </td>
                            <td dir="<%= dir %>" style="font-family:<%= font_family %>;padding-<%= rtl ? " left" : "right" %>:5px;">
                              <span style="line-height: 20px"><%= requester_name %></span>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </th>
                <th class="namecard" style="font-weight: normal;text-align: <%= rtl ? 'right' : 'left' %>;">
                  <table dir="<%= dir %>">
                    <tr>
                      <td dir="<%= dir %>" style="font-family:<%= font_family %>;font-weight: 500;">
                        <%= I18n.t('txt.default.fields.assignee.title', locale: locale) %>
                      </td>
                    </tr>
                    <tr>
                      <td dir="<%= dir %>" class="light-text" style="font-family:<%= font_family %>;">
                        <table dir="<%= dir %>">
                          <tr>
                            <% if assignee_name.blank? %>
                            <td dir="<%= dir %>" style="font-family:<%= font_family %>;color: rgb(204, 51, 64); background-color:rgb(255, 240, 241); border-top: solid 2px rgb(255, 240, 241); border-bottom: solid 2px rgb(255, 240, 241); border-right: solid 4px rgb(255, 240, 241); border-left: solid 4px rgb(255, 240, 241);">
                              <%= I18n.t('txt.default.fields.unassigned.description', locale: locale)%>
                            </td>
                            <% else %>
                            <td dir="<%= dir %>" style="font-family:<%= font_family %>;padding-left: 0px;">
                              <img src="<%= assignee_image_url %>" width="20" height="20" style="border-radius: 50%; vertical-align: text-top;">
                            </td>
                            <td dir="<%= dir %>" style="font-family:<%= font_family %>;margin-left: 5px;">
                              <% if assignee_status_changed %>
                              <span style="color: rgb(3, 129, 83); background-color: rgb(209, 232, 223); line-height: 20px; vertical-align: text-top; border-top: solid 2px rgb(209, 232, 223); border-bottom: solid 2px rgb(209, 232, 223); border-right: solid 4px rgb(209, 232, 223); border-left: solid 4px rgb(209, 232, 223);"><%= assignee_name %></span>
                              <% else %>
                              <span style="line-height: 20px; vertical-align: text-top;"><%= assignee_name %></span>
                              <% end %>
                            </td>
                            <% end %>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </th>
              </tr>
            </tbody>
          </table>
          <table dir="<%= dir %>" style="border-spacing: 0px 8px; margin-top: 16px;">
            <tbody>
              <% if display_ticket_ccs_for_agent %>
              <tr>
                <td dir="<%= dir %>" style="font-family:<%= font_family %>;font-weight: 500;padding-<%= rtl ? " left" : "right" %>:24px;">
                  <%= I18n.t('txt.admin.models.rules.rule_dictionary.ccs_label', locale: locale) %>
                </td>
                <td dir="<%= dir %>" class="light-text" style="font-family:<%= font_family %>;">
                  <%= ticket_ccs_for_agent %>
                </td>
              </tr>
              <% end %>
              <% if display_ticket_followers_for_agent %>
              <tr>
                <td dir="<%= dir %>" style="font-family:<%= font_family %>;font-weight: 500;padding-<%= rtl ? " left" : "right" %>:24px;">
                  <%= I18n.t('txt.email.rule_notification.agent_footer.followers', locale: locale) %>
                </td>
                <td dir="<%= dir %>" class="light-text" style="font-family:<%= font_family %>;">
                  <%= ticket_followers_for_agent %>
                </td>
              </tr>
              <% end %>
              <tr>
                <td dir="<%= dir %>" style="font-family:<%= font_family %>;font-weight:500;padding-<%= rtl ? " left" : "right" %>:24px;">
                  <%= I18n.t('txt.default.fields.group.title', locale: locale) %>
                </td>
                <td dir="<%= dir %>" class="light-text" style="font-family:<%= font_family %>;">
                  <%= group_title %>
                </td>
              </tr>
              <tr>
                <td dir="<%= dir %>" style="font-family:<%= font_family %>;font-weight: 500;padding-<%= rtl ? " left" : "right" %>:24px;">
                  <%= I18n.t('txt.default.fields.type.title', locale: locale) %>
                </td>
                <td dir="<%= dir %>" class="light-text" style="font-family:<%= font_family %>;">
                  <%= ticket_type %>
                </td>
              </tr>
              <tr>
                <td dir="<%= dir %>" style="font-family:<%= font_family %>;font-weight: 500;padding-<%= rtl ? " left" : "right" %>:24px;">
                  <%= I18n.t('txt.email.rule_notification.agent_footer.channel', locale: locale) %>
                </td>
                <td dir="<%= dir %>" class="light-text" style="font-family:<%= font_family %>;">
                  <%= channel %>
                </td>
              </tr>
              <tr>
                <td dir="<%= dir %>" style="font-family:<%= font_family %>;font-weight: 500;padding-<%= rtl ? " left" : "right" %>:24px;">
                  <%= I18n.t('txt.default.fields.priority.title', locale: locale) %>
                </td>
                <td dir="<%= dir %>" class="light-text" style="font-family:<%= font_family %>;">
                  <%= priority %>
                </td>
              </tr>
            </tbody>
          </table>
          <table dir="<%= dir %>" style="margin-top: 30px; margin-bottom: 17px;">
            <tbody>
              <tr>
                <td dir="<%= dir %>" style="font-family:<%= font_family %>;padding-left: 0px;">
                  <a href="<%= ticket_url %>" target="_new" style="border-radius: 4px; height: 44px; background-color: rgb(31, 115, 183); border-top: 14px solid rgb(31, 115, 183); border-right: 26px solid rgb(31, 115, 183); border-bottom: 14px solid rgb(31, 115, 183); border-left: 26px solid rgb(31, 115, 183); text-decoration: none;">
                    <span style="color: white; font-size: 15px"><%= I18n.t('txt.email.rule_notification.agent_footer.ticket_button.title', locale: locale) %></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</bdo>
