<%= div_content do %>
  <h2>Zendesk is Celebrating Turning 3 With a Free Upgrade for You!</h2>
  <p>
    It’s Zendesk’s 3rd birthday! We figured the best way to celebrate would be to invite you to a free
    30-day trial of our most advanced features that we’ve been working hard on for the past three years.
  </p>
  <p>
    Expand your customer support to include:
    <ul>
      <li>Agent Collision (helpful feature that let's you know someone's already working on a ticket!)</li>
      <li>Reporting & Analytics With GoodData Integration</li>
      <li>Advanced Workflow Customization (set global rules & processes to simplify your workflow)</li>
      <li>24/5 Phone Support From Zendesk's Customer Advocate Team</li>
    </ul>
  </p>
  <p>
    We’re making this worry-free and seamless. You are under no obligation, and at the end of 30 days, if you don’t upgrade your plan permanently, we’ll reset your Zendesk features back to your original plan.
  </p>
  <p>
    Our goal is to help you deliver great support to your customers, we want your business to have lots of happy birthdays ahead too!
  </p>
  <p>
    Thank you for using Zendesk
  </p>
  <p>
    <%= link_to "Sounds great, let's do this!", { :action => :create }, :data => {:method => :post} %>
  </p>
<% end %>
