/* Used suggestions on all examples */

div.autocomplete {
  ul {
    background: #EEE;
    list-style-type: none;
    border: 1px solid #CCC;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 15;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 4px #C3C3C3;

    li {
      border-top: none;
      font-size: 80%;
      padding: 8px 12px;
      font-size: 13px;
      margin: 0px !important;
      white-space: nowrap !important;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;

      &:nth-child(odd) {
        background: #FFF;
      }

      &:nth-child(even) {
        background: #EEE;
      }

      &.selected {
        background: #78959D;
        color: #FFF;
      }
    }
  }
}

/* Only used on multi select fields */

ul.multi_value_field {
  overflow: hidden;
  list-style-type: none;
  padding: 1px 5px !important;
  margin: 0px;
  height: auto !important;
  width: 96.5%;

  li,
  input {
    color: #525252;
    border: 0;
    display: block;
    font-size: 11px;
    float: left;
    list-style-type: none;
    margin: 2px 5px 2px 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    -o-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    max-width: 96.5%;
    overflow-wrap: break-word;

    &.choice {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -border-radius: 4px;
      background: #cbdaee none repeat scroll 0 0;
      padding: 3px 5px 4px;

      &:hover {
        background-color: #BBCEF1;
      }

      a.close {
        font-weight: bold;
        color: #AAA;
        padding: 2px 0 3px 3px;
        font-size: 11px;
        cursor: pointer;
        text-decoration: none;
        outline: none;

        &:hover {
          color: #000;
        }
      }
    }

    &.agent {
      background: #E5E5E5 none repeat scroll 0 0;
    }

    input {
      width: 70px;

      &:focus {
        background: #e7ecf3 none repeat scroll 0 0;
        border: 0;
        font-size: 11px;
        color: #525252;
      }
    }
  }
}

#facebook-list input {
  width: 160px;
}

/* TODO: generate a new jQuery-UI theme at http://jqueryui.com/themeroller/ and remove the following */

.ui-menu {
  list-style-type: none;
  display: block;
  padding: 6px;
  position: absolute;
  width: 300px;

  .ui-menu-item {
    & + .ui-menu-item {
      border-top: 1px solid #e5e5e5;
    }

    a {
      border: none;
      display: block;
      padding: 3px 6px;
    }
  }
}

.ui-menu.ui-corner-all, .ui-menu .ui-corner-all {
  -moz-border-radius: 0;
  webkit-border-radius: 0;
  border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus,
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
.ui-state-error, .ui-widget-content .ui-state-error { background-image: none; background-color: #f5f5f5; }
