@import "../garden/button.css.scss";
@import "../garden/callout.css.scss";

$body-normal-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;

$header-normal-color: #555 !important;
$body-normal-color: #555 !important;
$body-normal-size: 14px !important;
$bold-weight-override: 600 !important;

// https://github.com/zendeskgarden/css-bedrock/pull/8
_:-ms-input-placeholder, html { font-feature-settings: normal; }

body,
html {
  padding-top: 0!important;
  background-color: #fff;
  background: #fff;
}

body {
  font: 14px $body-normal-family;
  line-height: 20px;
  min-width: 600px;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern';
  font-kerning: normal;

  strong, em, b, i, h1, h2, h3, h4, h5, h6, address, p {
    font-family: $body-normal-family;
  }

  label, select, input, textarea, button {
    font: 99% $body-normal-family;
  }

  // from PN overrides
  b, strong, label, .label, .edit_this,
  .form_field a, .option .name {
    color: $body-normal-color;
    font-weight: $bold-weight-override;
    font-size: $body-normal-size;
  }

  h1, h2, h3, h4, h5 {
    color: $header-normal-color;
    font-weight: $bold-weight-override;
  }

  h2 {
    font-size: 22px !important;
    line-height: 32px !important;
    font-weight: $bold-weight-override;
  }

  p, .intro_text, .intro-text {
    color: $body-normal-color;
    font-size: $body-normal-size;
    line-height: 20px !important;
  }
  // end PN overrides

  button, input, select, textarea {
    vertical-align: baseline;
  }

  input, select, textarea {
    margin-bottom: 0;
  }

  .label {
    background-color: transparent;
    text-shadow: none;
  }

  .radio input[type="radio"],
  .checkbox input[type="checkbox"] {
    float: none;
  }

  label.radio,
  label.checkbox {
    padding-left: 0!important;
  }

  .form_field .one_line label.checkbox {
    display: inline;
    padding-left: 5px !important;
  }

  select {
    width: auto;
  }

  input[type=text], textarea {
    background: white;
  }

  label.options {
    display: inline;
  }
}

/* TODO: Remove .monitored_twitter_handles and other view-specific selectors,
once RTL enabled for all Classic views. */
html[data-rtl-language='true'] {
  .monitored_twitter_handles, form.twitter {
    div.radio {
      padding-left: 0;
      padding-right: 18px;

      input[type=radio] {
        margin-left: 3px;
        margin-right: -18px;
      }
    }
  }
}

#page {
  margin: 0;
  padding: 0 10px 5px 8px;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .users-index &, .import-index &, .groups-index &, .organizations-index &, .bulk_delete-index &, .roles-new &, .roles-index &, .tags-index &, .groups-edit &, .settings-show &, .monitored_twitter_handles &, .account-show & {
    html[data-rtl-language='true'] & {
      padding: 0 8px 5px 10px;
    }
  }

  #top {
    display: none;
  }

  #container #contentwrapper #contentcolumn {
    margin-right: 0!important;

    .content {
      &.content_grey {
        background-color: transparent!important;
        background-image: none!important;
      }

      .grey_box_bottom,
      .grey_box_top {
        display: none;
      }

      .content-top-right span.add,
      .content-top-right a.add,
      .tab-top-right a.add {
        background: none;
      }

      div.content-top-right {
        margin-right: 0;

        /* TODO: Remove .user-index and other view-specific selectors,
        once RTL enabled for all Classic views. */
        .users-index &, .organizations-index &, .roles-index & {
          html[data-rtl-language='true'] & {
            margin-left: 0;
            margin-right: 8px;
          }
        }
      }

      h2 {
        font-size: 24px;
        line-height: 36px;

        .texts-index & {
          line-height: 38px !important;
        }

        /* TODO: Remove .user-index and other view-specific selectors,
        once RTL enabled for all Classic views. */
        .users-index &, .groups-index &, .organizations-index &, .roles-new &, .roles-index &, .tags-index &, .groups-edit &, .monitored_twitter_handles & {
          html[data-rtl-language='true'] & {
            text-align: right;
          }
        }

        .monitored_twitter_handles & {
          html[data-rtl-language='true'] & {
            span.line {
              float: right;
              padding-left: 5px;
            }
          }
        }
      }

      input.title {
        height: 24px;
        line-height: 24px;

        /* TODO: Remove .user-index and other view-specific selectors,
        once RTL enabled for all Classic views. */
        .users-index &, .groups-index &, .organizations-index &, .roles-index &, .tags-index & {
          text-align: left;

          html[data-rtl-language='true'] & {
            text-align: right;
          }
        }
      }

      select {
        height: 28px;
        line-height: 28px;
      }

      label input.radio {
        display: inline;
      }

      input[type="text"]:focus,
      select:focus,
      select:active,
      textarea:focus {
        border-color: #78A300 !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 2px #78a300 !important;
        outline: 0;
      }

      /* Tabs */
      .tabbed_container,
      .sammy_tabbed_container {
        margin: 20px 0;

        .tabs_content {
          border-bottom: 0;
          border-left: 0;
          border-right: 0;
          padding: 5px 0;

          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;

          &.inactive {
            border: 0;
          }
        }

        .tab_links {
          a {
            color: #343434;
            font-weight: normal;
            font-size: $body-normal-size;
            border-radius: 0;
            padding: 0 0 5px 0;
            margin: 0 30px 0 0;
            border-bottom: 3px solid transparent;
            text-align: center;

            html[data-rtl-language='true'] & {
              float: right;
              margin: 0 0 0 30px;
            }

            &:hover {
              background-color: transparent;
              border-bottom: 3px solid #D4D4D4;
            }

            &:first-child {
              padding-left: 0;
              margin-left: 0;
            }

            &::after {
              display: block;
              content: attr(data-title-value);
              font-weight: bold;
              visibility: hidden;
              overflow: hidden;
              height: 1px;
              margin-right: -2px;
            }

            &.current {
              border: none;
              font-weight: bold;
              border-bottom: 3px solid #30aabc;
            }

            &.current,
            &::after {
              font-weight: $bold-weight-override !important;
            }
          }
        }
      }

      /* Pagination */
      .pagination {
        width: 740px;

        span, a, em {
          margin: 0;
          float: left;
          padding: 0 14px;
          line-height: 34px;
          text-decoration: none;
          border: 1px solid #DDD;
          border-left-width: 0;
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

          .users-index &, .account-show & {
            html[data-rtl-language='true'] & {
              float: right;
            }
          }

          $border-radius: 3px;
          &.next_page {
            -webkit-border-radius: 0 $border-radius $border-radius 0;
            -moz-border-radius: 0 $border-radius $border-radius 0;
            border-radius: 0 $border-radius $border-radius 0;

            .users-index &, .account-show & {
              html[data-rtl-language='true'] & {
                border-left-width: 1px;
                border-radius: $border-radius 0 0 $border-radius;
              }
            }
          }

          &.previous_page {
            border-left-width: 1px;
            -webkit-border-radius: $border-radius 0 0 $border-radius;
            -moz-border-radius: $border-radius 0 0 $border-radius;
            border-radius: $border-radius 0 0 $border-radius;

            .users-index &, .account-show & {
              html[data-rtl-language='true'] & {
                float: right;
                border-left-width: 0;
                border-right-width: 1px;
                border-radius: 0 $border-radius $border-radius 0;
              }
            }
          }

          &.current,
          &.disabled {
            background-color: whiteSmoke;

            .users-index &, .account-show & {
              html[data-rtl-language='true'] & {
                float: right;
              }
            }
          }
        }
      }

      /* Rule Actions */
      .actions {
        input,
        select {
          margin-top: inherit;
          font-size: 15px;

          &.submit_options {
           height: 30px;
          }

          &.save {
            font-weight: inherit;
          }
        }
      }

      /* Widget Selection Page */
      ul.widget_types {
        border: 0;

        li {
          height: 80px;
          padding: 25px 10px 0 12px;

          html[data-rtl-language='true'] & {
            padding: 25px 12px 0 10px;
          }

          &.lotus_incompatible {
            display: none;
          }

          img {
            border: 0;
            border-right: 2px solid #F0F0F0;
            padding-right: 9px;

            html[data-rtl-language='true'] & {
              border-left: 2px solid #F0F0F0;
              border-right: 0;
              padding-left: 9px;
              padding-right: 0;
            }
          }

          a.big {
            margin-bottom: 4px;
          }
        }
      }
    }

    .two_column .element_group {
      margin-right: 0;
    }
  }

  #sidebar {
    display: none;

    #rule_permalink {
      width: 186px;
      padding: 2px;
      margin-top: 10px;
      margin-bottom: 2px;
      font-size: smaller;
      cursor: default;
    }

    .rule_example {
      display: none;
    }
  }
}

.settings.embedded_in_lotus {
  .two_column select {
    height: 28px;
  }
}

#footer {
  display: none;
}

/* Show sidebar for selected pages */
.channels-show, .chat-show, .settings-index,
.chat_settings, .dropboxes-index, .search-index,
.tags-edit, .views-edit, .macros-edit, .triggers-edit,
.organizations-index, .users-index, .automations-edit,
body.texts, body.roles, body.tags, body.import {
  #page #container {
    #contentwrapper #contentcolumn {
      padding-right: 260px;
      width: auto;
    }

    #sidebar {
      display: block;
      .blue_box_top, .side-box-content, .blue_box_bottom {
        background: #FAFAFA;
        p {
          color: #333;
          a { color: #1A6690; }
          strong { color: black; }
          margin: 14px 0;
        }
      }
      .permalink {
        display: inherit;
      }
      .blue_box_top {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .blue_box_bottom {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      #widget_manager_widget {
        display: none;
      }
    }
  }
}

/* TODO: Move this next to LTR styling above,
once support added for all Classic views */
.users-index, .import-index, .organizations-index, .roles-new, .roles-index, .tags-index {
  #page #container {
    #contentwrapper #contentcolumn {
      html[data-rtl-language='true'] & {
        padding-left: 260px;
        padding-right: 0;
      }
    }
  }
}

/* TODO: Remove .new_group and any other view-specific selectors,
once RTL enabled for all Classic views. */
.new_group {
  html[data-rtl-language='true'] & {
    text-align: right;
    direction: rtl;
  }
}

#flash div.alert {
  display: none !important;
}

a { color: #196491; }

#output_type_table,
#output_type_list {
  margin-top: 0;
}

#output_type_table {
  margin-left: 10px;
}

.two_column .form_element .form_field input[type="checkbox"],
.two_column .form_element_without_separator .form_field input[type="checkbox"] {
  display: inline-block;
}

.form_element legend {
  border-bottom: 0;
}

.field_options input {
  display: inline;
}

.alert .close {
  position: inherit;
}

.search #bulk_form, .users, .channels, .chat_settings, .tags-index, .groups, .organizations, .roles-index, .reports {
  .frame {
    border: 0;
    padding: 0;
    border-top: 1px solid whiteSmoke;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    html[data-rtl-language='true'] & {
      padding: 0;
    }
  }
}

.reports {
  border-top: 0;
}

.search-index {
  .frame {
    border: 0;
  }
}

.channels .frame {
  margin-top: 30px;

  .item.clean {
    padding-left: 12px;
  }
}

.analysis .frame {
  border: 0;
}

.add {
  height: 37px;
}

#copy_permalink_to_clipboard {
  display: none;
}

.frame.tickets_table {
  border: 0;
}

ul.sortablelist, ul.identities {
  margin-left: 0;
}

/* TODO: Remove #salesforce_objects and any other view-specific,
selectors once RTL enabled for all Classic views. */
html[data-rtl-language='true'] {
  #salesforce_objects {
    ul.sortablelist {
      margin-right: 0;
    }
  }
}

.views {
  .action {
    border-top: 1px solid #EEE;
    padding-top: 15px;
    margin-top: 0;
  }
}

/*.tabs_content h4 {
  font-weight: normal;
  color: black;
}*/

.ticket_fields {
  fieldset.conditions {
    label {
      display: inline;
    }
    input {
      margin: 2px 14px 2px 0;
    }
  }
}

div.tab-top-right {
  padding-right: 0;
}

span.property {
  opacity: 0.5;
  color: black !important;
  background: #DDD;
}

.item-info {
  .info {
    color: inherit;
    opacity: 0.6;
  }

  h1 {
    line-height: 25px;
    span.property {
      border-color: #CCC !important;
    }
  }
}

#search-result .item-info h1 { line-height: 20px; }

#searchform {
  input {
    margin-bottom: 0;
  }
}

#search_string_stats table.tickets {
  width: 100%;
}

#stats_summary_container, .stats_summary_container.frame, #detailed_stats_graph_container.frame {
  border-top: 0;
}

#stats_summary_container #stats_summary .sparkline_container .sparkline_title, #stats_summary_container .stats_summary .sparkline_container .sparkline_title, .stats_summary_container #stats_summary .sparkline_container .sparkline_title, .stats_summary_container .stats_summary .sparkline_container .sparkline_title {
  font-size: 13px;
}

.button.left, .button_disabled.left {
  float: none;
}

body.users-index #bulk_update, body.groups #bulk_update, body.organizations #bulk_update, body.search-index #bulk_update {
  border: 0;
  padding-right: 8px;
  margin-top: 2px !important;

  html[data-rtl-language='true'] & {
    padding-left: 8px;
    padding-right: 0;
  }

  .button, .button_disabled {
    padding: 4px 10px;
    margin-right: 4px !important;
    line-height: 18px;

    html[data-rtl-language='true'] & {
      margin-left: 4px !important;
      margin-right: 9px !important;
    }
  }
}

div.empty_twitter_configuration_msg {
  padding: 0;
}

.item.search-result-user:hover .user_actions .user_action.assume { display: none; }

#flash .close {
  float: none;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #196491;
  text-shadow: none;
  opacity: 1;
  filter: none;
}

body.views-edit, body.views-new {
  .form_field .sub_setting {
    border-top: none !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

body.settings, body.chat {
  #page div #container {
    #sidebar {
      display: none;
    }

    #contentwrapper #contentcolumn {
      padding-right: 20px;
    }
  }
}

/* TODO: Remove .settings-show and any other view-specific selectors,
and move above, next to LTR styling, once RTL enabled for all Classic views. */
body.settings-show {
  #page div #container {
    #contentwrapper #contentcolumn {
      html[data-rtl-language='true'] & {
        padding-left: 20px;
        padding-right: 0;
      }
    }
  }
}

body.email {
  .connect label {
    display: inline;
  }
}

.ui-widget.combobox-button {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 18px;
}

/* *********************** */
/* Disabled settings       */
/* *********************** */

#settings {
 .settings_reverse_comments {
   display: none;
  }
}

#subscription_settings .plan_types, .subscription_modal .plan_types {
  margin: 15px 0 0 0;
}

table.payments_table td {
  padding: 10px 2px;
}

// Mask status id in list view fields
body.views #viewform .sortablelist #sort_status {
  display: none;
}

#settings {
 .settings_hide_dashboard {
   display: none;
 }
}

/* *********************** */
/* Bootstrap based buttons */
/* *********************** */

.button, .buttonsubmit {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.button:hover, .button:active, .button.active, .button.disabled, .button[disabled],
.buttonsubmit:hover, .buttonsubmit:active, .buttonsubmit.active, .buttonsubmit.disabled, .buttonsubmit[disabled] {
  background-color: #e6e6e6;
}

.button:active, .button.active,
.buttonsubmit:active, .buttonsubmit.active {
  background-color: #cccccc;
}

.button:first-child,
.buttonsubmit:first-child {
  *margin-left: 0;
}

.button:hover,
.buttonsubmit:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.button:focus,
.buttonsubmit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button.active, .button:active,
.buttonsubmit.active, .buttonsubmit:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9;
  outline: 0;
}

.button.disabled, .button[disabled],
.buttonsubmit.disabled, .buttonsubmit[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.button.primary, .button.primary:hover
.button.save, .button.save:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

.button.primary.active, .button.save.active {
  color: rgba(255, 255, 255, 0.75);
}

.button.primary, .button.save {
  background-color: #404040;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF555555', endColorstr='#FF222222', GradientType=0);
  border-color: #222222 #222222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.button.primary:hover, .button.primary:active, .button.primary.active, .button.primary.disabled, .button.primary[disabled],
.button.save:hover, .button.save:active, .button.save.active, .button.save.disabled, .button.save[disabled] {
  background-color: #222222;
}

.button.primary:active, .button.primary.active,
.button.save:active, .button.save.active {
  background-color: #090909;
}

.button.primary, .button.save, .button_disabled.primary, .button_disabled.save {
  color: white;
  text-shadow: inherit;
}

.button_disabled.primary,
.button_disabled.save {
  color: silver;
}

.button.search, .button_disabled.search {
  line-height: 24px;
}

.actions, .action {
  min-width: 600px;
  max-width: 100%;
  margin-left: 0!important;

  .button, .buttonsubmit {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    *padding-top: 7px;
    *padding-bottom: 7px;
    &.primary, &.save {
      margin-left: 10px;

      html[data-rtl-language='true'] & {
        margin-left: 0;
        margin-right: 10px;
      }
    }
  }
}

.two_column > .action {
  min-width: 0;
}

#number_picker {
  #number_field {
    height: 28px;

    #area_code_field {
      height: 28px;
      margin-top: 1px;
    }

    #area_code {
      width: 60px;
    }

    #number {
      width: 116px;
      margin-top: 1px;
    }
  }

  .page_item .small {
    margin-top: 5px;
  }
}

/* *********************** */
/* Bootstrap based buttons end */
/* *********************** */

/* *********************** */
/* Agent Workspace toggle */
/* *********************** */

.agent-workspace-toggle_paragraph {
  padding-left: 2.5ch;
  color: #68737D !important;
}

.agent-workspace-toggle_link {
  padding-left: 2.5ch;
}

/* *********************** */
/* Agent Workspace migration callout */
/* *********************** */

.callout-migration {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.callout-migration .callout-migration__column {
  display: flex;
  justify-content: space-between;
}

.callout-migration .callout-migration__submit {
  padding-left: 50px;
  align-items: center;
  display: flex;
}

/* *********************** */
/* For embedding lotus */
/* *********************** */


#wrapper {
  #main_navigation, #branding_header, .pane.left.section, .ember-view.help_widget {
    display: none !important;
  }

  .pane.right.section {
    left: 0 !important;
    top: 0 !important;
    border-left: none;
  }

  .ember-view.modal.people_form.in.fr {
    box-shadow: rgba(47, 57, 65, 0.35) 0px 20px 28px 0px;
  }

  .modal-backdrop {
    background-color: white !important;
  }
}
