.content_module{
  padding: 15px;
  background-color: #F4F4F4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 20px;
  h2{
    color: #333;
    font: {
      size: 24px;
      weight: normal;
    }
    margin: 0 0 15px 0;
  }
  h3{
    font: {
      size: 18px;
      weight: normal;
    }
    margin: 0 0 10px 0;
  }
  .frame{
    margin-bottom: 10px;
  }
  .intro_text {
    margin: -10px 0 20px 0;
  }
}
