html[data-rtl-language='true'] form input {
  text-align: right;
  direction: rtl;
}

form.two_column {
  $two_column_form_first_column_width: 190px;
  $two_column_form_gutter: 30px;
/*  font-size: 12px;
  padding: 20px;*/

  .section {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 30px 20px 40px 20px;

    .field {
      clear: both;

      & > * {
        display: block;
        margin-left: $two_column_form_first_column_width + $two_column_form_gutter;
      }

      & > .subfield + .subfield   { margin-top: 15px; }

      .inline label, .inline input, .inline select { display: inline; }
      .inline input + label { margin-left: 5px; }
      .inline input + label + input { margin-left: 30px; }

      & > legend, & > .legend {
        float: left;
        font-size: 14px;
        font-weight: bold;
        margin-left: 0;
        white-space: normal;
        width: $two_column_form_first_column_width;
      }

      & + .field {
        margin-top: 30px;
      }
    }
  }

/*  label { font-weight: bold; }*/
  label.checkbox, label.radio { cursor: pointer; }

/*  input, select, textarea { font-size: 12px; }*/
  input.wide, textarea.wide { width: 470px; }

  .help {
    color: #777;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    width: 340px;

    & + .help { margin-top: 15px; }

/*    .textarea { width: auto; } */
  }

  .inline .help {
    display: block;
    padding-left: 20px;
  }

/*  footer {
    clear: both;
    display: block;
    margin-top: 10px;
    text-align: right;

    input.submit {
      background: #f4f4f4;
      border: 1px solid #ccc;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      cursor: pointer;
      padding: 5px 10px;
    }
  }*/
}

.indented_outline{
  border-left: 1px solid #BEBEBE;
  padding-left: 15px;
  clear: both;
  strong{
    font-size: 13px;
    color: #555;
  }
  ul{
    padding-left: 0px;
    color: #4C4C4C;
  }
}

.new_password {
  input, #validate_password, #validation_text {
    display: block;
  }
  input {
    float: left;
    margin-bottom: 10px;
    &.button {
      margin-left: 5px;
    }
  }
  #validate_password {
    margin-left: 140px;
  }
  #validation_text {
    clear: both;
  }
}

input.combobox, input.combobox-button { display: inline; }
input.combobox { border-right: 0; margin-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0; }
input.combobox-button { border-left: 0; color: #C3C3C3; margin-left: 0; cursor: pointer; border-top-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0; }
input.combobox:focus + input.combobox-button { outline: 0px auto; outline-left: 0; border-left: 0; }

.action .action-select,
.action #submit_type {
  height: 26px;
  margin-right: 5px;
}
