.highrise_widget {
  form#highrise-search-form {
    position:relative;
  }

  div#search-box {
    position:relative;
    float:left;
    margin-right:3px;
  }

  #highrise-lookup h3 {
    display: inline;
  }

  #highrise-lookup img {
    width: 28px;
    float: right;
  }

  #highrise-lookup #content {
    border-top: 1px solid #BDBDBD;
    margin-top: 5px;
  }

  #highrise-lookup #content ul.options {
    margin: 15px 0;
  }

  #highrise-lookup #highrise-display {
    border-bottom: 1px solid #CCC;
  }

  #highrise-lookup #highrise-display a {
    text-decoration: none;
  }

  #highrise-lookup #highrise-display .center {
    text-align: center;
  }

  #highrise-lookup #highrise-addnote-form {
    margin-bottom: 15px;
  }

  #highrise-lookup #highrise-search,
  #highrise-lookup #content #multi-match {
    padding: 10px 0;
  }

  #highrise-lookup #content #results ul.options,
  #highrise-lookup #content #multi-match ul.options {
    margin: 5px 0;
  }

  #highrise-lookup #highrise-search #highrise-search-form .button.wide {
    width: 100%;
    margin-top: 5px;
  }

  .form #highrise-search-box label {
    width: 100%;
    padding: 5px;
    margin: 1px;
    color: #aaa;
  }
  input#highrise-search-box-field {
    width:186px;
  }

  #sidebar .form label.overlabel, label.overlabel, #sidebar .form label.overlabel-apply, label.overlabel-apply  {
    color:#999;
    padding: 5px;
    font-size: 12px;
  }
  #sidebar .form label.overlabel-apply, label.overlabel-apply {
    position:absolute;
    z-index:1;
  }

  #highrise-addnote-form textarea {
    width: 186px;
    min-height: 7em;
    margin-bottom: 5px;
  }
}
