/* CSS to go with jQuery UI Tooltip Styles */
.ui-tooltip {
  color: #000;
  background: #F7F7F7;
  z-index: 100;
  border: 4px solid rgb(73, 73, 73);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 7px;
}

.ui-tooltip.audit {
  width: 520px;
}

.ui-tooltip.gmail_recipient_address {
  width: 300px;
  z-index: 10000;

  h3 {
    font-size: 13px;
    margin-bottom: 0.5em;
  }
}

.ui-tooltip.zd_comment {
  font: 11px Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 600px;
  color: #fff;
  padding: 0;

  .title {
    background: #777;
    font-weight: bold;
    padding: 5px;
  }

  .title .otherViewers {
    background-image: url('/classic/images/triangle_yellow_12.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: right;
    min-height: 12px;
    padding: 0 6px 0 14px;
  }

  .content {
    color: #666;
    padding: 0 5px 0 5px;
    word-wrap: break-word;
  }

  /* For latest comment */
  hr {
    background-color: #CCC;
    border-color: #CCC;
    color: #CCC;
    margin-top: 2em;
  }
  .latest_comment_header {
    background-color: #F7F7F7;
    color: #999;
    margin: -1.2em auto 0.9em auto;
    padding: 0;
    text-align: center;
    width: 40%;
    max-width: 50%;
    z-index: 20;
  }
  .content .latest_comment,
  .content .latest_comment p { color: #808080; }
}
