html {
  overflow: auto;
}

body {
  min-width: 750px;
}

h2, .box_bottom_clear, #zenbox_tab {
  display: none !important;
}

#notice, #error {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  padding: 10px 50px !important;
  line-height: 25px !important;
}

#flash div.alert {
  display: none !important;
}

#container, .tabs_content {
  padding-top: 0px !important;
}

#page, .tabs_content {
  border: none !important;
}

#account-settings {
  margin-bottom: 0px;
}

.form_element {
  padding: 8px !important;
}

.button {
  padding: 2px 25px !important;
}

body.email {
  .form_element, .intro_text {
    display: none;
  }

  .form_element.in_launchpad {
      display: block;
  }
}

body.portal {
  .form_element:nth-child(n+6),
  .form_element:nth-child(2),
  .form_element:nth-child(4),
  span {
    display: none;
  }
}

body.dropboxes {
  .form_element:nth-child(n+5),
  .tab_links,
  .two_column > p {
    display: none;
  }
}

body.dropboxes-preview #zenbox_tab {
    display: block !important;
}

body.chat {
  .content > p, #sidebar {
    display: none !important;
  }

  #contentcolumn {
    padding-right: 0px !important;
  }
}

body.settings {
  .intro_text, #sidebar {
    display: none !important;
  }

  #contentcolumn {
    padding-right: 0px !important;
  }

  #cboxOverlay {
    background-color: #fff;
  }

  #cboxClose {
    display: none !important;
  }

  #colorbox {
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    height: 500px !important;
  }

  #cboxWrapper {
    width: 100% !important;
    height: 500px !important;
  }

  #cboxContent {
    margin-top: 0px !important;
    width: 100% !important;
    height: 500px !important;
  }

  #cboxLoadedContent {
    width: 100% !important;
    height: 500px !important;
    padding: 0px;
    border-radius: 0px !important;
  }

  #number_picker {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 500px;

    h2 {
      display: block !important;
      margin: 0px;
    }

    #number_form {
      margin-top: 10px;
    }

    .number_picker_header {
      padding-bottom: 10px !important;
      margin-bottom: 10px;
    }

    #number_results form {
      margin-bottom: 0px;
    }

  }

  #finished, .tab_links {
    display: none !important;
  }
}

body.views, body.macros {
  .intro-text, #sidebar {
    display: none !important;
  }

  #contentcolumn {
    padding-right: 0px !important;
  }

  .tab_links + .tabs_content {
    border-top: 1px solid #EFEFEF !important;
  }

  div.tab-top-right.add-link {
    margin-top: 0px !important;
  }
}

body.users {
  .tab_links,
  .form_element:nth-of-type(1) .form_field:nth-of-type(2),
  .form_element:nth-of-type(2),
  .form_element:nth-of-type(5),
  .form_element:nth-of-type(6),
  #original_roles, #identities {
    display: none;
  }

  .tabbed_container {
    margin-top: 10px;
  }

  textarea {
    height: 35px;
  }

  #flash div a.title {
    color: #333;
    font-weight: normal;
    text-decoration: none;
    cursor: text;
  }
}

body.views-new,
body.views-create,
body.views-edit,
body.macros-new,
body.macros-create,
body.macros-edit {
  h2 {
    display: block !important;
    font-size: 18px;
    line-height: 25px;
  }

  h3 {
    font-size: 14px !important;
  }

  input.title {
    font-size: 16px !important;
    height: 18px !important;
  }

  .tabbed_container {
    display: none !important;
  }

  .frame.rule_conditions, .frame.rule_actions {
    border: none !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  #contentcolumn {
    padding: 15px;
  }
}
