@import "../mixins.css.scss";




#stats_summary_container, .stats_summary_container {
  background-color: #fff;
  padding: 0 10px 20px 10px;

  @include sub-section-header;

  #stats_summary, .stats_summary {
    margin-top: 10px;
    margin-left: 15px;

    .sparkline_container {
      float: left;
      margin-right: 10px;
      width: 18%;

      .sparkline_title {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 4px;
        padding-left: 8px;
        color: #555;

        .stat_total {
          font-weight: bold;
        }
      }

      .sparkline        { width: 110px; }
      .search_sparkline { width: 170px; }
      .sparkline, .search_sparkline {
        @include border-radius(6px);
        background-color: #f4f4f4;
        padding: 20px;
        text-align: center;
        margin-top: 2px;
        border: 1px solid #fff;

        .stat_total {
          margin-top: 16px;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .search_sparkline {
        padding: 20px 2px 20px 20px;
      }
      .sparkline.active, .search_sparkline.active {
        border: 1px solid #7ab7e1;
      }
      .sparkline:hover, .search_sparkline:hover {
        border: 1px solid #dfdfdf;
        cursor: pointer;
      }
      .sparkline.active:hover, .search_sparkline.active:hover {
        border: 1px solid #7ab7e1;
      }
    }
    .search_sparkline_container {
      margin-right: 0px;
      width: 24%;
    }
  }

  #detailed_stats_graph_container {
    margin-top: 5px;

    #detailed_stats_graph_title_section {
      padding: 20px 10px 10px 10px;
      margin-right: 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid #F0F0F0;
      color: #555;

      #detailed_stats_graph_title {
        font-size: 14px;

        .stat_total {
          font-weight: bold;
        }
      }
      #account_wide_total_section {
        color: #777;
      }
    }

    #detailed_stats_graph {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

}

#search_string_stats {
  padding-top: 0px;

  input[type="checkbox"] {
    margin-right: 5px;
  }

  #search_string_links {
    float: right;
    margin-top: 2px;
  }

  .search_string_total {
    float: right;
    margin-top: 10px;
  }

  @include sub-section-header;

  .stats_summary_header {
    border-bottom: 0;
    margin-bottom: 0;
    overflow: auto;
  }

  table.tickets {
    margin-top: 10px;
    table-layout: fixed;
    width: 899px;

    th {
      padding: 0;
    }

    th .title {
      text-align: left;
      padding: 7px 30px 7px 7px;
    }

    th.string, td.string { width: 176px; }
    th.searches, td.searches { width: 108px; }
    th.avg_results, td.avg_results { width: 136px; }
    th.ctr, td.ctr { width: 104px; }
    th.tickets, td.tickets { width: 129px; }
    th.top_entry, td.top_entry { width: 246px; }

    tbody td {
      text-align: right;
      padding-right: 70px;
    }

    td.string, td.top_entry {
      text-align: left;
    }
  }
}

#entries_list_title {
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 10px 10px 10px;

  h2 {
    font-size: 14px;
    font-weight: bold;
  }
  small {
    margin-left: 5px;
    color: #777;
    font-weight: normal;
  }
}

#add_comment {
  color: #555;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px 10px 10px;
  margin-left: -6px;
}

.analytics_container {
  padding-top: 10px;

  .frame {
    border: 0;
  }

  #stats_summary_container, .stats_summary_container {
    margin: 0;
    padding: 0 0 20px 0;
  }

  .upgrade {
    min-width: 899px;

    .box_content {
      @include border-radius(6px);
      background-color: #F6F6F6;
      border: 1px solid #E9E9E9;
      padding: 10px 15px;
      overflow: auto;
    }

    .button_div {
      float: right;
      padding-top: 7px;
    }

    .description {
      float: left;
    }

    .disabled_image {
      width: 899px;
    }

    .title {
      color: #81971F;
      font-size: 24px;
    }

    #i18n_forum_stats_example {
      position: relative;

      #top, #bottom {
        position: absolute;
        color: #5a7810;
        font-size: 1.1em;
        width: 250px;
        margin:1em 0 3em;
        background:#f6f6f6;

        /* css3 */
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
      }
      #top {
        top: 170px;
        left: 560px;
        padding:15px;
      }
      #bottom {
        top: 430px;
        left: 560px;
        padding:20px 10px 5px 25px;
      }
      #top:after, #bottom:after {
        content:"";
        display:block; /* reduce the damage in FF3.0 */
        position:absolute;
        width:0;
        border-style:solid;
      }
      #top:after {
        top:-15px;
        right:130px;
        bottom: auto; left:auto;
        border-width:0 15px 15px;
        border-color:#f6f6f6 transparent;
      }
      #bottom:after {
        top:15px;
        left:-30px;
        bottom: auto;
        border-width:10px 50px 10px 0;
        border-color:transparent #f6f6f6;
      }
    }

    #i18n_voice_stats_example {
      position: relative;

      #top, #bottom {
        position: absolute;
        color: #81971f;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        width: 250px;
        margin:1em 0 3em;
        background:#d6d6d6;

        /* css3 */
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
      }
      #top {
        top: 40px;
        left: 600px;
        width: 220px;
        padding:15px 0 15px 30px;
      }
      #bottom {
        top: 230px;
        left: 180px;
        padding:15px 15px 15px 20px;
      }
      #top:after, #bottom:after {
        content:"";
        display:block; /* reduce the damage in FF3.0 */
        position:absolute;
        width:0;
        border-style:solid;
      }
      #top:after {
        top:20px;
        left:-40px;
        bottom:auto;
        width:0;
        border-width:10px 50px 10px 0;
        border-color:transparent #d6d6d6 ;
      }
      #bottom:after {
        bottom: -15px;
        left: 125px;
        width:0;
        border-width:15px 15px 0;
        border-color:#d6d6d6 transparent;
      }
    }
  }
}

.reporting_export {
  .about {
    border: none;
  }

  .export_list {
    padding-top: 17px;
  }

  .gooddata {
    text-align: center;
  }
}

.reporting_overview {
  .advanced {
    margin-top: 60px;
    padding-top: 7px;

    .images {
      margin: 0 auto;
      overflow: auto;
      width: 665px;

      .left_image {
        float: left;
        position: relative;
        width: 300px;

        #i18n_img_benchmark {
          a {
            text-decoration: none;

            img.benchmark {
              width: 300px;
              height: 109px;
            }
            h3 {
              position: absolute;
              right: 8px;
              top: 0px;
              font-size: 10pt;
              color: #78a300;
            }
            p {
              position: absolute;
              right: -8px;
              top: 35px;
              width: 120px;
              font-size: 9pt;
              word-wrap: break-word;
            }
          }
        }
      }

      .right_image {
        float: right;
        width: 335px;
        position: relative;

        #i18n_img_analytics {
          a {
            text-decoration: none;

            img.gooddata {
              width: 335px;
              height: 109px;
            }
            h3 {
              position: absolute;
              right: 8px;
              top: 0px;
              font-size: 10pt;
              color: #78a300;
            }
            p {
              position: absolute;
              right: -8px;
              top: 35px;
              width: 120px;
              font-size: 9pt;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }

  .forum_stats {
    margin-top: 20px;
  }

  .intro {
    margin: 15px 0 30px 0;
  }

  .stats_summary_container {
    padding: 0;
  }
}
