.tabbed_container, .sammy_tabbed_container {
/*  &.narrow {
    margin: 9px 20px 10px 0px;
  }*/
  margin: 10px 8px 10px -12px;
  .tab_links {
    margin-bottom: -1px;
    a {
      border: 1px solid transparent;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      font-weight: bold;
      position: relative;
      display: block;
      float: left;
      padding: 10px 15px;
      border-bottom: 0px;
      background: none;
      margin-right: 2px;
      &:hover{
        background-color: #EFEFEF;
        text-decoration: none;
      }
      &.current{
        background-color: #FFF;
        border-color:#EFEFEF;
        color: #333;
        cursor: default;
        &:hover{
          text-decoration: none;

        }
      }
    }
  }
  .frame {
    margin: 0;
  }
  .tabs_content{
    padding: 5px 15px 20px;
    margin-bottom: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 5px;

    z-index: 0;
    background-color: #fff;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    .tabs_canvas > div.default_tab {
      display: block;
    }
    .tabs_canvas > div{
      display: none;
    }

    p {
      &.intro_text {
        margin: 10px 15px 15px 0;
        width: 90%;

        html[data-rtl-language='true'] & {
          margin: 10px 0 15px 15px;
        }
      }
    }
  }

  .tabs_content.inactive {
    border: 1px dotted #D5D5D5;
  }

  /*No JS fallback*/
  > *:visible + *:visible {
    margin-top: 1em;
  }
}

body.user_admission .tabbed_container .tabs_content .tabs_canvas > div {
  display: block;
}

.tabs_canvas .frame {
  margin-left: 0px;
  border-width: 1px;
}
