table.table2 {
  border-collapse: collapse;
  padding-bottom: 12px;
  width: 100%;

  th, td {
    padding: 12px;
    text-align: center;
    &.links a { visibility: hidden; }
    &:first-child, &.first { padding-left: 0;  text-align: left; }
    &:last-child,  &.last  { padding-right: 0; text-align: right; }
  }

  tr:hover .links a { visibility: visible; }

  .links a, .edit_this { font-weight: bold; }

  thead tr + tr, tbody tr, tfoot tr {
    th, td { border-top: 1px solid #F0F0F0; }
  }

  tbody tr:last-child, tbody tr.nobottom {
    th, td { padding-bottom: 0; }
  }
}


