.faded_truncation{
  position: absolute;
  display: block;
  width: 25px;
  right: 0;
  top: 0;
  background: url("/classic/images/fade_bar.png") repeat-y scroll right center transparent;
}

#top-menu ul#green.agent-tabs li.tab_forums:hover{
  padding-left: 4px;
}
#top-menu ul#green.agent-tabs li.active.tab_forums:hover{
  padding-left: 0px;
  border-color: #fff;
}

ul#gray li.main:first-child{
  background-image: none;
}

.spinner {
  &.small {
    background: white url('/classic/images/indicator2.gif') no-repeat 0 0;
    display: inline-block;
    width: 16px;
    height: 16px;
  }
}


