.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* IE Mac Hide \*/
.clearfix {
  display: block;
}

/* ----------- Shared css for zendesk and zensite --------------- */

/* Definition lists */

dt {font-weight: bold;}
dd {margin: 0px 0px 10px 10px;}

label.help { cursor: help; }

/* Flash box */


#flash div {

  $radius: 5px;
  $transition: background-color 0.5s linear;

  border: 1px transparent solid;
  color: #333;
  padding: 15px 12px 15px 44px;
  margin: -5px 0 9px 0;
  font-size: 14px;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  transition: $transition;
  -webkit-transition: $transition;

  html[data-rtl-language='true'] & {
    padding: 15px 44px 15px 12px;
    text-align: right;
  }

  a {
    font-weight: bold;
    text-decoration: underline;

    &.title {
      color: #1A6690;
    }
  }

  & > ul {
    padding: 4px 0;
    margin-left: 10px;
    font-size: 12px;

    html[data-rtl-language='true'] & {
      margin-left: 0;
      margin-right: 10px;
      direction: rtl;
    }

    & > li {
      padding: 0;
      font-weight: normal;
      margin: 5px 0 3px 20px;
      color: #555;

      &.more {
        list-style: none;
      }
    }
  }

  span {
    &.attention {
      padding: 2px 3px 1px 3px;
      background-color: #404040;
      color: #fff;

      &.loud {
        background-color: #B65151;
      }
    }

    &.preamble {
      font-weight: bold;
    }
  }

  &.alert {
    border-color: #FFE76F;
    background: #FFF6C6 url(/classic/images/warning_15x15.png) no-repeat 10px 10px;
    font-size: 13px;
    padding: 10px 0 10px 35px;

    a {
      font-weight: normal;
    }
    .facebook_authorization_failure_reason {
      font-style: italic;
    }
  }

  &#beware {
    border-color: #fad92c;
    background: url(/classic/images/warning.png) no-repeat 12px 11px;

    html[data-rtl-language='true'] & {
      background-position: top 12px right 11px;
    }
  }

  &#error {
    border-color: #CF1A1A;
    background: url(/classic/images/error.png) no-repeat 12px 11px;

    html[data-rtl-language='true'] & {
      background-position: top 12px right 11px;
    }
  }

  &#notice {
    border-color: #f0f0f0;
    background: url(/classic/images/green_tick.png) no-repeat 12px 11px;

    html[data-rtl-language='true'] & {
      background-position: top 12px right 11px;
    }

    &.processing {
      background: #FFFDDA url(/classic/images/loader.gif) no-repeat 12px 14px;

      html[data-rtl-language='true'] & {
        background-position: top 12px right 14px;
      }
    }
  }

  .footer {
    margin-top: 6px;
    font-size: 12px;
    display: block;
    color: #999;
    a {
      text-decoration: none;
      font-weight: normal;
    }
  }
}

.content-top-right span.add, .content-top-right a.add, .tab-top-right a.add {
  background:transparent url(/classic/images/composite.gif) no-repeat scroll 0 -63px;
  padding: 0 0 0 15px;
  border:medium none !important;
  line-height:100%;
  border-bottom: 0;
  font-size: 12px;
}

.tab-top-right a.add {
  html[data-rtl-language='true'] & {
    padding: 0 15px 0 0;
  }
}

.content-top-right .rss {
  background:transparent url(/classic/images/composite.gif) no-repeat scroll 0px -49px;
  border:medium none !important;
  padding-left: 13px;
}
.content-top-right .subscribe {
  background: url(/classic/images/email.png) no-repeat 0;
  padding-left: 19px;
}

.hide {
  display:none;
}

.show {
  display:block;
}

#banners {
  font-size: 1.6em;
  position: fixed;
  left: 0;
  right: 0;
  text-align:center;
  z-index: 10000;

  & > li {
    background: #fffade url('/classic/images/banner_background.gif') repeat-x scroll left bottom;
    height: 22px;
    display: block;
    padding: 0.75em 0 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #7a7a7a;
    border-width: 0 0 1px 0;

    &.urgent {
      background: #ffbfc2 url('/classic/images/banner_urgent_background.gif') repeat-x scroll left bottom;
    }

    & > .reload {
      display: none;
    }
  }

}

iframe {
  border: none;
}

/*
 Custom styling for jQuery.floating_menu() widget
 this floating menu should float to the right of the container
*/
.floating_menu_ui {
  max_width: 275px;
  float: right;
  background: white;
  border: 2px solid #666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-top: 10px;
  margin-right: 3px;
  margin-top: -12px;

  .floating_menu_action {
    font-weight: bold;
    color: #1A6690;
    float: right;
    background: url("/classic/images/composite.gif") no-repeat scroll 0 -318px transparent;
    padding-left: 12px;
    cursor: default;
    margin: 0 12px;
  }

  ul.floating_menu {
    visibility: visible;
    list-style: none;
    padding: 5px 10px;
    text-align: left;
    clear: right;

    li {
      border-top: 1px #E5E5E5 solid;
      color: #1A6690;
      cursor: pointer;
      margin: 0;
      padding: 3px 6px;
      font-weight: normal;

      &:first-child {
        border-top: none;
      }

      &:hover {
        background-color:#F5F5F5;
      }

      a {
        display: block;
        text-decoration: none;

        &.alert,
        &.alert:hover {
          color: #B65151;
        }

        &:hover {
          color: #1A6690;
          text-decoration: none;
        }
      }
    }
  }
  &.inactive {
    background-color: transparent;
    border-color: transparent;

    ul.floating_menu {
      visibility: hidden;
      display: none;
    }
  }

}

.notice--eol {
  background-color: #FFFDE1;
  border: solid 2px #BF3026;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #333;
  line-height: 16px;
  padding: 15px 15px 15px 45px;
}

.notice--eol__icon {
  left: 55px;
  position: absolute;
}

.notice--warning {
  background: #FFFDE1 url(/classic/images/warning_icon.png) 15px 11px no-repeat;
  border: solid 2px darken(#FFFDE1, 8%);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #333;
  line-height: 16px;
  padding: 15px 15px 15px 45px;
}

.link-out-svg {
  color: #1A6690;
  display: inline-block;
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;

  html[data-rtl-language='true'] & {
    transform: rotate(-90deg);
  }
}

.link-admin-centre {
  margin-left: 4px;

  html[data-rtl-language='true'] & {
    direction: rtl;
  }
}

.rtl {
  html[data-rtl-language='true'] & {
    direction: rtl;
    text-align: right;
  }
}

#sub_setting_update_records {
  margin-left: 50px;

  html[data-rtl-language='true'] & {
    margin-left: 0;
    margin-right: 50px;
  }
}
