/* ----------- Zendesk css for agents/admin  --------------- */

/*
Macros (Quick cases)
 */

._macro_list {
  .drop-list {
    li {
      margin-right: 5px;
    }
  }

  label {
    font-size: 12px;
  }

  select {
    margin: 3px 0 0 0;
  }

  float: right;
  position: relative;
  top: 10px;

  .tickets-new &,
  #bulk-update & {
    margin-right: 16px;
  }
}

/*
Top right "next" link on tickets
 */

#next_ticket {
  p {
    color: #aaa;
  }
  float: right;
  position: relative;
  top: 5px;
}

/*
After updates
 */

#after-updates { margin: 8px 0 5px 10px; float: left; }
#after-updates label { float: left; margin: 2px 5px 0 0; }
#after-updates select { font-size: 11px; }

.tabs_content h4 {
  padding-bottom: 12px;
  color: #444;

  &:hover {
    color: #444;
  }
}

/*
Sortable rules lists
 */

ul.sortablelist {
  padding-left:0;
  list-style-image:  none;
  list-style-type:  none;
}

.content {
  ul, ol {
    li.sortable {
      background-color: #F8F8F8;
      border: 1px dashed #D9D9D9;
      margin: 6px 0;
      padding: 4px 7px;
      cursor: move;

      /* Ensures that margins also apply in RTL */
      html[data-rtl-language='true'] & {
        margin: 6px 0;
      }

      &.target {
        background: transparent;
        border-color: #7FA239;
        min-height: 1em;
      }

      &.emptyTarget {
        color: #909090;
        font-style: italic;
        text-align: center;
      }
    }

    li.sortable_selected {
      background-color: #FAFAFA;
      border: 1px dashed #D9D9D9;
      margin: 6px 0;
      padding: 4px 7px;
      cursor: move;
    }
  }
}

/*
Placeholder lists
 */

.placeholder-list{
  margin: 5px 0 5px 0;
  background: #F6F6F6;
  padding: 0px 8px 8px 8px;
  border: 1px black solid;
  width: 550px;
}

.placeholder-list h2{
  margin-left:0;
}

.placeholder-list h3{
  margin-top:5px;
  padding-left:0;
  font-weight:bold;
  color:#888;
}

.placeholder-list .placeholder-description{
  margin:5px 0 5px 0;
}

.placeholder-list dt{
  margin: 20px 0 5px 0;
}

#flash a.bulk_failure {
  font-weight: normal;
}

.indented_option { margin-left:25px; margin-bottom:20px; padding-left: 15px; border-left: 1px solid #aaa;}
.indented_option .indented_option {border-left: 1px dotted #c5c5c5;}
.indented_option h4 { margin-top: 22px; color: #555;}
.indented_option h3 { margin-top: 20px; color: #444; font-weight: normal;}

div.description-for-new-ticket {margin-top: 15px;padding:20px 0 10px 10px; clear:left;}
/*
Collaborators list
 */

ul.holder { margin: 0; border: 1px solid #C3C3C3; overflow: hidden; height: auto !important; height: 1%; padding: 4px 5px 0; }
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.holder li { float: left; list-style-type: none; margin: 0 5px 4px 0; }
ul.holder li.bit-box, ul.holder li.bit-input input { font: 11px "Lucida Grande", "Verdana"; }
ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-input input { width: 150px; margin: 0; border: none; outline: 0; padding: 3px 0 2px; } /* no left/right padding here please */
ul.holder li.bit-input input.smallinput { width: 20px; }

form ol { margin: 0; padding: 0; }
/*form ol { font: 11px "Lucida Grande", "Verdana"; margin: 0; padding: 0; }*/
form ol li.input-text { margin-bottom: 5px; list-style-type: none;  }
/*form ol li.input-text input { width: 500px; padding: 5px 5px 6px; font: 11px "Lucida Grande", "Verdana"; border: 1px solid #999; }*/
form ol li.input-text input { width: 500px; padding: 5px 5px 6px; border: 1px solid #C3C3C3; }
form ol li.input-text ul.multi_value_field li input, ul.multi_value_field li input { padding: 3px 5px 4px; border: 0; margin: 0; }
form ul.holder { width: 400px; background: #FBFBFB; }
#facebook-list ul.holder li.bit-box, #apple-list ul.holder li.bit-box { padding-right: 15px; position: relative; }
/*
#apple-list ul.holder li.bit-input { margin: 0; }
#apple-list ul.holder li.bit-input input.smallinput { width: 5px; }*/
ul.holder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-box a.closebutton { position: absolute; right: 4px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url(/classic/images/close.gif); }
ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }

.maininput{display:block;}
li.bit-input{display:block; width:30px;}

a.requester_link { display:block; padding-top:3px; clear:left;}

input.reportLegend {
  margin-left: 12px;
  font-size: 14px;
  width: 350px;
  color: #333;
}

span.reportStateLabel {
  width: 200px;
  padding-right: 10px;
}

.ticket_fields #optionsContainer fieldset.conditions {
  label {
    display: inline-block;
    min-width: 90px;
    margin-right:10px;
  }

  input.customFieldValue {
    width: 280px;
  }
}


div#widget_manager_widget h3 {padding:10px 0 5px 0; font-size: 1.4em; }
div#widget_manager_widget ul {padding-top: 3px;}
/*div#widget_manager_widget ul li {list-style-type: disc;background:none;}*/

div#people-browse {font-size:14px; margin-top:5px; color:#555;}

div.translation textarea, .content .frame div.translation textarea, div.translation input {
  width: 96.5%;
}

div.translation div.parent_value {
  margin:3px 10px 0 0; color:#666;
}

div.translation .error {
  background: #FFC3C3;
}

div.translation table.array td.parent_value {
  text-indent: 0px;
  padding-right: 10px;
  min-width: 70px;
}

span.incomplete {
  background: #C33232;
  color: white;
  font-weight: normal;
  font-size: 11px;
}

span.rule-owner-selector { margin-left: 30px; }

.tabbed_container .inactive .item .title { color: #AAA; font-weight: normal;}
.tabbed_container .inactive .item .title a { color: #AAA; }

.tabs_content .item-info {
  padding-left: 8px;

  /* TODO: Remove .settings-show and any other view-specific selectors,
  once RTL enabled for all Classic views. */
  .settings-show &, .analysis-show & {
    html[data-rtl-language='true'] & {
      padding-left: 0;
      padding-right: 8px;
    }
  }
}

span.tags {
  font-size: 12px;
}

span.property {
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  border-radius: 3px; -moz-border-radius: 3px; webkit-border-radius: 3px;
  border: 1px solid #EEE;
  font-weight: normal;
  background: #EEE;
  color: #A0A0A0;
}

.crm-record span.property {
  line-height: 25px;
  margin-left: 5px;
}

h2 span.property, h3 span.property  {
  position: relative;
  padding: 2px 4px;
}

h3 span.property  {
  top: -2px;
}

h2 span.property {
  top: -3px;
}

div.side-box-content span.property  {
  line-height: 21px;
}

div.side-box-content li span.property  {
  top: 1px !important;
}

.item-info h1 span.property {
  position: relative;
  top: -1px;
  color: #AAA;
}

span.tag.property {
  background: white;
  color: #909090;
  border-color: #EDEDED !important;
}

span.suspended.property {
  background: #B63333;
  border-color: #B63333 !important;
  color: #fff !important;
}

span.tag.property.more {
  color: #C0C0C0;
  border-style: dotted;
  font-style: italic;
}

.form_field .item-info {
  padding-left: 0;
}

div.side-box-content div.add-link a {
  display: block;
  text-align: right;
}

/* trial upgrade */
#trial-upgrade input[type="submit"] { font-size: 16px; }
#trial-upgrade { width: 100%; margin: 20px 0 0 0; }
#trial-upgrade h3 { text-align: left; font-weight: normal; margin: 0 0 15px 50px !important; }

#trial-upgrade td               { vertical-align: top; }
#trial-upgrade td#plan-details  { min-width: 250px; }
#trial-upgrade td#plan-details #plan-detail-floater {
  border: solid 3px rgb(164, 209, 219);
  background-color: #FFF;
  padding: 10px;
  //margin: 0 30px;
  min-width: 194px;
  max-width: 400px;
  width: 370px;
  margin-bottom: 15px;
  border-radius: 10px;
  moz-border-radius: 10px;
  webkit-border-radius: 10px;
}

#migration-notice  { width: 490px; font-size: 14px; }

td#credit-card-entry { width: 350px; padding: 0 10px 0 0; }
td#credit-card-entry .credit-card-table { width: 100%;  }
td#credit-card-entry .credit-card-table th { width: 33%; color: #555; font-weight: bold; }
td#credit-card-entry .credit-card-table .terms { text-align: right; float: right; color: #777; font-size: 0.9em; padding: 15px 0 10px 0;}
.credit-card-table #cvv, .credit-card-table #zip { width: 75px; }
.credit-card-table input[type="text"] { width: 97%; }
.credit-card-table .credit-card-submit { vertical-align: middle; text-align: right; padding: 0px; margin: 10px 0; }
.credit-card-table .credit-card-submit input { margin: 10px 0; }
.credit-card-table .card-prevalidation-error { text-align: center; border: solid 1px #F22; background-color: #FAA; padding: 5px; margin: 0 20px; font-weight: bold;}
.credit-card-table .credit-card-amount { color: #777; font-size: 11px; text-align: right; }

td#credit-card-entry td.credit-card-terms {
  text-align: left;
  padding: 10px 0 0 0;
}

td#credit-card-entry td.credit-card-terms input {
  text-align: left;
}

td#credit-card-entry td.credit-card-terms label {
  color: #777;
  font-size: 11px;
}

#trial-upgrade td#plan-details h4 {
  float: left !important;
  color: #444444;
  font-size: 1.2em;
  font-weight: normal;
  margin: 8px 0 0 0;
}

#trial-upgrade table#subscription-plan-variables {
  border-spacing: 0;
  color:#777;
  font-weight: bold;
  width: 100%;

  tbody tr:last-child > *  { border-bottom: 1px solid #ddd; padding-bottom: 12px; }
  tfoot tr:first-child > * { border-top:    1px solid #ccc; }

  /*This selector should be * + * (or '*:not(:first-child)' ), but see ZD:124956 */
  tr {
    & > td, & > td {
      & + td, & + th { text-align: right; }
    }
  }

  td, th { padding: 3px 0; vertical-align: top; }
  td { font-size: 22px; }
  th { font-size: 14px; padding-top: 7px; }

  #billing-cycle-total { font-size: 28px; font-weight: bold; }
  .info  { color: #AAA; font-size: 12px; }
  #billing-cycle-price { font-weight:bold; font-size:28px; color:#7fa239; }
}



div.side-box-content ul.actions li { margin: 12px 0; padding-top: 10px; border-top:1px solid #F0F0F0; clear:right; }

input[disabled] + label[for="forum_is_locked_false"] { color: #CCC !important; }

table.tickets col.description {
  min-width: 100px;
}

table.tickets td.beingViewed {
  background-image: url('/classic/images/triangle_yellow_8.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

table.tickets tr td:first-child .score_1,
table.tickets tr td:first-child .score_2,
table.tickets tr td:first-child .score_3,
table.tickets tr td:first-child .score_4 {
  margin-left: 5px;
}

div#ticket_custom_fields div#select_more {
  border-left: 1px solid #DDD;
  min-height: 26px;
  padding: 11px 0 0 10px;
  margin: 16px 10px 0 11px;
}

span.badge {
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  webkit-border-radius: 3px;
  font-weight: normal;
  background: #bbb;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  margin-left: 10px;

  /* TODO: Remove .settings-show and any other view-specific selectors,
  once RTL enabled for all Classic views. */
  .settings-show &, .extensions-show & {
    html[data-rtl-language='true'] & {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

div.notification_message {
  position: relative;
  padding: 15px;
  margin-bottom: 18px;
  color: #404040;
  background-color: #DDF4FB;
  border-color: #C6EDF9;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  margin: 10px 35px 0 0;

  a {
    font-weight: bold;
  }
}

#account_time_zone{
  width: 280px !important;
}
#account_locale_id{
  width: 380px !important;
}
#address_country_id{
  width: 310px !important;
}

#recipientTextField{
  width: 250px;
}
