@import "../mixins.css.scss";

h3.zuora.credit-card-entry {
  padding: 10px;
  font-size: 11pt;
  font-weight: bolder;
  width: 465px;
}

.zuora.credit-card-entry.errors {
  margin: 5px 10px;
  font-size: 10pt;
  padding: 10px;
  border-radius: 10px;
  moz-border-radius: 10px;
  webkit-border-radius: 10px;
  width: 455px;
  border: 1px solid #eed3d7;
  color: #b94a48;
  background: #f2dede;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

  .close {
    float: right;
    font-weight: 400;
    font-size: 24pt;
    opacity: 0.2;
    line-height: 0px;
    cursor: pointer;
    color: #000;
  }

  .close:hover {
    opacity: 0.4;
  }

  p {
    margin-bottom: 10px;
  }

  h3 {
    color: #b94a48;
    background: #f2dede;
    font-weight: bolder;
    font-size: 11pt;
    padding: 0 0 5px 0;
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
    margin-bottom: 10px;
  }
}

#zuora-upgrade-from-trial {
  padding: 25px;

  iframe#zendesk_iframe {
    width: 100%;
    height: 600px;
  }
}

#sidebar {
  #zuora-subscription-pricing {
    @include rounded-corners(3px);
    border: solid 3px #A4D1DB;
    background-color: #FFFFFF;
    padding: 10px;

    .info {
      color: #AAA;
      font-size: 12px;
    }
    #billing-cycle-total { color: #333; font-size: 18px; font-weight: bold; }
    #billing-cycle-price { font-weight:bold; font-size:28px; color:#7fa239; }
    td { text-align: right; color: #777; }
  }
}
