@import "../mixins.css.scss";
html {
  overflow-y: scroll;
  height:100%;
}
/* ----------- Shared css for zendesk end-users and agents/admin --------------- */

$small-size: 12px;
.tagcloud .tag-wrapper a, .tagcloud .tag-wrapper span {
  font-size: $small-size
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}
a:focus {
  outline: none;
}
*::-moz-focus-inner, *:focus::-moz-focus-inner {
  border: none;
}

body {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  padding: 0 8px;
  color: #333;
  min-width: 982px;
  height: 100%;
}

a {
  text-decoration: none;
}
a {
  color: #1A6690;
  cursor: pointer;
}
.content a {
  color: #1A6690;
}

a:hover, a:focus, div.column li a:hover, div.column li a:focus {
  color: #333;
  text-decoration: underline;
}
a.emphasized {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.1em;
}
a img {
  border: none;
}
fieldset {
  border: none;
}
fieldset.radio-form {
  position: relative;
}

h1, h2 {
  color: #555;
}

h3, h4, h5 {
  color: #333;
}

textarea {
  padding: 5px;
}

input {
  padding: 5px;
}

button {
  padding: 5px 10px;
}

div.clear {
  clear: both;
  line-height: 0;
  height: 0;
  display: block;
}

div.clearboth {
  clear: both;
  padding: 2px
}

select.highlight, input.highlight, span.highlight,
p.highlight, div.highlight {
  background: #FFF1A9;
}

input[disabled='disabled'] {
  color: #999;
}

select {
  padding: 2px 0 2px 0;
  height: 25px;
}
span.highlight {
  padding: 0 2px;
}
select option {
  padding-left: 5px;
  padding-right: 5px;
}
input[type=email], input[type=text], input[type=password], select, textarea, .multi_value_field,
input.combobox-button {
  border: 1px solid #C3C3C3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #FBFBFB;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  color: #333;
  outline: medium none;
}

input.large {
  width: 400px;
}
.content input.title {
  width: 95%;
  font-size: 20px;
}

#ticketform input, #ticketform textarea{
  font-size: 14px;
  width: 100%;
}

#ticketform input[type=checkbox] {
  width: auto;
}

.frame input.title {
  width: 100%;
  font-size: 18px;
}

textarea {
  overflow: auto;
  font: {
    family: Arial, Helvetica, sans-serif;
  }

  &.medium {
    width: 200px;
    height: 60px;
    font-size: 11px;
  }

  &.large {
    height: 150px;
    width: 400px;
  }
}

input[type=text]:focus, input[type=password]:focus,
input.combobox:focus + input.combobox-button {
  background: url(/classic/images/text_focus2.gif) repeat-x;
}

input[type=text].maininput:focus {
  background: none;
}
/*textarea:focus {
  background: #FFF url(/classic/images/text_focus.gif) repeat-x;
}
*/
div.br {
  clear: left;
  height: 0px;
}

#page {
  margin: 0pt auto;
  max-width: 1205px;
  text-align: left;
  padding: 0 15px 5px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background: #fff none repeat scroll 0%;
  min-height: 400px;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .users-index &, .import-index &, .groups-index &, .organizations-index &, .bulk_delete-index &, .roles-new &, .roles-index &, .tags-index &, .analysis-index &, .analysis-show &, .groups-edit &, .settings-show &, .monitored_twitter_handles &, .account-show &, .extensions-show &, .targets-new &, .targets-edit &, .targets-select_target_to_add & {
    html[data-rtl-language='true'] & {
      text-align: right;
    }
  }
}

/* search boxes */
#top #topquery {
  float: right;
  height: 18px;
  width: 232px;
  padding: 4px 8px 0 18px;
}
#top form#topquery input#searchinput {
  font-size: 90%;
  color: #333;
  padding: 0px 0px 0px 25px;
  background: url("/classic/images/searchinput.gif") no-repeat scroll -205px #FFFFFF;
  border: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width: 210px;
  height: 18px;
}

#query, #suggestions_query, #q {
  background: url("/classic/images/searchinput.gif") no-repeat scroll -205px 4px #FFFFFF;
  padding-left: 30px;
  vertical-align: middle;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .users-index &, .groups-index &, .organizations-index &, .roles-index &, .tags-index & {
    html[data-rtl-language='true'] & {
      padding-left: 4px;
      padding-right: 30px;
    }
  }
}

#sidebar .widget #query {
  height: 15px;
  margin-top: 5px;
  width: 159px;
}

.content #query, .content #suggestions_query, .content #q {
  background-position: -205px 50%;
  width: 500px;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .users-index &, .groups-index &, .organizations-index &, .roles-index &, .tags-index & {
    html[data-rtl-language='true'] & {
      background-position: 300px 50%;
    }
  }
}

.content #searchform {

  #icon {
    position: relative;
    width: 16px;
    height: 16px;

    cursor: pointer;
    vertical-align: middle;
    display: inline-block;

    &.clear_icon {
      background: url("/classic/images/icon_clear_sprite.png") transparent 0px 0px no-repeat;
      &:hover {
        background: url("/classic/images/icon_clear_sprite.png") transparent -22px -22px no-repeat;
      }
    }

    &.loading_icon {
      background: url("/classic/images/loader.gif") transparent 0px 0px no-repeat;
    }

  }


  div.search_scope_selector {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    line-height: 33px;
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
    border-left: 1px dotted #C3C3C3;
    cursor: pointer;
    font-size: 18px;

    .arrow {
      color: #AAA;
      position: absolute;
      right: 0px;
    }

    &.selected, .selected {
      background: #f5f5f5 none repeat scroll 0%;
    }

    .dropdown {
      list-style: none;
      white-space: nowrap;
      background: #FFFFFF;
      padding: 0;
      outline: 1px solid #C3C3C3;
      position: absolute;
      font-size: 14px;

      li {
        color: #333;
        text-align: left;
        padding-left: 11px;
        margin: -3px 0px -3px 0px;
      }

    }

  }
}

/* search boxes end */

/* ------ content -------------------------------- */
div#container {
  padding: 16px 0 0 0;
}

div#container .content {
  margin-top: 0;
  margin-right: 0 !important;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0 0 0 20px;
  font-size: 12px;
  overflow: none;

  html[data-rtl-language='true'] & {
    padding: 0 20px 0 0;
  }

  .analysis & {
    font-size: 14px;
  }
}

div#contentwrapper {
  float: left;
  width: 100%
}

/* TODO: Remove .user-index and other view-specific selectors,
once RTL enabled for all Classic views. */
.users-index, .import-index, .groups-index, .organizations-index, .bulk_delete-index, .roles-new, .roles-index, .tags-index, .analysis-index, .analysis-show, .groups-edit, .settings-show, .monitored_twitter_handles, .account-show, .extensions-show, .targets-new, .targets-edit, .targets-select_target_to_add {
  html[data-rtl-language='true'] & {
    direction: rtl;
  }

  div#contentwrapper {
    html[data-rtl-language='true'] & {
      float: right;
    }
  }
}

html[data-rtl-language='true'] {
  .targets-new {
    .radio {
      padding-left: 0;
      padding-right: 18px;

      input[type="radio"] {
        margin-left: 0;
        margin-right: -18px;
      }
    }
  }
}

.bulk_delete-index {
  #cboxContent {
    form {
      html[data-rtl-language='true'] & {
        text-align: left;
      }
    }
  }
}

.bulk_delete-index, .targets-new, .email {
  #cboxClose {
    html[data-rtl-language='true'] & {
      left: 15px;
      right: auto;
    }
  }
}

div#contentcolumn {
  margin-right: 258px;
}

label.option { margin: 0 20px 0 0; }


.content {
  input.radio {
    top: 1px;
    margin: 0;
  }

  // the unspecific ul selector was messing up the multiselect dropdown
  // component, so the multiselect dropdown's internal list holder class is
  // being excluded with :not(.zd-menu-list-holder)
  ul:not(.zd-menu-list-holder) {
    padding: 0 0 0 35px;

    html[data-rtl-language='true'] & {
      padding: 0 35px 0 0;
      margin: 0 25px 9px 0;
    }

    li {
      padding: 0;
      margin: 5px 11px 5px 0;
      color: #666;

      html[data-rtl-language='true'] & {
        margin: 5px 0 5px 11px;
      }
    }

    &.options {
      list-style: none;
      padding-left: 20px;
    }
  }

  p {
    margin: 12px 20px 11px 0;
    color: #333;
    line-height: 15px;

    /* TODO: Remove .user-index and other view-specific selectors,
    once RTL enabled for all Classic views. */
    .users-index &, .import-index &, .groups-index &, .organizations-index &, .bulk_delete-index &, .roles-index &, .tags-index &, .analysis-index &, .analysis-show &, .settings-show &, .extensions-show &, .targets-new & {
      html[data-rtl-language='true'] & {
        margin-right: 0;
        text-align: right;
      }
    }

    &.sub {
      font-size: 0.9em;
      color: #666;
      margin-top: 1px;
      line-height: 1.3em;
    }

    &.intro_text {
      margin: 0 15px 10px 0;
      line-height: 17px;
      width: 90%;
      font-size: 13px;
    }
  }

  /* TODO: Remove .new_group and other view-specific selectors,
  and move this next to LTR styling above, once RTL enabled for all Classic views. */
  .new_group, .groups-edit {
    p.intro_text {
      html[data-rtl-language='true'] & {
        margin: 0 0 10px 15px;
      }
    }
  }

  .frame textarea{
    width: 100%;
    font: {
      family : Arial, Helvetica, sans-serif;
      size: 13px;
    }
  }

  textarea {
    width: 96.5%;

    &#raw_data {
      .import-index & {
        html[data-rtl-language='true'] & {
          direction: ltr;
        }
      }
    }
  }

  h2 {
    font: {
      size: 24px;
      weight: normal;
    }

    margin: 11px 0 7px 0;
    word-wrap: break-word;
    overflow: hidden;

    span.line { color: #BBB; }

    span.sub {
      font-size: 12px;
      color: #666;
    }

    .item_count {
      font-size: 12pt;
      font-weight: normal;
      vertical-align: 2px;
      color: #666;

      &.agents {
        font-size: 9pt;
      }
    }
  }

  h2.divider { margin-top: 30px; }

  h3 {
    margin: 25px 0 7px 0;
    font-size: 16px;
  }

  h3 span.sub {
    font: {
      size: 12px;
      weight: normal;
    }
    margin-left: 4px;
    color: #666;
  }

   h4 {
    font-size: 12px;
    margin: 12px 0 0px 0;
    padding: 0;
  }
}

.content h4 span.sub, .content #agent_block span.sub {
  padding-left: 2px;
  font-weight: normal;
  color: #666;
}

.content .reorder a {
  float: right;

  /* TODO: Remove .extensions-show and any other view-specific
  selectors, once RTL enabled for all Classic views. */
  .extensions-show & {
    html[data-rtl-language='true'] & {
      float: left;
    }
  }
  /*
  color: #4f4f4f;
  display: block;
  padding: 2px 0 0 0;
  text-align: center;
  height: 19px;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  background: url(/classic/images/reorder.png) no-repeat;
  width: 135px;
  */
}

.content hr {
  color: #f0f0f0;
  border: none;
  background: #f0f0f0;
  height: 1px;
  clear: both;
  margin: 11px 0 7px 0;
}
.content .comment p {
  margin: 2px 0 12px 0;
  word-wrap: break-word;
}
.content #comment_value {
  width: 99%
}

div.tab-top-right {
  float: right;
  color: #484a36;
  font-weight: bold;
  margin: 0;
  padding: 0;

  /* TODO: Remove .settings-show and any other view-specific selectors,
  once RTL enabled for all Classic views. */
  .settings-show &, .extensions-show & {
    html[data-rtl-language='true'] & {
      float: left;
    }
  }
}

div.tab-top-right.add-link {
  margin-top: 12px;
}

.no_top_margin, .no_top_margin.add-link {
  margin-top: 0px !important;
}

div.tabs_canvas div.tab-top-right.add-link {
  margin-top: 10px;
}

div.tab-top-left {
  float: left;

  /* TODO: Remove .analysis-show and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .analysis-show & {
    html[data-rtl-language='true'] & {
      float: right;
    }
  }
}

div.tab-top-left select {
  margin-right: 5px;

  /* TODO: Remove .analysis-show and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .analysis-show & {
    html[data-rtl-language='true'] & {
      margin-left: 5px;
      margin-right: 0;
    }
  }
}

div.tab-top-right p {
  margin: 0;
  padding: 0;
}

div.content-top-right {
  float: right;
  color: #484a36;
  font-weight: bold;
  margin: 17px 8px 0 8px;
}

/* TODO: Move this next to LTR styling above,
once support added for all Classic views */
.users-index, .groups-index, .organizations-index, .roles-new, .roles-index {
  div.content-top-right {
    html[data-rtl-language='true'] & {
      float: left;
    }
  }
}

div.content-top-right.minimal {
  float: right;
  color: #484a36;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

div.content-top-right.top {
  margin-top: 10px;
}

div.content-top-right p {
  padding: 0 11px 0 0px;
  margin: 0;
  font-size: 11px;
}

/* TODO: Move this next to LTR styling above,
once support added for all Classic views */
.users-index, .organizations-index, .roles-index {
  div.content-top-right p {
    html[data-rtl-language='true'] & {
      padding: 0 0px 0 11px;
    }
  }
}

div.content-top-right.big p {
  font-size: 12px;
}

div.content-top-right p.button-item {
  padding: 1px 0 0 0;
}

div.content-top-right.add-button {
  margin-top: 2px;
}

div.handle_suspended_ticket {
  margin-top: 13px;
  padding-right: 15px;
  width: 350px;
}
div.handle_suspended_ticket form, div.handle_suspended_ticket a , div.handle_suspended_ticket span.delim {
  float: right;
}
div.handle_suspended_ticket form.edit_suspended_ticket select {
  margin-right: 2px;
  padding: 0;
}
div.handle_suspended_ticket a, div.handle_suspended_ticket span.delim {
  margin-top: 2px;
}

a.edit_this, #search-result a.edit_this {
  color: green; font-weight: bold;
}

a.edit_this.remove, #search-result a.edit_this.remove {
  color: #B65151;
}

/* Action buttons/link */

.action {
  margin-top: 15px;
  padding-top: 0;
  padding-right: 33px;
  text-align: right;
  color: #666;
  font-size: 12px;
  clear: both;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .import-index &, .groups-new &, .groups-edit & {
    html[data-rtl-language='true'] & {
      padding-left: 33px;
      padding-right: 0;
      text-align: left;
    }
  }
}
a.admin, a.admin:visited, .action a.admin, .action a.admin:visited {
  background: none;
  color: #B65151;
}
a.admin:hover, .action a.admin:hover {
  background: #B65151;
  color: #fff;
}
.action .buttonsubmit {
  background: url(/classic/images/button-bg.gif) repeat-x scroll bottom left #fefffe;
  border: 1px solid;
  border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, "Lucida Grande";
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 0 5px;
  position: relative;
}

.action .buttonsubmit:hover {
  border-color: #C6D880;
  color: #529214;
}

.frame {
  padding: 7px 15px 20px 13px;
  margin: 9px 8px 10px -12px;
  background: #fff;
  min-width: 590px;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: none !important;
  clear: both;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .users-index &, .organizations-index &, .bulk_delete-index &, .roles-index &, .tags-index & {
    html[data-rtl-language='true'] & {
      padding: 7px 13px 20px 15px;
      margin: 9px -12px 10px 8px;

      #bulk_update {
        text-align: left;
      }
    }
  }
}

.frame.tickets_table {
  padding-top:15px;
  padding-bottom:20px;
}

.frame .frame {
  padding: 0;
  margin: 0;
  border: 0;
}

.frame h3 {
  margin-top: 0px;
  padding-top: 5px;
  margin-bottom: 2px;
  font-size: 16px;
  color: #333;
}

.frame h3.light {
  color: #ddd;
  float: left;
  margin-top: 3px;
  padding: 0;
}
.frame .sub-info {
  color: #888;
  padding-top: 2px;
  display: block;
  font-size: 13px;
}
p.list-info-small {
  color: #888;
  margin-top: 5px;
}

.entry {
  padding: 6px 8px 15px 12px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  margin-bottom: 5px;
}

.entry:last-child {
  border-bottom: none;
}
h3.entry-title {
  font-size: 22px;
  color: #444
}
div.titles_only .entry h3.entry-title {
  font-size: 19px;
}

.entry p {
  clear: left;
  margin: 2px 0 6px 0;
}
.entry p.sub {
  font-size: 11px;
  float: left;
  clear: none;
  color: #888;
  margin-right: 7px;
}
.entry p.border-left {
  border-left: 1px solid #999;
  padding-left: 7px;
}
.entry p.comments {
  padding-left: 27px;
  background: transparent url(/classic/images/composite.gif) no-repeat scroll 7px -204px;
  padding-bottom: 1px;
}
.header_section {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #EEE;
  word-wrap: break-word;
}

.user_formatted {
  color: #333;
}
.user_formatted p, .user_formatted div.p {
  font-size: 1em;
  margin-top: 0px;
  text-align: left;
  padding: 2px 0 1px 0;
}
.user_formatted p, .user_formatted div {
  line-height: 1.45em;
}
.user_formatted strong {
  color: #444;
}
.user_formatted ul, .user_formatted ol {
  padding: 2px 0 5px 36px;
}
.user_formatted li, .item .user_formatted ul li, #events .item .user_formatted li {
  margin: 2px 0 5px 0;
  padding: 0;
  background: none;
}
.user_formatted ol li, .user_formatted ul ol li {
  list-style-type: decimal;
}
.user_formatted ul li, .user_formatted ol ul li {
  list-style-type: disc;
}
.user_formatted ul li {
  color: #333;
}
.user_formatted h1 {
  font-size: 1.6em;
  margin-bottom: 5px;
  padding: 0;
  float: none;
}
.user_formatted h2 {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 9px;
  color: #333;
  font-weight: bold;
  font-size: 1.6em;
}
.user_formatted h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 1.2em;
}
.user_formatted table {
  margin: 12px 0;
}


pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  color: #333;
  font-size: inherit;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;

  @include rounded-corners(3px);
}

/* Override some of our Zendesk settings for elements loaded via JS embedding services */
div.pastie pre, div.gist pre {
  overflow-x: visible;
}

code {
  font: inherit Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  background-color: #F8F8F8;
  border: 1px solid #DEDEDE;
  padding: 0 4px;

  @include rounded-corners(3px);
}

.ticket {
  padding: 15px 8px 15px 8px;
  border-bottom: 1px solid #e0e0e0;
  overflow: auto;
}
.frame .ticket h3 {
  font-size: 18px;
  padding-top: 0px;
  font-weight: bold;
  line-height: 21px;
}

.ticket p.date {
  font-size: 11px;
  float: left;
  color: #888;
  margin: 6px 0 8px 0;
}

.ticket .comment {
  font-size: 11px;
  margin: 31px 0 0 0;
  padding: 0;
  background: #f7f7f7;
  word-wrap: break-word;
}
select#ticket_assignee_id {
  min-width: 75px;
}
input#datepicker {
  width: 120px;
}

.ticket .comment .message {
  padding: 0 0 3px 65px;
  color: #333;
  font-size: 12px;
}
.ticket .comment .message p {
  margin: 2px 10px 6px 0;
  line-height: 1.5em;
  color: #444;
}
.ticket .comment .message h3 {
  margin: 10px 0 10px 0;
  font-weight: bold;
  color: #555
}
.ticket .comment .message .process_status {
  font-size: 1.1em;
  margin: 10px 0 10px 0;
  font-weight: bold;
  background: #FFF none repeat scroll 0 0;
  padding: 0.6em 0.6em;
  border: 1px solid #ccc;
  float: left;
  color: #666;
}

.ticket .comment .private {
  background: #f7f7f7 url(/classic/images/speak_private_big.png) no-repeat 20px 4px;
}

.ticket .comment .private.email {
  background: #f7f7f7 url(/classic/images/speak_private_big_email.png) no-repeat 20px 4px;
}

.ticket .comment .public {
  background: #f7f7f7 url(/classic/images/speak_public_big.png) no-repeat 20px 4px;
}

.ticket .comment .public.email {
  background: #f7f7f7 url(/classic/images/speak_public_big_email.png) no-repeat 20px 4px;
}

.ticket .comment .public.twitter {
  background: #f7f7f7 url(/classic/images/speak_public_big_twitter.png) no-repeat 20px 4px;
}

.ticket .comment .public.phone_call_inbound {
  background: #f7f7f7 url( /classic/images/speak_public_big_phone_call_inbound.png ) no-repeat 20px 4px;
}

.ticket .comment .public.phone_call_outbound {
  background: #f7f7f7 url( /classic/images/speak_public_big_phone_call_inbound.png ) no-repeat 20px 4px;
}

.ticket .comment .public.voicemail {
  background: #f7f7f7 url( /classic/images/speak_public_big_voicemail.png ) no-repeat 20px 4px;
}

.ticket .comment .public.ticket_sharing {
  background: #f7f7f7 url( /classic/images/speak/public_ticket_sharing_big.png ) no-repeat 20px 4px;
}
.ticket .comment .private.ticket_sharing {
  background: #f7f7f7 url( /classic/images/speak/private_ticket_sharing_big.png ) no-repeat 20px 4px;
}

.ticket .comment span.comment-by {
  display: block;
  margin: 15px 0 0 0;
  background: none;
  color: #888;
  font-size: 11px;
}
.comment-by b, .comment-by strong {
  color: #828282;
}

table.tickets {
  @include zendesk-table;
}

table.tickets td.description span {
  max-width: 300px;
}

span.priority_urgent {
  font-weight: bold;
}

/* TODO split up into a "score" class and a "score_number" class */
span.score_1 {
  border: 1px solid #ddd;
  font-weight: bold;
  padding: 0.2em 0.4em;
}
span.score_2 {
  background: #e9e9e9;
  color: #7A7A7A;
  font-weight: bold;
  padding: 0.2em 0.4em;
}
span.score_3 {
  background: #FFD500;
  color: black;
  font-weight: bold;
  padding: 0.2em 0.4em;
}
span.score_4 {
  background: #C33232;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.4em;
}
h2 span.score_1, .linked span.score_1 {
  border: 0;
  padding: 0;
  font-weight: normal;
}
tr.linked span.score_1, tr.linked span.score_2, tr.linked span.score_3, tr.linked span.score_4 {
  padding: 0;
  width: 12px;
  height: 8px;
  display: block;
  margin: 0.1em 0 0 0;
}
tr.linked span.score_1 {
  width: 10px;
  height: 6px;
  border: 1px solid #e9e9e9;
}
tr.group_by span.score_1, tr.group_by span.score_2, tr.group_by span.score_3, tr.group_by span.score_4 {
  padding: 0;
  margin: 0.1em 0 0 3px;
}

div.float_label {
  float: left;
  /*margin-top: 0.3em;*/
}

html[data-rtl-language='true'] {
  /* TODO: Remove .extensions-show and any other view-specific
  selectors, once RTL enabled for all Classic views. */
  .extensions-show {
    div.float_label {
      float: right;
    }
  }
}

.truncate {
  @include elip-text
}

/* Paginator */
div.pagination {
  width: 500px;
  text-align: center;
  height: 20px;
  margin: 22px auto 5px auto;
  padding-top: 4px;
  font-size: 13px;
}
div.pagination span, div.pagination a {
  margin-left: 3px;
  margin-right: 3px;
}
div.pagination span.current {
  font-weight: bold;
  color: #b3b3b3;
}
div.pagination span.disabled {
  color: #b3b3b3;
}

div.hover-actions div.item-actions * {
  visibility: hidden;
}

.hover-actions .item .item-actions a.edit_this,
.hover-actions .item .item-actions .visible,
.hover-actions .item:hover .item-actions * {
  display: inline;
  visibility: visible;
}

/* TODO: Remove .settings-show and any other view-specific selectors,
once RTL enabled for all Classic views. */
html[data-rtl-language='true'] {
  .settings-show {
    .hover-actions .item .item-actions a:first-child {
      float: right;
    }

    .hover-actions .item .item-actions a.edit_this {
      float: left;
    }
  }
}

#events .item li {
  margin: 0;
  padding: 1px 0 4px 25px;
  background: url(/classic/images/tick2.png) no-repeat;
}

#events .item li.make_comment_private {
  background: none;
  padding-left: 0;
  /*background: url(/classic/images/events/comment_privacy.png) no-repeat 1px -3px;*/
  margin-left: 25px;
  margin-bottom: 10px;
  a {
      padding-top: 5px;
      font-style: italic;
      border-top: 1px dotted #E0E0E0;
  }
}

#events {
  .item {
    li {
      &.public {
        background: url(/classic/images/speak_public_small.png) no-repeat;

        &.twitter {
          background: url(/classic/images/speak_public_small_twitter.png) no-repeat;
        }
        &.facebook {
          background: url(/classic/images/speak_public_small_facebook.png) no-repeat;
        }
        &.log_me_in_comment {
          background: url( /classic/images/speak_public_small_logmein_rescue.png ) no-repeat;
        }
        &.phone_call_inbound {
          background: url( /classic/images/speak_public_small_phone_call_inbound.png ) no-repeat;
        }
        &.phone_call_outbound {
          background: url( /classic/images/speak_public_small_phone_call_inbound.png ) no-repeat;
        }
        &.ticket_sharing {
          background: url( /classic/images/speak/public_ticket_sharing_small.png ) no-repeat;
        }
        &.email {
          background: url(/classic/images/speak_public_small_email.png) no-repeat;
        }
      }

      &.private {
        background: url(/classic/images/speak_private_small.png) no-repeat;

        &.log_me_in_comment {
          background: url( /classic/images/speak_private_small_logmein_rescue.png ) no-repeat;
        }
        &.ticket_sharing {
          background: url( /classic/images/speak/private_ticket_sharing_small.png ) no-repeat;
        }
        &.email {
          background: url(/classic/images/speak_private_small_email.png) no-repeat;
        }
      }

      &.sms {
        background: url(/classic/images/phone.png) no-repeat;
      }
      &.notification {
        background: url(/classic/images/email.png) no-repeat 0 2px;
      }
      &.tweet {
        background: url(/classic/images/tweet.png) no-repeat 3px 0;
      }
      &.fbcomment {
        background: url(/classic/images/icons/facebook_icon.png) no-repeat 3px 0;
      }
      &.ticket_sharing_event {
        background: url(/classic/images/events/ticket_sharing.png) no-repeat 2px 2px;
      }
      &.commentprivacychange {
        background: url(/classic/images/events/comment_privacy.png) no-repeat 1px -3px;
      }
      &.commentsuspensionchange {
        background: url(/classic/images/events/changeme.png) no-repeat 1px -3px;
      }
      &.log_me_in_transcript {
        background: url( /classic/images/logmein_rescue_session.png ) no-repeat;
      }
      &.error {
        background: url(/classic/images/cross.png) no-repeat;
      }
      &.translatableerror {
        background: url(/classic/images/cross.png) no-repeat;
      }
      &.attachments {
        background: none;
      }
    }

    ul .suggestions li {
      background: none;
      padding: 0 0 0 10px;
    }
  }
}

.item li.title {
  background: none;
  padding: 0 0 10px 0;
  font-weight: bold;
}
.right ul {
  padding: 3px 0 0 0;
  list-style-type: none;
}
.right h3 {
  clear: none;
}
.right.user_formatted ul, .right .user_formatted ul {
  padding: 5px 0 5px 36px;
}
.right div.client-info {
  font-size: 11px;
  color: #AAA;
  margin-top: -3px;
}


#events .right ul li.voice ul {
  margin-top: 10px;
}


#events .right ul li.voice
ul.call_statistics li {
  background-image: none;
  padding-left: 0px;
  &.header {
    text-decoration: underline;
    font-weight: bold;
  }

  label {
    font-weight: bold;
  }
}

img.user-thumb {
  border: 1px solid #bbb;
  margin-right: 0 0 0 5px;
  width: 32px;
}

img.user-thumb-profile {
  float: right;
}
.buttons-right {
  margin: 10px 10px 0 0;
  height: 25px;

  /* TODO: Remove #salesforce_integration_form and any other
  view-specific selectors, once RTL enabled for all Classic views. */
  #salesforce_integration_form & {
    html[data-rtl-language='true'] & {
      margin: 10px 0 0 10px;
    }
  }
}

.reorder.buttons-right {
  margin: 0;
  padding-bottom: 0;

  /* TODO: Remove #salesforce_integration_form and any other
  view-specific selectors, once RTL enabled for all Classic views. */
  #salesforce_integration_form & {
    html[data-rtl-language='true'] & {
      margin: 0;
    }
  }
}

body.rules-index div.buttons-right .button, body.ticket_fields-index div.buttons-right .button, body.settings-index div.buttons-right .button {
  float: right;
  font-size: 11px;
  padding: 2px 7px 3px 7px;
  color: #666;
}

div.buttons-right a.cancel-sorting {
  float: right;
  margin: 2px 8px 0 0;
}

.conditions {
  margin: 11px 0 7px 0;
  padding: 7px 0 0 12px;
  border-top: 1px solid #f0f0f0;
}
.add {
  border-bottom: 1px solid #f0f0f0;
}
.conditions select, .conditions input, .conditions textarea {
  margin: 4px 12px 0 0;
}

.plus-button {
  width: 25px;
  height: 25px;
  display: block;
  background: url(/classic/images/add_s.png) no-repeat;
  float: right;
  margin: 0px 7px 7px 0;
}
.minus-button {
  width: 25px;
  height: 25px;
  display: block;
  background: url(/classic/images/remove.png) no-repeat;
  float: right;
  margin: 1px 7px 0 0;
}

.selects {
  clear: left;
  margin-top: 3px;
}
.selects label {
  font-size: 13px;
  display: block;
  margin: 7px 0 2px 0;
  white-space: nowrap;
}
.selects .select {
  float: left;
  margin: 0 20px 0 0;
  display: inline;
  min-height: 55px;
}
.selects .select label {
  font-weight: bold;
}
.frame .selects .select {
  margin: 10px 10px 0 10px;

  &.hidden { display: none; }
}

#tags {
  float: left;
  margin: 0 0 0 10px;
}
#tags label {
  font-size: 13px;
  margin: 2px 0 1px 0;
}
#tags input {
  width: 200px;
  margin: 2px 0 5px 0;
}
/*
#private-comment {
  float: right;
  margin: 0 10px 0 0;
  font-size: 11px;
}
#you-say {
  clear: left;
  padding: 10px 0 0 10px;
  overflow: none;
}
#you-say label {
  display: inline;
}
#you-say textarea {
  width: 98%;
  margin: 2px 0 0 0;
}
*/
.attach {
  display: block;
  margin: 15px 0 5px 30px;
}

#history {
  .right {
    margin-left: 110px;

    .untrusted {
      background-color: #F0F0F0;
      border: 1px solid #dadada;
      @include border-radius(10px);
      color: #555555;
      padding: 2px 7px;
      position: absolute;
      right: 0;

      .flag {
        font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
        font-weight: bold;
      }

      .reason {
        display: none;
      }

      .learn_more {
        margin-left: 2px;
      }

      &:hover {
        @include border-radius(4px);

        .reason {
          display: inline-block;
        }

        .flag {
          display: none;
        }
      }
    }
  }
  .item {
    clear: left;
    margin: 0 9px 0 10px;
    border-bottom: 1px solid #eee;
    padding: 15px 0 15px 0;
    position: relative;
    word-wrap: break-word;

    p {
      margin: 0 0 12px 0;
      font-size: 12px;
      color: #333;
    }
  }

  .via_14 {
    background: #f9f9f9 none repeat scroll 0%
  }
}

.gray-text {
  font-size: 11px;
  color: #888;
  padding: 7px 0 7px 0;
}
.gray-text-compact {
  font-size: 11px;
  color: #888;
  padding: 1px 0 0 0;
}
.gray-text-per-event {
  font-size: 11px;
  color: #AAA;
  padding: 0 0 3px 25px;
}


/* ----- attachment list in tickets ----- */

li.attachments {
  padding: 0 !important;
}

.attachment-list {
  padding: 0 0 5px 0 !important;
  margin: 0 0 5px 0;
  list-style: none !important;
  text-indent: 0px;
}

.user_formatted .attachment-list {
  padding-top: 10px !important;
}

.attachment-list li {
  background: none !important;
  margin: 0 6px 0 0 !important;
  padding: 0 10px 0 0 !important;
  list-style: none !important;
  text-indent: 0px;
}

.attachment-item {
  font-size: 12px;
  line-height: 16px;
}
.attachment-item div.attachment-container {
  line-height: 16px;
}
.attachment-item span.attachment-name, .attachment-item span.deletable {
  line-height: 16px;
}
.attachment-item span.attachment-name { padding-left: 2px; }
.attachment-item span.attachment img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
}
.attachment-item span.attachment img.thumbnailed {
  height: 14px;
  width: 14px;
  border: 1px solid #CCC;
}
.attachment-item span.deletable a, .attach_item span.deletable a {
  color: #888;
  font-size: 8pt;
}

/* ------ sidebar -------------------------------- */
#sidebar {
  float: right;
  margin-left: -259px;
  width: 242px;

  .form {
    label {
      font-size: 13px;
      display: block;
      margin: 10px 0 2px 0;
      color: #444;
    }
    input {
      &.select {
        width: 200px;
      }

      &#submit {
        margin-top: 10px;
      }
    }
  }
}

/* TODO: Move this next to LTR #sidebar styling above,
once support added for all Classic views */
.users-index, .import-index, .organizations-index, .roles-new, .roles-index, .tags-index {
  #sidebar {
    html[data-rtl-language='true'] & {
      float: left;
      margin-left: 0;
      margin-right: -259px;
    }
  }
}

.side-box-with-image {
  background: #B6E3EC;
  width: 241px;
  padding: 0 0 6px 0;
  margin-left: -22px;
}

.side-logo {
  width: 225px;
  margin: -4px 0 0 8px;
  background: #fff;
  text-align: center;
}

.side-logo img, .side-slas img {
  display: block;
  margin: 10px auto;
}

#search {
  width: 200px;
}

#searchsubmit {
  clear: both;
  float: right;
  margin: 7px 0 0 0;
  padding: 0 3px;
}

.side-box-content {
  background: #B6E3EC;
  width: 197px;
  font-size: 12px;
  padding: 6px 22px 0 22px;
  color: #444;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .users-index &, .organizations-index &, .roles-new &, .roles-index &, .tags-index & {
    html[data-rtl-language='true'] & {
      text-align: right;
    }
  }

  &.alert {
    width:191px;
    border: 3px #DD5555 solid;
    padding: 12px 22px 20px 22px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }

  h3 {
    font-size: 20px;
    color: #333;
    font-weight: normal;
    padding-top: 5px;
    margin-bottom: 12px;
    line-height: 1.15em;
  }

  h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 17px;
    font-weight: normal;
    margin: 25px 0 5px 0;
    padding-bottom: 5px;

    .white {
      color: #fff;
    }
  }

  h5 {
    font-size: 12px;
    margin: 15px 0 5px 0;
    color: #444;
  }

  p {
    line-height: 1.3em;
    margin: 10px 0;
    word-wrap: break-word;

    a {
      text-decoration: underline;
    }

    &.minimum {
      margin-top: 0;
      padding-top: 0;
    }
  }

  input {
    &.text {
      width: 185px;
    }
  }

  select {
    max-width: 205px;
  }

  table {
    margin: 5px 15px 5px 0;
    color: #335d66;
    width: 100%
  }

  span {
    word-wrap: break-word;
    &.sub {
      color: #888;
    }
  }

  ul,
  ol {
    margin: 7px 0 8px;

    li {
      list-style: none;
      margin: 3px 0 3px 0;
    }

    &.options {
      li {
        display: block;
        padding: 0 0 0 17px;
        margin: 5px 11px 8px 0;
        position: relative;

        /* TODO: Remove .user-index and other view-specific selectors,
        once RTL enabled for all Classic views. */
        .users-index &, .organizations-index &, .roles-index & {
          html[data-rtl-language='true'] & {
            padding: 0;
            margin: 5px 0 8px 11px;
          }
        }

        &.link {
          background: url(/classic/images/bullets.png) no-repeat scroll 0 2px;

          html[data-rtl-language='true'] & {
            background: none;

            a {
              padding-right: 17px;
            }
          }
        }

        /* To flip this arrow image for RTL, the backgroup image must be
        placed into a pseudoselector. Otherwise, the text would be rotated
        along with the image. */
        &.link::before {
          /* TODO: Remove .user-index and other view-specific selectors,
          once RTL enabled for all Classic views. */
            .users-index &, .organizations-index &, .roles-index & {
            html[data-rtl-language='true'] & {
              content: '';
              display: inline-block;
              transform: rotate(180deg);
              width: 17px;
              height: 17px;
              margin-bottom: 0;
              background: url(/classic/images/bullets.png) no-repeat scroll 0px 2px;
            }
          }
        }

        &.email {
          background: url(/classic/images/bullets.png) no-repeat scroll 0 -427px;
        }
        &.phone {
          background: url(/classic/images/bullets.png) no-repeat scroll 0 -872px;
        }
        &.user {
          background: url(/classic/images/bullets.png) no-repeat scroll 0 -734px;
        }
        &.forum {
          background: url(/classic/images/bullets.png) no-repeat scroll 0 -578px;
        }
        &.twitter {
          background: url(/classic/images/bullets.png) no-repeat scroll 0 -987px;
        }
        &.add-link {
          background: url(/classic/images/bullets.png) no-repeat scroll 0 -141px;
        }
      }
      li:before {
        content: '';
        background: url(/classic/images/bullets.png) 0 -275px no-repeat;
        width: 20px;
        height: 20px;
        margin-left: -17px;
        margin-bottom: -35px;
        display: block;
        position: absolute;
      }
      li[class]:before{
        display: none;
      }
    }
  }

  .user_formatted {
    color: #444;
  }
}

p.user-phone {
  background: transparent url(/classic/images/bullets.png) no-repeat scroll 0 -872px;
  padding: 0 0 0 18px;
  margin: 3px 0;
}

p.user-external-id {
  background: transparent url(/classic/images/tag_ext_id.png) no-repeat scroll 0px 2px;
  padding: 0 0 0 18px;
  margin: 3px 0;
}

/* ------ footer --------------------------------- */
#footer {
  height: 50px;
  text-align: right;
  margin: 0 auto;
  max-width: 1200px;

  p {
    color: #aaa;
    font-size: 12px;
    padding: 7px 7px 0 0;
  }

  a {
    color: #aaa;
    text-decoration: underline;
  }
}

#history .nobottom,
.nobottom,
.frame .nobottom,
.item.nobottom,
div.rule-list .nobottom {
  border-bottom: none;
}

.noborder { border: none !important; }

span.highlight {
  font-weight: bold;
}

.entry-highlight {
  font-weight: bold;
}

/* Tag clouds */
.nube1 {
  font-size: 1.0em;
}

.nube1.strong {
  font-weight: bold;
}

.nube2 {
  font-size: 1.4em;
}
.nube3 {
  font-size: 1.8em;
}
.nube4 {
  font-size: 2.2em;
}
.nube5 {
  font-size: 2.6em;
  font-weight: bold;
}
.nube6 {
  font-size: 3.0em;
  font-weight: bold;
}

.tagcloud {
}
.side-box-content .tagcloud {
  line-height: 1.8em;
}
.tagcloud .count {
  margin-right: 5px;
  color: #999;
  font-size: 10px;

  /* TODO: Remove .analysis-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .analysis-index & {
    html[data-rtl-language='true'] & {
      margin-left: 5px;
      margin-right: 0;
    }
  }
}
.tagcloud a {
  margin-right: 0px;
  text-decoration: none;
}
.tagcloud .tag-wrapper {
  height: 2.2em;
  line-height: 2.4em;
}

/* List items, search result */
span.search_highlight {
  color: black;
  font-weight: bold;
}

a.underline {
  text-decoration: underline
}
a.clean {
  text-decoration: none;
}

div#switch_plans {
  background-color: #D8D8D8;
  text-align: center;
  font-size: 14px;
  margin: 10px;
  padding: 8px;
}

div.attachmentline div.text {
  padding-left: 2px;
  float: left;
  width: 150px;
  overflow: hidden;
}

div.attachmentline {
  margin: 2px 0 5px 0;
  float: left;
  clear: left;
}

div.attachmentline a {
  color: #b65151;
  padding-right: 3px;
}

.beware {
  margin: 28px 20px -2px 0;
  background-color: #FFD502;
  border: 5px solid #ECC602;
  padding: 5px 15px 5px 45px;
  background: url(/classic/images/warning.png) no-repeat 12px 11px;
}
.beware p {
  color: #333;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  margin: 7px 0px;
}
.beware a {
  color: green;
  text-decoration: underline;
}

span.warning {
  font-weight: bold;
}
span.gray {
  color: #888;
}
span.delim {
  margin: 0 5px;
  color: #BBB;
}
h2 span.delim {
  margin: 0 6px;
}
span.delim2 {
  font-weight: bold;
  padding: 0 3px;
  color: #333;
}
h2 span.delim2 {
  padding: 0 5px;
}
span.comment-count {
  background: url(/classic/images/bullets.png) no-repeat scroll 0 -580px;
  padding: 0 0 0 15px;
}


.newline {
  display: block;
  color: #484a36;
  padding-top: 10px;
  padding-bottom: 3px;
  margin: 0;
  clear: both;
}

.recipient {
  color: #666;
  margin: -2px 0 0 -8px;
}

.rule-input-label {
  color: #666;
  margin: -2px 0 0 -8px;
}

/* ********* Boxes *********** */

div.box {
  float: right;
  height: 5px;
  width: 5px;
  font-size: 0pt;
  line-height: 0pt;
}
div.box_top {
  background: transparent url(/classic/images/composite.gif) no-repeat scroll 0 -5px;
}
div.box_bottom {
  background: transparent url(/classic/images/composite.gif) no-repeat scroll 0 -15px;
}
div.box_bottom_clear {
  clear: left;
  height: 15px;
}

.content_grey {
  background: #f4f4f4 none no-repeat scroll 0%
}
.grey_box_top {
  background: #F4F4F4 url(/classic/images/composite.gif) no-repeat scroll;
  height: 5px;
  margin: 0 0 0 -20px;
}
.grey_box_bottom {
  background: #F4F4F4 url(/classic/images/composite.gif) no-repeat scroll 0 -10px;
  height: 5px;
  margin: 15px 0 0px -20px;
}

.content_green {
  background: #f4f4f4 none no-repeat scroll 0%
}
.green_box_top {
  background: #f4f4f4 url(/classic/images/composite.gif) no-repeat scroll;
  height: 5px;
  margin: 0 0 0 -20px;
}
.green_box_bottom {
  background: #f4f4f4 url(/classic/images/composite.gif) no-repeat scroll 0 -10px;
  height: 5px;
  margin: 10px 0 0 -20px;
}

.blue_box_top {
  background: #B6E3EC url(/classic/images/composite.gif) no-repeat scroll 0 -252px;
  height: 5px;
  font-size: 0pt;
  width: 241px;
}
.blue_box_bottom {
  background: #B6E3EC url(/classic/images/composite.gif) no-repeat scroll 0 -257px;
  height: 5px;
  margin: 0 0 16px 0;
  font-size: 0pt;
  width: 241px;
}

/* ------ nifty-corners -------------------------- */

.rtop,.rbottom {
  display: block
}
.rtop *,.rbottom * {
  display: block;
  height: 1px;
  overflow: hidden !important;
}
.r1 {
  margin: 0 5px
}
.r2 {
  margin: 0 3px
}
.r3 {
  margin: 0 2px
}
.r4 {
  margin: 0 1px;
  height: 2px
}
.r_white {
  background-color: #fff;
}
.r_grey {
  background-color: #F6F6F6
}

table.credit-card-table th {
  text-align: right;
  font-weight: normal;
  padding: 0 4px 6px 0;
}

table.credit-card-table td {
  font-weight: normal;
  padding: 0 4px 6px 0;
}


#login-form-top {
  float: right;
  font-size: 10px;
  font-weight: bold;
  padding: 12px 40px 0pt 20px;
  color: #fff;
}

#login-form-top input, #login-form-top label {
  margin-left: 3px;
  padding-left: 2px;
  vertical-align: middle;
}

input[type=text].google-field {
  background: #FFFFFF url('/classic/images/google-icon-small.gif') no-repeat scroll 3pt 50%;
  padding-left: 22px;
}

input[type=text].facebook-field {
  background: #FFFFFF url('/classic/images/facebook-icon-small.gif') no-repeat scroll 3pt 50%;
  padding-left: 22px;
}

blockquote {
  background-color: #F6F6F6;
  border: 1px solid #E6E6E6;
  font-family: courier;
  padding: 10px 0px 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.options .r_count {
  font-weight: bold;
}
ul.menu-drop .r_count {
  font-weight: normal;
}

span#comment_down, span#comment_up {
  margin-left: 10px;
}

span.link, p.link {
  cursor: pointer;
  color: #1A6690;
  font-weight: bold;
}

span.link-no-bold, p.link-no-bold {
  cursor: pointer;
  color: #1A6690;
}

span.invert {
  background: #F3F3F3;
  padding: 2px 5px;
  border: 1px solid #A8A8A8;
}

img.remove_frame {
  float: right;
  cursor: pointer;
  margin: -10px -5px 0 0
}
img.view_sort {
  width: 5px;
  height: 3px;
  vertical-align: middle;
  margin-left: 5px;

  html[data-rtl-language='true'] & {
    margin-left: 0;
    margin-right: 5px;
  }
}

/**/
/* Tiny MCE stuff */
/**/

body.entry {
  border-bottom: none;
}
body#tinymce {
  min-width: 95%;
}
body#tinymce a {
  color: #1a6690 !important;
  text-decoration: none !important;
}

.loading {
  background-image: url(/classic/images/ajax-loader.gif);
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 17px;
  min-width: 40px;
  padding-bottom: 35px;
}

/* Zendesk Suggests */
/*
div#topic_suggestions {
  margin: 18px 32px 18px 10px;
}
*/

div.topic_suggestions_old { margin: 18px 32px 18px 10px; }
div#topic_suggestions h2 { font-size: 18px; }

ul#suggestions {
  list-style-type: none;
  margin: 18px 0 20px 0;
  padding: 0px;
}

ul#suggestions li.suggestion {
  margin-bottom: 12px;
}

ul#suggestions li h3 {
  margin: 3px 0;
}

ul#suggestions li div {
  margin-bottom: 10px;
}

ul#suggestions li div b {
  color: #333;
}

ul#suggestions li#more_suggestions, ul#topic_suggestions li#more_suggestions a {
  font-size: 16px;
}

form#suggest_form,
form#searchform {
  margin-top: 13px;
}

/* TODO: Remove .user-index and other view-specific selectors,
once RTL enabled for all Classic views. */
.users-index, .groups-index, .organizations-index, .roles-index, .tags-index {
  form#searchform {
    html[data-rtl-language='true'] & {
      text-align: right;
    }
  }
}

form#suggest_form input {
  font-size: 20px;
}

form#suggest_form input#suggestions_query {
  width: 500px;
}

ul#detailed_suggestions {
  list-style-type: none;
  padding: 0 0 0 20px;
  margin-bottom: 18px;
}

ul#detailed_suggestions li h3 {
  font-size: 20px;
}

ul#detailed_suggestions li div.user_formatted {
  margin: 8px 0 18px 0;
}

li#more_suggestions {
  margin: 16px 0 12px;
}

/* Placeholder behavior */

input.placeholder {
  color: #aaa !important;
  font-style: italic;
}


/* CountrySelectField */

div.country_select_field div.closed {
  background: #FFF;
  border: 1px solid #A8A8A8;
  padding: 0 4px;
  width: 200px;
  cursor: text;
  line-height: 24px;
}

div.country_select_field div.opened {
  position: absolute;
  width: 400px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #FFF;
  border: 1px solid #A8A8A8;
  box-shadow: 3px 3px 5px #CCC;
  -webkit-box-shadow: 3px 3px 5px #CCC;
  -moz-box-shadow: 3px 3px 5px #CCC;
}

div.country_select_field div.opened ul {
  list-style-type: none;
  text-indent: 0px;
  padding: 0px;
  margin: 0px;
  width: 380px;
}

div.country_select_field div.opened ul li {
  width: 175px;
  float: left;
  margin: 0px;
  padding: 0 4px;
  line-height: 24px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

div.country_select_field div.opened ul li:hover {
  background: #CCC;
}

div.country_select_field div.opened ul li.selected {
  font-weight: bold;
  background: #EEE;
}

div.country_select_field img {
  padding: 0px 6px;
}

/* --- */

.rounded-4 {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* BEGIN fade trunction, prettier than using ellipses */
.fade_truncation_outer {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.fade_truncation_inner {
  background: transparent url(/classic/images/fade_bar.png) repeat-y center right;
  height: 100%;
  position: absolute;
  right: 0;
  width: 25px;
}

/* END fade trunction */

.undisplayed {
  display: none;
}

div.user_formatted>div>a.button.icon {
  text-decoration :none;
  font-size: 11px;
  padding: 5px 9px 4px 26px;
} /* this is an ie hack to make the button visible in the welcome post only for non-ie browsers */

#gray #twitter_menu {
  background-color: #707070;
  display: block;
  position: relative;
  height: 26px;
  padding: 0;
}

#gray #twitter_menu:hover {
  background-color: #888;

  #twitter_menu_item span {
    background-position: 0px 0px;
  }

  #twitter_dropdown{
    display: block;
  }
}

#twitter_menu:hover +

#twitter_menu #twitter_menu_item {
  display: block;
  width: 100%; height: 100%;
}

#twitter_menu #twitter_menu_item {
  background: url( /classic/images/sprites/twickets_icons.png ) 0 0 no-repeat;
  display: block;
  margin: 4px 15px 0 15px;
  text-indent: -2000px;
  width: 18px; height: 18px;
}

#twitter_menu #twitter_menu_item.on {
  background-position: 0 -18px;
}

#twitter_menu .twitter_menu_item.on a {
  background: url( /classic/images/twitter/icon_blue_dot.png ) no-repeat top right;
  background-position: 95% 50%;
  padding-right: 18px;
}

#twitter_menu .twitter_menu_item.on a:hover,
#twitter_menu .twitter_menu_item.on a:focus {
  background: #f5f5f5 url( /classic/images/twitter/icon_blue_dot.png ) no-repeat top right;
  background-position: 95% 50%;
}

#twitter_menu .left {
  float: left;
}
#twitter_menu .right {
  float: right;
}

#twitter_menu_item + #twitter_searches_drop {

  #twitter_menu_no_search {
    p {
      margin-top: 5px;
      font-size: 13px;
      line-height: 16px;
      color: #666;
    }
    a {
      font-weight: bold;
    }
    a.hide_twitter_menu {
      font-weight: normal;
      margin-top: 12px;
    }
  }

  #twitter_menu_footer{
    display: none; /* Hiding this for phase 1 */
    text-align: right;
    padding-bottom: 10px;
  }
}

#twitter_search_bar {
  margin-top: -10px;
}

img.avatar {
  border: 1px solid #ccc;
  width: 80px;
}

div.setting-divider {
  height: 5px;
  margin: 15px -16px 20px -16px;
  background: #F4F4F4;
}

.form_field .curated-search {

  .description {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
  }

}

.form_field .setting-slider {
  width: 256px;
  margin: 8px 10px 45px 10px;
  display: inline-block;
  border: 1px inset transparent;
  height: 4px;
  position: relative;

  .slider-bg {
    position: relative;

    & > div {
      position: absolute;
      height: 4px;
      border: 1px inset #CCC;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -border-radius: 4px;

      /* http://www.colorzilla.com/gradient-editor */
      background: #dbdbdb; /* Old browsers */
      background: -moz-linear-gradient(top,  #dbdbdb 0%, #ececec 50%, #f9f9f9 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(50%,#ececec), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #dbdbdb 0%,#ececec 50%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #dbdbdb 0%,#ececec 50%,#f9f9f9 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #dbdbdb 0%,#ececec 50%,#f9f9f9 100%); /* IE10+ */
      background: linear-gradient(top,  #dbdbdb 0%,#ececec 50%,#f9f9f9 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    }
  }

  .ticks div {
    position: absolute;
    top: 14px;
    width: 2px;
    height: 5px;
    background: #CCC;
  }

  .handle {
    position: absolute;
    width: 6px;
    height: 16px;
    margin-top: -7px;
    background-color: white;
    border: 1px solid gray;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -border-radius: 4px;
    position: absolute;
    cursor: pointer;

    .label {
      float: left;
      white-space: nowrap;
      min-width: 0 !important; /* label is shrink-wrap, override */
      color: white;
      background-color: #333;
      margin-top: 0px;
      margin-left: -14px;
      padding: 3px 2px 2px 2px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -border-radius: 4px;
      text-align: center;
      font-size: 0.9em;
    }

    .label-arrow-up {
      width: 0;
      height: 0;
      margin-left: -2px;
      margin-top: 28px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #333;
    }

  }

}

div.list-items {
  margin-top: 25px;
}

a.cancel-edit {
  color: #999;
  float: left;
  margin: 11px 0 0 0;
}

#add_ticket_field .example {
  float: right;
  border: 5px solid #E6E6E6;
  background-color: #f6f6f6;
  padding: 10px;
  width: 255px;

  h3 {
    margin-bottom: 5px;
  }

  select, input, textarea.special, .multiselect-example {
    width: 180px;
  }

  input[type="checkbox"] {
    width: 20px;
  }
}
