@import "../mixins.css.scss";
$lists-padding-left: 15px;
$lists-margin:  0 0 15px 15px;
$lists-item-margin: 10px 0;
$lists-text-color: #333;

.portal-show .header_section,
.portal-show #history ul li.say,
#events .right ul li.say,
#ticket-chat .say {

  // Reset
  blockquote,
  ul, ol, li,
  code, pre,
  pre code,
  h1, h2, h3,
  h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-decoration: normal;
  }

  h1, h2, h3,
  h4, h5, h6 {
    color: #333;
    font-weight: bold;
    margin: 5px 0 5px;
    text-transform: none;
  }

  h1 {
    font-size: 22px;
    margin: 5px 0 15px;
    line-height: 26px;
  }

  h2 {
    font-size: 20px;
    margin: 5px 0 10px;
    line-height: 24px;
  }

  h3 {
    font-size: 18px;
    line-height: 22px;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
  }

  h5 {
    font-size: 14px;
    line-height: 17px;
  }

  h6 {
    font-size: 14px;
    line-height: 17px;
    color: #777;
  }

  blockquote {
    padding-left: 10px;
    border-left: 2px solid #CCC;

    p {
      color: #777;
    }

    ul, ol {
      li {
        color: #777;
      }
    }
  }

  ul {
    padding-left: $lists-padding-left;
    margin: $lists-margin;
    list-style-type: disc;

    li {
      margin: $lists-item-margin;
      color: $lists-text-color;
      line-height: 15px;

      p {
        line-height: 15px;
      }
    }
  }

  ol {
    padding-left: $lists-padding-left;
    margin: $lists-margin;
    list-style-type: decimal;

    li {
      margin: $lists-item-margin;
      color: $lists-text-color;
      line-height: 15px;
    }

    p {
      line-height: 15px;
    }
  }

  img {
    max-width: 100%;
  }

  code {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    @include rounded-corners(3px);
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
  }

  pre {
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 15px 0;

    code {
      font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
      background: none;
      white-space: pre;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}

// Swap the background colors of code snippets and
// blocks when in the "latest comment" block
#ticket-chat .say {
  code {
    background-color: #fff;
  }

  pre {
    background-color: #fff;
  }
}
