(function($) {
  var origin, url, scriptUrl;

  <% if ENV['PRE_COMPILE_ENV'] === 'production' %>
    origin = 'https://www.zndsk.com';
  <% else %>
    origin = 'https://staging.zndsk.com';
  <% end %>

  url = origin + '/hub.html';
  scriptUrl = origin + '/client.min.js';

  var storeUserInformation = function() {
    // Outer try-catch would handle a broken CrossStorage lib,
    // e.g. if onConnect() didn't return a promise
    try {
      Zendesk.crossStorage = new CrossStorageClient(url);

      var cs = Zendesk.crossStorage,
          key = 'userInfo:' + currentAccount.subdomain;

      if(!currentUser || currentUser.isEndUser) {
        return;
      }

      cs.onConnect().then(function() {
        var obj = {
          customerType: currentAccount.isInTrial ? 'trial' : 'customer',
          role: currentUser.isOwner ? 'owner' : currentUser.isAdmin ? 'admin' : 'agent',
          planName: currentAccount.planName,
          lastUpdated: (new Date()).getTime() / 1000, //lastUpdated in seconds
          accountCreated: (new Date(currentAccount.creationDate)).getTime() /1000 //accountCreated date in seconds
        };
        return cs.set(key, obj);
      }).then(function() {
        cs.close();
      })['catch'](function(err) {
        // catch is a reserved word in IE<9
        cs.close();
      });
    } catch(err) {
      // Intentionally left blank
    }
  };

  $j(function(){
    $j.getScript(scriptUrl, storeUserInformation);
  });
})(jQuery);
