#container {
  .features code.symbol:before { content: ":"; }

  .features { border-collapse: collapse; }

  .features thead tr:last-child th { border-bottom: 1px solid; }
  .features tfoot tr:first-child th { border-top: 1px solid; }

  .features th, .features td {
    margin: 0;
    padding: 0.5em 1.5em;
    text-align: left;
  }

  input.deployment_percentage[type=range] { width: 200px; }

  output.deployment_percentage.no_js { display: none; }
  output.deployment_percentage { margin-left: 1em; }
  output.deployment_percentage:after { content: "%"; }

  .features a[rel=edit] { visibility: hidden; }
  .features tr:hover a[rel=edit] { visibility: inherit; }

  .features tfoot th {
    text-align: right;
  }

  .features tfoot th input {
    margin-left: 2em;
  }


  .feature_new label, .feature_edit label { font-weight: bold; }

  .feature_new  label, .feature_new  .errors,
  .feature_edit label, .feature_edit .errors {
    display: block;
  }

  .feature_new  label + input, .feature_new  label + textarea, .feature_new  label + select,
  .feature_edit label + input, .feature_edit label + textarea, .feature_edit label + select {
    margin-top: 0.5em;
  }

  .feature_new  input + label, .feature_new  textarea + label, .feature_new  select + label,
  .feature_edit input + label, .feature_edit textarea + label, .feature_edit select + label {
    margin-top: 1.5em;
  }

  .feature_new input[type=text], .feature_edit input[type=text] { padding: 0.5em; }

  .feature_new  input.symbol, .feature_edit input.symbol {
    background: transparent url('/classic/images/semicolon.png') no-repeat 3px 4px;
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    padding-left: 9px;
  }

  .feature_new .errors, .feature_edit .errors { color: red; }
  .feature_new :invalid { border-color: red; }

  .feature_new footer, .feature_edit footer { margin-top: 2em; }
}
