<h3>Control the exact look of your email notifications</h3>
<p>When Zendesk communicates with your and your customers via email, it will use the HTML below as a template. You can customise this however you like.</p>

<p>We strongly recommend ensuring you have good HTML and CSS knowledge prior to making drastic changes.</p>
