<div class="help-bubble <%= content -%>-help" style="display:none;">
  <div class="arrow">
    <%= image_tag 'tip.gif', :alt => 'Arrow' %>

  </div>
  <div class="bubble-content">
    <%= render(:partial=> "shared/help/#{content}") %>
  </div>

</div>
