<h3>Beyond pre-canned responses</h3>
Macros aren’t actually just pre-canned response, although you’re easily able to use it to that purpose. Macros enable you to change properties on tickets, including custom fields, and add in comments that can include dynamic placeholders such as the requester’s name. Solved tickets in one click.

<p><h4>Macros for everyone</h4>
Shared macros can typically be used by all agents and admins in an account, these are perfect for productive macros relevant to all agents and admins.</p>

<p><h4>Macros just for you</h4>
Unlike everyone macros, these are only visible to you. Perfect for those macros only you find relevant. On Regular, Plus, and Enterprise plans, agents are able to add their own macros.</p>


