<h3>Access that you control</h3>
<p>By allowing anybody to submit tickets, you’re opening your help desk to anyone that wants to ask a question or report a problem. You can require users to register before they can submit tickets, or indeed completely stop them being able to do either.</p>

<p>If you want to restrict exactly who can submit tickets, turn this option off. You’ll need to add users yourself.</p>

<p>
  Please note that the Feedback Tab feature cannot be used on a help desk that
  has this option off.
</p>
