<h3>Customer or Staff, you can empower them both</h3>
<p>End-Users are your most basic of users. Generally only able to submit tickets, view forums, create topics and comment on them.</p>

<p>Agents are generally responsible for managing tickets, answering questions or problems from your customers. However, you’re also able to heavily restrict them to the point of only allowing them to moderate your knowledge base and community - brilliant to empower your customers or super users in the community.</p>

<p>Admins are the most powerful of users. They can do everything that the owner of the Zendesk account can... except overthrow them!</p>
