<h3>Manage agent signatures</h3>
<p>
  Add standard text to all public comments made by agents. You can choose to include the placeholder <strong>{{agent.signature}}</strong> in the template to enable agents to add their own signatures. Agents can customize their signature on their profile page.
</p>
<h4>An example of a signature template defined by each agent within a common format</h4>
<div class="textarea" >
  {{agent.name}} <br/>
  Acme corp. 24506 IL
</div>

<h4>An example of a fixed signature template. Agents can't add their own signature</h4>
<div class="textarea">
  {{agent.name}} - {{agent.phone}} <br/>
  Acme corp. 24506 IL.
</div>
