<h3>Setting your accounts time zone</h3>
<p>By setting the time of your Zendesk account, you'll see timestamps relative to time zone of your own country or location.</p>

<p>For example, you'll see when forum topics were posted, or when tickets we submitted relative to your own time zone.</p>

<p><strong>If you're on our Plus or Enterprise plan</strong>, all your agents and end-users will be able to set their own time zones.</p>
