<h3><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.Define_your_Twitter_search') %></h3>
<p><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.Combine_keywords_and_special_operators') %></p>
<table>
  <tr>
    <td class="name"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.twitter_search') %></td>
    <td class="desc"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.Returns_tweets_containing_twitter_and') %></td>
  </tr>
  <tr>
    <td class="name"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.twitter_search_complete') %></td>
    <td class="desc"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.Returns_tweets_with_the_exact') %></td>
  </tr>
  <tr>
    <td class="name"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.support_help') %></td>
    <td class="desc"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.Returns_tweets_mentioning_support_containing') %></td>
  </tr>
  <tr>
    <td class="name"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.support_minus_help') %></td>
    <td class="desc"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.Returns_tweets_mentioning_support_but') %></td>
  </tr>
  <tr>
    <td class="name"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.support_help_filter_retweets') %></td>
    <td class="desc"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.Returns_all_tweets_mentioning_support') %></td>
  </tr>
  <tr>
    <td class="name"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.to_support_thanks') %></td>
    <td class="desc"><%= I18n.t('txt.admin.views.shared.help._twitter_search_general.Returns_all_replies_to_support') %></td>
  </tr>
  <tr>
    <td class="name"></td>
    <td class="desc">
      <strong><%= link_to I18n.t('txt.admin.views.shared.help._twitter_search_general.See_more_advanced_search_operators'), I18n.t('txt.admin.views.shared.help._twitter_search_general.See_more_advanced_search_operators_link'), :target => "_new" %></strong>
      <%= I18n.t('txt.admin.views.shared.help._twitter_search_general.Please_note_that_the_near') %>    </td>
  </tr>
</table>
