<h3>Define a custom service for URL shortening</h3>
<p>Specify a special token <code>{{url}}</code> in your configured URL.  This token will be replaced by the ticket URL to be shortened:</p>
<p><code>http://customshortener.com/shorten?url={{url}}</code></p>

<p>Specify other URL parameters as necessary:</p>
<p><code>http://customshortener.com/shorten?url={{url}}&apikey=ABCDEFG</code></p>

<p>Zendesk expects a plain text response from your URL shortening service:</p>
<p><code>http://shrt.xxx/abc</code></p>
