<h3>Narrow your Twitter search</h3>
<table>
  <tr>
    <td class="name">@support help</td>
    <td class="desc">Returns all tweets mentioning @support containing the word 'help'</td>
  </tr>
  <tr>
    <td class="name">@support help -filter:retweets</td>
    <td class="desc">Returns all tweets mentioning @support containing the word 'help' and removes all retweets.</td>
  </tr>
  <tr>
    <td class="name">apples -green</td>
    <td class="desc">Returns all tweets containing 'apples' but not 'green'.</td>
  </tr>
  <tr>
    <td class="name"></td>
    <td class="desc">
      <strong><%= link_to "See more advanced search operators", "http://search.twitter.com/operators", :target => "_new" %></strong>
      Please note that the "near" operator is not supported.
    </td>
  </tr>
</table>
