<h3>See the tickets that matter, on demand</h3>
Views allow you to get an overview of tickets based on a criteria that you set, as well as being able to sort and group how that view is then presented.

<p><h4>Views for everyone, or just to certain groups</h4>
Shared views can typically be used by all agents and admins in an account. You can also have shared views shown only to groups of agents and admins that find it relevant.</p>

<p><h4>Personal views, just for you</h4>
Unlike everyone views, these are only visible to you. Perfect for those views only you find relevant. On Regular, Plus, or Enterprise plans, agents are able to add their own views.</p>
