<p style="border: 1px solid #A8A8A8; ; padding: 7px 12px; color:#444; font-size:20px; line-height:28px; border-radius: 5px; margin-bottom: 15px; background-color:white;">
  You have <%= boost_days_left(current_account) %> days left to evaluate <b>Zendesk's Plus</b> plan, which means that your <strong>free</strong> access to our advanced features expires on <%= boost_expiry_date(current_account) %>.
</p>
