<table class='invoice'>
  <col class='price' />
  <col class='explanation' />
  <tfoot>
    <tr>
      <td><%= number_to_currency(one_time[:net], :precision => 0) %></td>
      <th><%= I18n.t('txt.admin.views.account.subscription._invoice.Amount_to_be_charged_immediately') %></th>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td><%= number_to_currency(one_time[:amount], :precision => 0) %></td>
      <th><%= I18n.t('txt.admin.views.account.subscription._invoice.Difference_between_your_current_plan') %></th>
    </tr>

    <% if after[:discount_from_manual] > 0 %>
    <tr>
      <td>-<%= number_to_currency(one_time[:discount_from_manual], :precision => 0) %></td>
      <th><%= I18n.t('txt.admin.views.account.subscription._invoice.Less_manual_discount') %></th>
    </tr>
    <% end %>

    <% if one_time[:discount_from_cycle] > 0 %>
    <tr>
      <td>-<%= number_to_currency(one_time[:discount_from_cycle], :precision => 0) %></td>
      <th><%= I18n.t('txt.admin.views.account.subscription._invoice.Less_cycle_discount') %></th>
    </tr>
    <% end %>

    <% if one_time[:discount_from_coupon] > 0 %>
    <tr>
      <td>-<%= number_to_currency(one_time[:discount_from_coupon], :precision => 0) %></td>
      <th><%= I18n.t('txt.admin.views.account.subscription._invoice.less_coupon_until', :date => after[:coupon_exhaustion_date].to_format)%></th>
    </tr>
    <% end %>
  </tbody>
</table>
