<% if display_plan_image %>
  <img src="/images/plan_plus.png" alt="plus"/>
<% end %>

<%= content_tag :div, :class => "plan-pricing" do %>
  <%= content_tag :p do %>
    <%= I18n.t('txt.admin.views.account.subscription._plus_details.you_are_about_to_upgrade_to_plus', :count => max_agents)%>
    <%= I18n.t("txt.admin.views.account.subscription._solo_details.you_will_be_billed_#{BillingCycleType[billing_cycle_type].name.downcase}", :amount_billed => "<strong>#{number_to_currency(net, :locale => ENGLISH_BY_ZENDESK)}</strong>")%>
  <% end %>

<% end %>

<%= content_tag :p, :class => "features" do %>
  <%= I18n.t('txt.admin.views.account.subscription._plus_details.the_plan_includes_additional_backup_options', :link_to_more => link_to_plus_plan_lightbox) %>
<% end %>

