<% content_for :sidebar do %>
  <% if current_account.subscription.manual_discount > 0 %>
    <% if current_account.subscription.is_sponsored? %>
      <%= div_side_box('This is a sponsored account') do %>
        <h5>Sponsored accounts are not subject to charges</h5>
        <p>Your account has been sponsored by Zendesk. This will happen if you either pay by a different means than credit cards, or in case you have made a special arrangement with Zendesk. This sponsorship expires on <%= current_account.subscription.manual_discount_expires_on %>.</p>
      <% end %>
    <% else %>
      <%= div_side_box('This is a discounted account') do %>
        <h5>There's an extra <%= current_account.subscription.manual_discount %>% discount on this account</h5>
        <p>Your account has a special discount of <%= current_account.subscription.manual_discount %>% by Zendesk. This applies to all charges made until the discount expires on <%= current_account.subscription.manual_discount_expires_on %>.</p>
      <% end %>
    <% end %>
  <% end %>

  <%= div_side_box(I18n.t('txt.admin.views.account.subscription._sidebar.pay_as_you_go')) do %>

    <% if !current_account.subscription.is_trial? %>
      <h5><%= I18n.t('txt.admin.views.account.subscription._sidebar.What_happens_if_I_upgrade') %></h5>
      <p>
        <%= I18n.t('txt.admin.views.account.subscription._sidebar.If_you_upgrade_or_downgrade') %>      </p>
      <p>
        <%= I18n.t('txt.admin.views.account.subscription._sidebar.If_you_cancel_your_Zendesk') %>      </p>
    <% else %>
      <p>
        <%= I18n.t('txt.admin.views.account.subscription._sidebar.You_do_not_commit_to') %>      </p>
      <p>
        <strong><%= I18n.t('txt.admin.views.account.subscription._sidebar.Can_I_change_subscription_plan') %></strong>
        <%= I18n.t('txt.admin.views.account.subscription._sidebar.Yes_You_can_upgrade_or') %></p>
      <p>
       <strong><%= I18n.t('txt.admin.views.account.subscription._sidebar.Educational_discount') %></strong>
       <%= I18n.t('txt.admin.views.account.subscription._sidebar.please_email_and_include_full_credentials', :email => (mail_to "contact@zendesk.com")) %>
      </p>
    <% end %>
  <% end %>
  <%= div_side_box(I18n.t('txt.admin.views.account.subscription._sidebar.any_questions')) do %>
    <p><%= I18n.t('txt.admin.views.account.subscription._sidebar.if_you_have_any_questions', :email => (mail_to "contact@zendesk.com"))%></p>
  <% end %>

<% end %>
