<% if display_plan_image %>
  <%= plan_header(current_account.subscription.plan_for_type(SubscriptionPlanType.Small)) %>
<% end %>

<%= content_tag :p do %>
  <%= I18n.t('txt.admin.views.account.subscription._solo_details.you_are_about_to_upgrade_to', :small_plan_name => small_plan_name)%>
  <%= I18n.t("txt.admin.views.account.subscription._solo_details.you_will_be_billed_#{BillingCycleType[billing_cycle_type].name.downcase}", :amount_billed => "<strong>#{number_to_currency(net, :locale => ENGLISH_BY_ZENDESK)}</strong>")%>
<% end %>

<%= content_tag :p, :class => "features" do %>
  <%= I18n.t('txt.admin.views.account.subscription._solo_details.almost_free_the_plan', :small_plan_name => small_plan_name)%>
<% end %>
