<% @page_title = I18n.t("txt.views.subscription_view.cancel_subscription.page_title") %>

<%= div_content do %>
  <h2><%= I18n.t('txt.views.subscription_view.cancel_subscription.cancel_success_message') %></h2>
<% end %>
