<div class="lv_action change_subscription">
  <%- if @after[:changed] || voice_optin_changed? -%>
    <!-- PAYING PLAN CHANGE -->
    <h1><%= I18n.t('txt.admin.views.account.subscription.confirm.Confirm_subscription_change') %></h1>
    <ul class="from">
      <h2><%= I18n.t('txt.admin.views.account.subscription.confirm.From') %></h2>
      <li><%= I18n.t('txt.admin.views.account.subscription.confirm.plan_name_from', :plan_name => "<strong>#{@before[:plan_name]}</strong>" ) %></li>
      <li><%= I18n.t('txt.admin.views.account.subscription.confirm.agents_from', :count => "<strong>#{@before[:max_agents]}</strong>")%></li>
      <li><%= I18n.t('txt.admin.views.account.subscription.confirm.billing_' + BillingCycleType[@before[:billing_cycle_type]].name) %></li>
      <% if @old_voice_optin_status %>
        <li><strong><%= I18n.t('txt.admin.views.account.subscription.confirm.Zendesk_Voice') %></strong></li>
      <% else %>
        <br/>
      <% end %>
        <br/>
    </ul>
    <ul class="to">
      <h2><%= I18n.t('txt.admin.views.account.subscription.confirm.To') %></h2>
      <li><%= I18n.t('txt.admin.views.account.subscription.confirm.plan_name_from', :plan_name => "<strong>#{@after[:plan_name]}</strong>" ) %></li>
      <li><%= I18n.t('txt.admin.views.account.subscription.confirm.agents_from', :count => "<strong>#{@after[:max_agents]}</strong>")%></li>
      <li><%= I18n.t('txt.admin.views.account.subscription.confirm.billing_' + BillingCycleType[@after[:billing_cycle_type]].name) %></li>
      <% if @new_voice_optin_status %>
        <li><strong><%= I18n.t('txt.admin.views.account.subscription.confirm.Zendesk_Voice') %></strong></li>
      <% else %>
        <br/>
      <% end %>
      <br/>
        <br/>
    </ul>

    <% if @after[:discount_from_coupon] > 0 %>
      <%= I18n.t('txt.admin.views.account.subscription.confirm.your_coupon_will_reduce_your_bill', :percentage => @after[:coupon_discount_percentage].round, :count => @after[:coupon_months_left].round)%><br/>
    <% end %>

    <% if [:another_coupon_active, :nonexistant, :not_applicable, :inactive].member?(@coupon_change.new_coupon_result) %>
      <%= @coupon_change.new_coupon_message(true).second %><br/>
    <% end %>

    <% if @coupon_change.previous_coupon_result == :invalidated %>
      <%= I18n.t('txt.admin.views.account.subscription.confirm.your_coupon_will_be_removed', :code => @before[:coupon_code], :count => @before[:coupon_months_left].round) %><br/>
    <% end %>

    <% if @one_time.present? %>
      <p>
        <strong><%= I18n.t('txt.admin.views.account.subscription.confirm.Please_note') %></strong>
        <%= I18n.t('txt.admin.views.account.subscription.confirm.since_you_are_in_the_billing_cycle_' + BillingCycleType[@before[:billing_cycle_type]].name) %>
        <%= I18n.t('txt.admin.views.account.subscription.confirm.there_are_days_left_you_will_be_charged', :count => days_left_in_cycle, :ammount => @one_time[:net])%>
      </p>
    <% end %>

    <% if @after[:billing_cycle_type] != @before[:billing_cycle_type] %>
      <p>
        <strong><%= I18n.t('txt.admin.views.account.subscription.confirm.Please_note') %></strong>
        <%= I18n.t('txt.admin.views.account.subscription.confirm.If_you_change_billing_cycle') %></p>
    <% end %>

    <% if @after[:max_agents] < @before[:max_agents] %>
      <% if @after[:max_agents] < current_account.billable_agents.size %>
        <% to_convert = current_account.agents_to_be_downgraded(@after[:max_agents]) %>
        <p>
          <strong><%= I18n.t('txt.admin.views.account.subscription.confirm.Please_note') %></strong>
          <%= I18n.t('txt.admin.views.account.subscription.confirm.The_plan_you_are_changing_allows_fewer_agents', :count => to_convert.size)%>
          <%= I18n.t('txt.admin.views.account.subscription.confirm.Consequently_the_following_agents_will') %>          <ul style="margin: 15px;">
            <% to_convert.each do |agent| %>
              <li><%= h(agent.name) %></li>
            <% end %>
          </ul>

          <%= I18n.t('txt.admin.views.account.subscription.confirm.Tickets_assigned_to_these_agents') %>        </p>
      <% end %>
    <% end %>

    <%=
       render :partial => 'invoice', :locals => {
          :before => @before,
          :after => @after,
          :one_time => @one_time
        } if @one_time.present?
    %>
  <% end %>

  <% if voice_opted_out_with_phone_number? %>
    <p>
      <center>
        <strong><%= I18n.t('txt.admin.views.account.subscription.confirm.Zendesk_Voice_with_colons') %></strong>
        <%= I18n.t('txt.admin.views.account.subscription.confirm.Removing_Zendesk_Voice_from_your') %>      </center>
    </p>
  <% end %>

  <%- if @after[:changed] || voice_optin_changed? -%>
    <form action="#subscription/confirmUpdate" method='post'>
      <% needs_terms = @after[:discount_from_coupon] > 0 && @existing_coupon_result != :still_applicable %>
      <% if needs_terms %>
        <input id="terms_agree" type="checkbox" name="terms_agree" value="true" required='required'>
        <label for="terms_agree">
          <%= I18n.t('txt.admin.views.account.subscription.confirm.i_agree_to_the_terms_and_conditions', :term_and_conditions_link => (link_to I18n.t('txt.admin.views.account.subscription.confirm.i_agree_to_the_terms_and_conditions_link'), "https://www.zendesk.com/company/customers-partners/#master-subscription-agreement", :target => "_blank"))%>
        </label>
      <% end %>

      <footer class="action">
        <%= link_to I18n.t('txt.admin.views.account.subscription.confirm.Cancel'), '#subscription/confirmUpdate/cancel', :class => 'close' %>
        <%= I18n.t('txt.admin.views.account.subscription.confirm.or') %>
        <%= submit_tag I18n.t('txt.admin.views.account.subscription.confirm.Confirm'), :disabled => needs_terms, :class => 'submit' %>
      </footer>
    </form>

  <%- else -%>

    <p><%= I18n.t('txt.admin.views.account.subscription.confirm.you_have_not_made_any_changes') %></p>

    <p><%= link_to I18n.t('txt.admin.views.account.subscription.confirm.close_this_window'), '#subscription/confirmUpdate/cancel', :class => 'close' %></p>

  <%- end -%>
</div>
