<%= content_tag :div, :class => 'lv_action', :style => "background-color: #FFF; padding: 0; width: 541px; height: 350px;"  do %>
  <div id="find_the_cvv">
    <img src="/images/find-the-cvv.png" alt=<%= I18n.t("txt.admin.views.account.subscription.cvv.description") %> />
    <div id="top_cvv">
      <h4><%= I18n.t('txt.admin.views.account.subscription.cvv.visa_mastercard_discover') %></h4>
      <p><%= I18n.t('txt.admin.views.account.subscription.cvv.visa_mastercard_discover_description') %></p>
    </div>
    <div id="bottom_cvv">
      <h4><%= I18n.t('txt.admin.views.account.subscription.cvv.american_express') %></h4>
      <p><%= I18n.t('txt.admin.views.account.subscription.cvv.american_express_description') %></p>
    </div>
  </div>
<% end %>
