<% content_for :script do %>
  var Page = {};
<% end %>

<% content_for :head do %>
  <!--[if IE 7]>
  <style>
    span.plan-vars-title,
    p.plan-pricing {  zoom: 1 !important; }
  </style>
  <![endif]-->
<% end %>

<% content_for :head do %>
  <!--[if lt IE 7]>
  <style>
    span.plan-vars-title,
    p.plan-pricing { height: 1px; }
  </style>
  <![endif]-->
<% end %>

<%= render :partial => 'sidebar' %>

<%= div_content do %>
    <% @page_title = I18n.t("txt.admin.views.account.subscription.downgrade.page_title") -%>
    <h2><%= I18n.t('txt.admin.views.account.subscription.downgrade.confirm_downgrade_from', :name_of_plan => @before[:plan_name])%></h2>
    <% form_options = {
         :url => {
           :action => :update,
           :voice_optin => params[:voice_optin]
         },
         :html => {:method => :put},
         :as => :subscription,
       }
     %>

    <%= form_for @downgraded_subscription, form_options do |subscription_form| %>
      <div id="downgrade-options">
        <h3><%= I18n.t('txt.admin.views.account.subscription.downgrade.If_you_downgrade_now_you') %></h3>
        <ul>
          <% downgrade_features_for_subscription(@downgraded_subscription).each do |feature| %>
            <li><%= feature %></li>
          <% end %>
          <% if @lost_features.include?(:has_categorized_forums?) -%>
            <li><strong><%= I18n.t('txt.admin.views.account.subscription.downgrade.Any_forum_categories_you_ve') %></strong></li>
          <% end %>
          <% if @lost_features.include?(:has_ticket_forms?) -%>
            <li><strong><%= I18n.t('txt.admin.views.account.subscription.downgrade.ticket_forms_removed') %></strong></li>
          <% end %>
          <li>
            <%= I18n.t('txt.admin.views.account.subscription.downgrade.You_will_be_limited_to_monitoring', :count => @downgraded_subscription.plan.max_monitored_twitter_handles) %>
            <strong><%= I18n.t('txt.admin.views.account.subscription.downgrade.Accounts_that_exceed_this_limit') %></strong>
          </li>
          <% if @lost_features.include?(:has_community_forums?) -%>
            <li><strong><%= I18n.t('txt.admin.views.account.subscription.downgrade.All_Question_and_Idea_forums') %></strong></li>
          <% end %>
          <% if @downgraded_subscription.plan_type == SubscriptionPlanType.SMALL %>
            <% if current_account.phone_numbers.size < 2 %>
              <li><%= I18n.t('txt.admin.views.account.subscription.downgrade.Ability_to_provision_multiple_Zendesk') %></li>
            <% else %>
              <li><%= I18n.t('txt.admin.views.account.subscription.downgrade.You_will_be_limited_to') %>
                  <p><%= I18n.t('txt.admin.views.account.subscription.downgrade.Choose_the_phone_number_you') %></p>
                  <%= select nil, :phone_number,
                    current_account.phone_numbers.collect {|p| [ p.number, p.id ] },
                    { :prompt => I18n.t('txt.admin.views.account.subscription.downgrade.Select_a_phone_number') } %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <h3><%= I18n.t('txt.admin.views.account.subscription.downgrade.Also_downgrading_may_trigger_significant') %></h3>
        <ul>
          <% if @lost_features.include?(:has_permission_sets?) %>
            <li>
              <%= I18n.t('txt.admin.views.account.subscription.downgrade.The_plan_you_are_changing') %>
            </li>
            <li>
              <%= I18n.t('txt.admin.views.account.subscription.downgrade.The_plan_you_are_changing_not_light_agents') %>            </li>
          <% end %>
          <li>
            <%= I18n.t('txt.admin.views.account.subscription.downgrade.If_you_ve_reduced_the') %></li>
        </ul>
          <div class="downgrade-buttons">
            <div class="home">

              <%= link_to I18n.t('txt.admin.views.account.subscription.downgrade.do_not_downgrade'), home_path -%>
            </div>
              <div class="confirm">
                  <%= subscription_form.hidden_field :plan_type %>
                  <%= subscription_form.hidden_field :billing_cycle_type %>
                  <%= subscription_form.hidden_field :max_agents %>

                  <%= submit_tag I18n.t('txt.admin.views.account.subscription.downgrade.Downgrade_my_account') %>
              </div>
          </div>

        <div class="clear">&nbsp;</div>
      </div>
    <% end %>

    <table id="downgrade" class="plan-matrix">
      <tr>
        <td>
           <div class="plan" id="plan-3">
              <div class="plan-head">
                <p class="current-plan"><%= I18n.t('txt.admin.views.account.subscription.downgrade.Your_current_plan') %></p>
                <div id="subscription-plan-variables">

                  <h4><%= I18n.t('txt.admin.views.account.subscription.downgrade.Agents') %></h4>
                  <p id="billing-cycle-max-agent-count"><%= @before[:max_agents] %></p>
                  <div class="clear"></div>

                  <h4><%= I18n.t('txt.admin.views.account.subscription.downgrade.Price') %></h4>
                  <p id="billing-cycle-undiscounted-price"><%= number_to_currency @before[:amount] %></p>
                  <div class="clear"></div>

                  <h4><%= I18n.t('txt.admin.views.account.subscription.downgrade.Discount') %></h4>
                  <p id="billing-cycle-discounted-amount"><%= number_to_currency @before[:discount] %></p>
                  <div class="clear"></div>
                  <hr />

                  <div class="left">
                    <div id="billing-cycle-total"><%= I18n.t('txt.admin.views.account.subscription.downgrade.Total') %></div>
                    <div id="billing-cycle-frequency">
                      <%= I18n.t('txt.views.account.subscription.upgrade_from_trial.billed_' +  BillingCycleType[@after[:billing_cycle_type]].name)%>
                      <%#= ", #{@downgraded_subscription.cycle_discount_percent}% discount." if @downgraded_subscription.cycle_discount_percent > 0 %>
                      </div>
                  </div>
                  <div id="billing-cycle-price"><%= number_to_currency @before[:net] %></div>

                  <div class="clear"></div>

                </div>

              </div> <!-- plan-head -->
            </div> <!-- plan end -->
        </td>
      </tr>
    </table>
    <br clear="left" />
  <% end %>

  <%= div_content do %>
    <%= content_tag :h2, I18n.t('txt.admin.views.account.subscription.downgrade.Quick_Answers') %>
      <h3><%= I18n.t('txt.admin.views.account.subscription.downgrade.How_soon_will_my_downgrade') %></h3>
      <p><%= I18n.t('txt.admin.views.account.subscription.downgrade.As_soon_as_you_give') %></p>
      <h3><%= I18n.t('txt.admin.views.account.subscription.downgrade.When_will_my_billing_get') %></h3>
      <p><%= I18n.t('txt.admin.views.account.subscription.downgrade.If_you_re_half_way') %></p>
  <% end %>
