<div class="plus_features">
<h4><%= image_tag '/images/plan_plus.png' %></h4>

<% # Remember - this is the same text as on www.zendesk.com/signup - change it here, you must change it on the site as well %>

<ul>
  <li>With the Plus edition we will host your SSL certificate so you can run SSL in your own domain.</li>
  <li>Create views and macros available to specific groups only and let individual agents create their own personal views and macros.</li>
  <li>You will have access to a sandbox environment where you can experiment with business rules and settings without disrupting your production environment.</li>
  <li>A real time reporting feed with ticket data and ticket metrics can be piped directly into your corporate business intelligence system, cloud based BI service or just Excel for analyzing and data massaging.</li>
  <li>You will be able to retrieve full XML backups of your entire help desk content.</li>
  <li>Finally the Plus edition allows you to work within multiple time zones and end-user languages simultaneously.</li>
</ul>
</div>
