<% content_for :sidebar do %>
  <%= div_side_box('Any questions?') do %>
    <p>If you have any questions about upgrading or downgrading your subscription, please contact <%= mail_to "contact@zendesk.com" -%> and we'll get back to you the same day.</p>
  <% end %>
<% end %>

<%= div_content do %>
  <%= render :partial => 'boosted' if boosted?(current_account) %>
  <h2>Account Sponsorship</h2>
  <p>
    Your account has been sponsored by Zendesk. <strong>Sponsored accounts are
    not subject to charges. You can not make changes to this account's
    subscription.</strong> This will happen if you use a payment method other
    than credit card. This sponsorship expires on
    <%= current_account.subscription.manual_discount_expires_on %>.
  </p>
  <p>Contact <%= link_to "Zendesk support", "mailto:contact@zendesk.com" %> for further assistance.</p>
<% end %>

