<h2><%= I18n.t('txt.admin.views.tickets.merge._error.Error') %></h2>
<p><%= raw message %><br />
  <%= I18n.t('txt.admin.views.tickets.merge._error.please_close_this_window', :close_this_window_link => I18n.t('txt.admin.views.tickets.merge._error.please_close_this_window_link'))%></p>
