<% if tickets.any? %>
  <div class="column">
    <h4><%= title %></h4>
    <ul>
      <% tickets.each do |ticket| %>
        <li><%= render :partial => "ticket", :locals => { :ticket => ticket, :link => true, :detailed => true } %></li>
      <% end %>
    </ul>
  </div>
<% end %>
