<div class="ticket_badge">#<%= ticket.nice_id %></div>
<% if detailed %>
  <div class="ticket_date">
    <%= format_date(ticket.created_at) %> <%= ticket.requester.name %>
  </div>
  <% if link %>
    <%= link_to(h(ticket.title(95)), merge_path(:source_ids => source_ids_string, :target_id => ticket.nice_id, :background => params[:background]), :"data-target-id" => ticket.nice_id, :class => "winner_selector", :dir => "auto") %>
  <% else %>
    <h3><%= h(ticket.title(95)) %></h3>
  <% end %>
<% end %>
