<div id="ticket_merge" class="merge_window">
  <div id="ticket_loser" class="merge_loser clearfix">
    <h2><%= I18n.t('txt.admin.views.tickets.merge.new.Merge_ticket') %></h2>
    <div class="ticket_card">
      <div class="card_header clearfix">
        <%= render :partial => "ticket", :collection => @sources, :locals => { :link => false, :detailed => !is_bulk_merge? } %>
      </div>
    </div>
  </div>
  <div id="ticket_winner" class="merge_winner clearfix">
    <%= form_tag(merge_path(:source_ids => source_ids_string, :background => params[:background]), {:method => :get, :id => 'merge_form'}) do %>
      <% unless current_account.is_collaboration_enabled? || current_account.has_comment_email_ccs_allowed_enabled? || current_account.has_ticket_followers_allowed_enabled? %>
        <p><%= I18n.t('txt.admin.views.tickets.merge.new.Tickets_can_be_merged_into') %></p>
        <% if @requested.empty? %>
          <p><%= I18n.t('txt.admin.views.tickets.merge.new.you_cant_merge_this_ticket_because_no_unsolved_tickets', :name_of_requester => "<strong>#{h(@sources.first.requester.name)}</strong>") %></p>
        <% end %>
        <% if current_user.is_admin? %>
          <p><%= I18n.t('txt.admin.views.tickets.merge.new.to_merge_into_tickets_requested_from_other_users_v2') %> <strong><a target="_blank" href="<%= I18n.t('txt.admin.views.tickets.merge.new.learn_more_about_ccing_link') %>"><%= I18n.t('txt.admin.views.tickets.merge.new.learn_more_about_ccing_v2')%></a></strong>.</p>
        <% end %>
      <% end %>
      <label for="target_id"><%= I18n.t('txt.admin.views.tickets.merge.new.Enter_ticket_ID_to_merge') %></label>
      <%= text_field_tag :target_id, '' %>
      <%= submit_tag I18n.t('txt.admin.views.tickets.merge.new.Merge'), :class => 'buttonsubmit button' %>
    <% end %>
    <% if @requested.any? || @current_view.any? || @recent.any? %>
      <div id="winner_suggestions">
        <div class="option">
          <hr />
          <span class="border">
            <span class="text"><%= I18n.t('txt.admin.views.tickets.merge.new.or') %></span>
          </span>
        </div>
        <label><%= I18n.t('txt.admin.views.tickets.merge.new.Select_one_of_the_following') %></label>
        <div id="suggestion_columns">
          <% if is_bulk_merge? %>
            <%= render :partial => 'selector', :locals => { :tickets => @current_view, :title => I18n.t('txt.admin.views.tickets.merge.new.tickets_in_current_views') } %>
          <% else %>
            <%= render :partial => 'selector', :locals => { :tickets => @requested, :title => I18n.t('txt.admin.views.tickets.merge.new.name_tickets', :first_name => @sources.first.requester.first_name)} %>
          <% end %>
          <%= render :partial => 'selector', :locals => { :tickets => @recent, :title => I18n.t('txt.admin.views.tickets.merge.new.your_recently_viewed_tickets') } %>
        </div>
      </div>
    <% end %>
  </div>
<div>
