<div id="ticket_merge" class="merge_window">
  <%
    if params[:background] == 'true'
      form_type = :form_remote_tag
      form_options = { url: merge_path(background: true), success: "$z('tickets/merge/show').showMergeJobStatus(request);" }
    else
      form_type = :form_tag
      form_options = merge_path
    end
  %>
  <%= send(form_type, form_options) do %>
    <%= hidden_field_tag :source_ids, source_ids_string %>
    <%= hidden_field_tag :target_id, @target.nice_id %>

    <!-- Source Ticket -->
    <div id="ticket_loser" class="merge_loser clearfix">
      <h2><%= I18n.t('txt.admin.views.tickets.merge.show.Merge_ticket') %></h2>
      <div class="review">
        <p>
          <!-- You are about to merge ticket #Source into ticket #Target -->
          <strong><%= you_are_about_to_merge_or_merge_in_bulk %></strong>
        </p>
      </div>
      <div class="ticket_card">
        <!-- List of source tickets -->
        <div class="card_header clearfix">
          <%= render partial: "ticket", collection: @sources, locals: { link: false, detailed: !is_bulk_merge? } %>
        </div>

        <!-- New comment section -->
        <div class="card_body">
          <p>
            <%= this_or_these_tickets_will_be_closed %>
            <%= text_area_tag :source_comment, default_source_comment, style: 'width:95%', rows: "3" %>
          </p>

          <!-- Comment visibility section -->
          <p>
            <% if @comment_can_be_public %>
              <!-- Requester/and CCs can see this comment -->
              <%= check_box_tag 'source_is_public', '1', current_account.is_comment_public_by_default? %>
              <%= ccs_and_or_requester_can_see_this_comment %>
            <% else %>
              <!-- This comment will be private. -->
              <%= I18n.t('ticket_fields.merge.private_comment') %>
              <%= hidden_field_tag 'source_is_public', '0' %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <!-- Target Ticket -->
    <div id="ticket_winner" class="merge_winner clearfix">
      <div class="ticket_card">

        <!-- List of target tickets -->
        <div class="card_header">
          <%= render partial: "ticket", locals: { ticket: @target, link: false, detailed: true } %>
        </div>

        <!-- New comment section -->
        <div class="card_body">
          <p>
            <% if new_collaborator_names.present? %>
              <%= I18n.t('txt.admin.views.tickets.merge.show.users_will_be_added_as_cc', user_who_will_be_added: new_collaborator_names) %>
            <% elsif new_follower_names.present? || new_email_cc_names.present? %>
              <%= I18n.t('txt.admin.views.tickets.merge.show.collaboration.collaborators_added') %>
              <% if new_email_cc_names.present? %>
                <%= I18n.t('txt.admin.views.tickets.merge.show.collaboration.email_ccs_added', help_url: I18n.t('txt.admin.views.tickets.merge.show.collaboration.email_ccs.help_url'), names_list: new_email_cc_names) %>
              <% elsif new_follower_names.present? %>
                <%= I18n.t('txt.admin.views.tickets.merge.show.collaboration.followers_added', help_url: I18n.t('txt.admin.views.tickets.merge.show.collaboration.followers.help_url'), names_list: new_follower_names) %>
              <% end %>
            <% else %>
              <%= I18n.t('txt.admin.views.tickets.merge.show.This_ticket_will_be_updated') %>
            <% end %>

            <%= text_area_tag :target_comment, default_target_comment, style: 'width:95%', rows: "3" %>
          </p>

          <!-- Comment visibility section -->
          <p>
            <% if @comment_can_be_public %>
              <!-- Requester/and CCs can see this comment -->
              <%= check_box_tag 'target_is_public', '1', current_account.is_comment_public_by_default? %>
              <%= ccs_and_or_requester_can_see_this_comment %>
            <% else %>
              <!-- This comment will be private. -->
              <%= I18n.t('ticket_fields.merge.private_comment') %>
              <%= hidden_field_tag 'source_is_public', '0' %>
            <% end %>
          </p>
        </div>
      </div>

      <%= submit_tag I18n.t('txt.admin.views.tickets.merge.show.Confirm_and_Merge'), class: 'buttonsubmit button confirm' %>
    </div>
  <% end %>
</div>
