<% if has_feature?(:report_feed) %>
  <p>
    <%= export_intro_text %>
    <%= link_to I18n.t('txt.admin.views.reports.tabs.overview.learn_more_label'),
                I18n.t('txt.contextual.references.reports.monitoring.url'),
                :target => '_blank' %>
  </p>
  <div class="form_element export_list">
    <div class="form_field">

      <% unless current_account.is_sandbox? %>
          <%= render :partial => "reports/tabs/exports/voyager" %>
      <% end %>

      <% if show_xml_export_option? %>
        <div class="item<%= " item_first" if current_account.is_sandbox? %>">
          <div class="item-info title">
            <%= I18n.t('txt.admin.views.reports.export.full_xml_report_label') %>
          </div>

          <div class="item-actions">
            <%= xml_export_actions %>
          </div>
        </div>
      <% end %>

      <div class="item nobottom">
        <div class="item-info title">
          <%= I18n.t('txt.admin.views.reports.export.user_xml_export_label') %>
        </div>

        <div class="item-actions">
          <%= user_xml_export_actions %>
        </div>
      </div>

      <% if !show_xml_export_option? %>
          <p class="warning" id="xml_export_warning">
            <strong><%= I18n.t('txt.admin.views.reports.export.full_xml_not_supported') %></strong>
            <%= link_to I18n.t('txt.admin.views.reports.export.learn_about_export_options'),
                        I18n.t('txt.contextual.references.reports.monitoring.url'), :target => '_blank' %>
          </p>
      <% end %>
    </div>
  </div>

  <%= render :partial => "settings/account/export_whitelisted_domain" if current_user.is_account_owner? %>
  <%= render :partial => "settings/account/export_disable"            if current_user.is_account_owner? %>
<% end %>

<% if !has_feature?(:report_feed) %>
<div class="form_element about">
  <label><%= I18n.t('txt.admin.views.reports.export.about_label') %></label>
  <div class="form_field">
    <p><%= I18n.t('txt.admin.views.reports.export.only_available_plus_enterprise', :good_data_for_zendesk => "<a href=\"#{I18n.t('txt.admin.views.reports.export.good_data_zendesk_link')}\" target=\"_new\">#{I18n.t('txt.admin.views.reports.export.good_data_zendesk_label')}</a>") %>
    <%= link_to content_tag(:strong, I18n.t('txt.admin.views.reports.display_report.upgrade_label')), subscription_settings_path %></p>
    <p class="gooddata">
      <img src="/images/good_data_teaser.png" />
    </p>
  </div>
</div>
<% end %>
