<% if (current_user.can?(:moderate, Entry) || current_user.can?(:view, Report)) && current_account.has_forum_statistics_enabled? %>

  <%-# this is where the subsections get loaded -%>
  <div id="content_entries">
    <div class="frame columns"></div>
  </div>

<% else %>
  <div class="upgrade">
    <div class="box_content">
      <div class="button_div">
        <% if current_account.has_forum_statistics? %>
          <a href="settings/portal">
            <div class="button primary">
              <%= I18n.t('txt.admin.views.reports.tabs.forum_analytics.learn_more') %>
            </div>
          </a>
        <% else %>
          <a href="settings/account#subscription/plan/large">
            <div class="button primary">
              <%= I18n.t('txt.admin.views.reports.tabs.forum_analytics.upgrade_now') %>
            </div>
          </a>
        <% end %>
      </div>
      <div class="description">
        <p><label class="title"><%= I18n.t('txt.admin.views.reports.tabs.forum_analytics.forum_analytics_label') %></label></p>
        <p><%= I18n.t('txt.admin.views.reports.tabs.forum_analytics.forum_analytics_text') %></p>
      </div>
    </div>
    <div id="i18n_forum_stats_example">
      <%= image_tag('analytics/disForums.png', :class => 'disabled_image') %>
      <div id="top"><%= I18n.t('txt.admin.views.reports.tabs.forum_analytics.summary_for_last_30_days') %></div>
      <div id="bottom"><%= I18n.t('txt.admin.views.reports.tabs.forum_analytics.relevant_topics_in_context') %></div>
    </div>
  </div>
<% end %>
