<div class="intro">
   <%= I18n.t('txt.admin.views.reports.tabs.overview.metrics_overview_intro_text2') %>
</div>

<div class="stats_summary_container">
  <div class="ticket_stats">
    <div class="stats_summary_header">
      <span class="stats_summary_title"><a href="#reports"><%= I18n.t('txt.admin.views.reports.tabs.overview.ticket_stats_label') %></a></span>
      <span class="stats_summary_days"><%= I18n.t('txt.admin.views.reports.tabs.search.last_30_days_label') %></span>
    </div>

    <div class="stats_summary">
      <%= sparkline_containers [
          { :title => I18n.t('txt.admin.views.reports.tabs.overview.new_tickets_label'),           :id => 'tickets_created' },
          { :title => I18n.t('txt.admin.views.reports.tabs.overview.solved_tickets_label'),        :id => 'tickets_solved' },
          { :title => I18n.t('txt.admin.views.reports.tabs.overview.first_response_in_hrs_label'), :id => 'tickets_first_response_time' },
          { :title => I18n.t('txt.admin.views.reports.tabs.overview.satisfaction_label'),          :id => 'tickets_satisfaction' }
        ] %>
    </div>
    <div class="clear"></div>
  </div>

  <% if can_access_report_tab? "forum_analytics" %>
    <div class="forum_stats">
      <div class="stats_summary_header">
        <span class="stats_summary_title"><a href="#forum_analytics"><%= I18n.t('txt.admin.views.reports.tabs.overview.forum_stats_label')%></a></span>
        <span class="stats_summary_days"><%= I18n.t('txt.admin.views.reports.tabs.search.last_30_days_label') %></span>
      </div>

      <div class="stats_summary">
        <%= sparkline_containers [
            { :title => I18n.t('txt.admin.views.forums.stats_summary.views_label'),             :id => 'forum_views' },
            { :title => I18n.t('txt.admin.views.forums.stats_summary.topics_label'),            :id => 'forum_topics' },
            { :title => I18n.t('txt.admin.views.reports.tabs.overview.total_searches_label'),   :id => 'search_total_searches' },
            { :title => I18n.t('txt.admin.views.reports.tabs.overview.tickets_created_label'),  :id => 'search_tickets_created' }
          ] %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
</div>

<div class="advanced">
  <div class="images">
    <div class="right_image">
      <div id="i18n_img_analytics">
        <a href="<%= get_gooddata_url %>" target="_blank">
          <%= image_tag('analytics/analytics.png', :class => 'gooddata') %>
          <h3><%= I18n.t('txt.admin.views.reports.insights.title') %></h3>
          <p><%= I18n.t('txt.admin.views.reports.insights.description') %></p>
        </a>
      </div>
      <% @good_data_link = '<a href="' + get_gooddata_url + '" target="_blank">' + I18n.t("txt.admin.views.reports.export.insights_zendesk_label") + '</a>'%>
      <p><%= I18n.t('txt.admin.views.reports.tabs.overview.learn_about_insights_zendesk', :gooddata_zendesk => @good_data_link.html_safe)%></p>
    </div>
    <div class="left_image">
      <div id="i18n_img_benchmark">
        <a href="http://www.zendesk.com/benchmark" target="_blank">
          <%= image_tag('analytics/benchmark.png', :class => 'benchmark') %>
          <h3><%= I18n.t('txt.admin.views.reports.benchmark.title') %></h3>
          <p><%= I18n.t('txt.admin.views.reports.benchmark.description') %></p>
        </a>
      </div>
      <p>
        <%= I18n.t('txt.admin.views.reports.tabs.overview.compare_satisfaction_ratings') %>
        <a href="http://www.zendesk.com/benchmark" target="_blank"><%= I18n.t('txt.admin.views.reports.tabs.overview.learn_more_label') %></a>
      </p>
    </div>
  </div>
</div>
