<p>
   <%= I18n.t('txt.admin.views.reports.tabs.overview.metrics_overview_intro_text2') %>
</p>

<% if current_user.can?(:manage, Report) %>
<div class="item">
  <div class="tab-top-right">
    <p><%= link_to I18n.t('txt.admin.views.reports.reports.add_report_label'), new_report_path, :class => 'add' %></p>
  </div>
</div>
<% end %>

<div class="hover-actions">
  <% @reports.each do |report| %>
  <div class="item <%= 'nobottom' if report.id == @reports.last.id %>">
    <div class="item-info">
      <%= link_to h(report.title), report_path(report) %>
    </div>

    <% if current_user.can?(:manage, Report) %>
    <div class="item-actions">
      <%= link_to I18n.t('txt.admin.views.reports.reports.clone_label'), {:action => 'new', :copy_id => report} %>
      <span class="delim">|</span>
      <%= link_to I18n.t('txt.admin.views.reports.reports.edit_label'), edit_report_path(report.id), { :class => 'edit_this', :rel => 'edit' } %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
