{{#statEntries}}
<tr>
  <td class="string"> {{string}} </td>
  <td class="searches"> {{searches}} </td>
  <td class="avg_results"> {{avg_results}} </td>
  <td class="ctr"> {{ctr}} </td>
  <td class="tickets"> {{tickets}} </td>
  <td class="top_entry"> <a href="/entries/{{top_entry_id}}" title="{{title}}"> {{link}} </a> </td>
</tr>
{{/statEntries}}
