<% if (current_user.can?(:moderate, Entry) || current_user.can?(:view, Report)) && current_account.has_search_statistics_enabled? %>
  <div class="stats_summary_container frame">
    <div class="stats_summary_header">
      <span class="stats_summary_title"><%= I18n.t('txt.admin.views.reports.tabs.search.end_user_searches') %></span>
      <span class="stats_summary_days"><%= I18n.t('txt.admin.views.reports.tabs.search.last_30_days_label') %></span>
    </div>

    <div class="stats_summary">
      <%= sparkline_containers [
          { :title => I18n.t('txt.admin.views.reports.tabs.search.total_label'),            :id => 'searches' },
          { :title => I18n.t('txt.admin.views.reports.tabs.search.with_no_results_label'),  :id => 'no_results' },
          { :title => I18n.t('txt.admin.views.reports.tabs.search.with_no_clicks_label'),   :id => 'no_clicks' },
          { :title => I18n.t('txt.admin.views.reports.tabs.search.tickets_created_label'),  :id => 'tickets' }
        ] %>
    </div>
    <div class="clear"></div>
    <div id="detailed_stats_graph_container">
      <div id="detailed_stats_graph_title_section">
        <span id="detailed_stats_graph_title"></span> <span id="account_wide_total_section"></span>
      </div>
      <div id="stats_graph_select_menu"></div>
      <div id="detailed_stats_graph" style="width:95%;height:175px;"></div>
      <div id="percentage_stats_graph" style="width:95%;height:175px;display:none;"></div>
    </div>
  </div>
  <div id="search_string_stats" class="tickets_table">
    <div class="stats_summary_header">
      <div id="search_string_links">
        <span id="search_string_feedback_checkbox">
          <%= check_box_tag('feedback_tag', 'feedback', false) %> <label><%= I18n.t('txt.admin.views.reports.tabs.search.feedback_tab_only_label') %></label>
          <span class="delim">|</span>
        </span>
        <label><%= link_to I18n.t('txt.admin.views.reports.tabs.search.csv_label'), "/csv_exports/search_stats", "data-tracking-module" => "Search analytics", "data-tracking-activity" => "CSV Export", :class => "tracked" %></label>
      </div>

      <span class="stats_summary_description"><%= I18n.t('txt.admin.views.reports.tabs.search.top_500_users') %></span>
      <span class="stats_summary_extra_description"></span>
      <hr/>

      <div class="search_string_total">
        <span id="pagination_total"></span>
      </div>
    </div>


    <table class="tickets">
      <script type='application/mustache' id='search_stats_template'>
        <%= render(:partial => 'reports/tabs/search_stats.html.mustache') %>
      </script>
      <colgroup>
        <%= analytics_columns %>
      </colgroup>
      <thead>
        <tr>
          <%= analytics_view_table_header %>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="show_more" class="show_more_bar">
      <%= link_to I18n.t('txt.entries.list.more'), '#' %>
    </div>
  </div>

<% else %>
  <div class="upgrade">
    <div class="box_content">
      <div class="button_div">
        <% if current_account.has_search_statistics? %>
          <a href="settings/portal">
            <%= I18n.t('txt.admin.views.reports.tabs.search.learn_more') %>
          </a>
        <% else %>
          <a href="settings/account#subscription/plan/large"><%= image_tag('analytics/btnUpgrade.png') %></a>
        <% end %>
      </div>
      <div class="description">
        <p><label class="title"><%= I18n.t('txt.admin.views.reports.tabs.search.search_analytics_label') %></label></p>
        <p><%= I18n.t('txt.admin.views.reports.tabs.search.search_analytics_text') %></p>
      </div>
    </div>
    <p><%= image_tag('analytics/disSearch.png', :class => 'disabled_image') %></p>
  </div>
<% end %>
