@import "../../mixins.css.scss";

/*mixins*/
.two_column {

  &.twitter .form_field .link_enable{
    color:#0088cc! important;
  }

  textarea {
    border: 1px solid #C3C3C3;
  }

  select {
     font-size: 12px;
     height: 25px;
   }

   input[type=radio] {
     margin-right: 3px;
   }

  p.tabbed_intro {
    @include grey_container;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #BBB;
    margin-top: 0px;
  }

  .element_group {
    margin-right: 120px;

  }

  .form_element,
  .form_element_without_separator {
    padding: 17px 0;

    & + .form_element {
      border-top: 1px dotted #CCC;
      overflow: auto;
    }

    div.enable_checkbox {
      margin-top: 3px;
    }
    div.enable_radioboxes {
      margin-top: 5px;
      font-weight: bold;
    }

    label.no_float {
      float: none;
    }

    label, .label {
      line-height: 17px;
      float: left;
      padding: 5px 0 10px 0;
      width: 170px;
      color: #4c4c4c;
      white-space: normal;

      html[data-rtl-language='true'] & {
        float: right;
        text-align: right;
      }

      font: {
        weight: bold;
        size: 13px;
      }

      &.block {
        float: none;
        display: block;

        html[data-rtl-language='true'] & {
          float: none;
        }
      }

      &.option {
        color: #777;
        font-weight: normal;
        float: none;
        display: inline;
      }

      &.two_line {
        margin-top: -2px;
      }
    }

    label[for] { cursor: pointer; }

    h4 {
      color: #4C4C4C;
    }

    .checkbox {
      float: none;
      display: inline;

      html[data-rtl-language='true'] & {
        float: none;
      }
    }

    .form_field.multiple {
      margin-top: 20px;
     }

    .form_field.no_margin {
      margin-left: 0px;
    }

    .form_field.blue_links_no_bold_margin {
      a {
        color: #1f73b7 !important;
        font-weight: normal !important;
      }

      p {
        margin: 12px 20px 11px 0;
      }
    }

    .form_field {
      margin-left: 210px;

      html[data-rtl-language='true'] & {
        margin-left: 0;
        margin-right: 210px;
        direction: rtl;
        text-align: right;
      }

      label,
      .label {
        width: auto;
        min-width: 170px;
      }

      .form_field_header_message {
        margin-bottom: 10px;
      }

      textarea {
        &#user_details, &#user_notes, &#user_signature_value {
          html[data-rtl-language='true'] & {
            text-align: right;
          }
        }
      }

      a {
        font-weight: bold;

        &.external-link {
          color: #1a6690 !important;
          font-weight: normal !important;
        }

        &.action {
          font-size: 9pt;
          font-weight: bold;
          padding-right: 0;
          &:hover,
          &:active {
            text-decoration: underline;
          }
        }
      }

      select {
        margin-top: 2px;

        &[disabled] {
          color: gray;
        }
      }

      & + .form_field {
      margin-top: 20px;
      }

      h4 {
        font-size: 13px;
        padding-bottom: 5px;
        margin-top: 5px;
      }

      .color_selector {
        float: left;
        margin-right: 10px;

        input[type="text"] {
          width: 110px;
          font-size: 11px;
          font-family: Arial, Helvetica, sans-serif;
        }

        label {
          float: none;
          width: inherit;
          font-weight: normal;
          font-size: 12px;
        }

        div.help-bubble div.bubble-content {
          margin-bottom: 0px;
        }
      }

      div.header_logo {
        @include grey_container;
        float: left;
        padding: 10px;
      }
      div.input_controls {
        left: 25px;
        position: relative;
        top: 19px;
      }

      .sub_setting {
        border-top: 1px dotted #CCC;
        margin-top: 20px;
        padding-top: 15px;
        padding-left: 15px;

        html[data-rtl-language='true'] & {
          padding-left: 0;
          padding-right: 15px;
        }

        .form_field {
          margin-left: 0;

          html[data-rtl-language='true'] & {
            margin-right: 0;
          }
        }

        label {
          float: none;
          display: inline;
          margin-bottom: 7px;
          padding-top: 0px;
          &.block { display: block;}
        }
        p {
          font-weight: normal;
        }
      }

      table td {
        font: {
          weight: bold;
        }
      }

      textarea {
        font-size: 12px;
        color: #333;
      }

      div.textarea {
        border: 1px solid #b7b7b7;
        background-color:#fbfbfb;
        margin: 5px 0px 10px;
        font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
        font-size:13px;
        color: #666;
        padding: 5px;
        margin-bottom: 10px;
      }

      div.radio label {
        float: none;
        display: inline;
        margin-bottom: 7px;
        padding-top: 0px;
        padding-left: 2px;
        font-weight: normal;
        &.block { display: block;}
      }

      label.normal {
        padding-right: 5px;
        font-weight: normal;
        font-size: 12px;
      }

      .horizontal {
        display: inline;
        margin-right: 20px;
        font-size: 13px;
        font-weight: bold;

        html[data-rtl-language='true'] & {
          margin-left: 20px;
          margin-right: 0;
        }

        input[type=radio] {
          margin-top: 5px;
        }
      }

      input[type=checkbox] {
        margin-right: 5px;

        html[data-rtl-language='true'] & {
          margin-left: 5px;
          margin-right: 0;
        }
      }

      input[type=text], input[type=password] {
        width: 300px;
        font-size: 12px;
      }

      input[type=text], input[type=password] {
        html[data-rtl-language='true'] & {
          text-align: right;
        }
      }

      input {
        line-height: 18px;
        padding: 4px;
        font-size: 13px;
      }

      input[type=file] {
        font-size: inherit;
        font-family: Arial, Helvetica, sans-serif;
      }

      p {
        color: #666;
        margin: 5px 0 0 0;
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 3px;
      }

      .warning{
        background: #FFFDE1 url(/classic/images/warning_icon.png) 15px 15px no-repeat;
        padding: 15px 15px 15px 45px;
        @include rounded-corners(4px);
        border: solid 2px darken(#FFFDE1, 8%);
        color: #333;

        html[data-rtl-language='true'] & {
          padding: 15px 45px 15px 15px;
          background-position: right 15px top 15px;
        }
      }

      ul {
        padding-top: 5px;
        font-weight: normal;
        font-size: 12px;
      }

      ol {
        padding-left: 35px;

        li {
          padding: 0;
          margin: 5px 11px 5px 0;
        }
      }
    }

    &.single_column {
      label, .label { float: none; }
      .form_field { margin-left: 0; }
    }
  }

  .rule_owner_selector{
    margin-bottom: 8px;
    font-weight: bold;
  }
  #preview_twitter_search{
    font-size: 13px;
    text-decoration: underline;
  }
  .vivid_delete{
    color: #DD001C;
  }
}

form.two_column .form_element:last-child {
  border-bottom: none;
}

p.warning {
  @include rounded-corners(4px);

  background: #FFFDE1 url(/classic/images/warning_icon.png) 15px 15px no-repeat;
  padding: 15px 15px 15px 45px;
  color: #333;
}

/*Page Specific*/

body.personalize select {
  min-width: 200px;
}

body.security div#hosted_ssl div#upsell-message {
  margin: 15px 0 0 0;
}

.content .actions{
  border-top: 1px dotted #ccc;
  margin-left: 208px;
  padding-top: 10px;
  overflow: hidden;
  text-align: right;
  color: #999;

  html[data-rtl-language='true'] & {
    text-align: left;
  }

  input, select {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 13px;
    &.save {
      font-weight:bold;
    }
    & + input, & + select {
      margin-right: 20px;
    }
  }
  a.remove {
    margin-top: 5px;
    padding: 1px 3px;
  }
  select {
    height: 30px;
  }
}

.element_group.no_right_margin {
  margin-right: 0;
}

.not_yet_released { display: none; }

.palette {
  width: 100px !important;
  border: solid #F4F4F4 1px !important;
}

body.account-show div#settings_mobile_preview {
  margin-bottom: 30px;
}

#audits table.tickets{
  td:first-child {
    white-space: nowrap;
  }
  td:nth-child(1n+5) {
    white-space: normal;
  }
}

body.email .form_element{
  img {
    vertical-align: middle;
  }

  .connect {
    display: block;
    text-align: center;
    background-color: #EEE;
    padding: 15px;
    @include border-radius(5px);
  }
}

.form_element_top {
  border-top: 1px dotted #CCC;
}

.beta-indicator {
  font-size: 80%;
  text-transform: uppercase;
  color: #8D8D8D;
}

#comment_formatting_options {
  input, label {
    float: left;
  }
  label {
    margin-left: 4px;
  }
  input[type=radio] {
    margin-top: 8px;
  }
  #formatting_options_radio_2 {
    margin-left: 20px;
  }
  p {
    clear: both;
    padding-bottom: 6px;

    &#rtl_markdown_editor_notice {
      padding-bottom: 15px;
    }
  }
}


#api-tokens {
  .add-link {
    margin-top: -10px;
  }

  .token_value {
    width: 315px;
  }

  .token_used {
    color: #999;
    font-size: 85%;
    width: 200px;
  }

  .token_description {
    font-size: 85%;
  }

  .delete_token {
    font-weight: normal;
  }

  .edit_token {
    font-weight: normal;
    display: inline;
    color: green;
  }
}

.api-token-description-modal {
  h3 {
    margin-bottom: 25px;
  }

  form {
    margin-bottom: 25px;
    width: 300px
  }

  .button {
    margin-left: 5px;
  }
}

span.ticket-field-disabled {
  color: #BBB;
}

.multibrand-select {
  min-width: 310px;

  .select2-choice, .select2-choice > div {
    background-image: none;
    background-color: #fff;
  }

  .select2-choice > div {
    border-left: none;
  }
}

#default-follower-email-text {
  display: none;
}

.admin-alert {
  @include rounded-corners(4px);

  border: 2px solid #fffab8;
  color: #333;
  line-height: 15px;
  margin: 0 15px 15px 0;
  padding: 10px 15px 10px 45px;

  &.warn {
    background: #fffde1 url('/classic/images/warning_icon.png') 15px 15px no-repeat;
  }

  &.new {
    background: #fffde1 url('/classic/images/check.png') 15px 15px no-repeat;
  }

  .button-section {
    display: flow-root;
  }

  .ccs-onboarding-modal-activate-wrapper {
    height: 35px;
    margin: 10px 0;
  }

  .ccs-onboarding-modal-activate, .flat-button {
    @include rounded-corners(4px);

    float: right;
    background-color: #333;
    color: #fff;
    padding: 12px 30px !important;
    border: none;
    font-weight: lighter;
    font-size: 13px;

    html[data-rtl-language='true'] & {
      float: left;
    }

    &.disabled {
      cursor: not-allowed !important;
      color: lightgray !important;
      background-color: rgba(#6C6C6C,1);
    }
  }
}

.disabled > label[for] {
  cursor: not-allowed !important;
  color: gray !important;
}

.more-info-link.agent-workspace-toggle_link {
  a {
    padding: 5px 0 12px 0;
    color: #1A6690 !important;
    font-weight: 400 !important;
  }
}

.more-info-link.focus-mode-toggle_link {
  a {
    padding: 0 0 12px 0;
    color: #1A6690 !important;
    font-weight: 400 !important;
  }
}

.feedback-link {
  padding: 8px 0 0 0;
}

.support_info {
  background: #f8f9f9 url(/classic/images/info.svg) 15px 15px no-repeat;
  padding: 15px 15px 15px 45px;
  @include rounded-corners(4px);
  border: solid 1px #d8dcde;
  color: #333;


  html[data-rtl-language='true'] & {
    padding: 15px 45px 15px 15px;
    background-position: left 15px top 15px;
  }
}

#email-simplified-threading-well {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 20px 0 40px;
  width: calc(100% - 60px);
}

html[data-rtl-language='true'] #email-simplified-threading-well.support_info {
  background-position: right 15px top 15px;
}
