<% if @account.translation_locale.right_to_left %>
  <div style="font-family:ArialMT, Sans-Serif;color:#555555;width:600px;margin:0 auto;padding:10px;text-align:right;">
<% else %>
  <div style="font-family:ArialMT, Sans-Serif;color:#555555;width:600px;margin:0 auto;padding:10px;">
<% end %>
  <p><%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.part1', name: @user.name) %></p>

  <h4 style="margin-bottom:0;"><%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.heading1') %></h4>

  <p style="margin-top:2px;"><%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.part2') %></p>
  <p><%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.part3') %></p>
  <div style="width:100%;height:100px;border:1px solid #dddddd;border-radius:4px;background-color:#f3f3f3;padding:13px 20px 20px 20px;">
    <textarea style="font-family:Menlo-Regular, Sans-Serif;width:100%;height:100px;resize:none;border:0;background-color:#f3f3f3;padding-right:10px;"><%= @snippet %><%= @activation_snippet %></textarea>
  </div>

  <p style="margin-top:20px;"><%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.part4', link: I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.gtm_link')) %></p>

  <h4 style="margin-bottom:0;"><%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.heading2') %></h4>
  <p style="margin-top:2px;"><%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.part5') %></p>
  <div style="width:100%;height:100px;border:1px solid #dddddd;border-radius:4px;background-color:#f3f3f3;padding:13px 20px 20px 20px;">
    <textarea style="font-family:Menlo-Regular, Sans-Serif;width:100%;height:100px;resize:none;border:0;background-color:#f3f3f3;padding-right:10px;"><%= @activation_snippet %></textarea>
  </div>

  <h4 style="margin-bottom:0;"><%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.heading4') %></h4>
  <p style="margin-top:2px;"><%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.part6') %></p>
</div>
