<% I18n.with_locale(@account.translation_locale) do %>
<%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.part1_text', name: @user.name) %>


<%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.heading1') %>

<%= CGI.unescapeHTML(I18n.t('txt.email.onboarding_mailer.connect.setup_info.part2_text')) %>

<%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.part3') %>

<%= @snippet %>
<%= @activation_snippet %>

<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.part4_text', link: I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.gtm_link')) %>


<%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.heading2') %>

<%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.part5') %>

<%= @activation_snippet %>

<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.heading4') %>

<%= I18n.t('txt.email.onboarding_mailer.connect.setup_info.part6_text') %>

--------------------------------
<%= footer(@account) %>
<% end %>
