<%= Zendesk::Liquid::MailContext.render(
  template: @account.html_mail_template,
  header: @subject,
  content: render(partial: 'connect_setup_info'),
  translation_locale: @account.translation_locale,
  footer: footer(@account)
).html_safe %>
