<% I18n.with_locale(@account.translation_locale) do %>
<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.part1_text', name: @user.name) %>


<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.heading1') %>

<%= CGI.unescapeHTML(I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.part2_text')) %>

<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.part3') %>

<%= @snippet %>

<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.part4_text', link: I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.gtm_link')) %>


<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.heading2') %>

<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.part5') %>

Shopify: https://apps.shopify.com/zendesk

Magento: https://www.magentocommerce.com/magento-connect/zendesk-1.html

WordPress: https://wordpress.org/plugins/zendesk/


<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.heading3') %>

<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.part6_text', link: I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.gtm_link')) %>


<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.heading4') %>

<%= I18n.t('txt.email.onboarding_mailer.web_widget.setup_info.part7_text') %>

--------------------------------
<%= footer(@account) %>
<% end %>
