<%= Zendesk::Liquid::MailContext.render(
  template: @account.html_mail_template,
  header: @subject,
  content: render(partial: 'web_widget_setup_info'),
  footer: footer(@account),
  translation_locale: @account.translation_locale
).html_safe %>
