<%
  @page_title = I18n.t('txt.admin.views.people.tags.index.people_label')
%>

<% content_for :sidebar do %>
  <%= div_side_box(I18n.t('txt.admin.views.people.tags.index.tags_label')) do %>
    <p>
      <%= I18n.t('txt.admin.views.people.tags.index.description_of_tags_text_one') %>
    </p>
    <p>
      <%= I18n.t('txt.admin.views.people.tags.index.description_of_tags_text_two')%>
    </p>
    <h4><%= I18n.t('txt.admin.views.people.tags.index.example_label') %></h4>
    <p><%= I18n.t('txt.admin.views.people.tags.index.example_tag_text_one', :beta_tester => "<strong>#{I18n.t('txt.admin.views.people.tags.index.beta_tester_label')}</strong>", :premium => "<strong>#{I18n.t('txt.admin.views.people.tags.premium_label')}</strong>" )%>
  </p>
    <p><%= I18n.t('txt.admin.views.people.tags.index.example_tag_text_two', :beta_tester => "<strong>#{I18n.t('txt.admin.views.people.tags.index.beta_tester_label')}</strong>", :premium => "<strong>#{I18n.t('txt.admin.views.people.tags.premium_label')}</strong>" )%>
    </p>
    <p><%= I18n.t('txt.admin.views.people.tags.index.example_tag_text_three', :premium => "<strong>#{I18n.t('txt.admin.views.people.tags.premium_label')}</strong>" )%>
    </p>
    <p><%= I18n.t('txt.admin.views.people.tags.index.example_tag_text_four')%>
    </p>
  <% end %>
<% end %>

<%= div_content do %>
  <h2><%= @page_title %></h2>
  <%= render :partial => '/people/navigation' %>
<% end %>

<%= div_content do %>

  <h2>
    <%= I18n.t('txt.admin.views.people.tags.index.tags_label') %>
    <%= content_tag :span, "(#{@result.total_entries})", :class => 'item_count' %>
  </h2>

  <% if !@result.blank? %>
    <%= content_tag(:div, class: "frame paginates_with_more", id: "search-result") do %>
      <% @result.each do |item| %>
        <div class="item <%= 'nobottom' if item.equal?(@result.last) %>">
          <div class="item-info">
            <h1><a href='/people?query=tags:<%= item.tag_name %>' dir='auto'><%= item.tag_name %></a></h1>
            <p class="info data">
              <%= I18n.t('txt.admin.views.people.index.tags.total_users_pluralized', :count => count_tags_for_users(item.tag_name)) %>
              <span class="delim2">•</span>
              <%= I18n.t('txt.admin.views.people.tags.index.total_organizations_pluralized', :count => count_tags_for_organizations(item.tag_name)) %>
            </p>
          </div>
          <div class="item-actions">
            <%= form_tag '/people/tags', method: :delete, id: "#{item.tag_name}-remove" do %>
             <%= hidden_field_tag 'id', item.tag_name %>
             <%= link_to I18n.t('txt.admin.views.people.tags.index.remove'), "#", onclick: "if(confirm('#{I18n.t("txt.admin.views.people.tags.index.remove_confirm", tag_name: item.tag_name)}')){ $('#{item.tag_name}-remove').submit()}" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate @result %>
  <% end %>

<% end %>
