<% if current_account.has_follower_and_email_cc_collaborations_enabled? %>
  <!-- If there are affected rules that need to be updated -->
  <% if current_account.settings.ccs_followers_rules_update_required %>
    <!-- Admin onboarding well (single page modal) -->
    <%= render partial: 'ccs_and_followers_admin_onboarding', locals: { version: 2, string_suffix: '_2' } -%>
  <% end -%>
<% else -%>
  <!-- Admin onboarding well (multi-page modal) -->
  <%= render partial: 'ccs_and_followers_admin_onboarding', locals: { version: 1, string_suffix: '' } -%>
<% end -%>
