<div class="item">
  <div class="item-info">
    <div class="float_label" style="width:200px;">
      <span class="title"><%= agreement.name || '&nbsp;'.html_safe %></span>
    </div>
    <div class="float_label" style="width:330px; color:#999;">
      <%= permissions_string(agreement) %>
    </div>
    <div class="float_label" style="color:#999;">
      <%= humanize_status(agreement.status) %>
    </div>
  </div>
  <div class="item-actions">
    <%= link_to I18n.t('txt.admin.views.settings.tickets._agreement.view'), agreement, :class => 'edit_this view_agreement', :id => dom_id(agreement) %>
  </div>
  <% if agreement.deletable? %>
    <div class="item-actions">
      <%= link_to I18n.t('txt.admin.views.settings.tickets._agreement.delete'), agreement, :id => "delete_agreement", :data => { :confirm => I18n.t('txt.admin.helpers.sharing.agreements.confirm_agreement_deletion'), :method => :delete } %>
    </div>
  <% end %>
</div>
