<% ns = "txt.admin.views.settings.tickets._settings.ccs_and_followers.admin_onboarding.well" -%>
<div class="admin-alert warn">
  <p>
    <!-- Enhanced CCs and Followers Experience -->
    <strong><%= I18n.t("#{ns}.title#{string_suffix}") %></strong>
  </p>
  <p>
    <%= I18n.t("#{ns}.description#{string_suffix}") -%>
    <% if version == 1 -%>
    <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.link_v2") -%>
    <% end -%>
  </p>
  <div class="ccs-onboarding-modal-activate-wrapper">
    <button type="button" class="ccs-onboarding-modal-activate">
      <%= I18n.t("#{ns}.activate#{string_suffix}") %>
    </button>
  </div>
</div>
