<% ns = 'txt.admin.views.settings.tickets._settings.collaboration' -%>
<fieldset class='form_element'>
  <!-- CCs and Followers -->
  <legend class='label'><%= form.label :follower_and_email_cc_collaborations, I18n.t("#{ns}.section_title_v2") -%></legend>

  <% unless current_account.has_ccs_followers_no_rollback_enabled? -%>
    <% if current_account.accepted_tos_but_new_collaboration_disabled? -%>
      <%= form.property_set(:settings).hidden_field(:follower_and_email_cc_collaborations, value: true) -%>

      <!-- The CCs and Followers experience is not enabled until you click the <strong>Save tab</strong> button at the bottom. -->
      <div class='form_field'>
        <div class='admin-alert warn'>
          <p>
            <%= I18n.t("#{ns}.not_saved_v2") -%>
          </p>
        </div>
      </div>

    <% else %>
      <% if current_account.has_email_ccs? -%>
      <div class='form_field'>
        <!-- Admin onboarding v2 -->
        <%= render partial: "admin_onboarding_well" -%>
      </div>
      <% end -%>

      <% if current_account.part_of_new_collaboration_eap_and_accepted_tos? || current_account.has_follower_and_email_cc_collaborations_enabled? -%>
        <!-- No longer want to be part of the CCs and Followers experience? -->
        <%= render partial: 'collaboration_off', locals: { form: form } -%>
      <% end -%>
    <% end -%>
  <% end -%>

  <!-- Enable followers -->
  <div class='form_field'>
    <%= zd_enable_checkbox form.property_set(:settings), :ticket_followers_allowed, I18n.t("#{ns}.followers.section_title"),
      { 'data-toggles' => '#sub_setting_ticket_followers_allowed' } -%>

    <p>
      <%= I18n.t("#{ns}.followers.section_description") -%>
      <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.followers.link_v2") -%>
    </p>

    <%= zd_sub_setting :ticket_followers_allowed,
      show: current_account.has_ticket_followers_allowed_enabled? do -%>

      <!-- Follower email subject -->
      <div class='form_field'>
        <%= form.label :follower_subject_template, I18n.t("#{ns}.follower_subject.title"), class: 'block' -%>
        <%= form.text_field :follower_subject_template, class: 'email_subject_editor' -%>
        <p>
          <%= I18n.t("#{ns}.follower_subject.description") -%>
        </p>
      </div>

      <!-- Follower email template -->
      <div class='form_field'>
        <%= form.label :follower_email_template, I18n.t("#{ns}.follower_template.title"), class: 'block' -%>
        <%= form.text_area :follower_email_template, class: 'email_body_editor', rows: 12, cols: nil -%>
        <p>
          <%= I18n.t("#{ns}.follower_template.description") -%>
        </p>
        <p id="default-follower-email-text">
          <%= I18n.t("txt.default.follower_email_text") -%>
        </p>
        <p>
          <a id="revert-follower-email-text">
            <%= I18n.t("txt.admin.views.settings.email._settings.Revert_to_default") %>
          </a>
        </p>
      </div>

    <% end -%>
  </div>

  <!-- Enable CCs -->
  <div class='form_field'>
    <%= zd_enable_checkbox form.property_set(:settings), :comment_email_ccs_allowed, I18n.t("#{ns}.ccs.section_title"),
      { 'data-toggles' => '#sub_setting_comment_email_ccs_allowed' } -%>

    <p>
      <%= I18n.t("#{ns}.ccs.section_description") -%>
      <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.ccs.link_v2") -%>
    </p>

    <%= zd_sub_setting :comment_email_ccs_allowed,
      show: current_account.has_comment_email_ccs_allowed_enabled? do -%>

      <!-- CCs blocklist -->
      <div class="form_field">
        <% if current_account.has_email_rename_ccs_blocklist? -%>
          <%= form.label :cc_blacklist, I18n.t("#{ns}.cc_follower_blocklist_title"), class: 'block' %>
          <%= form.text_area :cc_blacklist, { class: 'cc_blocklist', rows: nil, cols: nil } %>
        <% else %>
          <%= form.label :cc_blacklist, I18n.t("#{ns}.cc_follower_blacklist_title"), class: 'block' %>
          <%= form.text_area :cc_blacklist, { class: 'cc_blacklist', rows: nil, cols: nil } %>
        <% end %>
        <p><%= I18n.t("#{ns}.cc_follower_blacklist_description") %></p>
      </div>

      <% if current_account.has_email_ticket_email_ccs_suspension_threshold? %>
        <%= render partial: 'recipients_list_threshold', locals: { form: form } -%>
      <% end %>

      <% if current_account.has_email_ccs_light_agents_v2? -%>
        <!-- Allow agents who can only make private comments (such as light agents) to be CCs -->
        <div class='form_field'>
          <%= zd_enable_checkbox(form.property_set(:settings), :light_agent_email_ccs_allowed, I18n.t("#{ns}.light_agent_email_ccs_allowed.title")) -%>
          <p>
            <%= I18n.t("#{ns}.light_agent_email_ccs_allowed.description") -%>
            <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.light_agent_email_ccs_allowed.link_v2") -%>
          </p>
        </div>
      <% end -%>

      <% unless current_account.subscription.is_trial? -%>
        <!-- Enable CCs for end users on Help Center -->
        <div class='form_field' id='collaborators_settable_in_help_center'>
          <%= zd_enable_checkbox(form.property_set(:settings), :collaborators_settable_in_help_center, I18n.t("#{ns}.ccs_settable_in_help_center")) -%>
          <p>
            <%= I18n.t("#{ns}.ccs_settable_in_help_center_label") -%>
          </p>
        </div>
      <% end -%>
    <% end -%>
  </div>

  <!-- Automatically turn an agent CC into a follower -->
  <div class='form_field'>
    <%= zd_enable_checkbox form.property_set(:settings), :agent_email_ccs_become_followers, I18n.t("#{ns}.agents_be_followers.title") -%>
    <p>
      <%= I18n.t("#{ns}.agents_be_followers.description_v2") -%>
      <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.agents_be_followers.link") -%>
    </p>
  </div>

</fieldset>
