<% ns = 'txt.admin.views.settings.tickets._settings.collaboration.tos' -%>
<div class='admin-alert new'>
  <p>
    <!-- Enhanced CCs and Followers experience available -->
    <strong><%= I18n.t("#{ns}.title_v2") -%></strong>
  </p>
  <p>
    <%= I18n.t("#{ns}.description") -%>
    <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.link") -%>
  </p>
  <p>
    <%= link_to I18n.t("#{ns}.getting_started"), '#is_collaboration_enabled',
      { 'data-toggles': '#collaboration' } -%>
  </p>
  <div id='collaboration' data-mode='activation' class='hide sub_setting'>
    <p>
      <!-- I've learned about the CCs and Followers experience. -->
      <%= check_box_tag(:step1) -%>
      <%= label_tag(:step1, I18n.t("#{ns}.step1_v2"), class: 'checkbox') -%>
      <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.step1_link") -%>
    </p>
    <p>
      <!-- I've updated my triggers, automations, macros, and extensions. -->
      <%= check_box_tag(:step2) -%>
      <%= label_tag(:step2, I18n.t("#{ns}.step2_v2"), class: 'checkbox') -%>
      <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.step2_link") -%>
    </p>
    <hr/>
    <p>
      <%= I18n.t("#{ns}.footer") -%>

      <div class='button-section'>
        <%= submit_tag(I18n.t("#{ns}.activate"), id: 'activate', class: 'button disabled') -%>
        <%= button_tag(I18n.t("#{ns}.cancel"),   id: 'cancel', class: 'button') -%>

        <%= form.property_set(:settings).hidden_field(:accepted_new_collaboration_tos, value: false) -%>
      </div>
    </p>
  </div>
</div>
