<% ns = 'txt.admin.views.settings.tickets._settings.collaboration.rollback' -%>
<div class='form_field'>
  <div class='admin-alert warn'>
    <p>
      <!-- No longer want to be part of the CCs and Followers experience? -->
      <%= link_to I18n.t("#{ns}.title_v2"), I18n.t("#{ns}.learn_more_link_v3"),
        { 'data-toggles': '#collaboration', 'target': '_blank', 'id': 'collaboration_off' } -%>
    </p>

    <!-- Rollback ToS -->
    <div id='collaboration' data-mode='deactivation' class='hide sub_setting'>
      <p>
        <%= I18n.t("#{ns}.contact_us_for_questions", help_url: I18n.t("#{ns}.help_url"))  -%>
      </p>
      <p>
        <%= I18n.t("#{ns}.additional_changes_required", help_url: I18n.t("#{ns}.help_url"))  -%>
        <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.learn_more_link_v3") -%>
      </p>
      <hr/>
      <p>
        <!-- I understand that business rules and customizations may not work after opting out. -->
        <%= check_box_tag(:step1) -%>
        <%= label_tag(:step1, I18n.t("#{ns}.step1_v2"), class: 'checkbox') -%>
      </p>
      <p>
        <div class='button-section clearfix'>
          <!-- Opt out of the CCs and Followers experience -->
          <%= submit_tag(I18n.t("#{ns}.activate_v2"), id: 'activate', class: 'flat-button disabled') -%>

          <%= form.property_set(:settings).hidden_field(:accepted_new_collaboration_tos, value: true) -%>
          <%= form.property_set(:settings).hidden_field(:follower_and_email_cc_collaborations, value: true) -%>
          <%= form.property_set(:settings).hidden_field(:auto_updated_ccs_followers_rules, value: false) -%>
        </div>
      </p>
    </div>
  </div>
</div>
