<!-- Enable Legacy CCs on tickets -->
<% ns = 'txt.admin.views.settings.tickets._settings' -%>
<fieldset class='form_element'>
  <legend class='label'><%= form.label :is_collaboration_enabled, I18n.t("#{ns}.CCs") -%></legend>
  <div class='form_field'>
    <% if current_account.has_email_ccs? -%>
        <!-- Admin onboarding v2 (single and multi page) -->
        <%= render partial: "admin_onboarding_well" -%>
    <% end -%>

    <!-- Legacy CCs settings -->
    <%= zd_enable_checkbox(form, :is_collaboration_enabled, I18n.t("#{ns}.Enable_CCs_on_tickets"),
      { 'data-toggles' => '#sub_setting_is_collaborators_addable_only_by_agents' }) -%>
    <p>
      <%= I18n.t("#{ns}.If_enabled_agents_can_change") -%>

      <% if current_account.subscription.has_permission_sets? -%>
        <%= I18n.t("#{ns}.This_excludes_agents_who_cannot") -%>
      <% end -%>

      <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.Learn_more_link") -%>
    </p>
    <%= zd_sub_setting :is_collaborators_addable_only_by_agents,
      show: current_account.is_collaboration_enabled? do -%>

      <!-- Only agents can add Legacy CCs -->
      <div class='form_field'>
        <%= form.check_box :is_collaborators_addable_only_by_agents, 'data-toggles-inverse' => '#collaborators_settable_in_help_center' -%>
        <%= form.label :is_collaborators_addable_only_by_agents, I18n.t("#{ns}.Only_agents_can_add_ccs"), class: 'checkbox' -%>
        <p>
          <%= I18n.t("#{ns}.agent_only_ccs_label") -%>
        </p>
      </div>

      <% unless current_account.subscription.is_trial? -%>
        <!-- Enable CCs for end users on Help Center -->
        <div class='form_field' id='collaborators_settable_in_help_center'>
          <%= zd_enable_checkbox(form.property_set(:settings), :collaborators_settable_in_help_center, I18n.t("#{ns}.ccs_settable_in_help_center")) -%>
          <p>
            <%= I18n.t("#{ns}.ccs_settable_in_help_center_and_existing_requests") -%>
          </p>
        </div>
      <% end -%>

      <!-- Legacy CC blocklist -->
      <div class='form_field'>
        <% if current_account.has_email_rename_ccs_blocklist? -%>
          <%= form.label :cc_blacklist, I18n.t("#{ns}.CC_blocklist"), class: 'block' -%>
          <%= form.text_area :cc_blacklist, { class: "cc_blocklist", rows: nil, cols: nil } -%>
        <% else %>
          <%= form.label :cc_blacklist, I18n.t("#{ns}.CC_blacklist"), class: 'block' -%>
          <%= form.text_area :cc_blacklist, { class: "cc_blacklist", rows: nil, cols: nil } -%>
        <% end %>
        <p>
          <%= I18n.t("#{ns}.List_of_email_addresses_that") -%>
        </p>
      </div>

      <% if current_account.has_email_ticket_email_ccs_suspension_threshold? %>
        <%= render partial: 'recipients_list_threshold', locals: { form: form } -%>
      <% end %>

      <!-- Legacy CC email subject -->
      <div class='form_field'>
        <%= form.label :cc_subject_template, I18n.t("#{ns}.cc_email_subject"), class: 'block' -%>
        <%= form.text_field :cc_subject_template, class: 'email_subject_editor' -%>
        <p>
          <%= I18n.t("#{ns}.Customize_the_subject_of_outgoing") -%>
        </p>
      </div>

      <!-- Legacy CC email text -->
      <div class='form_field'>
        <%= form.label :cc_email_template, I18n.t("#{ns}.CC_email_text"), class: 'block' -%>
        <%= form.text_area :cc_email_template, { class: "cc_email_text email_body_editor", rows: 12, cols: nil } -%>
        <p>
          <%= I18n.t("#{ns}.Customize_the_text_of_outgoing") -%>
        </p>
      </div>
    <% end -%>
  </div>
</fieldset>
