<div class='form_field'>
    <%= form.label :ticket_email_ccs_suspension_threshold, I18n.t("txt.admin.views.settings.tickets._settings.ccs_suspension_threshold_title"), class: 'block' -%>
    <%= number_field_tag("account[ticket_email_ccs_suspension_threshold]", @account.ticket_email_ccs_suspension_threshold, min: 0, max: 48) -%>
    <p>
        <%= I18n.t("txt.admin.views.settings.tickets._settings.ccs_suspension_threshold_description") -%>
    </p>
</div>