<% ns = 'txt.admin.views.settings.tickets._settings.requester' -%>
<fieldset class="form_element">
  <legend class='label'><%= I18n.t("#{ns}.title") %></legend>

  <!-- Agents can change requester -->
  <div class='form_field'>
    <%= zd_enable_checkbox form.property_set(:settings), :agent_can_change_requester, I18n.t("#{ns}.agents_change_requester.title") -%>
    <p>
      <%= I18n.t("#{ns}.agents_change_requester.description") -%>
      <%= learn_more I18n.t('txt.admin.learn_more'), url: I18n.t("#{ns}.agents_change_requester.link_v2") -%>
    </p>
  </div>
</fieldset>
