<p class="intro_text">
  <%= I18n.t('txt.admin.views.settings.tickets._settings.intro_text') %>
  <%= link_to I18n.t('txt.admin.views.settings.security._authentication.Learn_more'),
              I18n.t('txt.contextual.references.ticket_fields.about.url'),
              :target => '_blank' %>
</p>

<%= javascript_include_tag "admin/ace/ace_setup" %>

<%= javascript_tag do %>
  <%= render partial: 'settings', formats: [:js] %>
<% end %>

<%= form_for(:account, :url => { :action => "update_settings", :anchor => "settings" },
            :html => { :method => :put,
                       :id => 'general',
                       :class => 'two_column tracked',
                       'data-tracking-module' => 'Save Settings',
                       'data-tracking-activity' => 'Tickets' }) do |form| %>
  <div class="element_group">

    <!-- Comments -->
    <fieldset class="form_element">
      <legend class='label'><%= I18n.t('txt.admin.views.settings.tickets._settings.Comments') %></legend>
      <div class="form_field settings_reverse_comments">
        <%= zd_enable_checkbox(form.property_set(:settings), :events_reverse_order, I18n.t('txt.admin.views.settings.tickets._settings.Reverse')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.List_ticket_comments_and_events') %></p>
      </div>

      <div id="comment_formatting_options" class="form_field">
        <h4><%= I18n.t('txt.admin.views.settings.tickets._settings.formatting_options_for_agents') %></h4>
        <%= form.property_set(:settings).hidden_field(:rich_text_comments) %>
        <%= radio_button_tag "formatting_options_radio", "1", current_account.settings.rich_text_comments? %><%= label_tag :formatting_options_radio_1, I18n.t('txt.admin.views.settings.tickets._settings.rich_content_label'), :class => "checkbox" %>
        <%= form.property_set(:settings).hidden_field(:markdown_ticket_comments) %>
        <%= radio_button_tag "formatting_options_radio", "2", current_account.settings.markdown_ticket_comments? %><%= label_tag :formatting_options_radio_2, I18n.t('txt.admin.views.settings.tickets._settings.markdown_setting_label'), :class => "checkbox" %>

        <p id='rich_text_comments_description'>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.rich_content_description',
            :learn_more => link_to(I18n.t('txt.admin.learn_more'), I18n.t('txt.admin.views.settings.tickets._settings.rich_content_learn_more_link'), :target => "_blank")) %>
        </p>

        <p id='markdown_ticket_comments_description'>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.markdown_setting_description',
            :learn_more => link_to(I18n.t('txt.admin.learn_more'), I18n.t('txt.admin.views.settings.tickets._settings.markdown_learn_more_link'), :target => "_blank")) %>
        </p>

        <p id='rtl_markdown_editor_notice' class='warning'>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.rtl_markdown_editor',
            :learn_more => link_to(I18n.t('txt.admin.views.settings.tickets._settings.rtl_markdown_editor_learn_more_label'), I18n.t('txt.admin.views.settings.tickets._settings.rtl_markdown_editor_learn_more_link'), :target => "_blank")) %>
        </p>
      </div>

      <div class="form_field">
        <%= zd_enable_checkbox(form.property_set(:settings), :emoji_autocompletion, I18n.t('txt.admin.views.settings.tickets._settings.agent_comments_include_emoji')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.allow_agents_to_use_emoji') %>
        </p>
      </div>

      <% if current_account.has_polaris? %>
        <div class="form_field">
          <%= zd_enable_checkbox(form, :is_comment_public_by_default, I18n.t('txt.admin.views.settings.tickets._settings.polaris.Non_email_Agent_comments_are')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.polaris.Set_the_default_mode_for_non_email') %>
          </p>
        </div>
      <% else %>
        <div class="form_field">
          <%= zd_enable_checkbox(form, :is_comment_public_by_default, I18n.t('txt.admin.views.settings.tickets._settings.Agent_comments_via_web_are')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.Set_the_default_mode_for_web') %><br/>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.Public_comments_are_visible_to') %></p>
        </div>
      <% end %>

      <div class="form_field">
        <%= zd_enable_checkbox(form, :is_email_comment_public_by_default, I18n.t('txt.admin.views.settings.tickets._settings.Agent_comments_via_email_are')) %>
        <p><%= I18n.t('txt.admin.views.settings.tickets._settings.Set_the_default_mode_for_email') %></p>
      </div>

      <% if display_fcp_setting? %>
        <div class="form_field">
          <%= zd_enable_checkbox(form, :is_first_comment_private_enabled, I18n.t('txt.admin.views.settings.tickets._settings.agent_allow_first_comment_private_label')) %>
          <p><%= I18n.t('txt.admin.views.settings.tickets._settings.agent_allow_first_comment_private_text', fcp_doc_url: (link_to I18n.t('txt.admin.views.settings.tickets._settings.first_comment_private_here_label'), I18n.t('txt.admin.views.settings.tickets._settings.agent_allow_first_comment_private_link'), target: :_blank)) %></p>
        </div>
      <% end %>

      <% if current_account.has_render_custom_uri_as_links? %>
        <div class="form_field">
          <%= form.label :render_custom_uri_hyperlinks, I18n.t("txt.admin.tickets.settings.render_custom_uri_as_hyperlinks_header"), class: 'block' %>
          <%= form.text_area :render_custom_uri_hyperlinks %>
          <p><%= I18n.t("txt.admin.tickets.settings.render_custom_uri_as_hyperlinks_description") %></p>
          </div>
      <% end %>

      <% if current_account.has_email_end_user_comment_privacy_settings? %>
        <div class="form_field">
          <%= zd_enable_checkbox(form.property_set(:settings), :ccs_requester_excluded_public_comments, I18n.t('txt.admin.views.settings.tickets._settings.ccs_requester_excluded_public_comments_label')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.ccs_requester_excluded_public_comments_description') %>
          </p>
        </div>
      <% end %>

      <% if current_account.has_third_party_end_user_public_comments_setting? %>
        <div class="form_field">
          <%= zd_enable_checkbox(form.property_set(:settings), :third_party_end_user_public_comments, I18n.t('txt.admin.views.settings.tickets._settings.third_party_end_user_public_comments_label')) %>
        </div>
      <% end %>
    </fieldset>

    <!-- Attachments -->
    <fieldset class="form_element">
      <legend class='label'><%= I18n.t('txt.admin.views.settings.tickets._settings.Attachments') %></legend>
      <div class="form_field">
        <%= zd_enable_checkbox(form, :is_attaching_enabled, I18n.t('txt.admin.views.settings.tickets._settings.Customers_can_attach_files')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.Allow_your_end_users_to') %><br/>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.Covers_attachments_by_email_too') %></p>
      </div>
      <% if current_account.has_email_attachments_real_and_secure? %>
        <div class="form_field">
        <%= zd_enable_checkbox(form.property_set(:settings), :private_attachments, I18n.t('txt.admin.views.settings.tickets._settings.secure_attachment_download_title')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.secure_attachment_download_description', :learn_more => (link_to I18n.t('txt.admin.views.settings.tickets._settings.secure_attachment_download_description_learn_more'), I18n.t('txt.admin.views.settings.tickets._settings.secure_attachment_download_description_learn_more_link'), :target => '_blank'))%>
          </p>
          <% if current_account.help_center_disabled? %>
            <p>
              <%= I18n.t('txt.admin.views.settings.tickets._settings.anonymous_attachments_disabled') %>
            </p>
          <% end %>
        </div>
        <br />
        <div class="form_field" id="setting_email_attachment_options">
          <%= zd_enable_checkbox(form.property_set(:settings), :email_attachments, I18n.t('txt.admin.views.settings.tickets._settings.include_attachments_in_emails')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.send_attachments_as_files_description') %>
          </p>
        </div>
      <% else %>
        <div class="form_field">
        <%= zd_enable_checkbox(form.property_set(:settings), :private_attachments, I18n.t('txt.admin.views.settings.tickets._settings.secure_attachment_download_title'), { 'data-toggles-inverse' => '#setting_email_attachment_options'}) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.secure_attachment_download_description', :learn_more => (link_to I18n.t('txt.admin.views.settings.tickets._settings.secure_attachment_download_description_learn_more'), I18n.t('txt.admin.views.settings.tickets._settings.secure_attachment_download_description_learn_more_link'), :target => '_blank'))%>
          </p>
          <% if current_account.help_center_disabled? %>
            <p>
              <%= I18n.t('txt.admin.views.settings.tickets._settings.anonymous_attachments_disabled') %>
            </p>
          <% end %>
        </div>
        <br />
        <%= zd_sub_setting(:email_attachment_options, :hide => @account.settings.private_attachments?) do %>
          <div class="form_field" id="setting_email_attachment_options">
            <%= zd_enable_checkbox(form.property_set(:settings), :email_attachments, I18n.t('txt.admin.views.settings.tickets._settings.include_attachments_in_emails')) %>
            <p>
              <%= I18n.t('txt.admin.views.settings.tickets._settings.send_attachments_as_files_description') %>
            </p>
          </div>
        <% end %>
      <% end %>
    </fieldset>

    <!-- Tags -->
    <fieldset class="form_element">
      <legend class='label'><%= I18n.t('txt.admin.views.settings.tickets._settings.Tags') %></legend>
      <div class="form_field">
        <%= zd_enable_checkbox(form.property_set(:settings), :ticket_tagging, I18n.t('txt.admin.views.settings.tickets._settings.Enable_tags_on_tickets'), { 'data-toggles' => '#sub_setting_ticket_tagging_options' }) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.Disable_tagging_if_you_don') %><br/>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.remove_tags_field_but_not_api')%>
        </p>
        <%= zd_sub_setting(:ticket_tagging_options, :show => @account.settings.ticket_tagging?) do %>
          <div class="form_field">
            <%= form.property_set(:settings).check_box :ticket_auto_tagging %><%= form.label :settings_ticket_auto_tagging, I18n.t('txt.admin.views.settings.tickets._settings.enable_automatic_ticket_tagging') %>
            <p><%= I18n.t('txt.admin.views.settings.tickets._settings.Disable_automatic_ticket_tagging_if') %></p>
          </div>

          <% if false && current_account.settings.has_user_tags? %>
            <div class="form_field">
              <%= form.property_set(:settings).check_box :tickets_inherit_requester_tags %>
              <%= form.label :settings_tickets_inherit_requester_tags, I18n.t('txt.admin.views.settings.tickets._settings.Tickets_inherit_requester_tags') %>
              <p>
                <%= I18n.t('txt.admin.views.settings.tickets._settings.When_a_ticket_is_created') %></p>
            </div>
          <% end %>

          <% if current_account.has_ticket_tags_via_widget? %>
            <div class="form_field">
              <%= form.property_set(:settings).check_box :ticket_tags_via_widget %>
              <%= form.label :settings_ticket_tags_via_widget, I18n.t('txt.admin.views.settings.tickets._settings.allow_tags_via_web_widget_and_api') %>
              <p><%= I18n.t('txt.admin.views.settings.tickets._settings.allow_end_users_to_set_tags') %></p>
            </div>
          <% end %>

        <% end %>
      </div>
    </fieldset>

    <% if current_account.part_of_new_collaboration_eap_and_accepted_tos? || current_account.has_follower_and_email_cc_collaborations_enabled? -%>
      <!-- CCs and Followers -->
      <%= render partial: 'collaboration', locals: { form: form } -%>

      <!-- Requester -->
      <%= render partial: 'requester', locals: { form: form } -%>
    <% else -%>
      <!-- (Legacy) CCs -->
      <%= render partial: 'legacy_ccs', locals: { form: form } -%>
    <% end -%>

    <!-- Assignment -->
    <fieldset class="form_element">
      <legend class='label'><%= I18n.t('txt.admin.views.settings.tickets._settings.inborn_rules') %></legend>
      <div class="form_field">
        <%= zd_enable_checkbox(form.property_set(:settings), :assign_tickets_upon_solve, I18n.t('txt.admin.views.settings.tickets._settings.inborn_rules_auto_assign_label')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.inborn_rules_auto_assign_description') %>
        </p>
      </div>

      <div class="form_field">
        <%= zd_enable_checkbox(form.property_set(:settings), :change_assignee_to_general_group, I18n.t("txt.admin.views.settings.tickets._settings.change_assignee_to_general_group.field")) %>
        <p>
          <%= I18n.t("txt.admin.views.settings.tickets._settings.change_assignee_to_general_group.description") %>
        </p>
      </div>
    </fieldset>

    <!-- Suspended Ticket Notifications -->
    <%= fields_for :suspended_ticket_notification, @suspended_notification do |notification_form| %>
    <fieldset class="form_element">
      <legend class='label'><%= I18n.t('txt.admin.views.settings.tickets._settings.Suspended_Ticket_Notifications') %></legend>
      <div class="form_field">
        <% frequencies = SuspendedTicketNotification::Frequency::ALL.map { |k,v| [I18n.t(k), v] } %>
        <%= notification_form.select :frequency, options_for_select(frequencies, @suspended_notification.frequency) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.How_often_you_want_Zendesk') %>
        </p>
      </div>
      <div class="form_field">
        <%= notification_form.label :suspended_ticket_notification_email_list, I18n.t('txt.admin.views.settings.tickets._settings.Email_list') %>
        <%= notification_form.text_area :email_list, { :class => 'cc_email_text', :rows => nil, :cols => nil } %>
        <p>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.list_of_email_addresses_that_should_receive')%>
        </p>
      </div>
    </fieldset>
    <% end %>

    <!-- Ticket IDs -->
    <fieldset class="form_element">
      <legend class='label'><%= label_tag :ticket_id_sequence, I18n.t('txt.admin.views.settings.tickets._settings.Ticket_IDs') %></legend>
      <div class="form_field">
        <%= text_field_tag :ticket_id_sequence, current_account.nice_id_sequence.peek %>
        <p>
          <%= I18n.t('txt.admin.views.settings.tickets._settings.set_the_ticket_id_counter_v2', :a_number => (current_account.nice_id_sequence.peek - 1))%>
        </p>
      </div>
    </fieldset>

    <!-- Custom Statuses -->
    <!-- Temp checkbox to enable/disable the feature -->
    <!-- We'll move to a more specific location later -->
    <% if @account.has_custom_statuses? %>
      <fieldset class="form_element">
        <legend class='label'><%= label_tag :custom_statuses_enabled, 'Custom Statuses' %></legend>
        <div class="form_field">
          <%= zd_enable_checkbox(form.property_set(:settings), :custom_statuses_enabled, 'Enable') %>
        </div>
      </fieldset>
    <% end %>

    <% if @account.subscription.has_bcc_archiving? && !@account.has_lockdown_enabled? %>
      <fieldset class="form_element">
      <%= form.fields_for :settings, @account.settings do |settings| %>
        <legend class='label'><%= I18n.t('txt.admin.views.settings.tickets._settings.Email_Archiving') %></legend>
        <div class="form_field">
          <%= settings.label :bcc_archive_address, I18n.t('txt.admin.views.settings.tickets._settings.Archive_email_address'), class: 'block' %>
          <%= settings.text_field :bcc_archive_address %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.A_copy_of_all_outbound')%>
            <%= learn_more I18n.t('txt.admin.learn_more'), :url => I18n.t('txt.admin.views.settings.tickets._settings.A_copy_of_all_outbound_link') %>
          </p>
        </div>
      <% end %>
      </fieldset>
    <% end %>

    <% if @account.has_side_conversations? %>
      <fieldset class="form_element">
        <legend class='label'><%= label_tag :threads, I18n.t('txt.admin.views.settings.tickets._settings.side_conversations.label') %></legend>
        <div class="form_field">
          <%= zd_enable_checkbox(form, :is_side_conversations_email_enabled, I18n.t('txt.admin.views.settings.tickets._settings.side_conversations.enable_email')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.side_conversations_email_description',
              :learn_more => link_to(I18n.t('txt.admin.views.settings.tickets._settings.side_conversations_email_description_learn_more'), I18n.t('txt.admin.views.settings.tickets._settings.side_conversations_email_description_learn_more_link'), :target => "_blank")) %>
          </p>
        </div>

        <div class="form_field">
          <%= zd_enable_checkbox(form, :is_side_conversations_slack_enabled, I18n.t('txt.admin.views.settings.tickets._settings.side_conversations.enable_slack')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.side_conversations_slack_description',
              :learn_more => link_to(I18n.t('txt.admin.views.settings.tickets._settings.side_conversations_slack_description_learn_more'), I18n.t('txt.admin.views.settings.tickets._settings.side_conversations_slack_description_learn_more_link'), :target => "_blank")) %>
          </p>
          <p class='warning'>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.side_conversations_slack_notice_v2',
              :install_link => link_to(I18n.t('txt.admin.views.settings.tickets._settings.side_conversations_slack_notice_link'), I18n.t('txt.admin.views.settings.tickets._settings.side_conversations_slack_notice_link_url'), :target => "_blank")) %>
          </p>
        </div>
        <% if Arturo.feature_enabled_for?(:lotus_feature_side_conversations_ticket_channel, @account) %>
          <div class="form_field">
            <%= zd_enable_checkbox(form.property_set(:settings), :side_conversations_tickets, I18n.t('txt.admin.views.settings.tickets._settings.side_conversations.enable_child_tickets')) %>
            <p>
              <%= I18n.t('txt.admin.views.settings.tickets._settings.side_conversations.side_conversations_tickets_description',
                :learn_more => link_to(I18n.t('txt.admin.views.settings.tickets._settings.side_conversations.side_conversations_tickets_description_learn_more'), I18n.t('txt.admin.views.settings.tickets._settings.side_conversations.side_conversations_tickets_description_learn_more_link'), :target => "_blank")) %>
            </p>
          </div>
        <% end %>
      </fieldset>
    <% end %>
    <% if @account.has_ticket_metadata_deletion_at_close? %>
      <fieldset class="form_element">
        <legend class='label'><%= label_tag :ticket_metadata_deletion, I18n.t('txt.admin.views.settings.tickets._settings.ticket_metadata_deletion.label') %></legend>
        <div class="form_field">
          <%= zd_enable_checkbox(form.property_set(:settings), :delete_ticket_metadata_pii, I18n.t('txt.admin.views.settings.tickets._settings.ticket_metadata_deletion.enable_deletion')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.ticket_metadata_deletion.description',
              :learn_more => link_to(I18n.t('txt.admin.views.settings.tickets._settings.ticket_metadata_deletion.learn_more'), I18n.t('txt.admin.views.settings.tickets._settings.ticket_metadata_deletion.learn_more_link'), :target => "_blank")) %>
          </p>
        </div>
      </fieldset>
    <% end %>
    <% if current_account.has_reengagement_enabled? %>
      <!-- Re-engagement -->
      <fieldset class="form_element">
        <legend class='label'><%= I18n.t('txt.admin.views.settings.tickets._settings.re_engagement.label') %></legend>
        <div class="form_field">
          <%= zd_enable_checkbox(form.property_set(:settings), :reengagement, I18n.t('txt.admin.views.settings.tickets._settings.re_engagement.enable_re_engagement')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.tickets._settings.re_engagement.description') %>
            <%= link_to I18n.t('txt.admin.views.settings.tickets._settings.re_engagement.learn_more_link'), :style => "color: #1A6690 !important; font-weight: normal !important;", :target => "_blank" do %>
              <%= I18n.t('txt.admin.views.settings.tickets._settings.re_engagement.learn_more') %>
              <svg class='link-out-svg'>
                <use xlink:href="/images/garden_vector_icons.svg#zd-svg-icon-12-link-external"></use>
              </svg>
            <% end %>
          </p>
        </div>
      </fieldset>
    <% end %>
  </div>

  <fieldset class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.tickets._settings.save_tab_label'), :class => "button save", :id => "settings_tickets_settings_save_button") %>
  </fieldset>
<% end %>
