<%= render :partial => 'sharing_agreements/ticket_sharing_summary' %>

<div class="tab-top-right add-link">
  <p><%= link_to I18n.t('txt.admin.views.settings.tickets._ticket_sharing.add_sharing_invite'), '',
    :class => 'add', :id => 'new_sharing_invite_link' %></p>
</div>

<div class="item-border-top list-items">
  <h4 class='label'><%= I18n.t('txt.admin.views.settings.tickets._ticket_sharing.sending_agreements')%> (<%= @outbound_agreements.count %>)</h4>
  <%= render :partial => "agreement", :collection => @outbound_agreements %>
  <% if (inactive_agreement_count = current_account.sharing_agreements.inactive.outbound.count) > 0 %>
    <br />
    <div id="delete_all_inactive_agreements">
      <%= link_to I18n.t('txt.admin.views.settings.tickets._ticket_sharing.delete_inactive_agreements'), "/sharing_agreements/destroy_inactive",
        :data => { :confirm => I18n.t('txt.admin.views.settings.tickets._ticket_sharing.confirm_deletion_of_inactive_agreements', :total_inactive => inactive_agreement_count), :method => :delete } %>
    </div>
  <% end %>

  <div class="setting-divider"></div>
  <div class="inactive">
    <h4 class='label'><%= I18n.t('txt.admin.views.settings.tickets._ticket_sharing.Receiving_agreements')%> (<%= @inbound_agreements.count %>)</h4>
    <%= render :partial => "agreement", :collection => @inbound_agreements %>
  </div>
</div>

<%= form_for(:account, :url  => { :action => "update_ticket_sharing" },
  :html => { :method => :put, :id => 'general', :class => 'two_column' }) do |form| %>

  <div class="element_group">
    <div class="form_element"></div>

    <div class="form_element">
      <%= form.label :settings_reject_sharing_invites, I18n.t('txt.admin.views.settings.tickets._ticket_sharing.Opt_out_of_sharing') %>
      <div class="form_field">
        <%= zd_enable_checkbox(form.property_set(:settings),
          :reject_sharing_invites, I18n.t('txt.admin.views.settings.tickets._ticket_sharing.Decline_all_sharing_agreement_invites')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.tickets._ticket_sharing.If_you_enable_this_checkbox') %>
        </p>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.tickets._ticket_sharing.save_tab_label'), :class => "button save") %>
  </div>

<% end %>

<!-- A Hidden container to hold colorbox content -->
<div style="display:none;">

  <!-- Some colorbox content that is hidden when not in use by its parent container -->
  <div id="new_sharing_invite_content">
    <div class="lv_action">
      <%= render :partial => 'sharing_agreements/form' %>
    </div>
  </div>

</div>

<%- content_for :script_onload_at_end do -%>
  jQuery('#new_sharing_invite_link').colorbox({
    width: '650px',
    inline: true,
    href: '#new_sharing_invite_content'
  });

  jQuery('a.view_agreement').colorbox({
    href: jQuery(this).attr('href'),
    width: '780px'
  });

  <%- if params[:agreement_id] -%>
    var elements = jQuery('a#sharing_agreement_<%= params[:agreement_id] %>');

    if (elements.length > 0) {
      var currentAgreement = elements.first();

      jQuery.colorbox({
        href: currentAgreement.attr('href'),
        width: '780px'
      });
    }
  <%- end -%>

  jQuery('a.close_colorbox').live('click', function() {
    jQuery.colorbox.close();
    return false;
  });
<%- end -%>
