<%= render :partial => '/account/header' %>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.settings.tickets.show.Tickets') %></h2>

  <%= zd_tabs do %>
    <%= zd_tab(I18n.t('txt.admin.views.settings.tickets.show.Settings'), :id => 'settings') do %>
      <%= render :partial => 'settings' %>
    <% end %>

    <%= zd_tab(I18n.t('txt.admin.views.settings.tickets.show.Ticket_sharing'), :id => 'ticket_sharing') do %>
      <%= render :partial => 'ticket_sharing' %>
    <% end %>
  <% end %>
<% end %>
