body.analysis-index div.tagcloud {
  margin-bottom: 18px;
}

body.analysis-index div.frame h3 a {
  float: none;
  font-size: 16px;
}

body.analysis-index div.column {
  margin: 9px 8px 10px -12px;
  width: 96.5%;

  html[data-rtl-language='true'] & {
    margin: 9px -12px 10px 8px;
  }
}

body.analysis-show .content h4 {
  font-weight: normal;
  color: #AAA;
  font-size: 18px;
}

body.analysis-show .item-info.title {
  font-weight: bold;
}

body.analysis-show .item-info p.info {
  margin: 3px 0 0 0;
  color: #AAA;
  font-style: italic;
}

body.analysis-show span.property.rule-type {
  /*font-weight: bold;*/
  margin-left: 2px;

  html[data-rtl-language='true'] & {
    margin-left: 0;
    margin-right: 2px;
  }
}
