<%= js_init -%>

<%= div_content do %>

  <h2>
    <%= I18n.t('txt.admin.views.people.bulk_delete.index.bulk_delete_label') %>
    <%= content_tag :span, "(#{@users.total_entries})", :class => 'item_count' %>
  </h2>

  <p>
    <%= I18n.t('txt.admin.views.people.bulk_delete.index.bulk_delete_description') %>
  </p>

  <div class="frame">
    <% if current_account.has_suspended_users_filter? %>
      <div><%= I18n.t('txt.admin.views.people.bulk_delete.index.filter_by') %>
        <label class="field_options"><%= filter_check_box('suspended') %> <%= I18n.t('txt.admin.views.people.bulk_delete.index.filter.suspended_users') %></label>
      </div>
    <% end %>
    <%= form_tag({:action => :new}, :method => :get, :id => 'bulk_form') do |f| %>
      <div style="display: inline-block">
        <table class="tickets" style="width: auto; min-width:600px; margin-top: 10px;">
          <colgroup>
            <col class='name' />
            <col class='email' />
            <col class='suspended' />
            <col class='created_at' />
          </colgroup>
          <thead>
            <tr>
              <%= user_bulk_delete_field_header('name', I18n.t('txt.admin.views.people.bulk_delete.user_name_label')) %>
              <%= user_bulk_delete_field_header('email', I18n.t('txt.admin.views.people.bulk_delete.user_email_label'), false) %>
              <%= user_bulk_delete_field_header('suspended', I18n.t('txt.admin.views.people.bulk_delete.user_suspended_label'), !current_account.has_suspended_users_filter?) %>
              <%= user_bulk_delete_field_header('created_at', I18n.t('txt.admin.views.people.bulk_delete.user_created_at_label')) %>
              <th><input id="bulk_check_all" type="checkbox"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr class="linked" data-href="/users/<%= user.id %>" data-zd-account-id="<%= user.account.id %>">
                <td class="name"><%= link_to(user.name, edit_user_path(user.id)) %></td>
                <td class="email"><%= user.email %></td>
                <td class="suspended"><%= user.attributes["suspended"].in?(%w(1 true)) %></td>
                <td class="created_at"><%= user.created_at.strftime("%Y/%m/%d %H:%M") %></td>
                <td onclick="event.cancelBubble=true;"><input type="checkbox" class="bulk_check_one" name="user_ids[]" value="<%= user.id %>"></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br/>
        <div align="right" id="bulk_update">
          <button id="bulk_submit" class="button_disabled" disabled="disabled"><%= I18n.t('txt.admin.views.people.bulk_delete.basic_delete_action') %></button>
          <%= content_tag :div, nil, :id => 'bulk_spinner', :class => 'spinner small', :style => 'display: none' %>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @users %>

<% end %>
