<div class="lv_action" id="bulk_user_delete_lightbox" style="padding: 20px">
  <h1><%= I18n.t('txt.admin.views.people.bulk_delete.confirmation_heading') %></h1>
  <p class="description">
    <%= I18n.t('txt.admin.views.people.bulk_delete.basic_delete_confirmation') %>
  </p>

  <%= form_tag :controller => 'people/bulk_delete', :action => :create do %>
    <p class="submit_block">
      <% params[:user_ids].each do |id| %>
        <%= hidden_field_tag 'user_ids[]', id, :id => "user_id_#{id}" %>
      <% end %>
      <%= submit_tag I18n.t('txt.admin.views.people.bulk_delete.confirmation_submit'), :class => 'button' %>
    </p>
  <% end %>
</div>
