h2 .follow_link{
  margin-left: 6px;
}

body.entries-show h2.forums {
  font-size: 14px;
}

div.column {
  margin: 5px 0;
  width: 47.8%;
}

div.column ul {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
}

div.column li {
  margin: 7px 0 0 0;
}

div.column li a {
  color: #2078a9;
}
div.column li a.add_item {
  font-weight: normal;
}

div.column h3 {
  border-bottom: 1px solid #F2F2F2;
  color: #444;
  font-size: 14px;
  margin: 5px 0 0 0;
  min-width: 300px;
  padding-bottom: 5px;
}

div.column h3 a {
  color: #444;
  text-decoration: none;
  display: block;
  float: left;
}

div.column h3 span.sub {
  color: #CCC;
  font-size: 11px;
}

div.column h3 span.detail {
  float: right;
  padding-top: 3px;
}

.content li.articles {
  background: url(/classic/images/composite.gif) no-repeat 0 -361px;
  display: block;
  padding: 1px 0 0 17px;
}

.content li.questions {
  background: url(/classic/images/composite.gif) no-repeat 0 -387px;
  display: block;
  padding: 1px 0 0 17px;
}

.content li.ideas {
  background: url(/classic/images/composite.gif) no-repeat 0 -414px;
  display: block;
  padding: 1px 0 0 17px;
}

div.content div.category div.column {
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  height: 107px;
  padding: 0 5px;
}

div.content div.category.reordering div.column {
  background: white url("/classic/images/move-me-arrow.png") no-repeat center;
  border: 2px dashed #d9d9dc;
  cursor: move;
  padding: 0 3px;
}

div.category-header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #E5E5E5;
  margin: 0px -15px 5px -13px;
  padding: 15px 0px 5px 13px;
}

span.what-is a {
  margin-left: 10px;
}

div.category-description {
  line-height: 18px;
  margin: 5px 23px 3px 0;
}

div.category-description div.highlight {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}


img.forum_restricted { float: right; margin-top: 2px; margin-right: 3px; }
p.info span.forum_path {
  padding-right: 3px;
}
p.info span.forum_path a {
  color: #4c758c;
}

span.sub-counter {
  color: #999;
  font-weight: normal;
}

h2 .follow_link {
  font-size: 15px;
}
a .follow_link, a:visited .follow_link, h2 a:active .follow_link {
  color: #1A6690;
}
a:hover .follow_link, a:focus .follow_link {
  color: #F1831E;
}

p.forum-nav {
  margin: 9px 20px 9px 0;
  a {
    color: #1A6690;
  }
  a.active {
    color: #555;
  }
  a.active:hover {
    color: #505050;
    text-decoration: none;
    cursor: default;
  }
}

h3.empty_result_set {
  font-weight: normal;
  padding-top: 10px;
}

body.forums {
  table.tickets td, table.tickets th {
    white-space: normal;
  }
}

.mceLayout .mceIframeContainer { z-index: 3; }
