@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin sub-section-header {
  .stats_summary_header {
    padding: 15px 10px 10px 10px;
    margin-right: 10px;
    border-bottom: 1px solid #f0f0f0;

    .stats_summary_title {
      font-size: 14px;
      font-weight: bold;
      margin-right: 6px;
      color: #555;
    }

    .stats_summary_description {
      font-size: 14px;
      font-weight: bold;
      margin-right: 6px;
      color: #555;
    }

    .stats_summary_extra_description, .stats_summary_days {
      color: #777;
    }
  }
}

body.embedded_in_lotus {
  tr.linked {
    cursor:default;
  }
}

@mixin zendesk-table() {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
  clear: left;
  position: relative;

  thead {
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #C2C2C2;

    background: #dcdcdc url( /classic/images/views_table_header_background.png ) top left repeat-x;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.17, rgb(219,215,219)),
      color-stop(0.6, rgb(232,232,232))
    );
  }

  thead th { font-weight: bold; }
  thead th a { color: #333; text-shadow: white -0.5px 1px; }
  thead th.arrow a {
    display: block;
    background: url(/classic/images/table-arrow.png) no-repeat 85px 6px;
  }
  td, th {
    padding: 7px 0 7px 7px;
    color: #333;
    text-align: left;
    white-space: wrap;
    line-height: 15px;

    /* TODO: Remove .bulk_delete-index  and any other view-specific selectors,
    once RTL enabled for all Classic views. */
    .bulk_delete-index &, .account-show & {
      html[data-rtl-language='true'] & {
        padding: 7px 7px 7px 0;
        text-align: right;
      }
    }
  }
  td { border-bottom: 1px solid #E6E6E6; }
  tbody tr.closed td { color: #999; }
  tr.group_by td {
    background-color: #ebebeb;
    text-shadow: white -0.4px 1px;
    border-bottom: 2px solid #DDD;
    padding-bottom: 5px;
  }
  tr.linked {
    cursor: pointer;
    font-size: 12px;
  }
  tr.linked:nth-child(2n+1), tr.zebra:nth-child(2n+1) { background-color: #F6F6F6; }
  tr.linked:hover>td, tr.linked:active>td {
    color: #1a6690;
    background-color: #eaf9ff;
  }
  td.description span {
    overflow:hidden;
    display: block;
    height: 15px;
    white-space: normal;
  }
  th.checkbox{
    padding-right: 7px;
    width: 12px;
  }
}

@mixin full-vertical-gradient($top_color, $bottom_color) {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top_color), to($bottom_color));
  background-image: -webkit-linear-gradient($top_color, $bottom_color);
  background-image: -moz-linear-gradient(100% 100% 90deg, $top_color, $bottom_color);
  background-image: -o-linear-gradient($top_color, $bottom_color);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin gradient($start, $end) {
  background: $start; /* Old browsers */
  background: -moz-linear-gradient(top, $start 0%, $end 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $start 0%,$end 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $start 0%,$end 100%); /* IE10+ */
  background: linear-gradient(to bottom, $start 0%,$end 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=0 ); /* IE6-9 */
}

@mixin linear-gradient-top-down($top_color, $bottom_color, $top_stop, $bottom_stop) {
  background: $top_color; /* Old browsers */
  background: -moz-linear-gradient(top, $top_color $top_stop, $bottom_color $bottom_stop); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop($top_stop,$top_color), color-stop($bottom_stop,$bottom_color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top_color $top_stop,$bottom_color $bottom_stop); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top_color $top_stop,$bottom_color $bottom_stop); /* Opera11.10+ */
  background: -ms-linear-gradient(top, $top_color $top_stop,$bottom_color $bottom_stop); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top_color}', endColorstr='#{$bottom_color}',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, $top_color $top_stop,$bottom_color $bottom_stop); /* W3C */
}

@mixin rounded-corners($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-top($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -moz-border-radius-bottomleft:  0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright:  0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

@mixin rounded-bottom($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -moz-border-radius-topleft:  0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright:  0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

@mixin linear-gradient-top-down($top_color, $bottom_color, $top_stop, $bottom_stop) {
  background: $top_color; /* Old browsers */
  background: -moz-linear-gradient(top, $top_color $top_stop, $bottom_color $bottom_stop); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop($top_stop,$top_color), color-stop($bottom_stop,$bottom_color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top_color $top_stop,$bottom_color $bottom_stop); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top_color $top_stop,$bottom_color $bottom_stop); /* Opera11.10+ */
  background: -ms-linear-gradient(top, $top_color $top_stop,$bottom_color $bottom_stop); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top_color}', endColorstr='#{$bottom_color}',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, $top_color $top_stop,$bottom_color $bottom_stop); /* W3C */
}

@mixin drop-shadow($color, $offset_x, $offset_y, $blur, $spread) {
  -moz-box-shadow: $color $offset_x $offset_y $blur $spread;
  -webkit-box-shadow: $color $offset_x $offset_y $blur $spread;
  box-shadow: $color $offset_x $offset_y $blur $spread;
}

@mixin header-style {
  height: 55px;
  background: #8d8d8d;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#7ba92e),to(#5d8d1b));
  color: #fff;
}

@mixin inset-shadow($inset-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.17)) {
  -moz-box-shadow: $inset-shadow;
  -webkit-box-shadow: $inset-shadow;
  box-shadow: $inset-shadow;
}

@mixin red-inset-shadow($inset-shadow: inset 0px 0px 5px rgba(255, 0, 0, 0.3)) {
  @include inset-shadow($inset-shadow)
}

@mixin round-corners($top-left: $default-radius, $top-right: $default-radius, $bottom-right: $default-radius, $bottom-left: $default-radius) {

  /* Saf3-4, iOS 1-3.2, Android <=1.6 */
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  border-radius: $top-left $top-right $bottom-right $bottom-left;

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

@mixin round-corners-all($radius: $default-radius) {
  @include round-corners($radius, $radius, $radius, $radius);
}

@mixin elip-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}

@mixin linear-gradient($gradient-color-top, $gradient-color-bottom) {
  background-color: $gradient-color-bottom;
  background-image: -webkit-gradient(linear, left top, left bottom, from($gradient-color-top), to($gradient-color-bottom)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $gradient-color-top, $gradient-color-bottom); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $gradient-color-top, $gradient-color-bottom); /* FF3.6+ */
  background-image:     -ms-linear-gradient(top, $gradient-color-top, $gradient-color-bottom); /* IE10 */
  background-image:      -o-linear-gradient(top, $gradient-color-top, $gradient-color-bottom); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, $gradient-color-top, $gradient-color-bottom);
}

@mixin gradient-button($gradient-color-top, $gradient-color-bottom) {

  @include linear-gradient($gradient-color-top, $gradient-color-bottom);
  background-repeat: repeat-x;
  background-color: $gradient-color-bottom;

  text-decoration: none;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.5);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

@mixin grey_container {
  background-color: #F5F5F5;
  color: #333;
  padding: 12px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: {
    right: 0px;
  }
  color: #777;
}

@mixin zenbox-form-header {
  color: #555;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 2px 0;
  padding-top: 5px;

  .sub {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-left: 4px;
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { color: $color; }
  &:-moz-placeholder { color: $color; }
  &::-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
}
