#api_documentation.v1 {

  font-family: Arial, Helvetica, Tahoma, sans-serif;

  * { margin: 0; padding: 0; }

  nav, aside, article, hgroup, header, footer { display: block; }

  h1, h2, h3, h4, h5, h6, hgroup {
    font-family: "Adelle Web Bold", "Liberation Serif", Garamond, serif;
  }

  code {
    font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Courier New", Monaco, monospace;
  }

  pre {
    margin: 0.7em;
    padding: 0.5em;
    background: #e4e4e4;
    font-size: 0.75em;
    scroll: auto;
  }

  h2 {
    text-transform: uppercase;
  }

  section {
    h3 {
      color: #98C332;
      font-size: 1.3em;
      font-weight: bold;
      font-variant: small-caps;

      & + h4 { margin-top: 0.2em; }
    }
    h4 { margin-top: 1em; }
    hgroup { margin-bottom: 1em; }
  }
  * + section { margin-top: 2em; }

  ul, ol { list-style-type: none; }

  .sidebar {
    position: fixed;
    padding-right: 1em;
    width: 10em;

    a {
      color: #98C332;
      display: block;
      text-decoration: none;

      &:hover { text-decoration: underline; }

      & + a { margin-top: 1em; }
    }
  }

  .main {
    margin-left: 12em;
  }
}
