/*
 *= require normalize
 */

// Variables

$zendesk-green: #78a300;
$gainsboro: #DDD;
$white-smoke: #F8F8F8;
$dark-gray: #555;
$aluminum: #999;
$white: #FFF;
$oil: #333;
$iron: #CCC;
$snow: #FBFBFB;
$anti-flash-white: #F3F3F3;
$dark-pastel-red: #BF3026;

$blue-600: #1F73B7;

$grey-800: #2F3941;
$grey-700: #49545C;
$grey-600: #68737D;
$grey-500: #87929D;
$grey-400: #C2C8CC;
$grey-300: #D8DCDE;
$grey-200: #E9EBED;
$grey-100: #F8F9F9;

$default-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
$default-relative-font-size: 1.3rem;
$default-relative-line-height: 1.8rem;
$default-font-color: $grey-800;
$default-font-weight: 400;
$font-weight-semibold: 600;

$label-color: $grey-800;
$input-color: $grey-800;
$input-border-color: $grey-300;
$input-border-color-focused: $zendesk-green;
$input-background-color-disabled: $grey-100;

$button-color:          $grey-800;
$button-color-submit:   $white;
$button-color-disabled: $white;

$button-active:       $grey-800;
$button-inactive:     $grey-300;
$button-border-color: $grey-400;

$button-background-color:          $white;
$button-background-color-submit:   $grey-800;
$button-background-color-disabled: $grey-300;

$alert-info-image: "/classic/images/csat/ic-warning-tick.svg";
$alert-warning-image: "/classic/images/csat/ic-warning-exclamation.svg";

$rating-image-poor-default: "/classic/images/csat/ic-thumb-down-grey.svg";
$rating-image-poor-hover: "/classic/images/csat/ic-thumb-down-red.svg";
$rating-image-poor-active: "/classic/images/csat/ic-thumb-down-white.svg";

$rating-image-good-default: "/classic/images/csat/ic-thumb-up-grey.svg";
$rating-image-good-hover: "/classic/images/csat/ic-thumb-up-blue.svg";
$rating-image-good-active: "/classic/images/csat/ic-thumb-up-white.svg";

$mobile-max-width: 500px;

// Mixins

@mixin mobile {
  @media only screen and (max-width: #{$mobile-max-width}) {
    @content;
  }
}

// Utilities

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// Page styles

html {
  // rem units are relative to the root html element
  font-size: 10px;

  @include mobile {
    font-size: 13px;
  }
}

body {
  min-width: 320px;
  background: $grey-100;
  font-family: $default-font-family;
  font-size: $default-relative-font-size;
  font-weight: $default-font-weight;
  line-height: $default-relative-line-height;
  color: $default-font-color;
}

.btn {
  display: inline-block;
  padding: .8rem 1.3rem;
  margin-bottom: 0;
  font-size: $default-relative-font-size;
  font-weight: $default-font-weight;
  line-height: $default-relative-line-height;
  color: $grey-800;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: $white;
  border: 1px solid $grey-300;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: nowrap;
}

.btn:focus, .btn:active, .btn:focus:active, .btn:active:focus {
  outline: none;
}

.btn:focus {
  box-shadow: 0 0 0 3px rgba($button-color, 0.35) !important;
}

.btn:hover {
  background-color: $grey-100;
  border-color: $grey-400;
  color: $grey-800;
}

.btn:active, .btn.active {
  background-color: $grey-100;
  border-color: $grey-400;
  color: $grey-800;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.btn.disabled, .btn[disabled] {
  background-color: $grey-300 !important;
  border-color: $grey-300 !important;
  color: $white !important;
  opacity: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.btn-primary {
  background-color: $grey-800;
  border-color: $grey-800;
  color: $white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.btn-primary:hover {
  background-color: #444;
  border-color: #444;
  color: $grey-100;
}

.btn.btn-primary:active, .btn.btn-primary.active {
  background-color: $grey-800;
  border-color: $grey-800;
  color: $grey-400;
}

.btn.btn-primary {
  border-color: $grey-800;
}

.btn.rating > * {
  vertical-align: bottom;
}

.btn.rating {
  background-repeat: no-repeat;
  .short { display: none; }

  .long  {
    display: inline-block;
    padding-left: .3rem;
  }

  .icon {
    width: 1.7rem;
    height: 2rem;
  }
}

.icon {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btn.rating.good {
  border-color: $blue-600;
  margin-right: 5px;
  .icon {
    background-image: url($rating-image-good-default);
  }
}

.btn.rating.good:hover {
  color: $blue-600;
  .icon {
    background-image: url($rating-image-good-hover);
  }
}

input[type="radio"]:checked+label > .btn.rating.good, .btn.rating.good:active {
  background-color: $blue-600;
  border-color: $blue-600;
  color: $white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  .icon {
    background-image: url($rating-image-good-active);
  }
}

.btn.rating.poor {
  border-color: $dark-pastel-red;
  .icon {
    background-image: url($rating-image-poor-default);
  }
}

.btn.rating.poor:hover {
  color: $dark-pastel-red;
  .icon {
    background-image: url($rating-image-poor-hover);
  }
}

input[type="radio"]:checked+label > .btn.rating.poor, .btn.rating.poor:active {
  background-color: $dark-pastel-red;
  border-color: $dark-pastel-red;
  color: $white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  .icon {
    background-image: url($rating-image-poor-active);
  }
}

strong {
  font-weight: $font-weight-semibold;
}

label {
  display: block;
  margin-bottom: 1rem;
  color: $label-color;
  font-weight: $font-weight-semibold;
}

select, textarea, input {
  border: 1px solid $input-border-color;
  outline: none;
  box-shadow: none;
  margin-bottom: 2rem;

  &:focus {
    border-color: $input-border-color-focused;
  }

  &:disabled {
    background-color: $input-background-color-disabled;
  }
}

textarea {
  width: 98%;
  width: calc(100% - 1.8rem);
  border: 1px solid $grey-300;
  border-radius: 4px;
  padding: .8rem;
  resize: vertical;
}

input[name="satisfaction_rating"] {
  display: none;
}

select#ticket_satisfaction_reason_code {
  height: 3.4rem;
}

.alert > * {
  vertical-align: middle;
}

.alert {
  text-align: center;
  padding: 1.5rem 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

  @include mobile {
    padding: 1.5rem 2rem 1.5rem 2.2rem;
  }

  .icon {
    width: 2rem;
    height: 2rem;
    background-image: url($alert-info-image);
  }

  .message {
    display: inline-block;
    max-width: calc(830px - 3rem);

    @include mobile {
      max-width: calc(100% - 3rem);
    }
  }
}

.alert.info {
  background: #ECF4F8;
  border-color: #ABD0E3;

  .icon {
    background-image: url($alert-info-image);
  }
}

.alert.warning {
  background: #FFEDED;
  border-color: #F7CBCB;

  .icon {
    background-image: url($alert-warning-image);
  }
}

.alert.hidden {
  opacity: 0;
}

.container {
  width: 830px;
  margin: 30px auto;

  @include mobile {
    width: 100%;
    margin: 0;
  }
}

#ticket-details {
  margin-bottom: 4rem;

  @include mobile {
    background: $white;
    border-bottom: 1px solid $grey-300;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  #logo {
    margin-bottom: 3rem;
    height: 3.5rem;

    @include mobile {
      margin-bottom: 2rem;
    }
  }

  .ticket-title {
    font-size: 1.6rem;
    width: 550px;
    margin: 0;
    line-height: 2.4rem;
    position: relative;
    bottom: 2.4rem;
    display: inline-block;

    @include mobile {
      width: 100%;
      margin: 2rem .8rem 0 .8rem;
      bottom: 1.4rem;
      font-size: $default-relative-font-size;
      line-height: $default-relative-line-height;
      text-align: left;
      text-align: start;
    }
  }

  .assignee {
    width: 276px;
    display: inline-block;
    text-align: right;
    text-align: end;

    @include mobile {
      width: 100%;
      display: block;
      text-align: left;
      text-align: start;
    }

    .assignee-meta {
      width: 222px;
      float: left;

      @include mobile {
        width: auto;
        float: none;
      }

      .assignee-name {
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-left: 5px;

        @include mobile {
          font-size: $default-relative-font-size;
          line-height: $default-relative-line-height;
          margin-left: 4rem;
        }
      }

      .assignee-title {
        color: $grey-600;
        margin-left: 5px;

        @include mobile {
          margin-left: 4rem;
        }
      }
    }

    .assignee-avatar {
      position: relative;
      bottom: 5px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $grey-300;
      float: right;

      @include mobile {
        margin: .5rem .8rem;
        float: left;
      }

      &.rtl {
        float: left;

        @include mobile {
          float: right;
        }
      }
    }
  }
}

.section {
  background: $white;
  border: 1px solid $grey-300;
  padding: 3rem;
  margin-bottom: 2rem;
  border-radius: 5px;

  @include mobile {
    border-radius: 0;
    padding: 2rem;
    border-top: 1px solid $grey-100;
  }
}

#rating-form {
  @include mobile {
    #ticket_satisfaction_reason_code {
      width: 100%;
    }

    .btn.submit {
      width: 100%;
      height: 3.8rem;
    }
  }

  #satisfaction-rating-buttons {
    margin-bottom: 2rem;

    label { display: inline; }

    @include mobile {
      label { display: block; }
      .btn.rating {
        width: 100%;

        .long { display: none; }
        .short { display: inline-block; }
      }
    }
  }

  #rating-form-actions {
    text-align: right;
    text-align: end;
  }
}

#ticket-summary {
  .requester-meta {
    .requester-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid $grey-300;
      position: absolute;
      float: left;

      @include mobile {
        float: left;
        width: 50px;
        height: 50px;
        margin: .3rem 0;
      }
    }

    .requester-name {
      margin-left: 8rem;
      margin-right: 8rem;
      font-size: 1.5rem;
      padding: .4rem 0;

      @include mobile {
        margin-left: 5rem;
        margin-right: 5rem;
      }
    }

    .requester-comment-date {
      display: inline;
      margin-left: 8rem;
      margin-right: 8rem;

      @include mobile {
        color: $grey-600;
        margin-left: 5rem;
        margin-right: 5rem;
      }
    }
  }

  .timestamp {
    color: $grey-600;
    padding: .5rem 0;
  }

  .requester-comment {
    margin-left: 8rem;
    margin-right: 8rem;

    @include mobile {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
