/*
 *= require _mixins
 *= require vendor/bootstrap.min.css
 *= require global/_clean
 *= require global/_tabbed_container
 */

@import "mixins.css.scss";

html, body {
  margin: 0;
  padding: 0;
}

$mail_header_background_color: #EEE;

#mail_header {
  padding: 10px;
  background-color: $mail_header_background_color;

  .field {
    margin-bottom: 8px;
    display: block;
    padding-top: 5px;

    label {
      float: left;
      width: 80px;
      text-align: right;
      display: block;
      color: #777;
    }

    .value {
      margin-left: 100px;
    }
  }
}

#mail_bodies {
  .tabbed_container {
    $tab_border_color: #BBB;
    margin: 0px;

    .tab_links {
      background-color: $mail_header_background_color;
      padding-left: 15px;

      a {
        min-width: 40px;
        text-align: center;

        &:hover{
          background-color: transparent;
        }

        &.current {
          border-color: $tab_border_color;
          background-color: #FFF;
        }
      }

    }

    .tabs_content {
      border: none;
      border-top: 1px solid $tab_border_color;
      @include border-radius(0);
    }

    #html {
      // Avoid MsoListParagraph's bullets to be "text-indent:-.25in;"
      p { text-indent: 0 !important; }

      pre {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        word-break: break-word;
      }

      table[height="100%"] {
        height: initial;
      }
    }
  }

  p.text, p.eml {
    white-space: pre-wrap;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 12px;
  }

  #download_source {
    text-align: right;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
