<div class="capsule closed <%= brand_state_classes(brand) %>">
  <div class='capsule-header'>
    <% img_src = brand.logo ? brand.logo.path_for_url(:thumb) : "images/logo_placeholder.png" %>
    <img class="logo" src=<%= img_src %> />
    <h5 class="capsule-title name"><%= brand.name || I18n.t('txt.admin.multibrand.brand.new_brand_name') %></h5>
    <% if brand.default? %>
      <h6 class="capsule-info">(<%= I18n.t('txt.multibrand.brand.header.default_label') %>)</h6>
    <% elsif brand.route_is_agent_route? %>
      <h6 class="capsule-info">(<%= I18n.t('txt.multibrand.brand.header.agent_label') %>)</h6>
    <% end %>

    <% unless brand.new_record? %>
      <h6 class="capsule-title">
        <%= render '/brands/tooltip', {
          :current_index => 0,
          :tooltip_name => 'header',
          :title =>I18n.t('txt.admin.multibrand.onboarding.your_first_brand'),
          :body => I18n.t('txt.admin.multibrand.onboarding.first_brand'),
          :action_name => 'goToName',
          :action_string => I18n.t('txt.admin.multibrand.onboarding.next')
        }%>
      </h6>
    <% end %>

    <% if brand.host_mapping_not_secured_by_cert? %>
      <h6 class="host-mapping-not-secured-by-cert warning capsule-title clickable-header-item"
        data-ztooltip-type="actionable"
        data-ztooltip-dir="right">
        <script type="text/x-ztooltip-header">
          <%= I18n.t('txt.admin.multibrand.brand.ssl_warn.brand_is_not_protected') %>
        </script>
        <script type="text/x-ztooltip-body">
          <%= I18n.t('txt.admin.multibrand.brand.ssl_warn.you_need_to_update_your_ssl_certificate') %>
          <div class="z-footer">
            <a href="/agent/admin/security/ssl" target="_lotus">
              <button>
                <%= I18n.t('txt.admin.multibrand.brand.ssl_warn.edit_ssl_settings') %>
              </button>
            </a>
          </div>
        </script>
      </h6>
    <% end %>

    <% if brand.account.has_ticket_forms? && brand.ticket_forms.active.empty? && !brand.new_record? %>
      <h6 class="no-associated-ticket-forms warning capsule-title clickable-header-item"
        data-ztooltip-type="actionable"
        data-ztooltip-dir="right">
        <script type="text/x-ztooltip-header">
          <%= I18n.t('txt.admin.multibrand.brand.brand_has_no_forms') %>
        </script>
        <script type="text/x-ztooltip-body">
          <%= I18n.t('txt.admin.multibrand.brand.no_ticket_forms_are_associated_with_this_brand') %>
          <div class="z-footer">
            <a href="/agent/admin/ticket_forms" target="_lotus">
              <button>
                <%= I18n.t('txt.admin.multibrand.brand.edit_ticket_forms') %>
              </button>
            </a>
          </div>
        </script>
      </h6>
    <% end %>

    <% unless brand.new_record? %>

      <div class="dropdown clickable-header-item">
        <div class="dropdown-toggle" data-toggle="dropdown">
          <div class="down-arrow">
            <%= render :partial => '/brands/svg/downarrow' %>
          </div>
          <div class="gear">
            <%= render :partial => '/brands/svg/gear' %>
          </div>
        </div>
        <ul class="dropdown-menu" role="menu"></ul>
      </div>
      <%= form_for(brand, url: make_default_brand_url(brand), html: { class: "dropdown-form make-default", data: { show_modal: current_user.settings.show_new_default_brand_modal }}) {} %>
      <%= form_for(brand, url: toggle_brand_url(brand), html: { class: "dropdown-form toggle", data: { can_activate: current_account.under_active_brands_limit? } }) {} %>
      <%= form_for(brand, url: brand_url(brand), method: :delete, html: { class: "dropdown-form destroy" }) {} %>

    <% end %>

  </div>

  <div class="capsule-body">
    <%= form_for brand, html: { class: "brand-form" } do |f| %>
      <div class="left-pane">
        <div class="field-wrapper validation">
          <%= f.label :name, I18n.t('txt.admin.multibrand.brand.form.name'), class: 'required' %>

          <% unless brand.new_record? %>
            <%= render '/brands/tooltip', {
              :current_index => 1,
              :tooltip_name => 'name',
              :title =>I18n.t('txt.admin.multibrand.onboarding.brand_name'),
              :body => I18n.t('txt.admin.multibrand.onboarding.brands_have_names'),
              :action_name => 'goToSubdomain',
              :action_string => I18n.t('txt.admin.multibrand.onboarding.next')
              }
            %>
          <% end %>

          <%= f.text_field :name, :class => "name-field", :autocomplete => 'off' %>
        </div>

        <div class="field-wrapper validation">
          <%= f.label :subdomain, I18n.t('txt.admin.multibrand.brand.form.subdomain'), class: 'required' %>
          <% unless brand.new_record? %>
            <%= render '/brands/tooltip', {
              :current_index => 2,
              :tooltip_name => 'subdomain',
              :title =>I18n.t('txt.admin.multibrand.onboarding.subdomain'),
              :body => I18n.t('txt.admin.multibrand.onboarding.brands_have_subdomains'),
              :action_name => 'goToSignatureTemplate',
              :action_string => I18n.t('txt.admin.multibrand.onboarding.next')
              }
            %>
          <% end %>

          <%= f.text_field :subdomain, :class => "subdomain-field", :maxlength => "63", :placeholder => I18n.t("txt.admin.multibrand.brand.form.subdomain_example_placeholder"), :autocomplete => 'off', :data => { "original-value" => brand.subdomain }, :disabled => brand.route_is_agent_route? && (!current_user.is_account_owner? || current_account.is_sandbox?) %>
          <div class="spinner"></div>
        </div>

        <div class="field-wrapper validation">
          <%= f.label :upload_logo, I18n.t('txt.admin.multibrand.brand.form.logo') %>
          <% if brand.logo %>
            <% data = {size: brand.logo.size, url: brand.logo.path_for_url(:thumb), name: brand.logo.filename} %>
          <% end %>
          <%= content_tag :div, class: "input upload-field", data: data do %>
            <%= f.fields_for :logo do |logo| %>
              <%= logo.file_field :uploaded_data, accept: 'image/png,image/gif,image/jpeg' %>
            <% end %>
            <div class="upload-child">
              <%= render :partial => '/brands/svg/upload' %>
            </div>
            <div class="preview-child">
              <div class="unset-logo">
                <%= render :partial => '/brands/svg/x_mark' %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="field-wrapper validation">
          <%= f.label :signature_template, I18n.t('txt.admin.multibrand.brand.form.signature_template') %>

          <% unless brand.new_record? %>
            <%= render '/brands/tooltip', {
              :current_index => 3,
              :tooltip_name => 'signaturetemplate',
              :title =>I18n.t('txt.admin.multibrand.onboarding.signature_template'),
              :body => I18n.t('txt.admin.multibrand.onboarding.brands_have_a_signature_template'),
              :action_name => 'goToHostMapping',
              :action_string => I18n.t('txt.admin.multibrand.onboarding.next')
              }
            %>
          <% end %>

          <%= f.text_area :signature_template, :class => " input signature-template-field", :autocomplete => 'off', :value => brand.new_record? ? Brand::DEFAULT_SIGNATURE_TEMPLATE : brand.signature_template %>
        </div>

        <div class="field-wrapper validation">
          <%= f.label :host_mapping, I18n.t('txt.admin.multibrand.brand.form.host_mapping') %>

          <% unless brand.new_record? %>
            <%= render '/brands/tooltip', {
              :current_index => 4,
              :tooltip_name => 'hostmapping',
              :title =>I18n.t('txt.admin.multibrand.onboarding.host_mapping_title'),
              :body => I18n.t('txt.admin.multibrand.onboarding.host_mapping'),
              :action_name => multiple_help_centers_available? ? 'goToHelpCenter' : 'finish',
              :action_string => multiple_help_centers_available? ? I18n.t('txt.admin.multibrand.onboarding.next') : I18n.t('txt.admin.multibrand.onboarding.finish')
              }
            %>
          <% end %>

          <%= f.text_field :host_mapping, :class => "host-mapping-field", :placeholder => I18n.t("txt.admin.multibrand.brand.form.host_mapping_example_placeholder") %>
          <div class="spinner"></div>
        </div>

        <% if !brand.new_record? && multiple_help_centers_available? %>
          <div class="hc-help field-wrapper">
            <%= f.label :help_center, I18n.t('txt.admin.multibrand.brand.form.help_center') %>

            <%= render '/brands/tooltip', {
              :current_index => 5,
              :tooltip_name => 'helpcenter',
              :title =>I18n.t('txt.admin.multibrand.brand.form.help_center'),
              :body => I18n.t('txt.admin.multibrand.onboarding.help_center'),
              :action_name => 'finish',
              :action_string => I18n.t('txt.admin.multibrand.onboarding.finish')
              }
            %>

            <p class="description"><%= I18n.t('txt.admin.multibrand.brand.form.help_center_explanation') %></p>
            <% if brand.has_help_center? %>
              <button type="button" class="btn narrow manage" data-brand-url="<%= brand.url %>"><%= I18n.t('txt.admin.multibrand.buttons.manage') %></button>
            <% elsif brand.active? %>
              <button type="button" class="btn narrow create" data-brand-url="<%= brand.url %>" data-brand-id="<%= brand.id %>"><%= I18n.t('txt.admin.multibrand.buttons.create') %></button>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="right-pane onboarding">
        <%= render 'brands/onboarding', :brand => brand %>
      </div>

      <div class="button-section">
        <div>
          <button class="btn" type="reset"><%= I18n.t("txt.admin.multibrand.brand.form.cancel") %></button>
          <button class="btn btn-green" type="submit"><%= I18n.t("txt.admin.multibrand.brand.form.save") %></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
