<div class="admin-container checklist mb-landing">
  <div class="onboarding_container">
    <div class="onboarding_heading">
      <h1><%= I18n.t('txt.admin.multibrand.onboarding.page_title') %></h1>
      <p class="tagline"><%= I18n.t('txt.admin.multibrand.onboarding.title') %></p>
      <p class="subheading"><%= I18n.t('txt.admin.multibrand.onboarding.description') %></p>
      <div class="mb-checklist">
        <p class="subheading"><%= I18n.t("txt.admin.multibrand.checklist.description") %></p>
        <ul>
          <% if current_account.help_center_disabled? %>
            <li class="checklist-item create-help-center"><%= I18n.t("txt.admin.multibrand.checklist.create_help_center") %></li>
          <% end %>
          <% if current_account.help_center_restricted? || current_account.help_center_disabled? %>
            <li class="checklist-item activate-help-center"><%= I18n.t("txt.admin.multibrand.checklist.activate_help_center") %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= render 'onboarding_features' %>
  </div>
</div>
