<div class="admin-container hub-spoke mb-landing">
  <div class="onboarding_container">
    <div class="onboarding_heading">
      <h1><%= I18n.t('txt.admin.multibrand.onboarding.page_title') %></h1>
      <p class="tagline"><%= I18n.t('txt.admin.multibrand.hub_and_spoke.title') %></p>
      <p class="subheading"><%= I18n.t('txt.admin.multibrand.hub_and_spoke.description') %></p>

      <% if current_account.settings.has_requested_multibrand %>
        <button class="disabled"><%= I18n.t('txt.admin.multibrand.hub_and_spoke.ticket_sent') %></button>
      <% else %>
        <button class="get-started request-brands"><%= I18n.t('txt.admin.multibrand.hub_and_spoke.button_text') %></button>
      <% end %>
      <p class="read-more">
        <%= link_to I18n.t('txt.admin.multibrand.hub_and_spoke.read_more_link'), I18n.t('txt.admin.multibrand.hub_and_spoke.read_more_link_href'), :target => "_blank" %>
      </p>
    </div>
    <%= render 'onboarding_features' %>
  </div>
</div>
