<div class="admin-container mb-landing">
  <div class="onboarding_container">
    <div class="onboarding_heading">
      <h1><%= I18n.t('txt.admin.multibrand.onboarding.page_title') %></h1>
      <p class="tagline"><%= I18n.t('txt.admin.multibrand.onboarding.title') %></p>
      <p class="subheading"><%= I18n.t('txt.admin.multibrand.onboarding.description') %></p>
      <button class="get-started show-brands"><%= I18n.t('txt.admin.multibrand.onboarding.button_text') %></button>
    </div>
    <%= render 'onboarding_features' %>
  </div>
</div>
