<div class="features">
  <ul class="features-items">
    <li>
      <%= image_tag("brands/onboarding/Zendesk_Tailoring_Zipper.svg") %>
      <h4><%= I18n.t('txt.admin.multibrand.onboarding.left_column_header') %></h4>
      <p><%= I18n.t('txt.admin.multibrand.onboarding.left_column_body') %></p>
    </li>
    <li>
      <%= image_tag("brands/onboarding/Zendesk_Tailoring_Tape.svg") %>
      <h4><%= I18n.t('txt.admin.multibrand.onboarding.middle_column_header') %></h4>
      <p><%= I18n.t('txt.admin.multibrand.onboarding.middle_column_body') %></p>
    </li>
    <li>
      <%= image_tag("brands/onboarding/Zendesk_Tailoring_BowTie.svg") %>
      <h4><%= I18n.t('txt.admin.multibrand.onboarding.right_column_header') %></h4>
      <p><%= I18n.t('txt.admin.multibrand.onboarding.right_column_body') %></p>
    </li>
  </ul>
</div>