<% if brand.new_record? %>
  <div class="dont-worry">
    <%= image_tag("brands/onboarding/Zendesk_Tailoring_Dress.svg") %>
    <p class="description"><%= I18n.t('txt.admin.multibrand.onboarding.new_brand.dont_worry') %></p>
  </div>
<% else %>
  <h5 class="description"><%= I18n.t('txt.admin.multibrand.onboarding.tasks.help_configuring_multi_brand') %></h5>
  <div class="tasks panel-group" id="panel-group-<%= brand.id %>">
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#panel-group-<%= brand.id %>" href="#incoming-tickets-<%= brand.id %>">
            <%= I18n.t('txt.admin.multibrand.onboarding.tasks.incoming_tickets') %>
          </a>
        </h4>
      </div>
      <div id="incoming-tickets-<%= brand.id %>" class="panel-collapse collapse in">
        <div class="panel-body">
          <ul class="tasks">

            <li class="task <%= "complete" if brand.has_email_configured? %>" ><a target="_lotus" href="/agent/admin/email"><%= I18n.t('txt.admin.multibrand.onboarding.tasks.add_an_email_address') %></a></li>
            <li class="task <%= "complete" if brand.has_facebook_configured? %>" ><a target="_lotus" href="/agent/admin/facebook"><%= I18n.t('txt.admin.multibrand.onboarding.tasks.add_a_facebook_page') %></a></li>
            <li class="task <%= "complete" if brand.has_twitter_configured? %>" ><a target="_lotus" href="/agent/admin/twitter"><%= I18n.t('txt.admin.multibrand.onboarding.tasks.add_a_twitter_handle') %></a></li>
            <li class="task <%= "complete" if brand.has_phone_configured? %>" ><a target="_lotus" href="/agent/admin/voice"><%= I18n.t('txt.admin.multibrand.onboarding.tasks.add_a_phone_number') %></a></li>
          </ul>
          <ul class="links">
            <li class="link">
              <%= link_to I18n.t('txt.admin.multibrand.onboarding.tasks.viewing_branded_tickets'), I18n.t('txt.admin.multibrand.onboarding.tasks.viewing_branded_tickets_url'), :target => "_blank" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#panel-group-<%= brand.id %>" href="#outgoing-notifications-<%= brand.id %>">
            <%= I18n.t('txt.admin.multibrand.onboarding.tasks.outgoing_notifications') %>
          </a>
        </h4>
      </div>
      <div id="outgoing-notifications-<%= brand.id %>" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="links">
            <li class="link">
              <%= link_to I18n.t('txt.admin.multibrand.onboarding.tasks.business_rules_and_brands'), I18n.t('txt.admin.multibrand.onboarding.tasks.business_rules_and_brands_url'), :target => "_blank" %>
            </li>
            <li class="link">
              <%= link_to I18n.t('txt.admin.multibrand.onboarding.tasks.manage_template_and_notifications'), I18n.t('txt.admin.multibrand.onboarding.tasks.manage_email_template_url'), :target => "_blank" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
