<div class="ztooltip z-tooltip-anchor onboarding"
  data-ztooltip-type="clickjack"
  data-ztooltip-alignment-offset="30"
  data-ztooltip-name=<%= tooltip_name %>
  data-ztooltip-dir="right"
  data-ztooltip-animated="true">
  <div class="inner"></div>
  <script type="text/x-ztooltip-header"><%= title %></script>
  <script type="text/x-ztooltip-body">
    <%= body %>
    <div class="z-footer">
      <div>
        <% 6.times do |index| %>
          <%= content_tag(:div, '', :class => "dot #{index == current_index ? 'active' : ''}") %>
        <% end %>
      </div>
      <button class="green" data-ztooltip-action=<%= action_name %>>
        <%= action_string %>
      </button>
    </div>
  </script>
</div>
