<div class="zero">
  <div class="brand-zero">
    <%= render :partial => '/brands/svg/brand_zero' %>
  </div>
  <h3 class="title">Something Headline</h3>
  <p class="description">This is some more random giberish.  This is some more random giberish.  This is some more random giberish.  </p>
  <button id="tour">Tour Brand</button>
  <button class="add-brand"><%= I18n.t('txt.admin.multibrand.addbrand') %></button>
</div>
