<% if @landing_page %>
  <%= render partial: @landing_page %>
<% end %>

<div class="admin-container brands <%= "zero-state" if @landing_page %>">
  <div class="header">
    <h2><%= I18n.t('txt.admin.multibrand.title') %></h2>
    <p class="description"><%= I18n.t('txt.admin.multibrand.subtitle') %></p>
  </div>

  <div class='field-wrapper clearfix <%= "hidden" if @active_brands.size == 1 %>'>
    <label><%= I18n.t('txt.admin.multibrand.require_brand.title') %></label>

    <span class="info pull-left"><%= I18n.t('txt.admin.multibrand.require_brand.description') %></span>

    <div class="switch pull-right">
      <label class="switch-label">
        <input type="checkbox" class="switch-checkbox" <%= current_account.settings.require_brand_on_new_tickets? ? 'checked' : nil %>>
        <span class="switch-content">
          <span class="switch-bg"></span>
          <span class="switch-toggle"></span>
        </span>
      </label>
    </div>
  </div>

  <div class="capsule-container">
    <div class="capsule-container-header">
      <span class="title"><%= I18n.t('txt.admin.multibrand.allbrands') %></span>
      <% if current_account.can_add_brand? %>
        <button class="btn narrow add-brand">
          <%= I18n.t('txt.admin.multibrand.addbrand') %>
        </button>
      <% else %>
        <button class="btn narrow add-brand disabled"
          data-ztooltip-type="actionable"
          data-ztooltip-alignment-offset="240"
          data-ztooltip-dir="down">
          <script type="text/x-ztooltip-header">
            <%= I18n.t('txt.admin.multibrand.brand.why_cant_i_add_more_brands') %>
          </script>
          <% unless current_account.under_maximum_brands_limit? %>
            <script type="text/x-ztooltip-body">
              <%= I18n.t('txt.admin.multibrand.brand.your_account_has_reached_the_real_maximum_number_of_brands', brands_cap: current_account.settings.maximum_brands) %>
              <div class="z-footer">
                <%= link_to I18n.t('txt.admin.multibrand.brand.maximum_brands.learn_more_link'), :target => "_blank" do %>
                  <button>
                    <%= I18n.t('txt.admin.multibrand.brand.maximum_brands.learn_more') %>
                  </button>
                <% end %>
              </div>
            </script>
          <% else %>
            <script type="text/x-ztooltip-body">
              <%= I18n.t('txt.admin.multibrand.brand.your_account_has_reached_the_maximum_number_of_brands') %>
              <div class="z-footer">
                <%= link_to I18n.t('txt.admin.multibrand.brand.view_addons_link'), :target => "_blank" do %>
                  <button>
                    <%= I18n.t('txt.admin.multibrand.brand.view_addons') %>
                  </button>
                <% end %>
              </div>
            </script>
          <% end %>
          <%= I18n.t('txt.admin.multibrand.addbrand') %>
        </button>
      <% end %>
    </div>
    <%= render partial: '/brands/brand', locals: { brand: @brand } %>
    <%= render partial: '/brands/brand', collection: @active_brands %>
  </div>
  <div class="capsule-container inactive">
    <%= render partial: '/brands/brand', collection: @inactive_brands %>
  </div>
</div>
