<% if !comment && @ticket.via_phone? %>
  <p><%= h(@ticket.description).present %></p>
<% else %>
  <%= comment_value_as_html(comment, :default_value => I18n.t("txt.requests.index.no_description")).html_safe %>
<% end %>
