<link rel="stylesheet" href="https://assets.zendesk.com/apps/sdk-assets/css/2/zendesk_garden.css" type="text/css">

<%
  support_brand =
    "<div class='u-mb-xl'>
      <svg class='relationshape u-fg-apple-green' width='100%' height='26px'>
        <use xlink:href='/images/garden_vector_icons.svg#zd-svg-icon-26-relationshape-support'></use>
      </svg>
      <svg class='wordmark wordmark-support' width='100%' height='26px'>
        <use xlink:href='/images/garden_vector_icons.svg#zd-svg-icon-26-wordmark-support'></use>
      </svg>
    </div>".html_safe;
%>

<%= render partial: "shared/support_activate_failure", locals: { brand: support_brand } %>

<script type="application/javascript">
  (function(){
    var hostname = window.location.hostname;
    var protocol = window.location.protocol;
    var supportPath = protocol + '//' + hostname + '/agent';

    var input = document.getElementById('new-hostname');
    input.value = supportPath;
  }());
</script>
