<style>
  .copy_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .footer {
    text-align: center !important;
  }

  h1, h3 {
    color: #777777;
  }

  h1 {
    line-height: 30px;
  }

  p {
    color: #BBBBBB;
  }
</style>

<link rel="stylesheet" href="https://assets.zendesk.com/apps/sdk-assets/css/2/zendesk_garden.css" type="text/css">

<body class="c-chrome">
  <div id="app"></div>

  <script src="https://github.com/facebook/react/releases/download/v16.2.0/react.development.js"></script>
  <script src="https://github.com/facebook/react/releases/download/v16.2.0/react-dom.development.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/create-react-class@15.6.3/create-react-class.js"></script>
  <%= javascript_include_tag 'admin/vendor/jquery' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script type="text/babel">
    const TrySupportButton = createReactClass({
      getDefaultProps: function() {
        return {
          enabled: false,
        };
      },

      getInitialState: function() {
        return {
          started: false,
        };
      },

      _startUrl: '/agent/activate_trial/activate',

      _handleClick: function() {
        this.setState({ started: true });
        $.ajax(this._startUrl, {
          method: 'POST',
          data: {
            authenticity_token: '<%= form_authenticity_token %>',
          },
        }).then(function(res) {
          if (res && res.redirect) {
            window.location = res.redirect;
          } else {
            throw new Error('There was a problem activating a new support account: ' + res);
          }
        }); // kick off setup
      },

      render: function() {
        return (
          <button
            disabled={!this.props.enabled || this.state.started}
            className={`c-btn c-btn--medium c-btn--primary ${this.props.enabled ? '' : 'is-disabled'}`}
            onClick={this._handleClick}>
            {this.state.started
              ? '<%= escape_javascript(I18n.t("txt.activate_trial.starting_support")) %>'
              : '<%= escape_javascript(I18n.t("txt.activate_trial.try_support_for_free")) %>'}
          </button>
        );
      }
    });

    const TrySupportFooter = createReactClass({
      getInitialState: function() {
        return {
          trySupportButtonEnabled: false,
        };
      },

      _onCheckboxChange: function(e) {
        const value = e.target.checked;
        this.setState({
          trySupportButtonEnabled: value,
        });
      },

      render: function() {
        return (
          <footer className="c-dialog__footer footer">
            <div className="c-chk u-mb">
              <input className="c-chk__input" id="accept" type="checkbox" onChange={this._onCheckboxChange} />
              <label className="c-chk__label" htmlFor="accept"><%=
                I18n.t(
                  'txt.activate_trial.i_agree_to_terms',
                  :terms_link => link_to(
                    I18n.t("txt.activate_trial.terms_of_use"),
                    I18n.t("txt.activate_trial.terms_of_use_url"),
                    :target => "_blank"),
                  :privacy_policy_link => link_to(
                    I18n.t("txt.activate_trial.privacy_policy"),
                    I18n.t("txt.activate_trial.privacy_policy_url"),
                    :target => "_blank")
                ) %></label>
            </div>
            <TrySupportButton enabled={this.state.trySupportButtonEnabled} />
          </footer>
        );
      }
    });

    ReactDOM.render(
      <div className="c-chrome__body__content">
        <main className="c-chrome__body__content__main">
          <div className="l-backdrop l-backdrop--center is-visible">
            <section aria-hidden="true"
                   className="c-dialog u-7/8 activate_trial"
                   role="dialog"
                   tabIndex="-1">
              <main className="u-m-xl u-ta-center u-epsilon">
                <div className="u-mb-xl">
                  <svg className="relationshape u-fg-apple-green" width="100%" height="26px">
                    <use xlinkHref="/images/garden_vector_icons.svg#zd-svg-icon-26-relationshape-support"></use>
                  </svg>
                  <svg className="wordmark wordmark-support" width="82px" height="26px">
                    <use xlinkHref="/images/garden_vector_icons.svg#zd-svg-icon-26-wordmark-support"></use>
                  </svg>
                </div>
                <h1 className="u-mega u-light"><%= escape_javascript(I18n.t('txt.activate_trial.make_it_easy')) %></h1>
                <div className="copy_container">
                  <section className="u-display-inline-block u-1/4 u-ph-xl blurb_container u-mt-xl">
                    <%= image_tag "activate_trial/spaceship_icon.svg", :alt => I18n.t('txt.activate_trial.spaceship_icon') %>
                    <h3 className="u-epsilon u-semibold u-mt-xl u-mb"><%= escape_javascript(I18n.t('txt.activate_trial.be_fast')) %></h3>
                    <p className="u-regular"><%= escape_javascript(I18n.t('txt.activate_trial.support_is_built')) %></p>
                  </section>
                  <section className="u-display-inline-block u-1/4 u-ph-xl blurb_container u-mt-xl">
                    <%= image_tag "activate_trial/handshake_icon.svg", :alt => I18n.t('txt.activate_trial.rockin_hands') %>
                    <h3 className="u-epsilon u-semibold u-mt-xl u-mb"><%= escape_javascript(I18n.t('txt.activate_trial.right_place')) %></h3>
                    <p className="u-regular"><%= escape_javascript(I18n.t('txt.activate_trial.with_features_like')) %></p>
                  </section>
                  <section className="u-display-inline-block u-1/4 u-ph-xl blurb_container u-mt-xl">
                    <%= image_tag "activate_trial/chemistry_icon.svg", :alt => escape_javascript(I18n.t('txt.activate_trial.test_tubes')) %>
                    <h3 className="u-epsilon u-semibold u-mt-xl u-mb"><%= escape_javascript(I18n.t('txt.activate_trial.customize_and_personalize')) %></h3>
                    <p className="u-regular"><%= escape_javascript(I18n.t('txt.activate_trial.support_can_be')) %></p>
                  </section>
                </div>
              </main>
              <% if owner_or_chat_admin? %>
                <TrySupportFooter />
              <% else %>
                <span className="u-ta-center u-mb-xl"><%= escape_javascript(I18n.t("txt.activate_trial.talk_to_your_administrator")) %></span>
              <% end %>
            </section>
          </div>
        </main>
      </div>,
      document.getElementById('app')
    )
  </script>
</body>
