<link rel="stylesheet" href="https://assets.zendesk.com/apps/sdk-assets/css/2/zendesk_garden.css" type="text/css">

<%
  support_brand =
    "<div class='u-mb-xl'>
      <svg class='relationshape u-fg-apple-green' width='100%' height='26px'>
        <use xlink:href='/images/garden_vector_icons.svg#zd-svg-icon-26-relationshape-support'></use>
      </svg>
      <svg class='wordmark wordmark-support' width='100%' height='26px'>
        <use xlink:href='/images/garden_vector_icons.svg#zd-svg-icon-26-wordmark-support'></use>
      </svg>
    </div>".html_safe;
%>

<% 
  success_redirect_url = "/agent"
  success_redirect_url += "/get-started/sample-ticket" if current_account.settings.suite_trial?
%>

<%= render partial: "shared/wait", locals: { brand: support_brand } %>

<script type="application/javascript">
  (function() {
    function ajax() {
      // Safari no le gusta this endpoint as it doesn't have the appropriate cache control header 
      // so we're busting cache with a whatever parameter 
      var readinessCheckUrl = window.location.origin + '/agent/activate_trial/state' + '?t=' + Date.now();
      var request = new XMLHttpRequest();

      request.open("GET", readinessCheckUrl);
      request.onreadystatechange = function() {
        if (request.readyState === 4) {
          if (request.responseText.indexOf('complete') > -1) {
            success();
          } else if (request.responseText.indexOf('failed') > -1) {
            failure();
          } else {
            pending();
          }
        }
      };
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      request.send();
    }

    function success() {
      var successRedirectUrl = window.location.origin + "<%= success_redirect_url%>";
      window.location = successRedirectUrl;
    }

    function pending() {
      ajax();
    }

    function failure() {
      var failureRedirectUrl = window.location.origin + '/agent/activate_trial/failed';
      window.location = failureRedirectUrl;
    }

    ajax();
  }());

  (function(){
    var hostname = window.location.hostname;
    var protocol = window.location.protocol;
    var supportPath = protocol + '//' + hostname + '/agent';

    var input = document.getElementById('new-hostname');
    input.value = supportPath;
  }());
</script>
