<div class="app_installation">
  <div class="app_installation__badge">
    <%= I18n.t("txt.admin.#{rule.rule_type}.app_requirement.badge") %>
  </div>
  <div class="app_installation__title">
    <%= app_installation_title %>
  </div>
</div>
