<div id="bulk-update" style="display:none;">
  <%= div_content do %>
    <%= render :partial => '/shared/macro_list' %>
    <h2><%= I18n.t('txt.admin.views.rules.bulk_import.update_selected_tickets') %></h2>
    <%= form_for(:ticket, :url => bulk_tickets_path, :html => { :id => 'ticket-chat', :method => :put}) do |f| %>
      <div class="frame" style="padding-top:0">
        <input type="hidden" value="" name="tickets_to_bulk_update" id="tickets_to_bulk_update"/>
        <%= hidden_field_tag('macro_applied') %>
        <%= hidden_field_tag(:return_to, return_to_path) if return_to_path.present? %>

        <%= render :partial => 'shared/ticket_properties', :locals => { :f => f, :bulk_update => true } %>
        <%= render :partial => 'tickets/tags', :locals => { :f => f, :bulk_update => true } %>

        <% @comment = Comment.new(:is_public => current_account.is_comment_public_by_default?) %>
        <%= render :partial => '/tickets/add_comment' %>
      </div>

      <div class="action">
        <%= select_tag 'submit_type', bulk_ticket_update_options, :onchange => 'checkTicketDelete()', :style => 'font-weight:bold', :class => 'action-select' %>
        <%= submit_tag I18n.t('txt.admin.views.rules.bulk_import.submit_label'), :class => 'buttonsubmit', :type => 'button', :onclick => "submitBulkUpdateForm();" %>
      </div>
    <% end %>

  <% end %>
</div>

<%= js_init -%>
