<div class="placeholder-list" id="placeholder-list" style="display:none;">
  <%= render :partial => "placeholders" %>
</div>

<%= javascript_tag do %>
  <%= render partial: 'form', formats: [:js] %>
<% end %>

<%= form_for :rule, :url => (@rule.id ? rule_path(@rule) : rules_path ),
           :html => {
             :name => 'viewform',
             :id => 'viewform',
             :method => (@rule.id ? :put : :post),
             :class => 'two_column totango tracked',
             'data-rule-type' => @rule.class,
             'data-tracking-module' => @rule.class.to_s,
             'data-tracking-activity' => @rule.new_record? ? 'Create' : 'Update'
           } do |f| %>

  <h2>
    <% if @rule.is_a?(View) && @rule.id -%>
      <span><%= @rule.title %></span>
      <% if filtered? %>
      <span class="skill-filtered-view-badge">
        <%= I18n.t('txt.admin.views.skill_based_filtered_view_badge') %>
      </span>
      <% end %>
    <% else -%>
    <%= I18n.t('txt.admin.views.rules.form.rule_title_' + @rule.rule_name) %>
    <% end -%>
    <% unless @rule.is_active? %>
      <span class="sub"><%= I18n.t('txt.admin.views.rules.form.inactive_label') %></span>
    <% end %>
  </h2>

  <% if @rule.app_installation.present? %>
    <%= render partial: 'app_installation', locals: { rule: @rule } %>
  <% end %>

  <% if @rule.is_a?(View) && @rule.id %>
    <h3><%= I18n.t('txt.admin.views.rules.form.rule_title_view') %></h3>
  <% end %>
  <%= f.text_field :title, :class => 'title', disabled: !can_edit_rule? %>

  <% if @rule.is_a?(View) && filtered? %>
    <div class="skill-filtered-view-information">
      <h3><%= I18n.t('txt.admin.views.skill_based_filtered_view_title') %></h3>
      <p>
        <%= I18n.t('txt.admin.views.skill_based_filtered_view_description',
          url_a: I18n.t('txt.admin.views.skill_based_filtered_view_description_link_a'),
          url_b: I18n.t('txt.admin.views.skill_based_filtered_view_description_link_b')
        ) %>
      </p>
    </div>
  <% end %>

  <%= render :partial => "system_rule_notice", :locals => { :rule => @rule } if @rule.is_system_rule? %>

  <%= render :partial => "form_conditions_and_actions", :locals => { include_preview: include_preview?, :f => f } %>

  <% if (@rule.is_a?(View) || (@rule.is_a?(Macro) && can_manage_group_or_shared?(Macro))) && can_edit_rule?  %>
    <div class="tabbed_container" mode="static"><div class="tabs_content"><div class="element_group no_right_margin">

    <% if @rule.is_a?(View) %>

      <div class="form_element">
        <%= label_tag I18n.t('txt.admin.views.rules.form.formatting_options_label') %>

        <div class="form_field">
          <%= hidden_field :output, :type %>

          <div class="sub_setting">
            <div id='view_output_columns' class="form_field if_table_view" style="<%= 'display:none;' if !@output || @output.type != 'table' %>">
              <h4><%= I18n.t('txt.admin.views.rules.form.table_columns') %></h4>
              <p><%= I18n.t('txt.admin.views.rules.form.table_columns_explanation')%></p>
              <div class='not_included'>
                <em><%= I18n.t('txt.admin.views.rules.form.columns_not_table') %></em>
                <ul class="sortablelist" id="available_columns">
                  <% selectables(included: false).each do |item, identifier| %>
                    <li class="sortable_selected" id="sort_<%= identifier %>">
                      <%= item %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class='included'>
                <em><%= I18n.t('txt.admin.views.rules.form.columns_in_table') %></em>
                <ul class="sortablelist" id="result_columns">
                  <% selectables(included: true).each do |item, identifier| %>
                    <li class="sortable" id="sort_<%= identifier %>">
                      <%= item %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class='clearfix'> </div>
            </div>

            <div class="form_field if_table_view" style="margin-bottom: 20px; <%= 'display:none;' if !@output || @output.type != 'table' %>">
              <h4><%= I18n.t('txt.admin.views.rules.form.group_by_label') %></h4>
              <%= select :output, :group, groupables %>
              <p><%= radio_button :output, :group_asc, true, :class => 'radio' %> <%= I18n.t('txt.admin.views.rules.form.ascending_label') %> &nbsp;
              <%= radio_button :output, :group_asc, false, :class => 'radio' %> <%= I18n.t('txt.admin.views.rules.form.descending_label')%></p>
            </div>

            <div class="form_field" style="margin-top: 0;">
              <h4><%= I18n.t('txt.admin.views.rules.form.order_by_label') %></h4>
              <%= select :output, :order, sortables %>
              <p><%= radio_button :output, :order_asc, true, :class => 'radio' %> <%= I18n.t('txt.admin.views.rules.form.ascending_label') %> &nbsp;
              <%= radio_button :output, :order_asc, false, :class => 'radio' %> <%= I18n.t('txt.admin.views.rules.form.descending_label') %></p>
            </div>
          </div>
        </div>
      </div>

    <% end %>

    <% if can_manage_group_or_shared?(@rule.class) -%>
      <div class="form_element ownership-controls">
        <label><%= I18n.t('txt.admin.views.rules.form.available_for')%></label>
        <div class="form_field">

          <div class="radio">
            <% if current_user.can?(:manage_shared, @rule.class) -%>
              <p>
                <%= f.radio_button :owner_type, "Account", :class => "radio", :onclick => "$('rule_owner_id').disable()" %>
                <%= f.label :owner_type, I18n.t('txt.admin.views.rules.form.all_agents'), :value => "Account", :class => 'radio' %>
              </p>
            <% end %>

            <% groups = groups_for_rule(@rule.class) %>
            <% if current_user.can?(:manage_group, @rule.class) && groups.any? -%>
              <p>
                <%= f.radio_button :owner_type, "Group", :class => "radio", :onclick => "$('rule_owner_id').enable()" %>
                <%= f.label :owner_type, I18n.t('txt.admin.views.rules.form.agents_in_group_label'), :value => "Group", :class => 'radio' %>
                &nbsp;&nbsp;
                <%= f.select :owner_id,
                            groups.map{|group| [group.name, group.id]},
                            {:selected => @rule.owner.is_a?(Group) && @rule.owner_id },
                            {:disabled => !@rule.owner.is_a?(Group)} %>
              </p>
            <% end %>

            <% if include_available_for_me_radio_option? -%>
              <p>
                <%= f.radio_button :owner_type, "User", :class => "radio", :onclick => "$('rule_owner_id').disable()" %>
                <%= f.label :owner_type, I18n.t('txt.admin.views.rules.form.me_only_label'), :value => "User", :class => 'radio' %>
              </p>
            <% end %>
          </div>

          <% if current_account.subscription.is_trial? %>
            <p class="plan-upgrade">
              <strong><%= I18n.t('txt.admin.views.rules.form.please_note_label')%></strong>
              <%= I18n.t('txt.admin.views.rules.form.trial_text_two_' + @rule.rule_name) %><br/>
              <%= link_to content_tag(:strong, I18n.t('txt.admin.views.rules.form.upgrade_plan')), subscription_settings_path %>
            </p>
          <% elsif should_show_upsell?(:personal_rules) || should_show_upsell?(:group_rules) -%>
            <p class="plan-upgrade">
              <%= upsell_view_types(@rule.rule_name) %>
              <br/><%= I18n.t('txt.admin.views.rules.form.rules_assigned_to_groups_' +  @rule.rule_name) %><br/>
              <%= link_to content_tag(:strong, I18n.t('txt.admin.views.rules.form.upgrade_plan')), subscription_settings_path %>
            </p>
          <% end %>

        </div>
      </div>
    <% end %>

    </div></div></div>
  <% end %>

  <%= hidden_field :output, :columns %>

  <% if can_edit_rule? %>
    <div class="action">
      <!-- <%="#{SecureRandom.hex(50)}"-%> -->
      <%= f.hidden_field :type -%>
      <%= hidden_field_tag :return_to, params[:return_to] -%>
      <% if @rule.new_record? -%>
        <%= submit_tag I18n.t('txt.admin.views.rules.form.create_rule_' + @rule.rule_name), :class => 'button primary submit-rule' -%>
      <% else -%>
        <% if can_edit_rule? %>
          <%= select_tag 'submit_type', options_for_select(rule_options(@rule)), :style => 'font-weight:600' %>
        <% end %>
        <%= submit_tag I18n.t('txt.admin.views.rules.form.submit'), :class => 'button primary' -%>
      <% end -%>
    </div>
  <% end %>

  <% if @copy_id %>
    <%= hidden_field_tag :copy_id, @copy_id %>
  <% end %>
<% end -%>
