<% if !@rule.is_a?(Macro) %>
  <div class="frame rule_conditions">
    <h3 class="rule_conditions"><%= I18n.t('txt.admin.views.rules.form_conditions.meet_conditions')%></h3>

    <div id="1_condition"></div>

    <% if can_edit_rule? %>
      <fieldset class="conditions add">
        <h3 class="light"><%= I18n.t('txt.admin.views.rules.form_conditions.all_label.add_conditions') %></h3>

        <a class="plus-button" href="#" onclick="jQuery('#1_condition').append(allRuleSet.buildConditionRow()); return false;"></a>

      </fieldset>
    <% end %>

    <h3 style="margin-top:15px;" class="rule_conditions"><%= I18n.t('txt.admin.views.rules.form_conditions.meet_any_conditions')%></h3>

    <div id="2_condition"></div>

    <% if can_edit_rule? %>
      <fieldset class="conditions add">
        <h3 class="light"><%= I18n.t('txt.admin.views.rules.form_conditions.all_label.add_conditions') %></h3>

        <a class="plus-button" href="#" onclick="jQuery('#2_condition').append(anyRuleSet.buildConditionRow()); return false;"></a>

      </fieldset>
    <% end %>

    <% if include_preview %>
      <div class="buttons-right">
        <div class="preview">
          <a href="#" name="Preview" onclick="getMatchingTicketsPreview()" class="button right">
            <%= I18n.t('txt.admin.views.rules.form_conditions.preview_match') %>
          </a>
          <% image_tag 'indicator2.gif', :id => 'load_indicator', :style => 'display:none;' %>&nbsp;
        </div>
      </div>

      <% content_for :script do %>
        function getMatchingTicketsPreview() {
          var disabledFields = $j('#viewform :disabled'),
              queryParams;

          disabledFields.each(function() {
            $j(this).attr('disabled', false);
          });

          queryParams = Form.serialize(document.viewform)
          <% if @rule.is_a?(Automation) %>
            .replace(Form.serialize($j('#viewform div.rule_actions')[0]),'')
          <% end %>

          // We don't want to pass authenticity token along with a GET request
          var pattern = /&authenticity_token(=[^&]*)?|^authenticity_token(=[^&]*)?&?/;
          queryParams = queryParams.replace(pattern, '');

          disabledFields.each(function() {
            $j(this).attr('disabled', 'disabled');
          });

          new Ajax.Updater('live-preview',
            '/rules/views/preview?filter=views&rule_type=<%= @rule.class.name.downcase %>',
            {
              method: 'GET',
              asynchronous: true,
              evalScripts: true,
              onComplete: function(request){Element.show('live-preview')},
              onLoaded: function(request){Element.hide('load_indicator')},
              onLoading: function(request){Element.show('load_indicator')},
              parameters: queryParams
            }
          );

          return false;
        }
      <% end %>
    <% end %>

    <% content_for :script_onload do %>
      allRuleSet = new Zendesk.RuleUI.RuleSet(all_condition_definitions, 1);
      <%= render_rule_select_row @definition.try(:conditions_all), :condition, '1_condition', 'allRuleSet' %>

      anyRuleSet = new Zendesk.RuleUI.RuleSet(any_condition_definitions, 2);
      <%= render_rule_select_row @definition.try(:conditions_any), :condition, '2_condition', 'anyRuleSet' %>
    <% end %>
    <div id="live-preview" class="tickets" style="display: none; margin-top: 20px;"></div>
  </div>
<% end %>

<% unless @rule.is_a?(View) %>
  <div class="frame rule_actions">
    <h3 class="rule_actions"><%= I18n.t('txt.admin.views.rules.form_conditions.perform_these_actions') %></h3>

    <div id="1_action"></div>

    <% if can_edit_rule? %>
      <fieldset class="conditions add">
        <h3 class="light"><%= I18n.t('txt.admin.views.rules.form_conditions.add_action') %></h3>
        <a class="plus-button" href="#" onclick="jQuery('#1_action').append(actionRuleSet.buildActionRow()); return false;"></a>
      </fieldset>
    <% end %>

    <% content_for :script_onload do %>
      actionRuleSet = new Zendesk.RuleUI.RuleSet(action_definitions, 1);

      <%= render_rule_select_row @definition.try(:actions), :action, '1_action', 'actionRuleSet' %>

      <% if @rule.is_system_rule? && @rule.is_locked? %>
        $j('#rule_title').attr('disabled', true);
        $j('.rule_conditions :input, .rule_actions :input').attr('disabled', true);
        $j('.minus-button').hide();
        $j('.placeholder-info a').hide();
        $j('fieldset.conditions.add').hide();
        $j('.action').hide();
      <% end %>
    <% end %>
  </div>
<% end %>
