<h2><%= I18n.t('txt.admin.views.rules.placeholders.available_placeholders')%></h2>
<p>
  <%= I18n.t('txt.admin.views.rules.placeholders.use_placeholders')%> <br/>
  <%= I18n.t('txt.admin.views.rules.placeholders.check_reference', :complete_placeholder_reference => "<a href='http://support.zendesk.com/entries/20203943-zendesk-data-object-placeholders-reference' target='_blank'>#{ I18n.t('txt.admin.views.rules.placeholders.complete_placeholder_reference')}</a>") %>
</p>
<%= render :partial => 'liquid_help/ticket_placeholders' %>
<%= render :partial => 'liquid_help/user_placeholders', :locals => {:name => 'current_user', :description => 'the user logged in to your help desk'} %>
<% if current_account.has_customer_satisfaction_enabled? %>
  <%= render :partial => 'liquid_help/satisfaction_placeholders' %>
<% end %>
<% if current_account.has_automatic_answers_enabled? %>
  <%= render :partial => 'liquid_help/automatic_answers_placeholders' %>
<% end %>
