<% if rule.is_a?(View) %>
  <%= link_to "#{rule.rendered_title} #{describe_count(rule)}", rule_path(rule), :class => 'ilist' %>
<% else %>
  <%= h(rule.rendered_title) %>
  <% if current_user.is_admin? %>
    <div class="item-actions">
      <% if rule.is_active? -%>
        <%= link_to I18n.t('txt.admin.views.rules.mobile.deactivate'), :action => 'activate', :id => rule %>
      <% else -%>
        <%= link_to I18n.t('txt.admin.views.rules.mobile.activate'), :action => 'activate', :id => rule %>
      <% end -%>
    </div>
  <% end %>
<% end %>
