<% if item %>
  jQuery('#<%= id %>').append(<%= set %>.buildConditionRow('<%= item.source %>', '<%= item.operator %>', <%= js_array(item.value) %> ));
<% else %>
  jQuery('#<%= id %>').append(<%= set %>.buildConditionRow());
<% end %>
