
<div class="item-actions hover">
  <% unless rule.is_apps_requirement? %>
    <% if !rule.is_locked? && current_user.can?(:edit, rule) %>
      <% act_title = rule.is_active? ? rule_deactivate_translation : rule_activate_translation -%>
      <% options = (['triggers', 'automations'].include?(@rule_type) && rule.is_active?) ? { :data => { :confirm => rule_confirm_deactivate_translation, :method => :put } } : { data: {:method => :put} } %>
      <%= link_to act_title, activate_rule_path(rule, :filter => rule.rule_type, :return_to => request.fullpath), options %>
      <span class="delim">|</span>
      <%= link_to rule_clone_translation, new_rule_path(:filter => rule.rule_type, :copy_id => rule.id, :return_to => request.fullpath) %>
      <span class="delim">|</span>
    <% end %>
    <%= link_to rule_edit_translation, rule.lotus_permalink, {:class => 'edit_this', :rel => 'edit'} %>
  <% end %>
</div>
