<% if item %>
  jQuery('#<%= id %>').append(<%= set %>.buildActionRow('<%= item.source %>', <%= js_array(item.value) %> ));
<% else %>
  jQuery('#<%= id %>').append(<%= set %>.buildActionRow());
<% end %>

<%= render :partial => "rules/target_ace_editor_setup", :formats => [:js] %>
<%= render :partial => "rules/email_ace_editor_setup", :formats => [:js] %>
