<div class="<%= html_class %>">
  <div class="item-info title">
    <% if current_account.has_rule_usage_stats? && (params[:sort] =~ /execution_count/) %>
      <div>
        <%= link_to "#{h(rule.title)} (#{execution_count(rule)})".html_safe, rule_tickets_path(rule) %>
        <%= rule_label(rule) %>
      </div>
    <% else %>
      <div>
        <%= rule_title(rule) %> <%= rule_label(rule) %>
        <% if rule.is_system_rule? %>
          <span class="badge"> <%= I18n.t('txt.admin.views.rules.rule.system') %></span>
        <% end %>
        <% if @apps_requirements_rules.include? rule.id %>
          <span class="created-by-app">
            <%= I18n.t('txt.admin.views.settings.apps_requirements.created_by_app',
                :app_name => html_escape(@apps_requirements_rules[rule.id])) %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render(:partial => "rules/rule_actions", :locals => { :rule => rule }) %>
</div>
