<% content_for :sidebar do %>
  <%= div_side_box do %>
    <div class="rule_example">
      <% if @rule.is_a?(Trigger) -%>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.text_one') %></p>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.text_two') %></p>
        <h4><%= I18n.t('txt.admin.views.rules.sidebar.example') %></h4>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.example_text_one') %></p>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.example_text_two') %></p>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.example_text_three') %></p>
        <p><strong><%= I18n.t('txt.admin.views.rules.sidebar.tip_text') %></strong></p>
      <% elsif @rule.is_a?(Automation) -%>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.automation_text_one') %></p>
        <p><strong><%= I18n.t('txt.admin.views.rules.sidebar.automation_text_two') %></strong></p>
      <% elsif @rule.is_a?(Macro) -%>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.macro_text_one') %></p>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.macro_text_two')%></p>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.macro_text_three')%></p>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.macro_text_four') %></p>
      <% elsif @rule.is_a?(View) -%>
        <p><%= I18n.t('txt.admin.views.rules.sidebar.views_text_one') %></p>
        <p><strong><%= I18n.t('txt.admin.views.rules.sidebar.views_text_two') %></strong></p>
      <% end -%>
    </div>

    <% if @rule.updated_at %>
      <p><%= I18n.t('txt.admin.views.rules.sidebar.updated_last') %> <%= format_date(@rule.updated_at, with_time: true) %></p>
    <% end %>

    <p class="permalink">
      <span class="description"><%= I18n.t('txt.admin.views.rules.sidebar.permalink') %></span>
      <a id="copy_permalink_to_clipboard" data-clipboard-text="<%= @rule.lotus_permalink %>"> [<%= I18n.t('txt.admin.views.rules.sidebar.copy_permalink_to_clipboard') %>]</a>
      <br/>
      <%= text_field_tag(:rule_permalink, @rule.lotus_permalink, :readonly => true) %>
    </p>

    <%= javascript_include_tag "vendor/ZeroClipboard" %>
    <script>
      $j(function ($) {
        $('#rule_permalink').focus(function () {
          $(this).select();
        }).mouseup(function (e) {
          e.preventDefault();
        });

        if (navigator.mimeTypes ["application/x-shockwave-flash"]) {
          ZeroClipboard.config( { moviePath: '/javascripts/ZeroClipboard.swf' } );
          var copyLink = $('#copy_permalink_to_clipboard').show();
          var clipboard = new ZeroClipboard(copyLink);
        }
      });
    </script>
  <% end %>
<% end %>
