<div id="<%= "#{target_id}_sort" -%>" style="display:none">
  <ul id="<%= "#{target_id}-sort-list" -%>" class="rule-sorter sortablelist">
    <% rules.each_with_index do |rule, i| -%>
      <li class="item sortable" id="item_<%= rule.id %>" data-zendesk-original-position="<%= i -%>">
        <%= h(rule.rendered_title) -%>
        <div class='actions hidden'><%= render(:partial => "rules/rule_actions", :locals => { :rule => rule }) %></div>
      </li>
    <% end -%>
  </ul>

  <div class="buttons-right">
    <a href="javascript:void(0);" id="<%= target_id -%>_reorder_done_link" class="button"><%= I18n.t('txt.admin.views.rules.sort.done_label') %></a>
    <a href="#" class="cancel-sorting"><%= I18n.t('txt.admin.views.rules.sort.cancel_label') %></a>
    <% if params[:filter] == 'macros' %>
      <input class="button sort_asc" type="submit" value="<%= I18n.t('txt.admin.views.rules.sort.a_to_z') %>" />
      <input class="button sort_desc" type="submit" value="<%= I18n.t('txt.admin.views.rules.sort.z_to_a') %>" />
    <% end %>
    <div class="clear">&nbsp;</div>
  </div>
</div>

<% content_for :script_onload do -%>
  $j('#<%= target_id %>-sort-list').sortable();
  submit_sortable_list('<%= target_id -%>', '<%= target_id -%>_sort', '<%= target_id -%>-sort-list', '<%= url_for :action => :sort, :filter => @rule_type -%>');
<% end -%>
