<div class="notification_message">
  <strong><%= I18n.t('txt.admin.views.rules.system_rule_notice.system_rules_' + rule.rule_name) %></strong>
  <% if rule.is_locked %>
    <%= I18n.t('txt.admin.views.rules.system_rule_notice.feature_relaties_to_work_correctly_' + rule.rule_name, :features_settings => (link_to I18n.t('txt.admin.views.rules.system_rule_notice.feature_settings'), system_feature_url_for(rule)))%>
  <% else %>
    <%= I18n.t('txt.admin.views.rules.system_rule_notice.feature_controls_this_rule_name_' + rule.rule_name, :configuration_of_this_feature => (link_to I18n.t('txt.admin.views.rules.system_rule_notice.configuration_of_this_feature'), system_feature_url_for(rule)))%>
  <% end %>
</div>
