<script type="text/javascript">
  <% # Need to sort, as group should be set before assignee %>
  <% @macro.definition.actions.sort {|a,b| a.source <=> b.source}.reverse.each do |action|
      source = action.source
      value = action.value[0]
      case source
      when 'comment_value'
        @ticket.assignee = nil if @ticket && @ticket.assignee_id == User.system_user_id
        value = Zendesk::Liquid::TicketContext.render(value, @ticket, current_user, true, @ticket.requester.translation_locale) if @ticket
        %>

        var value = <%= value.to_json.html_safe %>;
        var comment = $('comment_value');
        if (comment && comment.value != value) {
          comment.value += value;
          comment.style['color'] = "green";
        }
      <% when 'current_tags', 'set_tags' %>
        <% if source == 'set_tags' %>
          ticketTagField.clear();
        <% end %>
        <%= value.to_json.html_safe %>.split(' ').each(function(tag) { ticketTagField.addEntry(tag); });
      <% when 'remove_tags' %>
        <%= value.to_json.html_safe %>.split(' ').each(function(tag) { ticketTagField.removeEntry(tag); });
      <% when 'comment_mode_is_public' %>
        if ($('comment_is_public')) {
          <% if value == 'true' %>
            $('comment_type').className = 'say public';
            $('comment_is_public').checked = true;
          <% else %>
            $('comment_type').className = 'say private';
            $('comment_is_public').checked = false;
          <% end %>
        }
      <% else %>
        <% value = current_user.id if value.to_s.downcase == 'current_user'
          value = current_user.groups.first.id if value.to_s.downcase == 'current_groups'
          source = source.split("#").first(); %>
        if ($('ticket_<%= source %>')) {
          setSelectedForSelect($('ticket_<%= source %>'), <%= value.to_json.html_safe %>);
          $('ticket_<%= source %>').style['color'] = "green";
          <% if source == 'group_id' %>
            assigneeSelect($("ticket_group_id").value, '');
          <% end %>
        }
      <% end %>
    <% end %>

  if ($("ticket_assignee_id")) {
    updateProperties($("ticket_assignee_id").value);
  }
  $(document).fire('macro:applied');
</script>
