<% @page_title = @rule.id ? I18n.t('txt.admin.views.rules.index.edit_rule_' + @rule.rule_name) : I18n.t('txt.admin.views.rules.index.add_rule_' + @rule.rule_name) %>

<% content_for :script do %>
  <%
      context = Zendesk::Rules::Context.new(@rule.account, current_user,
                                            :rule_type => @rule.type.downcase.to_sym, :recipients => recipient_emails(@rule), :edit_rule_mode? => @rule.id ? true:false)
  %>

  all_condition_definitions = <%= sanitize_definitions(ZendeskRules::Definitions::Conditions, context, :condition, :all) %>
  any_condition_definitions = <%= sanitize_definitions(ZendeskRules::Definitions::Conditions, context, :condition, :any) %>
  action_definitions        = <%= sanitize_definitions(ZendeskRules::Definitions::Actions, context, :action) %>
  ruleEditingCapability     = <%= can_edit_rule? %>
  ruleActionEditingCapability = <%= false %>

<% end %>

<% content_for :head do %>
  <%= javascript_include_tag "new_rule" %>
<% end %>

<%= render :partial => 'sidebar' %>

<%= div_content do %>
  <%= render :partial => 'form' %>
  <div id="organization_name_auto_complete" class="autocomplete"></div>
<% end %>

<%= js_init_with_escape %>
