<% content_for :head do %>
  <%= javascript_include_tag "rule" %>
<% end %>

<% content_for :sidebar do %>
  <%= div_side_box(rule_type_translation(@page_title)) do %>
    <% case @rule_type
       when 'automations' %>
      <p><%= I18n.t('txt.admin.views.rules.index.automations_text_one') %></p>
      <p><%= I18n.t('txt.admin.views.rules.index.automations_text_two') %></p>
      <p><%= I18n.t('txt.admin.views.rules.index.automations_text_three') %></p>
      <p><%= I18n.t('txt.admin.views.rules.index.automations_text_four') %></p>
    <% when 'macros' %>
      <p><%= I18n.t('txt.admin.views.rules.index.macros_text_one') %></p>
      <p><%= I18n.t('txt.admin.views.rules.index.macros_text_two') %></p>
      <p><%= I18n.t('txt.admin.views.rules.index.macros_text_three') %></p>
      <p><%= I18n.t('txt.admin.views.rules.index.macros_text_four') %></p>
    <% when 'views' %>
      <p><%= I18n.t('txt.admin.views.rules.index.views_text_one') %></p>
      <p><%= I18n.t('txt.admin.views.rules.index.views_text_two') %></p>
    <% when 'triggers' %>
      <p><%= I18n.t('txt.admin.views.rules.index.triggers_text_one') %></p>
      <p><%= I18n.t('txt.admin.views.rules.index.triggers_text_two') %></p>
      <p><%= I18n.t('txt.admin.views.rules.index.triggers_text_three') %></p>
    <% end %>
  <% end %>
<% end %>

<%= div_content do -%>

  <h2><%= rule_type_translation(@rule_type) -%></h2>
  <span class="intro-text">
    <%= rule_description_translation(@rule_type) -%>
    <%= link_to(I18n.t('txt.admin.views.reports.tabs.search.learn_more'),
                rule_learn_more_link_translation(@rule_type),
                :target => '_blank') %>

    <% if current_user.is_admin? %>
      <% if current_account.has_rule_analysis? %>
        <br /><br /><%= link_to I18n.t('txt.admin.views.rules.index.property_analysis'), rules_analysis_index_path %>
      <% else %>
        <br /><br /><%= I18n.t('txt.admin.views.rules.index.upgrading_to_zendesk')%>
        <% if current_account.subscription.is_trial? %>
          <%= I18n.t('txt.admin.views.rules.index.please_email', :email => (mail_to "contact@zendesk.com", "contact@zendesk.com", :class => "tracked", 'data-tracking-module' => "Trial upsell", 'data-tracking-activity' => "#{@rule_type.capitalize} business rules analysis: Contact"))%>
        <% else %>
          <%= link_to I18n.t('txt.admin.views.rules.index.upgrading_to_enterprise'), '/agent/admin/subscription', :target => '_parent' %>
        <% end %>
      <% end %>
    <% end %>

    <% if @rule_type == 'macros' %>
      <p class="notice--warning">
        <%= I18n.t('txt.admin.macros.new_page_notice') %><br><br>
        <%= link_to I18n.t('txt.admin.macros.new_page_cta'), 'https://support.zendesk.com/hc/en-us/articles/218072878', :target => '_blank' %>
      </p>
    <% end %>
  </span>

  <div class="tabbed_container item-border-top rules" mode="static">

    <% if (@rule_links = rule_links(@rule_type, true)).any? %>
      <div class="tab_links clearfix">
        <%= @rule_links.join_preserving_safety %>
      </div>
    <% end %>

    <% if allow_rule_manipulations? && params[:select] != 'personal' && current_account.has_rule_usage_stats?  %>
      <div class="tabs_content" style="padding-bottom: 0;">
        <div class="item noborder">
          <div class="tab-top-left">
            <%= rule_filter_selector(@rule_type) %>
            <%= rule_sort_selector(@rule_type) %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="tabs_content hover-actions">
      <% if can_create_rule?(@rule_type) %>
        <div class="tab-top-right add-link">
          <% if params[:select] == 'personal' %>
            <%= link_to I18n.t('txt.admin.views.rules.index.add_rule_lowcaps_' + @rule_type.singularize), new_rule_path(:filter => @rule_type.singularize, :user_id => current_user.id, :return_to => request.fullpath), :class => 'add' %>
          <% else %>
            <%= link_to I18n.t('txt.admin.views.rules.index.add_rule_lowcaps_' + @rule_type.singularize), new_rule_path(:filter => @rule_type.singularize, :return_to => request.fullpath), :class => 'add' %>
          <% end %>
        </div>
      <% end %>

      <% if @active_rules.respond_to?(:total_entries) %>
        <h4><%= I18n.t('txt.admin.views.rules.index.active_rule_' + @rule_type, :active_count => @active_rules.total_entries )%></h4>
      <% else %>
        <h4><%= I18n.t('txt.admin.views.rules.index.active_rule_' + @rule_type, :active_count => @active_rules.count )%></h4>
      <% end %>
      <div id="active-rules">
        <%= render :partial => "rule", :collection => @active_rules, :locals => {:html_class => "item"} %>

        <% if allow_rules_sort? && @active_rules.any? && !current_account.has_paginate_triggers_view? -%>
          <div class="item reorder buttons-right">
            <%= link_to(I18n.t('txt.admin.views.rules.index.reorder_label'), {},
              :onclick => "Ordering.SetOrder('#active-rules'); return(false);").html_safe -%>
          </div>
        <% end -%>
      </div>

      <% if allow_rules_sort? && !current_account.has_paginate_triggers_view? -%>
        <%= render :partial => 'sort', :locals => {:target_id => 'active-rules', :rules => @active_rules} %>
      <% elsif @active_rules.respond_to?(:total_pages) %>
        <%= will_paginate @active_rules %>
      <% end %>
    </div>

    <% if @inactive_rules.any? && allow_rule_manipulations? -%>
      <div class="tabs_content inactive hover-actions">
        <h4><%= I18n.t('txt.admin.views.rules.index.inactive_rules_' + @rule_type, :inactive_count => @inactive_rules.count) %></h4>
        <%= render :partial => "rule", :collection => @inactive_rules, :locals => {:html_class => "item"} %>

        <div class="item" style="text-align: right">
          <% params.delete(:action) %>
          <%= link_to I18n.t('txt.admin.views.rules.index.delete_inactive_rules_with_rule_name_' + @rule_type),
                      destroy_inactive_rules_path(params.except(:controller).merge(:return_to => request.fullpath)),
                      :class => 'admin',
                      :data => { :confirm => I18n.t("txt.admin.views.rules.index.confirm_delete_message_count_#{@rule_type}", :count => @inactive_rules.size), :method => :delete } %>
        </div>
      </div>
    <% end %>

  </div>
<% end %>

<%= js_init -%>
