<% @page_title = @rule_type.capitalize %>

<%=
  menu_items << link_to(I18n.t('txt.layout.home'), '/')
  menu_items << h(@page_title)
  render :partial => 'shared/navigation'
%>

<table style="width:100%">
  <tr style="margin-top:15px">
    <td valign="top">
      <h2>
        <%= rule_links(@rule_type).join_preserving_safety(' | ') %>
      </h2>
      <hr/>
      <% if @rules.blank? -%>
        <h3><%= I18n.t('txt.admin.views.rules.index_mobile.no_rule_present', :type_rule => @rule_type) %></h3>
      <% else %>
        <% if @active_rules.present? %>
          <h3><%= I18n.t('txt.admin.views.rules.index.active_rule_' + @rule_type, :active_count => @active_rules.count )%></h3>
          <%= render_rules_for_mobile @active_rules %>
        <% end %>

        <% if @inactive_rules.present? %>
          <br/><br/>
          <h3><%= I18n.t('txt.admin.views.rules.index.inactive_rules_' + @rule_type, :inactive_count => @inactive_rules.count) %></h3>
          <%= render_rules_for_mobile @inactive_rules %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
