<% if !flash[:beware].blank? %>
  <div style="border: 2px solid #CF1A1A; width:95%; padding:5px 10px;"><p><%= flash[:beware] %></p></div>
  <% flash[:beware] = nil %>
<% end %>

<% if @tickets.blank? %>
  <% if @rule.valid? %>
    <h3><%= I18n.t('txt.admin.views.rules.preview.live_preview_of_condition_match') %></h3>
    <p><%= I18n.t('txt.admin.views.rules.preview.no_matching_tickets_label') %></p>
  <% else %>
    <div id="flash">
      <div id="error">
        <%= flash_error(I18n.t('txt.admin.controllers.rules_controller.rule_preview_failure_' + params[:rule_type].capitalize), @rule) %>
      </div>
    </div>
  <% end %>
<% else %>
  <h3><%= I18n.t('txt.admin.views.rules.preview.live_preview_of_condition_match') %></h3>
  <% if @tickets %>
    <p>
      <%= I18n.t('txt.admin.views.rules.preview.tickets_found_pluralization', :count => @tickets.total_entries) %>
      <%= I18n.t('txt.admin.views.rules.preview.only_latest_show') if @tickets.size > 14 %>
    </p>
  <% end %>
  <%= render :partial => "shared/tickets_table",
             :locals => { :tickets => @tickets, :options => { :output => @output, :sorting_allowed => false, :enable_bulk => false, :disable_paging => true } } %>
<% end %>
