<% content_for :script do %>
  rule_type                   = "View";
  ruleEditingCapability       = true;
  ruleActionEditingCapability = true;
<% end %>
<% content_for :head do %>
  <%= javascript_include_tag "new_rule" %>
<% end %>

<% content_for :script do %>
  <%
      context = Zendesk::Rules::Context.new(current_account, current_user, :rule_type => :view, :end_user_id => @end_user_id, :dc_cache => current_user.dc_cache, :component_type => :condition)
  %>

  all_condition_definitions =
  <%=
      context.options[:condition_type] = :all
      ZendeskRules::Definitions::Conditions.definitions_as_json(context).to_json.gsub('/','\/').html_safe
  %>
  any_condition_definitions =
  <%=
      context.options[:condition_type] = :any
      ZendeskRules::Definitions::Conditions.definitions_as_json(context).to_json.gsub('/','\/').html_safe
  %>
<% end %>

<% @page_title = I18n.t('txt.admin.views.rules.search.browse_tickets') %>

<% if !@search_name %>
  <% if [ :manage_shared, :manage_personal ].any? { |ability| current_user.can?(ability, View) } %>
    <% content_for :sidebar do %>
      <%= div_side_box(I18n.t('txt.admin.views.rules.search.add_as_new_view')) do %>
        <ul class="options">
          <% if current_user.can?(:manage_personal, View) %>
            <li class="add-link"><%= link_to_function I18n.t('txt.admin.views.rules.search.add_to_my_views'), "$('viewform').action = '/rules/views/new_from_search'; $('viewform').submit()" %></li>
          <% end %>
          <% if current_user.can?(:manage_shared, View) %>
            <li class="add-link"><%= link_to_function I18n.t('txt.admin.views.rules.search.add_to_all_agent_views'), "$('viewform').action = '/rules/views/new_from_search'; if ($('viewform').user_id) { $('viewform').user_id.value = ''; }; $('viewform').submit()" %></li>
          <% end %>
          <% if @share_link.size.between?(1, 2000) %>
            <li class="add-link"><%= link_to I18n.t("txt.admin.views.rules.search.share_this_search"), @share_link %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= div_content do %>
  <%= form_for :rule, :url => search_rules_path(:filter => 'views'), :html => {:name => 'viewform', :id => 'viewform', :method => 'POST'} do |f| %>
    <h2>
      <%= h(@search_name) if @search_name %>
      <%= @page_title if !@search_name %>
    </h2>
    <% if !@search_name %>
      <%= render :partial => "form_conditions_and_actions", :locals => {:include_preview => false, :f => f} %>
      <div class="action"><%= submit_tag I18n.t('txt.admin.views.rules.search.browse_label'), :class => 'buttonsubmit' %></div>
      <input type="hidden" name="filter" value="view">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <% end %>
  <% end %>
<% end %>

<%= render :partial => 'shared/tickets_table_with_bulk_update' %>
