<% @page_title = "#{@rule.rendered_title} (#{@tickets.pretty_total_entries})" %>

<% output_type = Output.sanitized_type(params[:output_type] || @rule.output.type) %>

<% content_for :sidebar do %>
  <%= render :partial => 'shared/browse_tickets' %>
<% end %>

<%= div_content do %>
  <div class="content-top-right">
    <p>
      <%
        menu_items << link_to_unless(output_type == 'list', I18n.t('txt.admin.views.rules.show.list_label'), params.merge({ :output_type => 'list'}), :title => I18n.t('txt.admin.views.rules.show.ticket_list_with_latest_comment'))
        menu_items << link_to_unless(output_type == 'table', I18n.t('txt.admin.views.rules.show.table'), params.merge({ :output_type => 'table'}), :title => I18n.t('txt.admin.views.rules.show.menu_items_table_title_Sortable_ticket'))

        if @tickets.total_entries < Rule.csv_threshold
          csv_link = {:format => 'csv', :page => params[:page]}
          link_method = :get
        else
          csv_link = "/jobs/create?type=view_csv&return_to=/rules/#{@rule.id}&job[rule]=#{@rule.id}"
          link_method = :post
        end

        if current_account.subscription.has_view_csv_export?
          menu_items << link_to(I18n.t('txt.admin.views.rules.show.csv_label'), csv_link, :title => I18n.t('txt.admin.views.rules.show.menu_items_CSV_formatted_list_of'), method: link_method)
        end

        if current_user.is_admin? || @rule.owner == current_user
          menu_items << link_to(I18n.t('txt.admin.views.rules.show.edit_label'), {:action => 'edit', :id => @rule}, :class => 'edit_this')
        end
      %>
      <%= render_menu_items %>
    </p>
  </div>
  <h2>
    <%= @rule.rendered_title %>
    <%= content_tag :span, "(#{@tickets.pretty_total_entries})", :class => 'item_count' %>
  </h2>

  <% if @tickets.empty? %>
    <p><%= I18n.t('txt.admin.views.rules.show.no_tickets_for_' + @rule.rule_name) %></p>
  <% else %>
    <%= render :partial => "shared/tickets_#{output_type}", :locals => { :tickets => @tickets } %>
  <% end %>
<% end %>

<%= render :partial => 'bulk_update' if output_type == 'table' %>

<%= js_init -%>
