<% @page_title = @rule.title %>

<%=
  menu_items << link_to(I18n.t('txt.layout.home'), '/')
  menu_items << link_to(I18n.t('txt.admin.views.rules.show_mobile.views_label'), rules_path(:filter => "views"))
  menu_items << h(@page_title)
  render :partial => 'shared/navigation'
%>

<% if @tickets.blank? %>
  <h3><%= I18n.t('txt.admin.views.rules.show_mobile.no_active_tickets')%></h3>
<% else %>
  <% delimit = false %>
  <% @tickets.each do |ticket| %>
    <%= tag(:hr) unless ticket.id == @tickets.first.id %>
    <%= render :partial => 'tickets/ticket', :locals => {:ticket => ticket} %>
  <% end %>

  <%= will_paginate @tickets, :next_label => "&gt;&gt;", :prev_label => "&lt;&lt;" %>
<% end %>
