
.sharing_agreements {
  border-collapse: collapse;
  width: 97%;
}

.sharing_agreements th {
  border-bottom: 1px solid #a3a3a3;
  color: #3c3c3c;
  font-weight: normal;
  padding: 5px;
}

.sharing_agreements td {
  color: #777;
  padding: 5px;
}

p.no_agreements {
  margin: 20px;
  text-align: center;
}

input#sharing_agreement_subdomain {
  width: 200px;
}

.agreement_actions .negative_actions {
  float: left;
  text-align: left;
  width: 28%;
}

.agreement_actions .positive_actions {
  float: right;
  text-align: right;
  width: 68%;
}

.agreement_actions .positive_actions.padding {
  margin-right: 20px;
}

.agreement_attribute {
  margin: 20px 0;
}

.agreement_attribute .description {
  float: left;
  font-weight: bold;
  width: 30%;
}

.agreement_attribute .value {
  color: #888;
  float: right;
  width: 65%;
}

/* Custom agreement lightbox stuff. Should this happen? */
#new_sharing_invite_content h2 {
  color: #444;
  font-size: 15px;
  font-weight: bold;
}

#select_ticket_sharing_receiver {
  #sharing_receivers {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 460px;

    .sharing_receiver {
      width: 150px;
      height: 150px;
      float: left;
      margin: 0px 39px 0px 39px;
      border: 1px #ddd solid;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    .sharing_receiver_label {
      margin-top: 160px;
      text-align: center;
      font-size: 13px;
    }

    #ticket_sharing_zendesk {
      background: url("/classic/images/icons/ticket_sharing_zendesk.svg") no-repeat center center white;
    }

    #ticket_sharing_third_party {
      background: url("/classic/images/icons/ticket_sharing_generic.svg") no-repeat center center white;
    }
  }
}

#new_agreement_form {
  p.help { width: 350px; }

  strong, label {
    color: #555;
    font-size: 12px;
    line-height: 18px;
  }

  label[for] {
    cursor: pointer;
  }

  ul.sharing_integrations {
    height: 100px;
    list-style-type: none;

    li {
      float:left;
      cursor: mouse;
      margin-right: 10px;

      img {
        width: 140px;
        border: 6px solid #e4e4e4;
      }
      img:hover {
        border: 6px solid #ccc;
      }
    }
  }
}

#delete_all_inactive_agreements {
  float: right;
  margin: -10px 0px;
  a {
    color: red;
  }
}

#delete_agreement {
  color: red;
}
