/*
 *= require ./vendor/normalize.css
 *= require ./vendor/bootstrap.css
 *= require ./components/_forms
 *= require ./components/_spinner
 *= require ./components/_upload_field
 *= require ./components/_ztooltip
 */

@import "./misc/colors.css.scss";

.flash {
  display: none;
}

.zero {
  display: none;
}

.zero-state {
  .zero {
    display: block;
  }

  .capsule.closed {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.capsule {
  &.new {
    display: none;
  }

  &.inactive {
    .capsule-header {
      img.logo {
        opacity: 0.4;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}
