/*
 ADMIN STYLESHEETS:
 *= require ../admin/base
 *= require_tree ../admin/vendor/admin_assets
*/

@import "../admin/misc/colors.css.scss";

body {
  .admin-container {
    p, span {
      color: $dark-gray;
    }

    .header h2 {
      color: $dark-gray;
      font-size: 22px;
      font-weight: 600;
    }
  }
}

.zero {
  padding: 0px 150px;
  text-align: center;
  border-top: 1px solid $light-gray;

  .title {
    font-weight: 700;
    color: $toolbar-title-gray;
  }

  .brand-zero svg {
    display: block;
    width: 150px;
    height: 100px; /* IE needs this */
    margin: 50px auto 30px auto;
  }

  .description {
    padding: 0px 70px;
    margin: 13px 0px;
  }

  button {
    margin: 0px 5px;
  }
}

.ztooltip.onboarding {
  display: none;

  .zero-state & {
    display: inline-block;
  }
}

.admin-container {
  min-width: 855px; // to prevent onboarding from overflowing
  &.zero-state {
    display: none;
  }
}

.capsule {
  .hc-help {
    margin-bottom: 0; // override field-wrapper margin-bottom

    > button {
      float: right;
    }
  }
  .capsule-header {
    .warning {
      background-image: url(/classic/images/validation/warning.svg);
      display: inline-block;
      height: 16px;
      width: 16px;
    }
  }

  // workaround for https://github.com/zendesk/admin_assets/pull/68 breaking tooltip anchors
  label {
    display: inline-block;
  }
}

.capsule-container-header button[disabled] {
  color: white;
}

$task-height: 20px;
$task-gap: 15px;
$check-size: 24px;
$check-spacing: 10px;

.right-pane.onboarding {
  width: 300px; // to prevent overflowing
}

.dont-worry {
  text-align: center;
  img {
    max-height: 300px;
  }
}

.signature-template-field {
  height: 50px;
  position: relative;
  padding: 5px;
  line-height: 20px;
  vertical-align: middle;
  width: 100%;
}

.tasks {
  color: $dark-gray;

  .panel {
    background-color: $panel-gray;
    border-color: $light-gray;
    min-width: 260px;
  }

  .panel-heading {
    padding: 15px 20px;
  }

  .panel-title {
    font-size: 14px;
    line-height: 14px;

    a {
      text-decoration: none;

      &.collapsed {
        font-weight: normal;
      }
    }
  }

  .panel-body {
    font-size: 13px;
    padding: 20px 0 0;
    margin: 5px 20px;
    margin-top: -5px;
    color: $dark-gray;

    a {
      color: $dark-gray;

      &[target="_blank"] {
        &::after {
          background-image: url(/classic/images/brands/onboarding/external_link_icon.svg);
          background-size: contain;
          display: inline-block;
          height: 9px;
          width: 9px;
          margin-left: 4px;
          content: ' '
        }
      }
    }
  }

  .task, .link {
    margin-bottom: $task-gap;
    min-height: $task-height;
  }

  .task {
    position: relative;
    margin-left: 34px;

    &:not(:last-of-type) {
      &::before {
        position: absolute;
        display: block;
        height: 95%;
        width: 1px;
        top: ((($check-size - $task-height) / 2) + $task-height);
        left: -(($check-size / 2) + $check-spacing);
        border-left: 1px solid $light-gray;
        content: ' ';
      }
    }

    &::after {
      background-image: url(/classic/images/brands/onboarding/task.svg);

      position: absolute;
      height: $check-size;
      width: $check-size;
      left: -($check-size + $check-spacing);
      top: -(($check-size - $task-height) / 2);
      content: ' ';
      background-color: $panel-gray;
    }

    &.complete::after {
      background-image: url(/classic/images/brands/onboarding/task-complete.svg);
    }
  }
}
