@import "mixins.css.scss";
@import "../admin/misc/_colors.css.scss";


.onboarding_container {
  min-width: 800px;
  color: #444;
  padding-top: 30px;
  text-align: center;

  .onboarding_heading {
    padding-bottom: 20px;
    border-bottom: 1px solid $light-gray;
  }
  .mb-checklist {
    padding-top: 35px;
    margin-top: 30px;
    border-top: 1px solid $light-gray;
  }

  h1 {
    font-size: 15px;
    font-weight: 600;
  }

  p.tagline {
    font-size: 50px;
    line-height: 50px;
    font-weight: 100;
    margin: 30px auto 40px;
    width: 800px;
  }

  p.subheading {
    font-size: 15px;
    line-height: 22px;
    display: block;
    margin: 0 auto 20px;
    max-width: 700px;
  }

  .get-started {
    @include rounded-corners(3px);
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 13px;
    background-color: $button-orange;
    margin: 10px auto 0;
    min-width: 196px;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;

    &.active {
      background-color: $button-orange;
      pointer-events: auto;

      &:hover {
        background-color: lighten(#FDA028, 5);
        text-decoration: none;
      }
    }

  }

  .request-brands {
    &.loading{
      &::before {
        content: '';
        display: inline-block;
        background-image: url(/classic/images/brands/onboarding/loading.gif);
        width: 20px;
        height: 20px;
        margin: 0 5px -5px 0;
      }
    }
  }

  .disabled {
    background-color: $light-gray;
    color: white;
    cursor: default;
    padding: 12px 40px 12px 30px;
    &::before {
        content: '';
        display: inline-block;
        background-image: url(/classic/images/brands/onboarding/check-white.svg);
        width: 20px;
        height: 20px;
        margin: 0 5px -5px 0;
    }
  }

  .divider {
    border-bottom: 1px solid #EEEEEE;
    width: 580px;
    margin: 50px auto;
  }

  .features {
    overflow: hidden;
    height: auto;
    padding-top: 40px;

    .features-items {
      margin: 0;
      padding: 0;

      li {
        width: 260px;
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }

        h4 {
          color: #333;
          font-size: 17px;
          font-weight: 600;
          margin-bottom: 20px;
        }

        img {
          margin: 0 auto 30px;
          width: 170px;
          height: 170px;
        }

        p {
          color: #555;
          font-size: 15px;
          line-height: 20px;
          padding: 0 15px;
        }

        .spacer {
          height: 200px;
        }
      }
    }
  }
  .btn--pill {
    border-radius: 100px;
  }

  .read-more {
    padding-top: 20px;
    text-decoration: none;
    a {
     border-bottom: 1px dotted #428BCA;
     &:hover{
      text-decoration: none;
     }
   }
   :after {
    content: '';
    display: inline-block;
    background-image: url(/classic/images/brands/onboarding/external_link_icon--blue.svg);
    height: 9px;
    background-size: contain;
    width: 9px;
    margin-left: 5px;
   }
  }

  .mb-checklist ul {
    margin: 35px 0 30px;
  }
  .checklist-item {
    margin: 0 auto 20px;
    font-size: 12px;
    color: $gray;
    &:not(:first-of-type) {
      &::before {
        content: '';
        margin: -20px auto 10px;
        top: -10px;
        color: $light-gray;
        left: 10px;
        height: 15px;
        width: 1px;
        background: $light-gray;
        display: block;
      }
    }
    &:first-of-type {
      font-size: 13px;
      font-weight: 600;
      color: black;
      padding: 15px 30px;
      line-height: 20px;
    }
  }
}
