@import "../../mixins.css.scss";
table#text-resources, table#text-variants { 
  @include zendesk-table;
  position: static;
}

table#text-resources tr td {
  max-width: 350px;
  overflow: hidden;
}
table.text-references {
  @include zendesk-table;
}

.cms_references {
  border-bottom: 1px solid #F0F0F0;
  overflow: auto;
}

.hidden {
  display: none;
}

.active_choice {
  min-width: 0 ! important;
  float: none ! important;
  font-weight: normal ! important;
}

.noborder {
  border: none;
}

.dc_content h3 {
  margin: 12px 0;
}

.tabbed_container .dc_table {
  padding: 15px 15px 20px;
}

div.tab-top-right.add_dc_variant {
  margin-top: 14px;
}

.add_dc_item {
  margin-top: 5px ! important;
}

.dc_edit {
  margin-right: 25px ! important;
}

.dc-owner-information {
  display: inline;
  color: #999999;

  span {
    padding-right: 5px;
    padding-left: 5px;
  }
}
