@import "../../../mixins.css.scss";
@import '../../../user_agents/mobile_v2_header.css.scss';

#settings_mobile_preview {
  @include header-style;
  width: 350px;
  display: inline-block;
  padding-bottom: 105px;
  margin-bottom: 15px;
  background: url(/classic/images/mobile/mobile-preview.png) no-repeat bottom left;
}

#image-block-mobile_logo,
#upload-block-mobile_logo {
  padding-left: 170px;
}
