<div id="api-tokens-table">
  <% @current_api_tokens.each do |token| %>
    <div class="item">
      <div class="item-info">
        <div class="float_label token_value" title="<%= created_api_token(token) %>"><tt><%= api_token_value(token) %> </tt></div>
        <div class="float_label token_used"><%= api_used_string(token) %></div>
        <div class="float_label token_description" title="<%= token.description %>"><%= truncate(token.description) %></div>
      </div>

      <div class="item-actions">
        <%= link_to I18n.t('txt.admin.views.settings.api._settings.api_token_delete'), settings_api_token_path(token),
          :data => { :confirm => I18n.t('txt.admin.views.targets.authorize.auth_twitter_target.are_you_sure'), :method => :delete }, :class => 'admin action delete_token' %>
        <span class="delim">|</span>
        <%= link_to_function "edit", "renderEditToken#{token.id}Description()", :class => 'action edit_token' %>
      </div>
    </div>

    <%= javascript_tag do %>
      function renderEditToken<%= token.id %>Description() {
        jQuery.colorbox({
          html: <%= render('edit_token_description', :token_id => token.id, :description => token.description).to_json.html_safe %>
        });
      };
    <% end %>
  <% end %>

  <% if @current_api_tokens.present? %>
    <p>
      <%= I18n.t("txt.admin.views.settings.api._settings.api_token_truncated") %>
    </p>
  <% end %>
</div>
