<div id="api-tokens">
  <div class="tab-top-right add-link">
    <p><%= link_to_function I18n.t('txt.admin.views.settings.api._settings.add_new_token'), "renderApiTokenDescriptionModal()", :class => 'action'%></p>
  </div>
  <div class="hover-actions item-border-top list-items">
    <h4><%= I18n.t('txt.admin.views.settings.api._settings.active_api_tokens', :count => @current_api_tokens.count) %> </h4>

    <% if @current_api_tokens.empty? %>
      <h4><%= I18n.t('txt.admin.views.settings.api._settings.no_api_tokens') %></h4>
    <% end %>

    <%= render :partial => 'api_tokens_table' %>

    <%= javascript_tag do %>
      function renderApiTokenSuccessModal(token) {
        jQuery.colorbox({
          html: <%= render('new_api_token_success').to_json.html_safe %>
        });
        $j('#api-token-generated').text(token);
      };
      function renderApiTokenDescriptionModal() {
        jQuery.colorbox({
          html: <%= render('create_api_token_description').to_json.html_safe %>
        });
      };
      <%= render :partial => 'create_api_token', :formats => [:js] %>
    <% end %>
  </div>
</div>
