<div class="api-token-description-modal">
  <h3><%= I18n.t('txt.admin.views.settings.api._settings.give_description') %></h3>

  <% form_options = { method: :post, id: 'api-token-description-form' } %>
  <% form_options[:onsubmit] = 'return newApiToken()' %>
  <%= form_tag settings_api_tokens_path, form_options do %>
    <%= text_field_tag :description %>
    <%= submit_tag I18n.t('txt.admin.views.settings.api._settings.add_token'), :class => 'button submit' %>
    <div id="api-token-description-error" style="color: red">&nbsp;</div>
  <% end %>
</div>
