<div class="api-token-description-modal">
  <h3><%= I18n.t('txt.admin.views.settings.api._settings.edit_description') %></h3>

  <%= form_tag settings_api_token_path(token_id), :method => :put do  %>
    <%= text_field_tag :description, description %>
    <%= submit_tag I18n.t('txt.admin.views.settings.api._settings.update_description'), :class => 'button submit' %>
  <% end %>
</div>
