<div id="api-token-success-modal">
  <h3><%= I18n.t("txt.admin.controllers.settings.api_controller.api_token_created") %></h3>
  <p>
    <%= I18n.t("txt.admin.views.settings.api._settings.api_token_only_shown_once") %>
  </p>

  <p>
    <%= I18n.t("txt.admin.views.settings.api._settings.api_token_new_msg") %><br/>
    <code id="api-token-generated"></code>
  </p>

  <button class="button primary" onclick="jQuery.colorbox.close();">
    <%= I18n.t("txt.admin.views.settings.api._settings.api_token_close_button") %>
  </button>
</div>
