<%= form_for(:account, :url => { :action => "update_settings", :anchor => "settings" },
            :html => { :method => :put, :id => 'account-api-settings', :class => 'two_column' }) do |f| %>
  <div class="element_group">
    <div class="form_element">
      <%= f.label :settings_api_token_access, I18n.t('txt.admin.views.settings.api._settings.Token_Access') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :api_token_access, I18n.t('txt.admin.views.settings.api._settings.Enabled'), { "data-toggles" => '#sub_setting_is_active' }) %>
        <p><%= I18n.t('txt.admin.views.settings.api._settings.Enable_REST_API_using_tokens') %>
        </p>
        <p>
          <tt>curl -u <%= current_user.email %>/token:YOUR_TOKEN https://<%= current_account.host_name(:protocol => "https") %>/api/v2/users/me.json</tt>
        </p>
        <p>
          <%= learn_more I18n.t('txt.admin.views.settings.api._settings.Learn_more'), :url => "http://developer.zendesk.com/documentation/rest_api/introduction.html" %>
        </p>
        <%= zd_sub_setting(:is_active, :show => current_account.settings.api_token_access?) do %>
          <%= render :partial => 'api_tokens' %>
        <% end %>
      </div>
    </div>

    <div class="form_element">
      <%= f.label :settings_api_password_access, I18n.t('txt.admin.views.settings.api._settings.Password_Access') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f.property_set(:settings), :api_password_access, I18n.t('txt.admin.views.settings.api._settings.Enabled')) %>
        <p><%= I18n.t('txt.admin.views.settings.api._settings.Enable_REST_API_access_using') %></p>
        <p><%= learn_more I18n.t('txt.admin.views.settings.api._settings.Learn_more'), :url => "http://developer.zendesk.com/documentation/rest_api/introduction.html" %></p>
        </p>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.api._settings.save_tab'), :class => "button save", :id => "settings_api_settings_save_button") %>
  </div>
<% end %>
