<%= render :partial => '/account/header' %>

<%= div_content do %>
  <h2><a href="/settings/channels"><%= I18n.t('txt.admin.views.settings.api.show.Channels_label') %></a><span class="delim">/</span><%= I18n.t('txt.admin.views.settings.api.show.api_label')%></h2>
  <p>
    <%=
        I18n.t("txt.admin.views.settings.api.show.intro_text_with_links",
          :restrictions_link => link_to(
            I18n.t("txt.admin.views.settings.api.show.intro_text_links.restrictions_label"),
            I18n.t("txt.admin.views.settings.api.show.intro_text_links.restrictions_url"),
            :target => "_blank"),
          :terms_link => link_to(
            I18n.t("txt.admin.views.settings.api.show.intro_text_links.terms_label"),
            I18n.t("txt.admin.views.settings.api.show.intro_text_links.terms_link"),
            :target => "_blank"),
          :privacy_policy_link => link_to(
            I18n.t("txt.admin.views.settings.api.show.intro_text_links.privacy_policy_label"),
            I18n.t("txt.admin.views.settings.api.show.intro_text_links.privacy_policy_link"),
            :target => "_blank")
        )
     %>
    <%= link_to(I18n.t('txt.admin.views.reports.tabs.search.learn_more'),
                'http://developer.zendesk.com',
                :target => '_blank') %>
  </p>

  <%= zd_tabs do %>
    <%= zd_tab(I18n.t('txt.admin.views.settings.api.show.Settings_tab')) do %>
      <%= render :partial => 'settings' %>
    <% end %>

    <%= render :partial => "zendesk/o_auth/clients/index" %>
  <% end %>
<% end %>
