<% if current_account.has_gooddata_advanced_analytics? %>
    <%= div_side_box(I18n.t('txt.admin.views.reports.sidebar.zendesk_insights')) do %>
        <% if action_name == 'index' %>
            <p><%= I18n.t('txt.admin.views.reports.sidebar.plus_enterprise_elegible_for_gooddata', :good_data_zendesk => "<a href=\"#{I18n.t('txt.admin.views.reports.export.good_data_zendesk_link')}\" target=\"_new\">#{I18n.t('txt.admin.views.reports.export.insights_zendesk_label')}</a>")%>
            </p>
            <ul class="options">
              <li><%= I18n.t('txt.admin.views.reports.sidebar.view_dashboard_prebuild_reports') %></li>
              <li><%= I18n.t('txt.admin.views.reports.sidebar.slice_dice_ticket') %></li>
              <li><%= I18n.t('txt.admin.views.reports.sidebar.daily_exports') %></li>
            </ul>
            <% if current_account.gooddata_integration && current_account.gooddata_integration.complete? %>
              <p><%= link_to content_tag(:strong, I18n.t('txt.admin.views.reports.sidebar.open_zendesk_insights_label')), insights_reports_path %></p>
            <% end %>
        <% end %>
    <% end %>
<% elsif current_account.subscription.plan_type == SubscriptionPlanType.Medium %>
    <%= div_side_box(I18n.t('txt.admin.views.reports.sidebar.zendesk_insights')) do %>
        <% if action_name == 'index' %>
            <p><%= I18n.t('txt.admin.views.reports.sidebar.plus_enterprise_elegible_for_gooddata', :good_data_zendesk => "<a href=\"#{I18n.t('txt.admin.views.reports.export.good_data_zendesk_link')}\" target=\"_new\">#{I18n.t('txt.admin.views.reports.export.insights_zendesk_label')}</a>")%></p>
            <p><%= link_to content_tag(:strong, I18n.t('txt.admin.views.reports.sidebar.updgrade_now_label')), subscription_settings_path %> <%= I18n.t('txt.admin.views.reports.sidebar.gain_ability_to')%></p>
            <ul class="options">
              <li><%= I18n.t('txt.admin.views.reports.sidebar.view_dashboard_prebuild_reports') %></li>
              <li><%= I18n.t('txt.admin.views.reports.sidebar.slice_dice_ticket') %></li>
              <li><%= I18n.t('txt.admin.views.reports.sidebar.daily_exports') %></li>
            </ul>
        <% end %>
    <% end %>
<% end %>
