<%= div_content(@is_preview? 'green' : 'grey') do %>

  <% if current_user.can?(:manage, Report) && !@is_preview %>
  <div class="content-top-right">
    <p>
        <%= link_to I18n.t('txt.admin.views.reports.display_report.csv_label'), "/reports/#{@report.id}.csv", :title => I18n.t('txt.admin.views.reports.display_report.report_data_in_csv_format') %>
       <span class="delim">|</span>
      <%= link_to I18n.t('txt.admin.views.reports.display_report.xml_label'), "/reports/#{@report.id}.xml", :target => "_blank", :title => I18n.t('txt.admin.views.reports.display_report.report_data_in_xml') %>
         <span class="delim">|</span>
      <%= link_to I18n.t('txt.admin.views.reports.display_report.edit_label'), edit_report_path(@report.id), { :class => 'edit_this' } %>
    </p>
  </div>
  <% end %>

  <div>
    <h2><%=
      if params[:action] == 'preview'
        I18n.t('txt.admin.controllers.reports_controler.preview_report_label', :report_title => ERB::Util.html_escape(@report.title))
      else
        h(@report.title)
      end
    %></h2>
    <div class="frame" style="padding-top:25px; padding-bottom:20px">

    <% legends = @report.table[:legends] %>

    <div style="text-align:center;margin-bottom:10px">
      <%= render :partial => "reports/am/display", :locals => { :report => @report, :legends => legends } %>
    </div>


    <% results = @report.table[:data] %>

    <table class="tickets" style="margin-top:20px">
      <thead>
        <tr>
          <th><%= I18n.t('txt.admin.views.reports.display_report.date_label') %></th>
          <% legends.each do |legend| %>
            <th><%= legend[:name] %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% results.keys.sort.each do |key| %>
        <tr>
          <td><%= I18n.localize(key, :format => I18n.t("date.formats.short")) %></td>
          <% legends.each do |legend| %>
            <% value = (results[key][legend[:name]] || 0) %>
            <td><%= value %></td>
            <% to_total(legend[:name], value) if legend[:summable] %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
      <% if has_totals %>
      <tfoot>
        <tr>
          <th><%= I18n.t('txt.admin.views.reports.display_report.total_label') %></th>
          <% legends.each do |legend| %>
            <th><%= legend[:summable] ? total(legend[:name]) : '&mdash;'.html_safe %></th>
          <% end %>
        </tr>
      </tfoot>
      <% end %>
    </table>

    </div>
  </div>

<% end %>
