<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.reports.preview_errors.report_preview_label') %></h2>
  <% if @report.errors %>
    <ul>
      <% @report.errors.each do |attribute, message| %>
        <li><%= Report.human_attribute_name(attribute) %> <%= message %></li>
      <% end %>
    </ul>
  <% else %>
    <p><%= I18n.t('txt.admin.views.reports.preview_errors.failed_to_generate_report', :support_zendesk => "<a href=\"mailto:support@zendesk.com\">support@zendesk.com</a>") %></p>
  <% end %>
<% end %>
