<% content_for :sidebar do %>
  <%= div_side_box(@page_title) do %>
    <% if action_name == 'index' %>
    <p><%= I18n.t('txt.admin.views.reports.sidebar.text_one')%></p>
    <!--<p>The reports chart ticket trends and events over time.</p>-->
    <!--
    <p>The system displays line charts for ticket events or trends over time, to describe how many tickets have been e.g. created, closed or left open per day over a period. When creating a report you can define additional conditions that must be met in order to be included, for example ticket origin (customer organization), resolution time, priority, tags etc., which allows you to create custom reports for your exact needs.</p>-->
    <% elsif action_name == 'edit' || action_name == 'new' %>
    <p><%= I18n.t('txt.admin.views.reports.sidebar.text_two')%></p><p><%= I18n.t('txt.admin.views.reports.sidebar.text_three')%></p>
    <ul class="options">
    <li><%= I18n.t('txt.admin.views.reports.sidebar.created_tickets_label') %></li>
    <li><%= I18n.t('txt.admin.views.reports.sidebar.resolved_tickets_label') %></li>
    <li><%= I18n.t('txt.admin.views.reports.sidebar.unsolved_tickets_label') %></li>
    <!--<li>Working tickets (ticket that are new, open or pending on the day)</li>-->
    <li><%= I18n.t('txt.admin.views.reports.sidebar.old_tickets_label')%></li>
    <li><%= I18n.t('txt.admin.views.reports.sidebar.all_tickets_label')%></li>
    </ul>
    <p><%= I18n.t('txt.admin.views.reports.sidebar.text_four') %></p>
    <% elsif action_name == 'show' %>
    <p><%= I18n.t('txt.admin.views.reports.sidebar.text_five') %></p>
    <p><%= I18n.t('txt.admin.views.reports.sidebar.text_six') %></p>
    <% end %>
  <% end %>

  <% if action_name == 'index' %>
    <%= render :partial => 'analytics_v2_sidebar' %>
  <% end %>

<% end %>
