<% @page_title = @report.new_record? ? I18n.t('txt.admin.views.reports.edit.add_new_report_label') : I18n.t('txt.admin.views.reports.edit.edit_report_label') %>
<% @operator_map = {
  '<' => 'less_than',
  '>' => 'greater_than',
  '>=' => 'greater_than',
  '=' => 'is', 'IS' => 'is',
  '!=' => 'is_not', 'IS NOT' => 'is_not',
  'REGEXP' => 'includes',
  'NOT REGEXP' => 'not_includes'
} %>
<%= render :partial => 'sidebar' %>

<%= js_init_with_escape %>

<%= div_content do %>

  <% content_for :script do %>
    <% context = Zendesk::Rules::Context.new(current_account, current_user, :rule_type => :report, :component_type => :condition, :condition_type => :all) %>
    reportConditionDefinitions = <%= ZendeskRules::Definitions::Conditions.definitions_as_json(context).to_json.gsub('/','\/').html_safe %>
    ruleEditingCapability = true;
    ruleActionEditingCapability = true;

    function addSeries() {
      if($j('#frames').children('.frame').length >= 8) {
        alert(I18n.t('txt.admin.views.reports.edit.error_max_8_data_series'));
        return;
      }

      var dataSeries = Zendesk.RuleUI.buildReportDataSeries(null, null, reportConditionDefinitions);
      $j('#frames').append(dataSeries.frame);
    }

    function submitReport() {
      action = $('submit_type').value;
      if(action == 'create_report' || action == 'update_report') {
        $('submit-button').value = I18n.t('txt.admin.views.reports.edit.submitting_label');
        $('submit-button').disabled = true;

        $('viewform').submit();
        return false;
      }
      else if(action == 'delete_report') {
        if(confirm(I18n.t('txt.admin.views.reports.edit.delete_this_report_label'))) {
          $('submit-button').value = I18n.t('txt.admin.views.reports.edit.deleteing_label');
          $('submit-button').disabled = true;
          $('deleteform').submit();
          return false;
        }
        else {
          return false;
        }
      }
      else if(action == 'preview_report') {

        new Ajax.Updater('preview-output', '/reports/preview/', {
          asynchronous:true, evalScripts:true, parameters:Form.serialize(document.viewform),
          onComplete:previewLoaded
        });

        $('submit-button').setAttribute('originalValue', $('submit-button').value);
        $('submit-button').value = I18n.t('txt.admin.views.reports.edit.previewing_label');
        $('submit-button').disabled = true;

        return false;
      }
      else {
        alert(I18n.t('txt.admin.views.reports.edit.invalid_action_notice'));
      }
    }

    function checkInterval() {
      if($('relative_radio').checked) {
        $('fixed_interval_selection').hide();
        $('relative_interval_selection').show();
      }
      else {
        $('fixed_interval_selection').show();
        $('relative_interval_selection').hide();
      }
    }

    function previewLoaded() {
        if($('submit-button') != null) {
          $('submit-button').value = $('submit-button').getAttribute('originalValue');
          $('submit-button').disabled = false;
        }
    }
  <% end %>

  <% content_for :head do %>
    <%= javascript_include_tag "new_rule" %>
  <% end %>

  <%= form_for @report,
              :html => { :name => 'viewform', :id => 'viewform',
              :onsubmit => 'return submitReport()' } do |f| %>
    <h2><%= I18n.t('txt.admin.views.reports.edit.report_title_label') %></h2>
    <%= f.text_field :title, :class => 'title' %>

    <h3><%= I18n.t('txt.admin.views.reports.edit.reporting_period_label') %></h3>
    <label class="option">
    <%= f.radio_button :is_relative_interval, true,  { :class => 'radio', :onclick => 'checkInterval()', :id => 'relative_radio' } %> <%= I18n.t('txt.admin.views.reports.edit.relative_to_today_label') %></label>
    <label class="option"><%= f.radio_button :is_relative_interval, false, { :class => 'radio', :onclick => 'checkInterval()' } %> <%= I18n.t('txt.admin.views.reports.edit.fixed_date_interval_label') %></label>
    <!--<p>Select how far back in time your report works, or specify a fixed period.</p>-->

    <div id="relative_interval_selection" class="indented_option" style="margin-top:15px; display:<%= @report.is_relative_interval? ? 'block' : 'none' %>">
      <!--<h3>Select period</h3>-->
      <%= f.select :relative_interval_in_days, [[I18n.t('txt.admin.views.reports.edit.last_week_label'), 7], [I18n.t('txt.admin.views.reports.edit.last_2_weeks_label'), 14], [I18n.t('txt.admin.views.reports.edit.last_month_label'), 30], [I18n.t('txt.admin.views.reports.edit.last_3_months_label'), 91]] %>
    </div>

    <div id="fixed_interval_selection" class="indented_option" style="margin-top:15px;display:<%= @report.is_relative_interval? ? 'none' : 'block' %>">
      <!--<h3>Select dates</h3>-->
      <%= f.date_select :from_date, :order => I18n.t('date.order').map(&:to_sym), :start_year => 2009, :end_year => Date.today.year, :default => 1.month.ago.to_date %> &nbsp;&nbsp;<%= I18n.t('txt.admin.views.reports.edit.to_label') %>&nbsp;&nbsp;
      <%= f.date_select :to_date, :order => I18n.t('date.order').map(&:to_sym), :start_year => 2009, :end_year => Date.today.year, :default => Date.today %>
    </div>

    <!-- Report series frames -->
    <h3><%= I18n.t('txt.admin.views.reports.edit.data_series_label') %></h3>
    <div id="frames"></div>

    <% @report.sets.sort{ |x,y| x[:legend][:name] <=> y[:legend][:name] }.each do |set| %>
      <% content_for :script_onload do %>
        var dataSeries = Zendesk.RuleUI.buildReportDataSeries('<%= escape_javascript(set[:legend][:name]).html_safe %>', '<%= set[:state] %>', reportConditionDefinitions);
        $j('#frames').append(dataSeries.frame);
        <% (set[:data] || []).each do |item| %>
          var source = '<%= item[0] %>';
          var operator = '<%= operator_mapping(item) %>';
          if (source.include("_within_business_hours")) {
            source = source.replace("_within_business_hours", "");
            operator = operator + "_business_hours";
          }
          dataSeries.addConditionRow(source, operator, <%= js_array(item[2]) %>);
        <% end %>
      <% end %>
    <% end %>

    <% if @report.sets.empty? %>
      <% content_for :script_onload do %>
        $j('#frames').append(Zendesk.RuleUI.buildReportDataSeries(null, null, reportConditionDefinitions).frame);
      <% end %>
    <% end %>

    <a href="#" style="float:left;" onclick="addSeries();return false;"><%= I18n.t('txt.admin.views.reports.edit.add_data_series_label')%></a>

    <div class="action">
      <%= select_tag 'submit_type', options_for_select(report_options(@report)), :style => 'font-weight:bold' %>
      <%= submit_tag I18n.t('txt.admin.views.reports.edit.submit_label'), :id => 'submit-button', :class => 'button primary' %>
    </div>

  <% end %>

<% end %>

<%= javascript_include_tag "swfobject" %>
<div id='preview-output'></div>

<% unless @report.new_record? %>
  <%= form_for :report, :url => report_path(@report.id),
              :html => { :id => 'deleteform', :method => :delete } do |f| %>
  <% end %>
<% end %>

