<% @page_title = I18n.t('txt.admin.views.reports.index.reporting_label') %>
<%= render :partial => 'sidebar' %>

<% if lotus_branding_active? %>
  <%= render 'shared/element_branding' %>
<% end %>
<%= div_content do %>
  <h2><%= @page_title %></h2>

  <%= zd_tabs :class => 'sammy_tabbed_container' do %>
    <% if can_access_report_tab? "overview" %>
      <%= zd_tab I18n.t('txt.admin.views.reports.index.overview_label'), :class => 'reporting_overview', :id => 'overview' %>
    <% end %>

    <% if can_access_report_tab? "reports" %>
      <%= zd_tab I18n.t('txt.admin.views.reports.index.reports_label'), :id => 'reports' %>
    <% end %>

    <% if can_access_report_tab? "forum_analytics" %>
      <%= zd_tab I18n.t('txt.admin.views.reports.index.forum_label'), :class => 'analytics_container', :id => 'forum_analytics' %>
    <% end %>

    <% if can_access_report_tab? "search_analytics" %>
      <%= zd_tab I18n.t('txt.admin.views.reports.index.search_label'), :class => 'analytics_container', :id => 'search_analytics' %>
    <% end %>

    <% if can_access_report_tab? "export" %>
      <%= zd_tab I18n.t('txt.admin.views.reports.index.export_label'), :class => "reporting_export", :id => 'export' %>
    <% end %>
  <% end %>
<% end %>
<%= javascript_tag do %>
  $j(function(){ Zendesk.Reports.Page.init(); });
<% end %>
