.call_statistics {
    .header {
        font-weight: bold;
        color: #565656;
        text-decoration: underline;
        margin-bottom: 10px;
    }

    .call_info {
        label {
            font-weight: bold;
            color: #656565;
        }
    }

}