  #add_twitter_handle_lightbox,
  #add_facebook_handle_lightbox,
  #add_email_address_lightbox,
  #add_twitter_manually_lightbox {
    .description {
      margin-bottom: 15px;
    }
  }

  #add_twitter_handle_lightbox ol li {
    list-style: decimal inside none;
  }

  #add_twitter_handle_lightbox .twitter_button {
    margin: 0px 0 20px 0;
  }

  #add_twitter_handle_lightbox, #add_facebook_handle_lightbox {
    .login {
      border-radius: 0;
      color: white;
      display: inline-block;
      font-size: 13px;
      line-height: 16px;
      padding: 0 0 0 1px;

      &:active {
        background-position: left -164px;
      }

      span {
        display: inline-block;
      }
    }
   }

  #add_twitter_handle_lightbox .login.twitter {
    background: #40CCFF  url('/classic/images/twitter_newbird_boxed_whiteonblue.png') left -5px no-repeat;
    border-top: 1px solid #879AC0;
    border-bottom: 1px solid #1A356E;

    span {
      background: #40CCFF;
      margin: 1px 2px 0 35px;
      padding: 4px 6px 5px 6px;
    }
  }

  #add_facebook_handle_lightbox .login.facebook {
    background: #29448E       url('/classic/images/facebook_img.png') left -139px no-repeat;
    border: 1px solid #014079;

    span {
      background: #5F78AB      url('/classic/images/facebook_img.png');
      border-top: 1px solid #879AC0;
      border-bottom: 1px solid #1A356E;
      margin: 1px 1px 0 24px;
      padding: 2px 6px 4px 6px;
    }
  }

