p.user-mail {
  background: transparent url(/classic/images/bullets.png) no-repeat scroll 0 -427px;
  padding: 0 0 0 18px;
  margin: 3px 0;
}

p.user-twitter, p.user-facebook {
  background: transparent url(/classic/images/bullets.png) no-repeat scroll 0px -987px;
  padding: 0 0 0 18px;
  margin: 3px 0;
}

p.user-facebook {
  background: transparent url(/classic/images/bullets.png) no-repeat scroll 0px -1209px;
  padding: 0 0 0 18px;
  margin: 3px 0;
}

p.user-google {
  background: transparent url(/classic/images/bullets.png) no-repeat scroll 0px -1098px;
  padding: 0 0 0 18px;
  margin: 3px 0;
}
