.dialog {
  &.beware {
    float: left;
    margin: 5px;
    border: none;
  }

  .actions {
    border-top: 1px dotted #ccc;
    clear: both;
    float: left;
    width: 100%;
    margin-top: 9px;
    padding-top: 5px;

    a {
      text-decoration: none;
    }

    .proceed {
      float: left;
    }

    .cancel {
      float: right;
    }
  }
}