div.help-bubble a.upgrade {
  font-weight: bold;
  text-decoration: underline;
}

div.help-bubble div.arrow {
  display: block;
  margin-left: 20px;
}

div.help-bubble div.bubble-content {
  background: #fff;
  border:1px solid #dedede;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: -5px 20px 10px 0;
  padding: 10px;
  line-height: 1.4em;
}

div.help-bubble h3 { margin-top: 0px; }
div.help-bubble h4 { margin-top: 0px; }

div.title-with-help {
  display: block;
  margin: 25px 0 7px;
}

div.h2-help { margin-top: 11px; }

div.title-with-help h3 { display: inline; }
div.title-with-help h2 { display: inline; }

div.bubble-content h3 { display: block; }
div.bubble-content h4 { display: block; }

div td.name {
  font-weight:bold;
  white-space:nowrap;
  vertical-align:top;
}

div td.desc {
  padding-left:30px;
}

span.question-link{
  position: relative;
  top: 1px;
  cursor: pointer;
}

