.item {
  border-bottom: 1px solid #f0f0f0;
  clear: left;
  font-size: 12px;
  padding: 12px 0;
  overflow: hidden;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .users-index &, .organizations-index &, .roles-index &, .tags-index & {
    html[data-rtl-language='true'] & {
      clear: none;
      clear: right;
    }
  }

  .name {
    clear: left;
    float: left;
    font-size: 11px;
    width: 88px;
    text-align: center;
    padding-top: 4px;
    word-wrap: break-word;
  }

  img.example {
    float: right;
    margin: 7px 0 5px 0;
  }

  .desc {
    float: left;
    margin-right: 20px;
    width: 250px;
  }

  li {
    margin: 2px 0 5px 0;
  }

  .icon {
    float: left;
    text-align: center;

    /* TODO: Remove .user-index and other view-specific selectors,
    once RTL enabled for all Classic views. */
    .users-index &, .groups-index &, .organizations-index &, .roles-index &, .settings-show & {
      html[data-rtl-language='true'] & {
        float: right;
      }
    }

    div {
      font-size: 11px;
      color: #CCC;
      padding-top: 5px;
      width: 43px;

      strong {
        color: #888;
      }

      &.vote {
        position: relative;
        top: -5px;
        margin-bottom: -5px;

        .count {
          color: #FFF;
          font-size: 10px;
          padding: 1px 3px 1px 12px;
          font-weight: bold;
          border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
          background: #444 url(/classic/images/small-thumbs-up.png) no-repeat 2px 2px;
        }
      }
    }

    img {
      display: block;
      padding: 0 3px;
      margin: auto;
      margin: 0;
      border: 1px solid #FFF;
    }

    .photo img {
      margin: 0 25px 2px 0;
    }
  }

  .bdr img {
    border: 1px solid #ddd;
    padding: 2px;
    margin: 0 0 0 2px;

    /* TODO: Remove .user-index and other view-specific selectors,
    once RTL enabled for all Classic views. */
    .users-index &, .groups-index &, .organizations-index &, .roles-index & {
      html[data-rtl-language='true'] & {
        margin: 0 0 0 2px;
      }
    }
  }
}


.item_first {
  clear: none;
  padding-top: 0;
}


.item-info {
  float: left;
  padding-left: 10px;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .users-index &, .groups-index &, .organizations-index &, .roles-index &, .tags-index &, .settings-show &, .analysis-show &, .extensions-show & {
    html[data-rtl-language='true'] & {
      float: right;
      padding-left: 0;
      padding-right: 10px;
    }
  }

  &.with-icon {
    width: 63%;
  }

  h1 {
    font-size: 14px;
    font-weight: normal;
    width: auto;

    a {
      font-weight: bold;

      &.light {
        font-weight: normal;

        /* Provides space between translated word "at" and this
        element in individual items of admin/people view */
        html[data-rtl-language='true'] & {
          padding-right: 3px;
        }
      }
    }

    .item_count {
      font-size: 10pt;
      color: #666;
      font-weight: normal;
      vertical-align: 1px;
    }
  }

  .info {
    margin: 1px 0 0 0;
    font-weight: normal;
    color: #999;

    &.data {
      margin-top: 2px;
    }
  }
}


.item-actions {
  margin-left: 15px;
  float: right;

  /* TODO: Remove .user-index and other view-specific selectors,
  once RTL enabled for all Classic views. */
  .groups-index &, .organizations-index &, .roles-index &, .tags-index &, .settings-show &, .analysis-show &, .extensions-show & {
    html[data-rtl-language='true'] & {
      margin-left: 0;
      margin-right: 15px;
      float: left;
    }
  }

  a.big {
    font-size: 20px;
  }
}

.item_top_search_result {
  background-color: #FFDD00;
  color: #fff;
  font-size: 9px;
  margin-left: 5px;
  padding: 2px 2px 1px;
  position: absolute;
}

.item_top_search_result a:hover {
  text-decoration: none;
}

.item_top_search_result a {
  color: #fff;
}

body.forums #search-result .item .item-info,
body.home .item .item-info,
body.categories .item .item-info,
body.entries.entries-search .item .item-info,
body.reports .analytics_container .item .item-info,
body.search div.search-result-entry div.item-info,
body.users-show div.search-result-entry div.item-info {
  float: none;
  padding-left: 6px;
}

body.home .item .item-info,
body.categories .item .item-info,
body.entries.entries-search .item .item-info,
body.forums #content_entries .item .item-info,
body.reports .analytics_container .item .item-info,
body.search div.search-result-entry div.item-info,
body.users-show div.search-result-entry div.item-info,
#incremental_search_result .item .item-info {
  margin-left: 43px;
}

body.search div.search-result-entry div.item-info {
  float: none;
  margin-left: 53px;
  padding-left: 0px;
}

/*
body.forums .item .item-info h1,
body.home .item .item-info h1,
body.categories .item .item-info h1,
body.entries.entries-search .item .item-info h1,
body.search div.search-result-entry div.item-info h1 {
  font-size: 17px;
  font-weight: normal;
  width: auto;
}
*/

body.entries.entries-search .item {
  min-height: 49px;
}

h2.small_breadcrumb {
  font-size: 14px;
}

div#incremental_search {
  #not_found_hint h2 {
    font-style: italic;
    color: #999;
    margin: 20px 0;
  }

  .frame {
    padding: 7px 0px 20px 0px;
    margin: 7px 0px 20px -11px;
    width: 100%;

    h2 {
      margin: 5px 12px 12px 12px;
    }

    #not_found_hint {
      margin: 0px 12px 0px 12px;
    }

    .deflect.questions {
      margin-left: 16px;
    }

  }
}
div#incremental_search_result {

  div.item {
    cursor: pointer;
    margin: 0 12px;

    .icon img {
      border: 1px solid transparent;
    }

    &.selected {
      background: #f5f5f5 none repeat scroll 0%;
      color: #000000;
      .fade_truncation_inner {
        background: none;
      }
    }

    h1 a:hover {
      text-decoration: none;
      color: #1A6690;
    }

    div.item-info {
      float: none;
    }

    .zd_label {
      margin-right: 12px;
    }

  }

  p.item_search_snippet {
    margin: 3px 0 2px 0;
    font-size: 12px;
  }

  .highlight {
    padding: 0;
  }

  div.show_more_bar {
    margin: 0 12px;
    width: auto;
  }

}

div.hidden_incremental_search_results {
  display: none;
}

body.forums .item .item-actions,
body.home .item .item-actions,
body.entries.entries-search .item .item-actions,
body.categories .item .item-actions {
  float: right;
  margin-left: 20px;
}

/*body.forums-show .item .icon div.vote { top: 12px; margin-bottom: 10px; }*/
body.forums-show .item .icon img { margin-top: -4px; }

.item.clean {
  clear: none;
  padding: 12px 0 12px 10px;
  overflow: visible;
}

.item-border-top .item {
  border-top: 1px solid #f0f0f0;
  border-bottom: none;
}

div.rules .item-info {
  font-size: 14px;
}

.analysis .item {
  font-size: 14px
}

div.csv-export-history {
  margin-left: 10px;
  border-bottom: none;
  padding-bottom: 0px;

  .item {
    border-bottom: none;
    padding: 0px 0px 0px 8px;
    form {
      padding-top: 8px;
      label {
        display: inline;
      }
    }
  }
  .item-info {
    padding-left: 8px;
  }
}
