ul#macro_dropdown {
  right: 0px;
  left: inherit;
  margin-right: -10px;
  width: 100% !important; // fixes https://support.zendesk.com/agent/tickets/901708
  min-width: 170px
}

div._macro_list ul.drop-list ul.first-drop {
  margin-top: -23px;
  padding-top: 30px;
}

div._macro_list ul.drop-list li ul.first-drop div.search input {
  border: 1px solid #A8A8A8;
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
  font-weight: bold;
  margin: 0 0 5px;
  padding-right: 20px;
  position: static;
  width: 143px
}

div._macro_list ul.drop-list li ul.first-drop div.search {
  position: relative
}

div._macro_list ul.drop-list li ul.first-drop div.search img.search,
div._macro_list ul.drop-list li ul.first-drop div.search img.clear {
  position: absolute;
  right: 8px;
  top: 6px
}

div._macro_list ul.drop-list li ul.first-drop div.search img.search {
}

div._macro_list ul.drop-list li ul.first-drop div.search img.clear {
  cursor: pointer;
  display: none
}

div._macro_list ul.drop-list li ul.first-drop ul.search_results {
  border: none;
  display: none;
  left: 0;
  margin: 0;
  padding: 0 !important;
  position: relative;
  top: 0;
  width: auto
}

div._macro_list ul.drop-list li ul.first-drop ul.search_results li.search_result:hover,
div._macro_list ul.drop-list li ul.first-drop ul.search_results li.search_result.selected {
  background-color: #f5f5f5;
}

div._macro_list ul.drop-list li ul.first-drop ul.search_results li.search_result:hover a,
div._macro_list ul.drop-list li ul.first-drop ul.search_results li.search_result:hover a span,
div._macro_list ul.drop-list li ul.first-drop ul.search_results li.search_result.selected a,
div._macro_list ul.drop-list li ul.first-drop ul.search_results li.search_result.selected a span {
  text-decoration: underline;
}

div._macro_list ul.drop-list li ul.first-drop ul.search_results li.search_result,
div._macro_list ul.drop-list li ul.first-drop ul.search_results li.no_results {
  border-top: 1px solid #E5E5E5;
  display: none;
  word-wrap: break-word
}

div._macro_list ul.drop-list li ul.first-drop ul.search_results li.no_results {
  background-color: #fff1a9;
  border: 0;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  color: #666666;
  display: list-item;
  padding: 3px 4px
}

div._macro_list ul.drop-list li ul.first-drop ul.search_results li.search_result a span.highlight {
  background-color: #fff1a9;
  margin: 0;
  padding: 0
}
