div#cboxLoadedContent{ /*Unfortunately required to overwite some rules*/
  .merge_window{
    width: 630px;
    background-color: #F6F6F6;
    color: #444;
    h2{
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 22px;
      font-weight: normal;
    }
    .review{
      background-color: #FFFDDE;
      border: 1px solid #EBE695;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      margin-bottom: 10px;
      font-size: 13px;
      p{
        margin: 7px;
        padding: 0;
        text-align: center;
        color: #666;
      }
    }
    .option{
      height: 30px;
      margin: 0;
      text-align: center;
      cursor: default;
      hr {
        background-color: #DDD;
        color: #DDD;
        height: 1px;
        border: none;
        margin-top: 35px;
        margin-bottom: -8px;
      }
      .border {
        padding: 10px 15px;
        background-color: #f6f6f6;
      }
      .text {
        font-style: italic;
        background-color: #ccc;
        padding: 7px 9px;
        color: #fff;
        border-radius: 15px;
      }
    }
    .ticket_badge{
      width: 60px;
      text-align: center;
      color: #fff;
      float: left;
      display: block;
      margin-right: 10px;
      background-color: #95C34C;
      font-size: 11px;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
    }
    .ticket_date{
      color: #828282;
    }
    .user_card, .ticket_card{
      border: 5px solid #fff;
      padding: 12px;
      -moz-box-shadow: 1px 1px 1px 1px #ccc;
      -webkit-box-shadow: 1px 1px 1px 1px #ccc;
      box-shadow: 1px 1px 1px 1px #ccc;
      img{
        float: left;
        margin-right: 10px;
        height: 48px;
        width: 48px;
      }
      a, h3{
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 2px;
        display: block;
      }
    }
    .user_card{
      width: 245px;
      height: 51px;
      margin: 0 20px 20px 0;
    }
    .ticket_card{
      .card_header{
        h3{
          margin: 2px 0 0 70px;
          font-size: 14px;
          color: #555;
        }
      }
      .card_body{
        margin: 15px 0 0 65px;
        padding: 5px 5px 0 5px;
        border-top: 1px solid #e1e1e1;
      }
    }
    label{
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    form{
      p{
        color: #999;
      }
      .button{
        margin-left: 8px;
      }
      input[type=text]{
        width: 244px;
      }
      textarea{
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
      }
    }
    #user_loser{
      padding: 20px;
      .user_card{
        margin: 0 auto;
      }
    }
    #user_winner{
      padding: 60px 0 20px 20px;
      background: url(/classic/images/sprites/merging.png) 0 -54px no-repeat;
      #winner_suggestions{
        .user_card{
          float: left;
        }
      }
    }
    #ticket_loser{
      padding: 20px;
    }
    #ticket_winner{
      padding: 60px 20px 20px 20px;
      background: url(/classic/images/sprites/merging.png) 0 -54px no-repeat;
      .confirm{
        margin-top: 20px;
        float: right;
      }
      h4{
        color: #828282;
        margin-top: 5px;
      }
      #suggestion_columns{
        .column{
          width: 46%;
          float: left;
          padding-left: 4%;
          margin: 0;
          &:first-child{
            padding-right: 4%;
            padding-left: 0;
          }
          ul{
            li{
              list-style-type: none;
              margin: 15px 0 0 0;
              font-size: 13px;
              &:first-child{
                margin-top: 10px;
              }
              a{
                display: block;
                margin-left: 70px;
              }
            }
          }
        }
      }
      #winner_suggestions{
        margin-top: 10px;
      }
    }
  }
  #confirm_user_merge{
    #user_loser{
      background-position: 0 224px;
    }
    #user_winner{
      padding: 60px 20px 20px 20px;
      .user_card{
        float: none;
        margin: 0 auto;
        border: 3px solid #9BC300;
        padding: 14px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .button{
        float: right;
        margin: 20px 0 0 0;
      }
    }
  }
}
