#screencasts {
  clear:both;
  margin: 0px 15px 10px 0px;
}

body.portal-new .new-screencasts-title {
  clear:both !important;
  padding-top: 25px;
}

.tickets-show #screencasts,
.tickets-new #screencasts,
.tickets-update #screencasts {
  float: right;
  text-align: right;
  margin-top: -4px;
}

#screencasts_list {
  margin-top: 12px;
  padding-left: 0;

  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 0 5px 5px;
    padding: 5px 10px 5px 24px;
    float: left;
    font-weight: bold;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;


    font-size: 12px;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
    text-decoration: none;
    display: block;

    background: #f4f4f4 url(/classic/images/screencasts/screencast_icon.png) no-repeat 8px 8px;
  }

  a.remove{
    font-size: 9pt;
    font-weight: normal;
    color: #888888;
    padding-left: 5px;
  }
}

body.anonymous-new #screencasts_list {
  li {
    margin: 0 5px 5px 0;
    border: 1px solid #C3C3C3;
  }
}
