@import "../../mixins.css.scss";

.std_tile {
  background-color: #f4f4f4;
  border: 2px solid #eee;
  width: 250px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  @include border-radius(4px);
  padding: 5px;
  cursor: pointer;

  &.selected {
    border-color: #eceecf;
    background: #ecf4dc url('/classic/images/icons/checkmark_circle.png') no-repeat 97% 50%;

    &:hover {
      background-color: #e6f0d0;
      border-color: #e8eac4;
    }
  }

  &:hover {
    background-color: #ececec;
    border-color: #e6e6e6;
  }

  .left_col {
    float: left;
    width: 40px;
    img {
      margin-left: 10px;
      vertical-align: middle;

      &.country-flag {
        margin-top: 2px;
      }
    }

    .without_left_margin {
      margin-left: 0px;
    }
  }

  .center_col {
    height: 34px;
    text-align: left;
    float: left;

    .head {
      font-size: 12px;
      font-weight: bold;
      height: 15px;
      width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 3px;
    }

    .sub {
      color: #999;
      font-size: 12px;
      margin-left: 0px;
    }
  }

  .right_col {
    float: left;
    width: 40px;
  }
}
