/* upgrade and upsell */
p.plan-upgrade {
  border-top: 1px solid #DDD;
  padding: 10px 8px 10px 0 !important;
  margin-top: 10px !important;
  background: white
}

/*
body.reports p.plan-upgrade{
  margin:0px 10px 0px -12px;
}

div#upsell-message {
  background:#fff none;
  border-top: 1px solid #DDD;
  color:#555;
  font-size:16px;
  margin: 10px 0 0 0;
  padding: 10px 0;
}

  div#upsell-message .upgrade-text{
    float: left;
    width: 73%;
  }

  div#upsell-message .upgrade-text span{
    color: #666;
  }

  div#upsell-message .upgrade-text p{
    color: #333;
    font-size: 14px;
    margin: 0;
    margin-top: 3px;
  }

  div#upsell-message a{
    padding: 4px 10px;
    margin-top: 6px;
  }

a.time-zone-upgrade {
  font-weight:bold;
  margin-left:20px;
}
*/