body.chat_settings {
  .content{
    h2 {
      color: #333;
      font-weight: normal;
      margin: 11px 0;
      overflow: hidden;
    }

    .v1 {
      margin:0 12px 0 -8px;
    }

    p.intro_text {
      margin:0 15px 10px 0;
      width:90%;
    }
  }
  .tabs_content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
    border: 1px solid #efefef;
    margin-top: -2px;
    padding: 10px 25px 20px;

    fieldset.section legend {
      color: #4c4c4c;
      font-size: bold;
      width: 150px;
    }
  }

  form.two_column {
    padding: 0px;
    .section {
      background-color: #fff;
      border: 0px;
      padding: 0px;
    }

    hr {
      margin: 20px 0 15px;
    }

    p.help {
      width: 60%;
    }

    footer input {
      font-weight: bold;
    }
  }
}

.default_group_tag_edit_page {
  margin-top: 10px;
}
