<ul id='banners'>
  <script type='text/html' id='banner-item-template' data-template-name='banner-item'>
    <li>
      <span class='icon'>&nbsp; &nbsp; &nbsp; </span>
      <span class='content'>{{ text }}</span>
      <span class='ignore'><%= I18n.t('txt.views.layouts._banner.ignore_this') %></span>
      <span class='reload'><%= I18n.t('txt.views.layouts._banner.reload') %></span>
    </li>
  </script>
</ul>
