<div id="container" class="clearfix">

  <%= render :partial => 'shared/alert' %>

  <div id="flash_messages">
    <%= render :partial => 'shared/flash' %>
  </div>

  <% if full_width_page = yield(:full_width_page).presence %>
    <%= full_width_page %>
  <% else %>
    <div id="contentwrapper">
      <div id="contentcolumn">
        <%= yield %>
      </div>
    </div>

    <div id="sidebar">
      <% if fixed_widget = yield(:sidebar).presence %>
        <div id="widget_fixed" class="draggable"><%= fixed_widget %></div>
      <% end %>
    </div>
  <% end %>
</div>
