<div id="footer">
  <%= render "layouts/version" if params[:show_version] %>

  <% if show_footer %>
    <p>
      <%= campaign_message(current_account) %>
    </p>
  <% end %>
</div>

<!-- Render any mouseover tips on the page -->
<% if @tips.present? -%>
  <%= javascript_tag do -%>
    <%= @tips.join("\n").html_safe  %>
  <% end -%>
<% end -%>

<%= javascript_tag do -%>
  if(!Zendesk) var Zendesk = {};
  Zendesk.tab = "<%= h(@tab) %>";
<% end -%>

<%= javascript_include_tag "auto_included" %>
<%= render_js_models %>
<%= javascript_include_tag "zd_tickets_table_node" %>
<%= javascript_include_tag "zd_ticket_viewing_status_node" %>

<%= javascript_tag do -%>
  $z.initializeModules(zd.jsInitializers);
<% end -%>
