<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= mobile_site_title %> <%= "- #{h(@page_title)}".html_safe if @page_title %></title>
    <%= favicon_link(current_account) %>
    <%= stylesheet_link_tag "mobile_v2" %>
    <%= include_generated_mobile_stylesheets %>
    <%= javascript_include_tag "vendor/jquery-1.6.1.min.js" %>
    <%= javascript_include_tag "mobile_v2" %>
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <%= render_js_models_for_mobile %>
    <%= include_apple_touch_icon_for(current_account) if current_account%>
    <%= javascript_tag do -%>
      <%= yield :script %>
    <% end -%>
  </head>
