<!DOCTYPE html>
<html lang="<%= current_language %>" <%= render_data_rtl_attribute %> >

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
  <title>
    <% if controller_name == 'tickets' && action_name == 'show' %>
      <%= @page_title.html_safe if @page_title %>
    <% elsif controller_name == 'entries' && action_name == 'show' %>
      <%= @page_title if @page_title %> <%= ": ".html_safe + current_account.name if current_account %>
    <% elsif controller_name == 'satisfaction_ratings' && action_name == 'new' %>
      <%= @ticket&.brand&.name || current_account.name %> <%= ": ".html_safe + @page_title if @page_title %>
    <% else %>
      <%= current_account.name if current_account %> <%= ": ".html_safe + @page_title if @page_title %>
    <% end %>
  </title>

  <%= favicon_link(current_account) %>
  <%= help_desk_meta_description_tag %>

  <%= render :partial => 'shared/share_facebook_metatags' if current_account %>

  <%= csrf_meta_tag %>
  <%= shared_csrf_token %>

  <%= stylesheet_link_tag 'application/global', 'application/end_user', 'application/agent', 'application/admin', :media => "all" %>
  <%= stylesheet_link_tag 'print', :media => "print" %>

  <% if @lotus_embeddable %>
    <%= render :partial => '/layouts/lotus' %>
  <% else %>
    <%= include_generated_stylesheets %>
  <% end %>

  <%= javascript_include_tag "vendor/jquery-1.6.1.min.js" %>

  <% if !Rails.env.production? %>
    <script>
      window.onerror = function(message, url, linenumber) {
        $j(function(){ // wait for dom to be there
          $j("#header_container").css('background', 'red').append("JS Error: " + message + "<br/>");
        });
      }
    </script>
  <% end %>

  <%= include_generated_javascripts %>
  <%= javascript_include_tag "bootstrap" %>
  <%= render_js_models %>

  <%= javascript_include_tag "node_pubsub_2" %>
  <% if current_account %>
    <%= javascript_tag do %>
    ;(function(){
      Minilog.zendeskConfiguration({
        jQuery: jQuery,
        debug: Zendesk.currentAccount.features.include('clientSideLogging'),
        subdomain: Zendesk.currentAccount.subdomain,
        userId: Zendesk.currentUser.id,
        userType: Zendesk.currentUser.role
      });
      var apiHost = <%= radar_api_host.to_s.to_json.html_safe %>;
      RadarClient.setAPIHost(apiHost);
      }());
    <% end %>
  <% end %>


  <script type="text/javascript">
    if(Zendesk.currentAccount && Zendesk.currentAccount.features.include('secureSessions')) {
      jQuery.cookie.defaults.secure = true;
    }

    if(Zendesk.currentUser) {
      Zendesk.currentUser.authenticityToken = $j("meta[name='csrf-token']").attr('content');
    }
  </script>

  <% if Rails.env.production? %>
    <script type="text/javascript">
      // disable Sammy logging in production
      Sammy.log = function(){};
    </script>
  <% end %>

  <%= javascript_tag do %>
    <%= yield :script %>
    $j(document).ready(function () {
      <%= yield :script_onload %>
    });
  <% end %>

  <%= yield :head %>

  <% if is_agent_session? %>
    <link rel="search" type="application/opensearchdescription+xml" title="Zendesk search" href="/search/search_plugin" />
  <% end %>

  <%= render_canonical_link %>
</head>
