<% if current_account && current_user.available_languages.size > 1 %>
  <li class="main right language_selector">
    <%= link_to '#', class: 'tab' do %>
      <% current_language = current_user.is_anonymous_user? ? I18n.translation_locale : current_user.translation_locale%>
      <%= image_tag("flags/#{current_language.flag}.gif", :style => 'margin-top: 1px;') if current_language.flag && !current_account.settings.hide_flag_to_end_user%>
      <%= current_language.localized_name(display_in: current_language) %>
    <% end %>
    <ul class="menu-drop">
      <% available_languages_for_dropdown.each do |language| %>
        <li>
          <%= link_to choose_locale_user_path(language.id || 0), method: :put do %>
            <%= image_tag("flags/#{language.flag}.gif", :style => 'margin-top: 1px;') if language.flag %>
            <%= language.localized_name(display_in: language) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
