<div id="header_container">
  <% if current_account && current_account.is_active? %>
    <%= cache "#{current_account.cache_key}/logo-header/#{'no-' if !request.ssl?}ssl" do %>
    <table id="table_header"><tr>
      <td><%= header_logo_image(current_account) %>&nbsp;</td>
      <td><%= image_tag 'logo-delimiter.png', :alt => '', :id => 'logo-delimiter' %>&nbsp;</td>
      <td><%= link_to current_account.name, main_app.home_path %></td>
    </tr></table>
    <% end %>
  <% end %>
</div>
