
<% if current_account && current_account.has_zuora_managed_billing_enabled? %>
  <% content_for :head do %>
    <style>
      .tabs_content #subscription {
        display: none;
      }
    </style>
  <% end %>
<% end %>
<%= javascript_tag  do -%>
  if (window.name === "zendesk-clean-admin" || window.name === "zendesk-clean-admin-center") {
    document.write(<%= stylesheet_link_tag("clean", :media => "all").to_json.html_safe %>);
  <% if current_account && current_account.has_zuora_managed_billing_enabled? %>
    var removeSubscriptionLinkAndContent = function () {
      var container = jQuery('.tabbed_container'),
        subscriptionLink = jQuery('.tab_links a[href="#subscription"]', container),
        subscriptionContent = jQuery('.tabs_content #subscription', container);
      if (subscriptionLink) {
        subscriptionLink.remove();
      }
      if (subscriptionContent) {
        subscriptionContent.remove();
      }
      jQuery(window).trigger('popstate:tabs');
    };

    if (document.addEventListener) {
      document.addEventListener('DOMContentLoaded', function () {
        removeSubscriptionLinkAndContent();
      });
    } else if (document.attachEvent) {
      document.attachEvent('onreadystatechange', function () {
        if (document.readyState === 'complete') {
          removeSubscriptionLinkAndContent();
        }
      });
    }
  <% end %>
  } else if (window.name === "lotus-launchpad") {
    document.write(<%= stylesheet_link_tag("clean", :media => "all").to_json.html_safe %>);
    document.write(<%= stylesheet_link_tag("lotus_launchpad", :media => "all").to_json.html_safe %>);
  } else {
    document.write(<%= include_generated_stylesheets.to_json.html_safe %>);
  }
<% end -%>
<% if lotus_branding_active? %>
  <%= render 'shared/element_branding' %>
<% end %>
