<% if current_account.subscription.present? && current_account.subscription.is_trial? %>
  <script type="text/javascript">
    var WRInitTime=(new Date()).getTime();
  </script>
<% end %>
<%= render :partial => '/layouts/banner' %>
<div id="page">

  <div id="top">
    <div id="header">
      <div id="top-right"></div>
      <%= render :partial => '/layouts/logo_header' %>
    </div>

    <div id="top-menu-background">

      <div id="top-menu" data-tracking-module='Top Menu'>
        <ul id="green" class="agent-tabs">
          <%= tab(:home, I18n.t('txt.admin.views.layout.agent.home_label'), main_app.home_path) %>
        </ul>
      </div><!-- #top-menu -->

    </div><!-- #top-menu-background -->
  </div><!-- #top -->

  <div id="<%= @view_id %>">
    <%= render :partial => '/layouts/container' %>
  </div>
</div> <!-- page -->

<%= javascript_include_tag "embedded_lotus" %>

<%= render :partial => '/shared/payment_problem' if @display_payment_notice %>
<%= render :partial => '/layouts/footer', :locals => {:show_footer => true} %>

<%= javascript_tag do %>
  <%= yield :script_at_end %>
  jQuery(document).ready(function () {
    <%= yield :script_onload_at_end %>
  });
<% end %>


<%= yield :clicktales_footer %>
