<%# Header specific styling is in app/views/generated/stylesheets/mobile_branding.css.erb %>
<div id="mobile-header-wrapper">
  <% if current_account %>
    <header data-role="header">
      <a class="logo" href="/">
        <div id="logo-wrapper">
          <%= mobile_v2_logo%>
        </div>
      </a>
       <h1><%= mobile_site_title %></h1>
    </header>
  <% end %>
  <div id="search">
    <% content_for :search do %>
      <div id="va-wrapper">
        <div id="vertical-aligner">
          <div id="hs-wrapper">
            <div class="horisontal-spacer">
              <div class="icon-wrapper">
                <div class="vertical-spacer"></div>
                <div class="icon"></div>
              </div>
              <%= text_field_tag :query,
                nil,
                :type => "search",
                :placeholder => I18n.t('txt.layout.mobile.user.search_placeholder'),
                :autocomplete => 'off' %>
              <div class="dismiss-wrapper">
                <div class="vertical-spacer"></div>
                <div class="reset"></div>
              </div>
            </div>
            <div>
              <input type="button" class="cancel" value="<%= I18n.t('txt.layout.mobile.user.cancel_link') %>" />
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
