<p>
  Zendesk Version <%= zendesk_version %>
  <%= ror_version_and_patch_level %>
  Account shard <%= current_account.shard_id %>
</p>

<script>
  // show versiona, keep in sync with what lotus does
  Zd.currentVersion = <%= zendesk_version.to_json.html_safe %>;
</script>
