<%= render :partial => '/layouts/header' %>
<body class="<%= body_class %>" data-environment="<%= Rails.env %>">
  <%= render :partial => '/layouts/lotus_only_agent', :formats => [:html] %>
</body>
</html>
