<!DOCTYPE html>
<html lang="<%= current_language %>"
      dir=<%= right_to_left? ? 'rtl' : 'ltr' %>>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
        <%= @ticket&.brand&.name || current_account.name %>: <%= @page_title if @page_title %>
      </title>
      <%= favicon_link(current_account) %>
      <%= csrf_meta_tag %>

      <%= stylesheet_link_tag 'csat', :media => "all" %>
      <%= javascript_include_tag 'csat' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
