<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <% if controller.action_name == 'tickets' %>
      <meta http-equiv="refresh" content="1200">
    <% end %>

    <style type="text/css">
      <!--
      * { margin: 0; padding: 0; }
      body { font-family: arial, sans-serif; font-size: 13px; background-color: #fff; }
      a:link { color: #0060BF; text-decoration: underline; }
      a:visited { color: #0060BF; text-decoration: underline; }
      a:active { color: #0060BF; text-decoration: underline; }
      a:hover, a:focus { color: #0060BF; text-decoration: underline; }
      img { border: 0; }
      .tl_tbl { width: 100%;}
      .tl_sp { background-color: #fff; line-height: 3px; height: 3px; padding: 0; font-size: 3px; }
      .tl_hr { background-color: #e5ecf9; line-height: 1px; height: 1px; padding: 0; font-size: 1px; }
      .tl_td { vertical-align: top; padding-bottom: 1px; }
      .tl_day { text-align: left; white-space: nowrap; font-weight: bold; padding-right: 4px; padding-top: 1px; padding-left: 2px; }
      .tl_date { text-align: right; color: #979797; padding-top: 1px; padding-right: 4px; }
      .tl_time { text-align:right; white-space: nowrap; color: #979797; font-size: 0.9em; padding-right: 3px; padding-top: 1px; padding-left: 2px; }
      .tl_task { width: 100%; padding-right: 7px; }
      .tl_prio { float: right; margin-top: 6px; margin-left: 3px; width: 6px; height: 6px; font-size: 1px; }
      .tl_prio1 { background-color: #EA5200; }
      .tl_prio2 { background-color: #0060BF; }
      .tl_prio3 { background-color: #359AFF; }
      .tl_prio4 { background-color: #C4C4C4; }
      .tl_prio_busy { background-color: #66BB4A; }
      .tl_arr { vertical-align: middle; padding-right: 4px; width: 13px; height: 13px; cursor: pointer; }
      .tl_edit { background-color: #E5ECF9; display: none; }
      .tl_tbl_edit { width: 85%; margin: 0em auto; }
      .tl_col1 { width: 20%; white-space: nowrap; text-align: right; padding-right: 3px; }
      .tl_col2 { width: 80%; }
      .tl_col2 input, .tl_col2 select { width: 97%; }
      .tl_btn { text-align: right; padding: 5px 0px 8px 0px; }
      .tl_busy { float: right; padding-right: 3px; }
      .tl_busy img { width: 20px; height: 20px; }
      .tl_menu { background-color: #C2D1F0; border: 1px solid #99B3E6; font-size: 11px; border-spacing: 0px; border-collapse: collapse; visibility: hidden; }
      .tl_menu a { padding: 2px 9px 2px 8px; display: block; color: #333; text-decoration: none; }
      .tl_menu a:link { color: #333; text-decoration: none; }
      .tl_menu a:visited { color: #333; text-decoration: none; }
      .tl_menu a:active { color: #333; text-decoration: none; }
      .tl_menu a:hover, .tl_menu a:focus { color: #333; background-color: #99B3E6; text-decoration: underline; }
      .tl_top { padding: 0px 3px 2px 3px; margin-top: 3px; font-size: 0.85em; }
      .tl_top_tbl { border-spacing: 0px; border-collapse: collapse; width: 100%; }
      .tl_add { font-weight: bold; white-space: nowrap; padding-right: 6px; }
      .tl_add_img { vertical-align: bottom; padding-right: 3px; width: 13px; height: 13px; cursor: pointer; }
      .tl_lnk { font-size:0.85em; color: #ccc; text-align: right; white-space: nowrap; padding-left: 6px;  border-bottom: 1px solid #e5ecf9;}
      #tl_stat { text-align: center; padding-top: 2px; padding-bottom: 2px; font-size: 0.85em; display: none; }
      #tl_stat_msg { padding: 1px 5px; background-color: #FC6; font-weight: bold; }
      .tl_top_add { padding: 3px 3px 4px 3px; font-size: 0.85em; }
      .tl_cancel { padding-left: 13px; font-weight: bold; }
      .tl_pad { height: 5px; width: 1px; visibility: visible; }
      .tl_new { color: #EA5200; }
      -->
    </style>

    <!--[if lt IE 8]>
<style type="text/css">
.tl_menu li a { display:inline-block; }
.tl_menu li a { display:block; }
</style>
<![endif]-->

    <script src="http://www.google.com/ig/f/QLnY1BQ2GXI/lib/libcore.js" type="text/javascript"></script>
    <script src="http://www.google.com/ig/f/mCNpDiXL1rw/lib/libdynamic-height.js" type="text/javascript"></script>
    <script type="text/javascript">
        if (typeof _IG_AdjustIFrameHeight === "undefined" || typeof _IG_AdjustIFrameHeight !== "function") {
            function _IG_AdjustIFrameHeight() {
                return;
            }
        }

        function initialize() {
            _IG_AdjustIFrameHeight();
        }
    </script>
  </head>

  <body onload="initialize();">
    <% if session[:user] %>
    <div class="tl_lnk">
        <%= link_to "Refresh", :action => 'tickets', :view => params[:view].to_i %> |
        <%= link_to "Logout", :action => 'logout' %>&nbsp;&nbsp;
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
