<!DOCTYPE html>
<html <%= %(dir=rtl) if I18n.translation_locale.rtl? %> lang="<%= current_language %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
  <title>
    <% if Arturo.feature_enabled_for?(:display_brand_title_in_hc_layout, current_account) && current_brand %>
      <%= current_brand.name %> <%= ": ".html_safe + @page_title if @page_title %>
    <% else %>
      <%= current_account.name if current_account %> <%= ": ".html_safe + @page_title if @page_title %>
    <% end %>
  </title>
  <%= help_center_favicon(current_account) %>
  <%= help_desk_meta_description_tag %>
  <%= render_canonical_link %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application/help_center' %>

  <% if current_account.has_classic_help_center_layout_jquery_3? %>
    <%= javascript_include_tag "vendor/jquery-3.5.1.min.js" %>
  <% else %>
    <%= javascript_include_tag "vendor/jquery-1.8.3.min.js" %>
  <% end %>
  <!--[if gte IE 7]>
    <%= javascript_include_tag "Placeholders.js" %>
  <![endif]-->
  <%= javascript_include_tag "help_center" %>
</head>

<body class="<%= body_class %>">
  <%= render :partial => 'shared/hc_flash' %>

  <div class="header">
    <div class="header_inner">
      <div class="logo">
        <%= help_center_logo(current_account) %>
      </div>
    </div>

  </div>

  <div class="layout_wrap">
    <div class="layout_inner">
      <%= yield %>
    </div>
  </div>

</body>
</html>
