<!doctype html>
<% if current_account.has_rtl_lang_html_attr? %>
  <html lang="<%= current_language %>" data-rtl-language="<%= current_user.translation_locale.rtl? %>">
<% else %>
  <html lang="<%= current_language %>">
<% end %>
  <head>
    <base href="<%= lotus_base_uri %>" />
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <% if @local_dev_assets %>
      <meta name="asset-host" content="https://dev.zd-dev.com">
      <meta name="asset-provider" content="Loopback">
    <% else %>
      <meta name="asset-host" content="<%= static_asset_host %>">
      <meta name="asset-provider" content="<%= static_cdn_provider %>">
    <% end %>

    <%= csrf_meta_tag %>

    <title>Zendesk...</title>
    <meta name="description" content="Agent view for Zendesk">
    <meta name="author" content="Zendesk Inc.">
    <%= favicon_link(current_account, name: 'favicon', icon_path: @favicon_path) %>

    <%- asset_manifest.initial_css_assets.each do |asset| -%>
      <% if @local_dev_assets %>
        <%= stylesheet_link_tag asset['path'].prepend('https://dev.zd-dev.com'), :media => asset['media'] || :all %>
      <% else %>
        <%= stylesheet_link_tag asset['path'].prepend(static_asset_host), :media => asset['media'] || :all %>
      <% end %>
    <%- end -%>

    <%= javascript_tag  do -%>
      if (window.name === "zendesk-clean-admin-center") {
        document.write(<%= stylesheet_link_tag("clean", :media => "all").to_json.html_safe %>);
      }
    <% end -%>

    <% if ENV['DD_RUM_ENABLED'] %>
      <script src="https://www.datadoghq-browser-agent.com/datadog-rum.js" type="text/javascript"></script>
      <script>
          window.DD_RUM && window.DD_RUM.init({
              applicationId: "<%= ENV['DD_RUM_APPLICATION_ID'] %>",
              clientToken: "<%= ENV['DD_RUM_TOKEN'] %>",
              site: "<%= ENV['DD_RUM_SITE'] %>",
              service: "lotus",
              env: "<%= Rails.env %>",
              version: "1.0.0",
              sampleRate: 100,
              trackInteractions: true
          });
      </script>
    <% end %>

    <% if ENV['ROLLBAR_ENABLED'] %>
      <script>
        window._rollbarConfig = {
          accessToken: "<%= rollbar_access_token %>",
          captureUncaught: false,
          captureUnhandledRejections: false,
          endpoint: "<%= ENV['ROLLBAR_WEB_BASE'] %>/api/1/item/",
          payload: {
            environment: "<%= Rails.env %>",
            client: {
              javascript: {
                source_map_enabled: true,
                code_version: "<%= asset_manifest.rollbar_identifier %>"
              }
            }
          }
        };
      </script>
    <% end %>
  </head>

  <body class="<%= custom_branding_body_class %>" data-environment="<%= Rails.env %>">

    <%= form_tag('', :id => 'error_form') do %>
      <%= hidden_field_tag 'error_identifier', '' %>
      <%= hidden_field_tag 'error_data', '' %>
      <%= hidden_field_tag 'error_asset_name', '' %>
    <% end %>

    <% if display_fallback_form? %>
      <%= form_tag('', :id => 'bootstrap_force_cdn_form') do %>
        <%= hidden_field_tag 'fallback_cdn', fallback_cdn_name %>
        <%= hidden_field_tag 'fallback_asset_name', '' %>
        <%= hidden_field_tag 'translations_asset_fallback_to_api', translations_asset_should_fallback_to_api? %>
      <% end %>
    <% end %>

    <%- # Detect known-incompatible browsers via feature detection per Lotus ADR 26 -%>
    <script>
      (function() {
        'use strict';
          <%- # All Internet Explorer versions (incl. MSIE11) will fail: -%>
          var isCapable = Boolean(window.CSS && CSS.supports('display', 'grid'));

          if (!isCapable) {
            // Show incompatible browser error page
            document.getElementById('error_identifier').setAttribute('value', 'incompatible_browser');
            document.getElementById('error_form').submit();
          }
      }());
    </script>

    <script>
    <% unless Rails.env.production? %>
    // Remove FORCE_JQUERY when on Ember 1.13 or no longer on Ember 1.12
    <% end %>
      window.ENV = { FORCE_JQUERY: true };
      (function(exports) {
        exports.__zendesk_config = (function() {
          var result = {};
          result._cb = function(data) {
            var locale = (data || {}).locale;
            result.locale_id = (locale || {}).id;
            result.locale_code = (locale || {}).locale;
            result.translations = (locale || {}).translations || {};
            result.rtl = (locale || {}).rtl;
            delete result._cb;
          };
          return result;
        }());

        exports.Zd = exports.Zendesk = exports.Zendesk || {};
        exports.Zd.onFatalError = function(errorIdentifier, errorData, assetName) {
          <% if Rails.env.development? %>
          // Uncomment this when you want to test locally without Chrome "Preserve log" enabled
          // Warning: This hides infinite loop bugs when there is an issue within the fallback logic
          // if(document.body.getAttribute('data-environment') === "development") {
          //   return;
          // }
          <% end %>
          document.getElementById('error_identifier').setAttribute('value', errorIdentifier);
          document.getElementById('error_data').setAttribute('value', errorData || '');
          document.getElementById('error_asset_name').setAttribute('value', assetName);
          document.getElementById('error_form').submit();
        };
      <% if @standalone_product %>
      exports.Zd.lotusChromeConfig = {
        productName: "<%= @standalone_product %>",
        isStandaloneProduct: true
      };
      <% else %>
      exports.Zd.lotusChromeConfig = {
        productName: "support",
        isStandaloneProduct: false
      };
      <% end %>
      }(this));
    </script>
    <% if lotus_branding_active? %>
      <%= render 'lotus_bootstrap/head/branding' %>
    <% end %>

    <% preload_start = Process.clock_gettime(Process::CLOCK_MONOTONIC, :millisecond) %>
    <%= render_and_instrument 'lotus_bootstrap/preloads/time_zones' %>
    <%= render_and_instrument 'lotus_bootstrap/preloads/ticket_fields' %>
    <%= render_and_instrument 'lotus_bootstrap/preloads/user_settings' %>
    <%= render_and_instrument 'lotus_bootstrap/preloads/account' %>
    <%= render_and_instrument 'lotus_bootstrap/preloads/account_settings' %>
    <%= render_and_instrument 'lotus_bootstrap/preloads/brands' %>
    <% unless %w(talk chat).include? @standalone_product %>
      <%= render_and_instrument 'lotus_bootstrap/preloads/assignable_groups' %>
      <%= render_and_instrument 'lotus_bootstrap/preloads/macros' %>
      <%= render_and_instrument 'lotus_bootstrap/preloads/ticket_forms' %>
    <% end %>
    <%= render_and_instrument 'lotus_bootstrap/preloads/user' %>
    <% if current_user.try(:is_admin?) %>
      <%= render_and_instrument 'lotus_bootstrap/preloads/account_boosts' %>
    <% end %>

    <%- # here, yield just adds additional preloads & similar, as needed. -%>
    <%= yield %>
    <% statsd_client.timing('full_preload_render', Process.clock_gettime(Process::CLOCK_MONOTONIC, :millisecond) - preload_start) %>

    <%= translations_asset_tag %>

    <script>
      (function(exports) {
        exports.SM2_DEFER = true;

        exports.Zendesk.currentVersion = <%= requested_manifest_version_information %>;

        exports.Zendesk.onScriptLoadError = function (srcTag, assetName) {
          var form = document.getElementById('bootstrap_force_cdn_form');

          window.DD_RUM && window.DD_RUM.addUserAction('cdn_failure', {
            asset: assetName,
            cdn: "<%= static_cdn_provider %>"
          });

          if(form) {
            document.getElementById('fallback_asset_name').setAttribute('value', assetName);
            form.submit();
          } else {
            Zd.onFatalError("cdn_failure", form && form.action, assetName);
          }
        };
      }(this));
    </script>

    <%- asset_manifest.initial_js_assets.each do |asset| -%>
      <% if @local_dev_assets %>
        <%= javascript_asset_tag('https://dev.zd-dev.com' + asset['path'], defer: true, name: asset['name']) %>
      <% else %>
        <%= javascript_asset_tag(static_asset_host + asset['path'], defer: true, name: asset['name']) %>
      <% end %>
    <%- end -%>

    <%= pci_credit_card_javascript_include_tag %>

    <% if auto_translation? %>
    <script>
      window.AUTO_TRANSLATION_LANGUAGES = <%= auto_translation_languages.to_json.html_safe =%>;
    </script>
    <%- end -%>
  </body>
</html>
