<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
  <head>
    <%= include_generated_javascripts %>
    <%= javascript_include_tag 'mobile_sdk' %>
    <%= stylesheet_link_tag 'views/mobile_sdk/mobile_sdk' %>
    <%= stylesheet_link_tag 'views/mobile_sdk/onboarding' %>
  </head>
  <body lang="<%= @current_user.translation_locale.locale %>">
    <% [ :error, :notice, :alert ].each do |kind| %>
      <% if message = self.flash[kind].presence %>
        <div class="flash">
          <div class="<%= kind %>"><%= message.sanitize %></div>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
