<%= render :partial => '/layouts/header' %>

<body class="<%= body_class %>">
  <div id="page">
    <%= render :partial => '/layouts/container'%>
  </div>

  <%= render :partial => '/layouts/footer', :locals => {:show_footer => false} %>

  <%= javascript_tag do -%>
    <%= yield :script_at_end %>
    jQuery(document).ready(function () {
      <%= yield :script_onload_at_end %>
    });
  <% end -%>
</body>
</html>
