<!DOCTYPE html>
<html lang="<%= current_language %>" dir=<%= rtl? ? 'rtl' : 'ltr' %>>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag 'roles', :media => "all" %>
    <%= javascript_include_tag 'roles' %>
  </head>
  <body class=<%= rtl_class %>>
    <%= yield %>
  </body>
</html>
