<%= render :partial => '/layouts/header' %>

<body class="<%= body_class %>">
  <%= render :partial => '/layouts/banner' %>
  <div id="page">
    <div id="top">
      <div id="header">
        <div id="top-right"></div>
        <%= render :partial => '/layouts/logo_header' %>
      </div>

      <% if current_account.present? && current_account.is_active? %>
      <div id="top-menu-background">
        <div id="top-menu">
          <ul id="green" style="width: 100%;">
            <%= tab(:home, I18n.t('txt.layout.home'), main_app.home_path) %>
            <%= tab(:requests, I18n.t('txt.layout.check_request'), main_app.requests_path) %>
            <%= render :partial => '/layouts/language_selector' %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>

    <%= render :partial => '/layouts/container'%>

  </div>

  <%= render :partial => '/layouts/footer', :locals => {:show_footer => true} %>
  <%= render :partial => '/people/users/ask_for_email' if should_ask_for_email? %>

  <%= javascript_tag do -%>
    <%= yield :script_at_end %>
    jQuery(document).ready(function () {
      <%= yield :script_onload_at_end %>
    });
  <% end -%>
</body>
</html>
