<%= render :partial => '/layouts/header' %>
  <body data-view="<%= "#{params[:controller]}_#{params[:action]}" %>" class="<%= "#{params[:controller]} #{params[:action]}" %>">
    <%= render :partial => '/layouts/mobile_header' %>
    <%= render :partial => 'shared/flash' %>
    <div id="content">
      <div class="wrapper">
          <%= yield %>
      </div>
      <% if current_account %>
        <div id="sign-out-fullsite">
          <%= show_login_logout_link %>
          <%= show_go_to_full_site_link_for(params[:controller], :return_to => request.url) %>
        </div>
      <% end %>
    </div>
    <script type="text/javascript">
      $(function() {
        Zendesk.MobileV2.Search.init();

        var action_fun = window.mobile[$("body").data("view")];
        if(action_fun && typeof(action_fun) == "function") {
          action_fun();
        }

        // Rotate animation of recaptcha refresh icon
        var img_icon = $("div#recaptcha_widget div#refresh a img.icon");

        img_icon.bind('webkitAnimationEnd', function() {
          $(this).css('webkitAnimationName', '');
        });

        img_icon.click(function() {
          $(this).css('webkitAnimationName', 'rotate360');
        });
      });
    </script>
  </body>
</html>
