<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
  <head>
    <%= include_generated_javascripts %>
    <link rel="stylesheet" href="https://assets.zendesk.com/apps/sdk-assets/css/2/zendesk_garden.css" type="text/css">
    <%=javascript_include_tag "vendor/zendesk_menus"%>
    <%=stylesheet_link_tag "vendor/zendesk_menus"%>
    <%= javascript_include_tag 'brands' %>
    <%= stylesheet_link_tag 'views/brands/brands' %>
    <%= stylesheet_link_tag 'views/brands/landing' %>
    <%= csrf_meta_tag %>

    <style>
      .content {
        display: flex;
      }
      .workspace_apps, .workspace_ticket_form, .workspace_macros {
        width: 200px;
      }
      .new_workspace {
        max-width: 500px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body lang="<%= @current_user.translation_locale.locale %>">
    <% [ :error, :notice, :alert ].each do |kind| %>
      <% if message = self.flash[kind].presence %>
        <div class="flash">
          <div class="<%= kind %>"><%= message.sanitize %></div>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
