<!DOCTYPE html>
<html lang="<%= current_language %>">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= javascript_include_tag 'zuora' %>
    <%= include_generated_javascripts %>
    <%= stylesheet_link_tag 'new_zuora_hosted_page' %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
    <%= yield :footer %>
  </body>

</html>
