<form class="signup" action="/accounts.json" method="post">
  <input type="hidden" name="account[utc_offset]" value="-9">
  <fieldset id="top">
    <div class="text_field">
      <label for="full_name">Full Name</label>
      <input class="long" id="full_name" type="text" name="owner[name]">
    </div>
    <div class="text_field">
      <label for="email">Email</label>
      <input class="long" id="email" type="text" name="owner[email]">
    </div>
    <!-- NOTE: The verification below is now present in production. It's merely there to
         allow Selenium to get verified right off the bat -->
    <div class="text_field">
      <label for="email">Verification</label>
      <input class="long" id="verification" type="text" name="verification">
    </div>
    <div class="text_field">
      <label for="phone">Phone Number</label>
      <input class="long" id="phone" type="text" name="address[phone]">
    </div>
    <div class="text_field">
      <label for="company_name">Company</label>
      <input class="long" id="company_name" type="text" name="account[name]">
    </div>
    <div class="text_field" id="site_address_field">
      <label>Sitename</label>
      <input class="short" id="site_address" type="text" name="account[subdomain]"><span id="trail">.zendesk.com</span>
      <p>We'll create and host your help desk at this address</p>
    </div>

    <div class="select_field">
      <label>Size of help desk:</label>
      <div class="select_options">
        <select name="account[help_desk_size]">
          <option>Please Select</option>
          <option value="small">1-4 Support Agents</option>
          <option value="medium">5-9</option>
          <option value="large">10+</option>
        </select>
      </div>
    </div>
  </fieldset>
  <div id="agree" class="checkbox_field">
    <input id="terms" type="checkbox">
    <label for="terms"><strong>I agree to the terms &amp; conditions and privacy policy</strong></label>
  </div>
  <div class="submit_field">
    <input type="submit" value="Signup">
  </div>
</form>
