#header, #user_chat h1 {
  background: #<%= @branding.header_color %>;
}

html, body {
  background: #<%= @branding.page_background_color %>;
}

#page #container #contentwrapper #contentcolumn .content input[type="text"]:focus,
#page #container #contentwrapper #contentcolumn .content select:focus,
#page #container #contentwrapper #contentcolumn .content select:active,
#page #container #contentwrapper #contentcolumn .content textarea:focus,
input:focus,
textarea:focus,
select:focus,
input.combobox:focus + input.combobox-button {
  border-color: #<%= @branding.header_color %>;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 4px #<%= @branding.header_color %>;
  /* #RRGGBBAA glow for browsers that can handle it. Alpha matches May 2018 Garden (hex 59 = 0.35 alpha): */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 0 3px #<%= @branding.header_color %>59;
}

ul#green li.main:hover, ul#green li.main.over {
  background: #<%= @branding.tab_hover_color %>;
}

.header, .header a, #table_header a, #top-right, #top-right a, #top-menu a.tab, #user_chat h1 span, #user_chat #end_session {
  color: #<%= @branding.text_color %>;
}

#top-menu-background, #top form#topquery {
  background-color: #<%= @branding.tab_background_color %>;
}

ul.menu-drop, ul.drop-list ul {
  border-color: #<%= @branding.tab_background_color %>;
}

.side-box-content, .blue_box_top, .blue_box_bottom, .side-box-with-image, .r_blue {
  background-color: #<%= @branding.sidebox_color %>;
}

ul#green.agent-tabs li.main, ul#green.agent-tabs li.active:hover, ul#green.agent-tabs li.active.over {
  border-left: 2px solid #<%= @branding.tab_background_color %>;
}
