<%#
  ##########################################
  #                                        #
  #                BEWARE                  #
  #                                        #
  #      For the mobile header preview     #
  #      these rules are included in       #
  #      settings/account#branding         #
  #      besides the mobile site.          #
  #      Make sure they don't clash,       #
  #      with markup there.                #
  #                                        #
  ##########################################
%>

<%
background_color = @branding.header_color
background_color_dark = @branding.tab_background_color
%>

div#mobile-header-wrapper header,
div#mobile-header-wrapper #search {
  background-color: #<%= background_color %>;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#<%= background_color %>), to(#<%= background_color_dark %>));
  background-image: -webkit-linear-gradient(top, #<%= background_color %>, #<%= background_color_dark %>);
  background-image:    -moz-linear-gradient(top, #<%= background_color %>, #<%= background_color_dark %>);
  background-image:     -ms-linear-gradient(top, #<%= background_color %>, #<%= background_color_dark %>);
  background-image:      -o-linear-gradient(top, #<%= background_color %>, #<%= background_color_dark %>);
  background-image:         linear-gradient(to bottom, #<%= background_color %>, #<%= background_color_dark %>);
  color: #<%= @branding.text_color %>;
  border-bottom: 1px solid <%= @branding.mobile_border_color %>;
  <% if @branding.text_color.downcase == "ffffff" %>
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
  <% else %>
    text-shadow: none;
  <% end %>
}

div#mobile-header-wrapper header a#search-button {
  background-color: #<%= background_color_dark %>;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5) {
  div#mobile-header-wrapper header a.logo {
    background: url(<%= mobile_v2_logo_path %>) no-repeat 50% 50%;
    background-size: <%= mobile_retina_background_size_string %>;
  }
}

div#mobile-header-wrapper h1 {
  color: #<%= @branding.text_color %>;
}

div#mobile-header-wrapper #header-mobile #search-button {
  background-color: #<%= background_color_dark %>;
}

div#mobile-header-wrapper #search input.cancel {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#<%= background_color %>), to(#<%= background_color_dark %>)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #<%= background_color %>, #<%= background_color_dark %>); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #<%= background_color %>, #<%= background_color_dark %>); /* FF3.6+ */
  background-image:     -ms-linear-gradient(top, #<%= background_color %>, #<%= background_color_dark %>); /* IE10 */
  background-image:      -o-linear-gradient(top, #<%= background_color %>, #<%= background_color_dark %>); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #<%= background_color %>, #<%= background_color_dark %>);
  border: 1px solid <%= @branding.mobile_border_color %>;
  color: #<%= @branding.text_color %>;
  <% if @branding.text_color.downcase == "ffffff" %>
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
  <% else %>
    text-shadow: none;
  <% end %>
}
