@import "../../mixins.css.scss";
body.users-index,
body.groups,
body.organizations,
body.search-index {
  #bulk_update {
    background: white;
    border: 1px solid #E9E9E9;
    @include rounded-corners(4px);
    padding-right: 15px;

    &.content-top-right {
      margin-top: 8px;
    }

    .button,
    .button_disabled {
      margin: 6px 15px 6px 9px !important;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    .button_disabled {
      opacity: 0.5;
    }

    a {
      text-decoration: none;
    }

    .checkbox {
      margin-left: 4px;

      html[data-rtl-language='true'] & {
        margin-left: 0;
        margin-right: 4px;
      }
    }

    #bulk_spinner {
      background-position: 5px 6px;
    }

    &.disabled {
      opacity: 0.55;
    }
  }

  .individual_bulk_checkbox {
    .checkbox {
      margin-left: 6px;

      html[data-rtl-language='true'] & {
        margin-left: 0;
        margin-right: 6px;
      }
    }
  }

  #seat-type-filter {
    display: inline;
    font-size: 13px;
    margin-left: 10px;
    vertical-align: 2px;
  }

  #select_bulk_action_lightbox {
    form {
      margin-top: 20px;

      .form_element {
        margin-bottom: 20px;
        overflow: hidden;

        label {
          float: left;
          font-weight: bold;
        }

        select {
          float: right;
          min-width: 120px;
        }

        .warning {
          clear: both;
          color: red;
          margin-top: 5px;
          padding: 10px 0;
        }
      }
    }
  }
}

body.users-index {
  .item-info {
    .info {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 250px;
    }

    .seat-type {
      color: #333;
      font-size: 13px;
      line-height: 56px;
      margin-left: 10px;
      opacity: 0.6;

      html[data-rtl-language='true'] & {
        margin-left: 0;
        margin-right: 10px;
      }
    }
  }
}
