.users-show,
.users-merge_complete {
  .content.main-user-profile {
    $avatar-width: 80px;
    $avatar-gutter-width: 18px;
    $left-item-width: 270px;
    $item-gutter-width: 10px;
    position: relative;

    &> h2, &> h3, &> div.profiles {
      margin-left: $avatar-width + $avatar-gutter-width;
    }

    &> h3 {
      margin-top: -5px;
      margin-bottom: 12px;
      font-weight: normal;
    }

    h2, img.avatar {
      margin-top: 17px; /* to match the content-top-right links */
    }

    img.avatar {
      display: block;
      float: left;
      margin-left: 0;
      width: $avatar-width;
    }

    .content-top-right {
      margin-right: 15px !important;

      .edit_this {
        display: block;
        float: right;
      }

      a {
        text-decoration: none;
      }
    }

    #mini-dashboard {
      margin: 0 0 20px $avatar-width + $avatar-gutter-width;

      h3 {
        color: #555;
      }
    }

    .profiles { margin-top: 15px; }

    .profile_left, .stats-group.left {
      float: left;
      width: $left-item-width;
    }

    .profile_right, .stats-group.right {
      margin-left: $left-item-width + $item-gutter-width;
    }

    .incomplete + strong { display: block; margin-top: 5px; }
  }
}

body.users-show div.twitter-properties {
  display: none;
  overflow: hidden;
}

  body.users-show div.twitter-properties div{
    float: left;
    border: 2px solid #e9e9e9;
    background-color: #fff;
    padding: 6px 20px;
    color: #666;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  body.users-show div.twitter-properties div h4 {
    margin-top: 5px;
  }

  body.users-show div.twitter-properties div ul {
    list-style-type: none;
    padding: 0px;
  }

  body.users-show div.twitter-properties div ul.labels {
    float: left;
  }

    body.users-show div.twitter-properties div ul.labels li {
      font-weight: bold;
    }

  body.users-show div.twitter-properties div ul.data {
    float: right;
    width: 400px;
  }

body.users-show #crm_user_data {
  div.frame {
    padding-top:15px;
    padding-bottom:20px;
  }
}

body.users-show div.crm-record {
    padding-bottom: 24px;
    table.crm-data {
  border-collapse: collapse;
  width: 100%;

  td {
      width: 24%;
      padding: 7px 0px;
      border-bottom: 1px solid #F0F0F0;
      color: #333;
      text-align: left;
      line-height: 15px;
  }

  td.spacing {
    width: 4%;
  }

  td.spacing, td.empty {
      border:none;
      padding:0;
  }
    }

    h3 {
  float: left;
    }

}

#suspended {
  font-size: 12pt;
  color: #B65151;
}
