@import "../../mixins.css.scss";
.users-new,
.users-create,
.users-edit,
.users-update {
  .lv_action {
    width: 450px;
  }

  a.identity_link {
    font-weight: bold;
  }

  .two_column {
    ul.identities {
      list-style: none;
      padding-left: 0px;
      padding-top: 0px;

      li {
        line-height: 130%;

        &.is_primary .identity_name {
          font-weight: bold;
        }

        .identity_name {
          margin-right: 7px;
        }

        .status {
          margin-right: 5px;
        }

        a {
          margin-left: 15px;
          font-weight: bold;
          text-decoration: none;
          &:hover,
          &:active {
            text-decoration: underline;
          }
        }

        .spinner.small {
          vertical-align: -5px;
        }
      }
    }

    h4.sub_section {
      margin-top: 20px;
    }
  }

  .primary {
    .spinner.small {
      vertical-align: -6px;
      margin-left: 17px;
    }
  }

  .buttonsubmit {
    margin: 3px 0 0 5px;
    width: inherit;
  }

  .tile {
    position: relative;
    @include rounded-corners(4px);
    background-color: #f4f4f4;
    border: 2px solid #eee;
    margin-top: 6px;
    padding: 10px;

    img {
      border: 1px solid #eee;
    }

    .icon {
      float: left;
    }

    .info {
      margin-left: 45px;
    }

    .title {
      color: #666;
      font-size: 9pt;
      font-weight: bold;
      white-space: normal;
    }

    .headcount {
      font-size: 9pt;
      color: #999;
      margin-top: 4px;
      font-weight: normal;
    }

    &#enduser_details {
      margin-right: 6px;
      padding: 14px 20px;
      $input-width: 15px;
      $gutter: 5px;

      &:after {
        content: url('/classic/images/icons/triangle_border.png');
        position: absolute;
        top: -11px;
        left: 37px;
      }

      input[type="checkbox"] {
        width: $input-width;
        margin-top: 6px;
        display: block;
        float: left;
      }

      label {
        display: block;
        width: auto;
        margin-left: $input-width + $gutter;
      }

      p {
      }
    }

    &#agent_details {
      padding: 14px 20px;
      margin-right: 6px;

      &:after {
        content: url('/classic/images/icons/triangle_border.png');
        position: absolute;
        top: -11px;
        left: 140px;
      }

      label {
        margin-right: 10px;
      }
    }

    p.description {
      margin-top: 10px;
    }
  }

  #group_tiles .tile {
    $darker: 3%;

    width: 159px;
    float: left;
    cursor: pointer;
    margin-right: 6px;

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      background-color: darken(#f4f4f4, $darker);
      border-color: darken(#eee, $darker);
    }

    &.selected {
      background: #ecf4dc url('/classic/images/icons/checkmark_circle.png') no-repeat 97% 50%;
      border-color: #eceecf;

      &:hover {
        background-color: darken(#ecf4dc, $darker);
        border-color: darken(#eceecf, $darker);
      }
    }
  }
}

.hidden {
  display: none;
}

.users-show, .users-edit {
  #device-landing, #user-2fa-landing {
    padding: 10px;

    .new-zendesk-left-column {
      padding: 20px;
      width: 400px;
      text-align: center;
      margin: 25px 0;
    }

    .new-zendesk-right-column {
      padding-top: 50px;

      .button {
        font-size:12px;
        padding:5px 20px;
      }
    }
  }
}
