<%= stylesheet_link_tag satisfaction_reasons_vendor_css(@account) %>
<% input_styles = "display: none; border-color: #78A300 !important; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 2px #78a300 !important; outline: 0 !important; background-color: white !important; background-image: none;" %>
<%= js_init(satisfaction_reasons(@account), @current_user.locale_id, input_styles)%>
<div id="reasons_container">
  <div class="active">
    <h4>
      <%= I18n.t("txt.admin.views.settings.customers._satisfaction.reasons_in_use") %>
      <span class="hint_text spaces_available_count"></span>
    </h4>
    <%= render 'satisfaction_reasons_list', :reasons => current_account.default_brand.satisfaction_reasons, :input_styles => input_styles, :display_placeholder => false %>
  </div>
  <div class="inactive">
    <h4><%= I18n.t("txt.admin.views.settings.customers._satisfaction.reasons_not_in_use") %></h4>
    <%= render 'satisfaction_reasons_list', :reasons => current_account.default_brand.inactive_satisfaction_reasons, :input_styles => input_styles, :display_placeholder => true %>
    <div>
      <button type="button" class="btn _tooltip">+</button>
      <input type="text" class="satisfaction_reason_input add_reason_input" style="<%= input_styles %>" />
      <p class="add_reason_input_hint_text hint_text" style="display: none;">
        <%= I18n.t "txt.admin.views.settings.customers._satisfaction.editing_tip" %>
      </p>
    </div>
  </div>
  <%= form.hidden_field(:satisfaction_reasons, :value => nil) %>
</div>
