<p class="intro_text">
  <%= I18n.t('txt.admin.views.settings.customers._satisfaction.intro_text') %>
  <%= link_to I18n.t('txt.admin.views.settings.security._authentication.Learn_more'),
              I18n.t('txt.contextual.references.satisfaction_rating.url'),
              :target => '_blank' %>
</p>

 <%= form_for(:account, :url => { :action => "update_satisfaction", :anchor => "satisfaction" },
            :html => { :method => :put, :id => 'customer_satisfaction', :class => 'two_column' }) do |form| %>
  <% @ratings = Satisfaction::Rating.distribution(current_account) %>
  <div class="element_group">
    <div class="form_element">
      <%= form.label :settings_customer_satisfaction, I18n.t('txt.admin.views.settings.customers._satisfaction.Satisfaction_ratings') %>
      <div class="form_field">
        <%= zd_enable_checkbox(form.property_set(:settings), :customer_satisfaction, I18n.t('txt.admin.views.settings.customers._satisfaction.Allow_customers_to_rate_tickets'), { 'data-toggles' => '#sub_setting_customer_satisfaction_options' }) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.customers._satisfaction.Offer_end_users_the_ability') %>
        </p>
        </div>
    </div>
  </div>

  <%= zd_sub_setting(:customer_satisfaction_options, :show => @account.settings.customer_satisfaction?) do %>
    <% if @account.has_csat_reason_code? || satisfaction_prediction_feature_available?(@account) %>
      <div class="element_group">
        <div class="form_element form_element_top">
          <%= form.label :settings_customer_satisfaction_configuration, I18n.t('txt.admin.views.settings.customers._satisfaction.configuration_options') %>
            <% if @account.has_csat_reason_code? %>
              <div class="form_field">
              <%= zd_enable_checkbox(form.property_set(:settings), :csat_reason_code, I18n.t('txt.admin.views.settings.customers._satisfaction.bad_rating_followup_question'), 'data-toggles' => '#sub_setting_satisfaction_reason_code_options' ) %>
              <p>
                <%= I18n.t('txt.admin.views.settings.customers._satisfaction.reason_code_description') %>
              </p>
              <%= zd_sub_setting(:satisfaction_reason_code_options, :show => @account.settings.csat_reason_code?) do %>
                <% if @account.has_csat_reason_code_admin? %>
                  <%= render 'satisfaction_reasons', :form => form %>
                <% else %>
                  <%= render_reason_codes %>
                <% end %>
              <% end %>
            </div>
            <% end %>
            <% if satisfaction_prediction_feature_available?(@account) %>
              <%= render :partial => "satisfaction_prediction_settings", :locals => {:form => form, :account => @account}%>
            <% end %>
        </div>
      </div>
    <% end %>
    <div class="element_group">
      <div class="form_element form_element_top">
        <%= form.label :settings_customer_satisfaction_embedded_widget, I18n.t('txt.admin.views.settings.customers._satisfaction.embedded_widget') %>
        <div class="form_field">
          <span class="enable_checkbox">
            <%= form.property_set(:settings).check_box :public_customer_satisfaction %><%= form.label :settings_public_customer_satisfaction, I18n.t('txt.admin.views.settings.customers._satisfaction.allow_me_to_display_public') , :class => 'checkbox'%>
          </span>
          <span style="background-color: #46A546; padding: 2px 3px; font-size: 9.75px; font-weight: bold; color: white; text-transform: uppercase; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 0 3px;">beta</span>
          <p>
            <%= I18n.t('txt.admin.views.settings.customers._satisfaction.Checking_this_will_make_the') %></p>
          <% if @ratings.size < 100 %>
            <p class="warning">
              <%= I18n.t('txt.admin.views.settings.customers._satisfaction.You_currently_have_less_than')%>
            </p>
          <% end %>
          <h3><%= I18n.t('txt.admin.views.settings.customers._satisfaction.The_score_widget') %></h3>
          <% if current_account.settings.public_customer_satisfaction? && @ratings.size >= 100 %>
            <script type="text/javascript" src="/satisfaction.js"></script>
            <script type="text/javascript">
              if (typeof(Satisfaction) !== "undefined") {
                Satisfaction.show();
              }
            </script>
          <% else %>
            <div class="i18n_satisfaction_example">
              <%= image_tag("satisfaction/example_boxes.png") %>
              <h3><%= I18n.t('txt.admin.views.settings.customers._satisfaction.example_data') %></h3>
              <div class="csr_example"><%= I18n.t('txt.admin.views.settings.customers._satisfaction.turn_it_on_to_see') %></div>
            </div>
          <% end %>
          <br />
          <h4><%= I18n.t('txt.admin.views.settings.customers._satisfaction.What_does_this_do') %></h4>
          <p><%= I18n.t('txt.admin.views.settings.customers._satisfaction.This_is_a_super_simple_widget')%>
            <%= learn_more(I18n.t('txt.admin.views.settings.customers._satisfaction.Learn_more'), :url => I18n.t('txt.admin.views.settings.customers._satisfaction.Learn_more_link')) %></p>
          <% if current_account.settings.public_customer_satisfaction? && @ratings.size >= 100 %>
            <h4><%= I18n.t('txt.admin.views.settings.customers._satisfaction.How_do_I_use_it') %></h4>
            <p><%= I18n.t('txt.admin.views.settings.customers._satisfaction.Simply_copy_and_paste_the') %></p>
<pre>&lt;style type="text/css" media="screen, projection"&gt;
@import url(<%= current_account.url %>/stylesheets/public_satisfaction.css);
&lt;/style&gt;
&lt;script type="text/javascript" src="<%= current_account.url %>/satisfaction.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
if (typeof(Satisfaction) !== "undefined") {
Satisfaction.show({
strings: {
goodRatings:      "<%= I18n.t('txt.admin.views.settings.customers._satisfaction.Said_good') %>",
badRatings:       "<%= I18n.t('txt.admin.views.settings.customers._satisfaction.Werent_so_sure') %>",
score:            "<%= I18n.t('txt.admin.views.settings.customers._satisfaction.Overall_happiness') %>",
zendeskPlug:      "<%= I18n.t('txt.admin.views.settings.customers._satisfaction.Powered_by_zendesk_encoded') %>"
}
});
}
&lt;/script&gt;</pre>
          <% end %>
          <h3><%= I18n.t('txt.admin.views.settings.customers._satisfaction.Your_last_100_ratings_advanced') %></h3>
          <% if current_account.settings.public_customer_satisfaction? && @ratings.size >= 100 %>
            <div id="smileys"></div>
            <script type="text/javascript">
              $j.ajax({
                url: "/satisfaction.json",
                dataType: "jsonp",
                cache: false,
                success:function(data){

                  elem = $j("#smileys");

                  for (i=0;i<20;i++) {
                    if (data[i] == 1) {
                      elem.append('<div class="satisfaction_good"><%= image_tag("satisfaction/happy_smiley.png") %></div>')
                    } else {
                      elem.append('<div class="satisfaction_bad"><%= image_tag("satisfaction/sad_smiley.png") %></div>')
                    }
                  }
                }
              });
            </script>
          <% else %>
            <div class="i18n_satisfaction_example">
              <%= image_tag("satisfaction/example_last100.png") %>
              <h3><%= I18n.t('txt.admin.views.settings.customers._satisfaction.example_data') %></h3>
              <div class="csr_example"><%= I18n.t('txt.admin.views.settings.customers._satisfaction.turn_it_on_to_see') %></div>
            </div>
          <% end %>
          <br />
          <h4><%= I18n.t('txt.admin.views.settings.customers._satisfaction.What_does_this_do') %></h4>
          <p><%= I18n.t('txt.admin.views.settings.customers._satisfaction.We_produce_a_JSON_representation') %>                <%= learn_more(I18n.t('txt.admin.views.settings.customers._satisfaction.Learn_more'), :url => I18n.t('txt.admin.views.settings.customers._satisfaction.Learn_more_link')) %></p>
          <% if current_account.settings.public_customer_satisfaction? && @ratings.size >= 100 %>
            <h4><%= I18n.t('txt.admin.views.settings.customers._satisfaction.How_do_I_use_it') %></h4>
            <p><%= I18n.t('txt.admin.views.settings.customers._satisfaction.Using_JSON_is_a_little') %></p>

<pre>&lt;div id=&quot;last_100_ratings&quot;&gt;&lt;/div&gt;
&lt;script type=&quot;text/javascript&quot;&gt;
$.ajax({
url: &quot;<%= current_account.url %>/satisfaction.json&quot;,
dataType: &quot;jsonp&quot;,
cache: false,
success:function(data){
elem = $(&quot;#last_100_ratings&quot;); // Change where you want the ratings rendered
for (i=0;i&lt;data.length;i++) {
if (data[i] == 1) {
  elem.append(&#x27;&lt;div class=&quot;satisfaction_good&quot;&gt;&lt;img src=&quot;<%= image_path("satisfaction/happy_smiley.png") %>&quot;/&gt;&lt;/div&gt;&#x27;)
} else {
  elem.append(&#x27;&lt;div class=&quot;satisfaction_bad&quot;&gt;&lt;img src=&quot;<%= image_path("satisfaction/sad_smiley.png") %>&quot;/&gt;&lt;/div&gt;&#x27;)
}
}
}
});
&lt;/script&gt;</pre>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= submit_tag(I18n.t('txt.admin.views.settings.customers._satisfaction.Save_tab_label'), :class => "button save", :id => "settings_customers_satisfaction_save_button") %>
  </div>
<% end %>

<script type="text/javascript">
  $j('#account_settings_customer_satisfaction').click(function() {
    $j(this).data('zd-csat-changed', true);
  });

  $j('form#customer_satisfaction').submit(function() {
    var csat_checkbox = $j(this).find('#account_settings_customer_satisfaction');

    if (csat_checkbox && csat_checkbox.data('zd-csat-changed')) {
      if (csat_checkbox.prop('checked')) {
        csat_checkbox.trackEvent('enable-surveys', 'csat_dash');
      } else {
        csat_checkbox.trackEvent('disable-surveys', 'csat_dash');
      }
    }
  });
</script>
