<div class="form_field">
  <% if satisfaction_prediction_allowed_for_subscription?(@account) %>
    <%= zd_enable_checkbox(form.property_set(:settings),
        :satisfaction_prediction, I18n.t('txt.admin.views.settings.customers._satisfaction.prediction_score_enable'),
        :disabled => !satisfaction_prediction_checkbox_enabled?(@account))%>

    <% if satisfaction_prediction_model_available?(@account) %>
      <%= satisfaction_prediction_setting_content({
        :text => I18n.t('txt.admin.views.settings.customers._satisfaction.prediction_descriptions.is_enterprise.has_model'),
        :class => ""}) %>
    <% else %>
      <%= satisfaction_prediction_setting_content({
        :text => I18n.t('txt.admin.views.settings.customers._satisfaction.prediction_descriptions.is_enterprise.no_model'),
        :class => "warning" }) %>
    <% end %>
  <% else %>
    <div class="enable_checkbox">
      <%= check_box_tag 'account[settings][satisfaction_prediction]', "1", false, disabled: true %>
      <%= form.label :settings_satisfaction_prediction, I18n.t('txt.admin.views.settings.customers._satisfaction.prediction_score_enable'), :class => "checkbox" %>
    </div>

    <% if satisfaction_prediction_model_available?(@account) %>
      <%= satisfaction_prediction_setting_content({
        :text => I18n.t('txt.admin.views.settings.customers._satisfaction.prediction_descriptions.not_enterprise.has_model'),
        :class => "warning"})%>
    <% else %>
     <%= satisfaction_prediction_setting_content({
        :text => I18n.t('txt.admin.views.settings.customers._satisfaction.prediction_descriptions.not_enterprise.no_model'),
        :class => "warning"})%>
    <% end %>
  <% end %>
</div>
