<ul class="sortablelist">
  <% reasons.each do |reason| %>
    <li class="sortable" data-reason-id="<%= reason.id %>">
      <span class="reason_text">
        <%= reason.translated_value %>
      </span>
      <span class="reason_icons non_draggable">
        <% unless reason.system %>
          <i class="icon-pencil edit_reason reason_icon"></i>
          <i class="icon-trash delete_reason reason_icon"></i>
        <% else %>
          <i class="icon-ban-circle reason_icon"></i>
        <% end %>
      </span>
      <% unless reason.system %>
        <input type="text" data-reason-id="<%= reason.id %>" class="satisfaction_reason_input non_draggable edit_reason_input" style="<%= input_styles %>" />
        <p class="edit_reason_input_hint_text hint_text" style="display: none;">
          <%= I18n.t "txt.admin.views.settings.customers._satisfaction.editing_tip" %>
        </p>
      <% end %>
    </li>
  <% end %>
  <% if display_placeholder %>
    <li class="emptylist_hint_text non_draggable" style="display: none;">
      <%= I18n.t "txt.admin.views.settings.customers._satisfaction.drag_and_drop_placeholder" %>
    </li>
  <% end %>
</ul>
