<p class="intro_text">
  <%= I18n.t('txt.admin.views.settings.customers._settings.intro_text') %>
  <%= link_to I18n.t('txt.admin.views.settings.security._authentication.Learn_more'),
              I18n.t('txt.contextual.references.end_user.url'),
              :target => '_blank' %>
</p>

<%= form_for :account, :url => { :action => "update_settings", :anchor => "settings" },
            :html => { :method => :put, :id => 'account-settings', :class => 'two_column' } do |f| -%>
  <div class="element_group">
    <fieldset class="form_element">
      <%= f.label :is_open, I18n.t('txt.admin.views.settings.customers._settings.Anybody_can_submit_tickets') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f, :is_open, I18n.t('txt.admin.views.settings.customers._settings.Enabled'), { "data-toggles" => '#sub_setting_is_open' }) %>
        <p><%= I18n.t('txt.admin.views.settings.customers._settings.By_allowing_anybody_to_submit') %></p>
        <p><%= I18n.t('txt.admin.views.settings.customers._settings.If_you_want_to_restrict') %></p>
        <p><%= I18n.t('txt.admin.views.settings.customers._settings.Please_note_that_the_Zendesk_Web_Widget') %></p>
        <%= zd_sub_setting(:is_open, :show => current_account.is_open?) do %>

        <% unless current_account.web_portal_disabled? && !current_account.help_center_enabled? %>
          <div class="form_field">
            <%= zd_enable_checkbox(f.property_set(:settings), :captcha_required, I18n.t('txt.admin.views.settings.customers._settings.Require_CAPTCHA')) %>
            <p><%= I18n.t('txt.admin.views.settings.customers._settings.Combat_spam_by_requiring_users') %></p>
          </div>

          <div class="form_field">
            <%= f.check_box :is_signup_required %>
            <%= f.label :is_signup_required, I18n.t('txt.admin.views.settings.customers._settings.Ask_users_to_register'), :class => "checkbox" %>
            <p><%= I18n.t('txt.admin.views.settings.customers._settings.Upon_submitting_a_ticket_new') %>
            </p>
          </div>
        <% end %>

        <div class="form_field">
        <%= f.label :domain_whitelist, I18n.t('txt.admin.views.settings.customers._settings.Allowlist'), :class => 'block' %>
          <%= f.text_area :domain_whitelist, :rows => 1 %>
          <p>
            <%= I18n.t('txt.admin.views.settings.customers._settings.Always_accept_emails_from_these')%>
            <a target="_blank"  href=<%= I18n.t('txt.views.settings.customers.settings.always_accept_emails_from_these_article')%>><%= I18n.t('txt.admin.views.settings.customers._settings.Read_more') %></a>
          </p>
        </div>

        <div class="form_field">
          <%= f.label :domain_blacklist, I18n.t('txt.admin.views.settings.customers._settings.Blocklist'), :class => 'block' %>
          <%= f.text_area :domain_blacklist, :rows => 1 %>
          <p>
            <%= I18n.t('txt.admin.views.settings.customers._settings.Always_suspend_emails_from_v2') %>
            <a target="_blank" href=<%= I18n.t('txt.views.settings.customers.settings.always_accept_emails_from_these_article')%>><%= I18n.t('txt.admin.views.settings.customers._settings.Read_more') %></a>
            <% if domains = current_account.conflicting_domain_list.presence %>
              <br/>
              <%= image_tag("recipient_addresses/warning.png") %>
              <%= I18n.t("txt.admin.views.settings.customers._settings.organization_whitelist", :domains => "<b>#{domains}</b>") %>
            <% end %>
          </p>
        </div>

        <% unless current_account.web_portal_disabled? && !current_account.help_center_enabled? %>
          <div class="form_field">
            <%= f.label :signup_page_text, I18n.t('txt.admin.views.settings.customers._settings.User_registration_message'), :class => 'block' %>
            <%= f.text_area :signup_page_text, {:rows => 5, :cols => 68} %>
            <p><%= I18n.t('txt.admin.views.settings.customers._settings.Message_presented_to_users_who')%></p>
          </div>
        <% end %>

        <% end %>
      </div>
    </fieldset>

    <fieldset class="form_element">
      <%= f.label :account_emails, I18n.t('txt.admin.views.settings.customers._settings.Account_emails') %>
      <div class="form_field">
        <p><%= I18n.t('txt.admin.views.settings.customers._settings.Account_emails_description')%></p>
        <% if current_account.has_multiple_active_brands? %>
          <p><%= zd_enable_checkbox(f.property_set(:settings), :list_help_centers_in_account_emails, I18n.t('txt.admin.views.settings.customers._settings.list_help_centers_in_account_emails')) %></p>
        <% end %>
        <p>
          <%= f.label :signup_email_text, I18n.t('txt.admin.views.settings.customers._settings.User_welcome_email_text') %>
          <% if current_account.allow_email_template_customization? %>
            <%= f.text_area :signup_email_text, {:rows => 5, :cols => 68} %>
          <% else %>
            <div class="clearfix"></div>
            <div class="notice--warning" style="float: left;">
              <%= I18n.t('txt.admin.views.settings.email._settings.email_template_customization_disabled_v2', mail_to: 'mailto:support@zendesk.com') %>
            </div>
            <br/><br/>
          <% end %>
        </p>
	<% if current_account.has_multiple_active_brands? %>
          <p style="float: left;"><%= I18n.t('txt.admin.views.settings.customers._settings.multiple_brand_emailed_to_users') %></p>
        <% else %>
          <p style="float: left;"><%= I18n.t('txt.admin.views.settings.customers._settings.single_brand_emailed_to_users') %></p>
        <% end %>
        <br/>
        <%= zd_sub_setting(:user_welcome_email_additional_settings) do %>
          <div class="form_field">
          <p>
            <%= f.check_box :is_welcome_email_when_agent_register_enabled %>
            <%= f.label :is_welcome_email_when_agent_register_enabled, I18n.t('txt.admin.views.settings.customers._settings.also_send_verification_email_when_user_is_created'), :class => 'checkbox' %>
          </p>
            <% if current_account.has_verification_captcha? %>
              <p><%= zd_enable_checkbox(f.property_set(:settings), :verification_captcha_enabled, I18n.t('txt.admin.views.settings.customers._settings.Combat_spam_with_verification_captcha_v2')) %></p>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if current_account.allow_email_template_customization? %>
        <div class="form_field">
          <%= f.label :verify_email_text, I18n.t('txt.admin.views.settings.customers._settings.Email_verification_email_text') %>
            <%= f.text_area :verify_email_text, { :rows => 5, :cols => 68 } %>
          <% if current_account.has_multiple_active_brands? %>
            <p><%= I18n.t('txt.admin.views.settings.customers._settings.multiple_brand_additional_address_message') %></p>
          <% else %>
            <p><%= I18n.t('txt.admin.views.settings.customers._settings.single_brand_additional_address_message') %></p>
          <% end %>
        </div>
      <% end %>
    </fieldset>

    <div class="form_element">
      <%= f.label :is_end_user_profile_visible, I18n.t('txt.admin.views.settings.customers._settings.Allow_users_to_view_and') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f, :is_end_user_profile_visible, I18n.t('txt.admin.views.settings.customers._settings.Enabled')) %>
        <p>
        <% if current_account.help_center_enabled? %>
          <%= I18n.t('txt.admin.views.settings.customers._settings.Allow_end_users_to_change_profile_data_help_center') %>
        <% else %>
          <%= I18n.t('txt.admin.views.settings.customers._settings.Allow_end_users_to_change_profile_data') %>
        <% end %>
        </p>
        <p>
          <%= I18n.t('txt.admin.views.settings.customers._settings.You_typically_want_to_disable') %>        </p>
      </div>
    </div>

    <div class="form_element">
      <%= f.label :is_end_user_password_change_visible, I18n.t('txt.admin.views.settings.customers._settings.Allow_users_to_change_their') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f, :is_end_user_password_change_visible, I18n.t('txt.admin.views.settings.customers._settings.Enabled')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.customers._settings.Allow_end_users_to_change') %></p>
      </div>
    </div>

    <div class="form_element">
      <%= f.label :is_end_user_phone_number_validation_enabled, I18n.t('txt.admin.views.settings.customers._settings.Validate_user_phone_numbers') %>
      <div class="form_field">
        <%= zd_enable_checkbox(f, :is_end_user_phone_number_validation_enabled, I18n.t('txt.admin.views.settings.customers._settings.Enabled')) %>
        <p>
          <%= I18n.t('txt.admin.views.settings.customers._settings.Validate_user_phone_numbers_help_text') %></p>
      </div>
    </div>

    <% if current_account.has_user_and_organization_fields? %>
      <div class="form_element">
        <%= f.label :settings_has_user_tags, I18n.t('txt.admin.views.settings.customers._settings.Tags_on_users_and_organizations') %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :has_user_tags, I18n.t('txt.admin.views.settings.customers._settings.Enabled')) %>
          <p>
            <% if current_account.has_permission_sets? %>
              <%= I18n.t('txt.admin.views.settings.customers._settings.Allow_admins_and_permitted_agents') %>          <% else %>
              <%= I18n.t('txt.admin.views.settings.customers._settings.Allow_agents_to_tag_users') %>          <% end %>
          </p>
        </div>
      </div>
    <% end %>

    <% if current_account.has_multiple_organizations? %>
      <div class="form_element">
        <%= f.label :multiple_organizations, I18n.t('txt.admin.views.settings.customers._settings.Users_can_have_multiple_organizations') %>
        <div class="form_field">
          <%= zd_enable_checkbox(f.property_set(:settings), :multiple_organizations, I18n.t('txt.admin.views.settings.customers._settings.Enabled')) %>
          <p>
            <%= I18n.t('txt.admin.views.settings.customers._settings.Users_can_have_multiple_organizations_description',
                :learn_more => learn_more(I18n.t('txt.admin.views.settings.customers._settings.Users_can_have_multiple_organizations_learn'), :url => I18n.t('txt.admin.views.settings.customers._settings.Users_can_have_multiple_organizations_learn_link'))) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= submit_tag(current_account.has_customer_satisfaction? ? I18n.t('txt.admin.views.settings.customers._settings.save_tab_label') : I18n.t('txt.admin.views.settings.customers._settings.save_label'),
                   :class => "button save", :id => "settings_customers_settings_save_button") %>
  </div>
<% end -%>
