<%= render :partial => '/account/header' %>

<%= div_content do %>
  <h2><%= I18n.t('txt.admin.views.settings.customers.show.End_users_customers') %></h2>

  <%= zd_tabs do %>
    <%= zd_tab(I18n.t('txt.admin.views.settings.customers.show.settings'), :id => 'settings') do %>
      <%= render :partial => "settings" %>
    <% end %>

    <% if current_account.has_customer_satisfaction? %>
      <%= zd_tab(I18n.t('txt.admin.views.settings.customers.show.satisfaction'), :id => 'satisfaction') do %>
        <%= render :partial => "satisfaction" %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
