<div class='form_element'>
  <%= target_form.label :url, I18n.t('txt.admin.views.targets.edit._basecamp_target.URL') %>
  <div class='form_field'>
    <%= target_form.text_field :url, :size => 80, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.The_URL_of_your_Basecamp') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.E_g_http_acme_projectpath') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :username, I18n.t('txt.admin.views.targets.edit._basecamp_target.Username') %>
  <div class='form_field'>
    <%= target_form.text_field :username, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.The_37Signals_username_of_the') %>
    <%= link_to(I18n.t('txt.admin.views.targets.edit._basecamp_target.read_more'), 'http://37signals.com/accounts', :target => '_blank') %></p>
  </div>
</div>

<div class='form_element'>
  <%= label_tag :target_password, I18n.t('txt.admin.views.targets.edit._basecamp_target.Password') %>
  <div class='form_field'>
    <%= password_field_tag "target[password]", nil, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.The_37Signals_password_for_the') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :token, I18n.t('txt.admin.views.targets.edit._basecamp_target.API_token') %>
  <div class='form_field'>
    <%# Tokens will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :token, :size => 40, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.Get_the_API_token_from') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :token, I18n.t('txt.admin.views.targets.edit._basecamp_target.Project_ID') %>
  <div class='form_field'>
    <%# IDs will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :project_id, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.The_ID_of_the_project') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.You_can_find_the_project') %><br/>
    <%= I18n.t('txt.admin.views.targets.edit._basecamp_target.You_can_find_the_project_E_g_https_corp_basecamphq') %></p>
  </div>
</div>

<fieldset class='form_element'>
  <legend class='label'><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.Resource') %></legend>

  <div class='form_field'>
    <div class='radio'>
      <%= target_form.radio_button :resource, :message, { :checked => @target.is_for_messages?, 'data-toggles-show' => '#basecamp_target_message_fields', 'data-toggles-hide' => '#basecamp_target_todo_fields' } %>
      <%= target_form.label :resource_message, I18n.t('txt.admin.views.targets.edit._basecamp_target.Message') %>
      <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.Message_Select_if_you_want_to') %></p>
      <div class='hide sub_setting' id='basecamp_target_message_fields'>
        <%= target_form.label :message_id, I18n.t('txt.admin.views.targets.edit._basecamp_target.Message_ID') %>
        <%= target_form.text_field :message_id %>
        <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.Enter_a_message_ID_if') %></p>
        <p>
          <%= I18n.t('txt.admin.views.targets.edit._basecamp_target.You_can_find_the_message') %><br/>
          <%= I18n.t('txt.admin.views.targets.edit._basecamp_target.You_can_find_the_message_E_g_https_corp_basecamphq') %>
        </p>
        <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.You_can_find_the_message_You_can_also_use_a') %></p>
        <ul>
          <li><code>{{ticket.ticket_field_165487}}</code></li>
          <li><code>{{ticket.external_id}}</code></li>
        </ul>
      </div>
    </div>
    <div class='radio sub_setting'>
      <%= target_form.radio_button :resource, :todo, { :checked => !@target.is_for_messages?, 'data-toggles-show' => '#basecamp_target_todo_fields', 'data-toggles-hide' => '#basecamp_target_message_fields' } %>
      <%= target_form.label :resource_todo, I18n.t('txt.admin.views.targets.edit._basecamp_target.ToDo') %>
      <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.ToDo_Select_if_you_want_to') %></p>
      <div class='hide sub_setting' id='basecamp_target_todo_fields'>
        <%= target_form.label :todo_list_id, I18n.t('txt.admin.views.targets.edit._basecamp_target.ToDo_List_ID') %>
        <%# IDs will always be displayed left-to-right, even for right-to-left languages %>
        <%= target_form.text_field :todo_list_id, :dir => 'ltr' %>
        <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.Enter_a_ToDo_list_ID') %></p>
        <p>
          <%= I18n.t('txt.admin.views.targets.edit._basecamp_target.You_can_find_the_todo') %><br/>
          <%= I18n.t('txt.admin.views.targets.edit._basecamp_target.You_can_find_the_todo_E_g_https_corp_basecamphq') %>
        </p>
        <p><%= I18n.t('txt.admin.views.targets.edit._basecamp_target.You_can_find_the_todo_You_can_also_use_a') %></p>
        <ul>
          <li><code>{{ticket.ticket_field_165487}}</code></li>
          <li><code>{{ticket.external_id}}</code></li>
        </ul>
      </div>
    </div>
  </div>
</fieldset>
