<div class='form_element'>
  <%= target_form.label :subdomain, I18n.t('txt.admin.views.targets.edit._campfire_target.Subdomain') %>
  <div class='form_field'>
    <%= target_form.text_field :subdomain, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._campfire_target.The_subdomain_your_Campfire_account') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._campfire_target.E_g_http_subdomain_campfirenow') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :token, I18n.t('txt.admin.views.targets.edit._campfire_target.API_Token') %>
  <div class='form_field'>
    <%# Tokens will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :token, :size => 40, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._campfire_target.Get_the_API_token_from') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :room, I18n.t('txt.admin.views.targets.edit._campfire_target.Room') %>
  <div class='form_field'>
    <%= target_form.text_field :room, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._campfire_target.The_name_of_the_room') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :ssl, I18n.t('txt.admin.views.targets.edit._campfire_target.SSL') %>
  <div class='form_field'>
    <div class='enable_checkbox'>
      <%= target_form.check_box :ssl %>
      <%= target_form.label :ssl, I18n.t('txt.admin.views.targets.edit._campfire_target.Enabled'), :class => 'checkbox' %>
    </div>
    <p><%= I18n.t('txt.admin.views.targets.edit._campfire_target.Check_this_box_if_your') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :preserve_format, I18n.t('txt.admin.views.targets.edit._campfire_target.Preserve_format') %>
  <div class='form_field'>
    <div class='enable_checkbox'>
      <%= target_form.check_box :preserve_format %>
      <%= target_form.label :preserve_format, I18n.t('txt.admin.views.targets.edit._campfire_target.Enabled'), :class => 'checkbox' %>
    </div>
    <p><%= I18n.t('txt.admin.views.targets.edit._campfire_target.Check_this_box_if_you') %></p>
  </div>
</div>
