<div class='form_element'>
  <%= target_form.label :username, I18n.t('txt.admin.views.targets.edit._clickatell_target.Username') %>
  <div class='form_field'>
    <%= target_form.text_field :username, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._clickatell_target.The_username_for_your_Clickatell') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :password, I18n.t('txt.admin.views.targets.edit._clickatell_target.Password') %>
  <div class='form_field'>
    <%= target_form.password_field :password, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._clickatell_target.the_password_for_your_Clickatell') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :api_id, I18n.t('txt.admin.views.targets.edit._clickatell_target.API_ID') %>
  <div class='form_field'>
    <%# IDs will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :api_id, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._clickatell_target.API_ID_of_the_Clickatell') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :to, I18n.t('txt.admin.views.targets.edit._clickatell_target.To') %>
  <div class='form_field'>
    <%# Phone numbers will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :to, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._clickatell_target.The_number_you_would_like') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._clickatell_target.Be_sure_that_your_number')%></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :us_small_business_account, I18n.t('txt.admin.views.targets.edit._clickatell_target.US_Small_Business_Account_label') %>
  <div class='form_field'>
    <div class='enable_checkbox'>
      <%= target_form.check_box :us_small_business_account %>
      <%= target_form.label :us_small_business_account, I18n.t('txt.admin.views.targets.edit._clickatell_target.Yes'), :class => 'checkbox' %>
    </div>
    <p>
      <%= I18n.t('txt.admin.views.targets.edit._clickatell_target.US_Small_Business_account_message', :us_small_business_link => (link_to I18n.t('txt.admin.views.targets.edit._clickatell_target.US_Small_Business_account_message_link'), 'http://www.clickatell.com/pricing/us_small_business.php')) %><br />
      <%= I18n.t('txt.admin.views.targets.edit._clickatell_target.Note_the_Sender_ID_parameter') %>
    </p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :from, I18n.t('txt.admin.views.targets.edit._clickatell_target.Sender_ID') %>
  <div class='form_field'>
    <%# IDs will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :from, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._clickatell_target.You_can_optionally_add_one') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._clickatell_target.You_can_read_more_about') %></p>
  </div>
</div>
