<div class='form_element'>
  <%= target_form.label :email, I18n.t('txt.admin.views.targets.edit._email_target.Email_Address') %>
  <div class='form_field'>
    <%= target_form.text_field :email, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._email_target.The_destination_email_address') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :subject, I18n.t('txt.admin.views.targets.edit._email_target.Subject') %>
  <div class='form_field'>
    <%= target_form.text_field :subject, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._email_target.The_subject_of_the_email') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._email_target.You_can_use_plain_text') %></p>
    <ul>
      <li><%= I18n.t('txt.admin.views.targets.edit._email_target.Please_have_a_look_at') %></li>
      <li><%= I18n.t('txt.admin.views.targets.edit._email_target.This_is_ticket_ticket_id') %></li>
    </ul>
  </div>
</div>
