<div class='form_element'>
  <%= target_form.label :api_token, I18n.t('txt.admin.views.targets.edit._flowdock_target.Api_token') %>
  <div class='form_field'>
    <%= target_form.text_field :api_token %>
    <p>
      <%= I18n.t('txt.admin.views.targets.edit._flowdock_target.The_API_Token_of_your')%>
    </p>
  </div>
</div>

<p>
  <%= I18n.t('txt.admin.views.targets.edit._flowdock_target.Integrating_Zendesk_guide', :integrating_zendesk_guide_link =>  (link_to I18n.t('txt.admin.views.targets.edit._flowdock_target.Integrating_Zendesk_guide_link'), 'https://www.flowdock.com/help/zendesk')) %>
</p>
