<% unless Rails.env.production? %>
  <div class='form_element'>
    <%= target_form.label :url, I18n.t('txt.admin.views.targets.edit._get_satisfaction_target.URL') %>
    <div class='form_field'>
      <%= target_form.text_field :url, :dir => 'auto' %>
      <p><%= I18n.t('txt.admin.views.targets.edit._get_satisfaction_target.The_URL_of_the_GetSatisfaction') %></p>
    </div>
  </div>
<% end %>

<div class='form_element'>
  <%= target_form.label :account_name, I18n.t('txt.admin.views.targets.edit._get_satisfaction_target.Company_Name') %>
  <div class='form_field'>
    <%= target_form.text_field :account_name, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._get_satisfaction_target.This_is_your_company_name') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :email, I18n.t('txt.admin.views.targets.edit._get_satisfaction_target.Email') %>
  <div class='form_field'>
    <%= target_form.text_field :email, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._get_satisfaction_target.The_email_of_the_account') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :password, I18n.t('txt.admin.views.targets.edit._get_satisfaction_target.Password') %>
  <div class='form_field'>
    <%= target_form.password_field :password, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._get_satisfaction_target.The_password_for_the_GetSatisfaction') %></p>
  </div>
</div>
