<div class='form_element'>
  <%= target_form.label :url, I18n.t('txt.admin.views.targets.edit._url_target.Url') %>
  <div class='form_field'>
    <%= target_form.text_field :url, :dir => 'auto' %>
    <p>
      <%= I18n.t('txt.admin.views.targets.edit._url_target.The_target_URL_including_protocol_2') %>
    </p>
    <p>
      <%= I18n.t('txt.admin.views.targets.edit._url_target.Valid_examples') %>
    </p>
    <ul>
      <li>http://somedomain/a/path</li>
    </ul>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :method, I18n.t('txt.admin.views.targets.edit._url_target.Method') %>
  <div class='form_field'>
    <%= target_form.select :method, UrlTargetV2::METHODS.map { |method| [method.upcase, method]} %>
  </div>
</div>

<div class='content-type form_element'>
  <%= target_form.label :content_type, I18n.t('txt.admin.views.targets.edit._url_target.content_type') %>
  <div class='form_field'>
    <%= target_form.select :content_type, UrlTargetV2::CONTENT_TYPES %>
  </div>
</div>

<fieldset class='form_element'>
  <legend class='label'>
    <%= I18n.t('txt.admin.views.targets.edit._url_target.Basic_Authentication') %>
  </legend>

  <div class='form_field'>
    <div class="enable_checkbox">
      <input id="basic_auth_checkbox" type="checkbox" <%= "checked" if @target.username.present? %> >
      <label class="checkbox">
        <%= I18n.t('txt.admin.views.settings.security_policy.enabled') %>
      </label>
    </div>

    <p>
      <%= I18n.t('txt.admin.views.targets.edit._url_target.Add_credentials_if_the_target_v2') %>
    </p>

    <%= zd_sub_setting(:basic_auth) do %>
      <div class='form_field'>
        <%= target_form.label :username, I18n.t('txt.admin.views.targets.edit._url_target.Username'), :class => 'block' %>
        <%= target_form.text_field :username, :dir => 'auto' %>
      </div>

      <div class='form_field'>
        <%= target_form.label :password, I18n.t('txt.admin.views.targets.edit._url_target.Password'), :class => 'block' %>
        <%= target_form.password_field :password, :placeholder => password_placeholder, :dir => 'auto' %>
      </div>

      <input id="password_overwrite" name="target[password_overwrite]" type="hidden">
    <% end %>
  </div>
</fieldset>
