<div class='form_element'>
  <%= target_form.label :url, I18n.t('txt.admin.views.targets.edit._jira_target.URL') %>
  <div class='form_field'>
    <%= target_form.text_field :url, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._jira_target.The_URL_of_your_Jira') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :username, I18n.t('txt.admin.views.targets.edit._jira_target.Username') %>
  <div class='form_field'>
    <%= target_form.text_field :username, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._jira_target.The_username_of_the_account') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :password, I18n.t('txt.admin.views.targets.edit._jira_target.Password') %>
  <div class='form_field'>
    <%= target_form.password_field :password, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._jira_target.The_password_for_the_Jira') %></p>
  </div>
</div>
