<div class='form_element'>
  <%= target_form.label :consumer_key, I18n.t('txt.admin.views.targets.edit._oauth_target.Consumer_key') %>
  <div class='form_field'>
    <%= target_form.text_field :consumer_key %>
    <p><%= I18n.t('txt.admin.views.targets.edit._oauth_target.The_consumer_key_provided_when') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :secret, I18n.t('txt.admin.views.targets.edit._oauth_target.Secret') %>
  <div class='form_field'>
    <%= target_form.text_field :secret %>
    <p><%= I18n.t('txt.admin.views.targets.edit._oauth_target.The_secret_key_provided_when') %></p>
  </div>
</div>

<div id='callback_token' class='form_element hide'>
  <%= target_form.label :callback_token, I18n.t('txt.admin.views.targets.edit._oauth_target.Authorization_Token') %>
  <div class='form_field'>
    <%= target_form.text_field :callback_token %>
    <%= target_form.hidden_field :oauth_token %>
    <%= target_form.hidden_field :oauth_token_secret %>
    <p id="authorize_link"></p>
  </div>
</div>
