<div class='form_element'>
  <%= target_form.label :token, I18n.t('txt.admin.views.targets.edit._pivotal_target.Token') %>
  <div class='form_field'>
    <%# Tokens will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :token, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.your_Pivotal_profile_complete', :your_pivotal_profile_link => (link_to I18n.t('txt.admin.views.targets.edit._pivotal_target.your_Pivotal_profile_complete_link'), 'http://www.pivotaltracker.com/profile', :target => '_blank')) %>.</p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :project_id, I18n.t('txt.admin.views.targets.edit._pivotal_target.Project_ID') %>
  <div class='form_field'>
    <%# IDs will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :project_id, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.The_ID_of_the_project') %></p>
    <p>
      <%= I18n.t('txt.admin.views.targets.edit._pivotal_target.Find_the_project_ID_in') %><br/>
      <%= I18n.t('txt.admin.views.targets.edit._pivotal_target.For_example_http_www_pivotaltracker') %>
    </p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :story_title, I18n.t('txt.admin.views.targets.edit._pivotal_target.Story_title') %>
  <div class='form_field'>
    <%= target_form.text_field :story_title, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.The_title_of_the_story') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.You_can_use_placeholders_or') %></p>
    <ul>
      <li><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.Imported_from_Zendesk_ticket') %></li>
      <li><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.Imported_from_Zendesk_Ticket_ticket', :ticket_id => "{{ticket.id}}") %></li>
      <li><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.ticket_title_from_ticket_id', :ticket_id => "{{ticket.id}}", :ticket_title => "{{ticket.title}}") %></li>
    </ul>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :story_type, I18n.t('txt.admin.views.targets.edit._pivotal_target.Story_type') %>
  <div class='form_field'>
    <%= target_form.select :story_type, PivotalTarget::STORY_TYPES.collect{|s|s.titleize} %>
    <p>
      <%= I18n.t('txt.admin.views.targets.edit._pivotal_target.Set_the_initial_type_of') %>
    </p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :story_labels, I18n.t('txt.admin.views.targets.edit._pivotal_target.Story_labels') %>
  <div class='form_field'>
    <%= target_form.text_field :story_labels, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.Add_labels_to_the_story') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.You_can_use_put_one') %></p>
    <ul>
      <li><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.tribbles') %></li>
      <li><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.tribbles_phaser') %></li>
    </ul>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :requested_by, I18n.t('txt.admin.views.targets.edit._pivotal_target.Requester') %>
  <div class='form_field'>
    <%= target_form.text_field :requested_by, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.Optional_Set_the_requester_of') %></p>
    <ul>
      <li><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.ticket_requester_name') %></li>
      <li>{{ticket.requester.first_name}}</li>
      <li>{{ticket.requester.last_name}}</li>
      <li><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.Joe_Schmoe') %></li>
    </ul>
  </div>
</div>


<div class='form_element'>
  <%= target_form.label :owned_by, I18n.t('txt.admin.views.targets.edit._pivotal_target.Owner') %>
  <div class='form_field'>
    <%= target_form.text_field :owned_by, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.Optional_Set_the_owner_of') %></p>
    <ul>
      <li><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.ticket_assignee_name') %></li>
      <li>{{ticket.assignee.first_name}}</li>
      <li>{{ticket.assignee.last_name}}</li>
      <li><%= I18n.t('txt.admin.views.targets.edit._pivotal_target.John_Doe') %></li>
    </ul>
  </div>
</div>
