<%- if @target.authorized? -%>
  <p>&nbsp;</p>
  <p><%= I18n.t('txt.admin.views.targets.edit._salesforce_target.Your_Zendesk_account_is_connected') %></p>
  <% unless @target.use_integration_keys? %>
    <p><%= link_to I18n.t('txt.admin.views.targets.edit._salesforce_target.Click_here_to_reconnect'), authorize_url, :target => "_top" %></p>
  <% end %>

  <%= target_form.hidden_field :token, :value => @target.token %>
  <%= target_form.hidden_field :secret, :value => @target.secret %>

  <div class='form_element'>
    <%= target_form.label :ticket_information_mode, I18n.t('txt.admin.views.targets.edit._salesforce_target.ticket_information_mode.label') %>
    <div class='form_field'>
      <%= target_form.select :ticket_information_mode, [[ I18n.t('txt.admin.views.targets.edit._salesforce_target.ticket_information_mode.full'), SalesforceTarget::FULL_MODE ], [ I18n.t('txt.admin.views.targets.edit._salesforce_target.ticket_information_mode.partial'), SalesforceTarget::PARTIAL_MODE ]] %>
      <p><%= I18n.t('txt.admin.views.targets.edit._salesforce_target.ticket_information_mode.description', :link => link_to(I18n.t('txt.admin.views.targets.edit._salesforce_target.ticket_information_mode.link'), I18n.t("txt.admin.views.targets.edit._salesforce_target.ticket_information_mode.link_url") , :target => "_blank")) %></p>
    </div>
  </div>
<%- end -%>
