<div class='form_element'>
  <%= target_form.label :sid, I18n.t('txt.admin.views.targets.edit._twilio_target.SID') %>
  <div class='form_field'>
    <%# SIDs will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :sid, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._twilio_target.Your_Twilio_Account_SID') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._twilio_target.Get_this_from_the_Dashboard') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :token, I18n.t('txt.admin.views.targets.edit._twilio_target.Token') %>
  <div class='form_field'>
    <%# Tokens will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :token, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._twilio_target.Your_Twilio_Account_Token') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._twilio_target.Get_this_from_the_Dashboard') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :from, I18n.t('txt.admin.views.targets.edit._twilio_target.From') %>
  <div class='form_field'>
    <%# Phone numbers will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :from, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._twilio_target.The_number_your_SMS_messages') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._twilio_target.This_must_be_a_valid') %></p>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :to, I18n.t('txt.admin.views.targets.edit._twilio_target.To') %>
  <div class='form_field'>
    <%# Phone numbers will always be displayed left-to-right, even for right-to-left languages %>
    <%= target_form.text_field :to, :dir => 'ltr' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._twilio_target.The_target_phone_number') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._twilio_target.This_is_the_number_that') %></p>
    <p class="warning"><%= I18n.t('txt.admin.views.targets.edit._twilio_target.If_your_From_number') %></p>
  </div>
</div>
