<div class='form_element'>
  <%= target_form.label :url, I18n.t('txt.admin.views.targets.edit._url_target.Url') %>
  <div class='form_field'>
    <%= target_form.text_field :url, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._url_target.The_target_URL_including_protocol_2') %></p>
    <p><%= I18n.t('txt.admin.views.targets.edit._url_target.Valid_examples') %></p>
    <ul>
      <li>http://somedomain/a/path</li>
      <li>http://somedomain/a/path?source=zendesk</li>
      <%# URLs are displayed LTR, even for RTL languages. `dir` needed for correct rendering of curly braces %>
      <li><span dir="ltr">http://somedomain/a/path?id={{ticket.external_id}}&status={{ticket.status}}</span></li>
    </ul>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :method, I18n.t('txt.admin.views.targets.edit._url_target.Method') %>
  <div class='form_field'>
    <%= target_form.select :method, [ ['GET', 'get'], ['POST', 'post'], ['PUT', 'put'] ] %>
  </div>
</div>

<div class='form_element'>
  <%= target_form.label :attribute, I18n.t('txt.admin.views.targets.edit._url_target.Attribute_Name') %>
  <div class='form_field'>
    <%= target_form.text_field :attribute, :dir => 'auto' %>
    <p><%= I18n.t('txt.admin.views.targets.edit._url_target.The_name_of_the_message') %></p>
    <p>
      <%= I18n.t('txt.admin.views.targets.edit._url_target.If_the_name_of_the')%> <br/>
      <i>http://somedomain/a/path?<strong>value</strong>=message+with+placeholders+evaluated</i>
    </p>
  </div>
</div>

<fieldset class='form_element'>
  <legend class='label'><%= I18n.t('txt.admin.views.targets.edit._url_target.Basic_Authentication') %></legend>

  <div class='form_field'>
    <p>
      <%= I18n.t('txt.admin.views.targets.edit._url_target.Add_credentials_if_the_target') %>
    </p>

    <div class='sub_setting'>
      <div class='form_field'>
        <%= target_form.label :username, I18n.t('txt.admin.views.targets.edit._url_target.Username'), :class => 'block' %>
        <%= target_form.text_field :username, :dir => 'auto' %>
      </div>

      <div class='form_field'>
        <%= target_form.label :password, I18n.t('txt.admin.views.targets.edit._url_target.Password'), :class => 'block' %>
        <%= target_form.password_field :password, :dir => 'auto' %>
      </div>
    </div>
  </div>
</fieldset>
