<div class='form_element'>
  <%= target_form.label :group_id, I18n.t('txt.admin.views.targets.edit._yammer_target.Group_ID') %>
  <div class='form_field'>
    <%= target_form.text_field :group_id %>
    <p>
      <%= I18n.t('txt.admin.views.targets.edit._yammer_target.Enter_a_group_ID_if') %>
    </p>
  </div>
</div>
<% if !@target.new_record? %>
  <div class='form_element'>
    <div class='form_field'>
      <a href="<%= reauthorize_url %>" target="_parent">
        <input type="button" class="button submit-icon positive" value="<%= I18n.t('txt.admin.views.targets.reauthorize.auth_yammer_target.connect_to_yammer') %>">
      </a>
    </div>
  </div>
<% end %>
